.alert {
  border: none;
  left: 0;
  height: $navbar-height;
  position: fixed;
  transition: opacity 1s ease-in-out;
  top: $navbar-height;
  text-align: center;
  width: 100%;
}

.showAlert {
  opacity: 1;
  z-index: 1000;
}

.hideAlert {
  opacity: 0;
  z-index: -1;
}