.alert {
  border: none;
  left: 0;
  position: fixed;
  bottom: 0;
  transition: opacity 1s ease-in-out;
  text-align: center;
  width: 100%;
}

.showAlert {
  opacity: 1;
  z-index: 2000;
}

.hideAlert {
  opacity: 0;
  z-index: -1;
}

@media screen and (min-width: 601px) {
  .alert {
    height: $navbar-height;
  }
}

@media screen and (max-width: 600px) {
  .alert {
    height: $navbar-height + 20;
  }
}
