.max-container {
  .content-section {
    .section-margin-top {
      padding: 5px 0 25px 0;
    }
  }
}

.announcement {
  .announcement-title {
    .announcement-title-text {
      margin-top: 11px;
      margin-bottom: 20px;
    }
  }

  .announcement-statistics-container {
    display: flex;
    justify-content: center;
  }

  .announcement-statistics {
    display: inline-block;

    .announcement-doughnut {
      height: 140px;
      width: 190px;

      .circle {
        stroke-width: 17px;
      }

      .doughnut-label {
        line-height: normal;

        .doughnut-label-count {
          font-size: $font-size-m;
        }

        .doughnut-label-text {
          font-family: $font-family;
          font-size: $font-size-xxs;
          letter-spacing: 0.08em;
        }
      }
    }

    .announcement-numbers {
      text-align: center;

      span::before {
        font-size: 17px;
      }
    }
  }

  .media-section {
    .container-fluid {
      margin-left: 0;
      margin-right: 0;
      padding-left: 0;
      padding-right: 0;

      .col-sm-12 {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }
}

.announcement-menu {
  h1 {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .md-only {
    display: none;
  }

  .nav-tabs.nav-justified {
    display: table;
    width: 100%;
    position: sticky;
    top: 60px;
    background-color: $white;
    z-index: 1000;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 10px;
    table-layout: fixed;

    & > li {
      display: table-cell;
      width: 100%;

      & > a {
        border-radius: 0;
        padding-top: 10px;
        padding-left: 0;
        padding-right: 0;
      }
    }
  }

  .tab-content {
    margin-top: 30px;
    overflow: hidden;
  }

  &.single-tab {
    .nav-tabs.nav-justified {
      & > li {
        & > a {
          text-align: left;
        }
      }
    }
  }
}

.announcement-text-only {
  font-family: $font-family4;
  letter-spacing: 1px;
  line-height: 36px;
  margin-bottom: 33px;
  font-size: $font-size-sm;
  text-align: left;
}

@media screen and (min-width: $screen-xxs-max) {
  .announcement-menu {
    margin-left: 55px;
    margin-right: 55px;
  }
}

@media screen and (max-width: $screen-sm-max) {
  .announcement {
    margin-left: 0;
    padding-right: 0;
    margin-right: 0;

    .announcement-title {
      .announcement-title-text {
        margin-top: 23px;
        font-size: $font-size-ml;
        font-family: $font-family4;
        letter-spacing: 1px;
        line-height: 36px;
        display: block;
        margin-left: $margin-section-tiny;
      }

      .title-hyphen {
        position: relative;
        left: -17px;
      }
    }

    .announcement-media {
      padding-left: 0;
      padding-right: 0;

      .media-section {
        padding-top: 0;
        padding-bottom: 0;

        .media-description-layer {
          margin-left: 0;
          margin-right: 0;
        }
      }
    }
  }

  .announcement-menu {
    h1 {
      margin-top: 20px;
      margin-bottom: 10px;
    }

    .tab-content {
      margin-top: 0;
    }

    .nav-tabs.nav-justified {
      & > li {
        & > a {
          padding-top: 0;
        }
      }
    }
  }
}

@media screen and (min-width: $screen-lg-min) {
  .announcement-menu {
    .md-only {
      display: inline;

      &::before {
        content: ' ';
      }
    }

    .nav-tabs.nav-justified {
      & > li {
        & > a {
          padding-top: 5px;
        }
      }
    }
  }

  .announcement {
    .announcement-text-only {
      font-size: $font-size-m;
    }

    .iframed {
      position: relative;
      width: 100%;
      height: 0;
      padding-bottom: 54%;

      iframe {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
      }
    }
  }
}
