.announcement {
  text-align: right;

  @media (max-width: 767px) {
    text-align: center;
  }

  .announcement-title {
    text-align: left;
  }

  .announcement-statistics {
    display: inline-block;
    text-align: center;

    .announcement-doughnut {
      width: 150px;
      height: 150px;

      .superpose-label {
        top: calc(50% - 1.7em);

        .doughnut-label-count {
          font-size: $font-size-m;
        }

        .doughnut-label-text {
          font-family: latoRegular;
          font-size: $font-size-xs;
          letter-spacing: 0.08em;
        }
      }
    }

    .announcement-numbers {
      font-size: 12px;
      margin-bottom: 15%;
      color: $first-color;

      span::before {
        font-size: 14px;
      }
    }
  }

  .announcement-video {

    .video-section {

      .col-sm-8 {
        margin-left: initial;
      }

      div {
        background-color: $grey0;
      }

      .video-title-section {
        display: none;
      }

      .content-section {
        padding-top: 1.5em;
        padding-bottom: 1.5em;
      }
    }
  }
}
