@import '../variables.scss';

.no-arrow-tooltip {
  .tooltip-arrow {
    display: none;
  }
}

.statistics-container{
  text-align: center;
  display: inline-block;
  width: 100%;
  height: 100%;

  .statistics {
    position: relative;
    width: 100%;
    height: 100%;

    svg {
      width: 100%;
      height: 100%;
    }

    .circle {
      stroke-width: 12px;
    }

    .superpose {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    .superpose-label {
      top: calc(50% - 1.5em);

      .doughnut-label-count {
        font-family: $font-family3;
        font-size: $font-size-sm;
        letter-spacing: initial;
      }

      .doughnut-label-text {
        font-family: $font-family4;
        font-size: $font-size-xxs;
        letter-spacing: initial;
      }
    }
  }
}

.announcement {
  text-align: right;
  @media (max-width: 991px) {
    text-align: center;
  }

  .announcement-left {
    .announcement-title {
      text-align: left;
    }

    .announcement-bottom {
      display: inline-block;
      text-align: center;

      .superpose-label {
        top: calc(50% - 1.7em);

        .doughnut-label-count {
          font-size: $font-size-m;
        }

        .doughnut-label-text {
          font-family: latoRegular;
          font-size: $font-size-xs;
          letter-spacing: 0.08em;
        }
      }
    }
  }

  .announcement-right {
    .col-sm-8 {
      margin-left: 0;
    }
  }

  .video-section {
    div {
      background-color: $grey0;
    }
    .video-title-section {
      display: none;
    }
  }
}
