.announcement {
  text-align: center;
  margin-left: 4.5%;
  margin-right: 4.5%;
  padding-right: 20%;
  padding-bottom: $margin-section-xxs;

  .announcement-title {
    .announcement-title-text {
      margin-top: 11px;
    }
    text-align: left;
  }

  .announcement-statistics {
    display: inline-block;
    text-align: center;
    margin-top: 37.33px;
    margin-bottom: 3em;
    position: relative;
    left: 7%;

    .announcement-doughnut {
      width: 140px;
      height: 140px;

      .circle {
        stroke-width: 17px;
      }

      .superpose-label {
        top: calc(50% - 1.5em);
        line-height: normal;

        .doughnut-label-count {
          font-size: $font-size-m;
        }

        .doughnut-label-text {
          font-family: latoRegular;
          font-size: $font-size-xxs;
          letter-spacing: 0.08em;
        }
      }
    }

    .announcement-numbers {
      font-size: 12px;
      margin-bottom: 15%;
      color: $first-color;
	    line-height: 26px;
      margin-top: 10px;

      span::before {
        font-size: 17px;
      }
    }
  }

  .media-section {
    padding-top: 11px;

    .container-fluid {
      margin-left: 0;
      margin-right: 0;
      padding-left: 0;
      padding-right: 0;

      .col-sm-12 {
        padding-left: 0;
        padding-right: 0;

        .media-right {
          padding-left: 0;
        }

        .media-description-top {
          margin-bottom: $margin-section-xxxxs;
        }
        .media-description-bottom {
          margin-top: $margin-section-xxxxs;
        }
      }
    }
  }
}

@media screen and (max-width: $screen-sm-max) {
  .announcement {
    margin-left: 0;
    padding-right: 0;
    margin-right: 0;

    .announcement-title {
      margin-bottom: $margin-section-tiny;

      .announcement-title-text {
        margin-top: 23px;
        font-size: $font-size-l;
        font-weight: 300;
        letter-spacing: 1px;
        line-height: 36px;
        display: block;
        margin-left: $margin-section-tiny;
      }

      .title-hyphen {
        position: relative;
        left: -17px;
      }
    }
    .announcement-statistics {
      margin-top: 0px;
      left: 0;
    }
    .announcement-media {
      padding-left: 0;
      padding-right: 0;

      .media-section {
        padding-top: 0;
        padding-bottom: 25px;

        .media-description-layer {
          margin-left: 17.5px;
          margin-right: 17.5px;
        }

        .media-right {

          .media-description-top {
            margin-bottom: 23px;
          }

          .media-description-bottom {
            margin-top: 23px;
          }
        }
      }
    }
  }
}
