.announcement {
  text-align: center;

  .announcement-title {
    .announcement-title-text {
      margin-top: 11px;
    }

    text-align: left;
  }

  .announcement-statistics {
    display: inline-block;

    .announcement-doughnut {
      width: 190px;
      height: 140px;

      .circle {
        stroke-width: 17px;
      }

      .doughnut-label {
        line-height: normal;

        .doughnut-label-count {
          font-size: $font-size-m;
        }

        .doughnut-label-text {
          font-family: $font-family;
          font-size: $font-size-xxs;
          letter-spacing: 0.08em;
        }
      }
    }

    .announcement-numbers {
      color: $first-color;

      span::before {
        font-size: 17px;
      }
    }
  }

  .media-section {
    .container-fluid {
      margin-left: 0;
      margin-right: 0;
      padding-left: 0;
      padding-right: 0;

      .col-sm-12 {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }
}

.announcement-menu {
  .md-only {
    display: none;
  }
}

@media screen and (max-width: $screen-sm-max) {
  .announcement {
    margin-left: 0;
    padding-right: 0;
    margin-right: 0;

    .announcement-title {
      margin-bottom: $margin-section-tiny;

      .announcement-title-text {
        margin-top: 23px;
        font-size: $font-size-ml;
        font-family: $font-family4;
        letter-spacing: 1px;
        line-height: 36px;
        display: block;
        margin-left: $margin-section-tiny;
      }

      .title-hyphen {
        position: relative;
        left: -17px;
      }
    }

    .announcement-media {
      padding-left: 0;
      padding-right: 0;

      .media-section {
        .media-description-layer {
          margin-left: 17px;
          margin-right: 17px;
        }
      }
    }
  }
}

@media screen and (min-width: $screen-lg-min) {
  .announcement-menu {
    .md-only {
      display: inline;

      &::before {
        content: ' ';
      }
    }
  }
}
