.avatar {
  margin: 1px 15px 0 10px;

  a {
    &:hover {
      text-decoration: none;
    }
  }

  .username {
    font-size: 11px;
    line-height: 23px;
    padding: 0 5px 0 0;
    vertical-align: top;
  }

  .connection {
    font-family: $font-family2;
    font-size: $font-size-xs;
    margin: 1px 0;
  }
}
