.bright-mirror-fiction {
  .back-btn {
    display: block;
    margin: 0 15px 15px 15px;
    width: 28px;
  }

  @media screen and (min-width: $screen-sm-min) {
    .back-btn {
      margin: 0 15px 25px;
      width: 165px;
    }
  }

  @media screen and (min-width: $screen-xl-min) {
    .back-btn {
      margin-bottom: 60px;
    }
  }
}
