.box {
  background-color: $box-bkg;
  border: $box-border;
  border-radius: $radius;
  box-shadow: $box-shadow;
  padding: 15px 20px 20px;
}

.box-title {
  background-color: $box-title-bkg;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: $box-shadow;
  color: $box-title-txt;
  font-size: $title3-size;
  font-weight: 700;
  padding: 15px;
  text-align: center;
}
