.box {
  background-color: $box-bkg;
  border: $box-border;
  border-radius: 3px;
  box-shadow: $box-shadow;
  padding: 15px 20px 20px;
}

.box-title {
  background-color: $box-title-bkg;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: $box-shadow;
  color: $box-title-txt;
  font-size: $title3-size;
  font-weight: 700;
  padding: 15px;
  text-align: center;
}

.insert-box {
  background-color: $box-bkg;
  height: 185px;
  padding: 0 20px;
  position: absolute;
  right: 0;
  text-align: left;
  top: 80px;
  width: 250px;

  .hyphen {
    border-top: $border-title;
    font-size: $font-size-xxxs;
    margin: 15px 0 2px -45px;
    width: 50px;
  }
}
