.button-link {
  border-radius: $btn-radius;
  display: inline-block;
  font-family: $font-family2;
  font-size: $font-size-xs;
  letter-spacing: $button-letter-spacing;
  padding: 10px 50px;
  text-align: center;
  text-decoration: none;
  text-transform: $btn-text-transform;

  &:active {
    text-decoration: none;
  }

  &:hover {
    text-decoration: none;
  }

  &:focus {
    outline: none;
  }

  &:visited {
    text-decoration: none;
  }
}

.button-submit {
  border-radius: $btn-radius;
  font-family: $font-family2;
  font-size: $font-size-xs;
  letter-spacing: $button-letter-spacing;
  padding: 10px 50px;
  text-align: center;
  text-transform: $btn-text-transform;

  &:focus {
    outline: none;
  }

  &:active {
    box-shadow: none;

    &:focus {
      background-color: $white;
      box-shadow: none;
      outline: none;
    }
  }
}

.button-cancel {
  border-radius: $btn-radius;
  font-family: $font-family2;
  font-size: $font-size-xs;
  letter-spacing: $button-letter-spacing;
  padding: 10px 50px;
  text-align: center;
  text-transform: $btn-text-transform;
}

.button-light {
  background: $btn-light-bkg;
  border: $btn-light-border;
  color: $btn-light-txt;

  &:active {
    background: $btn-light-bkg;
    border: $btn-light-border;
    color: $btn-light-txt;
  }

  &:hover {
    background: $btn-light-bkg;
    border: $btn-light-border;
    color: $btn-light-txt;
  }

  &:focus {
    background: $btn-light-bkg;
    border: $btn-light-border;
    color: $btn-light-txt;
  }

  &:visited {
    background: $btn-light-bkg;
    border: $btn-light-border;
    color: $btn-light-txt;
  }
}

.button-dark {
  background: $btn-dark-bkg;
  border: $btn-dark-border;
  color: $btn-dark-txt;

  &:active {
    background: $btn-dark-bkg;
    border: $btn-dark-border;
    color: $btn-dark-txt;
  }

  &:hover {
    background: $btn-dark-bkg;
    border: $btn-dark-border;
    color: $btn-dark-txt;
  }

  &:focus {
    background: $btn-dark-bkg;
    border: $btn-dark-border;
    color: $btn-dark-txt;
  }

  &:visited {
    background: $btn-dark-bkg;
    border: $btn-dark-border;
    color: $btn-dark-txt;
  }

  &:active {
    &:focus {
      border: $btn-dark-border;
    }
  }
}
