.button-link {
  border-radius: $btn-radius;
  display: inline-block;
  font-size: $font-size-xs;
  letter-spacing: 1px;
  padding: 10px 50px;
  text-align: center;
  text-decoration: none;
  text-transform: $btn-text-transform;

  &:active {
    text-decoration: none;
  }

  &:hover {
    text-decoration: none;
  }

  &:focus {
    outline: none;
  }

  &:visited {
    text-decoration: none;
  }
}

.button-submit {
  border-radius: $btn-radius;
  font-size: $font-size-xs;
  letter-spacing: 1px;
  padding: 10px 50px;
  text-align: center;
  text-transform: $btn-text-transform;

  &:focus {
    outline: none;
  }
}

.button-cancel {
  border-radius: $btn-radius;
  font-size: $font-size-xs;
  letter-spacing: 1px;
  padding: 10px 50px;
  text-align: center;
  text-transform: $btn-text-transform;
}

.button-light {
  background: $btn-light-bkg;
  border: $btn-light-border;
  color: $btn-light-txt;

  &:active {
    background: $btn-light-bkg;
    border: $btn-light-border;
    color: $btn-light-txt;
  }

  &:hover {
    background: $btn-light-bkg;
    border: $btn-light-border;
    color: $btn-light-txt;
  }

  &:focus {
    background: $btn-light-bkg;
    border: $btn-light-border;
    color: $btn-light-txt;
  }

  &:visited {
    background: $btn-light-bkg;
    border: $btn-light-border;
    color: $btn-light-txt;
  }
}

.button-dark {
  background: $btn-dark-bkg;
  border: $btn-dark-border;
  color: $btn-dark-txt;

  &:active {
    background: $btn-dark-bkg;
    border: $btn-dark-border;
    color: $btn-dark-txt;
  }

  &:hover {
    background: $btn-dark-bkg;
    border: $btn-dark-border;
    color: $btn-dark-txt;
  }

  &:focus {
    background: $btn-dark-bkg;
    border: $btn-dark-border;
    color: $btn-dark-txt;
  }

  &:visited {
    background: $btn-dark-bkg;
    border: $btn-dark-border;
    color: $btn-dark-txt;
  }
}

@media screen and (max-width: 420px) {
  .button-link {
    padding: 10px 30px;
    width: 100%;
  }

  .button-submit {
    padding: 10px 30px;
    width: 100%;
  }

  .button-cancel {
    padding: 10px 30px;
    width: 100%;
  }
}

