/* Begin Code specific to the button hover animation (horizontal fill of background and inversion of text color) */

@mixin button-with-hover-animation($text-color, $border-color, $hover-background-color: $border-color, $background-color: initial) {
  position: relative; /* so that on hover, background animation can fill the button instead of its parent */
  background-color: $background-color;
  border-color: $border-color;
  color: $text-color;
  z-index: 0;
  transition: color 0.2s ease-in;

  &:hover, &:focus, &:active, &:focus:active, &:active:hover, &[disabled]:hover {
    color: #fff; /* opposite of current non-hover color */
    border-color: $border-color;
    background-color: $background-color;
    text-decoration: none;
  }

  &:before {
    content: "";
    position: absolute;
    background: $hover-background-color;
    bottom: 0;
    left: 0;
    right: 100%;
    top: 0;
    z-index: -1;
    transition: right 0.2s ease-in;
  }

  &:hover:before, &:focus:before, &:active:before, &:focus:active:before {
    right: 0;
  }
}

/* End Code specific to the button hover animation (horizontal fill of background and inversion of text color) */

.button-link {
  @include button-with-hover-animation($btn-light-txt, $btn-light-border-color);

  @extend .button-generic;

  display: inline-block;
  padding: 10px 50px;
}

.button-submit {
  @extend .button-generic;

  padding: 11px 24px;

  &:active {
    box-shadow: none;

    &:focus {
      background-color: $white;
      box-shadow: none;
    }
  }
}

.button-cancel {
  @extend .button-generic;

  padding: 11px 24px;
}

.button-light {
  @include button-with-hover-animation($btn-light-txt, $btn-light-border-color);

  background: $btn-light-bkg;
  border-width: $btn-light-border-width;
  border-style: $btn-light-border-style;
}

.button-dark {
  @include button-with-hover-animation($btn-dark-txt, $btn-dark-border-color);

  background: $btn-dark-bkg;
  border-width: $btn-dark-border-width;
  border-style: $btn-dark-border-style;
}

.button-generic {
  border-radius: $btn-radius;
  font-family: $font-family2;
  font-size: $font-size-xs;
  letter-spacing: $button-letter-spacing;
  text-align: center;
  text-transform: $btn-text-transform;
  text-decoration: none;

  &:active, &:hover, &:focus, &:visited {
    text-decoration: none;
    outline: none;
  }

  &[disabled] {
    box-shadow: unset;
    opacity: inherit;
  }
}
