.cookies-selector {
  .cookies-category-selector {
    cursor: pointer;
  }

  .active-arrow {
    transform: rotateX(90deg);
  }

  .dark-title-4 {
    font-size: $font-size-sm;
  }

  .cookie-title {
    margin-left: 20px;
  }

  .cookies-toggles {
    margin: 10px 0;
  }

  .cookie-toggle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60%;
    margin: 5px;

    .rsbc-switch-button {
      margin-top: 6px;
    }
  }
}
