.cookies-selector {
  .cookies-category-selector {
    cursor: pointer;
  }

  .active-arrow {
    transform: rotateX(90deg);
  }

  .dark-title-4 {
    font-size: $font-size-sm;
  }

  .cookie-title {
    margin-left: 20px;
  }
}
