.cookies-selector {
  margin-top: 30px;

  .submit-button-container {
    width: 468px;
    margin: 0 auto;
  }

  .cookies-category-selector {
    cursor: pointer;
  }

  .active-arrow {
    transform: rotateX(90deg);
  }

  .dark-title-4 {
    font-size: $font-size-sm;
  }

  .cookie-title {
    margin-left: 20px;
  }

  .cookies-toggles {
    margin: 10px 0;
  }

  .button-submit {
    margin-top: 20px;
  }

  .cookies-instructions {
    font-family: $font-family4;
    font-size: $font-size-sm;
  }

  .cookie-toggle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5px;

    .cookie-title {
      width: 50%;
    }

    .rsbc-switch-button {
      margin-top: 6px;
      width: 100%;
    }
  }

  .dark-title-2 {
    margin: 30px 0;
  }

  .cookies-categories {
    margin: 25px 0;
  }
}
