.date-range-picker {
  margin-top: 10px;

  .DateInput_input__small {
    font-size: $font-size-sm;
  }

  .DateInput__small {
    width: 156px;
  }

  .DateInput_input,
  .DateInput_input__focused {
    text-align: center;
  }

  .dropdown {
    width: 100%;

    span {
      font-size: $font-size-sm;
    }

    #presets-dropdown {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: $font-size-sm;
      border-top-style: solid;
      border-top-width: 2px;
    }

    .dropdown-menu {
      width: 100%;
      border-style: solid;
      border-width: 1px;
      border-top: none;
      border-radius: 0;
    }
  }

  .DateRangePickerInput__withBorder {
    border-style: solid;
    border-width: 2px;
  }

  .CalendarDay__selected {
    border: none;
  }

  .CalendarDay__selected_span,
  .CalendarDay__hovered_span {
    border: none;
    color: $white;
  }

  .DateRangePicker_picker {
    border-style: double;
    border-width: 2px;
  }

  .DateInput_fang {
    display: none;
  }
}

.DateRangePickerInput__withBorder {
  width: 323px;
}
