.date-picker-field > div {
  display: inline-block;
  margin: 20px 0 0 10px;

  input[type="text"] {
    box-shadow: none;
    width: 200px;
    height: 34px;
    font-size: $font-size-xxs;
    font-family: $font-family4;
    padding-left: 10px;
  }
}

.date-picker-field {
  span {
    font-size: $font-size-xs;
  }

  display: flex;
  justify-content: center;
  align-items: center;

  .datepicker-label {
    display: flex;
    justify-content: center;
    align-items: center;

    input {
      margin: 20px 0 0;
    }
  }

  .assembl-icon-schedule {
    font-size: 20px;
    cursor: pointer;
  }

  margin: 0 0 30px;
}
