.dropdown-xs {
  display: inline-block;
  font-family: $font-family2;
  font-size: $font-size-s;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  vertical-align: text-bottom;

  .dropdown-toggle {
    color: $first-color;
    font-size: $font-size-xs;

    &:hover {
      color: $first-color;
      text-decoration: none;
    }

    &:focus {
      color: $first-color;
      text-decoration: none;
    }
  }

  .dropdown-menu {
    min-width: 60px;

    a {
      color: $first-color;
      font-size: $font-size-xs;

      &:focus {
        font-family: $font-family3;
        outline: none;
      }
    }

    .caret {
      color: $first-color;
    }
  }
}

.dropdown-xl {
  font-size: $font-size-xs;
  list-style-type: none;
  text-transform: uppercase;

  .dropdown-toggle {
    color: $first-color;
    font-size: $font-size-xs;
    text-transform: uppercase;

    &:hover {
      color: $first-color;
      text-decoration: none;
    }

    &:focus {
      color: $first-color;
      text-decoration: none;
    }
  }

  .dropdown {
    background-color: $white;
    height: 30px;
    left: 0;
    position: absolute;
    width: 100%;
  }

  li {
    a {
      width: 100%;

      &:hover {
        background-color: $white;
      }
    }

    &:not(:last-child) {
      a {
        border: 0;
      }
    }
  }

  a {
    &:hover {
      text-decoration: none;
    }

    &:focus {
      outline: none;
      text-decoration: none;
    }
  }

  .dropdown-menu {
    border: 0;
    box-shadow: none;
    margin: 0;
    text-align: center;
    width: 100%;

    li {
      outline: none;

      a {
        color: $first-color;
        font-size: $font-size-xs;
        margin: 0 0 10px -6px;
        outline: none;
      }
    }
  }
}
