.dropdown-xs {
  font-size: $font-size-xs;
  margin: 0 0 0 12px;
  padding: 4px 0 0;
  width: 30px;

  .dropdown-toggle {
    color: $black;
    font-size: $font-size-xs;
    text-transform: uppercase;

    &:hover {
      color: $black;
      text-decoration: none;
    }

    &:focus {
      color: $black;
      text-decoration: none;
    }
  }

  .dropdown-menu {
    min-width: 60px;

    a {
      font-size: $font-size-xs;
      text-transform: uppercase;
    }
  }
}
