.admin-export-section {
  input[type='radio'] {
    margin: 1px 0 0 -20px;
  }

  input[type='checkbox'] {
    margin: 2px 0 0 -20px;
  }

  &.admin-box {
    .admin-content {
      text-align: left !important;
    }
  }

  .disabled {
    cursor: progress;
  }

  .export-language-dropdown {
    margin-top: 5px;
  }

  .export-options {
    display: flex;

    .export-date {
      margin-left: 100px;

      .datepicker-with-presets {
        margin-top: 12px;
      }
    }
  }
}
