.bright-mirror-fiction {
  .post-body-title {
    color: $black;
    font-size: $font-size-ml;
    letter-spacing: 2.4px;
    font-family: $font-family;
    margin-bottom: 20px;
  }

  .post-body-content {
    color: $black;
    line-height: 1.7;
    letter-spacing: 0.9px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    hyphens: none;

    .attachment-image {
      margin-bottom: 20px;
      margin-top: 15px;
    }
  }

  .active-extract,
  .selection-highlight {
    background-color: $theme-local-blue-opacity;
  }

  @media screen and (min-width: $screen-sm-min) {
    .post-body-title {
      font-size: $font-size-xll;
      letter-spacing: 2.4px;
      margin-bottom: 30px;
    }

    .post-body-content {
      font-size: $font-size-m;
      letter-spacing: 1.1px;

      .attachment-image {
        margin-bottom: 35px;
        margin-top: 35px;
      }
    }
  }

  @media screen and (min-width: $screen-xl-min) {
    .post-body-content {
      .attachment-image {
        margin-bottom: 25px;
        margin-top: 45px;
      }
    }
  }
}
