.comment-form {
  border-radius: 4px;
  border-style: solid;
  border-width: 2px;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 25px;

  .form-control {
    border: none;
    height: 125px;
    resize: none !important; // Set it to !important because TextareaAutosize force horizontal resize

    &::placeholder {
      font-size: $font-size-m;
    }

    &:focus {
      box-shadow: none;
    }
  }

  .comment-textarea {
    flex-grow: 20; // flex-grow for textarea-with-buttons-container flex display
    margin: 0;
  }

  .comment-buttons {
    display: flex;
    flex-grow: 1; // flex-grow for textarea-with-buttons-container flex display
  }

  .btn {
    border-color: transparent;
    flex-basis: 100px;
    flex-grow: 1; // flex-grow for comment-buttons flex display

    &.cancel {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    &.submit {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
}

@media screen and (min-width: $screen-sm-min) {
  .comment-form {
    margin-bottom: 50px;

    .form-control {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      height: 75px;
    }

    .btn {
      &.cancel {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
    }
  }
}

.tree-list {
  .comment-form {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 1440px) {
  .tree-list {
    padding-bottom: 25px;
  }
}
