.fiction-preview {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom: solid 3px $theme-local-blue;
  box-shadow: 0 2px 3px 0 $grey;
  width: 149px;
  height: 200px;
  margin: 4px;
  transition: all 0.3s ease-out;

  &.draft {
    background-color: $white !important;
    border-color: $theme-local-blue;
    border-style: solid;
    border-width: 1px 1px 3px 1px;

    .actions {
      li {
        background-color: $light-grey;
      }
    }

    h3,
    p,
    .author,
    .published-date {
      color: $black;
    }
  }

  &:hover {
    transform: scale($card-popin);
  }

  h3,
  p,
  .author,
  .published-date {
    color: $white;
    letter-spacing: normal;
    line-height: 1.19;
    text-align: left;
    text-transform: capitalize;
  }

  h3,
  .author {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  h3 {
    font-size: $font-size-sm;
    margin-bottom: 17px;
    width: 130px;
  }

  .draft-label {
    position: absolute;
    top: 70px;
    left: 0;
    right: 0;
    width: 60%;
    margin: 0 auto;
    padding: 5px 0;
    border-style: solid;
    border-width: 1px;
    text-align: center;
    font-size: $font-size-sm;
    font-style: italic;
    letter-spacing: normal;
    line-height: 1.19;
  }

  .actions {
    position: absolute;
    top: 0;
    right: 0;
    list-style: none;
    padding: 0;
    margin: 6px 6px 12px auto;

    li {
      width: 30px;
      height: 30px;
      background-color: $white;
      border-radius: 50%;
      margin-bottom: 8px;
      display: flex;
      align-items: center;
      justify-content: center;

      .assembl-icon-share:before {
        font-size: $font-size-s;
      }

      a {
        display: block;
        width: 100%;
        height: 100%;
        font-size: 9px;
        color: $black;
      }

      .edit {
        svg {
          margin-top: 6px;
        }
      }
    }
  }

  .content-box {
    display: block;
    text-align: center;
    cursor: pointer;
    height: 100%;
    width: 100%;
    position: relative;

    .link {
      display: block;
      width: 100%;
      height: 100%;
    }

    .inner-box {
      position: absolute;
      bottom: 0;
      padding: 0 8px;

      .info {
        align-items: center;
        display: flex;
        margin-bottom: 12px;

        .author {
          font-size: $font-size-xxs;
          line-height: 12px;
          padding-right: 3px;
          max-width: 70px;
        }

        .published-date {
          font-family: $font-family4;
          font-size: $font-size-xxs;
          font-weight: 300;
        }
      }
    }
  }

  @media (min-width: $screen-xxs-max) {
    margin: 13px;
    width: 200px;
    height: 268px;

    h3 {
      width: 170px;
    }

    .draft-label {
      width: 45%;
      top: 100px;
    }

    .content-box {
      .inner-box {
        .info {
          .author {
            max-width: 120px;
          }
        }
      }
    }
  }

  @media (min-width: $screen-sm-min) {
    border-bottom: solid 3px $theme-local-blue;
    width: 336px;
    height: 456px;

    h3 {
      font-size: $font-size-ml;
      width: 300px;
    }

    .draft-label {
      width: 42%;
      top: 180px;
      font-size: $font-size-ml;
    }

    .actions {
      margin-top: 20px;
      margin-right: 18px;

      li {
        width: 36px;
        height: 36px;
        margin-bottom: 14px;

        a {
          font-size: 17px;
        }
      }
    }

    .content-box {
      .inner-box {
        padding: 0 17px;

        .info {
          margin-bottom: 36px;

          .author {
            font-size: $font-size-xs;
            max-width: 230px;
          }

          .published-date {
            font-size: $font-size-xxs;
          }
        }
      }
    }
  }

  @media (min-width: $screen-md-min) {
    width: 368px;
    height: 499px;
    border-bottom: solid 3px $theme-local-blue;

    h3 {
      font-size: $font-size-ml;
      margin-bottom: 20px;
      width: 320px;
    }

    .actions {
      margin-top: 22px;
      margin-right: 20px;

      li {
        width: 39px;
        height: 39px;
        margin-bottom: 14px;

        a {
          font-size: 18px;
        }
      }
    }

    .content-box {
      .inner-box {
        padding: 0 19px;

        .info {
          margin-bottom: 41px;

          .author {
            max-width: 260px;
          }
        }
      }
    }
  }
}
