.side-comment-badge {
  z-index: 0;

  .badge-total {
    left: -2px;

    &.wide {
      left: -4px;
      width: 22px;
    }
  }

  .side-comment-button {
    margin-top: 5px;

    .assembl-icon-suggest {
      color: $first-color;

      &:before {
        font-size: 23px;
      }
    }
  }

  @media screen and (min-width: $screen-xl-min) {
    margin-left: 25px;

    .side-comment-button {
      margin-top: 2px;

      .assembl-icon-suggest {
        &:before {
          font-size: 28px;
        }
      }
    }
  }
}
