.fiction-title {
  color: $black;
  font-size: $font-size-ml;
  letter-spacing: 0.5px;
}

.fiction-content {
  color: $black;
  line-height: 1.7;
  letter-spacing: 0.9px;
}

.fiction-image {
  display: block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 162px;
  margin-bottom: 30px;
  margin-top: 25px;
  width: 100%;
}

@media screen and (min-width: $screen-sm-min) {
  .fiction-title {
    font-size: $font-size-xll;
    letter-spacing: 2.4px;
  }

  .fiction-content {
    font-size: $font-size-mll;
    letter-spacing: 1.1px;
  }

  .fiction-image {
    height: 323px;
    margin-bottom: 45px;
    margin-top: 45px;
  }
}

@media screen and (min-width: $screen-xl-min) {
  .fiction-image {
    height: 350px;
    margin-bottom: 35px;
    margin-top: 55px;
  }
}
