.action-buttons {
  // Inline render of action buttons
  .custom-overlay {
    display: inline-block;

    div {
      display: inline-block;
    }
  }

  margin-bottom: 20px;
  text-align: right;

  .edit,
  .delete,
  .share {
    color: $black;
    font-size: $fiction-toolbar-icon-size;
    padding-left: 10px;
    background: none;
    border: none;

    .assembl-icon-share::before {
      margin-left: 0;
      margin-right: 0;
      font-size: $font-size-m;
    }

    &:hover,
    &:focus,
    &:active {
      background: none;
      border: none;
      outline: none;
      box-shadow: none;
    }
  }

  .edit,
  .delete {
    padding-right: 10px;
  }
}

@media screen and (min-width: $screen-sm-min) {
  .action-buttons {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: $screen-xl-min) {
  .action-buttons {
    margin-bottom: 35px;

    .edit,
    .delete,
    .share {
      cursor: pointer;
      display: inline-block;
      transition: all 0.2s ease-in-out;

      &:hover {
        transform: scale(1.2);
      }
    }
  }
}
