.fiction-edit-modal {
  .modal-dialog {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }

  .modal-content {
    height: auto;
    min-height: 100%;
    border-radius: 0;
  }

  .fiction-edit-modal-inner {
    height: 100%;
    padding: 40px;

    .assembl-icon-back-arrow {
      padding-left: 10px;

      &:before {
        font-size: $font-size-s;
      }
    }

    .answer-form-inner {
      margin: 13px;

      .editor-label {
        padding-top: 16px;
      }
    }

    .button-container {
      width: 100%;
      margin: 10px 0 0;

      .button-cancel {
        width: 100%;
      }

      .button-submit {
        width: 100%;
      }
    }

    .btn {
      margin: 3px 0 8px;
    }

    .btn-draft {
      margin-right: 20px;
    }

    .rich-text-editor .public-DraftEditor-content {
      height: 300px;
    }

    @media screen and (min-width: $screen-sm-min) {
      .button-container {
        display: flex;
        justify-content: space-between;

        .button-cancel {
          width: initial;
        }

        .button-submit {
          width: initial;
        }
      }

      .rich-text-editor .public-DraftEditor-content {
        height: 400px;
      }
    }

    @media screen and (min-width: $screen-xl-min) {
      .rich-text-editor .public-DraftEditor-content {
        height: 600px;
      }
    }
  }
}

@media screen and (min-width: $screen-md-max) {
  .fiction-edit-modal {
    width: 70%;
    height: 750px;
    overflow: hidden;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

@media screen and (min-width: $screen-xl-min) {
  .fiction-edit-modal {
    height: 950px;
  }
}
