.action-buttons {
  // Inline render of action buttons
  .custom-overlay {
    display: inline-block;

    div {
      display: inline-block;
    }
  }

  margin-bottom: 55px;
  text-align: right;

  .edit,
  .delete,
  .share {
    color: $black;
    font-size: $fiction-toolbar-icon-size;
    padding-left: 10px;
    background: none;
    border: none;

    &:hover, &:focus, &:active {
      background: none;
      border: none;
      outline: none;
      box-shadow: none;
    }
  }
}

@media screen and (min-width: $screen-sm-min) {
  .action-buttons {
    margin-bottom: 65px;
  }
}

@media screen and (min-width: $screen-xl-min) {
  .action-buttons {
    .edit,
    .delete,
    .share {
      cursor: pointer;
      display: inline-block;
      transition: all 0.2s ease-in-out;

      &:hover {
        transform: scale(1.2);
      }
    }
  }

  .action-buttons {
    margin-bottom: 75px;
  }
}
