.side-comment-badge {
  z-index: 0;

  .badge-total {
    left: -2px;
    width: 17px;
    height: 17px;
    font-size: 12px;
    padding-left: 5px;

    &.wide {
      left: -5px;
      width: 24px;
      padding-left: 4px;
    }
  }

  .side-comment-button {
    margin-top: 5px;

    .assembl-icon-suggest {
      &:before {
        font-size: 23px;
      }
    }
  }

  @media screen and (min-width: $screen-lg-min) {
    .side-comment-button {
      .assembl-icon-suggest {
        &:before {
          font-size: 28px;
        }
      }
    }
  }

  @media screen and (min-width: $screen-xl-min) {
    margin-left: 25px;

    .side-comment-button {
      margin-top: 2px;
    }

    .badge-total {
      &.wide {
        width: 25px;
        padding-left: 5px;
      }
    }
  }
}
