.comment-container {
  display: flex;

  .circle-avatar {
    height: 30px;
    width: 30px;
  }

  .content {
    color: $black;
    font-size: $font-size-xs;
    padding-left: 10px;

    .meta {
      display: flex;

      p {
        margin-bottom: 5px;
      }

      .published-date {
        font-size: $font-size-xxs;
        font-weight: 300;
        line-height: 1.91;
      }
    }

    .comment {
      background-color: #cef1ff;
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
      border-bottom-left-radius: 4px;
      letter-spacing: 1px;
      line-height: 1.62;
      margin-bottom: 7px;
      padding: 11px 15px;
    }

    .toolbar {
      display: flex;

      .assembl-icon-up-open,
      .assembl-icon-down-open {
        color: $black;
        font-size: $font-size-xxxs;
        padding-left: 7px;
      }

      .assembl-icon-back-arrow {
        color: $black;
        font-size: $font-size-s;
        padding-left: 17px;
      }
    }
  }
}
