.bright-mirror-comments {
  .no-row {
    padding-bottom: 80px;
  }

  .post-folded {
    cursor: pointer;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}
