.header {
  align-items: center;
  display: flex;
  margin: 0 auto 10px auto;

  .meta {
    color: $black;
    font-size: $font-size-xxs;
    padding-left: 15px;
    flex-grow: 1;
  }

  .author {
    margin-bottom: 4px;
  }

  .date-time {
    font-size: $font-size-xxxs;
    margin-bottom: 0;
  }
}

hr {
  margin-top: 10px;
  margin-bottom: 60px;
  border-top-color: $greyish-brown;
}

@media screen and (min-width: $screen-sm-min) {
  .header {
    align-items: flex-start;
    flex-direction: column;

    .meta {
      font-size: $font-size-sm;
      padding-left: 0;
      padding-top: 10px;
    }

    .author {
      margin-bottom: 7px;
    }

    .date-time {
      font-size: $font-size-xs;
    }
  }

  hr {
    margin-top: 12px;
  }
}
