.footer {
  color: $white;
  font-family: $font-family4;
  padding: 30px 0 0;
  position: relative;
  text-align: center;

  .terms {
    position: absolute;
    width: 100%;
  }

  .copyright {
    bottom: 10px;
    font-size: $font-size-xxs;
    position: absolute;
  }

  a {
    color: $footer-link-text-color;
    font-size: $font-size-xxs;
    text-decoration: none;

    &:hover {
      color: $white;
      text-decoration: none;
    }
  }
}

@media screen and (min-width: 768px) {
  .footer {
    .terms {
      bottom: 10px;
    }

    .social-medias {
      img {
        margin: 10px 20px 80px;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .footer {
    .terms {
      bottom: 25px;
      margin: 0 0 5px;
    }

    .copyright {
      font-size: $font-size-xxs;
      width: 100%;
    }

    .social-medias {
      img {
        margin: 0 20px 100px;
      }
    }
  }
}
