.footer {
  color: $white;
  padding: 30px 0 0;
  position: relative;
  text-align: center;

  .terms {
    position: absolute;
    width: 100%;
  }

  .copyright {
    bottom: 10px;
    font-size: $font-size-xs;
    position: absolute;
  }

  a {
    color: $white;
    font-size: $font-size-xs;
    text-decoration: none;
  }

  .social-medias {
    img {
      height: 30px;
      width: 30px;
    }
  }
}

@media screen and (min-width: 768px) {
  .footer {
    .terms {
      bottom: 10px;
    }

    .social-medias {
      img {
        margin: 10px 20px 80px;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .footer {
    .terms {
      bottom: 25px;
    }

    .copyright {
      font-size: $font-size-xxs;
      width: 100%;
    }

    .social-medias {
      img {
        margin: 0 20px 100px;
      }
    }
  }
}
