.footer {
  color: $white;
  font-family: $font-family4;
  padding: 30px 0 0;
  position: relative;
  text-align: center;

  .footer-links {
    width: 100%;

    .terms {
      display: flex;
      justify-content: center;
      padding-bottom: 10px;
    }
  }

  .copyright, .assembl-version {
    bottom: 10px;
    font-size: $font-size-xxs;
    position: absolute;
  }

  .assembl-version {
    right: 0;
  }

  a {
    color: $footer-link-text-color;
    font-size: $font-size-xxs;
    text-decoration: none;

    &:hover {
      color: $white;
      text-decoration: none;
    }
  }
}

@media screen and (min-width: 768px) {
  .footer {
    .social-medias {
      i:before {
        font-size: 30px;
        margin: 10px 20px 80px;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .footer {
    .copyright {
      font-size: $font-size-xxs;
    }

    .social-medias {
      img {
        margin: 0 20px 100px;
      }

      min-height: 85px;
    }
  }
}
