.rc-slider-handle.no-value {
  // the no-value handle is calculated at -11% for number gauge, fix it
  left: 0% !important;
}

.gauge-no-value .rc-slider-mark-text-active {
  // this to fix issue with first marker being marked as active for null value
  font-weight: normal !important;
  color: $grey !important;
}

.gauge-vote-for-proposal,
.number-gauge-vote-for-proposal {
  p {
    margin-top: 35px;
  }

  .gauge-container {
    display: flex;
    align-items: center;

    .assembl-icon-delete {
      margin: 0 0 21px 30px;
      cursor: pointer;
    }

    width: 100%;
    padding: 0 10px 0 10px;

    p {
      margin-bottom: 30px;
      margin-left: -10px;
    }

    .rc-slider-disabled {
      background-color: inherit;

      span {
        color: grey;
      }
    }

    .rc-slider {
      height: 55px;
      margin-top: 20px;

      .rc-slider-dot {
        /* rc-slider dotStyle prop mysteriously does not work anymore */
        background-color: #e6e5f4;
        height: 12px;
        top: 0;
        width: 2px;
        border: none;
        border-radius: initial;
        margin-left: 0;
      }

      .rc-slider-dot:first-child,
      .rc-slider-dot:last-child {
        display: none;
      }

      .rc-slider-mark-text {
        margin-top: 7px;
        color: $grey;

        .nowrap {
          white-space: nowrap;
        }

        &.rc-slider-mark-text-active {
          font-weight: bold;
        }
      }

      .rc-slider-handle.no-value {
        svg.pointer {
          fill: $grey;
        }
      }
    }
  }
}

@media screen and (max-width: $screen-md-min) {
  .proposal-vote-modules {
    padding-left: 0;
    padding-right: 0;
  }

  .gauge-vote-for-proposal {
    .gauge-container {
      flex-direction: column;
      padding: 0;
    }
  }
}
