.go-up, .posts-filter-button {
  right: 20px;

  div {
    font-size: 11px;
    text-align: center;
  }
}

.go-up {
  z-index: 99;
  position: fixed;
  bottom: 20px;

  a {
    text-align: left;
    border-radius: 50%;
    padding: 8px 0 0 8px;
    width: 35px;
    height: 35px;
    display: inline-block;
    cursor: pointer;

    &:hover {
      color: white;
    }

    .assembl-icon-up-open::before {
      font-size: 9px;
    }
  }
}

.posts-filter-button {
  $post-filter-button-margin-top: 80px;

  z-index: 1;
  position: -webkit-sticky;
  position: sticky;
  float: right;
  margin-top: $post-filter-button-margin-top;

  .dropdown {
    z-index: 9;
  }

  ul {
    // FIXME: magic numbers
    width: 400px;
    max-width: 95vw;
  }
}

@media screen and (max-width: 1480px) {
  .go-up {
    display: none;
  }
}
