.left-side-harvesting-button {
  &:hover {
    .assembl-icon-catch:before {
      font-weight: bold;
    }

    .left-side-harvesting-button__label {
      visibility: visible;
    }

    .left-side-harvesting-button__button__inside {
      background-color: #ffed5b;
    }
  }

  .left-side-harvesting-button__label {
    position: absolute;
    left: -100px;
    top: 0;
    width: 100px;
    margin-top: 11px;
    padding-right: 9px;
    text-align: right;
    visibility: hidden;
    font-size: 12px;
    opacity: 0.55;
    font-weight: bold;
    letter-spacing: 0.1em;
  }

  .left-side-harvesting-button__button {
    background: white;
    border: 1px solid #ccc;
    border-radius: 50%;
    width: 44px;
    height: 44px;
    box-shadow: 2px 2px 4px 0 #ccc;

    .left-side-harvesting-button__button__inside {
      text-align: center;
      margin: 4px;
      width: calc(100% - 8px);
      height: calc(100% - 8px);
      background-color: #fff7b5;
      border-radius: 50%;
      display: flex;
    }
  }
}

.confirm-harvest-button {
  text-align: center;
  padding: 2px 0 0 0;
  font-size: 20px;
}

.extracts.extracts--is-harvesting {
  left: 0;
  max-width: 355px;
  width: 20vw;
  line-height: initial;

  .extract {
    border-left: $border-theme;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-top: 1px solid #ddd;
    background-color: $white;

    .extract-txt {
      quotes: "«" "»";
      padding: 20px;

      &:before {
        content: open-quote;
        padding-right: 5px;
      }

      &:after {
        content: close-quote;
        padding-left: 5px;
      }
    }

    .extract-header {
      padding: 25px;
      border-bottom: 1px solid #ccc;

      .extract-harvester {
        display: flex;

        .extract-harvester-right {
          padding-left: 10px;
        }
      }
    }
  }
}

.app.harvesting-mode-on {
  .proposals, .posts .post-body--is-harvestable {
    /* FIXME: Factorizing these ::selection rules cancels effect on Firefox */
    .post-body-title {
      ::selection {
        background: #fff8c0;
      }

      ::-moz-selection {
        background: #fff8c0;
      }
    }

    .post-body-content::selection {
      background: #fff8c0;
    }

    .post-body-content::-moz-selection {
      background: #fff8c0;
    }
  }
}

.harvesting-box {
  position: absolute;
  box-shadow: 2px 2px 4px 0 $grey1;
  max-width: 400px;

  .harvesting-box-header {
    padding: 30px;
    border-bottom: 1px solid $grey1;
  }

  .profil {
    padding: 0 20px 0 0;
    font-size: $font-size-s;
    display: inline-block;

    .assembl-icon-profil {
      vertical-align: sub;

      &:before {
        font-size: 25px;
      }
    }
  }

  .button-bar {
    display: inline-block;

    .btn[disabled] {
      opacity: 1;

      &:hover {
        background-color: $white;
        border-color: $grey2;

        span {
          color: $grey2;
        }
      }
    }

    .btn-default {
      margin: 0 5px;
      border-radius: 8px;
      width: 30px;
      height: 30px;
      border-color: $grey2;

      span {
        color: $grey2;
      }

      &:hover {
        background-color: $white;
        border-color: $second-color;

        span {
          color: $second-color;
        }
      }

      &:focus {
        background-color: $white;
        border-color: $second-color;
        outline: none;

        span {
          color: $second-color;
        }
      }

      span {
        &:before {
          font-size: 15px;
          display: block;
          margin: 0 0 0 -5px;
        }
      }

      .assembl-icon-check {
        &:before {
          font-size: 18px;
        }
      }
    }
  }

  .harvesting-box-body {
    padding: 30px;
    font-size: $font-size-xs;
    color: $grey2;
  }

  .harvesting-box-footer {
    text-align: center;
    padding: 30px 0;
    background-color: $grey1;

    .btn-default {
      margin: 0 20px;
    }
  }
}
