.harvesting-anchor {
  position: absolute;
  z-index: 1000;
}

.harvesting-container {
  position: absolute;
  left: 0;
}

.left-side-harvesting-button {
  &:hover {
    .assembl-icon-catch:before {
      font-weight: bold;
    }

    .left-side-harvesting-button__label {
      visibility: visible;
    }

    .left-side-harvesting-button__button__inside {
      background-color: #ffed5b;
    }
  }

  .left-side-harvesting-button__label {
    position: absolute;
    left: -100px;
    top: 0;
    width: 100px;
    margin-top: 11px;
    padding-right: 9px;
    text-align: right;
    visibility: hidden;
    font-size: 12px;
    opacity: 0.55;
    font-weight: bold;
    letter-spacing: 0.1em;
  }

  .left-side-harvesting-button__button {
    background: white;
    border: 1px solid #ccc;
    border-radius: 50%;
    width: 44px;
    height: 44px;
    box-shadow: 2px 2px 4px 0 #ccc;
    cursor: pointer;

    .left-side-harvesting-button__button__inside {
      text-align: center;
      margin: 4px;
      width: calc(100% - 8px);
      height: calc(100% - 8px);
      background-color: #fff7b5;
      border-radius: 50%;
      display: flex;
    }
  }
}

.confirm-harvest-button {
  text-align: center;
  padding: 1px 0 0 6px;
  font-size: 20px;

  &:before {
    margin-right: 2px;
    font-size: $font-size-sm;
  }
}

.extracts.extracts--is-harvesting {
  left: 0;
  max-width: 355px;
  width: 20vw;
  line-height: initial;

  .extract {
    border-left: $border-theme;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-top: 1px solid #ddd;
    background-color: $white;

    .extract-txt {
      quotes: "«" "»";
      padding: 20px;

      &:before {
        content: open-quote;
        padding-right: 5px;
      }

      &:after {
        content: close-quote;
        padding-left: 5px;
      }
    }

    .extract-header {
      padding: 25px;
      border-bottom: 1px solid #ccc;

      .extract-harvester {
        display: flex;

        .extract-harvester-right {
          padding-left: 10px;
        }
      }
    }
  }
}

.app.harvesting-mode-on {
  .post-body--is-harvestable {
    /* FIXME: Factorizing these ::selection rules cancels effect on Firefox */
    .post-body-title {
      ::selection {
        background: $harvesting-yellow;
      }

      ::-moz-selection {
        background: $harvesting-yellow;
      }
    }

    .post-body-content > div::selection {
      background: $harvesting-yellow;
    }

    .post-body-content > div::-moz-selection {
      background: $harvesting-yellow;
    }

    .post-body-content > div > p::selection {
      background: $harvesting-yellow;
    }

    .post-body-content > div > p::-moz-selection {
      background: $harvesting-yellow;
    }
  }
}

.active-box {
  border-left-color: $harvesting-green;
}

.harvesting-box {
  box-shadow: 2px 2px 4px 0 $grey1;
  margin: 0 0 20px;
  z-index: 99;
  width: 310px;

  .harvesting-box-header {
    padding: 20px;
    border-bottom: 1px solid $grey1;
  }

  .harvesting-status {
    display: inline-block;
    font-size: $font-size-xs;

    .harvesting-in-progress {
      color: $black;
      margin-left: -12px;
      padding: 0 0 15px;
    }

    .validated-harvesting {
      color: $harvesting-green;
      margin-left: -12px;
      padding: 0 0 15px;
    }

    .harvesting-status-label {
      display: inline-block;
      vertical-align: bottom;
    }
  }

  .profile {
    font-size: $font-size-xs;
    color: $grey2;
    margin-left: -8px;

    img {
      border-radius: 50%;
      margin: 0 10px 0 6px;
    }

    .assembl-icon-profil {
      vertical-align: bottom;

      &:before {
        font-size: 30px;
        margin-right: 10px;
      }
    }

    .harvesting-date {
      font-size: $font-size-xxs;
    }

    .harvesting-infos {
      display: inline-block;
      vertical-align: bottom;
    }
  }

  .button-bar {
    padding-top: 5px;
    float: right;
    margin-right: -12px;

    .assembl-icon-ellipsis-vert {
      &:before {
        font-size: 20px;
        vertical-align: middle;
        padding: 2px 0 0;
      }
    }

    .btn[disabled] {
      opacity: 1;
      border-color: $grey5;

      span {
        color: $grey5;
      }

      &:hover {
        background-color: $white;
        border-color: $grey5;

        span {
          color: $grey5;
        }
      }
    }

    .btn.active {
      background-color: $white;
      border-color: $second-color;
      box-shadow: none;

      span {
        color: $second-color;
      }
    }

    .btn-default {
      margin: 0 3px;
      border-radius: 5px;
      width: 26px;
      height: 26px;
      border-color: $grey2;

      span {
        color: $grey2;
      }

      &:hover {
        background-color: $white;
        border-color: $second-color;

        span {
          color: $second-color;
        }
      }

      &:focus {
        background-color: $white;
        outline: none;
      }

      span {
        &:before {
          font-size: 12px;
          display: block;
          margin: 0 0 0 -6px;
        }
      }
    }
  }

  .harvesting-box-body {
    padding: 20px;
    font-size: $font-size-xs;
    color: $grey2;

    textarea {
      border: 1px solid $grey1;
      border-radius: 4px;
      color: $grey2;
      font-family: $font-family;
      font-size: $font-size-xs;

      &:focus {
        border: 1px solid $grey1;
      }
    }
  }

  .harvesting-box-footer {
    text-align: center;
    padding: 20px 0;
    background-color: $grey1;

    .btn-default {
      margin: 0 10px;
    }
  }
}

.extract-in-message {
  display: inline;
}

.is-harvesting {
  .extract-in-message {
    background-color: $harvesting-green-light;
  }
}
