.harvesting-anchor {
  position: absolute;
  z-index: 1000;
}

.harvesting-container {
  position: absolute;
  left: 0;
  z-index: 99;
}

.left-side-harvesting-button {
  &:hover {
    .assembl-icon-catch:before {
      font-weight: bold;
    }

    .left-side-harvesting-button__button__inside {
      background-color: #ffed5b;
    }
  }

  .left-side-harvesting-button__button {
    background: white;
    border: 1px solid #ccc;
    border-radius: 50%;
    width: 44px;
    height: 44px;
    box-shadow: 2px 2px 4px 0 #ccc;
    cursor: pointer;

    .left-side-harvesting-button__button__inside {
      text-align: center;
      margin: 4px;
      width: calc(100% - 8px);
      height: calc(100% - 8px);
      background-color: #fff7b5;
      border-radius: 50%;
      display: flex;
    }
  }
}

.confirm-harvest-button {
  text-align: center;
  padding: 1px 0 0 6px;
  font-size: 20px;

  &:before {
    margin-right: 2px;
    font-size: $font-size-sm;
  }
}

.harvesting-mode-on {
  .extracts {
    display: none;
  }

  .post-body--is-harvestable {
    /* FIXME: Factorizing these ::selection rules cancels effect on Firefox */
    .post-body-content *::selection {
      background: $harvesting-yellow;
    }

    .post-body-content *::-moz-selection {
      background: $harvesting-yellow;
    }
  }
}

.active-box {
  border-left-color: $harvesting-green;
}

.box-icon {
  width: 34px;
  height: 34px;
  border: 3px solid $harvesting-green;
  border-radius: 50%;
  position: absolute;
  background-color: $white;
  margin-top: 15px;
  margin-left: 3px;

  svg {
    margin: 4px 0 0 4px;
  }
}

.box-icon-2 {
  margin-top: 40px;
  z-index: 2;
}

.harvesting-box {
  box-shadow: 2px 2px 4px 0 $grey1;
  margin: 0 0 20px 18px;
  width: 295px;

  .harvesting-box-header {
    padding: 16px 20px 15px 20px;
    border-bottom: 1px solid $grey1;
  }

  .harvesting-status {
    display: inline-block;
    font-size: $font-size-xs;

    .harvesting-in-progress {
      color: $black;
      margin-left: -12px;
      padding: 0 0 15px;
    }

    .validated-harvesting {
      color: $harvesting-green;
      margin-left: -12px;
      padding: 0 0 15px;
    }

    .harvesting-status-label {
      display: inline-block;
      vertical-align: sub;
      margin-left: 15px;
      font-size: $font-size-xxs;
      margin-top: 2px;
      width: 145px;
      height: 30px;
      line-height: 30px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }

    .harvesting-taxonomy-label {
      display: inline-block;
      vertical-align: sub;
      margin-left: 15px;
      font-size: $font-size-xxs;
      margin-top: 2px;
      width: 145px;
      height: 30px;
    }
  }

  .profile {
    font-size: 11px;
    color: $grey3;
    margin-left: -5px;
    display: flex;

    img {
      border-radius: 50%;
      margin: 0 10px 0 6px;
    }

    .assembl-icon-profil {
      vertical-align: bottom;

      &:before {
        font-size: 30px;
        margin-right: 10px;
      }
    }

    .harvesting-date {
      font-family: $font-family4;
      font-size: $font-size-xxs;
    }

    .harvesting-infos {
      display: inline-block;
      vertical-align: bottom;

      .username {
        width: 208px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }
    }
  }

  .button-bar {
    padding-top: 5px;
    float: right;
    margin-right: -25px;

    .taxonomy-menu-btn {
      border: none;
      padding: 0 0 0 2px;
      background: none;

      &:hover, &:focus {
        background: none !important;
      }

      .assembl-icon-ellipsis-vert {
        &:before {
          font-size: 20px;
          vertical-align: middle;
          padding: 2px 0 0;
        }

        &:hover {
          color: $harvesting-green;
        }
      }
    }

    .btn[disabled] {
      opacity: 1;
      border-color: $grey5;

      span {
        color: $grey5;
      }

      &:hover {
        background-color: $white;
        border-color: $grey5;

        span {
          color: $grey5;
        }
      }
    }

    .btn.active {
      background-color: $white;
      border-color: $second-color;
      box-shadow: none;

      span {
        color: $second-color;
      }
    }

    .btn-default {
      margin: 0 3px;
      border-radius: 5px;
      width: 26px;
      height: 26px;
      border-color: $grey3;

      span {
        color: $grey3;
      }

      &:hover {
        background-color: $white;
        border-color: $second-color;

        span {
          color: $second-color;
        }
      }

      &:focus {
        background-color: $white;
        outline: none;
      }

      &:active {
        box-shadow: none;
      }

      span {
        &:before {
          font-size: 12px;
          display: block;
          margin: 0 0 0 -6px;
        }
      }
    }

    .taxonomy-menu {
      font-size: $font-size-xs;
      letter-spacing: 1.3px;
      line-height: 1;
      border: 1px solid $grey1;
      border-radius: 0;
      position: absolute;
      left: 295px;
      top: 25px;

      .assembl-icon-cancel {
        cursor: pointer;
        position: absolute;
        right: 5px;
        top: 10px;
        font-size: 13px;
      }

      .button-taxonomy {
        width: 90%;
        border-radius: 0;
        height: auto;
        padding: 3px 0;
        margin: 10px 0;
      }

      .button-taxonomy:hover {
        border-color: $first-color;

        span {
          color: white;
        }
      }

      .arrow {
        display: none;
      }

      .popover-content {
        padding: 30px 0 10px 0;
        width: 245px;
      }

      .taxonomy-label {
        color: $black;
        padding: 5px 10px 10px 8px;
        font-family: $font-family4;

        .nature-label {
          display: contents;
          position: absolute;
          margin-top: 5px;
          padding-left: 10px;

          span {
            display: block;
            margin: -20px 0 0 32px;
          }
        }

        .action-label {
          display: contents;
          position: absolute;
          margin-top: 5px;

          span {
            display: block;
            margin: -19px 0 0 32px;
          }
        }

        svg {
          width: 22px;
          height: 22px;
        }

        &:hover {
          background-color: $first-color-light;
          font-family: $font-family;
        }
      }

      .taxonomy-label-border {
        padding: 5px 10px 10px;
        border-bottom: 1px solid $grey1;
      }

      .taxonomy-category {
        font-family: $font-family3;
        padding: 25px 10px 10px;
      }

      .taxonomy-label.active {
        background-color: $first-color-light;
        font-family: $font-family;
      }
    }
  }

  .harvesting-box-body {
    padding: 20px;
    font-size: $font-size-xs;
    color: $grey3;
    word-wrap: break-word;

    .form-group {
      margin: 0;
    }

    textarea {
      border: 1px solid $grey1;
      margin: -20px 0 0;
      color: $grey2;
      font-family: $font-family;
      font-size: $font-size-xs;
      min-height: 100px;

      &:focus {
        border: 1px solid $grey1;
      }
    }
  }

  .harvesting-box-footer {
    text-align: center;
    padding: 20px 0;
    background-color: $grey1;
    display: flex;
    justify-content: space-around;

    .btn-default {
      margin: 0 22px;
    }

    .button-submit {
      padding: 8px 16px;
    }

    .button-cancel {
      padding: 8px 16px;
    }
  }
}

.extract-in-message {
  display: inline;
}

.harvesting-mode-on {
  .extract-in-message {
    background-color: $harvesting-green-light;

    &.submitted {
      background-color: $harvesting-blue-light;
    }
  }
}

.submitted-harvesting {
  .harvesting-submitted-message {
    color: $harvesting-blue;
    padding-top: 10px;
    font-size: 12px;
    padding-left: 8px;
    margin-bottom: -10px;
  }

  .validated-harvesting {
    color: $harvesting-blue !important;
  }

  .box-icon {
    border: 3px solid $harvesting-blue;
  }

  .active-box {
    border-left-color: $harvesting-blue;
  }
}
