.header-section-container {
  position: relative;
}

.header-section {
  height: 500px;
  position: relative;

  .header-actions-container {
    z-index: 2;
    color: $white;
    position: relative;
    padding: 40px 0 0 40px;

    .doughnut-container {
      width: 130px;
      height: 130px;
      display: inline-block;
      vertical-align: middle;

      svg {
        path {
          stroke-width: 15px;
        }
      }

      .total-count-container {
        text-align: center;
        margin-top: -90px;

        .total-count {
          font-size: 20px;
          font-family: $font-family3;
        }

        .count-label {
          font-size: $font-size-xs;
          font-family: $font-family4;
          margin-top: -3px;
        }
      }
    }
  }

  @media screen and (max-width: 500px) {
    .light-title-7 {
      font-size: 30px;
      line-height: 38px;
    }

    .header-actions-container {
      padding: 0 0 0 40px;
    }

    .action-button {
      padding: 10px 8px;
    }
  }

  .header-content {
    padding: 20px 0 0 40px;
    position: relative;
    text-align: left;
    z-index: 2;
    margin: $margin-section 0 0;

    @media screen and (min-width: 1100px) {
      max-width: 70%;
    }

    @media screen and (max-width: 1099px) {
      padding-left: 40px;
      padding-right: 40px;
      max-width: 100%;
    }

    .max-text-width {
      margin: 0 auto;
      max-width: 500px;
    }

    a {
      color: $white;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .header-bkg {
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }

  .header-bkg-mask {
    background-color: $opacity-color;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }

  .statistic {
    background-color: $opacity-color;
    bottom: 0;
    left: 0;
    margin: 0 auto;
    position: absolute;
    text-align: center;
    display: flex;
    width: 100%;
    z-index: 10;

    .intermediary-container {
      padding: 12px 0;
      display: inline-block;
      vertical-align: middle;
      width: 100%;
      margin: 0 auto;

      .stat-container {
        padding: 0 40px;
        display: inline-block;
        border-right: 1px solid $white;

        &:last-child {
          border-right: none;
        }

        .stat-box {
          display: flex;
          align-items: center;
          vertical-align: middle;
          margin: auto;

          .stat-icon {
            padding-top: 3px;
          }
        }
      }

      .stat-loader {
        margin-top: -20px;
      }

      .stat {
        display: inline-block;
        font-family: $font-family2;
        text-align: left;
        text-transform: uppercase;
        padding-left: 8px;
      }

      .stat-nb {
        color: $white;
        font-family: $font-family4;
        font-size: $font-size-xxs;
        letter-spacing: $text-letter-spacing;
      }

      img {
        vertical-align: baseline;
      }
    }
  }
}

.wyntk-box {
  position: absolute;
  right: 0;
  top: calc(50% - 175px - 22px); // center the box: 50% of container - half this block height - half the statistic block height
  height: 350px;
  width: 350px;
  padding: 30px;
  padding-right: 0;
  z-index: 3;

  .wyntk-title {
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    font-family: $font-family3;
  }

  .box-hyphen {
    margin-top: 12px;
    margin-bottom: 23px;
  }

  .wyntk-text-container {
    overflow-y: auto;
    padding-right: 10px;
    margin-right: 10px;
    height: 234px;

    .wyntk-text {
      line-height: 2;
      font-size: 12px;
      padding-right: 10px;
    }
  }

  @media screen and (max-width: 1100px) {
    position: static;
    margin: 15px;
    width: auto;
  }
}

.sentiment-header-tooltip {
  border-radius: 4px;
  padding: 0 !important;

  .tooltip-inner {
    background: none !important;
  }
}

@media screen and (max-width: 1019px) {
  .header-section .statistic .intermediary-container {
    .stat-container {
      padding: 0 12px;
    }
  }
}

@media screen and (max-width: 820px) {
  .header-section {
    .statistic {
      .intermediary-container {
        padding: 20px 0;

        .stat-container {
          .stat-box {
            flex-direction: column;
            justify-content: center;

            [class^='assembl-icon-']:before,
            [class*=' assembl-icon-']:before {
              //increase icon size
              font-size: 170%;
            }

            .stat-icon {
              padding-top: 0;
              display: block;
              float: none;
            }

            .stat {
              padding-left: 0;
              text-align: center;
              word-break: break-word;
            }

            .stat-nb {
              padding-top: 3px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: $screen-sm-min) {
  .header-section {
    display: flex;
    align-items: flex-start;
    flex-direction: column;

    .statistic {
      .intermediary-container {
        padding: 20px 0;

        .stat-container {
          margin-top: 5px;
          padding: 0 9px;

          .stat-box {
            display: block !important;
            text-align: center;

            .stat {
              margin-left: 0;
              text-align: center;
            }

            .stat-nb {
              margin-left: 0;
            }
          }
        }
      }
    }

    .header-content-container {
      width: 100%;
      max-height: 75%;
      min-height: 75%;
      justify-content: center;
      display: flex;
      flex-direction: column;
    }

    .header-content {
      margin: 0;
      padding-top: 0;
    }

    .header-actions-container {
      padding: 10px 0 0 40px;
    }
  }
}
