.idea-preview {
  height: 200px;

  .light-title-3 {
    font-size: $font-size-sm;
    position: absolute;
    top: 0;
    width: calc(100% - 40px);
  }

  .content-box {
    cursor: default;
  }

  .access-discussion {
    position: absolute;
    top: calc(50% - 20px);
    width: calc(100% - 40px);
    text-align: center;
  }

  .see-discussion {
    width: 100%;
    text-align: center;

    a {
      color: $white;
      text-transform: uppercase;
      font-size: $font-size-xs;
      font-family: $font-family2;
      line-height: 2;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .see-sub-ideas {
    cursor: pointer;
    color: $white;
    text-transform: uppercase;
    font-size: $font-size-xs;
    line-height: 2;
    font-family: $font-family2;
    width: 100%;
    text-align: center;

    &:hover {
      text-decoration: underline;
    }
  }

  .stats {
    position: absolute;
    bottom: 20px;
    width: calc(100% - 40px);
    text-align: center;

    .stat-nb {
      display: inline-block;
      font-size: $font-size-xs;
    }

    .dash {
      display: inline-block;
      padding: 0 5px 0 0;
    }

    .assembl-icon-message {
      &::before {
        font-size: 16px;
      }
    }

    .assembl-icon-profil {
      &::before {
        font-size: 16px;
      }
    }
  }

  .selected-idea-arrow {
    bottom: 10px;
    display: none;
    text-align: center;
    position: absolute;
    width: calc(100% - 40px);

    .assembl-icon-down-open {
      margin-left: -40px;
      color: $white;

      &:before {
        font-size: $font-size-xl;
        transform: scaleY(0.6);
      }
    }
  }
}

.idea-preview-selected {
  .color-box {
    background-color: $opacity-color;
  }

  .selected-idea-arrow {
    display: block;
  }

  .stats {
    display: none;
  }
}

.idea-preview-level-0 {
  height: 500px;

  .light-title-3 {
    position: absolute;
    top: 150px;
    width: calc(100% - 40px);
  }

  .content-box {
    cursor: pointer;
  }
}

.idea-preview-level-1 {
  height: 500px;

  .light-title-3 {
    position: absolute;
    top: 80px;
    width: calc(100% - 40px);
  }
}

.idea-preview-level-2 {
  height: 300px;

  .light-title-3 {
    position: absolute;
    top: 20px;
    width: calc(100% - 40px);
  }
}

@media screen and (max-width: 320px) {
  .box-hyphen {
    width: 30px;
  }

  .idea-preview {
    .access-discussion {
      width: calc(100% - 30px);
    }

    .light-title-3 {
      top: 50px;
    }

    .stats {
      bottom: 40px;
    }
  }

  .idea-preview-level-1 {
    height: 435.8px;
  }

  .mobile-illustration-box {
    .box-hyphen {
      top: 46%;
    }
  }
}
