.idea-preview {
    height: 200px;
    &.idea-preview-selected {
        .color-box {
            display: block;
        }
    }
    .content-box {
        cursor: initial;
    }
    .content-box:hover {
        .text-box {
            bottom: 25px;
            width: calc(100% - 40px);
            padding: 0;
            margin: 0;
        }
        .stats {
            height: 10px;
        }
    }
    .see-discussion {
        margin-top: 30px;
    }
    .action-separator {
        margin: 2px;
        &:before {
            content: "/";
        }
    }
    .see-sub-ideas {
        margin-top: 5px;
        cursor: pointer;
    }
    .see-discussion, .action-separator, .see-sub-ideas, a, a:hover {
        color: $second-color;
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;
    }
}

.idea-preview-level-1 {
    height: 500px;
}
.idea-preview-level-2 {
    height: 300px;
}
