.themes-section {
  margin: 120px 0 0;
  .slider {
      width: 100%;
      overflow: hidden;
      margin: 0 0 40px 0;
  }
  .theme.theme-first-row-0 {
      margin-top: 80px;
  }
  .theme.theme-first-row-1 {
      margin-top: 0;
  }
  .theme.theme-first-row-2 {
      margin-top: 80px;
  }
  .theme.theme-first-row-3 {
      margin-top: 40px;
  }
  .theme.theme-0 {
      margin-top: 2px;
  }
  .theme.theme-1 {
      margin-top: -78px;
  }
  .theme.theme-2 {
      margin-top: 2px;
  }
  .theme.theme-3 {
      margin-top: -38px;
  }
  .theme.theme-inline {
      min-width: 280px;
      margin-top: 0;
  }
  .theme {
      padding: 0;
  }
  .row-inline {
      display: flex;
      float: left;
  }
}

@media screen and (max-width: 991px) {
    .themes-section {
      .theme {
          margin: 2px 0 0;
      }
    }
}
