.idea-preview {
  height: 200px;

  .light-title-3 {
    font-size: $font-size-sm;
    width: 100%;
    margin-top: 0;
    margin-right: 0;
    margin-left: 0;
    padding-top: 10%;
  }

  .content-box {
    cursor: default;

    &.position-content-box {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: column;
      overflow: hidden;
    }
  }

  .access-discussion {
    height: 70px;
    width: 100%;
    text-align: center;
  }

  .see-discussion {
    width: 100%;
    text-align: center;

    a {
      color: $white;
      text-transform: uppercase;
      font-size: $font-size-xs;
      font-family: $font-family2;
      line-height: 2;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .see-sub-ideas {
    cursor: pointer;
    color: $white;
    text-transform: uppercase;
    font-size: $font-size-xs;
    line-height: 2;
    font-family: $font-family2;
    width: 100%;
    text-align: center;

    &:hover {
      text-decoration: underline;
    }
  }

  .stats {
    text-align: center;
    padding-bottom: 10px;
    width: 100%;

    .stat-nb {
      display: inline-block;
      font-size: $font-size-xs;
    }

    .dash {
      display: inline-block;
      padding: 0 5px 0 0;
    }

    .assembl-icon-message {
      &::before {
        font-size: 16px;
      }
    }

    .assembl-icon-profil {
      &::before {
        font-size: 16px;
      }
    }
  }

  .selected-idea-arrow {
    display: none;
    text-align: center;
    width: 100%;

    .assembl-icon-down-open {
      margin-left: -40px;
      color: $white;

      &:before {
        font-size: $font-size-xl;
        transform: scaleY(0.6);
      }
    }
  }
}

.idea-preview-selected {
  .selected-idea-arrow {
    display: block;
  }

  .stats {
    display: none;
  }
}

.idea-preview-level-0 {
  height: 500px;

  .light-title-3 {
    margin-top: 40px;
    width: 100%;
  }

  .content-box {
    cursor: pointer;
  }
}

.idea-preview-level-1 {
  height: 500px;

  .light-title-3 {
    margin-top: 40px;
    width: 100%;
    min-height: 100px;
  }
}

.idea-preview-level-2 {
  height: 300px;

  .light-title-3 {
    margin-top: 20px;
    width: 100%;
    min-height: 70px;
  }
}

.idea-preview-level-3,
.idea-preview-level-4 {
  .mobile-illustration-box {
    .box-hyphen {
      top: 60%;
    }
  }
}

@media screen and (max-width: $screen-md-min) {
  .idea-preview {
    .stats {
      bottom: 5px;
    }
  }
}

@media screen and (max-width: $screen-xxs-max) {
  .box-hyphen {
    width: 30px;
  }

  .idea-preview {
    .access-discussion {
      width: 100%;
    }

    .light-title-3 {
      padding-top: 0;
      margin-top: 10%;
    }

    .see-discussion {
      a {
        align-items: center;
        display: flex;
        height: 30px;
        justify-content: center;
        width: 100%;
      }
    }

    .see-sub-ideas {
      align-items: center;
      display: flex;
      height: 30px;
      justify-content: center;
      width: 100%;
    }

    .stats {
      bottom: 2px;
    }

    &.mobile-illustration-box {
      .box-hyphen {
        top: 55%;
      }
    }

    &.idea-preview-thumbnails {
      &.mobile-illustration-box {
        display: table;

        .content-box {
          padding-left: 5px;
          padding-right: 5px;

          &.position-content-box {
            display: block;

            .light-title-3 {
              padding-top: 0;
              margin-left: auto;
              margin-right: auto;
            }

            .selected-idea-arrow {
              left: 30px;
            }
          }
        }
      }
    }
  }

  .idea-preview-level-1 {
    height: 436px;
  }
}
