.themes-section {
  .idea-preview-thumbnails {
    .light-title-3 {
      font-size: $font-size-xs;
      top: 10px !important;
    }

    .selected-idea-arrow {
      bottom: 18px;

      .assembl-icon-down-open {
        &:before {
          font-size: 28px;
        }
      }
    }

    .access-discussion {
      display: none;
    }

    .box-hyphen {
      display: none;
    }

    .stats {
      display: none;
    }
  }

  margin: 50px 0 0;

  .slider-container {
    width: 100%;
    overflow: hidden;
    margin: 0 0 40px 0;

    .slider {
      position: relative;
    }

    .slider-arrow-container {
      display: none;
    }

    .slider-arrow {
      cursor: pointer;
      background-color: rgba(255, 255, 255, 0.5);
      position: absolute;
      top: calc(50% - 36px);
      z-index: 10;
      height: 100px;
      padding: 20px 10px 0;
    }

    .slider-arrow-left {
      .assembl-icon-down-open {
        display: block;
        transform: rotate(90deg);

        &:before {
          font-size: 30px;
        }
      }
    }

    .slider-arrow-right {
      right: 0;

      .assembl-icon-up-open {
        display: block;
        transform: rotate(90deg);

        &:before {
          font-size: 30px;
        }
      }
    }

    &:hover {
      .slider-arrow-container {
        display: block;
      }
    }
  }

  .mobile-slider-container {
    margin-bottom: 15px !important;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;

    .color-box {
      height: 100%;
    }
  }

  .thumbnails-mobile-slider {
    padding: 15px 0;
    background-color: $light-grey;
  }

  .thumbnails-slider {
    .theme {
      margin-right: 15px !important;

      &:last-child {
        margin-right: 0 !important;
      }
    }
  }

  .ideas-back-arrow {
    width: 100%;
    position: fixed;
    z-index: 10;
    left: 0;
    right: 0;
    background-color: $light-grey;
    height: 40px;
    padding-top: 3px;

    span {
      transform: rotate(90deg);
      display: inline-block;
      font-size: 25px;
    }
  }

  .theme-first-row-0 {
    margin-top: 80px;
  }

  .theme-first-row-1 {
    margin-top: 0;
  }

  .theme-first-row-2 {
    margin-top: 80px;
  }

  .theme-first-row-3 {
    margin-top: 40px;
  }

  .theme-0 {
    margin-top: 2px;
  }

  .theme-1 {
    margin-top: -78px;
  }

  .theme-2 {
    margin-top: 2px;
  }

  .theme-3 {
    margin-top: -38px;
  }

  .theme-inline {
    margin-top: 0;
  }

  .theme {
    padding: 0;
    transition: all 0.5s ease-out;
  }

  .row-inline {
    display: flex;
    float: left;
  }

  .mobile-tdi {
    overflow-x: scroll;

    .slider-arrow {
      display: none;
    }
  }
}

.mobile-ideas-section {
  margin: 0 !important;

  .title-section {
    margin-top: 40px;
    margin-left: 15px;

    .dark-title-1 {
      font-size: 26px;
      margin: -5px 0 0 15px;
    }
  }
}

@media screen and (max-width: 991px) {
  .themes-section {
    .theme {
      margin: 2px 0 0;
    }
  }
}

@media screen and (min-width: 768px) {
  .theme-inline {
    min-width: 350px;
  }
}
