.max-container {
  .content-section {
    .section-margin-top {
      padding: 5px 0 25px 0;
    }
  }
}

.instructions-text {
  .announcement {
    margin: 0;
  }

  .announcement-title {
    margin-bottom: 33px;
  }

  @media (min-width: $screen-sm-min) {
    .announcement-title {
      margin-bottom: 40px;
    }
  }

  @media (min-width: $screen-md-min) {
    .announcement-title {
      margin-bottom: 47px;
    }
  }
}
