.loader-container-xl {
  height: 100px;
  margin: 140px 0;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 100%;
}

.loader-container-xs {
  position: relative;
  width: 30px;
}

.loader {
  left: 0;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 100%;
  z-index: 10000;

  svg {
    margin: 0;
    width: 30px;
  }
}