.profile-icon {
  a {
    &:hover {
      text-decoration: none;
    }
  }

  .username {
    color: $black;
    font-size: $font-size-xs;
    font-weight: 700;
  }

  img {
    border-radius: 11px;
    margin: 0 5px 0 0;
    max-height: 20px;
    width: 20px;
  }
}

.login-view {
  margin: 60px auto;
  text-align: left;

  .login {
    border-bottom: $box-border;
    margin: 0 auto 20px;
    padding: 0 0 20px;
    width: 60%;
  }

  .signup {
    margin: 0 auto;
    padding: 0 0 10px;
    width: 60%;
  }
}

@media screen and (min-width: 946px) {
  .login-view {
    width: 50%;
  }
}

@media screen and (max-width: 945px) {
  .login-view {
    width: 60%;
  }
}

@media screen and (max-width: 700px) {
  .login-view {
    width: 80%;
  }
}

@media screen and (max-width: 530px) {
  .login-view {
    width: 100%;

    .login {
      width: 90%;
    }

    .signup {
      width: 90%;
    }
  }
}
