.avatar {
  margin: 1px 15px 0 10px;

  a {
    &:hover {
      text-decoration: none;
    }
  }

  .username {
    color: $navbar-active-text-color;
    font-size: $font-size-xs;
    line-height: 23px;
    padding: 0 5px 0 0;
    vertical-align: top;
  }

  .connection {
    color: $first-color;
    font-family: $font-family2;
    font-size: $font-size-xs;
  }
}

.login-container {
  background-color: $page-bkg-grey;
  height: 100%;
  position: absolute;
  width: 100%;

  .login-view {
    margin: 60px auto;
    text-align: left;

    .login {
      border-bottom: $box-border;
      margin: 0 5% 20px;
      padding: 0 0 20px;
    }

    .signup {
      margin: 0 5%;
      padding: 0 0 10px;
    }

    .error-message {
      color: red;
      font-weight: bold;
    }
  }
}

@media screen and (max-width: 767px) {
  .avatar {
    .username {
      display: none;
    }
  }
}

@media screen and (max-width: 420px) {
  .avatar {
    margin: 1px 10px 0 15px;
  }

  .login-container {
    background-color: $page-bkg-light;

    .login-view {
      margin: 0 -30px;

      .box-title {
        border-radius: 0;
      }

      .box {
        border-radius: 0;
        box-shadow: none;
      }
    }
  }
}
