.avatar {
  margin: 1px 15px 0 10px;

  a {
    &:hover {
      text-decoration: none;
    }
  }

  .username {
    color: $navbar-active-text-color;
    font-size: $font-size-xs;
    line-height: 23px;
    padding: 0 5px 0 0;
    vertical-align: top;
  }

  .connection {
    color: $first-color;
    font-family: $font-family2;
    font-size: $font-size-xs;
  }
}

.login-container {
  padding: 80px 0 0;
  max-width: 1000px;  
}

.social-media {
  ul {
    list-style-type: none;
    padding: 0;

    li {
      margin: 0;
      padding: 10px 0 0;
    }
  }

  .btn-social {
    i {
      &:before {
        font-size: 18px;
        line-height: 32px;
        vertical-align: text-bottom;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .avatar {
    .username {
      display: none;
    }
  }
}

@media screen and (max-width: 420px) {
  .login-grid {
    margin: 0 0 15px;
  }

  .login-container {
    padding: 15px 0 0;
  }

  .avatar {
    margin: 1px 10px 0 15px;
  }
}
