.profile-icon {
  margin: 1px 15px 0;

  a {
    &:hover {
      text-decoration: none;
    }
  }

  .username {
    color: $black;
    font-size: $font-size-xs;
    font-weight: 700;
  }

  .connection {
    color: $black;
    font-size: $font-size-xs;
    font-weight: 700;
  }

  img {
    border-radius: 11px;
    margin: 0 5px 0 0;
    max-height: 20px;
    width: 20px;
  }
}

.login-view {
  margin: 60px auto;
  max-width: 600px;
  text-align: left;

  .login {
    border-bottom: $box-border;
    margin: 0 5% 20px;
    padding: 0 0 20px;
  }

  .signup {
    margin: 0 5%;
    padding: 0 0 10px;
  }
}

@media screen and (max-width: 767px) {
  .profile-icon {
    .username {
      display: none;
    }
  }
}
