.profile-icon {
  margin: 1px 15px 0;

  a {
    &:hover {
      text-decoration: none;
    }
  }

  .username {
    color: $navbar-active-text-color;
    font-size: $font-size-xs;
  }

  .connection {
    color: $third-color;
    font-size: $font-size-xs;
  }

  img {
    border-radius: 11px;
    margin: 0 5px 0 0;
    max-height: 20px;
    width: 20px;
  }
}

.login-container {
  background-color: $page-bkg-grey;
  height: 100%;
  position: absolute;
  width: 100%;

  .login-view {
    margin: 60px auto;
    max-width: 600px;
    text-align: left;

    .login {
      border-bottom: $box-border;
      margin: 0 5% 20px;
      padding: 0 0 20px;
    }

    .signup {
      margin: 0 5%;
      padding: 0 0 10px;
    }
  }
}

@media screen and (max-width: 767px) {
  .profile-icon {
    .username {
      display: none;
    }
  }
}

@media screen and (max-width: 420px) {
  .profile-icon {
    margin: 1px 10px 0 15px;
  }

  .login-container {
    background-color: $page-bkg-light;

    .login-view {
      margin: 0 -30px;

      .box-title {
        border-radius: 0;
      }

      .box {
        border-radius: 0;
        box-shadow: none;
      }
    }
  }
}
