.media-section {
  padding-bottom: 157.81px;
  padding-top: 119px;

  .media-title-section {
    margin-left: 6.5%;
    margin-right: 6.5%;
    padding-bottom: 139px;

    .dark-title-1 {
      padding-top: 9px;
      font-family: $font-family4;
      font-size: 36px;
      font-weight: 300;
      letter-spacing: 2px;
      line-height: 56px;
    }
  }

  .container-fluid {
    margin-left: 12.5%;
    margin-right: 15.5%;

    .media-description-layer {
      text-align: justify;
      font-family: $font-family4;
      font-size: 18px;
      line-height: 32px;
      letter-spacing: 1px;
      font-weight: 300;
    }

    .media-description-top {
      margin-bottom: $margin-section-xxs;
    }

    .media-description-bottom {
      margin-top: $margin-section-xxs;
    }

    .media-description {
      width: 78%;

      .description-txt {
        font-family: $font-family6;
        color: $first-color;
        font-size: 16px;
        letter-spacing: 1px;
        line-height: 32px;
        margin-top: 34.3px;
        margin-bottom: 26px;
      }

      .media-description-icon {
        text-align: center;

        .assembl-icon-pepite {

          &:before {
            font-size: 56.7px;
          }
        }
      }
    }

    .media-right {
      width: 100%;
      display: block;

      .media-description {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 991px) {
  .media-section {
    padding-top: 69px;
    padding-bottom: 72px;

    .media-title-section {
      margin-left: 0;
      margin-right: 0;
      padding-bottom: 70px;

      .dark-title-1 {
        margin-left: 30px;
        margin-right: 30px;
        font-size: 26px;
        letter-spacing: 1px;
        line-height: 38px;
      }

      .title-hyphen {
        position: relative;
        left: -17px;
      }
    }

    .container-fluid {
      margin-left: 0;
      margin-right: 0;
      padding-left: 0;
      padding-right: 0;

      .col-sm-12 {
        padding-left: 0;
        padding-right: 0;
      }

      .media-description-layer {
        text-align: left;
        margin-left: 30px;
        margin-right: 30px;
        width: calc(100% - 60px);
        font-size: 16px;
      }

      .media-description {
        display: none;
      }

      .media-description-bottom {
        margin-top: 80px;
      }

      .media-right {
        padding: 0;

        .media-description {
          display: block;
          margin-top: 60px;
          margin-left: 30px;
          margin-right: 30px;
          width: calc(100% - 60px);
        }
      }
    }
  }
}
