.media-container {
  height: 0;
  margin: 20px 0 0;
  overflow: hidden;
  padding-bottom: 56.25%;
  padding-top: 30px;
  position: relative;

  iframe,
  object,
  img,
  embed {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

.media-form {
  .admin-help {
    margin-bottom: 40px;
  }
  .preview-title {
    display: none;
  }
}
