.modal-large {
  @media screen and (min-width: 768px) {
    .modal-dialog {
      width: 768px;
    }
  }

  .modal-body {
    padding: 0 20px 15px 20px !important;
  }
}

.modal-centered {
  .modal-content {
    padding: 40px;
  }

  .modal-dialog {
    margin-top: 250px;
  }

  .button-modal {
    margin-top: 20px;
  }
}

.gauge-settings-modal {
  .modal-content {
    padding: 30px 60px;
  }

  .form-group {
    flex-grow: 1;
  }

  .gauge-modal {
    .form {
      width: 75%;
      margin: 0 auto;
      padding: 10px 0;
    }

    .save-button {
      margin-top: 30px;
    }
  }

  label {
    font-family: $font-family4;
    font-size: $font-size-xs;
    margin: 0 0 5px 5px;
  }

  .form-control {
    font-size: $font-size-xs;
    padding-left: 8px;
  }
}
