$column-half-gutter: 15px;
$post-max-width: 600px;
$header-margin: 30px;
$synthesis-padding: 15px;
$column-synthesis-height: 300px;

.column-view {
  .synthesis {
    border: none;
    padding: $synthesis-padding;
    margin-bottom: 20px;
    max-width: calc(#{$post-max-width} + 2 * #{$synthesis-padding});
    margin-left: auto;
    margin-right: auto;
  }
  .column-tree {
    margin-bottom: 90px;
  }
  &:first-child {
    .column-header {
      margin-left: 0;
    }
  }
  &:last-child {
    .column-header {
      margin-right: 0;
    }
  }
  &:only-child {
    .column-header {
      margin-left: 0;
      margin-right: 0;
    }
  }
}

.column-header {
  margin-bottom: 20px;
  margin-left: 2px;
  margin-right: 2px;
  .form-container {
    padding-left: 10px;
    padding-right: 10px;
    .form-group {
      .margin-m {
        margin: 0;
        max-width: $post-max-width;
        margin-left: auto;
        margin-right: auto;
        .rich-text-editor {
          max-width: $post-max-width;
          padding-top: 5px;
          margin: 0;
          .editor-label {
            padding-top: 5px;
          }
        }
      }
    }
  }
}

.column-header {
  .start-discussion-container {
    max-width: $post-max-width;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    text-align: left;
    padding-top: $header-margin;
    padding-bottom: 25px;
    padding-left: 10px;
    height: 120px;
    .start-discussion {
      max-width: 80%;
      .dark-title-3 {
        font-family: $font-family;
        letter-spacing: 1px;
        line-height: 27px;
        font-size: $font-size-sm;
      }
    }
    .start-discussion-icon {
      padding-top: 0;
    }
  }
}

.tab-selector > .tab-selector-buttons {
  display: flex;
  .button-container {
    padding: 0 1px;
    &:first-child {
      padding-left: 0;
    }
    &:last-child {
      padding-right: 0;
    }
    button {
      border: 0;
      width: 100%;
      outline: 0;
      font-family: $font-family;
      color: $first-color;
      padding-top: 10px;
      padding-bottom: 10px;
      height: 100%;
      &:disabled {
        font-family: $font-family3;
      }
    }
  }
}

.multi-column-container {
  display: flex;
  justify-content: center;
  .column-header {
    .box.synthesis {
      padding-left: $column-half-gutter;
      padding-right: $column-half-gutter;
    }
    .form-container {
      max-width: $post-max-width;
      margin-left: auto;
      margin-right: auto;
    }
  }
  .column-tree {
    padding-left: $column-half-gutter;
    padding-right: $column-half-gutter;
    position: static;

    .level-0 {
      width: auto;
    }
  }
}

.multi-column-container {
  .column-view {
    .column-header {
      margin-left: $column-half-gutter;
      margin-right: $column-half-gutter;
    }
    &:first-child {
      .column-header {
        margin-left: $column-half-gutter;
      }
    }
    &:last-child {
      .column-header {
        margin-right: $column-half-gutter;
      }
    }
    &:only-child {
      .column-header {
        margin-left: $column-half-gutter;
        margin-right: $column-half-gutter;
      }
    }
  }
}

.column-synthesis {
  .insert-box {
    height: $column-synthesis-height;
    .insert-content {
      overflow-y: scroll;
      height: calc(#{$column-synthesis-height} - 140px);
    }
  }
}

/* Portrait phones and smaller */
@media (max-width: $screen-xxs-max) {
  .tab-selector > .tab-selector-buttons {
    .button-container > button {
      font-family: $font-family;
      line-height: 19px;
      font-size: 12px;
      text-transform: uppercase;
    }
  }
}
