.hiddenNavbar {
  display: none;
}

.nav-bar {
  background-color: $navbar-bkg;
  height: $navbar-height;

  .navbar-logo {
    height: auto;
    padding: 0 15px 0 0;

    img {
      vertical-align: middle;
      max-height: 40px;
    }

    a {
      line-height: 60px;
    }
  }

  .navbar-icons {
    padding: 18px 0 0;
  }

  .navbar-menu-item {
    color: $navbar-text-color;
    font-family: $font-family2;
    font-size: $font-size-xxs;
    letter-spacing: .4px;
    line-height: $navbar-line-height;
    padding: 0 20px;
    text-transform: uppercase;

    &:hover {
      color: $navbar-active-text-color;
      font-family: $font-family3;
      text-decoration: none;
    }

    &:focus {
      text-decoration: none;
    }
  }

  .burgermenu-icon {
    cursor: pointer;
    padding: 12px 10px 0 0;
    position: absolute;
    z-index: 2;

    .assembl-icon-menu-on {
      font-size: 23px;
    }

    .assembl-icon-cancel {
      font-size: 23px;
    }
  }

  .nav-burger-menu {
    background-color: $white;
    left: 0;
    position: absolute;
    top: $navbar-height;
    width: 100%;
  }

  .navbar-language {
    margin: 1px 0 0 5px;

    .caret {
        position: relative;
        left: 0.3em;
    }
  }
}

@media screen and (max-width: 767px) {
  .nav-bar {
    .navbar-logo {
      img {
        vertical-align: top;
      }
    }

    .nav-menu {
      display: none;
    }

    .navbar-language {
      display: none;
    }

    .navbar-menu-item {
      display: block;
      line-height: $navbar-line-height;
      text-align: center;
    }

    .navbar-icons {
      padding: 28px 15px;
      position: absolute;
      right: 10px;
      z-index: 10;
    }

    .dropdown-navbar {
      margin: 0 0 0 4px;
    }

    .navbar-logo {
      padding: 15px 0;
      position: absolute;
      text-align: center;
      width: calc(100% - 30px);
      z-index: 0;
    }

    .active {
      font-family: $font-family3;
    }
  }
}

@media screen and (min-width: 768px) {
  .nav-bar {
    .nav-menu {
      width: 250px;
    }

    .navbar-home-item {
      display: none;
    }

    .burgermenu-icon {
      display: none;
    }

    .nav-burger-menu {
      display: none;
    }

    .logo-active {
      border-bottom: $border-active;
      display: block;
      height: $navbar-height;
      line-height: $navbar-height;
      vertical-align: middle;
    }

    .active {
      border-bottom: $border-active;
      color: $navbar-active-text-color;
      padding-bottom: 18px;
    }
  }
}

@media screen and (max-width: 600px) {
  .hiddenNavbar {
    display: block;
  }
}

@media screen and (max-width: 420px) {
  .nav-bar {
    .navbar-icons {
      padding: 20px 0;
    }

    .loader {
      svg {
        margin: 0;
        padding: 0;
      }
    }
  }
}
