#burger-menu {
  .minimized-timeline {
    cursor: pointer;

    &.active {
      font-weight: 600;
    }

    &:hover {
      background-color: $first-color-light;
    }

    .timeline-title {
      font-size: 16px;
    }
  }

  .menu-item-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-left: 1px solid $first-color-light;

    &.active {
      font-weight: 600;
    }

    &:hover {
      background-color: $first-color-light;
    }
  }

  .menu-item {
    font-size: 14px;
    cursor: pointer;
  }

  .sub-menu {
    padding-left: 20px;

    .menu-item {
      font-size: 12px;
    }
  }

  .thumb-arrow {
    cursor: pointer;
    padding: 20px;
  }

  .not-started {
    padding: 10px;
  }
}

.nav-bar {
  display: flex;
  align-items: center;
  background-color: $navbar-bkg;
  height: $navbar-height;

  .sk-layout {
    float: none;

    .sk-top-bar {
      display: inline-block;
      height: auto;
      margin: 0;
    }
  }

  .caret {
    margin-left: 10px;
  }

  .navbar-logo {
    height: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;

    img {
      max-height: 40px;
    }
  }

  .right-part {
    display: inline-flex;
    align-items: center;
    height: $navbar-height;

    .navbar-language {
      .dropdown-toggle {
        line-height: normal;
      }
    }
  }

  .navbar-icons {
    display: inline-flex;
    align-items: center;
    padding: 0;

    .assembl-icon-expert,
    .assembl-icon-profil {
      &:before {
        font-size: 20px;
      }
    }

    .is-harvesting-button {
      margin-top: 4px;

      &:focus {
        outline: 0;
      }

      &.active {
        color: $second-color;
      }
    }

    #search {
      float: none;
    }
  }

  .navbar-menu-item {
    color: $navbar-text-color;
    font-family: $font-family2;
    font-size: $font-size-xs;
    letter-spacing: 0.8px;
    line-height: 0;
    padding: 0 20px;
    text-transform: uppercase;
    white-space: nowrap;

    &:hover {
      color: $navbar-active-text-color;
      font-family: $font-family3;
      text-decoration: none;
    }

    &:after {
      color: $navbar-active-text-color;
      font-family: $font-family3;
      text-decoration: none;
      content: attr(data-text);
      height: 0;
      overflow: hidden;
      visibility: hidden;
      line-height: 0;
    }

    &:focus {
      text-decoration: none;
    }
  }

  .navbar-language {
    padding-top: 18px;
  }

  .avatar {
    display: flex;
    align-items: center;
    margin-top: 0;

    .user-account {
      white-space: nowrap;
      margin-left: 10px;
      line-height: normal;
      padding-right: 0;
    }

    .connection {
      display: flex;
      align-items: center;
      margin: 0;
    }

    .assembl-icon-profil {
      display: flex;

      &:before {
        margin: 0;
      }
    }
  }

  .dropdown-toggle {
    .inline {
      display: flex;
      align-items: center;
    }
  }

  // .mobile-navbar {
  // .nav-burger-menu {
  //   background-color: $white;
  //   left: 0;
  //   position: absolute;
  //   top: $navbar-height;
  //   width: 400px;
  //   height: 100vh;
  //   overflow-y: scroll;
  // }

  //   .burgermenu-language {
  //     line-height: normal;
  //     padding-left: 0;
  //     margin-bottom: 0;

  //     > .dropdown {
  //       position: static;
  //       height: auto;

  //       &.open > .dropdown-menu {
  //         position: static;
  //         height: auto;
  //         padding-bottom: 60px;
  //       }

  //       &.open > .dropdown-toggle {
  //         color: $first-color;
  //       }

  //       > .dropdown-toggle {
  //         line-height: $navbar-line-height;
  //         font-size: 13px;
  //         color: inherit;
  //       }
  //     }
  //   }

  //   .burgermenu-icon {
  //     cursor: pointer;

  //     .assembl-icon-menu-on {
  //       font-size: 25px;
  //     }

  //     .assembl-icon-cancel {
  //       font-size: 25px;
  //     }
  //   }

  //   .navbar-logo {
  //     margin-right: auto;
  //     margin-left: 15px;
  //   }

  //   .avatar {
  //     margin-right: 0;
  //     text-align: right;
  //   }

  //   .navbar-language {
  //     display: none;
  //   }

  //   .navbar-menu-item {
  //     display: flex;
  //     line-height: $navbar-line-height;
  //     align-items: center;
  //     flex-direction: column;
  //     font-size: 13px;
  //     color: inherit;
  //   }

  //   .navbar-icons {
  //     padding: 0 0;
  //     margin-left: auto;
  //     justify-content: flex-end;
  //     z-index: 10;
  //   }

  //   .dropdown-navbar {
  //     margin: 0 0 0 4px;
  //   }

  //   .active {
  //     font-family: $font-family3;
  //     background-color: $first-color-light;
  //     color: $first-color;
  //   }
  // }

  .nav-burger-with-text {
    cursor: pointer;
    display: flex;
    padding-right: 15px;
    flex-direction: column;
  }

  .assembl-icon-menu-on:before {
    font-size: 25px;
    padding-left: 3px;
  }

  .assembl-icon-cancel:before {
    font-size: 25px;
    padding-left: 9px;
  }

  .flat-navbar {
    display: inline-flex;
    align-items: center;
    max-height: $navbar-height;
    justify-content: space-between;
    width: 100%;

    .navbar-logo {
      padding-right: 15px;
    }

    .navbar-language {
      padding: 0;
    }

    .left-part {
      display: inline-flex;
      align-items: center;
      height: 100%;
    }

    .nav-menu {
      display: inline-flex;
      align-items: center;
    }

    .navbar-home-item {
      display: none;
    }

    .nav-burger-menu {
      background-color: $white;
      left: 0;
      position: absolute;
      top: $navbar-height;
      width: 400px;
      height: 100vh;
      overflow-y: scroll;
    }

    .navbar-menu-item {
      height: $navbar-height;
      display: inline-flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      &.active {
        border-bottom: $border-active;
        padding-top: 4px;
        color: $navbar-active-text-color;
      }
    }

    .logo-active {
      border-bottom: $border-active;
      padding-top: 4px;
      display: inline-flex;
      align-items: center;
      height: $navbar-height;
      line-height: $navbar-height;
      vertical-align: middle;
    }
  }

  @media (max-width: $screen-md-min) {
    .mobile-navbar {
      .burgermenu-icon {
        flex-grow: 0.25;
      }
    }

    .navbar-logo {
      flex-grow: 1.25;

      img {
        max-width: 90px;
      }
    }
  }

  /* Landscape phones and portrait tablets */
  @media (max-width: $screen-xs-max) {
    #burger-menu {
      .nav-burger-menu {
        width: 100%;
        padding-bottom: 100px;
      }

      .nav-menu {
        display: flex;
        flex-direction: column;
      }

      .navbar-language {
        display: flex;
        justify-content: center;
        padding: 20px;
      }

      .dropdown-menu-right {
        position: relative;
        top: 0;
      }

      #nav-dropdown {
        justify-content: center;
      }
    }

    #search {
      display: none;
    }

    .right-part {
      flex: 1;
    }

    .mobile-navbar {
      .navbar-logo {
        flex: 1;
        margin: auto;
      }
    }

    .burgermenu-icon {
      flex: 1;
    }
  }
}

.large-logo {
  padding: 25px 0 0 20px;

  img {
    max-height: 60px;
  }
}
