.nav-bar {
  background-color: $navbar-bkg;
  border: $navbar-border;
  box-shadow: $box-shadow;
  height: 80px;

  .navbar-logo {
    padding: 15px 15px 15px 0;

    img {
      height: 50px;
    }
  }

  .navbar-icons {
    cursor: pointer;
    padding: 28px 10px;
  }

  .navbar-menu-item {
    color: $navbar-text-color;
    font-family: $font-family2;
    font-size: $font-size-xxs;
    font-weight: 700;
    letter-spacing: .4px;
    line-height: 80px;
    padding: 0 20px;
    text-transform: uppercase;

    &:hover {
      color: $navbar-active-text-color;
      text-decoration: none;
    }

    &:focus {
      text-decoration: none;
    }
  }

  .active {
    color: $navbar-active-text-color;
  }

  .burgermenu-icon {
    cursor: pointer;
    font-size: 30px;
    padding: 20px 10px;
    position: absolute;
    z-index: 2;
  }

  .nav-burger-menu {
    background-color: $white;
    left: 0;
    position: absolute;
    top: 80px;
    width: 100%;
  }

  .navbar-language {
    margin: 0 0 0 5px;
  }
}

@media screen and (max-width: 767px) {
  .nav-bar {
    .nav-menu {
      display: none;
    }

    .navbar-language {
      display: none;
    }

    .navbar-menu-item {
      display: block;
      line-height: 60px;
      text-align: center;
    }

    .navbar-icons {
      padding: 28px 15px;
      position: absolute;
      right: 10px;
      z-index: 10;
    }

    .dropdown-navbar {
      margin: 0 0 0 4px;
    }

    .navbar-logo {
      padding: 15px 0;
      position: absolute;
      text-align: center;
      width: calc(100% - 30px);
      z-index: 0;
    }
  }
}

@media screen and (min-width: 768px) {
  .nav-bar {

    .navbar-home-item {
      display: none;
    }

    .burgermenu-icon {
      display: none;
    }

    .nav-burger-menu {
      display: none;
    }

    .logo-active {
      border-bottom: $border-active;
      padding-bottom: 30px;
    }
  }
}

@media screen and (max-width: 420px) {
  .nav-bar {
    .navbar-icons {
      padding: 28px 0;
    }

    .loader {
      svg {
        margin: 0;
        padding: 0;
      }
    }
  }
}
