.nav-bar {
  display: flex;
  align-items: center;
  background-color: $navbar-bkg;
  height: $navbar-height;

  .caret {
    margin-left: 10px;
  }

  .navbar-logo {
    height: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;

    img {
      max-height: 40px;
    }
  }

  .navbar-icons {
    padding: 18px 0 0;
  }

  .navbar-menu-item {
    color: $navbar-text-color;
    font-family: $font-family2;
    font-size: $font-size-xxs;
    letter-spacing: 0.4px;
    padding: 0 20px;
    text-transform: uppercase;

    &:hover {
      color: $navbar-active-text-color;
      font-family: $font-family3;
      text-decoration: none;
    }

    &:after {
      color: $navbar-active-text-color;
      font-family: $font-family3;
      text-decoration: none;
      content: attr(data-text);
      height: 0;
      overflow: hidden;
      visibility: hidden;
    }

    &:focus {
      text-decoration: none;
    }
  }

  .navbar-language {
    padding-top: 18px;
  }

  .avatar {
    display: flex;
    align-items: center;
    margin-top: 0;

    .username {
      margin-left: 10px;
      line-height: normal;
      padding-right: 0;
    }

    .connection {
      display: flex;
      align-items: center;
      margin: 0;
    }

    .assembl-icon-profil {
      display: flex;

      &:before {
        margin: 0;
      }
    }
  }

  .dropdown-toggle {
    .inline {
      display: flex;
      align-items: center;
    }
  }

  .burger-navbar {
    display: flex;
    align-items: center;
    width: 100%;

    .burgermenu-language {
      line-height: normal;
      padding-left: 0;
      margin-bottom: 0;

      > .dropdown {
        position: static;
        height: auto;

        > .dropdown-toggle {
          line-height: $navbar-line-height;
        }
      }
    }

    .burgermenu-icon {
      cursor: pointer;

      .assembl-icon-menu-on {
        font-size: 23px;
      }

      .assembl-icon-cancel {
        font-size: 23px;
      }
    }

    .nav-burger-menu {
      background-color: $white;
      left: 0;
      position: absolute;
      top: $navbar-height;
      width: 100%;
    }

    .navbar-logo {
      flex: 1;
    }

    .avatar {
      margin-right: 0;
      text-align: right;
    }

    .nav-menu {
      opacity: 0;
      position: absolute;
    }

    .navbar-language {
      display: none;
    }

    .navbar-menu-item {
      display: flex;
      line-height: $navbar-line-height;
      align-items: center;
      flex-direction: column;
    }

    .burgermenu-icon {
      margin-right: auto;
      flex: 1;
    }

    .navbar-icons {
      padding: 18px 0;
      margin-left: auto;
      flex: 1;
      z-index: 10;

      #search {
        float: none;
      }
    }

    .dropdown-navbar {
      margin: 0 0 0 4px;
    }

    .active {
      font-family: $font-family3;
    }
  }

  .flat-navbar {
    display: inline-flex;
    align-items: center;
    max-height: $navbar-height;
    justify-content: space-between;
    width: 100%;

    .sk-layout {
      float: none;

      .sk-top-bar {
        display: inline-block;
        height: auto;
        margin: 0;
      }
    }

    .navbar-logo {
      padding-right: 15px;
    }

    .navbar-icons {
      display: inline-flex;
      align-items: center;
      padding: 0;
    }

    .navbar-language {
      padding: 0;
    }

    .left-part {
      display: inline-flex;
      align-items: center;
      height: 100%;
    }

    .right-part {
      display: inline-flex;
      align-items: center;
      height: $navbar-height;

      .navbar-language {
        .dropdown-toggle {
          line-height: normal;
        }
      }
    }

    .nav-menu {
      display: inline-flex;
      align-items: center;

      &.active {
        border-bottom: $border-active;
        padding-top: 4px;
        color: $navbar-active-text-color;
      }
    }

    .navbar-home-item {
      display: none;
    }

    .burgermenu-icon {
      display: none;
    }

    .nav-burger-menu {
      display: none;
    }

    .navbar-menu-item {
      height: $navbar-height;
      display: inline-flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .logo-active {
      border-bottom: $border-active;
      padding-top: 4px;
      display: inline-flex;
      align-items: center;
      height: $navbar-height;
      line-height: $navbar-height;
      vertical-align: middle;
    }
  }
}
