.overflow-menu {
  .overflow-menu-container {
    padding: 0;
    display: flex;
    flex-direction: column;
  }

  .overflow-menu-action {
    border: none;
    padding: 0;

    &:hover,
    &:active,
    &:focus {
      background: none;
      outline: none;
    }
  }
}
