.overflow-menu {
  .overflow-menu-container {
    padding: 0;
    display: flex;
    flex-direction: column;
  }

  .overflow-menu-action {
    color: $first-color-opacity-70;
    border: none;
    padding: 0;

    &:hover, &:active, &:focus {
      color: $first-color;
      background: none;
      outline: none;
    }
  }
}
