.proposals {
  .box {
    border-bottom: $navbar-border;
    border-left: $border-theme;
    border-right: $navbar-border;
    border-top: $navbar-border;
    margin: 0 auto 40px;
    max-width: 900px;
    padding: 0;
    position: relative;
    text-align: center;
  }

  .user {
    text-align: left;

    .username {
      color: $first-color;
    }
  }

  .body {
    font-family: $font-family4;
    line-height: 1.6em;
    text-align: left;
    word-wrap: break-word;
  }

  .sentiments {
    border-top: $navbar-border;
    font-family: $font-family4;
    padding: 15px 0 0;
    text-align: left;
  }

  .stat-sentiment {
    padding: 0 0 0 3px;
  }

  .min-sentiment {
    display: inline-block;
    font-family: $font-family4;
    font-size: $font-size-xxs;
    text-align: left;
    width: 60px;

    svg {
      vertical-align: bottom;
    }

    .txt {
      font-size: 12px;
      line-height: 12px;
      padding: 0 0 0 5px;
    }
  }

  .totalSentimentsCount {
    font-family: $font-family3;
    font-size: $font-size-sm;
    letter-spacing: initial;
    margin: 20px 0 0;
    position: absolute;
    top: 50px;
    width: 100%;
  }

  .sentimentsCountLabel {
    font-family: $font-family4;
    font-size: $font-size-xxs;
    letter-spacing: initial;
    margin: 20px 0 0;
    position: absolute;
    top: 70px;
    width: 100%;
  }

  .no-proposals {
    margin: 0 0 70px;
  }
}

.posts {
    .post-row {
        margin-right: -20px;
        margin-left: -20px;
        margin-top: -15px;
        margin-bottom: -20px;
        overflow: hidden;
    }

    .post-left {
        padding: 35px;
    }

    .post-right {
        background-color: $first-color-light;
        margin-bottom: -99999px!important;
        padding-bottom: 99999px!important;
        padding: 20px 0;
        text-align: center;

        .answers {
            display: none;
        }
    }

    .box {
      border-bottom: $navbar-border;
      border-left: $border-theme;
      border-right: $navbar-border;
      border-top: $navbar-border;
      margin: 0 auto;
      max-width: 600px;
      position: relative;
      text-align: left;

      .label {
          display: block;
          white-space: normal;
          text-align: left;
          line-height: 20px;
      }
    }

    .profileLine {
        img {
            vertical-align: text-bottom;
        }

        .creator {
            color: $second-color;
            padding: 0 0 0 10px;
        }

        .date {
            color: $grey2;
            font-size: $font-size-xs;
            padding: 0 0 0 10px;
        }
    }

    .body {
        font-family: $font-family4;
        line-height: 1.6em;
        padding: 20px 0;
        word-wrap: break-word;
    }

    .link-idea {
        border-bottom: $navbar-border;
        border-top: $navbar-border;
        margin: 0 0 15px 0;
        padding: 20px 0;

        .label {
            color: $grey2;
            font-size: $font-size-xs;
        }

        .badges {
            padding: 10px 0;

            .badge {
                background-color: $grey1;
                color: $grey3;
                text-align: left;
                white-space: normal;
                word-wrap: break-word;
            }
        }
    }

    .post-action {
        cursor: pointer;
        margin: 10px 0 0;
        transition: all .2s ease-in-out;

        &:hover {
            transform: scale(1.2);
        }
    }

    .overflow-action {
      cursor: pointer;
      margin: 10px 0 0;
      color: $first-color-opacity-70;

      &:hover {
        color: $first-color;
      }
    }

    .add-sentiment {
        margin: 20px 0 0;
    }

    .answer-form {
        background-color: $first-color-light;
        border-top: 2px solid $white;
        padding: 40px;

        .assembl-icon-back-arrow {
            &:before {
                font-size: $font-size-s;
            }
        }

        .answer-form-inner {
            margin: 13px;
        }

        .button-container {
            margin: 25px 0 0;
        }

        .assembl-icon-back-arrow {
            padding-left: 10px;
        }

        .btn {
            margin: 3px 0 8px;
        }
    }
}

@media screen and (min-width: 600px) {
  .proposals {
    .sentiment-label {
      display: inline-block;
    }

    .stat-sentiment {
      margin: -15px 0 0;
    }

    .content {
      float:left;
      text-align: left;
      width: 80%;

      .user {
        padding: 30px 0 0 40px;
      }
    }

    .statistic {
      background-color: $first-color-light;
      float:left;
      height: 100%;
      min-width: 150px;
      padding: 20px 0 0;
      position: absolute;
      right: 0;
      width: 20%;
    }

    .body {
      padding: 20px 50px 0 73px;
    }

    .sentiments {
      margin: 25px 50px 10px 73px;
    }

    .box {
      min-height: 230px;
    }
  }
}

@media screen and (max-width: 599px) {
  .proposals {
    .statistic {
      float: right;
      height: 0;
      margin: -95px 0 0;
    }

    .doughnut {
      transform: scale(0.45);
    }

    .content {
      text-align: left;

      .user {
        padding: 30px 20px 0;
      }
    }

    .stat-sentiment {
      display: inline-block;
      float: inherit;
      margin: 50px 10px 0 -40px;
    }

    .sentiment-label {
      display: none;
    }

    .totalSentimentsCount {
      display: none;
    }

    .sentimentsCountLabel {
      display: none;
    }

    .body {
      padding: 20px 20px 0 25px;
    }

    .sentiments {
      margin: 25px 20px 10px 25px;
    }

    .min-sentiment {
      margin: 0 0 5px 0;
    }

    .clear {
      height: 10px;
    }
  }
}

@media screen and (max-width: 992px) {
    .posts {
        .post-right {
            background: none;

            .answers {
                float: right;
                display: block;
                padding: 20px 20px 0 0;
            }
        }

        .post-left {
            padding: 35px 35px 0;

            .answers {
                display: none;
            }
        }

        .post-icons {
            border-bottom: 1px solid $grey1;
            border-top: 1px solid $grey1;
            padding: 18px 0 10px;

            .post-action, .overflow-action {
                display: inline-block;
                margin: 0 10px;
            }

            .add-sentiment {
                display: inline-block;
                margin: 0;

                .sentiment {
                    margin: 0 10px;
                }
            }
        }

        .link-idea {
            border-bottom: none;
            margin: 0;
            padding: 20px 0 0;
        }

        .sentiments-count {
            float: left;

            .txt {
                margin-left: 30px;
                text-align: left;
                padding: 0 0 0 30px;
            }
        }

        .min-sentiment {
            padding: 1px 0 0 10px;
        }

        .answer-form {
            padding: 25px 30px 10px 30px;
            .button-container {
                .btn {
                    float: none;
                    width: 100%;
                }
            }
            .answer-form-inner {
                margin: 13px 0 0;
            }
            .assembl-icon-back-arrow {
                padding: 0;
            }
        }
    }
}
