.translate {
  font-size: $font-size-xs;
  font-family: $font-family6;
  display: flex;
  align-items: center;

  .translate-button {
    margin: 5px;
  }
}

.choose-content-locale-form {
  .modal-body {
    text-align: left !important;
  }
}

.proposals .post-body .body, .posts .post-body .body {
  font-family: $font-family4;
  color: $post-text-color;
  line-height: 1.6em;
  word-wrap: break-word;
  text-align: left;
}

.proposals {
  .custom-overlay {
    display: inline-block;
  }

  .box {
    border-bottom: $navbar-border;
    border-left: $border-theme;
    border-right: $navbar-border;
    border-top: $navbar-border;
    margin: 0 auto 40px;
    max-width: 900px;
    padding: 0;
    position: relative;
    text-align: center;
  }

  .statistics-container {
    height: 70%;
  }

  .user {
    text-align: left;

    .username {
      color: $first-color;
    }
  }

  .translate {
    padding: 20px 0 0 75px;
  }

  .sentiments {
    border-top: $navbar-border;
    font-family: $font-family4;
    padding: 15px 0 0;
    text-align: left;
  }

  .stat-sentiment {
    padding: 0 0 0 3px;
  }

  .min-sentiment {
    display: inline-block;
    font-family: $font-family4;
    font-size: $font-size-xxs;
    text-align: left;
    width: 60px;

    svg {
      vertical-align: bottom;
    }

    .txt {
      font-size: 12px;
      line-height: 12px;
      padding: 0 0 0 5px;
    }
  }

  .totalSentimentsCount {
    font-family: $font-family3;
    font-size: $font-size-sm;
    letter-spacing: initial;
    margin: 0 0 0;
    position: absolute;
    top: 30%;
    width: 100%;
  }

  .sentimentsCountLabel {
    font-family: $font-family4;
    font-size: $font-size-xxs;
    letter-spacing: initial;
    margin: 20px 0 0;
    position: absolute;
    top: 70px;
    width: 100%;
  }

  .no-proposals {
    margin: 0 0 70px;
  }
}

$deleted-post-border: 1px solid $grey1 !default;

.idea .level .deleted-post .box {
  border-left: $deleted-post-border;
}

.posts {
  &.deleted-post {
    .body {
      font-style: italic;
      font-family: $font-family;
    }
  }

  .embedded-video {
    width: 100%;
    height: 300px;
  }

  @media screen and (max-width: 500px) {
    .embedded-video {
      height: 250px;
    }
  }

  @media screen and (max-width: 321px) {
    .embedded-video {
      height: 180px;
    }
  }

  .post-row {
    display: flex;
  }

  .post-left {
    width: 93%;
    padding: 40px;
  }

  .post-right {
    width: 7%;
    position: relative;
    text-align: center;
    background-color: $first-color-light;
    min-width: 40px;

    .answers {
      display: none;
    }

    .post-actions {
      width: 100%;
    }
  }

  .translate {
    padding: 20px 0 0;
  }

  .box {
    border-bottom: $navbar-border;
    border-left: $border-theme;
    border-right: $navbar-border;
    border-top: $navbar-border;
    margin: 0 auto;
    max-width: 600px;
    position: relative;
    text-align: left;
    padding: 0;

    .label {
      display: block;
      white-space: normal;
      text-align: left;
      line-height: 12px;
    }
  }

  .profileLine {
    img {
      vertical-align: text-bottom;
    }

    .creator {
      color: $second-color;
      padding: 0 0 0 10px;
    }

    .date {
      color: $grey2;
      font-size: $font-size-xs;
      padding: 0 0 0 10px;
      font-family: $font-family4;
    }
  }

  .body {
    padding: 20px 0 40px;

    p {
      margin: 0;
      min-height: 1em; /* so that empty paragraphs (created by multiple line returns) still have height */
    }
  }

  .link-idea {
    border-bottom: $navbar-border;
    border-top: $navbar-border;
    margin: 0 0 5px 0;
    padding: 5px 0;

    .label {
      color: $grey2;
      font-size: $font-size-xs;
      font-family: $font-family4;
    }

    .badges {
      padding: 5px 0;

      .badge {
        display: inline;
        background-color: $grey7;
        color: $grey3;
        text-align: left;
        white-space: normal;
        word-wrap: break-word;
        font-family: $font-family4;
      }
    }
  }

  .post-action {
    cursor: pointer;
    margin: 10px 0 0;
    transition: all .2s ease-in-out;

    &:hover {
      transform: scale(1.2);
    }
  }

  .overflow-action {
    cursor: pointer;
    margin: 20px 0 0;
    color: $first-color-opacity-70;

    &:hover {
      color: $first-color;
    }

    .assembl-icon-ellipsis-vert {
      &:before {
        margin-left: 0;
        margin-right: 0;
        width: 100%;
        padding-left: 3px;
      }
    }
  }

  .add-sentiment {
    margin: 20px 0 0;

    .sentiment {
      margin-left: auto;
      margin-right: auto;
    }
  }

  .answer-form {
    background-color: $first-color-light;
    border-top: 2px solid $white;
    padding: 40px;

    .assembl-icon-back-arrow {
      &:before {
        font-size: $font-size-s;
      }
    }

    .answer-form-inner {
      margin: 13px;

      .editor-label {
        padding-top: 16px;
      }
    }

    .button-container {
      margin: 25px 0 0;
    }

    .assembl-icon-back-arrow {
      padding-left: 10px;
    }

    .btn {
      margin: 3px 0 8px;
    }
  }

  .collapsed-answer-form {
    background-color: $first-color-light;
    border-top: 2px solid $white;
    padding: 0 20px;

    .editor-header {
      display: none;
    }

    .public-DraftEditor-content {
      height: 20px;
    }

    .button-container {
      display: none;
    }

    .annotation {
      display: none;
    }
  }

  .extracts {
    position: absolute;
    left: 2vw;
    max-width: 230px;
    width: 14vw;
    line-height: 30px;

    .badges {
      line-height: 26px;
      font-family: $font-family4;

      .nugget-img {
        text-align: center;
        margin-bottom: 25px;

        span {
          display: inline-block;
        }

        span::before {
          font-size: 50px;
        }
      }

      .nugget {
        .nugget-txt {
          font-family: $font-family6;
          color: $first-color;
          margin-bottom: 25px;
        }

        .box-hyphen {
          border-top-width: 3px;
        }
      }
    }
  }
}

@media screen and (min-width: 600px) {
  .proposals {
    .sentiment-label {
      display: inline-block;
    }

    .stat-sentiment {
      margin: -15px 0 0;
    }

    .content {
      float: left;
      text-align: left;
      width: 80%;

      .user {
        padding: 30px 0 0 40px;
      }
    }

    .statistic {
      background-color: $first-color-light;
      float: left;
      height: 100%;
      min-width: 150px;
      padding: 0 0 0;
      position: absolute;
      right: 0;
      width: 20%;

      .statistics-doughnut {
        height: 100px;
        margin-top: 30px;
        margin-bottom: 30px;

        .circle {
          stroke-width: 14px;
        }
      }
    }

    .body {
      padding: 20px 50px 0 73px;
    }

    .sentiments {
      margin: 25px 50px 10px 73px;
    }

    .box {
      min-height: 230px;
    }
  }
}

@media screen and (max-width: 599px) {
  .proposals {
    .content {
      .sentiments {
        margin: 25px 20px 10px 25px;

        div {
          display: none;
        }
      }
    }

    .statistic {
      text-align: right;
      margin-bottom: 10px;

      .sentiments {
        border-top: 0;
        padding: 0;
        padding-top: 12px;
        margin-left: 10px;
        float: left;

        .sentiment {
          margin-left: 25px;
          vertical-align: middle;

          svg {
            vertical-align: middle;
          }
        }
      }

      .statistics-doughnut {
        height: 50px;
        width: 50px;
        margin-right: 10px;
        vertical-align: middle;

        .circle {
          stroke-width: 20px;
        }

        .superpose-label {
          display: none;
        }
      }

      .stat-sentiment {
        margin: 0;
        margin-right: 10px;
        padding: 0;
        vertical-align: middle;
        display: inline-block;
      }
    }

    .content {
      text-align: left;

      .user {
        padding: 30px 20px 0;
      }
    }

    .translate {
      padding: 20px 0 0 54px;
    }

    .statistics-container {
      display: none;
    }

    .sentiment-label {
      display: none;
    }

    .totalSentimentsCount {
      display: none;
    }

    .sentimentsCountLabel {
      display: none;
    }

    .body {
      padding: 20px 20px 0 25px;
    }

    .min-sentiment {
      margin: 0 0 5px 0;
    }

    .clear {
      height: 10px;
    }
  }
}

@media screen and (min-width: 993px) {
  .posts {
    .post-actions {
      position: absolute;
      bottom: 0;
    }

    .post-right {
      min-height: 320px;
    }
  }
}

@media screen and (max-width: 992px) {
  .posts {
    .custom-overlay {
      display: inline-block;
    }

    .post-row {
      display: block;
    }

    .post-right {
      background: none;
      width: 100%;

      .answers {
        float: right;
        display: block;
        padding: 20px 20px 0 0;
      }
    }

    .post-left {
      width: 100%;

      .answers {
        display: none;
      }
    }

    .post-actions {
      position: relative;

      .post-icons {
        border-bottom: 1px solid $grey1;
        border-top: 1px solid $grey1;
        padding: 18px 0 10px;

        .post-action, .overflow-action {
          display: inline-block;
          margin: 0 10px;
        }

        .add-sentiment {
          display: inline-block;
          margin: 0;

          .sentiment {
            margin: 0 10px 5px 10px;
          }
        }
      }
    }

    .link-idea {
      border-bottom: none;
      margin: 0;
      padding: 20px 0 0;
    }

    .sentiments-count {
      float: left;

      .txt {
        margin-left: 20px;
        text-align: left;
        padding: 1px 0 0 20px;
      }
    }

    .min-sentiment {
      padding: 1px 0 0 10px;
    }

    .answer-form {
      padding: 25px 30px 10px 30px;

      .button-container {
        .btn {
          float: none;
          width: 100%;
        }
      }

      .answer-form-inner {
        margin: 13px 0 0;
      }

      .assembl-icon-back-arrow {
        padding: 0;
      }
    }

    .extracts {
      display: none;
    }
  }
}

.column-post {
  .box {
    border: none;
  }

  .answer-form {
    border-top: none;
  }

  .column-hint {
    font-family: $font-family4;
    font-size: $font-size-m;
    letter-spacing: 1px;
    line-height: 30px;
    padding-top: 20px;
  }
}
