.question-footer {
  .button-light {
    &:hover,
    &:focus,
    &:active,
    &:focus:active,
    &:active:hover,
    &[disabled]:hover {
      color: #fff; /* opposite of current non-hover color */
    }
  }
}

.back-btn-container {
  margin-top: 105px;

  .button-dark {
    &:hover,
    &:focus,
    &:active,
    &:focus:active,
    &:active:hover,
    &[disabled]:hover {
      color: #fff; /* opposite of current non-hover color */
    }
  }
}
