.resources-center {


  .resource-block {
    margin-left: 50px;

    .title-section {
      padding-bottom: 50px;
    }

    .resource-body {
      margin: 0 77px;

      img {
        max-height: 300px;
      }

      .padding-right {
        padding: 5px 50px 50px 0;
      }
      .padding-left {
        padding: 5px 0px 50px 50px;
      }

      .resource-text {
        width: 1200px;
        text-align: justify;
      }
    }

  }



}
