.resources-center {

  .resource-block {
    margin: 100px 35px;

    .title-section {
      padding-bottom: 50px;
    }

    .resource-body {
      margin: 0 77px;

      img {
        max-height: 300px;
      }

      .margin-case-right {
        margin: 12px 50px 40px 0;
      }
      .margin-case-left {
        margin: 12px 0px 40px 50px;
      }

      .resource-text {
        width: 1200px;
        text-align: justify;
        font-size: $font-size-sm;
        line-height: 2;

        .resource-download-link {
          font-size: $font-size-m;
          margin-top: 20px;
        }
      }
    }
  }
}
