
.resources-center {
  .resource-block {
    margin-bottom: 80px;
  }

  .rsc-media-right .rsc-media-left {
    margin: 0 auto;
  }


  .title-section {
    padding-bottom: 50px;
  }

    .resource-body {
      .resource-img {
        max-height: 500px;
      }
      .resource-video-container {
        .resource-video {
          width: 500px;
          height: 300px;
          .resource-iframe {
            width: 100%;
            height: 100%;
        }
      }

      }

      @media screen and (min-width: 1000px) {
        .rsc-media-right {
          float: right;
        }
        .rsc-media-left {
          float: left;
        }

        .resource-body {
          margin: 0 75px;
        }

        .margin-case-right {
          margin: 12px 50px 30px 0px;
        }
        .margin-case-left {
          margin: 12px 15px 30px 50px;
        }
      }
      @media screen and (max-width: 999px) {
        .resource-video-container {
          width: 100%;
          padding-bottom: 50px;
          display: flex;
          justify-content: center;
        }
        .resource-img-container {
          width: 100%;
          padding-bottom: 50px;
          .resource-img {
            max-height: 500px;
            margin: 0 auto;
            width: 100%;
          }
        }
      }

      .resource-text {
        text-align: justify;
        font-size: $font-size-sm;
        line-height: 2;

        .resource-download-link {
          font-size: $font-size-m;
          margin-top: 20px;
        }
      }
      @media screen and (max-width: $app-max-width) {
        .resource-text {
          padding: 0 10px;
        }
      }
    }

}
