.admin-content {
  .rich-text-editor .DraftEditor-editorContainer {
    padding: 5px;
    border: 1px solid $grey5;

    .DraftEditor-root {
      max-height: 180px;
      overflow-y: scroll;
      font-size: $font-size-xs;
      letter-spacing: 0;
    }

    .editor-toolbar {
      background-color: #ccc;
      margin: -5px;

      .btn {
        background-color: #ccc;

        &:first-child,
        &:last-child,
        &:focus,
        &:active {
          border-radius: 0;
          outline: none;
        }
      }
    }
  }
}

.sm-title {
  font-size: $font-size-sm;
}

.margin-left-9 {
  margin-left: 9px;
}

.top-post-form {
  .editor-toolbar {
    margin-bottom: 5px;
  }

  .start-discussion {
    display: inline-block;
    padding: 2px 0 0 10px;
    max-width: 150px;
  }

  .start-discussion-icon {
    display: inline-block;
    padding: 3px 0 0 0;
    vertical-align: top;
  }
}

.rich-text-editor {
  font-family: $font-family;
  margin-top: 16px;
  position: relative;
  letter-spacing: 0;
  font-size: $font-size-s;

  .insertion-box {
    min-height: 200px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: 0;
    width: 80%;
    min-width: 380px;
    z-index: 1040;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    box-shadow: 1px 1px 1px 0 #656565;

    .with-image-preview {
      min-height: 350px;
    }

    .assembl-icon-cancel {
      float: right;
      cursor: pointer;
    }

    .attach-file {
      .attachment-label {
        min-width: 150px;

        span {
          position: absolute;
          left: 50%;
          top: 11%;
          transform: translate(-50%);
          font-size: $font-size-s;
        }
      }
    }

    .with-preview {
      min-height: 320px;

      .btn-default {
        top: 21%;
      }

      .preview img {
        top: 35%;
        max-height: 42%;
      }

      .button-submit {
        top: 87%;
      }
    }

    .btn-default {
      position: absolute;
      left: 50%;
      top: 27%;
      transform: translate(-50%);
    }

    .button-submit {
      position: absolute;
      left: 50%;
      top: 80%;
      transform: translate(-50%, -50%);
    }

    .preview img {
      max-width: 60%;
      max-height: 35%;
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%);
    }

    .preview-title {
      position: absolute;
      width: 60%;
      text-align: center;
      left: 50%;
      top: 50%;
      transform: translate(-50%);
      font-size: $font-size-xxs;
    }
  }

  .editor-label {
    float: left;
    padding-top: 12px;
    font-family: $font-family7;
    margin: 0 0 5px 4px;
    font-size: $font-size-xs;
  }

  .editor-toolbar {
    float: right;

    .btn-group {
      margin-right: 5px;

      .btn {
        font-size: 10px;
        border: 0;
        border-radius: 0;

        span {
          &:before {
            font-size: $font-size-s;
          }
        }
      }

      .btn:first-child {
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
      }

      .btn:last-child {
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
      }
    }
  }

  .public-DraftEditorPlaceholder-root {
    color: $grey2;
    font-family: $font-family6;
    position: absolute;
  }

  .DraftEditor-root {
    padding: 5px;
  }

  .DraftEditor-editorContainer {
    padding: 5px;
    background-color: $white;
  }

  .public-DraftEditorPlaceholder-root {
    padding: 5px;
  }

  .public-DraftEditor-content {
    height: 200px;
    overflow: auto;
  }
}

.rich-text-editor.hidePlaceholder {
  .public-DraftEditorPlaceholder-inner {
    display: none;
  }
}

.atomic-block {
  .attachment-document {
    border: solid 1px;
    margin: 3px;
    padding: 3px;
    font-family: $font-family3;
  }

  img.attachment-icon {
    width: 38px;
  }
}

.administration {
  .rich-text-editor .DraftEditor-editorContainer {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

  .editor-toolbar {
    float: none;
    background-color: $grey9;
    width: 100%;
    text-align: right;

    .active {
      background-color: $grey2 !important;
    }

    .btn {
      background-color: $grey9;
    }
  }

  .DraftEditor-root {
    padding: 0;
  }

  .DraftEditor-editorContainer {
    background-color: $white;
  }

  .public-DraftEditorPlaceholder-inner {
    font-size: $font-size-xs;
    font-family: $font-family6;
    letter-spacing: 0;
    padding: 5px 0 0 5px;
  }

  .public-DraftStyleDefault-block {
    padding: 5px 0 0 5px;
  }
}
