.media-form {
  .rich-text-editor .DraftEditor-editorContainer {
    padding: 5px;
    border: 1px solid $grey5;
    border-radius: 4px;

    .DraftEditor-root {
      max-height: 180px;
      overflow-y: scroll;
      font-size: $font-size-xs;
      letter-spacing: 0;
    }

    .editor-toolbar {
      background-color: #ccc;
      margin: -5px;
      .btn {
        background-color: #ccc;

        &:first-child, &:last-child, &:focus, &:active {
          border-radius: 0px;
          outline: none;
        }
      }
    }
  }
}

.sm-title {
  font-size: $font-size-sm;
}

.margin-left-9 {
  margin-left: 9px;
}

.top-post-form {
  .editor-toolbar {
    margin-bottom: 5px;
  }
}

.rich-text-editor {
  font-family: $font-family;
  margin-top: 16px;

  .insertion-box {
    .assembl-icon-cancel {
      float: right;
    }

    .attach-file {
      label {
        margin-bottom: 20px;
      }
    }

    min-height: 200px;
    position: absolute;
    width: 100%;
    margin-top: 10px;
    z-index: 1000;
  }

  .editor-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .editor-label {
    display: flex;
    justify-content: flex-start;

  }

  .editor-toolbar {
    display: flex;
    justify-content: flex-end;
    .btn-group {
      margin-right: 5px;

      .btn {
        font-size: 10px;
        border: 0;
        border-radius: 0;

        span {
          &:before {
            font-size: $font-size-s;
          }
        }
      }

      .btn:first-child {
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
      }

      .btn:last-child {
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
      }
    }

  }

  .public-DraftEditorPlaceholder-root {
    color: $grey2;
    font-family: $font-family6;
    position: absolute;
    margin-left: 10px;
  }

  .DraftEditor-root {
    padding: 5px 0;
  }
  .DraftEditor-editorContainer {
    padding: 5px;
    background-color: $white;
  }

  .public-DraftEditorPlaceholder-root {
    padding: 5px;
  }

  .public-DraftEditor-content {
    min-height: 12em;
    max-height: 200px;
    overflow: auto;
  }

}

.rich-text-editor.hidePlaceholder {
  .public-DraftEditorPlaceholder-inner {
    display: none;
  }
}

.atomic-block {
  .attachment-document {
    border: solid 1px;
    margin: 3px;
    padding: 3px;
    font-family: $font-family3;
  }
}
