.video-form {
  .rich-text-editor {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;

    .DraftEditor-root {
      max-height: 180px;
      overflow-y: scroll;
      font-size: $font-size-xs;
      letter-spacing: 0;
    }

    .editor-toolbar {
      background-color: #ccc;
      margin: -5px;
      .btn {
        background-color: #ccc;

        &:first-child, &:last-child, &:focus, &:active {
          border-radius: 0px;
          outline: none;
        }
      }
    }
  }
}

.top-post-form {
  .editor-toolbar {
    margin-bottom: 5px;
  }
}

.rich-text-editor {
  font-family: $font-family;

  .insertion-box {
    min-height: 200px;
    position: absolute;
    width: 500px;
    z-index: 1000;
  }

  .editor-toolbar {
    .btn-group {
      margin-right: 5px;
    }

    .btn {
      font-size: 10px;
      border: 0;
      border-radius: 0;

      span {
        &:before {
          font-size: $font-size-s;
        }
      }
    }

    .btn:first-child {
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
    }

    .btn:last-child {
      border-top-right-radius: 20px;
      border-bottom-right-radius: 20px;
    }

  }

  .public-DraftEditorPlaceholder-root {
    color: $grey2;
    font-family: $font-family6;
    position: absolute;
    margin-left: 10px;
  }

  .DraftEditor-root {
    padding: 5px 0;
  }
  .DraftEditor-editorContainer, .public-DraftEditorPlaceholder-root {
    padding: 5px;
    background-color: $white;
  }

  .public-DraftEditor-content {
    min-height: 12em;
  }

}

.rich-text-editor.hidePlaceholder {
  .public-DraftEditorPlaceholder-inner {
    display: none;
  }
}
