.rich-text-editor {
  font-family: $font-family;

  .editor-toolbar {
    background-color: $white;
    margin-bottom: 5px;
    padding: 5px;

    .btn {
      margin: 2px;
      font-size: 10px;
    }
  }

  .public-DraftEditorPlaceholder-root {
    color: $grey2;
    font-family: $font-family6;
    position: absolute;
  }

  .DraftEditor-root {
    background-color: $white;
    padding: 5px;
  }

  .public-DraftEditor-content {
    min-height: 12em;
  }

}
