.rich-text-editor {
  .editor-toolbar {
    background-color: $white;
    margin-bottom: 5px;
    padding: 5px;

    .btn {
      margin: 2px;
      font-size: 10px;
    }
  }

  .public-DraftEditorPlaceholder-inner {
    color: $grey2;
    font-family: $font-family6;
  }

  .DraftEditor-root {
    background-color: $white;
    min-height: 12em;
    padding: 5px;
  }
}
