.scroll-one-page {
  display: inline-block;
  position: fixed;
  cursor: pointer;
  z-index: 99;
  left: 50%;
  margin-left: -34px;

  span {
    border-radius: 40px 40px 0 0;
    height: 40px;
    width: 80px;
    display: block;
    color: $white;
    text-align: center;

    .icon {
      padding-top: 12px;
      margin-bottom: 2px;

      &:before {
        font-size: 16px;
        margin: 0 0 0 8px;
      }
    }
  }
}
