.select-field {
  &.expand-up {
    .select-field__menu {
      top: auto !important;
      bottom: calc(100% - 1px) !important;
    }
  }

  > .select-field__control {
    border-radius: 15px;
  }

  > .select-field__control--is-focused {
    border-color: $grey !important;
    box-shadow: initial !important;
    border-radius: 15px;
  }

  .select-field__input {
    > input {
      height: auto !important;
      box-shadow: none !important;
    }
  }

  .select-field__multi-value {
    border-radius: 12px;
    border: solid 1px $grey;
    margin-left: 2px;

    .select-field__multi-value__remove {
      border-radius: 12px;
      padding-left: 3px;
      padding-right: 3px;
    }
  }
}
