.sentiment {
  cursor: pointer;
  display: inline-block;
  transition: all .2s ease-in-out;
  vertical-align: middle;

  &:hover {
    transform: scale(1.2);
  }
}

.sentiment-active {
  transform: scale(1.2);

  svg {
    stroke-width: 2px;
  }
}

.proposals {
    .sentiment {
        margin: 0 0 0 15px;
    }
}

.posts {
    .sentiment {
        margin: 5px 10px;
        height: 25px;
        width: 30px;
    }

    .min-sentiment {
        position: absolute;
    }
}

.sentiments-count {
    cursor: pointer;
    .txt {
        padding: 1px 0 0 20px;
        display: block;
        color: $first-color;
        font-family: $font-family4;
        font-size: $font-size-xxs;
    }
}

.gauge {
  display: inline-block;
  text-align: center;
  margin: 0 2px;
  .gauge-count {
    display: inline-block;
    font-size: 15px;
    width: 15px;
  }
}

.sentiments-popover {
  .arrow {
    display: none;
  }
  background-color: $first-color-light;
  padding: 10px 0 0;
}

$like-color: #46D081;
#likeTooltip {
  .tooltip-inner {
    background-color: $like-color;
  }
  .tooltip-arrow {
    border-right-color: $like-color;
  }
}

$disagree-color: #F2474D;
#disagreeTooltip {
  .tooltip-inner {
    background-color: $disagree-color;
  }
  .tooltip-arrow {
    border-right-color: $disagree-color;
  }
}

$dontUnderstand-color: #FAC16F;
#dontUnderstandTooltip {
  .tooltip-inner {
    background-color: $dontUnderstand-color;
  }
  .tooltip-arrow {
    border-right-color: $dontUnderstand-color;
  }
}

$moreInfo-color: #9374FF;
#moreInfoTooltip {
  .tooltip-inner {
    background-color: $moreInfo-color;
  }
  .tooltip-arrow {
    border-right-color: $moreInfo-color;
  }
}
