.sentiment {
  cursor: pointer;
  display: inline-block;
  transition: all .2s ease-in-out;
  vertical-align: middle;

  &:hover {
    transform: scale(1.2);
  }
}

.sentiment-active {
  transform: scale(1.2);

  svg {
    stroke-width: 2px;
  }
}

.proposals {
    .sentiment {
        margin: 0 0 0 15px;
    }
}

.posts {
    .sentiment {
        margin: 5px 0;
        height: 25px;
        width: 30px;
    }

    .min-sentiment {
        position: absolute;
    }
}

.sentiments-count {
    .txt {
        padding: 20px 0 0;
        display: block;
        font-size: $font-size-xxs;
    }
}
