.sentiment {
  cursor: pointer;
  transition: all .2s ease-in-out;
  vertical-align: middle;

  &:hover {
    transform: scale(1.2);
  }
}

.sentiment-active {
  transform: scale(1.2);

  svg {
    stroke-width: 2px;
  }
}

.proposals {
    .sentiment {
        margin: 0 0 0 15px;
    }
}

.posts {
    .sentiment {
        margin: 5px 7px;
        height: 25px;
        width: 30px;
    }

    .min-sentiment {
        position: absolute;
    }
}

.sentiments-count {
    cursor: pointer;
    .txt {
        padding: 1px 0 0 20px;
        display: block;
        color: $first-color;
        font-family: $font-family4;
        font-size: $font-size-xxs;
    }
}

.gauge {
  display: inline-block;
  text-align: center;
  margin: 0 2px;
  .gauge-count {
    display: inline-block;
    font-size: 15px;
    width: 15px;
  }
}

.sentiments-popover {
  padding: 10px 0 0;
}
