.login-view {
  .terms-link {
    cursor: pointer;
    text-decoration: underline;
    color: $second-color;

    &:hover {
      text-decoration: none;
    }
  }
}

.terms-form {
  min-height: 530px;

  .full-height {
    height: 430px !important;
  }

  .terms-box {
    overflow: auto;
    height: 350px;
  }

  @media screen and (min-width: 600px) {
    .terms-box {
      width: 500px;
      margin: 10px auto;
      padding: 0 30px;
    }
  }

  @media screen and (max-width: 600px) {
    .button-submit {
      white-space: normal;
    }

    .terms-box {
      width: 100%;
    }

    .modal-body {
      padding: 0 15px;
    }

    .modal-content {
      padding: 0;
    }
  }

  .terms-submit {
    margin: 15px 0;
  }
}
