.login-view {
  .share-button {
    margin-top: 10px;
  }

  .terms-link {
    cursor: pointer;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }

  .password-form-group {
    display: flex;
    align-items: center;
  }

  input:required {
    box-shadow: none;
  }
}

.terms-form {
  height: 530px;

  .full-height {
    height: 430px !important;
  }

  .terms-box {
    overflow: auto;
    height: 350px;
  }

  @media screen and (min-width: 768px) {
    .terms-box {
      width: 680px;
      margin: 10px auto;
      padding: 0 10px;
    }

    .terms-submit {
      margin-right: 5% !important;
    }
  }

  @media screen and (max-width: 600px) {
    .button-submit {
      white-space: normal;
    }

    .terms-box {
      width: 100%;
      height: 310px;
    }

    .modal-body {
      padding: 0 20px !important;
    }

    .modal-content {
      padding: 0;
    }
  }

  .terms-submit {
    margin: 15px 0;
  }

  .terms-form {
    height: 500px;
  }
}
