.login-view {
  .terms-link {
    cursor: pointer;
    text-decoration: underline;
    color: $second-color;

    &:hover {
      text-decoration: none;
    }
  }
}

.terms-form {
  min-height: 530px;

  .terms-box {
    width: 500px;
    height: 350px;
    overflow: auto;
    margin: 10px auto;
    padding: 0 30px;
    text-align: justify;
  }

  .terms-submit {
    margin: 15px 0;
  }
}
