.social-share-button {
  display: inline-block;
  padding: 0 15px;
}

.share-buttons-container {
  padding-top: 10px;
  padding-bottom: 15px;
}

.social-share-buttons-container {
  padding-bottom: 20px;
}

.modal-content
  div:focus {
  outline: none;
  border: none;
}

.modal-title {
  text-align: center;
}

@media screen and (min-width: 700px) {
  .btn-copy {
    min-width: 300px;
  }
}

.btn-copy {
  white-space: normal;
  width: 60%;
  &:focus {
    outline: none;
  }
}

.modal-header {
  padding-top: 25px;
}
