.synthesis-preview {
  height: 500px;

  .title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50%;
    justify-content: space-between;
    position: absolute;
    top: 150px;
    width: calc(100% - 40px);
  }

  .content-box {
    cursor: pointer;
  }
}
