.title-section {
  margin: $margin-section-xxxs 0 0;
  text-align: left;

  .dark-title-1 {
    padding: 15px 0 0;
    width: calc(100% - 75px);
  }
}

.title-hyphen {
  border-top: $border-title;
  display: inline-block;
  height: 5px;
  vertical-align: top;
  width: $large-hyphen-width;
}

.subtitle {
  font-family: $font-family4;
  margin: 20px 0 0 $large-hyphen-width;
}

.dark-title-1 {
  color: $title1-dark-color;
  display: inline-block;
  font-family: $font-family4;
  font-size: $title1-size;
  letter-spacing: $title-letter-spacing;
  line-height: 1.1em;
  margin: 15px 0;
  max-width: 1100px;
}

.dark-title-2 {
  color: $black;
  font-family: $font-family4;
  font-size: $title2-size;
  letter-spacing: $title-letter-spacing;
  text-transform: uppercase;
  line-height: 24px;
}

.dark-title-3 {
  color: $title3-dark-color;
  font-family: $font-family4;
  font-size: $title3-size;
  letter-spacing: $title-letter-spacing;
}

.dark-title-4 {
  color: $title4-dark-color;
  font-family: $font-family;
  font-size: $title4-size;
  letter-spacing: $title-letter-spacing;
  text-transform: uppercase;
}

.dark-title-5 {
  color: $title5-dark-color;
  font-family: $font-family4;
  font-size: $title5-size;
  letter-spacing: $title-letter-spacing;
  line-height: $title1-size;
}

.dark-title-6 {
  color: $first-color;
  font-size: $font-size-s;
  font-family: $font-family4;
}

.dark-title-7 {
  color: $title1-dark-color;
  font-family: $font-family4;
  font-size: $title6-size;
  letter-spacing: $title-letter-spacing;
  line-height: $line-height-small;
}

.light-title-1 {
  color: $title1-light-color;
  font-family: $font-family4;
  font-size: $title1-size;
  letter-spacing: $title-letter-spacing;
  line-height: $line-height-small;
}

.light-title-2 {
  color: $title2-light-color;
  font-size: $title2-size;
  font-family: $font-family4;
}

.light-title-3 {
  color: $title3-light-color;
  font-family: $font-family5;
  font-size: $title3-size;
  text-transform: uppercase;
  line-height: $line-height-big;
}

.light-title-4 {
  color: $title4-light-color;
  font-family: $font-family;
  font-size: $title4-size;
  letter-spacing: $title-letter-spacing;
  line-height: $line-height-big;
}

.light-title-5 {
  color: $title5-light-color;
  font-family: $font-family4;
  font-size: $title5-size;
  letter-spacing: $title-letter-spacing;
  line-height: $title1-size;
}

.light-title-6 {
  color: $white;
  font-size: $font-size-s;
  font-family: $font-family4;
}

.light-title-7 {
  color: $title1-light-color;
  font-family: $font-family4;
  font-size: $title6-size;
  letter-spacing: $title-letter-spacing;
  line-height: $line-height-small;
}

.collapsed-title {
  font-size: $font-size-m;
  margin: 0 0 $margin-section-xs 0;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  &.padding-title {
    padding-left: 80px;
    margin-bottom: 40px;

    .title-txt {
      display: block;
      text-align: left;
      width: 95%;
    }
  }

  .proposal-arrow {
    display: block;
    text-align: center;
    width: 5%;

    .assembl-icon-up-open {
      &:before {
        font-size: 12px;
      }
    }

    .assembl-icon-down-open {
      &:before {
        font-size: 12px;
      }
    }
  }
}

.text {
  font-family: $font-family4;
  font-size: $font-size-s;
  line-height: 30px;
  margin: 10px 0 0;
}

.text-xs {
  font-size: $font-size-xs;
}

.date {
  color: $second-color;
  font-size: $font-size-xxs;
}

.text-column-2 {
  column-count: 2;
  column-gap: 30px;
  font-family: $font-family4;
  font-size: $font-size-s;
  line-height: 30px;
  margin: 8px 0 0;
}

.text-column-3 {
  column-count: 3;
  column-gap: 30px;
  font-family: $font-family4;
  font-size: $font-size-s;
  line-height: 30px;
  margin: 8px 0 0;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.annotation {
  text-align: left;
  font-family: $font-family4;
  font-size: $font-size-xs;
  margin-top: 15px;

  &.padding-left {
    padding-left: 5px;
  }
}

@media screen and (max-width: $screen-xl-min) {
  .collapsed-title {
    &.padding-title {
      padding-left: 20px;
    }
  }
}

@media screen and (max-width: $screen-sm-min) {
  .collapsed-title {
    font-size: $font-size-s;
    line-height: $line-height;
    margin: 0 -15px 30px -15px;
    padding: 20px 10px 20px 10px;

    &.padding-title {
      padding-left: 20px;
      padding-right: 20px;
    }

    .proposal-arrow {
      .assembl-icon-up-open {
        &:before {
          font-size: 8px;
        }
      }

      .assembl-icon-down-open {
        &:before {
          font-size: 8px;
        }
      }
    }
  }

  .text-column-2,
  .text-column-3 {
    line-height: 25px;
  }
}

@media screen and (max-width: $screen-xs-max) {
  .text-column-2,
  .text-column-3 {
    column-count: 1;
  }

  .collapsed-title {
    &.padding-title {
      padding-left: 20px;
    }
  }

  .annotation {
    font-size: $font-size-xxs;
  }
}

@media screen and (max-width: 420px) {
  .collapsed-title {
    &.padding-title {
      padding-left: 10px;
    }
  }

  .title-section {
    margin: $margin-section-xs 0 0;

    .dark-title-1 {
      display: block;
      margin: -10px 0 15px 32px;
      width: calc(100% - 30px);
      font-size: $font-size-l;

      &.no-margin-left-xs {
        margin-left: 0;
      }
    }

    .subtitle {
      margin: 30px 0 0;
    }
  }

  .text {
    margin: 10px 5px 0;
  }

  .text-column-2,
  .text-column-3 {
    margin: 0 5px;
  }
}

@media screen and (max-width: 320px) {
  .objectives-img {
    background-position-x: -20px;
  }
}
