.title-1 {
  color: $title1-color;
  font-size: $title1-size;
  font-weight: 700;
}

.title-2 {
  color: $title2-color;
  font-size: $title2-size;
  font-weight: 700;
}

.title-3 {
  color: $title3-color;
  font-size: $title3-size;
  font-weight: 700;
  text-transform: uppercase;
}

.title-4 {
  color: $title4-color;
  font-size: $title4-size;
  font-weight: 700;
}
