.title-section {
  margin: $margin-section 0 0;
  text-align: left;

  .dark-title-1 {
    padding: 15px 0 0;
  }
}

.title-hyphen {
  border-top: $border-title;
  display: inline-block;
  height: 5px;
  vertical-align: top;
  width: $large-hyphen-width;
}

.subtitle {
  margin: 5px 0 0 $large-hyphen-width;
}

.dark-title-1 {
  color: $title1-dark-color;
  display: inline-block;
  font-size: $title1-size;
  font-weight: 100;
  letter-spacing: 1px;
  margin: 0;
}

.dark-title-2 {
  color: $black;
  font-size: $title2-size;
  font-weight: 700;
  text-transform: uppercase;
}

.dark-title-3 {
  color: $title3-dark-color;
  font-size: $title3-size;
  font-weight: 400;
  text-transform: uppercase;
}

.dark-title-4 {
  color: $title4-dark-color;
  font-size: $title4-size;
  font-weight: 700;
}

.dark-title-5 {
  color: $title5-dark-color;
  font-size: $title5-size;
  font-weight: 200;
}

.light-title-1 {
  color: $title1-light-color;
  font-family: $font-family2;
  font-size: $title1-size;
}

.light-title-2 {
  color: $title2-light-color;
  font-size: $title2-size;
}

.light-title-3 {
  color: $title3-light-color;
  font-size: $title3-size;
  font-weight: 600;
  line-height: 22px;
  text-transform: uppercase;
}

.light-title-4 {
  color: $title4-light-color;
  font-size: $title4-size;
  line-height: 20px;
}

.light-title-5 {
  color: $title5-light-color;
  font-size: $title5-size;
  font-weight: 200;
}

.text {
  font-size: $font-size-m;
  font-weight: 200;
  line-height: 30px;
  margin: 10px 0 0;
}

.date {
  color: $second-color;
  font-size: $font-size-xxs;
}

.text-column {
  column-count: 2;
  column-gap: 30px;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media screen and (max-width: 620px) {
  .text-column {
    column-count: 1;
  }
}

@media screen and (max-width: 420px) {
  .title-section {
    .dark-title-1 {
      display: block;
      margin: -10px 0 0;
    }

    .subtitle {
      margin: 10px 0 0;
    }
  }
}
