.large-text-paragraph {
  @media screen and (min-width: 768px) {
    .header-section {
      .header-content {
        text-align: left;
      }
    }
  }

  .page-body {
    margin-bottom: 90px;
  }
}
