.thread-admin {
  .admin-export-section {
    .admin-content {
      text-align: center;

      .form-group {
        text-align: left;
        display: inline-block;

        .export-language-dropdown {
          margin-top: 20px;
          position: absolute;
        }
      }
    }

    .margin-l {
      margin-top: 70px;
    }
  }
}
