.hiddenThumb {
  display: none;
}

.thumbnails-nav {
  position: relative;

  .thumbnails-container {
    background-color: $white;
    border-top: $navbar-border;
    border-bottom: $navbar-border;
    height: $navbar-height+20px;
    overflow-x: scroll;
    overflow-y: hidden;
    position: fixed;
    width: 100%;
    z-index: 200;

    .thumbnails {
      display: -webkit-box;
      overflow-x: scroll;
    }
  }

  .thumb-img-container {
    float: left;
    min-height: 1px;
    width: 320px;
  }

  .thumb-img {
    background-size: cover;
    display: inline-block;
    height: 50px;
    margin: 15px 0;
    position: absolute;
    width: 80px;
    z-index: 10;

    &:hover {
      opacity: .5;

      ~ .color-box {
        display: block;
      }
    }
  }

  .thumb-title {
    color: $black;
    display: inline-block;
    font-family: $font-family4;
    font-size: $font-size-xs;
    height: 80px;
    margin: 0 0 0 90px;
    position: absolute;
    width: 180px;

    .thumb-title-inner {
      position: relative;
      transform: translateY(-50%);
      top: 50%;
      -webkit-transform: translateY(-50%);
    }
  }

  .active {
    border: 1px solid $first-color;
    opacity: .5;

    ~ .color-box {
      display: block;
    }
  }

  .active-title {
    font-family: $font-family3;
  }

  .color-box {
    background-color: $first-color;
    display: none;
    height: 50px;
    margin: 15px 0;
    position: absolute;
    width: 80px;
    z-index: 3;
  }
}

@media screen and (max-width: 600px) {
  .hiddenThumb {
    display: block;
  }
}

@media screen and (max-width: 1280px) {
  .thumbnails {
    padding: 0 0 0 15px;
  }
}