.thumbnails-nav {
  position: relative;

  .thumbnails-container {
    background-color: $white;
    border-top: $navbar-border;
    border-bottom: $navbar-border;
    height: $navbar-height+20px;
    overflow-x: visible;
    overflow-y: hidden;
    position: fixed;
    width: 100%;
    z-index: 200;

    .thumbnails {
      display: -webkit-box;
      overflow-x: visible;
    }
  }

  .thumb-img-container {
    float: left;
    min-height: 1px;
  }

  .thumb-img {
    background-size: cover;
    display: inline-block;
    position: absolute;
    z-index: 10;

    &:hover {
      opacity: .5;

      ~ .color-box {
        display: block;
      }
    }
  }

  .thumb-title {
    color: $black;
    font-family: $font-family4;
    font-size: $font-size-xs;
    height: 80px;
    margin: 0 0 0 90px;
    position: absolute;
    width: 180px;

    .thumb-title-inner {
      position: relative;
      transform: translateY(-50%);
      top: 50%;
      -webkit-transform: translateY(-50%);
    }
  }

  .active {
    border: 1px solid $first-color;
    opacity: .5;

    ~ .color-box {
      display: block;
    }
  }

  .active-title {
    font-family: $font-family3;
  }

  .color-box {
    background-color: $first-color;
    display: none;
    position: absolute;
    z-index: 3;
  }
}

@media screen and (min-width: 601px) {
  .hiddenThumb {
    display: none;
  }

  .thumbnails-nav {
    .thumbnails-container {
      padding: 0 15px; 
    }

    .thumb-title {
      display: inline-block;
    }

    .thumb-img-container {
      width: 320px;
    }

    .thumb-img {
      height: 50px;
      margin: 15px 0;
      width: 80px;
    }

    .color-box {
      height: 50px;
      margin: 15px 0;
      width: 80px;
    }
  }
}

@media screen and (max-width: 600px) {
  .hiddenThumb {
    display: block;
  }

  .thumbnails-nav {
    .thumb-title {
      display: none;
    }

    .thumbnails {
      padding: 0;
    }

    .thumb-img-container {
      width: 120px;
    }

    .thumb-img {
      height: 70px;
      margin: 5px;
      width: 110px;
    }

    .color-box {
      height: 70px;
      margin: 5px;
      width: 110px;
    }
  }
}