.timeline {
  height: 56px;

  .bar {
    background-color: $first-color;
    bottom: 0;
    height: 10px;
    position: absolute;
    z-index: 2;
  }

  .bar-bkg {
    background-color: $grey1;
    bottom: 0;
    height: 10px;
    position: absolute;
    width: 100%;
  }

  .pointer {
    fill: $first-color;
    position: absolute;
    z-index: 10;
  }

  .trsp-pointer {
    height: 51px;
  }

  .timeline-date {
    color: $first-color;
    font-size: $font-size-m;
    letter-spacing: $text-letter-spacing;
    margin-top: -30px;
    position: absolute;
    white-space: nowrap;
  }
}

.minimized-timeline {

  .active {
    background-color: $first-color;
  }

  .not-active {
    background-color: $grey5;
  }

  .timeline-number {
    border: 2px solid $white;
    border-radius: 18px;
    color: $white;
    font-size: $font-size-xxxs;
    height: 18px;
    line-height: 14px;
    padding: 0 0 0 1px;
    position: absolute;
    text-align: center;
    width: 18px;
    z-index: 2;

    .assembl-icon-checked {
      &:before {
        font-size: $font-size-xxxs;
      }
    }
  }

  .timeline-bar-1 {
    background-color: $grey5;
    height: 6px;
    margin: 6px 0 0 11px;
    position: absolute;
    width: 100px;
    z-index: 0;
  }

  .timeline-bar-2 {
    background-color: $first-color;
    height: 6px;
    margin: 6px 0 0 11px;
    position: absolute;
    z-index: 1;
  }

  .timeline-title {
    cursor: pointer;
    font-size: 10px;
    padding: 0 0 0 15px;
    position: absolute;
    text-align: center;
    top: 28px;
    width: 100px;
  }

  .txt-not-active {
    .timeline-link {
      color: $grey5;
    }

    &:hover {
      ~ .timeline-number {
        background-color: $first-color;
      }

      ~ .timeline-bar-1 {
        background-color: $first-color;
      }

      .timeline-link {
        color: $first-color;
      }
    }
  }

  .txt-active {
    .timeline-link {
      color: $first-color;
    }
  }

  .txt-active-bold {
    .timeline-link {
      color: $first-color;
      font-family: $font-family3
    }
  }

  .assembl-icon-down-dir:before {
    font-size: 15px;
  }
}
