.timeline {
  height: $navbar-height;

  .bar {
    background-color: $first-color;
    bottom: 0;
    height: 10px;
    position: absolute;
    z-index: 2;
  }

  .bar-bkg {
    background-color: $grey1;
    bottom: 0;
    height: 10px;
    position: absolute;
    width: 100%;
  }

  .pointer {
    fill: $first-color;
    position: absolute;
    z-index: 10;
  }

  .trsp-pointer {
    height: 51px;
  }

  .timeline-date {
    color: $first-color;
    font-size: $font-size-m;
    letter-spacing: $text-letter-spacing;
    margin-top: -30px;
    position: absolute;
    white-space: nowrap;
  }
}

.minimized-timeline {
  height: 100%;
  position: relative;
  flex-grow: 1;
  flex-basis: 0;
  display: flex;
  flex-direction: column;
  padding-bottom: 8px;

  .active {
    background-color: $first-color;
  }

  .not-active {
    background-color: $grey5;
  }

  .timeline-number {
    border: 2px solid $white;
    border-radius: 18px;
    display: inline-block;
    color: $white;
    font-size: $font-size-xxxs;
    height: 18px;
    line-height: 14px;
    padding: 0 0 0 1px;
    position: relative;
    text-align: center;
    width: 18px;
    z-index: 2;

    .assembl-icon-checked {
      &:before {
        font-size: $font-size-xxxs;
      }
    }
  }

  .timeline-graph {
    position: relative;
    margin-right: 3px;
    z-index: 1;

    .timeline-bars {
      display: inline-block;
      width: calc(100% - 10px);
      height: 9px;

      .timeline-bar-background {
        background-color: $first-color-light;
        height: 6px;
        position: absolute;
        width: 100%;
        z-index: 0;
        display: inline-block;
      }

      .timeline-bar-filler {
        background-color: $white;
        height: 6px;
        position: absolute;
        z-index: 1;
        display: inline-block;
      }
    }
  }

  .timeline-arrow {
    transition: none;
    position: absolute;
    left: calc(50% - 9px);
    height: 22px;
    width: 22px;
    background-color: $first-color;
    transform: rotate(45deg);
    bottom: -5px;
    display: none;
  }

  .timeline-title {
    cursor: pointer;
    font-size: 13px;
    text-align: center;

    .timeline-link {
      height: 100%;
    }
  }

  .txt-not-active {
    .timeline-link {
      color: $grey5;
      font-family: $font-family4;
    }
  }

  .txt-active-light {
    .timeline-link {
      color: $white;
      font-family: $font-family4;
    }
  }

  .txt-active-bold {
    .timeline-link {
      color: $white;
      font-family: $font-family3;
    }
  }

  .assembl-icon-down-dir:before {
    font-size: 15px;
  }

  &.active {
    .timeline-arrow {
      display: block;
    }

    .txt-active-light {
      .timeline-link {
        font-family: $font-family;
      }
    }

    .txt-not-active {
      ~ .timeline-graph {
        .timeline-number {
          background-color: $first-color;
        }

        .timeline-bar-background {
          background-color: $first-color;
        }
      }

      .timeline-link {
        color: $first-color;
      }
    }
  }
}
