.timeline {
  height: $navbar-height;

  .bar {
    background-color: $first-color;
    bottom: 0;
    height: 10px;
    position: absolute;
    z-index: 2;
  }

  .bar-bkg {
    background-color: $medium-grey;
    bottom: 0;
    height: 10px;
    position: absolute;
    width: 100%;
  }

  .pointer {
    fill: $first-color;
    position: absolute;
    z-index: 10;
    cursor: auto;
  }

  .trsp-pointer {
    height: 51px;
  }

  .timeline-date {
    color: $first-color;
    font-size: $font-size-m;
    letter-spacing: $text-letter-spacing;
    margin-top: -30px;
    position: absolute;
    white-space: nowrap;
  }
}

.timeline-container:last-child {
  border-top: 1px solid $first-color-light;
}

.menu-container {
  .menu-item {
    color: $first-color;
    padding: 5px 20px;
  }
}

.minimized-timeline {
  padding: 20px 20px;
  height: 100%;
  position: relative;
  flex-grow: 1;
  flex-basis: 0;
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  border-bottom: 1px solid $first-color-light;

  .active {
    background-color: $first-color;
  }

  .not-active {
    background-color: $light-grey;
  }

  .timeline-number {
    border: 2px solid $white;
    border-radius: 18px;
    display: inline-block;
    color: $white;
    font-size: $font-size-xxxs;
    height: 18px;
    line-height: 14px;
    padding: 0 0 0 1px;
    position: relative;
    text-align: center;
    width: 18px;
    z-index: 2;

    .assembl-icon-checked {
      &:before {
        font-size: $font-size-xxxs;
      }
    }
  }

  .timeline-title {
    cursor: pointer;
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: left;

    .arrow {
      color: $white;
      margin-right: 5px;
      height: 15px;

      &::before {
        font-size: 17px;
      }
    }

    .timeline-link {
      color: $first-color;
      height: 100%;
      padding-right: 10px;
    }
  }

  .txt-not-active {
    .timeline-link {
      color: $light-grey;
      font-family: $font-family4;
    }
  }

  .txt-active-bold {
    .timeline-link {
      color: $white;
      font-family: $font-family3;
    }
  }

  .assembl-icon-down-dir:before {
    font-size: 15px;
  }

  &.active {
    .timeline-arrow {
      display: block;
    }

    .txt-active-light {
      .timeline-link {
        font-family: $font-family3;
      }
    }

    .txt-not-active {
      ~ .timeline-graph {
        .timeline-number {
          background-color: $first-color;
        }

        .timeline-bar-background-container {
          background-color: $first-color;
        }
      }

      .timeline-link {
        color: $first-color;
      }
    }
  }
}

@media screen and (max-width: $screen-xxs-max) {
  .timeline {
    display: none;

    .timeline-date {
      display: none;
    }
  }
}
