.urls-container {
  margin-top: 15px;
  margin-bottom: 15px;
  display: block;

  .url-container:last-child {
    margin-bottom: 0;
  }
}

.url-container {
  display: block;
  border-left: solid 3px #e8e8e8;
  padding-left: 10px;
  margin-bottom: 15px;
  margin-top: 15px;

  .url-header,
  .url-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px 0;
  }

  .url-header-avatar,
  .url-footer-avatar {
    display: block;
    width: 16px;
    height: 16px;
    border-radius: 3px;
    border-width: 0.5px;
    border-color: #d6d7da;
    margin-bottom: 2px;
  }

  .url-header-title,
  .url-footer-title {
    display: flex;
    font-size: 15px;
    color: #505050;
    justify-content: space-around;
    padding-left: 5px;
  }

  .url-contribution-title {
    color: #337ab7;
    font-size: 15px;
    font-weight: bold;
    padding-left: 5px;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  .url-contribution-avatar {
    width: 20px;
    height: 20px;
    border-radius: 3px;
  }

  .url-link {
    color: #337ab7;
    font-weight: bold;
    text-decoration: none;
    display: block;

    &:hover {
      text-decoration: underline;
    }
  }

  .url-content-container {
    display: block;

    .url-description {
      display: block;
      color: #505050;
      padding-left: 5px;
      font-size: 12px;
    }

    .url-media-container {
      display: block;
      margin-top: 10px;
      margin-bottom: 10px;

      .url-img-preview {
        display: block;
        min-height: 250px;
        border-radius: 3px;
        border-width: 0.5px;
        border-color: #d6d7da;
        background-color: rgba(0, 0, 0, 0);
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-position-x: center;
        background-position-y: center;
        background-size: cover;
        border-style: solid;
      }
    }
  }

  .url-author-name {
    color: #505050;
    font-size: 11px;
    padding-left: 5px;
  }
}

.url-iframe {
  width: 100% !important;
  min-height: 250px;
}
