<div id="admin" ng-controller="adminConfigureInstanceCtl" ng-init="init()">

    <button onclick="window.history.back()">{{'historyBack' | translate}}</button>

    <h1>{{'adminConfigureInstanceTitle' | translate}}</h1>

    <p>
        {{'adminConfigureInstanceCurrent' | translate}} <a href="{{ widget_endpoint }}">{{ widget_uri }}</a>.

        <span ng-if="target != null">
            {{'adminConfigureInstanceCurrentUse' | translate}}
            <a href="?#/?config={{ widget_uri }}&idea={{ target }}" rel="noopener noreferrer" target="_blank">{{'adminConfigureInstanceCurrentUseHere' | translate}}</a>.
        </span>
    </p>

    <div>
        <h2>{{'adminConfigureInstanceSetDeckTitle' | translate}}</h2>

        <div>
            <p>
                {{'adminConfigureInstanceSetDeckDetails' | translate}}
            </p>

            <form id="widget_configure_instance" method="POST">
                <div ng-repeat="available_deck in available_decks">
                    <label for="widget_configure_instance_{{ $index }}">
                        <input type="radio" ng-model="$parent.selected_deck" value="{{ available_deck.url }}" name="selected_deck" id="widget_configure_instance_{{ $index }}" /> {{ available_deck.label }} (<a href="{{ available_deck.url }}">link</a>)
                    </label>
                </div>
                <div>
                    <label for="widget_configure_instance_other">
                        <input type="radio" ng-model="selected_deck" name="selected_deck" value="other" id="widget_configure_instance_other" /> Other: URL 
                        <input type="text" size="50" ng-model="selected_deck_other" ng-disabled="selected_deck != 'other'" ng-required="selected_deck == 'other'"/>
                    </label>
                </div>

                <br/>
                <br/>

                <input type="submit" value="{{'adminConfigureInstanceValidate' | translate}}"/>
                <span id="widget_configure_instance_result"></span>
            </form>
        </div>
    </div>

</div>