<div class="cards" ng-init="init()">
    <div id="cards-container">
        <div class="card-browser">
            <div class="inspire-card">
                <div class="card-top"></div>
                <div class="card-content" ng-bind-html="displayed_cards[displayed_card_index].body"></div>
                <div class="card-bottom"></div>
            </div>
            <div id="slot-machine" ng-class="{'pointer': cards.length > 0}" ng-click="pickNextCard()">
                <img src="app/img/slot-machine.png">
            </div>
            <div id="card-bottom-control">
                <a id="previousCardButton" class="glyphicon glyphicon-chevron-left pointer"
                   ng-class="{'inactive': displayed_card_index == 0}" ng-click="previousCard()"></a>
                <a id="nextCardButton" class="glyphicon glyphicon-chevron-right pointer"
                   ng-class="{'inactive': displayed_card_index == displayed_cards.length-1}" ng-click="nextCard()"></a>
                <!--
                <a class="glyphicon glyphicon-random pointer" ng-click="pickNextCard()" ng-class="{'inactive': cards.length == 0}"></a>
                -->
            </div>
        </div>
        <!--<div class="bs-callout bs-callout-warning">
            <p class="ng-binding">{{displayed_cards[displayed_card_index].question}}</p>
        </div>-->
    </div>
    <div class="card-comment">
        <p ng-show="!canPost && canNotPostReason == 'no_endpoint'">
            {{ 'canNotPostBecauseNoEndpoint' | translate }}
        </p>
        <form role="form" ng-submit="sendIdea()" ng-hide="message_is_sent || !canPost">
            <p>
                {{ 'doesThisCardInspireYou' | translate }}
            </p>
            <div class="form-group">
                <input type="text" ng-model="formData.title" class="form-control" id="messageTitle"
                       placeholder="{{'title' | translate}}" required>
            </div>
            <div class="form-group">
                <textarea id="messageContent" ng-model="formData.description" class="form-control" rows="3" placeholder="description"
                          required></textarea>
            </div>
            <button type="submit" class="btn btn-primary">{{'send' | translate}}</button>
        </form>
        <div ng-show="message_is_sent">
            <p>{{ 'messageSuccessfullyPosted' | translate }}</p>
            <button type="submit" class="btn btn-primary mhl" ng-click="resumeInspiration()">{{ 'resumeInspirationButton' | translate }}</button>
            <button type="submit" class="btn btn-secondary mhl" ng-click="exit()">{{ 'exitButton' | translate }}</button>
        </div>
    </div>
</div>
