.slider {
  margin-top: 35px;
  margin-bottom: 65px;
}

.sliderText {
  margin-bottom: -10px;
  font-family: $font-family3;
  font-size: 14px;
}

.sliderIcon {
  margin-top: -25px;
  padding-left: 50px;
  padding-right: 50px;
  z-index: 1005;
}
