
<div id="admin" ng-controller="adminConfigureInstanceSetAssociatedIdeasCtl" ng-init="init()">

    <button onclick="window.history.back()">Back</button>

    <h1>Configure a creativity widget instance</h1>

    <p>
        Currently selected widget is <a href="{{ widget_endpoint }}">{{ widget_uri }}</a>.

        <span ng-if="target != null">
            The URL to interact with this widget (on one of its votable ideas) is <a href="?config={{ widget_uri }}&target={{ target }}" rel="noopener noreferrer" target="_blank">here</a>.
        </span>
    </p>

    <div id="step_get_data" ng-show="current_step == 1">
        <p>
            Getting data from server about the widget instance "<strong>{{ widget_uri }}</strong>"...
        </p>
    </div>

    <div id="step_select_criteria" ng-show="current_step == 2">
        <h2>Select associated ideas</h2>
        <div ng-show="current_step == 2 && current_substep == 1">
            <p>
                Loading ideas...
            </p>
        </div>
        <div ng-show="current_step == 2 && current_substep == 2">
            <p>
                Please select the ideas which will be associated to this widget. You can select multiple ideas with CTRL-click.
            </p>
            <form id="widget_set_associated_ideas" method="POST">
                <select multiple size="20" ng-model="associated_ideas" ng-options="item as item.shortTitle for item in ideas track by item['@id']"></select>
                <br/>
                <input type="submit" value="Validate these ideas" />
                <span id="widget_select_associated_ideas_result"></span>
            </form>
        </div>
    </div>

</div>
