<section id="colors" class="cd-colors">
    <h2>Colors</h2>

    <div class="gr bx-color">
        {% set color_list = {
        'purple':'#9013FE',
        'purple1':'#A846FE',
        'purple2':'#C078FE',
        'purple3':'#D8ABFF',
        'purple4':'#EFDEFF'
        }
        %}

        {% for color in color_list|sort %}
        <div class="gu gu-1of4 gu-s-1of1" class="bg-{{color}}">
            <div class="bg bg-{{color}}"></div>
            <pre><code class="language-scss"><span class="hljs-at_rule">${{color}}: <span class="hljs-hexcolor">{{color_list[color]}}</span>;</span></code></pre>
        </div>
        {% endfor %}

    </div>

</section>
