<section id="typography" class="cd-typography">
    <h2>Typography</h2>

    <div class="cd-box">
        <h1>Heading, <span></span></h1>
        <p>Aa - <span></span>. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis voluptate distinctio reprehenderit, autem deleniti ad <a href="#0">voluptatum eaque</a>. Optio ea aperiam nisi distinctio nemo repellat, voluptate fugiat. Quidem neque illum, blanditiis!</p>
    </div>
</section>
