<h3 class="h3">Default</h3>

<div class="rc rcss">
  <a class="img-left avatar" href="#"><img src="/user/id/12/avatar/30" width="30" height="30"></a>
  <div class="bd">
  <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.</p>
  </div>
</div>

<div class="rc rcss mtl">
  <a class="img-left avatar" href="#"><img src="/user/id/12/avatar/30" width="30" height="30"></a>
  <div class="bd">
  <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.</p>
  </div>
</div>


<h3 class="h3 mts">Rounded</h3>

<div class="rc rcss mtl">
  <a class="img-left avatar img-rounded" href="#"><img src="/user/id/12/avatar/30" width="30" height="30"></a>
  <div class="bd">
  <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.</p>
  </div>
</div>


<div class="rc rcss mtl">
  <a class="img-left avatar img-rounded" href="#"><img src="/user/id/12/avatar/30" width="30" height="30"></a>
  <div class="bd">
  <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.</p>
  </div>
</div>