<h4 class="h4 mtl">Labels</h4>
<span class="ui-label">123</span>
<span class="ui-label-info">Found 32 messages (6 unread)</span>


<h4 class="h4 mtl">Tags</h4>

<span class="ui-tag">
  Not read messages
  <a class="remove" href="#">
    <i class="icon-delete"></i>
  </a>
</span>

<span class="ui-tag">
  Orphan Messages
  <a class="remove" href="#">
    <i class="icon-delete"></i>
  </a>
</span>
