<span class="ui-badge">123</span>
<span class="ui-badge">hello world</span>

<h4 class="h4">Tags</h4>

<span class="ui-tag">
  Consectetur
  <a class="remove" href="#">
    <i class="icon-delete"></i>
  </a>
</span>