<div class="bar">
    <div class="bar-left">.bar-left</div>
    <div class="bar-center">.bar</div>
    <div class="bar-right">.bar-right</div>
</div>

<div class="spacer"></div>

<h3>Main bar</h3>
<div class="bar bar--main">
    <div class="bar-left">.bar-left</div>
    <div class="bar-center">.bar.bar--main</div>
    <div class="bar-right">.bar-right</div>
</div>

<div class="spacer"></div>

<h3>Title bar</h3>
<div class="bar bar--title">
    <div class="bar-left">.bar-left</div>
    <div class="bar-center">.bar.bar--title</div>
    <div class="bar-right">.bar-right</div>
</div>
