<h3 class="h3">Box default</h3>

<div class="bx bx-default mbm">
  <h2>Box default</h2>
  Box content
</div>

<div class="bx bx-empty mbm">
    Box Drag and Drop
</div>


<div class="bx bx-default mbm">
    <h2>Box default</h2>
    Box content
</div>

<div class="code-content visible">
<pre><code class="language-html"><span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">"bx bx-default mbm"</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">h2 </span><span class="hljs-attribute">class</span>=<span class="hljs-value">""</span>&gt;</span>Box default
    <span class="hljs-tag">&lt;/<span class="hljs-title">h2</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span></code></pre>

    <div class="hidden">
        <div class="copy-code">
            <button type="button" class="btn btn-default btn-large">
                copy code
            </button>
        </div>
    </div>
</div>


<!--<div class="bx bx-alert-success">
	<button class="btn btn-cancel btn-xs bx-close" type="button">
		<i class="icon-delete"></i>
	</button>
 	Your settings were saved.
</div>

<div class="bx bx-alert-error">
	<button class="btn btn-cancel btn-xs bx-close" type="button">
		<i class="icon-delete"></i>
	</button>
 	Your settings were failed.
</div>-->


