<h3 class="h3">Box default</h3>

<div class="bx">
  <button class="btn btn-cancel btn-xs bx-close" type="button">
    <i class="icon-delete"></i>
  </button>
  Box with close button
</div>

<div class="bx bx-default mbm">
  <h2>Box default</h2>
  Box content
</div>

<div class="bx bx-empty">
  <h2 class="h-bx">Box empty</h2>
  Box content
</div>

<div class="bx bx-alert-warning">
  <h2 class="h-bx">Box warning</h2>
  You must be logged in to comment. <a href="#">Click here to login.</a>
</div>

