<a class="button">Button</a>
<h3>Iconed button</h3>
<a class="iconbutton icon-reorder"> </a>
<a class="iconbutton icon-reorder">
    <i class=""></i>
    <span class="iconbutton-badge">6</span>
</a>

<h3>Arrow button</h3>
<a class="arrowbutton">.arrowbutton</a>
<br />

<a class="arrowbutton arrowbutton--right">.arrowbutton--right</a>
