<div class="gr">

  <p class="mbs">Default buttons</p>
  <div class="gu gu-1of1 gu-m-1of1 pvs">
    <a class="btn btn-default btn-sm">small</a>
    <a class="btn btn-default">default</a>
  </div>

  <p class="mbs">Cancel buttons</p>
  <div class="gu gu-1of1 gu-m-1of1 pvs">
    <a class="btn btn-cancel btn-sm">small</a>
    <a class="btn btn-cancel">default</a>
  </div>

  <p class="mbs">Primary buttons</p>
  <div class="gu gu-1of1 gu-m-1of1 pvs">
    <a class="btn btn-primary btn-sm">small</a>
    <a class="btn btn-primary">default</a>
  </div>

  <p class="mbs">Secondary buttons</p>
  <div class="gu gu-1of1 gu-m-1of1 pvs">
    <a class="btn btn-secondary btn-sm">small</a>
    <a class="btn btn-secondary">default</a>
  </div>

  <p class="mbs">Social button</p>
    <div class="gu gu-1of1 gu-m-1of1 pvs">
			<button class="facebook-bg mbs">sign in with facebook</button>
			<button class="twitter-bg mbs">sign in with twitter</button>
			<button class="google-bg mbs">sign in with google+</button>
      <div class="openid-icon-bg"></div><input type="text" class="openid-bg" name="openid_identifier" class="form-control" />
    </div>

</div>
