<div class="gr">

  <p class="mbs">Default buttons</p>
  <div class="gu gu-1of1 gu-m-1of1 pvs">
    <a class="btn btn-default btn-xs">xsmall</a>
    <a class="btn btn-default btn-sm">small</a>
    <a class="btn btn-default">default</a>
  </div>

  <div class="code-content">

  </div>

  <p class="mbs">Cancel buttons</p>
  <div class="gu gu-1of1 gu-m-1of1 pvs">
    <a class="btn btn-cancel btn-xs">xsmall</a>
    <a class="btn btn-cancel btn-sm">small</a>
    <a class="btn btn-cancel">default</a>
  </div>

  <p class="mbs">Primary buttons</p>
  <div class="gu gu-1of1 gu-m-1of1 pvs">
    <a class="btn btn-primary btn-xs">xsmall</a>
    <a class="btn btn-primary btn-sm">small</a>
    <a class="btn btn-primary">default</a>
  </div>

  <p class="mbs">Secondary buttons</p>
  <div class="gu gu-1of1 gu-m-1of1 pvs">
    <a class="btn btn-secondary btn-xs">xsmall</a>
    <a class="btn btn-secondary btn-sm">small</a>
    <a class="btn btn-secondary">default</a>
  </div>

</div>
