<a class="button">.button</a>
<a class="button button--condensed">.button.button--condensed</a>
<a class="button is-disabled">.button.is-disabled</a>

<h3>Grouped button</h3>
<div class="buttongroup">
    <a class="button">.button:first-child</a>
    <a class="button">.button</a>
    <a class="button">.button:last-child</a>
</div>

<div class="spacer"></div>

<div class="buttongroup">
    <a class="button button--condensed">.button.button--condensed:first-child</a>
    <a class="button button--condensed">.button.button--condensed</a>
    <a class="button button--condensed">.button.button--condensed:last-child</a>
</div>

<div class="spacer"></div>

<div class="buttongroup">
    <a class="button button--condensed"> <i class="icon-left-dir"></i> </a>
    <a class="button button--condensed"> <i class="icon-right-dir"></i> </a>
</div>


<h3>Iconed button</h3>
<a class="iconbutton icon-user"> </a>

<h3>Arrow button</h3>
<a class="arrowbutton">.arrowbutton</a>
<a class="arrowbutton arrowbutton--right">.arrowbutton--right</a>

<h3>Bar button</h3>
<a class="barbutton">.barbutton</a>
<a class="barbutton is-activated">.barbutton.is-activated</a>
