<table class="table">
<thead>
  <tr>
    <th>Value</th>
    <th>Description</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td><code>.btn-default</code></td>
    <td><button class="btn btn-default">active</button></td>
  </tr>
  <tr>
    <td><code>.btn-bright</code></td>
    <td><button class="btn btn-bright">bright</button></td>
  </tr>
  <tr>
    <td><code>.btn-cancel</code></td>
    <td><button class="btn btn-cancel">cancel</button></td>
  </tr>
  <tr>
    <td><code>.btn-primary</code></td>
    <td><button class="btn btn-primary">primary</button></td>
  </tr>
  <tr>
    <td><code>.btn-secondary</code></td>
    <td><button class="btn btn-secondary">secondary</button></td>
  </tr>
  <tr>
    <td><code>.btn-primary .btn-sm</code></td>
    <td><button class="btn btn-primary btn-sm">small primary</button></td>
  </tr>
  <tr>
    <td><code>.btn-secondary .btn-sm</code></td>
    <td><button class="btn btn-secondary btn-sm">small secondary</button></td>
  </tr>
  <tr>
      <td><code>.btn-primary .btn-xs</code></td>
      <td><button class="btn btn-primary btn-xs">xsmall primary</button></td>
    </tr>
</tbody>
</table>
