<div class="sg-description">
    A fancy checkbox
</div>

<label class="chk">
    <input type="checkbox" class="chk-checkbox" />
    
    <span class="chk-label"></span>
</label>

.chk

<div class="spacer"></div>


<div style="position:relative; line-height: 45px; padding-left: 30px; ">
    <label class="chk chk--topleft">
        <input type="checkbox" class="chk-checkbox" />
        
        <span class="chk-label"></span>
    </label>

    .chk.chk--topleft
</div>
