
{% set color_list = {'purple':'#B879E2','purple1':'#6C0AAB','gray':'#7F8C8D', 'gray1':'#888888', 'gray2':'#515151', 'gray3':'#ECF0F1', 'orange':'#f0c36d', 'black':'#000000', 'yellow1':'#fcf8e3', 'blue':'#dbf2ff'} %}


{% for color in color_list %}

  <div class="bx-color fl tac mbs">
    <div class="color {{color}} tac"></div>
    <code class="code">${{color}}</code>
    <br>
    <code class="code">{{color_list[color]}}</code>
  </div>

{% endfor %}