<span class="bx-color purple1 dispb fl mls tac">purple1</span>
<span class="bx-color gray dispb fl mls tac">gray</span>
<span class="bx-color gray1 dispb fl mls tac">gray1</span>
<span class="bx-color gray2 dispb fl mls tac">gray2</span>
<span class="bx-color gray3 dispb fl mls tac">gray3</span>
<span class="bx-color orange dispb fl mls tac">orange</span>
<span class="bx-color black dispb fl mls tac">black</span>
<span class="bx-color yellow1 dispb fl mls tac">yellow1</span>
<span class="bx-color blue dispb fl mls tac">blue</span>