<span class="bx-color purple dispb fl mls tac">purple</span>
<span class="bx-color gray dispb fl mls tac">gray</span>
<span class="bx-color black dispb fl mls tac">black</span>
<span class="bx-color yellow dispb fl mls tac">yellow</span>
<span class="bx-color blue dispb fl mls tac">blue</span>