<div style="height: 150px;">

    <div class="dropdown">
        <span class="dropdown-label">How about a magic trick?</span>
        <ul class="dropdown-list">
            <li class="dropdown-listitem">Item 1</li>
            <li class="dropdown-listitem">Item 2</li>
            <li class="dropdown-listitem">Item 3</li>
        </ul>
    </div>


</div>
