<div style="height: 300px;">

    <div class="dropdown" style="position: relative; z-index: 0; ">
        <span class="dropdown-label" style="border: solid 1px red;">How about a magic trick?</span>
        <ul class="dropdown-list">
            <li class="dropdown-listitem">Item 1</li>
            <li class="dropdown-listitem">Item 2</li>
            <li class="dropdown-listitem">Item 3</li>
        </ul>
    </div>


</div>
