{% macro label_options() -%}
<span class="emaillist-label-options">
    <a class="iconbutton icon-pencil"></a>
    <a class="iconbutton icon-rearrangeemail"></a>
    <a class="iconbutton icon-copyfolder"></a>
</span>
{%- endmacro %}

<ul class="emaillist">
    <li class="emaillist-item" data-emaillist-level="1">
        <span class="emaillist-label">A simple item in email list (.emaillist-item)</span>
    </li>

    <li class="emaillist-item" data-emaillist-level="1">
        <span class="emaillist-label">
            <span class="emaillist-label-arrow"></span>
            Item level 1 closed with children
        </span>
    </li>

    <li class="emaillist-item is-open" data-emaillist-level="1">
        <span class="emaillist-label">
            <span class="emaillist-label-arrow"></span>
            Item level 1 open with children
        </span>
    </li>

    <li class="emaillist-item" data-emaillist-level="2">
        <span class="emaillist-label">Item level 2</span>
    </li>

    <li class="emaillist-item" data-emaillist-level="2">
        <span class="emaillist-label">
            <span class="emaillist-label-arrow"></span>
            Item level 2 with children
        </span>
    </li>

    {% for i in '1234' %}
        <li class="emaillist-item is-open" data-emaillist-level="{{i}}">
            <span class="emaillist-label">
                {% if not loop.last %}<span class="emaillist-label-arrow"></span>{% endif %}
                Item level {{i}}
            </span>
            <div class="fixedcounter">{{i}}</div>
        </li>
    {% endfor %}
</ul>

<div class="spacer"></div>

<h3>Email list with checkboxes</h3>
<ul class="emaillist">
    {% for i in "1234" %}
    <li class="emaillist-item is-open" data-emaillist-level="{{i}}">
        <span class="emaillist-checkbox">
            <input type="checkbox" />
        </span>
        <span class="emaillist-label">
            {% if not loop.last %}<span class="emaillist-label-arrow"></span>{% endif %}
            List item with checkbox level {{i}}
            {{ label_options() }}
        </span>
    </li>
    {% endfor %}
</ul>

<div class="spacer"></div>

<h3>Email list Dark ( .emaillist--dark )</h3>
<ul class="emaillist emaillist--dark">
    <li class="emaillist-item">
        <span class="emaillist-label">
            Simple Item
        </span>
    </li>
    {% for i in '1234' %}
        <li class="emaillist-item is-open" data-emaillist-level="{{i}}">
            <span class="emaillist-label">
                {% if not loop.last %}<span class="emaillist-label-arrow"></span>{% endif %}
                Item level {{i}}
            </span>
            <div class="fixedcounter">{{i}}</div>
        </li>
    {% endfor %}
</ul>
