{% macro label_options() -%}
<span class="emaillist-label-options">
    <a class="iconbutton iconbutton--fx icon-pencil"></a>
    <a class="iconbutton iconbutton--fx icon-rearrangeemail"></a>
    <a class="iconbutton iconbutton--fx icon-copyfolder"></a>
</span>
{%- endmacro %}

<ul class="emaillist">
    <li class="emaillist-item" data-emaillist-level="1">
        <span class="emaillist-label">
            <span class="emaillist-label-arrow"></span>
            {{ 'Simple list item with children ' * 8 }}
            {{ label_options() }}
        </span>
    </li>
    <li class="emaillist-item is-hidden" data-emaillist-level="2">
        <span class="emaillist-label">
            Child level 2
            {{ label_options() }}
        </span>
    </li>
    <li class="emaillist-item is-hidden" data-emaillist-level="2">
        <span class="emaillist-label">
            <span class="emaillist-label-arrow"></span>
            Child level 2
            {{ label_options() }}
        </span>
    </li>
    <li class="emaillist-item is-hidden" data-emaillist-level="3">
        <span class="emaillist-label">
            Child level 3
            {{ label_options() }}
        </span>
    </li>
    <li class="emaillist-item" data-emaillist-level="1">
        <span class="emaillist-label">
            Simple email
            {{ label_options() }}
        </span>
    </li>
    {% for i in '1234' %}
        <li class="emaillist-item{% if not loop.first %} is-hidden{% endif %}" data-emaillist-level="{{i}}">
            <span class="emaillist-label">
                {% if not loop.last %}<span class="emaillist-label-arrow"></span>{% endif %}
                Email level {{i}}
                {{ label_options() }}
            </span>
            <div class="fixedcounter">{{i}}</div>
        </li>
    {% endfor %}
</ul>

<div class="spacer"></div>

<h3>Email list with checkboxes</h3>
<ul class="emaillist">
    {% for i in "1234" %}
    <li class="emaillist-item {% if not loop.first %} is-hidden{% endif %}" data-emaillist-level="{{i}}">
        <span class="emaillist-checkbox">
            <input type="checkbox" />
        </span>
        <span class="emaillist-label">
            {% if not loop.last %}<span class="emaillist-label-arrow"></span>{% endif %}
            List item with checkbox level {{i}}
            {{ label_options() }}
        </span>
    </li>
    {% endfor %}
</ul>

<div class="spacer"></div>

<h3>Email list Dark ( .emaillist--dark )</h3>
<ul class="emaillist emaillist--dark">
    <li class="emaillist-item">
        <span class="emaillist-label">
            Simple email
        </span>
    </li>
    {% for i in '1234' %}
        <li class="emaillist-item{% if not loop.first %} is-hidden{% endif %}" data-emaillist-level="{{i}}">
            <span class="emaillist-label">
                {% if not loop.last %}<span class="emaillist-label-arrow"></span>{% endif %}
                Email level {{i}}
            </span>
            <div class="fixedcounter">{{i}}</div>
        </li>
    {% endfor %}
</ul>
