<table class="table">
<thead>
  <tr>
    <th>Value</th>
    <th>Description</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td><code>.form-control</code></td>
    <td><input type="text" class="form-control" placeholder="Enter your username" /></td>
  </tr>
</tbody>
</table>
