<div class="form">
    
    <label class="formlabel">.formlabel</label>
    
    <div class="spacer"></div>

    .defaultfield<br />
    <input type="text" class="defaultfield" placeholder="Placeholder" />

    <div class="spacer"></div>

    .formfield<br />
    <input type="text" class="formfield" />

    <div class="spacer"></div>

    .formtextarea<br />
    <textarea cols="30" rows="10" class="formtextarea"></textarea>

</div>
