<p>The grid is a percentage-based, nestable grid system. Each grid row (.gr) takes up 100% of the parent containers' width and can contain up to 5 grid units (.gu). These grid units can then contain nested grid rows, maximizing flexibility and laying the foundations for a responsive layout.</p>
<p class="mtxs">When creating layouts, it is often useful to have a guide. To do this just add the .gr-zebra class to your grid row (.gr)</p>

<div id="grid-content" class="mts">
  <div class="gr gr-zebra grsxs mbs">
   <div class="gu gu-1of5"> .gu .gu-1of5 </div>
   <div class="gu gu-1of5"> .gu .gu-1of5 </div>
   <div class="gu gu-1of5"> .gu .gu-1of5 </div>
   <div class="gu gu-1of5"> .gu .gu-1of5 </div>
   <div class="gu gu-last"> .gu .gu-last </div>
  </div>
  <div class="gr gr-zebra mbs">
   <div class="gu gu-1of4"> .gu .gu-1of4 </div>
   <div class="gu gu-1of4"> .gu .gu-1of4 </div>
   <div class="gu gu-1of4"> .gu .gu-1of4 </div>
   <div class="gu gu-last"> .gu .gu-last </div>
  </div>
  <div class="gr gr-zebra mbs">
   <div class="gu gu-1of3"> .gu .gu-1of3 </div>
   <div class="gu gu-1of3"> .gu .gu-1of3 </div>
   <div class="gu gu-last"> .gu .gu-last </div>
  </div>
  <div class="gr gr-zebra">
   <div class="gu gu-1of1"> .gu .gu-1of1 </div>
  </div>

  <div class="mts">
  <pre>
    <code class="language-html"><span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">"gr"</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">"gu gu-1of5"</span>&gt;</span> ... <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">"gu gu-1of5"</span>&gt;</span> ... <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">"gu gu-1of5"</span>&gt;</span> ... <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">"gu gu-1of5"</span>&gt;</span> ... <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">"gu gu-last"</span>&gt;</span> ... <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span></code>
  </pre>

  </div>
</div>