<div class="bootstrap-growl alert alert-success" style="z-index: 9999; width: 250px;">
<a class="close" data-dismiss="alert" href="#">×</a>yes it works</div>

<div class="bootstrap-growl alert alert-warning" style="z-index: 9999; width: 250px;">
<a class="close" data-dismiss="alert" href="#">×</a>yes it works</div>

<div class="bootstrap-growl alert alert-info" style="z-index: 9999; width: 250px;">
<a class="close" data-dismiss="alert" href="#">×</a>yes it works</div>

<div class="bootstrap-growl alert alert-danger" style="z-index: 9999; width: 250px;">
<a class="close" data-dismiss="alert" href="#">×</a>yes it works</div>