<h3 class="h3" id="spacing">Spacing</h3>
<p>Usage: <code class=" language-css">.[type][direction][size]</code>. Example: <code>.prl</code> <span>(applies a large padding to the right side of the element)</span>.</p>
<table class="table">
<thead>
  <tr>
    <th>Value</th>
    <th>Description</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td><code class=" language-css">[type]</code></td>
    <td>Margin (<code>m</code>) or padding (<code>p</code>).</td>
  </tr>
  <tr>
    <td><code class=" language-css">[direction]</code></td>
    <td>
      <p>The side or axis on which to apply the spacing:</p>
      <ul class="link-list">
        <li><code class=" language-css">a</code> All</li>
        <li><code class=" language-css">t</code> Top</li>
        <li><code class=" language-css">r</code> Right</li>
        <li><code class=" language-css">b</code> Bottom</li>
        <li><code class=" language-css">l</code> Left</li>
        <li><code class=" language-css">h</code> Horizontal</li>
        <li><code class=" language-css">v</code> Vertical</li>
      </ul>
  </td></tr>
  <tr>
    <td><code class=" language-css">[size]</code></td>
    <td>
    <p></p>
      </p>
      <ul class="link-list">
        <li><code class=" language-css">n</code> Null</li>
        <li><code class=" language-css">xs</code> eXtra Small</li>
        <li><code class=" language-css">s</code> Small</li>
        <li><code class=" language-css">m</code> Medium</li>
        <li><code class=" language-css">l</code> Large</li>
        <li><code class=" language-css">xl</code> eXtra Large</li>
      </ul>
    </td>
  </tr>
</tbody>
</table>

<h3 class="h3" id="border-radius">Border radius</h3>
<p>Usage: <code class=" language-css">.br[direction][size]</code>. Example: <code class=" language-css">.brtlm</code> <span>(applies a medium-sized border radius to the top-left corner of the element).</span></p>
<table class="table">
  <thead>
    <tr>
      <th>Value</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><code class=" language-css">[direction]</code></td>
      <td>The side or corner on which to apply the border radius. Values can be all (<code class=" language-css">a</code>), top left (<code class=" language-css">tl</code>), top right (<code class=" language-css">tr</code>), bottom right (<code class=" language-css">br</code>), bottom left (<code class=" language-css">bl</code>), top (<code class=" language-css">t</code>), left (<code class=" language-css">l</code>), bottom (<code class=" language-css">b</code>), or right (<code class=" language-css">r</code>).</td>
    </tr>
    <tr>
      <td><code class=" language-css">[size]</code></td>
      <td>One of 3 sizes, Values can be small (<code class=" language-css">s</code>), medium (<code class=" language-css">m</code>), or large(<code class=" language-css">l</code>).</td>
    </tr>
  </tbody>
</table>

<h3 class="h3" id="text-alignment">Text alignment</h3>
<p>Usage: <code class=" language-css">.ta[alignment]</code>. Example: <code class=" language-css">.tac</code> <span>(centers text within the element).</span></p>
<table class="table">
<thead>
  <tr>
    <th>Value</th>
    <th>Description</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td><code class=" language-css">[alignment]</code></td>
    <td>
      <p>The alignment of the text. Values can be:</p>
      <ul class="link-list">
        <li><code class=" language-css">l</code> Left</li>
        <li><code class=" language-css">r</code> Right</li>
        <li><code class=" language-css">c</code> Center</li>
        <li><code class=" language-css">j</code> Justify</li>
        <li><code class=" language-css">i</code> Inherit</li>
      </ul>
    </td>
  </tr>
  <tr>
    <td><code class=" language-css">.hyph</code></td>
    <td>This class activates hyphenation on paragraphs for example, or on a generic container. This is a progressive enhancement, it is now supported by Firefox, IE10, and Safari. The browser must know the language, for example with <code class=" language-markup"><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>html</span> <span class="token attr-name">lang</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>en<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span></code> for a proper hyphenation.</td>
  </tr>
</tbody>
</table>

<h3 class="h3" id="block-alignment">Block layout</h3>
<p>Usage: <code class=" language-css">.disp[layout]</code>. Example: <code class=" language-css">.dispi</code> <span>(makes an element inline)</span>.</p>
<table class="table">
<thead>
  <tr>
    <th>Value</th>
    <th>Description</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td><code class=" language-css">[layout]</code></td>
    <td>
      <p>The block layout. Values can be:</p>
      <ul class="link-list">
        <li><code class=" language-css">b</code> Block</li>
        <li><code class=" language-css">ib</code> Inline block</li>
        <li><code class=" language-css">i</code> Inline</li>
      </ul>
    </td>
  </tr>
</tbody>
</table>

<h3 class="h3" id="block-alignment">Block alignment</h3>
<p>Usage: <code class=" language-css">.ba[alignment]</code>. Example: <code class=" language-css">.bac</code> <span>(centers a block element within its container)</span>.</p>
<table class="table">
<thead>
  <tr>
    <th>Value</th>
    <th>Description</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td><code class=" language-css">[alignment]</code></td>
    <td>
      <p>The alignment of the block. Values can be:</p>
      <ul class="link-list">
        <li><code class=" language-css">l</code> Left</li>
        <li><code class=" language-css">r</code> Right</li>
        <li><code class=" language-css">c</code> Center</li>
      </ul>
    </td>
  </tr>
</tbody>
</table>

<h3 class="h3" id="block-alignment">Vertical alignment</h3>
<p>Usage: <code class=" language-css">.va[alignment]</code>. Example: <code class=" language-css">.vam</code> <span>(vertically alignment of an element to the middle).</span></p>
<table class="table">
<thead>
  <tr>
    <th>Value</th>
    <th>Description</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td><code class=" language-css">[alignment]</code></td>
    <td>
      <p>The vertical alignment. Values can be:</p>
      <ul class="link-list">
        <li><code class=" language-css">m</code> Middle</li>
        <li><code class=" language-css">b</code> Bottom</li>
        <li><code class=" language-css">t</code> Top</li>
      </ul>
    </td>
  </tr>
</tbody>
</table>

<h3 class="h3" id="misc">Miscellaneous</h3>
<table class="table">
      <thead>
        <tr>
          <th>Helper class name</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><code class=" language-css">.cf</code></td>
          <td>A badass clearfix hack to clear floating elements without using presentational markup. Just apply this to the parent container and you won't need to use <code><v:content><div class="clear"></div></v:content></code> anymore. See <a href="http://nicolasgallagher.com/micro-clearfix-hack/">http://nicolasgallagher.com/micro-clearfix-hack</a> for more details :)</td>
        </tr>
        <tr>
          <td><code class=" language-css">.hidden</code></td>
          <td>Hides an element. Use this as opposed to inline styles.</td>
        </tr>
        <tr>
          <td><code class=" language-css">.fl</code> <code class=" language-css">.fr</code></td>
          <td>Floats an element left or right, respectively.</td>
        </tr>
        <tr>
          <td><code class=" language-css">.fno</code></td>
          <td>Cancels the floating position of an element.</td>
        </tr>
        <tr>
          <td><code class=" language-css">.clr</code></td>
          <td>Clearing floated elements.</td>
        </tr>
      </tbody>
    </table>