<div class="row icons-content">
  <h3>Update font</h3>
  <p>fab devenv compile_fontello_fonts()</p>
</div>

<div class="row icons-content">
    
    {% set icon_list = ['arrowdown', 'arrowright', 'minimize','checkbox', 'collapse', 'expand', 'delete', 'comment', 'timer', 'options', 'lock', 'lock-open', 'message', 'clipboard', 'synth', 'tableofideas', 'answer', 'lab', 'idea','add', 'search', 'home', 'logout', 'book', 'bullet-point', 'discuss', 'quote', 'check', 'check-empty'] %}

    {% for icon in icon_list %}
    <div class="col-4 tac mbs">
        <i class="icon-{{icon}}"></i>
        <br>
        <span>.icon-{{icon}}</span>
    </div>
    {% endfor %}

</div>
