<div class="row">
    
    {% for icon in ['menu', 'menu-1', 'star-empty', 'star', 'heart', 'pin-outline', 'pin', 'heart-empty', 'cog', 'plus-squared-small', 'minus-squared-small', 'user', 'download', 'search',] %}
    <div class="col-1 margin-bottom">
        <i class="icon-{{icon}}"></i>
    </div>
    {% endfor %}

</div>
