{% macro label_options() -%}
<span class="idealist-label-options">
    <a class="iconbutton icon-pencil"></a>
    <a class="iconbutton icon-rearrangeIdea"></a>
    <a class="iconbutton icon-copyfolder"></a>
</span>
{%- endmacro %}

{% macro chk() -%}
<label class="chk chk--idealist">
    <input type="checkbox" class="chk-checkbox" />
    <span class="chk-label"></span>
</label>
{%- endmacro %}

<h3>Default .idealist</h3>
<div class="idealist">
    <div class="idealist-item" data-idealist-level="1">
        <span class="idealist-label">A simple item in Idea list (.idealist-item)</span>
    </div>

    <div class="idealist-item" data-idealist-level="1">
        <span class="idealist-label">
            <span class="idealist-label-arrow"></span>
            Item level 1 closed with children
        </span>

        <div class="idealist-children">
            <div class="idealist-item" data-idealist-level="2">
                <span class="idealist-label">Item level 2</span>
            </div>
        </div>
    </div>

    <div class="idealist-item is-open" data-idealist-level="1">
        <span class="idealist-label">
            <span class="idealist-label-arrow"></span>
            Item level 1 open with children
        </span>
    
        <div class="idealist-children">
            <div class="idealist-item" data-idealist-level="2">
                <span class="idealist-label">Item level 2</span>
            </div>

            <div class="idealist-item" data-idealist-level="2">
                <span class="idealist-label">
                    <span class="idealist-label-arrow"></span>
                    Item level 2 with children
                </span>

                <div class="idealist-children">
                    <div class="idealist-item" data-idealist-level="3">
                        <span class="idealist-label">Item level 3</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="idealist-item is-open" data-idealist-level="1">
        <span class="idealist-label">
            <span class="idealist-label-arrow"></span>
            Item level 1
        </span>
        <div class="fixedcounter">4</div>

        <div class="idealist-children">
            <div class="idealist-item is-open" data-idealist-level="2">
                <span class="idealist-label">
                    <span class="idealist-label-arrow"></span>
                    Item level 2
                </span>
                <div class="fixedcounter">3</div>
                
                <div class="idealist-children">
                    <div class="idealist-item is-open" data-idealist-level="3">
                        <span class="idealist-label">
                            <span class="idealist-label-arrow"></span>
                            Item level 3
                        </span>
                        <div class="fixedcounter">2</div>
                      
                        <div class="idealist-children">
                            <div class="idealist-item is-open" data-idealist-level="4">
                                <span class="idealist-label">
                                    Item level 4
                                </span>
                                <div class="fixedcounter">1</div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>

    </div>
</div>

<div class="spacer"></div>

<h3>Draggable states</h3>
<div class="idealist">
    <div class="idealist-item" data-idealist-level="1">
        <span class="idealist-label">.idealist-item</span>
    </div>

    <div class="idealist-item" data-idealist-level="1">
        <span class="idealist-label is-dragover">.idealist-item.is-dragover</span>
    </div>

    <div class="idealist-item" data-idealist-level="1">
        <span class="idealist-label is-dragover-below">.idealist-item.is-dragover-below</span>
    </div>

    <div class="idealist-item is-open" data-idealist-level="1">
        <span class="idealist-label is-dragover">
            <span class="idealist-label-arrow"></span>
            .idealist-item.is-dragover with children
        </span>

        <div class="idealist-children">
            <div class="idealist-item" data-idealist-level="2">
                <span class="idealist-label">.idealist-item child 1</span>
            </div>

            <div class="idealist-item" data-idealist-level="2">
                <span class="idealist-label">.idealist-item child 2</span>
            </div>
        </div>
    </div>

    <div class="idealist-item is-open" data-idealist-level="1">
        <span class="idealist-label is-dragover-below">
            <span class="idealist-label-arrow"></span>
            .idealist-item.is-dragover-below with children
        </span>

        <div class="idealist-children">
            <div class="idealist-item" data-idealist-level="2">
                <span class="idealist-label">.idealist-item child 1</span>
            </div>

            <div class="idealist-item" data-idealist-level="2">
                <span class="idealist-label">.idealist-item child 2</span>
            </div>
        </div>
    </div>
</div>

<div class="spacer"></div>

<h3>Idea list with checkboxes</h3>
<div class="idealist idealist--chk">
    <div class="idealist-item is-open" data-idealist-level="1">
        {{ chk() }}
        <span class="idealist-label">
            <span class="idealist-label-arrow"></span>
            Item level 1
        </span>
        <div class="fixedcounter">4</div>

        <div class="idealist-children">
            <div class="idealist-item is-open" data-idealist-level="2">
                {{ chk() }}
                <span class="idealist-label">
                    <span class="idealist-label-arrow"></span>
                    Item level 2
                </span>
                <div class="fixedcounter">3</div>
                
                <div class="idealist-children">
                    <div class="idealist-item is-open" data-idealist-level="3">
                        {{ chk() }}
                        <span class="idealist-label">
                            <span class="idealist-label-arrow"></span>
                            Item level 3
                        </span>
                        <div class="fixedcounter">2</div>
                        
                        <div class="idealist-children">
                            <div class="idealist-item is-open" data-idealist-level="4">
                                {{ chk() }}
                                <span class="idealist-label">
                                    Item level 4
                                </span>
                                <div class="fixedcounter">1</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="spacer"></div>

<h3>Form inside ( .idealist-item.is-form-open )</h3>
<div class="idealist">
    <div class="idealist-item is-form-open">
        <span class="idealist-label">.idealist-item</span>

        <form class="form margin">

            <label class="formlabel">Titre</label>
            <input type="text" class="formfield" />

            <div class="spacer"></div>

            <label class="formlabel">Description</label>
            <textarea class="formtextarea" ></textarea>
        </form>
    </div>
</div>


<div class="spacer"></div>

<h3>Idea list Dark ( .idealist--dark )</h3>
<div class="idealist idealist--dark">
    <div class="idealist-item" data-idealist-level="1">
        <span class="idealist-label">
            Simple Item
        </span>
    </div>

    <div class="idealist-item is-open" data-idealist-level="1">
        <span class="idealist-label">
            <span class="idealist-label-arrow"></span>
            Item level 1
        </span>
        <div class="fixedcounter">4</div>

        <div class="idealist-children">
            <div class="idealist-item is-open" data-idealist-level="2">
                <span class="idealist-label">
                    <span class="idealist-label-arrow"></span>
                    Item level 2
                </span>
                <div class="fixedcounter">3</div>
                
                <div class="idealist-children">
                    <div class="idealist-item is-open" data-idealist-level="3">
                        <span class="idealist-label">
                            <span class="idealist-label-arrow"></span>
                            Item level 3
                        </span>
                        <div class="fixedcounter">2</div>
                        
                        <div class="idealist-children">
                            <div class="idealist-item is-open" data-idealist-level="4">
                                <span class="idealist-label">
                                    Item level 4
                                </span>
                                <div class="fixedcounter">1</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
