<div class="media">
    <div class="media-imgleft">
        <img src="http://www.gravatar.com/avatar/39cbf87dae724f2cb64e92accdd4d349.jpg?s=44" alt="User"  class="image-rounded" />
    </div>
    <div class="media-body">
        <div class="media-title">
            <strong>André Farzat</strong> a dit <time>9, juin 2013</time>
        </div>
        <span>Ramones ou Beatles: Qui est le meilleur ?</span>
    </div>
</div>
