<h3>.message</h3>
<div class="message">
    
    <div class="message-header">
        
        <div class="media">
            <div class="media-imgleft">
                <img src="http://www.gravatar.com/avatar/39cbf87dae724f2cb64e92accdd4d349.jpg?s=38" alt="User"  class="image-rounded" />
            </div>
            <div class="media-body">
                <div class="margin-bottom">
                    <strong>Bénigne Morin</strong> a dit <time>9, juin 2013</time>
                </div>
                <span>Synthèse intermédiaire : Monnaies de récompense</span>
            </div>
        </div>

    </div>

    <div class="message-body">
        This is the body of a message
    </div>

    <div class="message-footer">
        todo: this is the footer
    </div>
</div>



<h3>.message.message--collapsed</h3>
<div class="message message--collapsed">
    
    <div class="message-header">
        <div class="fl">
            <a class="iconbutton icon-right-dir"> </a>
            <img src="//placehold.it/32" alt="User"  class="image-rounded" style="vertical-align: middle;" />
        </div>

        <div class="message-date">7 months ago</div>
        <div class="message-subheader">
            <span class="text-bold inline margin-right">Joey Ramone</span>
            <span class="inline margin-right">The KKK took my baby away</span>
            <span class="text-muted inline">They took her away, away from me! Ring me, ring me ring me up the President and find out where my baby went. Ring me, ring me, ring me up the FBI and find out if my baby is alive</span>
        </div>
    </div>

</div>
