<div class="col-4">
    <h2>Message block</h2>
</div>

<div class="col-8">
    
    <div class="message">
        
        <div class="message-header">
            
            <div class="media">
                <div class="media-imgleft">
                    <img src="http://www.gravatar.com/avatar/39cbf87dae724f2cb64e92accdd4d349.jpg?s=38" alt="User"  class="image-rounded" />
                </div>
                <div class="media-body">
                    <div class="margin-bottom">
                        <strong>Bénigne Morin</strong> a dit <time>9, juin 2013</time>
                    </div>
                    <span>Synthèse intermédiaire : Monnaies de récompense</span>
                </div>
            </div>

        </div>

        <div class="message-body">
            This is the body of a message
        </div>

        <div class="message-footer">
            todo: this is the footer
        </div>
    </div>

</div>
