<div class="panel" style="height: 250px;">
    <div class="panel-header">
        .panel-header
    </div>

    <div class="panel-body" style="min-height: 50px;">
        .panel-body
    </div>

    <div class="panel-footer">
        .panel-footer
    </div>
</div>

<div class="spacer"></div>

<p>.panel.is-dragover</p>
<div class="panel is-dragover" style="height: 250px;">
    <div class="panel-header">
        .panel-header
    </div>

    <div class="panel-body" style="min-height: 50px;">
        .panel-body
    </div>

    <div class="panel-footer">
        .panel-footer
    </div>
</div>

<div class="spacer"></div>

<p>.panel.is-loading</p>
<div class="panel is-loading" style="height: 250px;">
    <div class="panel-header">
        .panel-header
    </div>

    <div class="panel-body" style="min-height: 50px;">
        .panel-body
    </div>

    <div class="panel-footer">
        .panel-footer
    </div>
</div>
