<div class="sg-description">
    body can have .panel-1, .panel-2, <br />
    .panel-3, .panel-4
</div>


<div class="panel">
    <div class="panel-body" style="min-height: 50px;">
        .panel > .panel-body
    </div>
</div>