{#<div class="bs-example-popover">
<div class="popover top">
  <div class="arrow"></div>
  <h3 class="popover-title">Popover top</h3>
  <div class="popover-content">
    <p>Sed posuere consectetur est at lobortis. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
  </div>
</div>
<div class="popover right">
  <div class="arrow"></div>
  <h3 class="popover-title">Popover top</h3>
  <div class="popover-content">
    <p>Sed posuere consectetur est at lobortis. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
  </div>
</div>
<div class="popover bottom">
  <div class="arrow"></div>
  <h3 class="popover-title">Popover top</h3>
  <div class="popover-content">
    <p>Sed posuere consectetur est at lobortis. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
  </div>
</div>
<div class="popover left">
  <div class="arrow"></div>
  <h3 class="popover-title">Popover top</h3>
  <div class="popover-content">
    <p>Sed posuere consectetur est at lobortis. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
  </div>
</div>
</div>

<div class="bs-example">
    <button class="btn btn-default popover-example" type="button" data-toggle="popover" data-placement="left" title="" data-content="Sed posuere consectetur est at lobortis. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum." data-original-title="Popover title">Popover left</button>
    <button class="btn btn-default popover-example" type="button" data-toggle="popover" data-placement="top" title="" data-content="Sed posuere consectetur est at lobortis. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum." data-original-title="Popover title">Popover top</button>
    <button class="btn btn-default popover-example" type="button" data-toggle="popover" data-placement="bottom" title="" data-content="Sed posuere consectetur est at lobortis. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum." data-original-title="Popover title">Popover bottom</button>
    <button class="btn btn-default popover-example" type="button" data-toggle="popover" data-placement="right" title="" data-content="Sed posuere consectetur est at lobortis. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum." data-original-title="Popover title">Popover right</button>
</div>


<div class="mtl">Documentation :<a href="http://getbootstrap.com/javascript/#popovers" target="_blank">http://getbootstrap.com/javascript/#popovers</a></div>#}

<div class="popover-container">
<a class="btn btn-secondary btn-sm popover-display">
  Popover on top (default)
  <span class="popover">
    <span class="popover-header">Header</span>
    <span class="popover-content">
      Loremipsumdolorsitametconsecteturadipiscingelitpraesentbibendumullamcorper lectus dictum blandit.
    </span>
    <span class="popover-footer">Footer</span>
  </span>
</a>

<a class="btn btn-secondary btn-sm popover-display popover-bottom">
  Popover on bottom
  <span class="popover">
    <span class="popover-header">Header</span>
    <span class="popover-content">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent bibendum ullamcorper lectus dictum blandit.
    </span>
  </span>
</a>

<a class="btn btn-secondary btn-sm popover-display popover-left">
  Popover on top left
  <span class="popover">
    <span class="popover-content">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent bibendum ullamcorper lectus dictum blandit.
    </span>
    <span class="popover-footer">Footer</span>
  </span>
</a>

<a class="btn btn-secondary btn-sm popover-display popover-bottom popover-left">
  Popover on bottom left
  <span class="popover">
    <span class="popover-content">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent bibendum ullamcorper lectus dictum blandit.
    </span>
  </span>
</a>
</div>







