<h3 class="h3">Text weight</h3>

<p class="mbs" style="font-weight:300;">Light(300)</p>
<p class="mbs" style="font-weight:400;">Regular(400)</p>
<p class="mbs" style="font-weight:600;">Semi-bold(600)</p>
<p class="mbs" style="font-weight:700;">Bold(700)</p>

<h3 class="h3">Text colors</h3>
<div>
<pre>
<code class="language-scss">
    <span class="hljs-at_rule"><a class="txt-gray">$txtGray: #CCCCCC</a></span></code></pre>
</div>

<div>
<pre>
<code class="language-scss">
    <span class="hljs-at_rule"><a class="txt-gray1">$txtGray1: #999999</a></span></code></pre>
</div>

<div>
<pre>
<code class="language-scss">
    <span class="hljs-at_rule"><a class="txt-gray2">$txtGray2: #303030</a></span></code></pre>
</div>

<div>
<pre>
<code class="language-scss">
    <span class="hljs-at_rule"><a class="txtPurple">$txtPurple: #9013FE </a></span></code></pre>
</div>

<div>
<pre>
<code class="language-scss">
    <span class="hljs-at_rule"><a class="txtPurple1">$txtPurple: #9013FE</a></span></code></pre>
</div>

