
<div style="position:relative; height: 50px;padding-top: 100px;">

    <div class="textbubble">
        I am a .textbubble
    </div>

</div>


<div class="spacer"></div>

<p class="text-small">.text-small</p>
<p class="text-muted">.text-muted</p>
<p class="text-big">.text-big</p>
