<table class="table">
  <thead>
    <tr>
      <th>Value</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><code>$txtGray: #CCCCCC </code></td>
      <td><p class="txt-gray">Lorem ipsum dolor sit amet, consectetur adipiscing elit.<p></td>
    </tr>
    <tr>
      <td><code>$txtGray1: #999999 </code></td>
      <td><p class="txt-gray1">Suspendisse potenti. Nam ac magna odio.</p></td>
    </tr>
    <tr>
      <td><code>$txtGray2: #333333 </code></td>
      <td><p class="txt-gray2">Vestibulum non varius augue.</p></td>
    </tr>
  </tbody>
</table>
