<div>
<button class="btn btn-default tooltip-example" data-toggle="tooltip" data-placement="left" title="Some tooltip text!">left hover</button>
<button class="btn btn-default tooltip-example" data-toggle="tooltip" data-placement="top" title="Some tooltip text!">top hover</button>
<button class="btn btn-default tooltip-example" data-toggle="tooltip" data-placement="bottom" title="Some tooltip text!">bottom hover</button>
<button class="btn btn-default tooltip-example" data-toggle="tooltip" data-placement="right" title="Some tooltip text!">right hover</button>
</div>