<h2>Coming soon</h2>
{#<div class="tooltip-container">
  <a class="tooltip tooltip-top btn btn-secondary btn-sm">
    Tooltip on top left (default)
    <span class="tooltip-content">
      Tooltip on top left
    </span>
  </a>

  <a class="tooltip tooltip-top-right btn btn-secondary btn-sm">
    Tooltip on top right
    <span class="tooltip-content">
      Tooltip on top right
    </span>
  </a>

  <a class="tooltip tooltip-right btn btn-secondary btn-sm">
    Tooltip on right
    <span class="tooltip-content">
      I'm on right
    </span>
  </a>

  <a class="tooltip tooltip-left btn btn-secondary btn-sm">
    Tooltip on left
    <span class="tooltip-content">
      I'm on top right
    </span>
  </a>

  <a class="tooltip tooltip-bottom btn btn-secondary btn-sm">
    Tooltip on bottom left
    <span class="tooltip-content">
      I'm on bottom left
    </span>
  </a>
</div>#}

{#<div>
<button class="btn btn-default tooltip-example" data-toggle="tooltip" data-placement="left" title="Some tooltip text!">left hover</button>
<button class="btn btn-default tooltip-example" data-toggle="tooltip" data-placement="top" title="Some tooltip text!">top hover</button>
<button class="btn btn-default tooltip-example" data-toggle="tooltip" data-placement="bottom" title="Some tooltip text!">bottom hover</button>
<button class="btn btn-default tooltip-example" data-toggle="tooltip" data-placement="right" title="Some tooltip text!">right hover</button>
</div>#}

{#<div class="mtl">Documentation :<a href="http://getbootstrap.com/javascript/#tooltips" target="_blank">http://getbootstrap.com/javascript/#tooltips</a></div>#}
