 <table class="table">
 <thead>
   <tr>
     <th>Default</th>
     <th>Description</th>
   </tr>
 </thead>
 <tbody>
   <tr>
     <td>
      <pre><code class="language-html"><span class="hljs-tag">&lt;<span class="hljs-title">h1</span>&gt;</span></code></pre>
     </td>
     <td><h1>Open innovation</h1></td>
   </tr>
   <tr>
     <td>
      <pre><code class="language-html"><span class="hljs-tag">&lt;<span class="hljs-title">h2</span>&gt;</span></code></pre>
     </td>
     <td><h2>Free Discussion</h2></td>
   </tr>
   <tr>
     <td>
      <pre><code class="language-html"><span class="hljs-tag">&lt;<span class="hljs-title">h3</span>&gt;</span></code></pre>
     </td>
     <td><h3>Collective intelligence</h3></td>
   </tr>
   <tr>
     <td>
      <pre><code class="language-html"><span class="hljs-tag">&lt;<span class="hljs-title">h4</span>&gt;</span></code></pre>
     </td>
     <td><h4>Idea manager</h4></td>
   </tr>
   <tr>
     <td>
      <pre><code class="language-html"><span class="hljs-tag">&lt;<span class="hljs-title">h5</span>&gt;</span></code></pre>
     </td>
     <td><h5>Startup</h5></td>
   </tr>
   <tr>
     <td>
      <pre><code class="language-html"><span class="hljs-tag">&lt;<span class="hljs-title">h6</span>&gt;</span></code></pre>
     </td>
     <td><h6>smart intelligence</h6></td>
   </tr>
 </tbody>

 <tbody>
    <tr>
     <td>
      Alternative
     </td>
    </tr>
    <tr>
      <td>
        <pre><code class="language-html"><span class="hljs-tag">&lt;<span class="hljs-title">h1</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">"h1"</span>&gt;</span></code></pre>
      </td>
      <td>
        <h1 class="h1">smart intelligence</h1>
      </td>
    </tr>
    <tr>
      <td>
        <pre><code class="language-html"><span class="hljs-tag">&lt;<span class="hljs-title">h2</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">"h2"</span>&gt;</span></code></pre>
      </td>
      <td>
        <h2 class="h2">smart intelligence</h2>
      </td>
    </tr>
    <tr>
      <td>
        <pre><code class="language-html"><span class="hljs-tag">&lt;<span class="hljs-title">h3</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">"h3"</span>&gt;</span></code></pre>
      </td>
      <td>
        <h3 class="h3">smart intelligence</h3>
      </td>
    </tr>
    <tr>
      <td>
        <pre><code class="language-html"><span class="hljs-tag">&lt;<span class="hljs-title">h4</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">"h4"</span>&gt;</span></code></pre>
      </td>
      <td>
        <h4 class="h4">smart intelligence</h4>
      </td>
    </tr>
    <tr>
      <td>
        <pre><code class="language-html"><span class="hljs-tag">&lt;<span class="hljs-title">h5</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">"h5"</span>&gt;</span></code></pre>
      </td>
      <td>
        <h5 class="h5">smart intelligence</h5>
      </td>
    </tr>
    <tr>
      <td>
        <pre><code class="language-html"><span class="hljs-tag">&lt;<span class="hljs-title">h6</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">"h6"</span>&gt;</span></code></pre>
      </td>
      <td>
        <h6 class="h6">smart intelligence</h6>
      </td>
    </tr>
 </tbody>

 </table>

