body {
  margin: 10px;
  font: 12px "Open Sans",sans-serif;
}


/* button */

.btn-sm {
    border-radius: 3px;
    font-size: 12px;
    line-height: 1.5;
    padding: 5px 10px;
}

.btn-primary {
    background-color: #b36fe0;
    color: #ffffff;
}

.btn-primary:hover {
  opacity: 0.8;
  text-decoration: none;
}

.btn {
    -moz-user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 3px;
    cursor: pointer;
    display: inline-block;
    font-family: "Open Sans",sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857;
    margin-bottom: 0;
    padding: 6px 12px;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    white-space: nowrap;
}


/* d3-tip: D3 tooltip plugin */

.d3-tip {
  line-height: 1;
  /*font-weight: bold;*/
  padding: 12px;
  background: #F6F6F6; /* was rgba(0, 0, 0, 0.8) */
  color: #fff;
  border-radius: 2px;
  max-width: 175px; /* cannot be too wide otherwise 2_axes y tooltip does not show completely :/ */
}
/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  
  color: #F6F6F6; /* was rgba(0, 0, 0, 0.8) */
  content: "\25BC";
  position: absolute;
  text-align: center;
}
/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

.d3-tip .text {
  color: #333333;
}

.d3-tip .data {
  color: #9013FE;
}


/* graphical vote representation */

.axis {
  font-size: 10px;
}

.axis-label {
  font-weight: bold;
  text-anchor: middle;
  font-size: smaller; /* should be smaller than the target idea title */
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis.gradient path {
  fill: none;
  stroke: none;
}

#table_vote th {
    text-align: center;
    border: 1px solid #000;
}
#table_vote td {
    border: 1px solid #000;
}

#vote_submit_result_holder {
  margin-top: 10px;
}

#vote_submit_result_holder p.success, .vote-question-result p.success {
  color: #00A012;
}

#vote_submit_result_holder p.failure, .vote-question-result p.failure {
  color: #9E0000;
}


section.vote-question-item {
  margin-bottom: 35px;
}

.inline-vote-for-a-target {
  display: inline-block;
  margin-top: 15px;
  margin-right: 40px;
  margin-bottom: 15px;
}

.vote-question-item-type-2_axes .inline-vote-for-a-target {
  margin-left: 50px; /* needed for 2_axes y tooltip to show completely :/ */
}

.inline-vote-for-a-target--title {
  font-style: italic;
  font-weight: bold;
  text-align: center;
  margin-bottom: 5px;
  max-width: 300px;
}

.inline-vote-for-a-target--item {

}

.vote-question-submit-button-container {
  margin: 20px 0 30px 0;
}

.vote-question-item .question-title {
  margin-bottom: 5px;
}

.vote-question-item .question-description {
  
}

.vote-question-item-type-radio .inline-vote-for-a-target--title {
  text-align: left;
}

.vote-question-item-type-radio .inline-vote-for-a-target {
  width: 300px;
}

.question-mark-icon {
  cursor: help;
  /*background-image: ("app/images/question_mark_icon_with_alpha.png"); => is xlink:href in SVG and cannot be set via CSS */
  width: 22px;
  height: 22px;
}
