body {
  margin: 10px;
  font: 12px "Open Sans",sans-serif;
}


/* button */

.btn-sm {
    border-radius: 3px;
    font-size: 12px;
    line-height: 1.5;
    padding: 5px 10px;
}

.btn-primary {
    background-color: #b36fe0;
    color: #ffffff;
}

.btn-primary:hover {
  opacity: 0.8;
  text-decoration: none;
}

.btn {
    -moz-user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 3px;
    cursor: pointer;
    display: inline-block;
    font-family: "Open Sans",sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857;
    margin-bottom: 0;
    padding: 6px 12px;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    white-space: nowrap;
}


/* graphical vote representation */

.axis {
  font-size: 10px;
}

.axis-label {
  font-weight: bold;
  text-anchor: middle;
  font-size: smaller; /* should be smaller than the target idea title */
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis.gradient path {
  fill: none;
  stroke: none;
}

#table_vote th {
    text-align: center;
    border: 1px solid #000;
}
#table_vote td {
    border: 1px solid #000;
}

#vote_submit_result_holder {
  margin-top: 10px;
}

#vote_submit_result_holder p.success, .vote-question-result p.success {
  color: #00A012;
}

#vote_submit_result_holder p.failure, .vote-question-result p.failure {
  color: #9E0000;
}


section.vote-question-item {
  margin-bottom: 35px;
}

.inline-vote-for-a-target {
  display: inline-block;
  padding-right: 50px;
  margin-top: 15px;
}

.inline-vote-for-a-target--title {
  font-style: italic;
  font-weight: bold;
  text-align: center;
  margin-bottom: 5px;
  max-width: 300px;
}

.inline-vote-for-a-target--item {

}

.vote-question-submit-button-container {
  margin: 20px 0 30px 0;
}

.vote-question-item .question-title {
  margin-bottom: 5px;
}

.vote-question-item .question-description {
  
}
