{
  "plugins" : [
    "transform-object-rest-spread", "transform-class-properties",
    ["transform-runtime", { "helpers": true, "polyfill": false }]
  ],
  "presets" : [["env", { "targets": { "node": 6 } }], "react", "flow"],
  "env": {
    "development": {
      "plugins" : [
        "react-hot-loader/babel",
        ["react-transform", {"transforms": [
          {"transform": "react-transform-render-visualizer/lib/specify"}
        ]}]
      ],
    }
  }
}
