{
  "plugins" : [
    "transform-object-rest-spread", "transform-class-properties",
    ["transform-runtime", { "helpers": true, "polyfill": false }]
  ],
  "presets" : ["es2015", "react", "flow"],
  "env": {
    "development": {
      "plugins" : ["react-hot-loader/babel"],
    }
  }
}
