/* hide Select2 dropdown */
#select2-drop {
  display: none !important;
}

#JukeTube {
  width: 100%;
  padding: 20px;
  input[type="submit"] {
    vertical-align: top;
  }

  .select2-choices {
    width: 100%;
    display: inline-block;
  }

  .select2-no-results {
    display: none !important;
  }

  .keywords {
    padding-left: 0;
  }

  /* modified version of select2.css in .select2-container-multi .select2-choices .select2-search-choice */
  .keywords .keyword {
    -moz-user-select: none;
    background-clip: padding-box;
    background-color: #E4E4E4;
    background-image: linear-gradient(to top, #F4F4F4 20%, #F0F0F0 50%, #E8E8E8 52%, #EEEEEE 100%);
    border: 1px solid #AAAAAA;
    border-radius: 3px;
    box-shadow: 0 0 2px #FFFFFF inset, 0 1px 0 rgba(0, 0, 0, 0.05);
    color: #303030;
    cursor: default;
    line-height: 13px;
    margin: 3px 0 3px 5px;
    padding: 3px 5px; /* was 3px 5px 3px 18px; */
    position: relative;

    /* added */
    display: inline-block;
  }

  .keywords .keyword:hover {
    cursor: pointer;
  }

  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  /*fieldset,*/ img {
    border: 0;
  }
  h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: normal;
  }
  a {
    cursor: pointer;
  }

  body {
    font: 20px/1 'Montserrat', Arial, sans-serif;
  }
  h1 strong, #playlist, .video-title {
    font-family: 'Montserrat', Arial, sans-serif;
    font-weight: bold;
  }

  #search {
  }
  #query:focus {
    outline: none;
  }
  #search-button {
    font-size: 14px;
  }

  #results {
    padding-left: 6px;
    padding-right: 6px;
    overflow: hidden;
    min-width: 372px;

    .strong {
      font-weight: 700;
    }

    h3 {
      font-weight: 700;
      font-size: 18px;
      padding-bottom: 0px;
    }

    fieldset {
      background: #f5f5f5;
      border-radius: 5px;
      margin: 10px 0;
      padding: 0 7px 5px 7px;

      legend {
        background: rgba(255, 255, 255, 0.5);
        border: initial;
        font-size: initial;
        margin-bottom: 5px;
        //margin-left: 5px;
        //margin-right: initial;
        //margin-top: initial;
        //padding: 0 5px;
        width: initial;
      }
    }
  }

  #related_terms_query {
    height: 35px;
    width: 70%;
  }

  .video {
    cursor: pointer;
    min-height: 120px;
    padding: 10px;
    padding-left: 140px;
    position: relative;
  }
  .video:nth-child(2n-1) {
    background: white;
  }
  .video-image {
    float: left;
    left: 10px;
    position: absolute;
    top: 10px;
  }
  .video-title {
    margin: 0 0 2px;
  }
  .video-author {
    color: #696A6D;
    font-size: 12px;
    margin: 2px 0 2px;
  }
  .video-description {
    color: #696A6D;
    font-size: 12px;
    line-height: 1.5;
    margin: 2px 0 2px;
  }
  .video.selected {
    background: #ececec;
  }
  .video:hover, .video.selected:hover {
    background: #f5f5f5;
    //color: white;
  }

  #player {
    background: black;
    float: right;
  }

  #playlist {
    background: #22242a;
    color: #b8babe;
    font-size: 14px;
    font-weight: normal;
    overflow-x: hidden;
    width: 640px;
    padding-bottom: 20px;
  }

  #playlist h3 {
    font-weight:700;
    font-size:18px;
    //padding-bottom:5px;
  }

  #playlist .card-comment {
    margin: 0 20px;
    .btn-secondary {
      color: #303030;
      &:hover {
        background: #ccc;
      }
    }
  }
  #current {
    color: white;
    font-size: 16px;
    padding: 20px;
  }
  #playlist ol, #playlist li {
    cursor: pointer;
  }
  #playlist ol {
    border-bottom: 1px solid #30303063f;
    height: 340px;
    overflow-x: hidden;
  }
  #playlist li {
    border-top: 1px solid #30303063f;
    cursor: pointer;
  }
  #history li {
    color: #33522d;
  }
  .item-title {
    margin-right: 80px;
    padding: 10px 20px;
  }
  .item-title:hover {
    background: #1171A2;
    color: white;
  }
  .item-delete {
    color: #ac0809;
    float: right;
    text-align: center;
    padding: 10px 0;
    width: 80px;
  }
  .item-delete:hover {
    background: #ac0809;
    color: white;
  }
  #history .item-title:hover {
    background: #33522d;
    color: white;
  }
  #tabs, #tabs a {
    background: #303030;
    height: 64px;
    left: 0;
    line-height: 64px;
    position: absolute;
    text-align: center;
    width: 100%;
  }
  #tabs {
    bottom: 0;
  }
  #tabs a {
    color: #666;
    width: 50%;
  }
  #tabs a:last-child {
    left: 50%;
  }
  #tabs .on {
    background: #22242a;
    color: white;
  }

}
