# standard
*~
*#
*.#*
*.pyc
*.pyo
*.swo
*.swp
*.mo
assembl/locale/*/LC_MESSAGES/*.jed.json
*.sublime-project
*.sublime-workspace
*.egg
*.egg-info
/.coverage
.DS_Store
.directory
.idea
.log
.cache

# buildout
/.installed.cfg
/.mr.developer.cfg
/bin
/buildout
/downloads
/lib
/share
/venv
/src
/virtuoso
/assembl_dumps

# local
/random.ini
/local.ini
/testing.ini
/local.cfg
/assembl.db
/vendor_config.ini
/configs

# app
/data/*
/assembl/static/techdocs
/pyodbc
/surf
/virtuoso

#ide
.project
.pydevproject
.settings

# misc
._*
.sass-cache
assembl/static/css/*.css
/var/dogpile_cache.*
/.anaconda

# node
/assembl/static/js/node_modules/
/assembl/static/js/bower/
/assembl/static/widget/*/bower_components/
/assembl/static/widget/*/assembl/static/js/bower
/assembl/static/js/build

# static2
/assembl/static2/node_modules/
/assembl/static2/build/
/assembl/static2/coverage/
/assembl/static2/.eslintcache
/assembl/static2/npm-debug.log
/assembl/static2/yarn-error.log

# Vagrant
.bash_profile
.rbenv-version
.vagrant
VagrantFile

# supervisor
supervisord.conf

#virtuoso
odbc.ini
var/db/virtuoso-temp.db
var/db/virtuoso.db
var/db/virtuoso.ini
var/db/virtuoso.log
var/db/virtuoso.pxa
var/db/virtuoso.trx
var/db/virtuoso.lck
assembl-virtuoso-backup.bp

#test 
junit.xml
htmlcov/

#tox
.tox

.env.fish

.gtm/
doc/autodoc
doc/jsdoc

#elasticsearch
var/elasticsearch/
var/esdata/
