# standard
*~
*#
*.#*
*.pyc
*.pyo
*.swo
*.swp
*.mo
*.egg
*.egg-info
/.coverage
.DS_Store
.directory

# buildout
/.installed.cfg
/.mr.developer.cfg
/bin
/buildout
/downloads
/lib
/share
/venv

# local
/local.ini
/testing.ini
/local.cfg
/assembl.db

# app
/data/*
/build
/pyodbc
/surf
/virtuoso

#ide
.project
.pydevproject
.settings

# misc
._*
.sass-cache
assembl/static/css/*.css

# ruby
vendor/
.bundle
.ruby-version
Gemfile.lock

# node
node_modules/
assembl/static/js/bower/

# Vagrant
.bash_profile
.rbenv-version
.vagrant
VagrantFile

# supervisor
supervisord.conf

#virtuoso
odbc.ini
var/db/virtuoso-temp.db
var/db/virtuoso.db
var/db/virtuoso.ini
var/db/virtuoso.log
var/db/virtuoso.pxa
var/db/virtuoso.trx
