[submodule "assembl/static/js/lib/bootstrap"]
	path = assembl/static/js/lib/bootstrap
	url = git@github.com:caravancoop/bootstrap.git
[submodule "assembl/static/js/lib/backbone"]
	path = assembl/static/js/lib/backbone
	url = https://github.com/documentcloud/backbone.git
