[ODBC Data Sources]
VOSU = Virtuoso

[VOSU]
Description = Open Virtuoso
Driver      = %(VIRTUOSO_ROOT_LIB)s/virtodbcu_r.so
UserName    = dba
Password    = dba
Address     = %(VIRTUOSO_HOSTNAME)s:%(VIRTUOSO_PORT)d
Locale      = en.UTF-8

[ODBC]
;Trace = 1
TraceFile = /tmp/odbctrace.log
;Debug = 1
DebugFile = /tmp/odbcdebug.log
