[app:assembl]
security.email_token_salt = {random66}
beaker.session.validate_key = {random66}
beaker.session.encrypt_key = {random66}
session.secret = {random66}
sentry_secret = {random66}
sentry_db_password = {random12}
sentry_admin_password = {random12}
