[app:assembl]
security.email_token_salt = {random66}
beaker.session.validate_key = {random66}
beaker.session.encrypt_key = {random66}
beaker.session.secret = {random66}
SOCIAL_AUTH_SAML_SP_PUBLIC_CERT = {saml_cert}
SOCIAL_AUTH_SAML_SP_PRIVATE_KEY = {saml_key}
