rdflib
rdfextras
SuRF
-e git://github.com/maparent/pyodbc.git@2.x_branch#egg=pyodbc
-e hg+https://bitbucket.org/maparent/virtuoso#egg=virtuoso

#-e git://github.com/maparent/rdflib-sparqlstore.git#egg=rdflib-sparqlstore
