pip==8.0.2
setuptools==19.4
alabaster==0.7.7
-e git+https://github.com/imaginationforpeople/alembic.git@virtuoso#egg=alembic
amqp==1.4.9
anyjson==0.3.3
anykeystore==0.2
# Do not specify argparse, jenkins chokes on system version.
# argparse==1.2.2
Babel==2.2.0
backports.ssl-match-hostname==3.5.0.1
Beaker>=1.6.5
beautifulsoup4==4.4.1
billiard==3.3.0.22
boto==2.39.0
bz2file==0.98
celery==3.1.19
cffi==1.5.0
Chameleon==2.24
Chroma==0.2.0
colander==1.2
ColanderAlchemy==0.3.3
cornice==1.2.0
cov-core==1.15.0
coverage==4.0.3
cryptography==1.2.1
DateTime==4.0.1
# distribute==0.7.3 # This fails with latest pip. Installed properly as a dependency.
docutils==0.12
dogpile.cache==0.5.7
dogpile.core==0.4.1
ecdsa==0.13
enum34==1.1.2
Fabric==1.10.2
-e git+https://github.com/pythonforfacebook/facebook-sdk.git@ddc911f54d6136e149c03d145fd3760751a7d50d#egg=facebook_sdk
-e git+https://github.com/kurtmckee/feedparser.git@5.2.0#egg=feedparser
flaky==3.0.3
-e git+https://github.com/maparent/fuxi.git#egg=fuxi
gensim==0.12.3
greenlet==0.4.9
html5lib==0.9999999
idna==2.0
IMAPClient==1.0.1
imaplib2==2.45.0
ipaddress==1.0.16
ipykernel==4.2.2
ipython-genutils==0.1.0
ipython==4.0.3
iso639==0.1.1
isodate==0.5.4
-e git+https://github.com/imaginationforpeople/jasmine-splinter-runner.git#egg=jasmine-splinter-runner
Jinja2==2.8
-e git+https://github.com/benoitg/jwzthreading.git@master#egg=jwzthreading
kombu==3.0.33
langdetect==1.0.5
lingua==4.6
lxml==3.5.0
Mako==1.0.3
MarkupSafe==0.23
meld3==1.0.2
mock==1.3.0
ndg_httpsclient==0.4.0
numpy==1.10.4
oauthlib==1.0.3
paramiko==1.16.0
PasteDeploy==1.5.2
PdbSublimeTextSupport==0.2
pinocchio==0.4.2
polib==1.0.7
premailer==2.9.7
py==1.4.31
pyasn1==0.1.9
pycparser==2.14
pycrypto==2.6.1
Pygments==2.1
pygraphviz==1.3.1
pyIsEmail==v1.3.1
dnspython==1.12.0   # must come after pyisemail?
PyJWT==1.4.0
PyLD==0.6.8
pylibmc==1.5.0
-e git+https://github.com/maparent/pyodbc.git@v3-virtuoso#egg=pyodbc
pyOpenSSL==0.15.1
pyparsing==2.0.7
pyramid-autodoc==0.0.7
pyramid-beaker==0.8
pyramid-debugtoolbar-ajax==0.0.4
pyramid-debugtoolbar==2.4.2
pyramid-dogpile-cache==0.0.4
pyramid-ipython==0.1
pyramid-jinja2==2.6.1
pyramid-mailer==0.14.1
pyramid-mako==1.0.2
pyramid-tm==0.12.1
pyramid==1.6
PyStemmer==1.3.0
pytest-cov==2.2.0
pytest-localserver==0.3.5
pytest-mock==0.9.0
pytest-splinter==1.7.0
pytest==2.8.5
python-dateutil==2.4.2
python-openid==2.2.5
pytz==2015.7
pyzmq==15.2.0
raven==5.10.1
rdflib-jsonld==0.3
rdflib==4.2.1
redis==2.10.5
repoze.lru==0.6
# Do not use 4.2 thanks to https://github.com/repoze/repoze.sendmail/issues/31
repoze.sendmail==4.1  # rq.filter: <4.2
requests-oauthlib==0.6.0
requests==2.8.1   # smart_open holding it back
scikit-learn==0.17
scipy==0.16.1
selenium==2.49.2
simplejson==3.8.1
six==1.10.0
smart-open==1.3.2
snowballstemmer==1.2.1
-e git+https://github.com/imaginationforpeople/sockjs-tornado.git@master#egg=sockjs_tornado
SPARQLWrapper==1.7.6
sphinx-bootstrap-theme==0.4.8
sphinxcontrib-httpdomain==1.4.0
Sphinx==1.3.4
splinter==0.7.3
SQLAlchemy==1.0.11
sqlparse==0.1.18
-e git+https://github.com/imaginationforpeople/sqltap.git#egg=sqltap
supervisor==3.2.0
tornado==4.3
transaction==1.4.4
translationstring==1.3
Unidecode==0.4.19
uricore==0.1.2
uwsgitop==0.9
-e git+https://github.com/imaginationforpeople/velruse.git#egg=velruse
venusian==1.0
-e git+https://github.com/maparent/virtuoso-python#egg=virtuoso
waitress==0.8.10
WebOb==1.5.1
WebTest==2.0.20
Werkzeug==0.11.3
zope.component==4.2.2
zope.deprecation==4.1.2
zope.event==4.1.0
zope.interface==4.1.3
zope.sqlalchemy==0.7.6
# To be watched:
# https://github.com/elliotpeele/pyramid_oauth2_provider

