pyramid
pyramid_debugtoolbar
pyramid_jinja2
pyramid_tm
alembic
pytz
Babel
colander
colanderalchemy==0.2.0
-e git+https://github.com/mozilla-services/cornice.git@master#egg=cornice
psycopg2
SQLAlchemy
transaction
waitress
zope.sqlalchemy
velruse
pyramid_beaker
imaplib2
pyramid_mailer
pylibmc
nose
coverage
webtest
pinocchio
# hapi : a OAuth2 server for pyramid. Still very much work in progress.
Unidecode
datetime
iso8601
PyJWT
pyzmq
anyjson
-e git+https://github.com/benoitg/jwzthreading.git@master#egg=jwzthreading
tornado
sockjs_tornado
celery
supervisor
