[unix_http_server]
file=%(here)s/var/run/supervisor.sock
chmod=0700

[supervisord]
logfile = %(here)s/var/log/supervisord.log
logfile_maxbytes = 50MB
logfile_backups=10
loglevel = info
pidfile = %(here)s/var/run/supervisord.pid
nodaemon = False
minfds = 1024
minprocs = 200
umask = 022
identifier = supervisor
directory = /tmp
nocleanup = true
childlogdir = /tmp

[supervisorctl]
serverurl = unix:///%(here)s/var/run/supervisor.sock

[rpcinterface:supervisor]
supervisor.rpcinterface_factory = supervisor.rpcinterface:make_main_rpcinterface

[program:virtuoso]
directory = %(here)s/var/db
command = %(VIRTUOSO_ROOT)s/bin/virtuoso-t +foreground
autorestart = true
startsecs = 10
#Start virtuoso before other processes
priority = 100
stopsignal = INT

[program:celery_imap]
directory = %(here)s
command = celery worker -l info -A assembl.tasks.imap -b %(CELERY_BROKER)s
autorestart = true
startsecs = 2

[program:celery_notification_dispatch]
directory = %(here)s
command = celery worker -l info -A assembl.tasks.notification_dispatch -b %(CELERY_BROKER)s
autorestart = true
startsecs = 2

[program:changes_router]
directory = %(here)s
command = python assembl/tasks/changes_router.py %(CONFIG_FILE)s
autorestart = true

[group:dev]
programs = pserve, compass

[group:prod]
programs = uwsgi

[program:pserve]
directory = %(here)s
command = pserve --reload %(CONFIG_FILE)s
autostart = false
autorestart = false

[program:compass]
directory = %(here)s
command = bundle exec compass watch
autostart = false
autorestart = true

[program:uwsgi]
directory = %(here)s
command=uwsgi --die-on-term --ini %(CONFIG_FILE)s
umask=002
autostart = false
autorestart = true
#user=www-data

[program:metrics]
directory = %(metrics_code_dir)s
command=%(metrics_cl)s -l %(metrics_code_dir)s/metrics-startup.lisp
autostart = %(has_metrics_server)s
autorestart = %(has_metrics_server)s
