[unix_http_server]
file=%(here)s/var/run/supervisor.sock
chmod=0700

[supervisord]
logfile = %(here)s/var/log/supervisord.log
logfile_maxbytes = 50MB
logfile_backups=10
loglevel = info
pidfile = %(here)s/var/run/supervisord.pid
nodaemon = False
minfds = 1024
minprocs = 200
umask = 022
identifier = supervisor
nocleanup = true
childlogdir = /tmp
environment = VIRTUAL_ENV="%(VIRTUAL_ENV)s",PATH="%(VIRTUAL_ENV)s/bin:%%(ENV_PATH)s"

[supervisorctl]
serverurl = unix:///%(here)s/var/run/supervisor.sock

[rpcinterface:supervisor]
supervisor.rpcinterface_factory = supervisor.rpcinterface:make_main_rpcinterface

[program:celery]
directory = %(here)s
command = %(VIRTUAL_ENV)s/bin/celery worker -E -l info -A assembl.tasks.celery -c %(CELERY_NUM_WORKERS)s -b %(CELERY_BROKER)s
autostart = %(autostart_celery)s
autorestart = true
startsecs = 2
stopasgroup = false
stopwaitsecs = 60
# If the process didn't kill it's children after 60 seconds, it's unlikely to
# ever reap them, so kill them all
killasgroup = true

[program:source_reader]
directory = %(here)s
command = python -m assembl.tasks.source_reader %(CONFIG_FILE)s
autostart = %(autostart_source_reader)s
autorestart = true
startsecs = 2
stopasgroup = false
stopwaitsecs = 60
killasgroup = true

[program:celery_notify_beat]
directory = %(here)s
command = %(VIRTUAL_ENV)s/bin/celery -A assembl.tasks.celery beat -b %(CELERY_BROKER)s
autostart = %(autostart_celery_notify_beat)s
autorestart = true
startsecs = 2
stopasgroup = false
stopwaitsecs = 60
# If the process didn't kill it's children after 60 seconds, it's unlikely to
# ever reap them, so kill them all
killasgroup = true

[program:changes_router]
directory = %(here)s
command = python assembl/tasks/changes_router.py %(CONFIG_FILE)s
autostart = %(autostart_changes_router)s
autorestart = true
stopasgroup = false
stopwaitsecs = 5
startretries = 3
startsecs = 5

[group:dev]
programs = pserve, gulp, webpack

[group:prod]
programs = uwsgi

[program:pserve]
directory = %(here)s
command = %(VIRTUAL_ENV)s/bin/pserve --reload %(CONFIG_FILE)s
autostart = %(autostart_pserve)s
autorestart = false
environment = NODE_ENV=development

[program:gulp]
directory = %(here)s/assembl/static/js
command = %(VIRTUAL_ENV)s/bin/node %(here)s/assembl/static/js/node_modules/.bin/gulp
autostart = %(autostart_gulp)s
autorestart = true

[program:webpack]
directory = %(here)s/assembl/static2
command = %(VIRTUAL_ENV)s/bin/node %(here)s/assembl/static2/node_modules/.bin/webpack-dev-server --config webpack.dev.config.js
autostart = %(autostart_webpack)s
autorestart = true
environment = VIRTUAL_ENV="%(VIRTUAL_ENV)s",PATH="%(VIRTUAL_ENV)s/bin:%%(ENV_PATH)s",ASSEMBL_URL="%(ASSEMBL_URL)s",WEBPACK_URL="%(WEBPACK_URL)s"

[program:uwsgi]
directory = %(here)s
command=uwsgi --die-on-term --ini %(CONFIG_FILE)s
umask=002
autostart = %(autostart_uwsgi)s
autorestart = true
#user=www-data

[program:urlmetadata]
directory = %(here)s/../url_metadata
command = %(VIRTUAL_ENV)spy3/bin/python main.py
autostart = %(autostart_urlmetadata)s
autorestart = true

[program:maintenance_uwsgi]
directory = %(here)s
command=uwsgi --die-on-term --ini maintenance.ini
umask=002
autostart = false
autorestart = true

[program:metrics]
directory = %(metrics_code_dir)s
command=%(metrics_cl)s -l %(metrics_code_dir)s/metrics-startup.lisp
autostart = %(autostart_metrics_server)s
autorestart = true

[program:metrics_py]
directory = %(metrics_code_dir)s
command= %(metrics_code_dir)s/startup.py
autostart = %(autostart_metrics_server)s
autorestart = true

[program:edgesense]
directory = %(edgesense_code_dir)s
command=%(edgesense_venv)s/bin/edgesense_catalyst_server
autostart = %(autostart_edgesense_server)s
autorestart = true

[program:elasticsearch]
directory = %(here)s
command = %(here)s/var/elasticsearch/bin/elasticsearch -Ecluster.name="assembl" -Epath.data="%(here)s/var/esdata" -Epath.logs="%(here)s/var/log/elasticsearch"
autostart = %(autostart_elasticsearch_server)s
autorestart = true
environment = ES_JAVA_OPTS="-Xms1g -Xmx1g"
