html {
    font-family: Arial, sans-serif;
    font-size: $font-size;
}

::selection {
    background: $text-selection-color; /* Safari */
}
::-moz-selection {
    background: $text-selection-color; /* Firefox */
}

.margin { margin: $margin; }
.margin-top { margin-top: $margin-top; }
.margin-right { margin-right: $margin-right; }
.margin-bottom { margin-bottom: $margin-bottom; }
.margin-left { margin-left: $margin-left; }

.no-fx {
	@include transition( none !important );
}
