html {
    font-family: 'Droid Sans', sans-serif;
    font-size: $font-size;
    background-color: #fcfbf7;
}

@include selection {
    background: $text-selection-color;
}

@include scrollbar {
    background-color: #eeeeee;
    width:10px;
    height:10px
}

@include scrollbar-thumb {
    background:#c2c2c2;
    border-radius:6px;
    width:8px;
    min-height:40px;
    border:2px solid #eeeeee;
}

@include placeholder {
    color: transparentize( $text-muted-color, 0.3 );
}

.margin { margin: $margin; }
.margin-top { margin-top: $margin-top; }
.margin-right { margin-right: $margin-right; }
.margin-bottom { margin-bottom: $margin-bottom; }
.margin-left { margin-left: $margin-left; }

.float-left { float: left; }
.float-right { float: right; }

.inline { display: inline-block; }

.no-fx { @include transition( none !important ); }

.user-select-none {
    @include user-select(none);
    &::selection { background: transparent; }
    &::-moz-selection { background: transparent; }
}

.cursor-nodrop { cursor: no-drop !important; }
