// Creates the span for grid system
//
// @param $size=1 {number} The column size
// @param $total-col=12 {number} The total column size of the grid
@mixin col-span($size: 1, $total-col: 12){
    $col-width: $size / $total-col;
    $gutter-width: 2.762430939%;
    $width: 100%;
    @if $size < $total-col {
        $width: percentage($col-width) - $gutter-width;
    }

    float: left;
    @include box-sizing( border-box );
    margin-left: 2.762430939%;
    width: $width;
}

// Alias for `@include background-image(linear-gradient(...))`
@mixin background-linear-gradient($params...){
    background-image: -ms-linear-gradient($params);
    @include background-image(linear-gradient($params...));
}

// Only in medium resolution
@mixin medium-only {
    @media (min-width: 768px) and (max-width: 979px) { @content; }
}

// Only in large resolution
@mixin large-only {
    @media (min-width: 980px) and (max-width: 1199px) { @content; }
}

// Only in xlarge resolution
@mixin xlarge-only {
    @media (min-width: 1200) { @content; }
}
