/*** New design variable ***/

// Image dir
$img-dir: "/static/img";

// Fonts
$fonts-dir: "/static/css/fonts";

// Spacing
$spacingXs: 5px;
$spacingS: 10px;
$spacingM: 15px;
$spacingL: 20px;
$spacingXl: 30px;

// Colors
$purple: #B879E2;
$white: #FFFFFF;
$gray: #7F8C8D;
$grayCounter: #B3B3B3;
$orange: #f0c36d;
$black: #000000;
$yellow: #F0C36D;
$blue: #dbf2ff;

// Extended palette

$gray1: #888888;
$gray2: #515151;
$gray3: #ECF0F1;
$purple1: #6C0AAB;
$yellow1: #fcf8e3;

// Border Radius
$borderRadiusXs: 2px;
$borderRadiusS: 3px;
$borderRadiusMS: 5px;
$borderRadiusM: 6px;
$borderRadiusL: 10px;

// Typography
$baseFontSize: 12px;
$smallFontSize: $baseFontSize - 1;
$baseFontFamily: "Helvetica Neue", sans-serif !default;
$baseLineHeight: 1.4em;

// Usage variables

$textSelectionBackgroundColor: $orange;
$closebuttonColor: $gray;