/*** New design variable ***/

// Image dir
$img-dir: "/static/img";

// Fonts
$fonts-dir: "/static/css/fonts";

// Spacing
$spacingXs: 5px;
$spacingS: 10px;
$spacingM: 15px;
$spacingL: 20px;
$spacingXl: 30px;

// Colors
$purple: #CC9FEA;
$white: #FFFFFF;
$gray: #7F8C8D;
$orange: #FFD37F;
$black: #000000;
$blue: #dbf2ff;
$yellow: #fcf8e3;
$red: #da4d4d;

// Extended palette
$gray1: #888888;
$gray2: #515151;
$gray3: #ECF0F1;
$gray4: #484848;
$purple1: #B36FE0;
$purple2: #9A3FD5;
$orange1: #FFBD40;
$orange2: #FFA700;

// Border Radius
$borderRadiusXs: 2px;
$borderRadiusS: 3px;
$borderRadiusMS: 5px;
$borderRadiusM: 6px;
$borderRadiusL: 10px;

// Typography
$baseFontSize: 14px;
$smallFontSize: $baseFontSize - 2;

//Uses google font service
$baseFontFamily: "Open Sans", sans-serif !default;
$baseLineHeight: 1.3em;
$baseFontColor: lighten($black, 15%);

// Usage variables
$textSelectionBackgroundColor: $orange;
$closebuttonColor: $gray;

// panels

// below this size we scroll
$small_screen: 980px;

// these variables are also in assemblPanel.js
$idea_panel_grid_size: 3;
$message_panel_grid_size: 5;
$navigation_panel_grid_size: 4;
$clipboard_grid_size: 3;
$context_panel_grid_size: 8;
$synthesis_panel_grid_size: 3;

// 2/1 ratio for message/idea
// the number of grid units taken by basic setup of navigation+messages+ideaPanel
$min_num_grid_units: $navigation_panel_grid_size + $idea_panel_grid_size + $message_panel_grid_size;
// the number of grid units taken by largest panel
$max_panel_unit_size: $message_panel_grid_size + $idea_panel_grid_size;
// the number of grid units taken by largest group. Assume one message + 3 smaller panels.
$max_group_unit_size: $navigation_panel_grid_size + $idea_panel_grid_size + $message_panel_grid_size + $clipboard_grid_size;

$grid_unit_min_size: $small_screen / $min_num_grid_units;
// huge screen
$max_num_grid_units: round(2560px/$grid_unit_min_size);

// message-list min 5, nav3, idea 4