{% extends 'base.jinja2' %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/lib/jasmine.css" />
{% endblock extra_css %}

{% block extra_js %}
    {# run, Jasmine, run! #}
    <script type="text/javascript">
    requirejs(['tests/init']);
    </script>
{% endblock extra_js%}
