{% extends 'base.jinja2' %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/js/bower/jasmine/lib/jasmine-core/jasmine.css" />
{% endblock extra_css %}

{% block main_js %}
<script data-main="{{ STATIC_URL }}/js/tests/init.js" src="{{ STATIC_URL }}/js/bower/requirejs/require.js"></script>
{% endblock main_js %}
