{% extends 'base.jinja2' %}

{% block extra_css %}
    <!--<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/js/bower/jasmine/lib/jasmine-core/jasmine.css" />-->
    <link rel="stylesheet" type="text/css" href="http://mochajs.org/example/mocha.css" />
{% endblock extra_css %}

{% block content %}
<input type="hidden" name="discussion-id" id="discussion-id" value="{{ discussion.id }}" />
<input type="hidden" name="discussion-slug" id="discussion-slug" value="{{ discussion.slug }}" />

{% if user %}
    <input type="hidden" name="user-id" id="user-id" value="{{ user.id }}" />
    <input type="hidden" name="user-displayname" id="user-displayname" value="{{ user.display_name() }}" />
{% endif %}

 <div id="mocha"><p><a href=".">Index</a></p></div>
 <div id="test_view"></div>

{% endblock %}

{% block backboneTemplates %}
    <div id="templates">
        {% for template in templates %}
            {% set template_path = '../views/' + template + '.tmpl' %}
            <script id="tmpl-{{template}}" type="text/x-template">
                {% include template_path %}
            </script>
        {% endfor %}
    </div>
{% endblock %}

{% block extra_js %}
    {% if user %}
      {% set userId = user.id %}
    {% else %}
      {% set userId = 'system.Everyone' %}
    {% endif %}

    <script type="text/javascript">start_application = true; var globalAnalytics = {};</script>
    <script type="text/json" id="users-json">{{ discussion.get_all_agents_preload(user) |safe }}</script>
    <script type="text/json" id="inheritance-json">{{ discussion.get_json_inheritance_for('User', 'Idea', 'IdeaLink', 'Post') |safe }}</script>
    <script type="text/json" id="extracts-json">{{ discussion.get_related_extracts_preload(user_id=userId) |safe }}</script>
    {% if user %}
        <script type="text/json" id="current-user-json">{{ user.get_agent_preload() |safe }}</script>
        <script type="text/json" id="read-posts-json">{{ discussion.get_read_posts_ids_preload(userId) |safe }}</script>
    {% endif %}
    <script type="text/json" id="permissions-json">{{ discussion.get_user_permissions_preload(userId) |safe }}</script>
    <script type="text/json" id="preferences">{{ preferences_json |safe }}</script>
    <script type="text/json" id="role-names">{{ role_names |safe }}</script>
    <script type="text/json" id="translation-locale-names">{{ translation_locale_names_json |safe }}</script>
    <script type="text/json" id="translation-service-data">{{ translation_service_data_json |safe }}</script>

{% endblock %}

{% block main_js %}

<script>
    var CKEDITOR_BASEPATH = '/static/js/node_modules/ckeditor/';
</script>

<script src="{{ STATIC_URL }}/js/build/infrastructure.min.js"></script>

<script src="{{ STATIC_URL }}/js/bower/mocha/mocha.js"></script>

<script> mocha.setup('bdd') </script>

<script src="{{ STATIC_URL }}/js/build/tests/specs.js"></script>

<script> mocha.run() </script>

{% endblock main_js %}
