.titleWithTooltip-container {
  display: flex;
  align-items: center;
  justify-content: center;

  .titleTooltip-container {
    margin: 10px 0 0 5px;
  }
}

// .modal-content {
//   .modal-title {
//     font-family: $font-family3;
//     font-size: $font-size-sm;
//     line-height: 2;
//     padding-right: 20px;
//   }

//   .modal-body {
//     padding-left: 20px;
//     padding-right: 20px;
//     font-size: $font-size-sm;
//     letter-spacing: 1.1px;
//   }
// }

@media screen and (min-width: $screen-sm-min) {
  .titleWithTooltip-container {
    justify-content: left;
  }
}
