
<div id="admin" ng-controller="adminCreateFromIdeaCtl" ng-init="init()">
    <h1>Create a vote widget instance from an idea</h1>

    <div id="step_get_data" ng-show="current_step == 1">
        <p>
            Getting data from server...
        </p>
    </div>

    <div id="step_create_widget" ng-show="current_step == 2">
        <h2>Confirm widget creation</h2>
        <p>
            You are about to create an instance of the Vote widget, associated with the following idea: "{{ idea.shortTitle }}". Do you confirm?
        </p>

        <!-- TODO: do something on submit. optionnaly: only show "yes"/"no" buttons, and an "expert" mode which shows this -->
        <form id="widget_create_without_settings" method="POST">
            <label for="widget_create_without_settings_api_endpoint">endpoint</label>
            <input type="text" id="widget_create_without_settings_api_endpoint" value="{{ widget_creation_endpoint }}" size="50" />
            <br/>
            <label for="widget_create_without_settings_type">type</label>
            <input type="text" id="widget_create_without_settings_type" value="MultiCriterionVotingWidget" size="50" />
            <br/>
            <input type="submit" />
            <span id="widget_create_without_settings_result"></span>
        </form>
    </div>


</div>
