.administration {
  margin: $margin-section + $navbar-height 0;

  .profile-options {
    .profile-options-field {
      margin-bottom: 25px;

      input[type='text'] {
        border-radius: 0;
        min-width: 350px;
      }

      .rsbc-switch-button-flat-round {
        margin-top: 9px;
        margin-right: 5px;
        margin-left: 6px;
      }

      .admin-icons {
        padding: 0;
        width: 18px;
      }

      .form-control {
        width: 350px;
      }

      .select-field-options {
        padding-left: 20px;

        input[type='text'] {
          min-width: 330px;
        }

        .form-control {
          width: 330px;
        }
      }
    }
  }

  .help-block {
    color: #f00 !important;
  }

  .has-error > input {
    border-color: #f00 !important;
  }

  .block-picker {
    input {
      height: 34px !important;
    }
  }

  .checkbox-title {
    line-height: 20px;
    font-size: $font-size-xs;
    font-family: $font-family;
  }

  .gauges-vote-form {
    margin: 30px 0 0;
  }

  .token-vote-form {
    margin-top: 30px;
  }

  .admin-menu-container {
    height: 350px;
    position: relative;
  }

  .no-box-shadow {
    box-shadow: none !important;
  }

  .module-form {
    margin-top: 30px;
  }

  .file-uploader-warning {
    font-family: $font-family7;
    font-size: $font-size-xxs;
  }

  .admin-menu {
    padding: 0;
    position: fixed;
    list-style-type: none;

    li {
      padding: 0 0 15px;

      a {
        color: $grey2;

        &:hover {
          color: $first-color;
        }
      }
    }

    .active {
      color: $first-color;
      text-decoration: none;
    }
  }

  .admin-menu2 {
    list-style-type: none;
    padding: 15px 0 0 30px;

    li {
      &:last-child {
        padding: 0;
      }
    }
  }

  .language-menu {
    position: fixed;
    background-color: $white;
    padding-bottom: 15px;
    margin-top: 20px;
  }

  .admin-help {
    font-size: $font-size-xs;
    font-family: $font-family6;
    margin-top: -15px;
    letter-spacing: 0;
  }

  .admin-box {
    background-color: $white;

    .dark-title-3 {
      font-size: 20px;
      padding: 40px 50px 0;
      font-weight: bold;
    }

    .admin-content {
      padding: 30px 40px 80px;
      text-align: center;
    }

    .admin-paragraph {
      font-size: 13px;
      font-family: $font-family2;
      line-height: 1.8;
    }

    .admin-language-content {
      padding: 30px 30% 80px;
      text-align: left;

      .language-list {
        padding-top: 20px;
        color: $grey2;
      }
    }

    .two-columns-admin {
      display: flex;
      margin: 40px 0 0;

      .column-left {
        flex: 1;
      }

      .column-right {
        flex: 1;
      }
    }

    .annotation {
      margin: 0 44px 20px;
      font-family: $font-family7;
    }
  }

  .admin-icons {
    border: none;
    width: 35px;

    &:hover {
      background-color: $white;
      border: none;
    }

    &:focus {
      outline: none;
      background-color: $white;
    }

    &:active {
      box-shadow: none;
    }
  }

  .plus {
    background-color: $first-color;
    border-radius: 20px;
    color: $white;
    cursor: pointer;
    height: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 0 1px 2px;
    text-align: center;
    width: 20px;
  }

  .form-container {
    margin: 0 auto;
    max-width: 400px;
    text-align: left;

    .title {
      font-size: 13px;
      font-family: $font-family2;
      margin: 0 0 25px;
      text-align: left;
    }

    .form-control {
      font-size: 12px;
      padding-left: 8px;
    }
  }

  .flag-container {
    cursor: pointer;
    margin: 20px 15px 0;

    &:hover {
      transform: scale(1.2);
    }
  }

  .flag-container.active {
    border-width: $btn-dark-border-width;
    border-style: $btn-dark-border-style;
    border-color: $btn-dark-border-color;
    border-radius: 20px;
    height: 24px;
    margin: 20px 15px 0 13px;
    transform: scale(1.2);
    width: 24px;
  }

  .assembl-icon-delete {
    &:before {
      font-size: 15px;
    }
  }

  .separator {
    border-bottom: 1px $btn-dark-border-style $btn-dark-border-color;
    clear: both;
    margin: 0 0 50px;
    padding: 40px 0 15px;
  }

  .admin-navbar {
    background-color: $first-color-light;
    height: $navbar-height;
    width: 100%;

    .step-numbers {
      max-width: 250px;
      padding: 0 0 0 40px;
      position: relative;
      width: 100%;

      .txt {
        color: $first-color;
        font-family: $font-family4;
        font-size: $font-size-xs;
        margin: 12px 0 5px;
      }

      .bar {
        background-color: $first-color;
        height: 6px;
        position: absolute;
        z-index: 2;
      }

      .bkg-bar {
        background-color: $white;
        height: 6px;
        width: 100%;
        position: absolute;
        z-index: 1;
      }
    }
  }

  .arrow-container {
    padding: 0 40px 0 0;

    .arrow {
      background-color: $white;
      border-radius: 26px;
      cursor: pointer;
      display: inline-block;
      line-height: 20px;
      height: 26px;
      margin: 18px 0 0 30px;
      padding: 0 0 0 4px;
      text-align: left;
      transform: rotate(90deg);
      width: 26px;

      .assembl-icon-up-open {
        color: $first-color;
        display: block;
        margin-bottom: 2px;

        &:before {
          font-size: 8px;
        }
      }

      .assembl-icon-down-open {
        color: $first-color;
        display: block;
        margin-top: 2px;

        &:before {
          font-size: 8px;
        }
      }
    }
  }

  .save-bar {
    border-bottom: $navbar-border;
    border-top: $navbar-border;
    background-color: $white;
    height: $navbar-height;
    padding: 10px 0;
    position: fixed;
    top: $navbar-height;
    width: 100%;
    z-index: 100;
  }

  .save-button {
    position: fixed;
    margin-top: -102px;
    right: 0;
    z-index: 101;
  }

  .save-button-low {
    margin: 0 150px 0 0;
  }

  .tab-title {
    border-bottom: $border-not-active;
    color: $grey2;
    cursor: pointer;
    display: block;
    padding: 0 0 5px 0;
  }

  .tab-title-active {
    border-bottom: $border-active;
    color: $grey3;
    cursor: pointer;
    display: block;
    padding: 0 0 5px 0;
    text-decoration: none;
  }

  .text-area {
    height: 100px;
  }

  .preview {
    border-radius: 5px;
    margin: 25px 0 0;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

    img {
      border-radius: 5px;
      width: 50%;
      max-height: 300px;
    }

    .preview-title {
      margin: 0 0 0 10px;
      white-space: pre;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .assembl-icon-text-attachment {
      margin-right: 5px;
    }

    .admin-icons {
      padding: 0;
    }
  }

  .preview-title {
    color: $grey3;
    font-family: $font-family6;
    font-size: $font-size-xs;
    margin: 10px 0 20px 5px;
  }

  .question-section {
    margin: 0 0 75px 0;
  }

  label {
    font-family: $font-family4;
    font-size: $font-size-xs;
    margin: 0 0 5px 5px;
  }

  .help-block {
    font-size: $font-size-xxs;
    margin: 5px 0 0 5px;
    font-family: $font-family6;
  }

  .description-block {
    color: $grey8;
    font-size: $font-size-xxs;
    margin: 10px 0 0 5px;
    font-family: $font-family6;
  }

  .assembl-icon-faq {
    &:before {
      font-size: $font-size-xxs;
    }

    &:hover {
      color: $grey3;
    }
  }

  .vote-modules-form {
    .dropdown {
      width: 100%;

      .admin-dropdown {
        width: 92%;
        text-align: left;
      }

      .dropdown-toggle {
        width: 8%;
      }
    }

    .flex > .form-group {
      flex-grow: 1;
    }
  }

  .landing-page-admin {
    .admin-box {
      .admin-content {
        text-align: left;
      }
    }

    .modules-preview {
      margin: 5px;
      padding: 5px;
      background-color: $grey0;
      min-height: 400px;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .inner {
        margin: auto;
        width: 70%;
        min-height: 330px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);

        .module-block:first-child {
          padding: 10px 0;
        }

        .module-block:first-child,
        .module-block:last-child {
          background-color: $first-color;
          opacity: 0.7;
          color: $white;
          border: 0;
          margin: 0;
          text-align: center;
        }

        .other-modules {
          flex: 1;
          justify-content: flex-start;
          background-color: $white;

          .module-block {
            margin: 7px;
            padding: 15px 10px 15px 16px;
            border: 0.8px solid $first-color;
            color: $first-color;
            background-color: $white;
            display: flex;
            justify-content: space-between;

            .admin-icons {
              color: $first-color;
              padding: 0;
              width: 20px;
            }
          }
        }
      }
    }
  }

  .admin-box {
    .intro-text {
      display: flex;
      flex-direction: column;
      padding: 0 45px;
      font-size: $font-size-xs;
      color: $grey3;
      font-family: $font-family4;

      .timeline-link {
        font-family: $font-family2;
        text-decoration: underline;
      }
    }

    .bold {
      font-family: $font-family5;
    }
  }

  .vote-proposal-form {
    margin-top: 65px;

    .settings-link {
      margin-left: 20px;
      font-size: $font-size-xs;
      color: $purple;
      font-family: $font-family7;

      &:hover {
        cursor: pointer;
      }

      .assembl-icon-edit:before {
        font-size: $font-size-s;
      }
    }
  }
}

.helper-popover {
  width: auto;
  min-width: 350px;
  padding: 20px 11px;

  .arrow {
    display: none;
  }

  img {
    padding-bottom: 10px;
  }

  .helper-text {
    padding-top: 10px;
  }
}

.margin-left-20 {
  margin-left: 20px;
}
