.announcement-numbers-multicol {
  font-size: $font-size-m;
  width: 190px;
  text-align: center;
  padding-left: 25px;
}

.col-announcement-count {
  font-size: $font-size-xs;
  padding-left: 0;
}

.columns-view-inline {
  display: flex;
  float: left;

  .post-right {
    min-width: 40px;
    margin-left: -10px;
  }
}

.top-post-form-inline {
  display: flex;
  justify-content: center;
}

.columns-view {
  margin-top: -20px;

  .infinite-separator {
    border: none;
    margin: 40px auto;

    span {
      display: none;
    }
  }

  .empty-sentiments-count {
    height: 35px;
  }

  .top-post-form {
    min-height: 440px;
    width: 100%;
    margin: $margin-section-m 0 0;

    .dark-title-3 {
      line-height: 25px;
    }
  }

  .level {
    width: 100%;
  }

  .posts {
    .box {
      max-width: 100%;
    }
  }

  .DraftEditor-editorContainer {
    height: 180px;
    max-height: 180px;
    overflow-y: auto;
  }

  .public-DraftEditor-content {
    overflow: hidden;
  }

  .attachments {
    float: left;
  }

  .start-discussion-multicol {
    max-width: 80%;
    vertical-align: top;
  }
}

.synthesis {
  font-family: $font-family4;

  .ellipsis {
    white-space: normal;
    line-height: 1.8em;
    height: 3.6em;
    // synthesis title can be on two lines
    // note that text-overflow: ellipsis; only works when white-space is nowrap.
  }
}
