.announcement-numbers-multicol {
  font-size: $font-size-m;
  width: 130px;
  text-align: left;
  padding-left: 25px;
}
.col-announcement-count {
  font-size: $font-size-xs;
  padding-left: 0;
}
.columns-view-inline {
  display: flex;
  float: left;
  .post-right {
    min-width: 40px;
    margin-left: -10px;
  }
}

.top-post-form-inline {
  display: flex;
  justify-content: center;
}

.columns-view {
  margin-top: -20px;

  .infinite-separator {
    border: none;
    margin: 40px auto;
    span {
      display: none;
    }
  }
  .empty-sentiments-count {
    height: 35px;
  }
  .top-post-form {
    height: 440px;
    width: 100%;
    margin: $margin-section-m 0 0;

    .dark-title-3 {
      line-height: 25px;
    }
  }
  .level {
    width: 100%;
  }
  .posts {
    .box {
      max-width: 100%;
    }
  }
  .DraftEditor-editorContainer {
    height: 180px;
    max-height: 180px;
    overflow-y: auto;
  }
  .public-DraftEditor-content {
    overflow: hidden;
  }
  .attachments {
    float: left;
  }
  .synthesis {
    font-family: $font-family4;
    padding: 0;
    margin: 0 0 40px;
    max-height: 500px;
    border: none;
    .insert-box {
      border: none;
      height: 355px;
    }
    .ellipsis {
      overflow: inherit;
      text-overflow: inherit;
      white-space: inherit;
      line-height: 25px;
      padding: 0 0 0 10px;
      margin-bottom: 0;
    }
    .column-post {
      overflow: hidden;
      height: 400px;
    }
    .insert-content {
      height: 215px;
      overflow-y: auto;
      padding: 0 0 0 10px;
    }
    .posts {
      .post-left {
        padding: 10px;
      }
    }
  }
  .start-discussion-multicol {
    max-width: 80%;
    vertical-align: top;
  }
}
