.proposals {
  .assembl-icon-angle-right {
    &:before {
      font-size: $font-size-l;
    }
  }

  .assembl-icon-angle-down {
    &:before {
      font-size: $font-size-l;
    }
  }
}

.debate-link.active {
  > .navbar-menu-item {
    color: $white !important;
  }

  .header-container {
    display: block;
  }
}

.debate-link {
  .timeline-shifted {
    top: $navbar-height;
  }

  .header-container {
    display: none;
    position: absolute;
    width: 100%;
    right: 0;
    left: 0;

    .menu-container {
      position: fixed;
      right: 0;
      left: 0;
      z-index: -1;
      padding: 10px 0 10px;
      background-color: $white;
      box-shadow: 0 1px 10px rgba(0, 0, 0, 0.45);
    }

    .menu-table-col {
      width: 100%;
      min-height: 100%;
      display: flex;
      flex: 1;

      .sub-menu-separator {
        width: 1px;
        background: rgba(0, 0, 0, 0.15);
        min-height: 100%;
      }

      &.sub-menu {
        .menu-table {
          max-width: 24vw;
        }
      }
    }

    .menu-table {
      width: 26vw;
      float: left;
      height: 100%;
      padding: 0 5px;
      overflow-y: auto;
      overflow-x: hidden;
      max-height: 72vh;

      @media (min-height: 534px) and (max-height: 549px) {
        max-height: calc(72vh - 30px);
      }

      @media (min-height: 640px) and (max-height: 655px) {
        max-height: calc(72vh - 10px);
      }

      @media (min-height: 667px) and (max-height: 682px) {
        max-height: calc(72vh - 30px);
      }

      @media (min-height: 720px) and (max-height: 735px) {
        max-height: calc(72vh - 70px);
      }

      @media (min-height: 800px) and (max-height: 815px) {
        max-height: calc(72vh - 30px);
      }

      @media (min-height: 864px) and (max-height: 879px) {
        max-height: calc(72vh - 30px);
      }

      @media (min-height: 1024px) and (max-height: 1039px) {
        max-height: calc(72vh - 25px);
      }

      @media (min-height: 1050px) and (max-height: 1065px) {
        max-height: calc(72vh - 60px);
      }

      .menu-item-container {
        display: flex;
        flex: 1;
        justify-content: flex-end;
        margin-bottom: 10px;
        margin-top: 10px;

        .menu-item {
          display: flex;
          width: 24vw;
          max-width: 100%;
          align-items: center;
          color: inherit;
          cursor: pointer;

          .thumb-img {
            height: 42px;
            width: 64px;
            background-position: top left;
            background-repeat: no-repeat;
            background-size: cover;
            position: relative;
          }

          .thumb-body {
            padding: 5px 5px 3px 15px;
            font-size: 10px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: calc(100% - 79px);
            height: 100%;
          }

          .assembl-icon::before {
            font-size: 12px;
          }

          .thumb-title {
            font-size: 11px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            width: 100%;
          }
        }

        &.active {
          .thumb-img {
            border-style: solid;
            border-width: 2px;

            .thumb-img-background {
              background-color: rgba(25, 40, 130, 0.5);
              height: 100%;
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
            }
          }

          .thumb-title {
            font-weight: bold;
          }
        }
      }
    }

    .max-container {
      position: relative;
    }

    .not-started {
      width: 100%;
      max-width: 500px;
      text-align: center;
      padding: 30px;
      margin: auto;
    }

    .timeline-section {
      padding-top: 17px;
      width: 100%;
      z-index: 200;

      .timeline-container {
        margin: 0 100px;
        max-width: 500px;
        height: auto;
        display: flex;
        position: relative;
      }

      .burger-menu {
        cursor: pointer;
        position: absolute;
        text-align: center;
        top: 12px;

        &:hover {
          color: $grey;
        }
      }

      .burger-menu-label {
        font-size: $font-size-xxs;
      }
    }

    @media (min-width: 1300px) {
      .menu-table-col.sub-menu .menu-table {
        max-width: 20vw;
      }

      .menu-table {
        width: 30vw;

        .menu-item-container .menu-item {
          width: 20vw;
        }
      }
    }
  }
}

.debate {
  .timeline-shifted {
    top: $navbar-height;
  }

  .top-post-sticky {
    background-color: $white;
    position: sticky;
    top: $top-post-sticky-top;
    width: 100%;
    z-index: 1000;
  }

  .timeline-section {
    background-color: $white;
    border-bottom: $navbar-border;
    border-top: $navbar-border;
    padding: 13px 0 13px 0;
    position: fixed;
    width: 100%;
    z-index: 200;
    top: $navbar-height;

    .timeline-container {
      margin: 0 100px;
      max-width: 500px;
      height: auto;
      display: flex;
    }

    .burger-menu {
      cursor: pointer;
      position: absolute;
      text-align: center;
      top: 12px;

      &:hover {
        color: $grey;
      }
    }

    .burger-menu-label {
      font-size: $font-size-xxs;
    }
  }

  .shifted {
    margin: $navbar-height 0 0;
  }

  .questions {
    .questions-section {
      .txt-area {
        background: $white;
        border-bottom: none;
        border-left-style: solid;
        border-left-width: 5px;
        border-radius: initial;
        border-right: none;
        border-top: none;
        box-shadow: none;
        font-family: $font-family4;
        font-size: $font-size-s;
        height: 160px;
        letter-spacing: 1px;
        padding: 20px;
      }
    }

    .question-title {
      text-align: left;

      .dark-title-1 {
        padding: 15px 0 0;
        width: calc(100% - 75px);
      }

      .dark-title-5 {
        margin: 20px 0 10px 60px;
      }
    }
  }

  .navigation-section {
    width: 100%;
    z-index: 0;

    .question-nav {
      height: $navbar-height;

      .question-numbers {
        max-width: 350px;
        position: relative;

        .txt {
          font-family: $font-family4;
          margin: 14px 0 5px;
        }

        .bar {
          height: 6px;
          position: absolute;
          z-index: 2;
        }

        .bkg-bar {
          background-color: $white;
          height: 6px;
          width: 100%;
          z-index: 1;
        }
      }

      .arrow {
        align-items: center;
        background-color: $white;
        border-radius: 36px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        height: 36px;
        margin: 15px 0 0 30px;
        width: 36px;
      }
    }
  }

  .proposals-section {
    margin: $margin-section 0 0 0;
  }

  .postcreator-loader {
    margin: 40px;
  }

  .start-discussion {
    display: inline-block;
    padding: 2px 0 0 10px;
    max-width: 150px;
  }

  .start-discussion-icon {
    display: inline-block;
    padding: 3px 0 0 0;
    vertical-align: top;
  }

  input {
    &[type='text'] {
      border: none;
      border-radius: 0;
      height: 40px;
    }
  }

  textarea {
    border: none;
    border-radius: 0;
    box-shadow: 0 0 0 50px $input-txt-bkg-color inset;

    &:focus {
      box-shadow: 0 0 0 50px $input-txt-bkg-color inset;
    }
  }

  .input-title-label {
    padding-bottom: 8px;
  }
}

@media screen and (max-width: $screen-xxs-max) {
  .debate {
    .questions {
      .questions-section {
        .dark-title-5 {
          margin: 10px 0 10px 20px;
        }
      }
    }
  }
}

@media screen and (min-width: 601px) {
  .debate {
    .survey {
      .alert {
        top: $navbar-height;
      }
    }
  }
}

@media screen and (max-width: $screen-lg-min) {
  .start-discussion-container {
    margin-left: -20px;
  }
}

@media screen and (max-width: $screen-sm-min) {
  .start-discussion-container {
    margin-left: 0;
  }
}

@media screen and (max-width: 1280px) {
  .burger-menu {
    padding: 0 0 0 15px;
  }
}

@media screen and (min-width: $screen-sm-min) {
  .top-post-form {
    padding: 33px 0 0;
  }

  .debate {
    .questions {
      .questions-section {
        .dark-title-5 {
          margin: 20px 0 10px 20px;
        }
      }
    }
  }
}

@media screen and (max-width: $screen-xs-max) {
  .navigation-section.shown {
    display: none;
  }

  .top-post-form {
    padding: 20px 20px 0 20px;

    .start-discussion-icon {
      height: auto;
      margin: 0 0 0 20px;
    }

    .form-container {
      margin: 20px;
    }

    .start-discussion {
      max-width: 100%;
    }
  }
}

@media screen and (max-width: 600px) {
  .debate {
    .survey {
      .alert {
        top: $alert-mobile-position;
      }
    }

    .top-post-sticky {
      position: unset;
      top: $top-post-sticky-top;
    }

    .timeline-section {
      display: none;
    }

    .themes-section {
      margin: 60px 0 0;
    }

    .debate-section {
      margin: 60px 0 0;
    }

    .shifted {
      margin: 0;
    }
  }
}

@media screen and (min-width: $screen-sm-min) {
  .question-title {
    margin: $margin-section 0 $margin-section-xs;
  }
}

@media screen and (max-width: $screen-sm-min) {
  .question-title {
    margin: $margin-section 0 $margin-section-xs;
  }
}

@media screen and (max-width: $screen-sm-max) {
  .debate {
    .idea {
      .container-fluid {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }

  @media screen and (max-width: $screen-xs-max),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi) {
    .question-title {
      margin: $margin-section-xs 0 $margin-section-xs / 2;

      .title-hyphen {
        position: relative;
        left: -30px;
      }

      .dark-title-1 {
        display: block;
        font-size: 20px;
        line-height: 33px;
        width: calc(100% - 30px);
      }
    }
  }
}
