.debate {

  .timeline-section {
    background-color: $white;
    border-bottom: $navbar-border;
    border-top: $navbar-border;
    height: $navbar-height;
    padding: 13px 0 0;
    position: fixed;
    top: $navbar-height;
    width: 100%;
    z-index: 100;


    .timeline-container {
      margin: 0 0 0 85px;
    }

    .burger-menu {
      cursor: pointer;
      position: absolute;
      top: 20px;
      width: 60px;
    }
  }

  .debate-section {
    margin: $navbar-height*2 0 0;
  }

  .themes-section {
    margin: 120px 0 0;
    .theme {
      &:nth-child(1) {
        margin: 80px 0 0;
      }

      &:nth-child(2) {
        margin: 0;
      }

      &:nth-child(3) {
        margin: 80px 0 0;
      }

      &:nth-child(4) {
        margin: 40px 0 0;
      }

      &:nth-child(5) {
        margin: 2px 0 0;
      }

      &:nth-child(6) {
        margin: -78px 0 0;
      }
      
      &:nth-child(7) {
        margin: 2px 0 0;
      }

      &:nth-child(8) {
        margin: -38px 0 0;
      }
      
      &:nth-child(9) {
        margin: 2px 0 0;
      }
      
      &:nth-child(10) {
        margin: -78px 0 0;
      }

      &:nth-child(11) {
        margin: 2px 0 0;
      }
      
      &:nth-child(12) {
        margin: -38px 0 0;
      }

      &:nth-child(13) {
        margin: 2px 0 0;
      }
      
      &:nth-child(14) {
        margin: -78px 0 0;
      }

      &:nth-child(15) {
        margin: 2px 0 0;
      }
      
      &:nth-child(16) {
        margin: -38px 0 0;
      }
    }

    .illustration {
      .light-title-3 {
        margin: 200px 20px 0;
      }

      .content-box {
        &:hover {
          .text-box {
            margin: 220px 0 0;
          }

          .stat-nb {
            display: block;
          }

          .dash {
            display: none;
          }

          .stats {
            color: $white;
            margin: -210px 0 0;
            text-align: left;
          }
        }
      }

      .stats {
        color: $white;
        margin: 180px 0 0;
        text-align: center;

        .stat-nb {
          display: inline;
          padding: 10px 0 0;
        }

        .glyph-white {
          padding: 0 0 0 5px;
          vertical-align: middle;
        }

        .dash {
          display: inline;
          padding: 0 10px;
        }

        img {
          margin: 0 0 5px 5px;
        }
      }

      .white-icon {
        padding: 0 0 0 5px;

        span {
          font-size: 13px;
        }
      }

      .text-box {
        -webkit-line-clamp: $lines-to-show;
        -webkit-box-orient: vertical;
        font-size: $font-size-s;
        height: $font-size-s * $line-height * $lines-to-show;
        line-height: $line-height;
        margin: 0 auto;
        overflow: hidden;
        text-align: center;
        text-overflow: ellipsis;
      }
    }
  }

  .header-section {
    background-color: $first-color;
    min-height: 380px;
    overflow: hidden;
    position: relative;

    .header-content {
      position: relative;
      text-align: center;
      z-index: 2;

      .max-text-width {
        margin: 0 auto;
        max-width: 500px;
      }
    }

    .header-bkg {
      background-position: left;
      background-repeat: no-repeat;
      background-size: cover;
      height: 100%;
      opacity: .7;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }

  .questions-section {
    .txt-area {
      border-bottom: none;
      border-left: 5px solid $first-color;
      border-radius: initial;
      border-right: none;
      border-top: none;
      box-shadow: none;
      font-family: $font-family4;
      font-size: $font-size-s;
      height: 250px;
    }
  }

  .video-section {
    .video-col {
      margin: -15px 0 0;
    }

    .video-description {
      color: $first-color;
      font-size: $font-size-s;
      line-height: 30px;
      margin: 0 auto;
      text-align: center;
      width: 200px;

      .description-txt {
        margin: 40px 0 25px;
        text-align: left;
      }
    }

    .assembl-icon-pepite {
      &:before {
        font-size: 60px;
      }
    }
  }

  .navigation-section {
    .question-nav {
      color: $first-color;
      height: $navbar-height;
    }
  }
}

@media screen and (max-width: 600px) {
  .debate {
    .timeline-section {
      display: none;
    }

    .themes-section {
      margin: 60px 0 0;
    }

    .debate-section {
      margin: 60px 0 0;
    }
  }
}

@media screen and (max-width: 991px) {
  .debate {
    .themes-section {
      .theme {
        &:nth-child(1) {
          margin: 2px 0 0;
        }

        &:nth-child(2) {
          margin: 2px 0 0;
        }

        &:nth-child(3) {
          margin: 2px 0 0;
        }

        &:nth-child(4) {
          margin: 2px 0 0;
        }

        &:nth-child(5) {
          margin: 2px 0 0;
        }

        &:nth-child(6) {
          margin: 2px 0 0;
        }

        &:nth-child(7) {
          margin: 2px 0 0;
        }

        &:nth-child(8) {
          margin: 2px 0 0;
        }

        &:nth-child(9) {
          margin: 2px 0 0;
        }

        &:nth-child(10) {
          margin: 2px 0 0;
        }

        &:nth-child(11) {
          margin: 2px 0 0;
        }

        &:nth-child(12) {
          margin: 2px 0 0;
        }

        &:nth-child(13) {
          margin: 2px 0 0;
        }

        &:nth-child(14) {
          margin: 2px 0 0;
        }

        &:nth-child(15) {
          margin: 2px 0 0;
        }

        &:nth-child(16) {
          margin: 2px 0 0;
        }
      }
    }
  }
}