.debate-link.active {
  > .navbar-menu-item {
    background-color: $first-color;
    color: $white !important;
  }

  .header-container {
    display: block;
  }
}

.debate-link {
  .timeline-shifted {
    top: $navbar-height;
  }

  .header-container {
    display: none;
    position: absolute;
    width: 100%;
    right: 0;
    left: 0;
    background-color: $first-color;

    .menu-container {
      position: fixed;
      top: calc(#{$navbar-height} + 63px);
      right: 0;
      left: 0;
      z-index: -1;
      max-height: 70%;
      padding: 10px 0 10px;
      background-color: $white;
      box-shadow: 0 1px 10px rgba(0, 0, 0, 0.45);
      overflow: auto;
    }

    .menu-table-col {
      width: 100%;
      display: flex;
      flex: 1;

      &.sub-menu {
        .menu-table {
          max-width: 300px;
        }
      }
    }

    .menu-table {
      width: 25%;
      float: left;
      height: 100%;
      border-right: solid 1px rgba(0, 0, 0, 0.15);
      padding: 0 5px;
      min-width: 300px;

      .menu-item-container {
        display: flex;
        flex: 1;
        justify-content: flex-end;
        margin-bottom: 10px;
        margin-top: 10px;

        .menu-item {
          display: flex;
          max-width: 300px;
          width: 100%;
          align-items: center;
          color: inherit;

          .thumb-img {
            height: 45px;
            width: 25%;
            background-position: top left;
            background-repeat: no-repeat;
            background-size: cover;
            background-color: $first-color;
            position: relative;
          }

          .thumb-body {
            padding: 10px 5px 10px 10px;
            font-size: 10px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: calc(75% - 15px);
            height: 100%;
          }

          .assembl-icon::before {
            font-size: 12px;
          }

          .thumb-title {
            font-size: 11px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            width: 100%;
          }
        }

        &.active {
          background-color: $first-color-light;
          color: $first-color;

          .thumb-img {
            border: solid 2px $first-color;

            .thumb-img-background {
              background-color: rgba(25, 40, 130, 0.5);
              height: 100%;
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
            }
          }

          .thumb-title {
            font-weight: bold;
          }
        }
      }
    }

    .max-container {
      position: relative;
    }

    .not-started {
      width: 100%;
      max-width: 500px;
      text-align: center;
      padding: 30px;
      margin: auto;
    }

    .timeline-section {
      padding-top: 17px;
      width: 100%;
      z-index: 200;

      .timeline-container {
        margin: 0 100px;
        max-width: 500px;
        height: auto;
        display: flex;
        position: relative;
      }

      .burger-menu {
        cursor: pointer;
        position: absolute;
        text-align: center;
        top: 12px;

        &:hover {
          color: $grey2;
        }
      }

      .burger-menu-label {
        font-size: $font-size-xxs;
      }
    }
  }
}

.debate {
  .timeline-shifted {
    top: $navbar-height;
  }

  .top-post-sticky {
    position: fixed;
    top: 125px;
    width: 100%;
    z-index: 100;
  }

  .timeline-section {
    background-color: $white;
    border-bottom: $navbar-border;
    border-top: $navbar-border;
    padding: 13px 0 13px 0;
    position: fixed;
    width: 100%;
    z-index: 200;
    top: $navbar-height;

    .timeline-container {
      margin: 0 100px;
      max-width: 500px;
      height: auto;
      display: flex;
    }

    .burger-menu {
      cursor: pointer;
      position: absolute;
      text-align: center;
      top: 12px;

      &:hover {
        color: $grey2;
      }
    }

    .burger-menu-label {
      font-size: $font-size-xxs;
    }
  }

  .shifted {
    margin: $navbar-height 0 0;
  }

  .header-section {
    background-color: $first-color;
    height: 500px;
    position: relative;
    z-index: 10;

    .wyntk-box {
      top: calc(50% - 175px);
      height: 350px;
      width: 350px;
      padding: 30px;
      padding-right: 0;
      z-index: 3;

      .wyntk-title {
        text-transform: uppercase;
        margin: 0;
        padding: 0;
        font-family: "latoBold";
      }

      .box-hyphen {
        margin-top: 12px;
        margin-bottom: 23px;
      }

      .wyntk-text-container {
        overflow-y: scroll;
        padding-right: 10px;
        margin-right: 10px;
        height: 234px;

        .wyntk-text {
          line-height: 2;
          font-size: 12px;
          padding-right: 10px;
        }
      }
    }

    .header-content {
      margin: $margin-section 0 0;
      position: relative;
      text-align: center;
      z-index: 2;

      .max-text-width {
        margin: 0 auto;
        max-width: 500px;
      }

      a {
        color: $white;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    .header-bkg {
      background-position: left;
      background-repeat: no-repeat;
      background-size: cover;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
    }

    .header-bkg-mask {
      background-color: $opacity-color;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
    }
  }

  .questions {
    .questions-section {
      .txt-area {
        background: $linear-gradient;
        border-bottom: none;
        border-left: 5px solid $first-color;
        border-radius: initial;
        border-right: none;
        border-top: none;
        box-shadow: none;
        font-family: $font-family4;
        font-size: $font-size-s;
        height: 160px;
        letter-spacing: 1px;
        padding: 20px;
      }
    }

    .question-title {
      text-align: left;

      .dark-title-1 {
        padding: 15px 0 0;
        width: calc(100% - 75px);
      }
    }
  }

  .navigation-section {
    width: 100%;
    z-index: 0;

    .question-nav {
      color: $first-color;
      height: $navbar-height;

      .question-numbers {
        max-width: 350px;
        position: relative;

        .txt {
          font-family: $font-family4;
          margin: 14px 0 5px;
        }

        .bar {
          background-color: $first-color;
          height: 6px;
          position: absolute;
          z-index: 2;
        }

        .bkg-bar {
          background-color: $white;
          height: 6px;
          width: 100%;
          z-index: 1;
        }
      }

      .arrow {
        background-color: $white;
        border-radius: 36px;
        cursor: pointer;
        display: inline-block;
        line-height: 30px;
        height: 36px;
        margin: 15px 0 0 30px;
        padding: 3px 0 0 5px;
        text-align: left;
        width: 36px;

        .assembl-icon-up-open {
          &:before {
            font-size: 12px;
          }
        }

        .assembl-icon-down-open {
          &:before {
            font-size: 12px;
          }
        }
      }
    }
  }

  .proposals-section {
    margin: $margin-section 0 0 0;
  }

  .postcreator-loader {
    margin: 40px;
  }

  .start-discussion {
    display: inline-block;
    padding: 2px 0 0 10px;
    max-width: 150px;
  }

  .start-discussion-icon {
    display: inline-block;
    padding: 3px 0 0 0;
    vertical-align: top;
  }

  input {
    &[type='text'] {
      border: none;
      border-radius: 0;
      height: 40px;
    }
  }

  textarea {
    border: none;
    border-radius: 0;
    box-shadow: 0 0 0 50px $input-txt-bkg-color inset;

    &:focus {
      box-shadow: 0 0 0 50px $input-txt-bkg-color inset;
    }
  }

  .input-title-label {
    padding-bottom: 8px;
  }
}

@media screen and (min-width: 601px) {
  .debate {
    .survey {
      .alert {
        top: $navbar-height;
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .start-discussion-container {
    margin-left: -20px;
  }
}

@media screen and (max-width: 768px) {
  .start-discussion-container {
    margin-left: 0;
  }
}

@media screen and (max-width: 1280px) {
  .burger-menu {
    padding: 0 0 0 15px;
  }
}

@media screen and (min-width: 768px) {
  .top-post-form {
    padding: 33px 0 0;
  }
}

@media screen and (max-width: 767px) {
  .navigation-section.shown {
    display: none;
  }

  .top-post-form {
    padding: 20px 0;

    .start-discussion-icon {
      height: auto;
      margin: 0 0 0 20px;
    }

    .form-container {
      margin: 20px;
    }

    .start-discussion {
      max-width: 100%;
    }
  }
}

@media screen and (max-width: 600px) {
  .debate {
    .survey {
      .alert {
        top: ($navbar-height * 2) + 20px;
      }
    }

    .top-post-sticky {
      top: 60px;
    }

    .timeline-section {
      display: none;
    }

    .themes-section {
      margin: 60px 0 0;
    }

    .debate-section {
      margin: 60px 0 0;
    }

    .shifted {
      margin: 0;
    }
  }
}

@media screen and (min-width: 768px) {
  .question-title {
    margin: $margin-section 0 $margin-section-xs;
  }
}

@media screen and (max-width: 768px) {
  .question-title {
    margin: $margin-section 0 $margin-section-xs;
  }
}

@media screen and (max-width: 991px) {
  .idea {
    .container-fluid {
      padding-left: 0;
      padding-right: 0;

      .content-section {
        padding-top: 50px;
      }
    }
  }
}

@media screen and
  (max-width: 767px),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi) {
  .question-title {
    margin: $margin-section-xs 0 $margin-section-xs / 2;

    .title-hyphen {
      position: relative;
      left: -30px;
    }

    .dark-title-1 {
      display: block;
      font-size: 20px;
      line-height: 33px;
      margin: 0 0 0 15px;
      width: calc(100% - 30px);
    }
  }
}

@media screen and (max-width: 767px) {
  .debate {
    .header-section {
      margin-top: $navbar-height;
    }
  }
}

@media screen and (min-width: 768px) {
  .debate {
    .header-section {
      margin-top: $navbar-height;
    }
  }
}
