.header {
  background-color: $white;
  overflow: hidden;
  position: relative;

  .header-content {
    position: relative;
    text-align: center;
    z-index: 2;

    .header-logo {
      height: 115px;
      padding: 0 0 20px;
    }
  }

  .header-bkg {
    opacity: .15;
    position: absolute;
    top: 0;
  }

  .statistic {
    margin: 20px auto;

    .stat {
      display: inline-block;
      font-family: $font-family2;
      font-size: $font-size-s;
      margin: 0 auto;
      text-align: center;
      text-transform: uppercase;
    }

    .stat-box {
      padding: 0 20px;
    }
  }
}

