.header {
  background-color: $first-color;
  min-height: 380px;
  overflow: hidden;
  position: relative;

  .header-content {
    position: relative;
    text-align: center;
    z-index: 2;

    .max-text-width {
      margin: 0 auto;
      max-width: 500px;
    }

    .header-logo {
      filter: brightness(0) invert(1);
      height: 85px;
      padding: 10px;
    }
  }

  .header-bkg {
    background-image: url('#{$img-dir}/default_header.jpg');
    background-position: left;
    background-size: cover;
    height: 100%;
    opacity: .7;
    position: absolute;
    top: 0;
    width: 100%;
  }

  .statistic {
    background-color: $opacity-color;
    bottom: 0;
    left: 0;
    margin: 0 auto;
    padding: 8px 0 4px;
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 10;

    .stat {
      display: inline-block;
      font-family: $font-family2;
      margin: 0 0 0 10px;
      text-align: left;
      text-transform: uppercase;
    }

    .stat-nb {
      color: $white;
      font-family: $font-family3;
      font-size: $font-size-xs;
      letter-spacing: .2px;
    }

    svg {
      fill: $white;
    }
  }

  .insert-box {
    position: absolute;
    right: 0;
    top: 120px;
  }
}

.themes {
  padding: 0 30px 90px;

  .theme1 {
    margin: 80px 0 0;
  }

  .theme2 {
    margin: 0;
  }

  .theme3 {
    margin: 80px 0 0;
  }

  .theme4 {
    margin: 40px 0 0;
  }

  .top-idea {
    .dark-title-2 {
      padding: 30px 40px 0;
    }

    .idea-link {
      height: 125px;
      letter-spacing: 1px;
      padding: 20px 40px;

      .idea-link-title {
        color: $first-color;
        display: block;
        text-align: center;
      }

      .stats {
        color: $grey3;
        text-align: center;
      }

      .black-icon {
        margin: 0 0 0 5px;
      }

      &:nth-child(3) {
        background-color: $grey1;
      }
    }
  }

  .illustrated-idea {
    .light-title-3 {
      margin: 300px auto 0;
      text-align: center;
    }

    .stats {
      color: $white;
      margin: 80px 0 0;
      text-align: center;
    }

    .white-icon {
      padding: 0 0 0 5px;

      span {
        font-size: 13px;
      }
    }
  }
}

.partners {
  margin: 0 0 60px;
  text-align: center;

  .partner-logo {
    display: inline-block;
    height: $partner-logo-height;
    line-height: $partner-logo-height;
    margin: 20px;
    vertical-align: middle;
  }

  img {
    max-height: $partner-logo-height;
    max-width: $partner-logo-width;
  }
}

@media screen and (max-width: 1100px) {
  .header {
    .insert-box {
      display: none;
    }
  }
}

@media screen and (max-width: 767px) {
  .header {
    .header-content {
      padding: 60px 5px 120px;
    }

    .statistic {
      .stat-box {
        padding: 0 40px;
      }
    }
  }
}

@media screen and (max-width: 991px) {
  .themes {
    .theme1 {
      margin: 0;
    }

    .theme2 {
      margin: 0;
    }

    .theme3 {
      margin: 0;
    }

    .theme4 {
      margin: 0;
    }
  }
}

@media screen and (min-width: 768px) {
  .header {
    .header-content {
      padding: 100px 40px 150px;
    }

    .statistic {
      .stat-box {
        padding: 0 50px;
      }
    }
  }
}

@media screen and (max-width: 420px) {
  .header {
    .statistic {
      .stat-box {
        padding: 0 15px;
      }
    }

    .header-content {
      padding: 60px 5px 120px;
    }
  }
}

