.header {
  background-color: $first-color;
  min-height: 380px;
  overflow: hidden;
  position: relative;

  .header-content {
    padding: 5px;
    position: relative;
    text-align: center;
    z-index: 2;

    .header-logo {
      background-color: $white;
      height: 115px;
      padding: 10px;
    }
  }

  .header-bkg {
    background-image: url('#{$img-dir}/default_header.jpg');
    background-position: left;
    background-size: cover;
    filter: grayscale(100%);
    height: 100%;
    opacity: .7;
    position: absolute;
    top: 0;
    width: 100%;
  }

  .statistic {
    background-color: $opacity-color;
    bottom: 0;
    left: 0;
    margin: 0 auto;
    padding: 8px 0 4px;
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 10;

    .stat {
      display: inline-block;
      font-family: $font-family2;
      margin: 0 0 0 5px;
      text-align: left;
      text-transform: uppercase;
    }

    .stat-nb {
      color: $second-color;
      font-family: $font-family3;
      font-size: $font-size-xs;
      letter-spacing: .2px;
    }

    svg {
      fill: $white;
    }
  }
}

.partners {
  margin: 0 0 60px;
  text-align: center;

  .partner-logo {
    display: inline-block;
    height: $partner-logo-height;
    line-height: $partner-logo-height;
    margin: 20px;
    vertical-align: middle;
  }

  img {
    max-height: $partner-logo-height;
    max-width: $partner-logo-width;
  }
}

@media screen and (max-width: 767px) {
  .header {
    .statistic {
      .stat-box {
        padding: 0 40px;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .header {
    .header-content {
      padding: 40px 40px 150px;
    }

    .statistic {
      .stat-box {
        padding: 0 60px;
      }
    }
  }
}

@media screen and (max-width: 420px) {
  .header {
    .statistic {
      .stat-box {
        padding: 0 20px;
      }
    }

    .header-content {
      padding: 20px 5px;
    }
  }
}

