.header {
  background-color: $white;
  height: 460px;
  overflow: hidden;
  position: relative;

  .header-content {
    padding: 40px;
    position: relative;
    text-align: center;
    z-index: 2;

    .header-logo {
      height: 115px;
      padding: 0 0 20px;
    }
  }

  .header-bkg {
    opacity: .2;
    position: absolute;
    top: 0;
    width: 100%;

    img {
      width: 100%;
    }
  }

  .statistic {
    border-bottom: $box-border;
    border-top: $box-border;
    margin: 20px auto;
    padding: 10px;
    width: 75%;

    .stat {
      display: inline-block;
      font-family: $font-family2;
      font-size: $font-size-s;
      margin: 0 20px 0 0;
      text-transform: uppercase;
    }
  }
}
