.idea {
  position: relative;

  .subject-prefix {
    color: $first-color-opacity-70;
    font-family: 'LatoLight';
  }

  .level {
    width: 600px;
    margin: 0 auto;

    .box {
      border-left: 4px solid $first-color;
    }
  }

  .no-rows {
    margin-top: 20px;
  }

  .child-level {
    .box {
      border-left: 4px solid $first-color-light;
    }
  }

  .postfolded-container {
    cursor: pointer;
    position: relative;
    top: -11px;
  }

  .expand-indented {
    font-size: $font-size-xs;
    cursor: pointer;
    color: $first-color;
    display: inline-block;
    margin-bottom: -6px;
    position: relative;
    height: $post-space;
    border-left: 1px solid $grey1;
    width: $tree-indentation;

    span {
      position: absolute;
      bottom: -12px;
      left: -15px;
    }
  }

  .expand {
    border-left: 1px solid $grey1;
    color: $first-color;
    cursor: pointer;
    position: relative;
    height: $post-space;

    span {
      position: absolute;
      bottom: 28px;
      left: -14px;
    }
  }

  .post-folded {
    color: $first-color;
    cursor: pointer;
    display: inline-block;
    font-size: $font-size-xs;
    position: relative;

    span {
      display: block;
      margin: 3px 0 0 20px;
      width: 400px;
    }
  }

  .no-shift {
    .post-folded {
      span {
        bottom: 0;
        left: 0;
      }
    }
  }

  .infinite-separator {
    margin: $margin-section auto;
    width: 200px;
    border-bottom: 1px solid $first-color;
    position: relative;

    span {
      position: absolute;
      background-color: $page-bkg-grey;
      width: 50px;
      padding: 0 15px 0 0;
      top: -8px;
      margin: 0 0 0 75px;
      text-align: center;
    }
  }

  .level-1, .level-2, .level-3, .level-4 {
    padding-bottom: $post-space;
    padding-left: $tree-indentation*2;
    border-top: 1px solid $grey1;

    .box {
      border-top: none;
    }

    &:last-child {
      border-left: none !important;
      padding-bottom: 0 !important;
    }
  }

  .level-5 {
    padding-bottom: $post-space;

    &:last-child {
      padding-bottom: 0 !important;
    }
  }

  .padding-right {
    padding-right: $tree-indentation;
  }

  .tree-list {
    &:focus {
      outline: none;
    }
  }
}

@media screen and (max-width: 992px) {
  .idea {
    .border-left {
      border-left: none;
    }

    .level {
      border-top: 1px solid $grey1;
      margin-top: 20px;
    }

    .level-1 {
      margin-left: 20px;
      padding-left: 0;
      padding-right: 20px;
    }

    .level-2, .level-3, .level-4 {
      margin-left: 0;
      padding-left: 0;
      padding-bottom: 0;
    }

    .expand-indented {
      display: none;
    }

    .expand {
      display: none;
    }

    .padding-right {
      padding-right: 0;
    }
  }
}

@media screen and (max-width: 600px) {
  .idea {
    .level {
      width: 100%;
      padding-bottom: 0;
    }
  }
}
