.join-discussion {
  text-align: center;
  margin: 10% 25%;
  font-family: $font-family;
  display: block;

  h1 {
    font-size: $font-size-l;
  }

  .condition-list {
    margin-top: 15px;
    font-family: $font-family6;
    list-style-position: inside;

    li {
      margin-top: 10px;
    }
  }

  input {
    margin-top: 20px;
    background-color: $first-color-light;
    border: none;
    cursor: pointer;
    text-decoration: none;
    width: 300px;
    height: 70px;
    border-radius: 15px;

    &:hover {
      background-color: 
    }
  }
}