.login-container {
  padding: 80px 0 0;
  max-width: 1000px;  
}

.resendPwd {
  margin: 20px 20px 25px;
}

.social-media {
  ul {
    list-style-type: none;
    padding: 0;

    li {
      margin: 0;
      padding: 10px 0 0;
    }
  }
}

@media screen and (max-width: 420px) {
  .login-grid {
    margin: 0 0 15px;
  }

  .login-container {
    padding: 15px 0 0;
  }
}