.profile {
  .profile-form {
    width: 360px;
    margin: 35px 0 0 100px;

    .control-label {
      font-size: $font-size-xxs;
      text-align: left;
      width: 100%;
    }
  }

  .border-left {
    border-left-color: $grey5;
    padding-left: 6%;
  }

  .assembl-icon-profil {
    color: $grey5;

    &:before {
      font-size: 80px;
    }
  }

  .member-since {
    width: 20ex;
    line-height: 1.5em;
    font-family: $font-family4;
    font-size: 12px;

    &.lang-fr {
      width: 21ex;
    }

    &.lang-en {
      width: 18ex;
    }
  }

  .dark-title-2 {
    color: $title3-dark-color;
    font-family: $font-family;
    font-size: 20px;
    letter-spacing: $title-letter-spacing;
    text-transform: none;
    margin-top: 28px;
  }

  .help-block {
    color: $error;
    text-align: left;
    font-family: $font-family6;
    font-size: $font-size-xs;
  }

  .has-error {
    .form-control {
      border: 1px solid $error !important;
      border-radius: 0;
      box-shadow: none;
    }
  }

  .form-control {
    border: $white;
    border-radius: 0;
    box-shadow: none;

    &:focus {
      border-radius: 0;
      border: 1px solid $second-color !important;
      box-shadow: none;
    }
  }
}

@media screen and (max-width: 600px) {
  .profile {
    .border-left {
      border: none;
    }

    .profile-form {
      width: 100%;
      margin: 0;
      padding: 0 20px 0 0;
    }

    .dark-title-1 {
      margin-top: 60px;
    }
  }
}
