.profile {
  .profile-cookies-configuration {
    margin-bottom: 50px;
  }

  .submit-button-container {
    .button-submit {
      margin-left: 50px;
    }
  }

  .profile-form {
    max-width: 468px;
    margin: 35px 0 0 100px;

    button {
      display: block;
      margin: 40px auto;
    }

    .form-control {
      height: 44px;
    }

    .control-label {
      font-size: $font-size-xxs;
      text-align: left;
      width: 100%;
    }

    .warning {
      font-size: $font-size-xs;
      text-align: left;
      color: $error;
    }
  }

  .border-left {
    border-left-color: $light-grey;
    padding-left: 6%;
  }

  .assembl-icon-profil {
    &:before {
      font-size: 80px;
    }
  }

  .member-since {
    width: 20ex;
    line-height: 1.5em;
    font-family: $font-family4;
    font-size: 12px;

    &.lang-fr {
      width: 21ex;
    }

    &.lang-en {
      width: 18ex;
    }
  }

  .dark-title-1 {
    margin: 15px 0 0 0;
  }

  .dark-title-2 {
    color: $title3-dark-color;
    font-family: $font-family;
    font-size: 20px;
    letter-spacing: $title-letter-spacing;
    text-transform: none;
    margin-top: 28px;
  }

  .dark-title-3 {
    font-family: $font-family3;
    font-size: $font-size-sm;
  }

  .help-block {
    color: $error;
    text-align: left;
    font-family: $font-family6;
    font-size: $font-size-xs;
  }

  .has-error {
    .form-control {
      border: 1px solid $error !important;
      border-radius: 0;
      box-shadow: none;
    }
  }

  .form-control {
    border: $white;
    border-radius: 0;
    box-shadow: none;

    &:focus {
      border-radius: 0;
      border-style: solid !important;
      border-width: 1px !important;
      box-shadow: none;
    }
  }
}

@media screen and (max-width: $screen-xxs-max) {
  .profile {
    .border-left {
      padding-left: 0;
    }

    .profile-form {
      padding: 0;
    }

    .no-padding-sm {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

@media screen and (max-width: 600px) {
  .profile {
    .border-left {
      border: none;
    }

    .profile-form {
      width: 100%;
      margin: 0;
    }

    .dark-title-1 {
      margin-top: 60px;
    }
  }
}
