.sk-layout {
    &__top-bar {
        z-index: 100;
        position: relative;
    }
    &__body{
        margin: 0 auto 0;
    }
}

.sk-hits-list-hit {
    border-bottom: 1px solid purple;
    width: 100%;
}
