@import '../variables';
@import '../components/assembl-glyph';

$first-color: $purple;
$first-color-light: #d6c3f6;

@import './search';

.date-filter {
    label {
        font-weight: bold;
    }
    input {
        border: 1px solid #ccc;
    }
}


.sk-layout {
  &__top-bar {
    padding:5px 0 0 0;
    margin-top: 0px;
  }
  &__body {
    top:40px;
  }
}

.right {
  float: right;
}

@media screen and (max-width: 1023px) {
    .joinDiscussion, #search {
        display: none;
    }
}
