.synthesis-page {
  .affix {
    top: 15%;
  }

  .synthesis-side-menu {
    background-color: $white;
    padding: 30px;
    margin: 0 10px;

    .title-hyphen {
      display: block;
      width: 50px;
      margin: 10px 0 10px -35px;
    }

    .assembl-icon-down-open {
      font-size: $font-size-xxs;
      color: $first-color;
      margin: 0 10px 1px 0;
    }

    .link-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .active {
      background: rgba($first-color, 0.15);

      a {
        pointer-events: none;
      }
    }

    .side-menu-link-1 {
      overflow: auto;
      font-size: $font-size-s;
      color: $first-color;
      line-height: 22px;
      font-family: $font-family3;
      letter-spacing: 2px;
      padding: 4px 0;
    }

    .side-menu-link-2 {
      overflow: auto;
      margin-left: 20px;
      font-size: $font-size-xs;
      color: $first-color;
      line-height: 20px;
      font-family: $font-family3;
    }

    .side-menu-link-3 {
      overflow: auto;
      margin-left: 40px;
      font-size: $font-size-xs;
      color: $first-color;
      line-height: 20px;
      font-family: $font-family3;
    }

    .dark-title-4 {
      font-family: $font-family;
      font-size: $font-size-m;
    }
  }

  .synthesis-block .content-section {
    padding: 0 0 60px 0;
    text-align: justify;
    font-size: $font-size-m;
  }

  .synthesis-tree {
    padding-top: 60px;
  }

  .idea-synthesis-section {
    .content-section {
      padding: 0;
    }

    .title-section {
      margin: 0;
    }

    .section-title1 {
      font-size: 32px;
    }

    .section-title-2 {
      font-size: 26px;
    }

    .section-title-3 {
      font-size: 20px;
    }
  }
}

.create-synthesis {
  margin-bottom: $margin-section-xs;
}
