.synthesis-page {
  @media screen and (max-width: 1000px) {
    .synthesis-side-menu {
      display: none;
    }
  }

  .synthesis-side-menu {
    position: fixed;
    top: 15%;
    left: 2.5%;
    background-color: $white;
    padding: 30px 10px;
    width: 20%;

    .title-hyphen {
      display: block;
      width: 50px;
      margin: 10px 0 10px -35px;
    }

    .active-caret {
      transform: rotate(180deg);
    }

    .link-container {
      display: flex;
      align-items: center;
    }

    .active {
      background: rgba($first-color, 0.15);
    }

    .side-menu-link {
      overflow: auto;
    }

    .child-link {
      margin-left: 20px;
    }

    .dark-title-4 {
      font-family: $font-family;
      font-size: $font-size-m;
    }

    .dark-title-5 {
      font-size: $font-size-s;
      color: $first-color;
      line-height: 22px;
      font-family: $font-family3;
      letter-spacing: 2px;
      padding: 4px 0;
    }

    .dark-title-3 {
      font-size: $font-size-xs;
      line-height: 20px;
      font-family: $font-family3;
    }
  }

  .header-section {
    height: 500px;
  }

  .synthesis-block .content-section {
    padding: 0 0 60px 0;
    text-align: justify;
    font-size: $font-size-m;
  }

  .synthesis-tree {
    padding-top: 60px;
  }

  .idea-synthesis-section {
    .content-section {
      padding: 0;
    }

    .title-section {
      margin: 0;
    }

    .section-title1 {
      font-size: 32px;
    }

    .section-title-2 {
      font-size: 26px;
    }

    .section-title-3 {
      font-size: 20px;
    }
  }
}
