.synthesis-block .content-section {
  padding: 0 0 60px 0;
  text-align: justify;
  font-size: $font-size-m;
}

.synthesis-tree {
  padding-top: 60px;
}

.idea-synthesis-section {
  .content-section {
    padding: 0;
  }

  .title-section {
    margin: 0;
  }
}
