.votesession-page {
  .header-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .vote-instructions {
    font-size: $font-size-sm;
  }

  .content-section {
    padding: 0;
  }

  .separator {
    border-bottom: 1px $btn-dark-border-style $btn-dark-border-color;
    clear: both;
    margin: 0 0 15px;
    padding: 10px 0 10px;
  }

  .available-tokens {
    margin-top: 70px;

    .category-available-tokens {
      display: flex;
      padding: 30px;

      .tokens {
        padding-left: 70px;
      }
    }
  }

  .available-tokens-sticky {
    position: fixed;
    top: 60px;
    width: 100%;
    z-index: 100;
    display: flex;
    justify-content: space-around;
    box-shadow: 3px 4px 7px #bbb;
    padding: 12px 20px 0;

    .category-available-tokens {
      display: flex;

      .tokens {
        padding-left: 30px;
      }
    }

    .separator {
      border: none;
    }
  }

  .extra-margin-top {
    margin-top: 400px;
  }

  .tokens > * {
    margin: 5px;
  }

  .proposal.row {
    margin: 40px 10px;
    padding: 31px 15px 15px 15px;

    .proposal-title {
      margin-top: 0;
    }

    .proposal-vote-modules {
      padding-top: 29px;
    }

    .tokens-line {
      margin-top: 14px;
    }

    .tokens > button {
      border: none;
      padding: 0;
    }

    .tokens > .btn-default:hover {
      background-color: transparent;
    }
  }

  .form-actions {
    margin-top: 50px;
    margin-bottom: 100px;
  }

  .link-button {
    border: none;
    font-size: $font-size-xs;
    color: $link-color;
    text-decoration: none;

    &:hover {
      color: $link-hover-color;
      text-decoration: none;
    }

    [class^='assembl-icon-']:before,
    [class*=' assembl-icon-']:before {
      font-size: $font-size-xxs;
      margin-left: 5px;
    }
  }

  .link-button:focus,
  .link-button:active,
  .link-button:hover {
    background-color: transparent;
  }
}
