.votesession-page {
  .header-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 100px;
  }

  .vote-instructions {
    font-size: $font-size-sm;
  }

  .content-section {
    padding: 0;
  }

  .separator {
    border-bottom: 1px $btn-dark-border-style $btn-dark-border-color;
    clear: both;
    margin: 0 0 15px;
    padding: 10px 0 10px;
  }

  .available-tokens {
    margin-top: 70px;

    .category-available-tokens {
      display: flex;
      padding: 30px;

      .tokens {
        padding-left: 70px;
      }
    }
  }

  .available-tokens-sticky {
    position: fixed;
    top: 60px;
    width: 100%;
    z-index: 100;
    display: flex;
    justify-content: space-around;
    box-shadow: 3px 4px 7px #bbb;

    .category-available-tokens {
      display: flex;

      .tokens {
        padding-left: 30px;
      }
    }

    .separator {
      border: none;
    }
  }

  .extra-margin-top {
    margin-top: 400px;
  }

  .tokens > * {
    margin: 5px;
  }

  .proposal.row {
    margin: 40px 10px;
    padding: 15px;

    .tokens > button {
      border: none;
      padding: 0;
    }

    .tokens > .btn-default:hover {
      background-color: transparent;
    }
  }

  .form-actions {
    margin-top: 50px;
    margin-bottom: 100px;
  }
}
