// Any new CSS file MUST be added here to be compiled.

//@import 'variables';
// The current theme imports the default theme which imports variables.scss.
// The current theme then overrides some of these variables.
@import 'variables_cascade';
@import 'components/announcement';
@import 'components/alert';
@import 'components/assembl-glyph';
@import 'components/attachments';
@import 'components/avatar';
@import 'components/box';
@import 'components/buttons';
@import 'components/doughnut';
@import 'components/dropdown';
@import 'components/footer';
@import 'components/goUp';
@import 'components/harvesting';
@import 'components/loader';
@import 'components/menu';
@import 'components/multiColumn';
@import 'components/chatFrame';
@import 'components/navbar';
@import 'components/overflowMenu';
@import 'components/posts';
@import 'components/richTextEditor';
@import 'components/scrollOnePageButton';
@import 'components/select';
@import 'components/sentiments';
@import 'components/socialMedia';
@import 'components/statistics-doughnut';
@import 'components/text';
@import 'components/timeline';
@import 'components/urlPreview';
@import 'components/video';
@import 'components/media';
@import 'components/ideaPreview';
@import 'components/ideaSynthesis';
@import 'components/ideas';
@import 'components/question';
@import 'components/synthesisPreview';
@import 'components/switchButton';
@import 'components/socialShare';
@import 'components/resourcesCenter';
@import 'components/header';
@import 'components/section';
@import 'components/textWithHeaderPage';
@import 'components/signup';
@import 'components/modal';
@import 'components/token';
@import 'components/helper';
@import 'components/gaugeVoteForProposal';
@import 'components/cookiesPolicy';
@import 'components/datePicker';
@import 'components/dateRangePicker';
@import 'components/rc-slider';
@import 'components/cookiesBar';
@import 'components/cookiesSelector';
@import 'components/circleAvatar';
@import 'components/fictionHeader';
@import 'components/exportSection';
@import 'views/administration';
@import 'views/unauthorizedAdministration';
@import 'views/debate';
@import 'views/home';
@import 'views/login';
@import 'views/idea';
@import 'views/columnsView';
@import 'views/search';
@import 'views/synthesis';
@import 'views/profile';
@import 'views/voteSession';
@import 'views/errorPage';
@import 'bootstrap-overrides';
@import 'brightMirror';
@import 'semanticAnalysis';
@import 'tagOnPost';
@import 'common';
@import 'components/icons';
@import 'components/globalError';
@import 'components/textMultimediaLayout';

// include style v1 of emoticons
@import '../../static/css/base/variables.scss';
@import '../../static/css/components/emoticons.scss';
