// Any new CSS file MUST be added here to be compiled.

//@import 'variables'; // The current theme imports the default theme which imports variables.scss. The current theme then overrides some of these variables.
@import 'variables_cascade';
@import 'components/alert';
@import 'components/assembl-glyph';
@import 'components/avatar';
@import 'components/box';
@import 'components/buttons';
@import 'components/doughnut';
@import 'components/dropdown';
@import 'components/footer';
@import 'components/goUp';
@import 'components/loader';
@import 'components/navbar';
@import 'components/overflowMenu';
@import 'components/posts';
@import 'components/richTextEditor';
@import 'components/scrollOnePageButton';
@import 'components/sentiments';
@import 'components/socialMedia';
@import 'components/text';
@import 'components/thumbnail';
@import 'components/timeline';
@import 'components/video';
@import 'views/administration';
@import 'views/unauthorizedAdministration';
@import 'views/debate';
@import 'views/home';
@import 'views/login';
@import 'views/idea';
@import 'bootstrap-overrides';
@import 'common';

// include style v1 of emoticons
@import "../../static/css/base/variables.scss";
@import "../../static/css/components/emoticons.scss";
