@import 'components/circleAvatar';
@import 'components/fictionHeader';
@import 'components/fictionBody';

// Variables
// Bright Mirror background colors
$light-khaki: #f1fbe5;
$duck-egg-blue: #b7f4f0;

$fiction-toolbar-icon-size: 17px;

// Mixins
// Dynamic background color for Bright Mirror
@mixin set-background($theme) {
  @if $theme == default {
    /* stylelint-disable-next-line declaration-colon-newline-after */
    background-image: radial-gradient(
      circle at 49% 95%,
      $light-khaki,
      $duck-egg-blue
    );
  }
}

// Bright mirror global style
.bright-mirror-fiction {
  .back-btn {
    display: block;
    padding: 15px 18px;
  }

  .container-fluid {
    padding: 10px 18px 70px 18px;
  }
}

.background-fiction-default {
  @include set-background(default);
}

@media screen and (min-width: $screen-sm-min) {
  .bright-mirror-fiction {
    .back-btn {
      padding: 25px 54px;
    }

    .container-fluid {
      padding: 25px 54px 90px 54px;
    }
  }
}

@media screen and (min-width: $screen-xl-min) {
  .bright-mirror-fiction {
    .back-btn {
      margin: 0 auto;
      max-width: 1400px;
      padding: 25px 0 0 0;
    }

    .container-fluid {
      padding: 60px 285px 90px 295px;
    }
  }
}

// Component imports
@import 'components/circleAvatar';
@import 'components/fictionHeader';
@import 'components/fictionToolbar';
@import 'components/fictionBody';
