body {
  background-color: $page-bkg-light;
  font-family: $font-family;
  font-size: $font-size-s;
  overflow-y: scroll;
}

section {
  margin: 30px 0;
}

.app-content {
  margin: 80px 0 0;
}

.max-container {
  margin: 0 auto;
  max-width: $app-max-width;
}

.background-dark {
  background-color: $page-bkg-dark;
}

.inline {
  display: inline-block;
}

.left {
  float: left;
}

.right {
  float: right;
}

.center {
  text-align: center;
}

.border-right {
  border-right: $box-border;
}

.border-left {
  border-left: $box-border;
}

.padding {
  padding: 20px 0;
}

.margin-xs {
  margin-top: 5px;
}

.margin-s {
  margin-top: 10px;
}

.margin-m {
  margin-top: 20px;
}

.margin-l {
  margin-top: 40px;
}

.margin-xl {
  margin-top: 60px;
}

.margin-xxl {
  margin-bottom: 100px;
  margin-top: 100px;
}

.underline {
  border-bottom: $box-border;
  margin: 0 0 20px;
}

.hidden {
  display: none;
}

.shown {
  display: block;
}

.code {
  color: $grey3;
  display: inline-block;
}

#pDebug {
  display: none;
}