html {
    font-size: 12px;  // the base for the rem unit (used in react-datepicker)
}

body {
  background-color: $page-bkg-grey;
  font-family: $font-family;
  font-size: $font-size-s;
  letter-spacing: $text-letter-spacing;
  overflow-y: scroll;
  -ms-overflow-style: scrollbar; // prevent transparent scrollbar in IE
}

a {
  color: $link-color;
  text-decoration: none;

  &:hover {
    color: $link-hover-color;
    text-decoration: none;
  }
}

input {
    &[type='text'] {
        box-shadow: 0 0 0 50px $input-txt-bkg-color inset;

        &:focus {
            box-shadow: 0 0 0 50px $input-txt-bkg-color inset;
        }
    }

    &[type='password'] {
        box-shadow: 0 0 0 50px $input-txt-bkg-color inset;

        &:focus {
            box-shadow: 0 0 0 50px $input-txt-bkg-color inset;
        }
    }
}

input:-moz-placeholder, textarea:-moz-placeholder {
  font-family: $font-family6;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  font-family: $font-family6;
}

input.placeholder, textarea.placeholder {
  font-family: $font-family6;
}

.white {
  color: $white;
}

.grey {
  color: $grey2;
}

.black {
  color: $black;
}

.color {
  color: $first-color;
}

.color2 {
  color: $second-color;
}

.app-content {
  margin: $navbar-height 0 0;
}

.max-container {
  margin: 0 auto;
  max-width: $app-max-width;
}

.background-light {
  background-color: $page-bkg-light;
}

.background-grey {
  background-color: $page-bkg-grey;
}

.background-dark {
  background-color: $page-bkg-dark;
}

.background-color {
  background-color: $first-color-light;
}

.background-img {
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

.content-section {
  padding: $margin-section 0;
}

.content-margin {
  margin: -30px 0 0;
}

.inline {
  display: inline-block;
}

.left {
  float: left;
}

.right {
  float: right;
}

.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.border-top {
  border-top: $navbar-border;
}

.border-right {
  border-right: $navbar-border;
}

.border-left {
  border-left: $navbar-border;
}

.border-bottom {
  border-bottom: $navbar-border;
}

.border {
  border: $navbar-border;
}

.no-padding {
  padding: 0;
}

.no-margin {
  margin: 0;
}

.padding {
  padding: 15px;
}

.margin-xs {
  margin-top: 5px;
}

.margin-s {
  margin-top: 10px;
}

.margin-m {
  margin-top: 20px;
}

.margin-l {
  margin-top: 40px;
}

.margin-xl {
  margin-top: 60px;
}

.margin-xxl {
  margin-top: 80px;
}

.margin-xxxl {
  margin-top: 120px;
}

.full-size {
  width: 100%;
}

.underline {
  border-bottom: $box-border;
  margin: 0 0 20px;
}

.uppercase {
  text-transform: uppercase;
}

.hidden {
  display: none;
}

.shown {
  display: block;
}

.col-centered {
  float: none;
  margin: 0 auto;
}

.clear {
  clear: both;
}

.bottom {
  bottom: 0;
  position: fixed;
  width: 100%;
}

.relative {
  position: relative;
}

.pointer {
  cursor: pointer;
}

.form-label {
    color: $grey3;
    font-family: $font-family6;
    font-size: $font-size-s;
    padding: 0 0 5px 3px;
}

@media screen and (min-width: 992px) {
  .col-bottom {
    display: table-cell;
    float: none;
    vertical-align: bottom;
  }
}

@media screen and (max-width: 420px) {
  .content-section {
    padding: $margin-section-xs 0;
  }
}

#pDebug {
  display: none;
}
