body {
  background-color: $page-bkg;
  font-family: $font-family;
  font-size: $font-size-s;
}

section {
  margin: 30px 0;
}

.left {
  float: left;
}

.right {
  float: right;
}

.padding {
  padding: 20px 0;
}

.underline {
  border-bottom: $box-border;
  margin: 0 0 20px;
}

.code {
  color: $grey3;
  display: inline-block;
}

#pDebug {
  display: none;
}
