body {
  background-color: $page-bkg-grey;
  font-family: $font-family;
  font-size: $font-size-s;
  overflow-y: scroll;
}

a {
  color: $link-color;
  text-decoration: none;

  &:hover {
    color: $link-hover-color;
    text-decoration: none;
  }
}

section {
  margin: 30px 0;
}

input {
  &[type='text'] {
    box-shadow: 0 0 0 50px $input-txt-bkg-color inset;

    &:focus {
      box-shadow: 0 0 0 50px $input-txt-bkg-color inset;
    }
  }

  &[type='password'] {
    box-shadow: 0 0 0 50px $input-txt-bkg-color inset;

    &:focus {
      box-shadow: 0 0 0 50px $input-txt-bkg-color inset;
    }
  }
}

.app-content {
  margin: 80px 0 0;
}

.max-container {
  margin: 0 auto;
  max-width: $app-max-width;
}

.background-light {
  background-color: $page-bkg-light;
}

.background-grey {
  background-color: $page-bkg-grey;
}

.background-dark {
  background-color: $page-bkg-dark;
}

.inline {
  display: inline-block;
}

.left {
  float: left;
}

.right {
  float: right;
}

.center {
  text-align: center;
}

.border-right {
  border-right: $border-color;
}

.border-left {
  border-left: $box-border;
}

.padding {
  padding: 20px 0;
}

.margin-xs {
  margin-top: 5px;
}

.margin-s {
  margin-top: 10px;
}

.margin-m {
  margin-top: 20px;
}

.margin-l {
  margin-top: 40px;
}

.margin-xl {
  margin-top: 60px;
}

.margin-xxl {
  margin-bottom: 100px;
  margin-top: 100px;
}

.underline {
  border-bottom: $box-border;
  margin: 0 0 20px;
}

.uppercase {
  text-transform: uppercase;
}

.hidden {
  display: none;
}

.shown {
  display: block;
}

.code {
  color: $grey3;
  display: inline-block;
}

.col-centered {
  float: none;
  margin: 0 auto;
}

#pDebug {
  display: none;
}