.box {
  background-color: $box-bkg;
  border: $box-border;
  border-radius: $radius;
  box-shadow: $box-shadow;
  padding: 15px 20px 20px;
}

.button-success {
  background-color: $btn-success-bkg;
  border-color: $btn-success-border;
  color: $btn-success-txt;
  font-size: $font-size-s;
  font-weight: 600;
  padding: 8px 50px;

  &:hover {
    background-color: $btn-success-hover-bkg;
    border-color: $btn-success-hover-border;
    color: $btn-success-hover-txt;
  }

  &:focus {
    background-color: $btn-success-hover-bkg;
    border-color: $btn-success-hover-border;
    color: $btn-success-hover-txt;
    outline: none;
  }
}

.button-cancel {
  background-color: $btn-cancel-bkg;
  border-color: $btn-cancel-border;
  color: $btn-cancel-txt;

  &:hover {
    background-color: $btn-cancel-hover-bkg;
    border-color: $btn-cancel-hover-border;
    color: $btn-cancel-hover-txt;
  }
}

.title-1 {
  color: $title1-color;
  font-size: $title1-size;
  font-weight: 700;
  margin: 0 0 15px;
}

.title-2 {
  color: $title2-color;
  font-size: $title2-size;
  font-weight: 700;
  margin: 0 0 10px;
}

.title-3 {
  color: $title3-color;
  font-size: $title3-size;
  font-weight: 700;
  margin: 0 0 5px;
}

.title-4 {
  color: $title4-color;
  font-size: $title4-size;
  font-weight: 700;
  margin: 0 0 10px;
}

.rounded-icon {
  background-color: $grey2;
  border-radius: 10px;
  display: inline-block;
  height: 20px;
  margin: 0 5px 0 0;
  padding: 0 4px;
  width: 20px;

  span {
    color: $white;
    font-size: 12px;
  }
}

.white-icon {
  display: inline-block;
  font-size: 20px;
  line-height: 23px;
  margin: 0 5px 0 0;
  vertical-align: middle;

  span {
    color: $grey2;
  }
}

.black-icon {
  display: inline-block;
  margin: 0 5px 0 0;
}

.profile-icon {
  a {
    &:hover {
      text-decoration: none;
    }
  }

  .username {
    color: $black;
    font-size: $font-size-xs;
    font-weight: 700;
  }

  img {
    border-radius: 11px;
    margin: 0 5px 0 0;
    max-height: 20px;
    width: 20px;
  }
}

.dropdown-navbar {
  font-size: $font-size-xs;
  margin: 0 0 0 15px;
  padding: 4px 0 0;

  .dropdown-toggle {
    color: $black;
    font-size: $font-size-xs;

    &:hover {
      color: $black;
      text-decoration: none;
    }

    &:focus {
      color: $black;
      text-decoration: none;
    }
  }

  .dropdown-menu {
    min-width: 60px;

    a {
      font-size: $font-size-xs;
    }
  }
}

.nav-bar {
  background-color: $navbar-bkg;
  border: $navbar-border;
  height: 80px;

  .navbar-logo {
    padding: 15px 20px;

    img {
      height: 50px;
    }
  }

  .navbar-icons {
    cursor: pointer;
    padding: 28px;

    div {
      margin: 0 10px;
    }
  }

  .navbar-item-menu {
    color: $navbar-text-color;
    font-family: $font-family2;
    font-size: $font-size-xs;
    font-weight: 700;
    line-height: 80px;
    padding: 0 20px;
    text-transform: uppercase;

    &:hover {
      text-decoration: none;
    }

    &:focus {
      text-decoration: none;
    }
  }

  .active {
    color: $active-link-color;
  }
}

.app-content {
  margin: 80px 0 0;
}
