.button-success {
  background-color: $btn-success-bkg;
  border-color: $btn-success-border;
  color: $btn-success-txt;

  &:hover {
    background-color: $btn-success-hover-bkg;
    border-color: $btn-success-hover-border;
    color: $btn-success-hover-txt;
  }
}

.button-cancel {
  background-color: $btn-cancel-bkg;
  border-color: $btn-cancel-border;
  color: $btn-cancel-txt;

  &:hover {
    background-color: $btn-cancel-hover-bkg;
    border-color: $btn-cancel-hover-border;
    color: $btn-cancel-hover-txt;
  }
}

.title-1 {
  font-size: 32px;
  font-weight: 700;
  margin: 0 0 10px;
}

.title-2 {
  font-size: 22px;
  font-weight: 700;
  margin: 0 0 10px;
}

.title-3 {
  font-size: 18px;
  margin: 0 0 10px;
}

.navbar {
  background-color: $white;
  height: 60px;
}

.box {
  border: 1px solid $lightgrey;
  border-radius: $radius;
  box-shadow: 1px 1px 3px 0 $lightgrey;
  padding: 15px 20px 20px;
}
