@import 'variables';
@import 'components/assembl-glyph';
@import 'components/box';
@import 'components/buttons';
@import 'components/dropdown';
@import 'components/loader';
@import 'components/login';
@import 'components/navbar';
@import 'components/footer';
@import 'components/text';
@import 'components/video';
@import 'components/timeline';
@import 'components/thumbnail';
@import 'components/posts';
@import 'components/emoticons';
@import 'components/circle';
@import 'views/home';
@import 'views/debate';
@import 'bootstrap-overrides';
@import 'common';

// include style v1 of emoticons
@import "../../static/css/base/variables.scss";
@import "../../static/css/components/emoticons.scss";
