@media (min-width: 1200px) {
  .nav-bar {
    margin: 0 auto;
    width: 1170px;
  }

  .header {
    .header-content {
      margin: 0 auto;
      width: 1170px;
    }
  }
}

@media screen and (max-width: 767px) {
  body {
    overflow-y: scroll;
  }

  .nav-bar {
    .nav-menu {
      display: none;
    }

    .username {
      display: none;
    }

    .profile-icon {
      img {
        margin: 0;
      }
    }

    .nav-burger-menu {
      background-color: $white;
      border-top: $burger-menu-border;
      left: 0;
      position: absolute;
      top: 80px;
      width: 100%;
    }

    .navbar-item-menu {
      border-bottom: $burger-menu-border;
      display: block;
    }

    .navbar-icons {
      padding: 28px 15px;
    }

    .dropdown-navbar {
      margin: 0 0 0 10px;
    }
  }

  .header {
    .header-bkg {
      height: 100%;

      img {
        height: 100%;
      }
    }

    .statistic {
      border-bottom: 0;
      border-top: 0;
      width: 100%;

      .stat-inside {
        display: block;
      }

      .black-icon {
        display: block;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .nav-bar {
    .burger-menu {
      display: none;
    }
  }

  .header {
    .header-bkg {
      width: 100%;

      img {
        width: 100%;
      }
    }

    .header-content {
      padding: 40px;
    }

    .statistic {
      border-bottom: $box-border;
      border-top: $box-border;
      padding: 10px;
      width: 75%;

      .stat-inside {
        display: inline-block;
      }

      .black-icon {
        display: inline-block;
      }

      .stat-box {
        border-left: 0;
        border-right: 0;
      }
    }
  }
}

@media screen and (max-width: 412px) {
  .nav-bar {
    .navbar-icons {
      padding: 28px 5px;
    }
  }

  .header {
    statistic {
      padding: 0;
    }

    .header-content {
      padding: 20px 5px;
    }
  }
}

