/*
  This file is meant to define cascade variables. Cascade variables are variables which definition in a theme is not mandatory,
  but which by default have a value that depend on other theme variables. So if these theme variables they depend on are
  re-defined in a theme, cascade variables would have to use changed values. For this, we use the "!default" keyword of SCSS.
*/

$first-color-opacity-70: rgba($first-color, 0.7) !default;

$border-not-active: 4px solid $grey !default;

$page-bkg-light: $white !default;
$page-bkg-grey: $light-grey !default;
$page-bkg-dark-grey: $light-grey !default;
$page-bkg-dark: $black !default;

$link-hover-color: $black !default;

$btn-light-txt: $white !default;
$btn-dark-txt: $black !default;
$btn-light-bkg: none !default;
$btn-dark-bkg: none !default;

$title5-dark-color: $black !default;
$title1-light-color: $white !default;
$title2-light-color: $white !default;
$title3-light-color: $white !default;
$title4-light-color: $white !default;
$title5-light-color: $white !default;
$title1-size: $font-size-xl !default;
$title2-size: $font-size-m !default;
$title3-size: $font-size-m !default;
$title4-size: $font-size-s !default;
$title5-size: $font-size-ml !default;
$title6-size: $font-size-xxl !default;

$navbar-bkg: $white !default;
$navbar-border: 1px solid $light-grey !default;

$box-shadow: none !default;
$box-bkg: $white !default;
$box-border: 1px solid $white !default;
$insert-border: 1px solid $light-grey !default;
$box-title-bkg: $black !default;
$box-title-txt: $white !default;

$input-txt-bkg-color: $white !default;

$footer-link-text-color: $white !default;

$post-text-color: $black !default;
