$white: #fff;
$black: #000;
$grey0: #f6f7fb;
$grey1: #e7e6f5;
$grey2: #9b9b9b;
$grey3: #4a4a4a;
$grey4: #1d1d1d;
$grey5: #d8d8d8;
$grey6: #eef0f7;
$orange: #ffd58f;
$orange2: #ff6a00;
$red: #f75959;
$green: #8DC4B3;
$lightgreen: #93e79d;
$blue: #7490CA;
$purple: #5404d7;
$purple-light: #e7e6f5;
$yellow: #f0ab2b;
$cyan: #0095b2;
$cyan-light: #d1eef6;
$opacity-blue: rgba(53, 66, 105, 0.5);
$min-opacity-blue: rgba(53, 66, 105, .1);

$opacity-purple: rgba(84, 4, 215, .5);
$opacity-cyan: rgba(0, 140, 166, .5);
$min-opacity-cyan: rgba(0, 140, 166, .1);
$linear-gradient: linear-gradient( 90deg, $grey6, $white );

$first-color: $cyan;
$first-color-light: $cyan-light;
$second-color: $yellow;
$third-color: $cyan;
$opacity-color: $opacity-blue;
$min-opacity-color: $min-opacity-blue;
$warning-alert: $orange;
$warning-alert-text: $orange2;

$app-max-width: 1400px;
$navbar-height: 60px;
$navbar-line-height: 64px;
$margin-section: 120px;
$margin-section-xs: 80px;

$fonts-dir: '/static2/fonts';
$img-dir: '/static2/img';

@font-face {
  font-family: 'latoRegular';
  src: url('#{$fonts-dir}/Lato-Regular.eot');
  src: local('☺'), url('#{$fonts-dir}/Lato-Regular.woff') format('woff'), url('#{$fonts-dir}/Lato-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'LatoMedium';
  src: url('#{$fonts-dir}/Lato-Medium.eot');
  src: local('☺'), url('#{$fonts-dir}/Lato-Medium.woff') format('woff'), url('#{$fonts-dir}/Lato-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'LatoBold';
  src: url('#{$fonts-dir}/Lato-Bold.eot');
  src: local('☺'), url('#{$fonts-dir}/Lato-Bold.woff') format('woff'), url('#{$fonts-dir}/Lato-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'LatoLight';
  src: url('#{$fonts-dir}/Lato-Light.eot');
  src: local('☺'), url('#{$fonts-dir}/Lato-Light.woff') format('woff'), url('#{$fonts-dir}/Lato-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'LatoSemiBold';
  src: url('#{$fonts-dir}/Lato-Semibold.eot');
  src: local('☺'), url('#{$fonts-dir}/Lato-Semibold.woff') format('woff'), url('#{$fonts-dir}/Lato-Semibold.ttf') format('truetype');
}

@font-face {
  font-family: 'LatoItalic';
  src: url('#{$fonts-dir}/Lato-Italic.eot');
  src: local('☺'), url('#{$fonts-dir}/Lato-Italic.woff') format('woff'), url('#{$fonts-dir}/Lato-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'LatoLightItalic';
  src: url('#{$fonts-dir}/Lato-LightItalic.eot');
  src: local('☺'), url('#{$fonts-dir}/Lato-LightItalic.woff') format('woff'), url('#{$fonts-dir}/Lato-LightItalic.ttf') format('truetype');
}

$font-family: 'latoRegular';
$font-family2: 'LatoMedium';
$font-family3: 'LatoBold';
$font-family4: 'LatoLight';
$font-family5: 'LatoSemiBold';
$font-family6: 'LatoItalic';
$font-family7: 'LatoLightItalic';

$font-size-xxxs: 8px;
$font-size-xxs: 10px;
$font-size-xs: 12px;
$font-size-s: 14px;
$font-size-sm: 16px;
$font-size-m: 18px;
$font-size-l: 26px;
$font-size-xl: 36px;

$title-letter-spacing: 1.7px;
$button-letter-spacing: 1.7px;
$text-letter-spacing: 1.7px;

$btn-radius: 0;
$btn-text-transform: uppercase;

$btn-light-border-width: 2px;
$btn-light-border-style: solid;

$btn-dark-border-width: 2px;
$btn-dark-border-style: solid;

$partner-logo-width: 150px;
$partner-logo-height: 50px;

$line-height: 1.4;
$lines-to-show: 3;

$small-hyphen-width: 50px;
$large-hyphen-width: 75px;

$tree-indentation: 40px;
$post-space: 80px;
