$white: #fff;
$black: #000;
$grey0: #f5f8fa;
$grey1: #f3f0f4;
$grey2: #9b9b9b;
$grey3: #4a4a4a;
$grey4: #1d1d1d;
$green: #3bb848;
$lightgreen: #93e79d;
$blue: #140ca0;
$purple: #5404d7;
$yellow: #f0ab2b;
$cyan: #0095b2;
$opacity-purple: rgba(84, 4, 215, .5);
$opacity-cyan: rgba(0, 140, 166, .5);

$first-color: $cyan;
$second-color: $yellow;
$third-color: $blue;
$opacity-color: $opacity-cyan;

$app-max-width: 1400px;
$navbar-height: 60px;
$navbar-line-height: 64px;

$fonts-dir: '/static2/fonts';
$img-dir: '/static2/img';

@font-face {
  font-family: 'avenirDemiCn';
  src: url('#{$fonts-dir}/AvenirNextLTPro-Regular.otf');
}

@font-face {
  font-family: 'avenirCn';
  src: url('#{$fonts-dir}/AvenirNextLTPro-Cn.otf');
}

$font-family: 'Open Sans', sans-serif;
$font-family2: 'avenirDemiCn';
$font-family3: 'avenirCn';

$font-size-xxxs: 8px;
$font-size-xxs: 11px;
$font-size-xs: 12px;
$font-size-s: 14px;
$font-size-m: 16px;
$font-size-l: 22px;
$font-size-xl: 32px;

$border-title: 4px solid $second-color;
$border-active: 4px solid $third-color;
$border-theme: 4px solid $first-color;

$page-bkg-light: $white;
$page-bkg-grey: $grey0;
$page-bkg-dark: $grey4;

$link-color: $third-color;
$link-hover-color: $black;

$btn-radius: 0;
$btn-text-transform: uppercase;
$btn-light-border: 2px solid $second-color;
$btn-dark-border: 2px solid $first-color;
$btn-light-txt: $white;
$btn-dark-txt: $black;
$btn-light-bkg: none;
$btn-dark-bkg: $white;

$title1-dark-color: $first-color;
$title2-dark-color: $first-color;
$title3-dark-color: $first-color;
$title4-dark-color: $first-color;
$title5-dark-color: $grey4;
$title1-light-color: $white;
$title2-light-color: $white;
$title3-light-color: $white;
$title4-light-color: $white;
$title5-light-color: $white;
$title1-size: $font-size-xl;
$title2-size: $font-size-m;
$title3-size: $font-size-m;
$title4-size: $font-size-s;
$title5-size: $font-size-l;

$navbar-bkg: $white;
$navbar-border: none;
$navbar-text-color: $grey3;
$navbar-active-text-color: $third-color;

$box-shadow: 1px 1px 3px 0 $grey1;
$box-bkg: $white;
$box-border: 1px solid $white;
$box-title-bkg: $grey4;
$box-title-txt: $white;

$partner-logo-width: 150px;
$partner-logo-height: 50px;

$input-txt-bkg-color: $white;

$line-height: 1.4;
$lines-to-show: 3;

$small-hyphen-width: 50px;
$large-hyphen-width: 75px;
