$white: #fff;
$black: #000;
$grey0: #f6f7fb;
$grey1: #e7e6f5;
$grey2: #9b9b9b;
$grey3: #4a4a4a;
$grey4: #1d1d1d;
$grey5: #d8d8d8;
$grey6: #eef0f7;
$red: #f75959;
$green: #8DC4B3;
$lightgreen: #93e79d;
$blue: #7490CA;
$purple: #5404d7;
$purple-light: #e7e6f5;
$yellow: #f0ab2b;
$cyan: #0095b2;
$cyan-light: #d1eef6;
$blue-light: rgba(53, 66, 105, 0.5);
$opacity-blue: rgba(53, 66, 105, 0.5);
$min-opacity-blue: rgba(53, 66, 105, .1);

$opacity-purple: rgba(84, 4, 215, .5);
$opacity-cyan: rgba(0, 140, 166, .5);
$min-opacity-cyan: rgba(0, 140, 166, .1);
$linear-gradient: linear-gradient( 90deg, $grey6, $white );

$blue-harvard: #005b81;
$green-harvard: #44cd54;
$blue-light-harvard: #7fadc0;
$blue-opacity-harvard: rgba(0, 91, 129, 0.5);
$blue-opacity-min-harvard: rgba(0, 91, 129, 0.1);

$blue-michelin: #48556D;
$green-michelin: #8DC4B3;
$blue-light-michelin: rgba(72, 85, 109, 0.5);
$blue-opacity-michelin: rgba(72, 85, 109, 0.5);
$blue-opacity-min-michelin: rgba(72, 85, 109, 0.1);

$first-color: $blue-harvard;
$first-color-light: $blue-light-harvard;
$second-color: $green-harvard;
$third-color: $blue-harvard;
$opacity-color: $blue-opacity-harvard;
$min-opacity-color: $blue-opacity-min-harvard;

$app-max-width: 1400px;
$navbar-height: 60px;
$navbar-line-height: 64px;
$margin-section: 120px;
$margin-section-xs: 80px;

$fonts-dir: '/static2/fonts';
$img-dir: '/static2/img';

@font-face {
  font-family: 'latoRegular';
  src: url('#{$fonts-dir}/Lato-Regular.eot');
  src: local('☺'), url('#{$fonts-dir}/Lato-Regular.woff') format('woff'), url('#{$fonts-dir}/Lato-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'LatoMedium';
  src: url('#{$fonts-dir}/Lato-Medium.eot');
  src: local('☺'), url('#{$fonts-dir}/Lato-Medium.woff') format('woff'), url('#{$fonts-dir}/Lato-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'LatoBold';
  src: url('#{$fonts-dir}/Lato-Bold.eot');
  src: local('☺'), url('#{$fonts-dir}/Lato-Bold.woff') format('woff'), url('#{$fonts-dir}/Lato-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'LatoLight';
  src: url('#{$fonts-dir}/Lato-Light.eot');
  src: local('☺'), url('#{$fonts-dir}/Lato-Light.woff') format('woff'), url('#{$fonts-dir}/Lato-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'LatoSemiBold';
  src: url('#{$fonts-dir}/Lato-Semibold.eot');
  src: local('☺'), url('#{$fonts-dir}/Lato-Semibold.woff') format('woff'), url('#{$fonts-dir}/Lato-Semibold.ttf') format('truetype');
}

@font-face {
  font-family: 'LatoItalic';
  src: url('#{$fonts-dir}/Lato-Italic.eot');
  src: local('☺'), url('#{$fonts-dir}/Lato-Italic.woff') format('woff'), url('#{$fonts-dir}/Lato-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'LatoLightItalic';
  src: url('#{$fonts-dir}/Lato-LightItalic.eot');
  src: local('☺'), url('#{$fonts-dir}/Lato-LightItalic.woff') format('woff'), url('#{$fonts-dir}/Lato-LightItalic.ttf') format('truetype');
}

$font-family: 'latoRegular';
$font-family2: 'LatoMedium';
$font-family3: 'LatoBold';
$font-family4: 'LatoLight';
$font-family5: 'LatoSemiBold';
$font-family6: 'LatoItalic';
$font-family7: 'LatoLightItalic';

$font-size-xxxs: 8px;
$font-size-xxs: 10px;
$font-size-xs: 12px;
$font-size-s: 14px;
$font-size-sm: 16px;
$font-size-m: 18px;
$font-size-l: 26px;
$font-size-xl: 36px;

$title-letter-spacing: 1.7px;
$button-letter-spacing: 1.7px;
$text-letter-spacing: 1.7px;

$border-title: 4px solid $second-color;
$border-active: 4px solid $first-color;
$border-theme: 4px solid $first-color;
$border-not-active: 4px solid $grey2;

$page-bkg-light: $white;
$page-bkg-grey: $grey0;
$page-bkg-dark: $grey4;

$link-color: $first-color;
$link-hover-color: $black;

$btn-radius: 0;
$btn-text-transform: uppercase;
$btn-light-border: 2px solid $second-color;
$btn-dark-border: 2px solid $first-color;
$btn-light-txt: $white;
$btn-dark-txt: $black;
$btn-light-bkg: none;
$btn-dark-bkg: none;

$title1-dark-color: $first-color;
$title2-dark-color: $first-color;
$title3-dark-color: $first-color;
$title4-dark-color: $first-color;
$title5-dark-color: $grey4;
$title1-light-color: $white;
$title2-light-color: $white;
$title3-light-color: $white;
$title4-light-color: $white;
$title5-light-color: $white;
$title1-size: $font-size-xl;
$title2-size: $font-size-m;
$title3-size: $font-size-m;
$title4-size: $font-size-s;
$title5-size: $font-size-l;

$navbar-bkg: $white;
$navbar-border: 1px solid $grey1;
$navbar-text-color: $first-color;
$navbar-active-text-color: $first-color;

$box-shadow: none;
$box-bkg: $white;
$box-border: 1px solid $white;
$insert-border: 1px solid $grey1;
$box-title-bkg: $grey4;
$box-title-txt: $white;

$partner-logo-width: 150px;
$partner-logo-height: 50px;

$input-txt-bkg-color: $white;

$line-height: 1.4;
$lines-to-show: 3;

$small-hyphen-width: 50px;
$large-hyphen-width: 75px;

$footer-link-text-color: $white;
