@import "../../assembl_base_styles.scss";

/* BLUENOVE THEME */
body.bluenove{
  .white-mark {
    background: url(img/background.jpg) center center no-repeat;
    background-size: cover;
    height: 227px;
    display: table;
    width: 100%;
    padding: 0;
    .white-mark-content {
      display: table;
      width: 100%;
      height: 222px;
      .white-mark-title {
        display: table-cell;
        vertical-align: middle;
        > * {
          text-align: center;
          font-size: 50px;
          color: #FFFFFF;
          margin: 0;
        }
      }
    }
  }
}

.assembl-logo {
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  line-height: 35px;
  margin-left: 10px;
  color: #513850;
}

.navbar {
  &.navbar-default {
    background-color: #FFFFFF;
    color: #484848;
    height: 36px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
  }
}

.theme_navbarDebateName {
  font-size: 14px;
  color: #B36FE0;
  .debate-icon {
    font-size: 145%;
    vertical-align: top;
    position: relative;
  }
  .icon-arrowright {
    color: #cccccc;
    font-size: 80%;
  }
}