/* BLUENOVE THEME */

$theme_logo_color: #513850;
$theme_debate_title_color: #B36FE0;
$theme_activelink_color: #B36FE0;
$theme_background_context: '../img/crowd.jpg';

@import "../../assembl_base_styles.scss";