.adminContent {
  max-width: 80%;
  margin: 4em auto 0 auto;
}

/* user profile */
table {
  &.admin {
    border: none;

    thead {
      th {
        border-bottom: none;
      }
    }
  }
}

.admin-notifications,
.admin-profile {
  width: 85%;
  margin: 30px auto 0 auto;

  .sidebar-nav {
    ul > li {
      list-style: none;
    }
  }

  .adminMenu {
    .menu {
      display: block;
      padding: 6px 0;
      font-size: 14px;
      color: #82888a;
    }
    .active {
      .menu {
        text-decoration: none;
        color: #565a5c;
        font-weight: bold;
      }
    }
  }

  .admin-title {
    color: #565a5c;
    font-size: 16px;
    border-bottom: 1px solid #dce0e0;
    padding: $spacingS;
  }

  .content-container {
    @include box-sizing(border-box);
    padding: $spacingS;
  }

  .admin-section {
    border: 1px solid #dce0e0;
    background-color: $white;
    min-height: 400px;
  }
}
