.adminContent {
  max-width: 80%;
  margin: 4em auto 0 auto;
}

/* user profile */

.profile-sidebar {
  position: fixed;
  top: 36px;
  z-index: 1000;
  min-height: 100%;

  .sidebar-nav {
    li {
      border-left: 6px solid transparent;
      &.active {
        border-left: 6px solid $gray4;
      }
    }
  }
}

#content-container {
  margin-left: 20%;
  .user-notifications {
    h2 {
      border-bottom: 1px solid $gray3;
    }
  }
}

