$bucket-width: 300px;
$bucket-divisor-width: 15px; 

.bucket {
    width: $bucket-width;

    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;

    background-color: lightgray;

    @include transform( translateX(0px) );
    width: $bucket-divisor-width;
    overflow: hidden;

    // todo: please, remove this
    li {
        padding: 5px;
        border-bottom: solid 2px white;
    }
}


// The bucket header
// -----------------
.bucket-header {}

// The bucket body
// -----------------
.bucket-body {
    position: relative;
}

// The divisor
// where the mouse can resize
// ------------------
.bucket-divisor {
    background-color: red;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;

    width: $bucket-divisor-width;
    cursor: ew-resize;
}


// The close button
// -----------------
.bucket-closebutton {
    float: right;
    font-size: 44px;
    cursor: move;
}

// The list
// ------------------
.bucket-list {
    min-width: 300px;
}
