.assembl-logo {
  text-decoration: none;
  background: url(#{$theme_header_logo}) center center no-repeat;
  background-size: contain;
  display: block;
  height: 100%;
}

.white-mark {
  background: url(#{$theme_context_bg}) center center no-repeat;
  background-size: cover;
  height: $theme_context_page_header_height;
  display: table;
  width: 100%;
  padding: 0;
  .white-mark-content {
    display: table;
    width: 100%;
    height: 222px;
    .white-mark-title {
      display: table-cell;
      vertical-align: middle;
      > * {
        text-align: center;
        font-size: 50px;
        color: $theme_context_title_color;
        margin: 0;
      }
    }
  }
}

.debate-title {
  font-size: 14px;
  color: $theme_header_debate_title_color;
  .debate-icon {
    font-size: 145%;
    vertical-align: top;
    position: relative;
  }
  .icon-arrowright {
    color: #cccccc;
    font-size: 80%;
  }
}

.navbar {
  &.navbar-default {
    background-color: $theme_header_bg_color;
    color: $theme_header_text_color;
    height: $theme_header_height;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
  }
}

// The F* and powerful wrapper
#wrapper {
  position: relative;
  height: 100vh;
  min-width: $small_screen;
  @include transform(translateX(0));
}

#header {
  height: $theme_header_height;
}

.authorization {
  width: 40%;
  margin: 6em auto 0 auto;
}

.modal-ajaxError {
  .popin-header {
    background-color: $gray1;
  }
  .content-ajaxError{
    .msg-error {
      color: $txtGray1;
    }
  }
  .error-close {
    color: $txtGray1;
  }
}

.modal-showSegment{
  .popin-header{
    background-color: $white;
  }

  .popin-body {
    @include border-radius(6px 6px 0 0);
  }

}

.modal-firstPost {
  text-align: center;
  .icon-discuss {
    color: $green;
    font-size: 400%;
  }
}
