// The F* and powerful wrapper
#wrapper {
  position: relative;
  height: 100vh;
  min-width: $small_screen;
  background-color: #EEEEEE;
  @include transform(translateX(0));
}

#header {
  height: 36px;
}

.authorization {
  width: 40%;
  margin: 6em auto 0 auto;
}

.modal-ajaxError {
  .popin-header {
    background-color: $gray1;
  }
}

.modal-firstPost {
  text-align: center;
  .icon-discuss {
    color: $green;
    font-size: 400%;
  }
}
