// The F* and powerful wrapper
#wrapper {
  position: relative;
  height: 100vh;
  min-width: $small_screen;
  background-color: #EEEEEE;
  @include transform(translateX(0));
}

#header {
  height: 36px;
}

body.is-modal {
  //overflow: hidden;
}

.authorization {
  width: 40%;
  margin: 6em auto 0 auto;
}

