// The F* and powerful wrapper
#wrapper {
    position: relative;

    min-height: 100%;
    min-width: 980px;

    @include transform( translateX(0) );
    //@include transition( transform 0.6s );

    // When the lateral menu is open
    .is-lateralmenu-open & {
        @include transform( translateX($lateralmenu-width) );
    }

}

body.is-modal {
    //overflow: hidden;
}
