#groupContainer {
  position: absolute;
  top: 36px;
  right: 0;
  bottom: 0;
  left: 0;
  min-height: 400px;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}
.groupContent {
  position: relative;
  height: 100%;
  width: 100%;
  display: inline-block;
  box-sizing: border-box;
}

.groupHeader{
  height: 25px;
  background-color: $gray3;
  .add-group,
  .close-group,
  .lock-group {
    cursor: pointer;
    position: absolute;
    text-decoration: none;
    top:5px;
  }
  .add-group {
    left: 5px;
  }
  .close-group {
    right: 5px;
    font-size: 20px;
  }
  .lock-group {
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    width: 175px;
    i{
      vertical-align: middle;
      font-size: 18px;
    }
  }
}
.groupBody {
   display: table;
   width: 100%;
   height: 98%;
  .groupItem{
    @include box-sizing(border-box);
    display: table-row;
    height: 100%;
    min-width: 320px;
    .itemPanel{
     position: relative;
     height: 100%;
     display:table-cell;
      .navSidebar{
        //accordion menu
        position: absolute;
        border-right: 1px solid $gray3;
        bottom: 0;
        top: 0;
        left: 0;
        width: 100%;

        .side-menu {
          margin: 0;
          padding: 0;
          list-style: none;
          height: 80%;
          >li {
            position: relative;
            display: block;
            >a {
              position: relative;
              display: block;
              height: 35px;
              text-decoration: none;
              background-color: $gray3;
              border-top: 1px solid $gray2;
              color:$gray;
              z-index: 2;
            }
            .second-level{
              display:none;
            }
          }
        }

        .navNotification{
          position: relative;
          height: 150px;
          background-color: $gray2;
          color: $white;
        }
      }

      .panel {
        position: absolute;
        width: 100%;
        z-index: 10;
        height: 100%;
        background-color: $white;
        overflow: hidden;
        top: 0;
        left: 0;
        bottom: 0;
      }
    }

    .idea-list{
      max-width: 300px;
    }
  }
}





.group-modal {
  .bbm-modal {
    max-width: 410px;
    .bbm-modal__section {
      height: auto;
      padding: 0 20px;
       .itemGroup {
         position: relative;
         height: 120px;
         width: 120px;
         list-style-type: none;
         margin: 25px;
         float: left;
         text-align: center;
         border: 1px solid transparent;
         a{
           position: absolute;
           display: block;
           cursor: pointer;
           left:0;
           top:0;
           height: 100%;
           width: 100%;
           z-index: 10;
         }
         i{
           font-size: 3.5em;
         }
         .icon-checkbox {
           position: absolute;
           font-size: 16px;
           top: 5px;
           left: 5px;
           visibility: hidden;
         }
         &:hover{
           @include border-radius(3px);
           border: 1px solid $gray;
         }
         &:hover .icon-checkbox {
           visibility: visible;
         }
         .item-title {
           font-size: 12px;
         }
       }
       .separator-item {
         float: left;
         padding-top: 4em;
         height: 120px;
       }
       .item-section{
         font-size: 12px;
         float: left;
       }
      .is-selected {
        @include border-radius(3px);
        background-color: $purple;
        border: 1px solid transparent;
        .icon-checkbox {
          visibility: visible;
        }
        i, span{
          color: $white;
        }
      }
    }
    .bbm-modal__topbar {
      box-sizing: border-box;
      padding: 0 20px;
      border-bottom: none;
    }
    .bbm-modal__title{
      font-size: 14px;
      margin: 0;
    }
  }
}