#groupsContainer {
  position: absolute;
  top: 36px;
  right: 0;
  bottom: 0;
  left: 0;
  min-height: 400px;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}

.groupContent {
  display: inline-block;
  height: 100%;
  border-right: 2px solid $white;
  border-left: 3px solid $gray1;
  white-space: normal;
  box-sizing: border-box;

  .navNotification {
    position: relative;
    background-color: $gray3;
    color: $white;
  }
}

@media (max-width: 1000px) {
  // window so small we only show two panels
  .groupContent {
    &.groupGridSize-1 {
      width: 50%;
    }
    &.groupGridSize-2 {
      width: 100%;
    }
    &.groupGridSize-3 {
      width: 150%;
    }
    &.groupGridSize-4 {
      width: 200%;
    }
    &.groupGridSize-5 {
      width: 250%;
    }
    &.groupGridSize-6 {
      width: 300%;
    }
  }
}

@media (min-width: 1000px) and (max-width: 1500px) {
  // Usual window size: Show three panels
  .groupContent {
    &.groupGridSize-1 {
      width: 33%;
    }
    &.groupGridSize-2 {
      width: 66%;
    }
    &.groupGridSize-3 {
      width: 100%;
    }
    &.groupGridSize-4 {
      width: 133%;
    }
    &.groupGridSize-5 {
      width: 166%;
    }
    &.groupGridSize-6 {
      width: 200%;
    }
  }
}

@media (min-width: 1500px) and (max-width: 2000px) {
  // Large window: Show four panels
  .groupContent {
    &.groupGridSize-1 {
      width: 25%;
    }
    &.groupGridSize-2 {
      width: 50%;
    }
    &.groupGridSize-3 {
      width: 75%;
    }
    &.groupGridSize-4 {
      width: 100%;
    }
    &.groupGridSize-5 {
      width: 125%;
    }
    &.groupGridSize-6 {
      width: 150%;
    }
  }
  // Special case for small number of actual panels
  #groupsContainer.allGroupsGridSize-3 .groupContent {
    &.groupGridSize-1 {
      width: 33%;
    }
    &.groupGridSize-2 {
      width: 66%;
    }
    &.groupGridSize-3 {
      width: 100%;
    }
  }
}

@media (min-width: 2000px) {
  // Huge window: Show five panels
  .groupContent {
    &.groupGridSize-1 {
      width: 20%;
    }
    &.groupGridSize-2 {
      width: 40%;
    }
    &.groupGridSize-3 {
      width: 60%;
    }
    &.groupGridSize-4 {
      width: 80%;
    }
    &.groupGridSize-5 {
      width: 120%;
    }
    &.groupGridSize-6 {
      width: 140%;
    }
  }
  // Special case for small number of actual panels
  #groupsContainer.allGroupsGridSize-3 .groupContent {
    &.groupGridSize-1 {
      width: 33%;
    }
    &.groupGridSize-2 {
      width: 66%;
    }
    &.groupGridSize-3 {
      width: 100%;
    }
  }
  #groupsContainer.allGroupsGridSize-4 .groupContent {
    &.groupGridSize-1 {
      width: 25%;
    }
    &.groupGridSize-2 {
      width: 50%;
    }
    &.groupGridSize-3 {
      width: 75%;
    }
    &.groupGridSize-4 {
      width: 100%;
    }
  }
}

// Special case for small number of actual panels
#groupsContainer.allGroupsGridSize-1 .groupContent {
  width: 100%;
}

#groupsContainer.allGroupsGridSize-2 .groupContent {
  &.groupGridSize-1 {
    width: 50%;
  }
  &.groupGridSize-2 {
    width: 100%;
  }
}

.groupHeader {
  height: 25px;
  background-color: $gray1;
  position: relative;
  .close-group,
  .lock-group {
    cursor: pointer;
    position: absolute;
    text-decoration: none;
    top: 3px;
    color: $white;
  }
  .close-group {
    right: 12px;
    font-size: 14px;
    opacity: 0.8;
    top: 5px;
    &:hover {
      opacity: 1;
    }
  }
  .lock-group {
    margin-left: auto;
    margin-right: auto;
    right: 30px;
    opacity: 0.8;
    top: 5px;
    i {
      vertical-align: text-bottom;
      font-size: 14px;
    }
    &:hover {
      opacity: 1;
    }
  }
}

.groupBody {
  display: table;
  height: 100%;
  width: 100%;
  table-layout: auto;

  .groupPanel {
    display: table-cell;
    height: 100%;
    vertical-align: top;
  }

  .navSidebar {
    min-width: 300px;
    .side-menu {
      margin: 0;
      padding: 0;
      list-style: none;
      height: 80%;
      > li {
        position: relative;
        > a.nav {
          display: block;
          height: 35px;
          text-decoration: none;
          background-color: $gray3;
          border-bottom: 1px solid rgba(127, 140, 141, 0.2);
          color: $gray;
          line-height: 35px;
          padding-left: 10px;
          font-size: 14px;
          &.active {
            background-color: $white;
            color: $purple;
          }
          i {
            font-size: 25px;
            vertical-align: middle;
          }
        }
        .second-level {
          display: none;
        }
      }
      .debate {
        .panel-body {
          top: 0;
        }
      }

      .synthesisNavPanel {
        ul.synthesisList {
          list-style-type: none;
          padding: 0;
          
          li:hover {
            cursor: pointer;
          }
          li {
            margin: 0;
            padding: 10px;
            clear: both;
            min-height: 20px;
            display: block;
            border-bottom: 1px solid #ddd;
            border-top: none;
            position: relative;
            
            .title {
              vertical-align: middle;
              width: 80%;
              display: inline-block;
            }
            .date {
              vertical-align: middle;
              color: $grayCounter;
              display: inline-block;
              width: 20%;
              text-align: center;
            }
          }
          li.selected {
            background: $blue;
          }
        }
      }
    }
  }

  .ideaPanel {
    min-width: 300px;
  }

  .synthesisPanel {
    position: relative;
    min-width: 400px;
  }

  .clipboard {
    position: relative;
    min-width: 400px;
  }

}

.group-modal {
  .bbm-modal {
    max-width: 410px;
    .bbm-modal__section {
      height: auto;
      padding: 0 20px;
      .itemGroup {
        position: relative;
        height: 120px;
        width: 120px;
        list-style-type: none;
        margin: 25px;
        float: left;
        text-align: center;
        border: 1px solid transparent;
        a {
          position: absolute;
          display: block;
          cursor: pointer;
          left: 0;
          top: 0;
          height: 100%;
          width: 100%;
          z-index: 10;
        }
        i {
          font-size: 3.5em;
        }
        .icon-checkbox {
          position: absolute;
          font-size: 16px;
          top: 5px;
          left: 5px;
          visibility: hidden;
        }
        &:hover {
          @include border-radius(3px);
          border: 1px solid $gray;
        }
        &:hover .icon-checkbox {
          visibility: visible;
        }
        .item-title {
          font-size: 12px;
        }
      }
      .separator-item {
        float: left;
        padding-top: 4em;
        height: 120px;
      }
      .item-section {
        font-size: 12px;
        float: left;
        width: 100%;
      }
      .is-selected {
        @include border-radius(3px);
        background-color: $purple;
        border: 1px solid transparent;
        .icon-checkbox {
          visibility: visible;
        }
        i, span {
          color: $white;
        }
      }
    }
    .bbm-modal__topbar {
      box-sizing: border-box;
      padding: 0 20px;
      border-bottom: none;
    }
    .bbm-modal__title {
      font-size: 14px;
      margin: 0;
    }
  }
}