#groupsContainer {
  position: absolute;
  top: 40px;
  right: 0;
  bottom: 0;
  left: 0;
  min-height: 400px;
  //height: 95%;
  height: calc(100% - 35px);
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  > * {
    white-space: normal;
  }
}

#groupsContainer.hasNotification {
  position: absolute;
  top: 75px;
  height: 95%;
  height: calc(100% - 75px);
}

.groupContent {
  display: inline-block;
  height: 100%;
  //border-right: 2px solid $white;
  //border-left: 3px solid $gray1;
  white-space: normal;
  box-sizing: border-box;

  .navNotification {
    position: relative;
    background-color: $gray3;
    color: $white;
  }
}

.groupHeader {
  &.editable {
    height: 25px;
  }
  height: 3px;
  background-color: $gray1;
  position: relative;
  .close-group,
  .lock-group {
    cursor: pointer;
    position: absolute;
    text-decoration: none;
    top: 3px;
    color: $white;
  }
  .close-group {
    right: 12px;
    font-size: 14px;
    opacity: 0.8;
    top: 5px;
    &:hover {
      opacity: 1;
    }
  }
  .lock-group {
    margin-left: auto;
    margin-right: auto;
    right: 30px;
    opacity: 0.8;
    top: 5px;
    i {
      vertical-align: text-bottom;
      font-size: 14px;
    }
    &:hover {
      opacity: 1;
    }
  }
}

.groupBody {
  display: table;
  height: calc(100% - 3px); /* retain the height of .groupHeader */
  width: 100%;
  &.editable {
    height: calc(100% - 25px); /* retain the height of .groupHeader */
  }
  table-layout: auto;

  .groupPanel {
    display: table-cell;
    height: 100%;
    vertical-align: top;
    .panelContentsWhenMinimized {
      display: none;
      span {
        font-size: 25px;
        position: absolute;
      }
    }
  }

  .navSidebar {
    height: 100%;
    .side-menu {
      margin: 0;
      padding: 0;
      list-style: none;
      height: 100%;
      > li {
        position: relative;
        > a.nav {
          display: block;
          height: 40px;
          text-decoration: none;
          background-color: $purple3;
          color: $white;
          padding-left: 10px;
          font-size: $smallFontSize;
          &.active {
            background-color: $purple5;
            i:not(.icon-arrowleft) {
              color: $white;
            }
            #ideaList-addbutton {
              visibility: visible;
            }
          }
          i {
            font-size: 22px;
            color: $green;
            vertical-align: sub;
          }
          i.icon-add-2 {
            color: $white;
          }
          .icon-arrowleft {
            font-size: 14px;
          }

          #ideaList-addbutton {
            visibility: hidden;
          }
        }
        > a:first-child {
          border-right: 1px solid $purple5;
        }
        .second-level {
          display: none;
          box-sizing: border-box;
        }
        .second-level.home {
          overflow: auto;
        }

        .second-level.synthesis,
        .second-level.debate,
        .second-level.home {
          background-color: $purple4;
        }
      }
      .debate {
        .panel-body {
          top: 0;
          bottom: 0;
        }
      }
      .synthesisNavPanel {
        .synthesisListHeader {
          padding: 15px;
          position: absolute;
        }
        ul.synthesisList {
          list-style-type: none;
          padding: 0;

          li:hover {
            cursor: pointer;
            background-color: $green1;
            border-right: 4px solid $green;
          }
          li {
            margin: 0;
            padding: 10px;
            clear: both;
            min-height: 20px;
            display: block;
            border-bottom: 1px solid #ddd;
            border-top: none;
            position: relative;
            border-right: 4px solid transparent;

            .title {
              vertical-align: middle;
              width: 80%;
              display: inline-block;
            }
            .date {
              vertical-align: middle;
              color: $gray1;
              display: inline-block;
              width: 20%;
              text-align: center;
            }
          }
          li.selected {
            background-color: $green1;
            border-right: 4px solid $green;
          }
        }
      }
    }
  }

  .ideaPanel {
    min-width: floor($grid_unit_min_size * $idea_panel_grid_size);
  }

  .synthesisPanel {
    position: relative;
    min-width: floor($grid_unit_min_size * $synthesis_panel_grid_size);
  }

  .clipboard {
    position: relative;
    min-width: floor($grid_unit_min_size * $clipboard_grid_size);
  }

}

.groupPanel .panel-header a.panel-header-minimize,
.groupPanel .navSidebar .nav .panel-header-minimize {
  color: $green;
  float: right;
  i.icon-arrowleft {
    font-size: 14px;
  }
}

.groupPanel.minimized {
  .ideaPanel {
    min-width: initial !important;
  }
  .panel-header {
    a {
      display: none;
    }
  }
}

/* temporary: use CSS to show/hide the right icons in the minimized panel => TODO: template system for minimized view */

.groupPanel.minimized .panelContentsWhenMinimized.hasHeader span.icon-home {
  display: none;
}

.groupPanel.minimized .panelContentsWhenMinimized.hasHeader span.icon-idea {
  display: initial;
}

.groupPanel.minimized .panelContentsWhenMinimized.hasNoHeader span.icon-idea {
  display: none;
}

.groupPanel.minimized .panelContentsWhenMinimized.hasNoHeader span.icon-home {
  display: initial;
}

/* end temporary */

/*
.groupPanel.minimized .panelContentsWhenMinimized a.panel-header-minimize {
  display: none;
}
*/

.groupPanel.minimized .panel-header a.panel-header-minimize,
.groupPanel.minimized .navSidebar .nav span.panel-header-minimize,
.groupPanel.minimized .panelContentsWhenMinimized.hasNoHeader a.panel-header-minimize {
  display: block;
  //background: url(#{$img-dir}/icon/panel_expand.svg) center center no-repeat;
  //background-size: 18px;
  //position: absolute;
  //width: 36px;
  //height: 35px;
  //font-size: 150%;
  color: $green;
}

.group-modal {
  .popin {
    max-width: 500px;
  }
}

.selectedGroup {
  max-width: 500px;
  .itemGroup {
    position: relative;
    height: 100px;
    width: 100px;
    margin: 5px auto;
    text-align: center;
    border: 1px solid transparent;
    color: $gray2;
    display: block;
    text-decoration: none;
    i {
      font-size: 3.5em;
    }
    .icon-checkbox {
      position: absolute;
      font-size: 16px;
      top: 5px;
      left: 5px;
      visibility: hidden;
    }
    &:hover {
      @include border-radius(3px);
      border: 1px solid $gray;

    }
    &:hover .icon-checkbox {
      visibility: visible;
    }
    .item-title {
      font-size: 12px;
    }

    a.item {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      opacity: 0;
      cursor: pointer;
      margin: 0;
    }

  }
  .separator-item {
    float: left;
    padding-top: 4em;
    height: 120px;
  }
  .item-section {
    font-size: 12px;
    float: left;
    width: 100%;
    padding: 10px 0;
  }
  .is-selected {
    @include border-radius(3px);
    background-color: $purple;
    border: 1px solid transparent;
    cursor: pointer;
    .icon-checkbox {
      visibility: visible;
    }
    i, span {
      color: $white;
    }
  }

  .is-disabled {
    color: $gray;
    pointer-events: none;
    opacity: 0.6;
    &:hover {
      border: none;
      border-radius: 0px
    }
  }
}