// The idea panel specific CSS
// ===========================

.ideaPanel {
  .panel-body {
    padding: 16px 16px
  }
}

.ideaPanel-shorttitle {
  .panel-editablearea {
    margin: 0px;
    padding: 8px 6px 8px 8px;
  }
}

.ideaPanel-section-summary {
  i.icon-user {
    font-size: 20px;
    margin: 0px 0px 0px -3px;
  }
}


.ideaPanel-longtitle-closebtn {
  position: absolute;
  top: 5px;
  right: 5px;
}

.ideaPanel-seeMoreOrLess {
  .seeMore,
  .seeLess {
    cursor: pointer;
    text-decoration: none;
    float: right;
  }
}

.nugget-indice {
  position: relative;
  float: left;
  padding: 2px 0px;
  margin-top: 6px;

  .nugget {
    cursor: pointer;

    i:before {
      font-size: 150%;
      margin: 0;
      padding: 0;
      width: 24px;
    }

    .icon-diamond {
      color: $gray;
      margin: 0px 0px 0px -4px;
    }

    &:hover .icon-diamond {
      color: $orange1;
    }

    &.isSelected {
      .icon-diamond {
        color: $orange1;
      }
    }
  }
}

.ideaPanel-longtitle {
  color: $black;
  font-size: 13px;
  line-height: 18px;
  padding: 3px 0 6px 6px;
  font-weight: 400;
  border: 1px solid transparent;
  overflow-y: hidden;
  @include word-wrap();
  &:hover{
    @include box-shadow(rgba(0, 0, 0, 0.1) 0px 1px 1px inset);
    border: 1px solid #cccccc;
  }
}

.ideaPanel-definition {
  &.disconnected {
    &:hover {
      @include box-shadow($white 0px 0px 0px inset);
      border: 1px solid transparent;
    }
  }

  color: $black;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  border: 1px solid transparent;
  padding: 0px 0px 9px 6px;
  overflow-y: hidden;
  @include word-wrap();
  &:hover {
    @include box-shadow(rgba(0, 0, 0, 0.1) 0px 1px 1px inset);
    border: 1px solid #cccccc;
  }
}

.add-description {
  cursor: pointer;
}

.ideaPanel-section-contributors {
    i.icon-user {
      margin: 0px 0px 0px -3px;
      font-size: 20px;
    }
    .contributor {
      font-size: 30px;
    }
}

.ideaPanel-section-segments section-title {
  i.icon-diamond {
    font-size: 150%;
    font-weight: 600;
  }
}

.ideaPanel {
  .postitlist {
    margin-bottom: 15px;
    border: 1px dashed transparent;
  }
  &.is-dragover {
    .postitlist {
       border: 1px dashed #cccccc;
      @include border-radius(3px);
    }
  }
}

.emptyIdeaPanelContainer {
  display: table;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  .emptyIdeaPanelContent {
    display: table-cell;
    vertical-align: middle;
    color: #CCCCCC;
    .emptyIdeaIcon i{
      font-size: 100px;
    }
    .emptyIdeaIcon2 i{
      color: $green;
      font-size: 20px;
    }
    .helperIdea {
      font-size: 16px;
    }
  }
}
