.ideaPanel-longtitle-closebtn {
    position: absolute;
    top: 5px;
    right: 5px;
}

.seeMore {
  height: 56px;
  overflow-y: hidden;
}

.ideaPanel-seeMore {
  padding-left: 3px;
  display: none;
}

.ideaPanel {
  .panel-body {
    top: 30px;
  }
}