// The idea panel specific CSS
// ===========================

.ideaPanel {
  .panel-body {
    padding: 16px 16px
  }
}

.ideaPanel-shorttitle {
}

.ideaPanel-section-actions{
}

.ideaPanel-section-summary {
  i.icon-user {
    font-size: 20px;
    margin: 0px 0px 0px -3px;
  }
}


.ideaPanel-longtitle-closebtn {
  position: absolute;
  top: 5px;
  right: 5px;
}

.ideaPanel-seeMoreOrLess {
  .seeMore,
  .seeLess {
    cursor: pointer;
    text-decoration: none;
    float: right;
  }
}

.nugget-indice {
  position: relative;
  float: left;
  padding: 2px 0px;
  margin-top: 6px;

  .nugget {
    cursor: pointer;

    i:before {
      font-size: 150%;
      margin: 0;
      padding: 0;
      width: 24px;
    }

    .icon-diamond {
      color: $gray;
      margin: 0px 0px 0px -4px;
    }

    &:hover .icon-diamond {
      color: $orange1;
    }

    &.isSelected {
      .icon-diamond {
        color: $orange1;
      }
    }
  }
}

.add-description {
  cursor: pointer;
}

.ideaPanel-section-contributors {
    i.icon-user {
      margin: 0px 0px 0px -3px;
      font-size: 20px;
    }
    .contributor {
      font-size: 30px;
    }
}

.ideaPanel-section-segments section-title {
  i.icon-diamond {
    font-size: 150%;
    font-weight: 600;
  }
}

.ideaPanel {
  .postitlist {
    border: 1px dashed transparent;
  }
  &.is-dragover {
    .postitlist {
       border: 1px dashed #cccccc;
      @include border-radius(3px);
    }
  }
}

.emptyIdeaPanelContainer {
  display: table;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  .emptyIdeaPanelContent {
    display: table-cell;
    vertical-align: middle;
    color: #CCCCCC;
    .emptyIdeaIcon i{
      font-size: 100px;
    }
    .emptyIdeaIcon2 i{
      color: $green;
      font-size: 20px;
    }
    .helperIdea {
      font-size: 16px;
    }
  }
}
