.ideaPanel-longtitle-closebtn {
  position: absolute;
  top: 5px;
  right: 5px;
}

.ideaPanel-seeMore {
  .seeMore,
  .seeLess {
    color: $white;
    cursor: pointer;
    text-decoration: none;
    float: right;
    font-size: 11px;
    i.icon-arrowdown,
    i.icon-arrowup {
      color: $black;
    }
  }
}

.nugget-indice {
  position: relative;
  float: left;
  padding: 2px 0px;
  margin-top: 6px;

  .nugget {
    cursor: pointer;

    i:before {
      font-size: 150%;
      margin: 0;
      padding: 0;
      width: 24px;
    }

    .icon-diamond {
      color: $gray;
    }

    &:hover .icon-diamond {
      color: $orange1;
    }

    &.isSelected {
      .icon-diamond {
        color: $orange1;
      }
    }
  }
}

.ideaPanel-longtitle {
  color: $white;
  padding: 3px 0 6px 6px;
  font-weight: 400;
  border: 1px solid transparent;
  overflow-y: hidden;
  @include word-wrap();
  &:hover{
    @include box-shadow(rgba(0, 0, 0, 0.1) 0px 1px 1px inset);
    border: 1px solid #cccccc;
  }
}

.ideaPanel-definition {
  &.disconnected {
    &:hover {
      @include box-shadow($white 0px 0px 0px inset);
      border: 1px solid transparent;
    }
  }

  color: $white;
  font-weight: 400;
  border: 1px solid transparent;
  padding: 0px 0px 9px 6px;
  overflow-y: hidden;
  @include word-wrap();
  &:hover {
    @include box-shadow(rgba(0, 0, 0, 0.1) 0px 1px 1px inset);
    border: 1px solid #cccccc;
  }
}

.add-description {
  cursor: pointer;
}

.ideaPanel-section-contributors {
  background-color: #f5f5f5;
  .ideaPanel-contributors {
    i.icon-user {
      color: $green;
      font-size: 20px;
    }
    .contributor {
      font-size: 30px;
    }
  }
}

.ideaPanel-section-segments-legend {
  i.icon-diamond {
    color: $green;
    font-size: 150%;
    font-weight: 600;
  }
  .legend {
    color: $gray4;
    font-weight: 600;
  }
}

.ideaPanel {
  .postitlist {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px dashed transparent;
  }
  &.is-dragover {
    .postitlist {
       border: 1px dashed #cccccc;
      @include border-radius(3px);
    }
  }
}

.ideaPanel-section-actions {
  .icon-download {
    font-size: 17px;
  }
}