.ideaPanel-longtitle-closebtn {
    position: absolute;
    top: 5px;
    right: 5px;
}

.seeMore {
  height: 56px;
  overflow-y: hidden;
}

.ideaPanel-seeMore {
  padding-left: 3px;
  display: none;
}

.ideaPanel {
  .panel-body {
    top: 30px;
  }

  .ideaPanelNuggets {
    cursor: pointer;
    color: $gray;

    i:before {
      font-size: 233%;
      margin: 0;
      padding: 0;
      width: 28px;
    }

    &:hover .icon-diamond {
      color: $orange1;
    }
  }

  .ideaPanelNuggets.isSelected {
    color: $orange1;
  }

}