.ideaPanel-longtitle-closebtn {
    position: absolute;
    top: 5px;
    right: 5px;
}

.seeMore {
  height: 56px;
  overflow-y: hidden;
}

.ideaPanel-seeMore {
  padding-left: 3px;
  display: none;
}

.ideaPanel {
  .panel-body {
    top: 50px;
  }
}

.ideaPanelNuggets {
  cursor: pointer;

  i:before {
    font-size: 150%;
    margin: 0;
    padding: 0;
    width: 24px;
  }

  .icon-diamond {
    color: $gray;
  }

  &:hover .icon-diamond {
    color: $orange1;
  }

  &.isSelected {
    .icon-diamond {
      color: $orange1;
    }
  }
}

#ideaPanel-shorttitle > * {
  color: $white;
}

#ideaPanel-definition {
  .panel-editablearea > * {
    color: $white;
  }
}