.lateralmenu {
    position: fixed;
    top: 0;
    left: $lateralmenu-width * -1;

    background-color: #202020;

    @include box-sizing( border-box );
    width: $lateralmenu-width;
    min-height: 100%;

    @include transition( left 0.6s );

    body.is-lateralmenu-open & {
        @extend .lateralmenu.is-open;
    }
}

// Open state
// **********
.lateralmenu.is-open {
    left: 0;
}


// The container for the search field
// =====================
.searchbox {
    height: 72px;
    line-height: 72px;
    padding: 0 50px;

    @include box-shadow(0 1px rgba(255,255,255,.1), inset 0 1px rgba(138,138,138,.3));
    border: { top: solid 1px #2d2d2d; bottom: solid 1px #2d2d2d; }
    background-color: rgba(52,52,52,0);
    @include background-image(linear-gradient(top, #717171, #585858));

    color: #202020;
    font-weight: bold;
}

// The field within the searchbox
// --------------------
.searchbox-field {
    padding: 0 32px 0 10px;
    width: $lateralmenu-width - 150px;
    height: 36px;

    @include border-radius(10px);
    background: rgba(55,55,55,.67) url(#{$img-dir}/icon/search.png) right center no-repeat;

    font-size: 16px;
    color: white;
}


// The avatar box
// ===============
.avatarbox {
    @extend .searchbox;
    height: 52px;
    line-height: 52px;
}
