#messageList {}

#messageList.is-message-mode {}

#messageList-list {
    display: block;

    #messageList.is-message-mode & {
        display: none;
    }
}

#messageList-messages {
    display: none;

    #messageList.is-message-mode & {
        display: block;
    }
}
