#messageList {
    #messageList-query-info {
        .closebutton {
            position: relative;
            right: 0px;
            top: 0px;
        }
    } 
}

#messageList.is-message-mode {}

#messageList-list {
    display: block;

    #messageList.is-message-mode & {
        display: none;
    }
}

#messageList-messages {
    display: none;

    #messageList.is-message-mode & {
        display: block;
    }
}

