#messageList {
    #messageList-query-info {
        white-space: normal;
        padding-left: 10px;
        .closebutton {
            position: relative;
            right: 0px;
            top: 1px;
        }
      #post-query-filter-info {
        padding: 0;
        margin-top: 8px;
        margin-bottom: 12px;
         li {
           display: inline-block;
           padding: .5em .6em .5em;
           font-size: 85%;
           line-height: 1;
           color: #ffffff;
           text-align: center;
           white-space: nowrap;
           vertical-align: baseline;
           border-radius: .25em;
           background-color: #999999;
           margin-right: 5px;
           margin-bottom: 2px;
         }
      }
      #post-query-results-info {
        margin-top: 5px;
      }

      .actions {
        position: absolute;
        right: 8px;
        top: 28px;
      }
    } 
    #messageList-toparea, #messageList-bottomarea {
        &.hidden {
            display: none;
        }
    }
}

#messageList.is-message-mode {}

#messageList-list {
    display: block;

    #messageList.is-message-mode & {
        display: none;
    }
}

#messageList-messages {
    display: none;

    #messageList.is-message-mode & {
        display: block;
    }
}

