.messageColumns{
    .subpanel-body{
        padding:10px;
        .messageSend{
            margin: 0 0 20px 0;
        }
    }
    .messageColumnListContainer{
        padding:10px;
    }
    .pal{
        padding:0!important;
    }
    .message-family-container {
        box-shadow: none;
        margin: 0;
        border: none;
        border-left: 1px solid $txtGray;
        border-right: 1px solid $txtGray;
        border-radius: 0;
    }
    .message-column-container{
        border-top: 1px solid $txtGray;
        border-bottom: 1px solid $txtGray;
        margin-bottom: 20px;
    }
    .idea-classification{
        display:none;
    }
    .message-replybox-openbtn{
        display:none;
    }
    .messageSend-cancelbtn{
        display:none;
    }
    .messageSend-sendbtn{
        margin: 10px 0 10px 0!important;
    }
    .creator_info{
        display:none!important;
    }
    .announcementMessage{
        box-shadow:none;
    }
    .announcement_title{
        text-align: center;
        color:$white;
        margin-top: 25px;
    }
    .announcement_body{
        text-align: center;
        color:$white;
        padding: 0 50px;
    }
    .background-annoucement{
        background-repeat: no-repeat;
        background-size: cover;
    }
    .announcementMessage{
        background-color: none!important;
        height: 180px;
    }
    .bx{
        background: none!important;
    }
    .message-conversation-block{
        display:none;
    }
    a.img-left.avatar.img-rounded{
        display:none;
    }
    .icon-discuss{
        display:none;
    }
    .messageSend-form{
        margin-left:0;
    }
}