$panelarea-min-width: 420px;
$panelarea-min-height: 400px;

// The wrapper for all .panel
// =================
.panelarea  {
    position: absolute;
    top: 77px;
    right: 5px;
    bottom: 4px;
    left: 5px;
    min-height: $panelarea-min-height;
    display: block;
    overflow: { x: auto; y: hidden; }
    white-space: nowrap;

    .discussionlist {
      li{
        list-style-type: none;
        float: left;
        border-bottom: 5px solid #c7c2dd;
        width: 170px;
        height: 170px;
        margin: 10px;
        text-align: center;
        border-radius: 50%;
        box-sizing: border-box;
        display: table;
        .discussion {
          display: table-cell;
          vertical-align: middle;
          a{
            text-decoration: none;
            color: #000000;
          }
        }
      }
    }
}


// The table to align the .panelarea-col
// ---------------
.panelarea-table {
    display: table;
    width: 100%;
    height: 100%;
}

// The table to align the .panel
// ---------------
.panelarea-col {
    @include box-sizing( border-box );
    display: none;
    padding: 0 4px;
    height: 100%;
    min-width: $panelarea-min-width;
}

// Shows the .panelarea-col
// ++++++++++++++++
.panelarea-col.is-visible {
    display: table-cell;
}

// Specific areas
#segmentList { 
    width: $panelarea-min-width;
    max-width: $panelarea-min-width;
}

#messageList {
    min-width: 500px;
}

#synthesisPanel {
    min-width: 500px;
}

#ideaList {
  min-width: 400px;
}
