$panelarea-min-width: 420px;
$panelarea-min-height: 400px;

// The wrapper for all .panel
// =================
.panelarea  {
    position: absolute;
    top: 36px;
    right: 0;
    bottom: 4px;
    left: 0;
    min-height: $panelarea-min-height;
    display: block;
    overflow: { x: auto; y: hidden; }
    white-space: nowrap;
}

.discussionlist {
  .bx {
    width: 180px;
    height: 180px;
    margin: 10px;
    text-align: center;
    box-sizing: border-box;
    .discussion {
      a {
        text-decoration: none;
        color: #000000;
      }
    }
  }
}

