.wrapper-group{
  position: relative;
  height:100%;
  width:100%;
  display:inline-block;
  box-sizing: border-box;
  padding-top: 25px;
  background-color: #EEEEEE;
  .add-group,
  .close-group,
  .lock-group {
    cursor: pointer;
    position: absolute;
    text-decoration: none;
    top:5px;
  }
  .add-group {
    left: 5px;
    line-height: 20px;
  }
  .close-group {
    right: 5px;
    line-height: 20px;
    font-size: 20px;
  }
  .lock-group {
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    width: 175px;
    i{
      vertical-align: middle;
      font-size: 18px;
    }
  }
}

.group-modal {
  .bbm-modal {
    max-width: 410px;
    .bbm-modal__section {
      height: auto;
      padding: 0 20px;
       .itemGroup {
         position: relative;
         height: 120px;
         width: 120px;
         list-style-type: none;
         margin: 25px;
         float: left;
         text-align: center;
         border: 1px solid transparent;
         a{
           position: absolute;
           display: block;
           cursor: pointer;
           left:0;
           top:0;
           height: 100%;
           width: 100%;
           z-index: 10;
         }
         i{
           font-size: 3.5em;
         }
         .icon-checkbox {
           position: absolute;
           font-size: 16px;
           top: 5px;
           left: 5px;
           visibility: hidden;
         }
         &:hover{
           @include border-radius(3px);
           border: 1px solid #eeeeee;
         }
         &:hover .icon-checkbox {
           visibility: visible;
         }
         .item-title {
           font-size: 12px;
         }
       }
       .separator-item {
         float: left;
         padding-top: 4em;
         height: 120px;
       }
       .item-section{
         font-size: 12px;
         float: left;
       }
      .is-selected {
        @include border-radius(3px);
        background-color: #9A3FD5;
        border: 1px solid transparent;
        .icon-checkbox {
          visibility: visible;
        }
        i, span{
          color: #ffffff;
        }
      }
    }
    .bbm-modal__topbar {
      box-sizing: border-box;
      padding: 0 20px;
      border-bottom: none;
    }
    .bbm-modal__title{
      font-size: 14px;
      margin: 0;
    }
  }
}