$panelarea-min-width: 420px;
$panelarea-min-height: 400px;

// The wrapper for all .panel
// =================
.panelarea  {
    position: absolute;
    top: 36px;
    right: 0;
    bottom: 4px;
    left: 0;
    min-height: $panelarea-min-height;
    display: block;
    overflow: { x: auto; y: hidden; }
    white-space: nowrap;

    .discussionlist {
      li{
        list-style-type: none;
        float: left;
        border-bottom: 5px solid #c7c2dd;
        width: 170px;
        height: 170px;
        margin: 10px;
        text-align: center;
        border-radius: 50%;
        box-sizing: border-box;
        display: table;
        .discussion {
          display: table-cell;
          vertical-align: middle;
          a{
            text-decoration: none;
            color: #000000;
          }
        }
      }
    }
}

