.wrapper-group{
  position: relative;
  height:100%;
  width:100%;
  display:inline-block;
  box-sizing: border-box;
  padding-top: 25px;
  background-color: #FFFFFF;
  .add-group {
    cursor: pointer;
    position: absolute;
    left: 5px;
    top: 5px;
    line-height: 20px;
    &:hover{
      text-decoration: underline;
    }
  }
  .close-group {
    text-decoration: none;
    cursor: pointer;
    position: absolute;
    right: 5px;
    top: 5px;
    line-height: 20px;
    font-size: 20px;
  }
}

.group-modal {
  .bbm-modal {
    max-width: 400px;
    .bbm-modal__section {
      height: auto;
      padding: 0 25px;
       .itemGroup {
         list-style-type: none;
         height: 120px;
         width: 120px;
         border: 1px solid #CCCCCC;
         margin: 25px;
         display: inline-block;
         text-align: center;
         padding-top: 10px;
         a{
           cursor: pointer;
           color:#484848;
         }
         i{
           font-size: 4em;
         }
       }
    }
    .bbm-modal__topbar {
      box-sizing: border-box;
      padding: 0 10px 0 10px;
      border-bottom: none;
    }
    .bbm-modal__title{
      font-size: 13px;
      margin: 0;
    }
  }
}