/**
 * Styleguide things are prefixed with `sg`
 */


// A section to a component
// =====================
.sg-section {
    position: relative;
    margin-top: 50px;
}

// Title of a section
.sg-title {
    margin: 0;
}

// A description within an .sg-section
// -----------------
.sg-description {
    position: absolute;
    top: 2em;
    left: 0px;
    max-width: 220px;
}


// styleguide components

.bx-color {
  @include border-radius(50px);
  width: 100px;
  height: 100px;
  line-height: 100px;
  color: $white;
  font-size: 14px;
}

.sg-section {
  .icons-content {
    .bx {
      width: 10%;
      text-align: center;
      background-color: #FFFFFF;
      border-radius: 3px;
      float: left;

      [class^="icon-"], [class*="icon-"] {
        font-size: 3.3em;
      }
    }
  }
}

.bs-example-popover {
  .popover {
    position: relative;
    display: block;
    float: left;
    width: 260px;
    margin: 20px;
  }
}

