/**
 * Styleguide things are prefixed with `sg`
 */


// A section to a component
// =====================
.sg-section {
    position: relative;
    margin-top: 50px;
}

// Title of a section
.sg-title {
    margin: 0;
}

// A description within an .sg-section
// -----------------
.sg-description {
    position: absolute;
    top: 2em;
    left: 0px;
    max-width: 220px;
}


// styleguide components

.button-content,
.icons-content,
.colors-content,
.helpers-content{
  padding: 30px;
  clear: both;
}

.icons-content{
  .bx {
    width: 10%;
    text-align: center;
    background-color: #FFFFFF;
    border-radius: 3px;
    float: left;
    margin: 10px;
    padding: 10px 0px;

    [class^="icon-"], [class*=" icon-"]{
      font-size: 3.3em;
    }
  }
}

.colors-content{
  .bx-color{
    width: 40px;
    height: 40px;
  }
}