.modal-token-vote-session .bbm-modal {
  max-width: 800px;
  margin-top: 0;
}

.token-vote-session {
  .question-info {
    .question-title {
      @extend .h1;
    }
    .question-description {
      
    }
  }

  .token-icon-show-like-zero-not-selected {
    fill: none !important; /* !important is here to override inline style which would have been written in the SVG file which has been downloaded via its URL */
    stroke: #ccc !important;
    /*stroke-width: 3 !important;*/
    stroke-width: 1 !important;
    vector-effect: non-scaling-stroke !important;
  }

  .token-icon-show-like-zero-selected {
    fill: #ccc !important;
    stroke: #aaa !important;
    /*stroke-width: 3 !important;*/
    stroke-width: 1 !important;
    vector-effect: non-scaling-stroke !important;
  }

  .token-icon-show-like-positive-not-selected {
    fill: none !important;
    stroke: green !important;
    /*stroke-width: 3 !important;*/
    stroke-width: 1 !important;
    vector-effect: non-scaling-stroke !important;
  }

  .token-icon-show-like-positive-selected {
    /* show the SVG with its initial styles */
  }

  .available-tokens {
    margin-top: 10px;
    .help-text {
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .token-bag-for-category {
      display: table-row;
    }

    .description, .available-tokens-icons {
      display: table-cell;
      vertical-align: middle;
      line-height: 100%;
    }
    .available-tokens-icons {
      padding-left: 10px;
    }
    span.available-tokens-number {
      font-weight: 500;
      font-size: 150%;
    }

    .available:not(.animating-towards-not-available), .not-available.animating-towards-available {
      /* show the SVG with its initial styles */
      path, rect, circle {
        @extend .token-icon-show-like-positive-selected;
      }
    }

    .not-available:not(.animating-towards-available), .available.animating-towards-not-available {
      path, rect, circle {
        @extend .token-icon-show-like-zero-not-selected;
      }
    }
  }


  .votables-collection {
    margin-top: 10px;

    table {
      width: 100%;
    }
    th {
      color: #999;
      padding-bottom: 5px;
    }
    tbody > div {
      display: table-row;
      border-bottom: 1px solid #ddd;
    }
    .left-column, .right-column {
      display: table-cell;
      vertical-align: top;
      padding-top: 10px;
      padding-bottom: 5px;
    }
    .left-column {
      width: 70%;
      .idea-title {

      }
      .idea-description {
        min-height: 2*$baseLineHeightFontMultiplier*$baseFontSize; // Should match the readMoreAfterHeightPx of the description's view
      }
    }
    .right-column {

    }

    .tokens-for-idea {
      .token-icon {
        padding: 0;
        margin: 0;
      }

      .token-icon { /* can be a or div */
        display: inline-block;
        vertical-align: baseline;
        border: 1px transparent;
        line-height: 0; /* avoids having a height of this element bigger than the height of its contents */
      }

      .not-enough-available-tokens {
        cursor: not-allowed;
      }

      .token-category-allocation:not(.hover) .token-icon svg.custom {
        &.zero {
          &.not-selected {
            path, rect, circle {
              @extend .token-icon-show-like-zero-not-selected;
            }
          }
          &.selected {
            path, rect, circle {
              @extend .token-icon-show-like-zero-selected;
            }
          }
        }
        &.positive {
          &.not-selected {
            path, rect, circle {
              @extend .token-icon-show-like-positive-not-selected;
            }
          }
          &.selected {
            path, rect, circle {
              @extend .token-icon-show-like-positive-selected;
            }
          }
        }
      }

      .token-category-allocation.hover .token-icon svg.custom {
        &.zero {
          &:not(.hover) {
            /* show as if it was not selected */
            path, rect, circle {
              @extend .token-icon-show-like-zero-not-selected;
            }
          }
          &.hover {
            /* show as if it was selected */
            path, rect, circle {
              @extend .token-icon-show-like-zero-selected;
            }
          }
        }
        &.positive {
          &:not(.hover) {
            /* show as if it was not selected */
            path, rect, circle {
              @extend .token-icon-show-like-positive-not-selected;
            }
          }
          &.hover {
            /* show as if it was selected */
            path, rect, circle {
              @extend .token-icon-show-like-positive-selected;
            }
          }
        }
      }

    }

    


  }
}
