{% extends 'base.jinja2' %}

{% block content %}
<div class="admin-discussion-edit">

<h2>{% trans %}Edit discussion {% endtrans %} "{{discussion.topic}}"</h2>

{% if admin_discussion_permissions_url %}
  <p class="mbl">
    <a href='{{ admin_discussion_permissions_url }}'>{{ gettext("Edit discussion permissions") }}</a>
  </p>
{% endif %}

<form class="core-form form-horizontal" method="post" action="#">
  <fieldset>

    <div class="control-group">
      <label for="topic" class="control-label">Topic</label>
      <div class="controls">
        <input type="text" id="topic" name="topic" class="input-xlarge" {% if discussion.topic %}value="{{ discussion.topic }}"{% endif %} />
      </div>
    </div>

    <div class="control-group">
      <label for="slug" class="control-label">Slug</label>
      <div class="controls">
        <input type="text" id="slug" name="slug" class="input-xlarge" {% if discussion.slug %}value="{{ discussion.slug }}"{% endif %} />
      </div>
    </div>

    <div class="control-group">
      <label for="objectives" class="control-label">Objectives</label>
      <div class="controls">
        <textarea rows="3" id="objectives" name="objectives" class="input-xlarge">
          {% if discussion.objectives %}{{ discussion.objectives }}{% endif %}
        </textarea>
      </div>
    </div>

    <div class="form-actions ptm">
      <button class="btn btn-secondary" type="submit">Save changes</button>
    </div>

  </fieldset>
</form>

<form class="core-form form-horizontal" method="post" action="">
 <h3 class="h3">Add Partners</h3>

 <div class="control-group">
   <label for="partner-name" class="control-label">name</label>
   <div class="controls">
     <input type="text" id="partner-name" name="partner-name" class="input-xlarge"  />
   </div>
 </div>

 <div class="control-group">
   <label for="partner-description" class="control-label">description</label>
   <div class="controls">
     <textarea rows="3" id="partner-description" name="partner-description" class="input-xlarge">

     </textarea>
   </div>
 </div>

 <div class="control-group">
   <label for="partner-homepage" class="control-label">homepage</label>
   <div class="controls">
     <input type="text" id="partner-homepage" name="partner-homepage" class="input-xlarge"  />
   </div>
 </div>

 <div class="control-group">
   <label for="partner-logo" class="control-label">logo</label>
   <div class="controls">
     <input type="text" id="partner-logo" name="partner-logo" class="input-xlarge"  />
   </div>
 </div>

 <div class="form-actions ptm">
    <button class="btn btn-secondary" type="submit">Save changes</button>
 </div>

</form>

</div>
{% endblock %}

{% block main_js %}
<script data-main="{{ STATIC_URL }}/js/main.js" src="{{ STATIC_URL }}/js/bower/requirejs/require.js"></script>
<script type="text/javascript">
  requirejs(['app/models/partner_organization'], function (po) {
    partners = new po.Collection();
    partners.fetchFromScriptTag('partners-json');
    console.log(partners);
  });
</script>
{% endblock %}

{% block extra_js %}
<script type="text/json" id="partners-json">{{ partners |safe }}</script>
{% endblock %}
