{% extends 'base.jinja2' %}

{% block main_js %}
    <script src="{{ STATIC_URL }}/js/bower/jquery/dist/jquery.min.js"></script>
{% endblock %}

{% block content %}
<div class="error-message">{{error}}</div>
<div class="bx bx-default admin-permissions mbl mhl">
<h1 class="h1">{% trans %}Discussion {% endtrans %} <a href="{{ get_route('home') }}">{{discussion.topic}}</a></h1>
<h4 class="h4">{% trans %}Role permissions:{% endtrans %}</h4>
<form method="POST" action="#">
<table id="role_permissions" class="table">
    <thead>
        <th>{% trans %}Permissions{% endtrans %}\{% trans %}Roles{% endtrans %}</th>
        {% for role in roles %}
        <th>
            {{role}}
        </th>
        {% endfor %}
    </thead>
    <tbody>
        {% for permission in permissions %}
        <tr>
            <th>{{permission}}</th>
            {% for role in roles %}
            <td>
                <input type="checkbox" name="allowed_{{role}}_{{permission}}" 
                {% if allowed(role,permission) %} checked {% endif %}
                {% if role == 'r:sysadmin' %}disabled="true"{% endif %}
                >
            </td>
            {% endfor %}
        </tr>
        {% endfor %}
        <tr>
        <th>{% trans %}delete role{% endtrans %}</th>
        {% for role in roles %}
            <td>
                <input type="checkbox" name="delete_{{role}}"
                {% if is_system_role(role) %}disabled="true"{% endif %}
                >
            </td>
        {% endfor %}
        </tr>
        <tr>
            <th><input type="submit" name="submit_add_role" value="{% trans %}Add a role{% endtrans %}"></th>
            <th colspan="{{roles|length}}">r:<input name="new_role"/></th>
        </tr>
    </tbody>
</table>
<input type="submit" name="submit_role_permissions" value="{% trans %}Save{% endtrans %}">
</form>
</div>
<div class="bx bx-default admin-permissions mbl mhl">
<h4 class="h4">{% trans %}User roles specific to this discussion:{% endtrans %}</h4>
<form method="POST" action="#">
<table>
    <thead>
        <th>{% trans %}Users{% endtrans %}\{% trans %}Roles{% endtrans %}</th>
        {% for role in roles %}
        {% if role.startswith('r:') %}
        <th>
            {{role}}
        </th>
        {% endif %}
        {% endfor %}
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <th>{{user.name}} (<em>{{user.get_preferred_email()}} </em>)</th>
            {% for role in roles %}
            {% if role.startswith('r:') %}
            <td>
                <input type="checkbox" name="has_{{role}}_{{user.id}}" 
                {% if has_local_role(user.id,role) %} checked {% endif %}>
            </td>
            {% endif %}
            {% endfor %}
        </tr>
        {% endfor %}
        <tr>
            <th><input type="submit" name="submit_look_for_user" value="{% trans %}Search for users{% endtrans %}"></th>
            <th colspan="{{roles|length}}"><input name="user_search"/></th>
        </tr>
    </tbody>
</table>
<input type="submit" name="submit_user_roles" value="{% trans %}Save{% endtrans %}">
</form>
</div>
<div class="bx bx-default admin-permissions mhl">
<form method="POST" action="#" enctype="multipart/form-data" accept-charset="utf-8">
<h4 class="h4">{% trans %}Add users with a CSV file{% endtrans %}</h4>
<p>{% trans %}The CSV file must have two fields, in this order: full name, email. If it has a header, it MUST be on the first line. Imported user's email will be considered validated. Here is an example of CSV file:{% endtrans %}</p>
<pre>full name,email
James Smith,james.smith@company.com
Maria Garcia,maria.garcia@company.com</pre>
<p>{% trans %}The invite message will not be sent to existing users, even if created on another discussion. If you do not get Assembl to "Send an invite message", send one yourself, explaining how to reset password.{% endtrans %}</p>
<hr>
<p><label>{% trans %}Role{% endtrans %}:</label>
<select name="add_with_role" id="add_with_role">
    {% for role in roles %}
    {% if role.startswith('r:') %}
    <option {% if role == 'r:participant' %}selected{% endif %}>
        {{role}}
    </option>
    {% endif %}
    {% endfor %}
</select>
</p>
<p>
<label>{% trans %}CSV File{% endtrans %}:</label>
<input type="file" accept=".csv" name="user_csvfile" id="user_csvfile" />
</p>
<div>
<label>{% trans %}Send an invite message{% endtrans %}:</label>
<input type="checkbox" name="send_invite" id="send_invite" checked="checked" onclick="$('#invite_text_div').toggle()"/>
<div id="invite_text_div">
<label>{% trans %}Note that this email will only be sent to new users. In the message, you can use the following placeholders: {name}, {confirm_url}, {discussion_topic}, {discussion_url}{% endtrans %}.</label>

<p><label>{% trans %}Sender name:{% endtrans %}</label></p>
<input type="text" name="sender_name" id="sender_name" value="{{discussion.topic}}" style="width:50%">
<p><label>{% trans %}Subject:{% endtrans %}</label></p>
<input type="text" name="email_subject" id="email_subject" value="{%trans%}Welcome to {discussion_topic}.{% endtrans %}" style="width:50%">
<p><label>{% trans %}Text email message:{% endtrans %}</label></p>
<textarea style="width:75%;height:8em;" name="text_email_message" id="text_email_message" >{%trans%}Hello, {name}!
You have been invited to the Assembl discussion {discussion_topic}.
This link will allow you to set your password, after which you can log in.
<{confirm_url}>

If you did not ask to join please disregard this email.

Best regards,
The Assembl Team
{%endtrans%}</textarea>
<p><label>{% trans %}HTML email message:{% endtrans %}</label></p>
<textarea style="width:75%;height:8em;" name="html_email_message" id="html_email_message" >{%trans%}<p>Hello, {name}!</p>
<p>You have been invited to the Assembl discussion <a href="{discussion_url}">{discussion_topic}</a>.
Please <a href="{confirm_url}">click here</a> to set your password, after which you can log in.</p>
<p>If you did not ask to join please disregard this email.</p>
<p>Best regards,<br />The Assembl Team</p>
{% endtrans %}</textarea>
<p>
<label>{% trans %}Re-send to people who did not log in yet (USE SPARINGLY){% endtrans %}:</label>
<input type="checkbox" name="resend_notloggedin" id="resend_notloggedin"/></p>
</div>
</div>
<p><input type="submit" name="submit_user_file" value="{% trans %}Save{% endtrans %}"></p>
</form>
</div>
</div>
{% endblock %}

{% block extra_css %}
{#<style>
table, th, td {
   border: 1px solid grey;
}
th {
   padding: 3px;
}
</style>#}
{% endblock extra_css %}
