<script type="text/javascript">

  window.fbAsyncInit = function() {
    FB.init({
      appId      : "{{ social_settings.fb_app_id }}",
      xfbml      : false,
      version    : 'v{{ social_settings.fb_api_version }}',
      status     : false
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     var sdkSource = function(locale){
      {% if not social_settings.fb_debug %}
        return "//connect.facebook.net/" + locale + "/sdk.js";
      {% else %}
        return "//connect.facebook.net/" + locale +"/sdk/debug.js";
      {% endif %}
     }
     {% if fb_lang_exists %}
     js.src = sdkSource("{{ fb_locale }}")
     {% else %}
     js.src = sdkSource("en_US");
     {% endif %}
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));


</script>
<div class='hidden' id='js_fb-permissions-list'>
  {{ social_settings.fb_export_permissions}}
</div>
