<script src="{{ STATIC_URL }}js/bower/requirejs/require.js"></script>

<script>
requirejs.config({
    "baseUrl": "{{ STATIC_URL }}js",
    'urlArgs': "bust=" + (new Date()).getTime(),
    'waitSeconds': 20,
    'shim': {
        'backbone': {
            deps: ['underscore', 'jquery'],
            exports: 'Backbone'
        },
        'underscore': {
            exports: '_'
        },
        'jquery': {
            exports: 'jQuery'
        },
        'jquery-highlight': {
            exports: 'jQuery',
            deps: ['jquery']
        },
        'app': {
            deps: ['annotator', 'ckeditor', 'tipsy', 'i18n', 'jquery-highlight', 'zeroclipboard'],
            exports: 'app'
        },
        'i18n': {
            exports: 'i18n'
        },
        'socket': {
            deps: ['sockjs']
        },
        'jasmine': {
            exports: 'jasmine'
        },
        'jasmine-html': {
            deps: ['jasmine', 'jasmine-jquery'],
            exports: 'jasmine'
        },
        'jasmine-jquery': {
            deps: ['jasmine'],
            exports: 'jasmine'
        },
        'ckeditor': {
            exports: 'CKEDITOR'
        }, 
        'ckeditor-sharedspace': {
            deps: ['ckeditor'],
            exports: 'CKEDITOR'
        },
        'tipsy': {
            deps: ['jquery'],
        },
        'zeroclipboard' : {
            exports: 'ZeroClipboard'
        },
        'sockjs': {
            deps: ['jquery'],
            exports: 'SockJS'
        },
        'cytoscape': {
            deps: ['jquery'],
            exports: 'cytoscape'
        },
        'jit': {
            deps: [],
            exports: '$jit'
        },
        'annotator' : {
            deps: ['jquery'],
            exports: 'Annotator'
        },
        'sprintf' : {
            deps: [],
            exports: 'sprintf'
        }
    },
    "paths": {
        'app': 'app/app',
        'i18n': 'app/i18n',
        'router': 'app/router',
        'socket': 'app/socket',
        'types': 'app/types',
        'permissions': 'app/permissions',

        'jquery': "bower/jquery/jquery",
        'tipsy': 'bower/tipsy/src/javascripts/jquery.tipsy',
        'jquery-highlight': 'lib/jquery-highlight/jquery.highlight',

        'backbone': 'bower/backbone/backbone',
        'underscore': 'bower/underscore/underscore',

        'annotator': 'lib/annotator/annotator-full.min',

        'jasmine': 'bower/jasmine/lib/jasmine-core/jasmine',
        'jasmine-html': 'bower/jasmine/lib/jasmine-core/jasmine',
        'jasmine-jquery': 'bower/jasmine-jquery/lib/jasmine-jquery',

        'ckeditor': 'bower/ckeditor/ckeditor',
        'ckeditor-sharedspace': 'lib/ckeditor-sharedcontainer/plugin',

        'moment': 'bower/momentjs/moment',
        'zeroclipboard': 'bower/zeroclipboard/ZeroClipboard',
        'sockjs': 'bower/sockjs/sockjs',
        'cytoscape': 'bower/cytoscape/cytoscape',
        'jit': 'bower/jit/Jit/jit',
        'sprintf': 'bower/sprintf/src/sprintf'
    }
});

</script>
<script type="text/json" id="translations">{{ translations|safe }}</script>
<script>
var script = document.getElementById("translations"),
    json;
try {
    json = JSON.parse(script.textContent);
} catch(e){
    throw new Error("Invalid json");
}
require(['i18n'], function(i18n){
    i18n(json);
});
</script>
<script type="text/javascript">requirejs(["main"]);</script>
