<section class="lateralmenu">

    <header>

        <div class="searchbox">
            <input type="text" class="searchbox-field" />
        </div>

        <div class="avatarbox">

            <img src="http://www.gravatar.com/avatar/39cbf87dae724f2cb64e92accdd4d349.jpg?s=38" alt="User"  class="image-rounded margin-right"/>

            <span>André Farzat</span>

        </div>

    </header>


</section>
