//Inspire me
.cards {
  font-size: 12px;
  width: 600px;
  margin: 0 auto;
  .card-browser{
    position: relative;
  }
  .inspire-card{
    position: relative;
    height: 390px;
    width: 340px;
    margin: 0 auto 10px auto;
    display: table;
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    img{
      display: block;
      margin: 0 auto;
    }
    .card-top{
       height: 5px;
       background-color: #c7c2dd;
       position: absolute;
       top:0;
       right: 0;
       width:100%;
    }
    .card-bottom{
      height: 5px;
      background-color: #c7c2dd;
      position: absolute;
      bottom:0;
      right: 0;
      width:100%;
    }
  }
  .question {
    width: 100%;
    margin-top: 20px;
    padding: 10px;
  }
  .card-browser {
    #previousCardButton, #nextCardButton{
      position: absolute;
      top: 50%;
      height: 24px;
      width: 24px;
      margin-top: -12px;
      font-size: 20px;
      cursor: pointer;
      text-decoration: none;
    }
    #previousCardButton {
      left: 0;
    }
    #nextCardButton {
      right: 0;
    }
    #slot-machine {
      font-size: 20px;
      text-align: center;
    }
  }
  .bs-callout-info, .bs-callout-warning {
    padding: 3px 10px;
  }
}

//Session page
.session {
  width: 95%;
  margin: 0 auto;
  .session-comment {
    font-family: Helvetica, Arial, sans-serif;
    padding-left: 10%;
    height: 676px;
    overflow-y: auto;
    .thumbnail{
      border:none;
    }
    .sub-comment {
      height: 100px;
      min-height: 100px;
    }
    .text-primary {
      cursor: pointer;
      word-spacing: -10px;
    }
    .media, .media-body {
      padding-top: 5px;
    }
    .icon-lamp {
      color:#f0ad4e;
    }
    .comment-idea {
      font-size: 12px;
    }
    .nb-summary {
      background-color: #69bf13;
      color: #fff;
      padding: 0 6px 5px 6px;
      text-shadow: none;
      width: auto;
      font-weight: bold;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
      border-radius: 50%;
    }
    .rate {
      width: 20px;
      text-align: center;
      border: none;
    }
    .rate-up, .rate-down {
      cursor: pointer;
    }
    .media-comment {
      margin-top: 0px;
    }
  }
  .cards{
    width: auto;
    .bs-callout-info, .bs-callout-warning {
      padding: 3px 10px;
      margin:10px 0;
    }
    .slot-machine {
      font-size: 20px;
      text-align: center;
      a{
        text-decoration: none;
      }
    }
    .card{
      position: relative;
      height: 390px;
      width: 340px;
      display: table;
      padding: 10px;
      text-align: justify;
      margin: 2em 0 1em 7em;
      border-left: #CCCCCC 1px solid !important;
      border-right: #CCCCCC 1px solid !important;
      p {
        display: table-cell;
        vertical-align: middle;
      }
      .card-top{
        height: 5px;
        background-color: #c7c2dd;
        position: absolute;
        top:0;
        right: 0;
        width:100%;
      }
      .card-bottom{
        height: 5px;
        background-color: #c7c2dd;
        position: absolute;
        bottom:0;
        right: 0;
        width:100%;
      }
    }
  }
}
.card-comment {
  margin-top: 15px;
}