//Inspire me
.cards {
  font-size: 12px;
  width: 600px;
  margin: 0 auto;
  .card-browser{
    position: relative;
  }
  .inspire-card{
    position: relative;
    height: 390px;
    width: 340px;
    margin: 0 auto 10px auto;
    display: table;
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    img{
      display: block;
      margin: 0 auto;
    }
    .card-top{
       height: 5px;
       background-color: #c7c2dd;
       position: absolute;
       top:0;
       right: 0;
       width:100%;
    }
    .card-bottom{
      height: 5px;
      background-color: #c7c2dd;
      position: absolute;
      bottom:0;
      right: 0;
      width:100%;
    }
  }
  .question {
    width: 100%;
    margin-top: 20px;
    padding: 10px;
  }
  .card-browser {
    #previousCardButton,
    #nextCardButton{
      position: absolute;
      top: 50%;
      height: 24px;
      width: 24px;
      margin-top: -12px;
      font-size: 20px;
      cursor: pointer;
      text-decoration: none;
    }
    #previousCardButton {
      left: 0;
    }
    #nextCardButton {
      right: 0;
    }
    #slot-machine {
      font-size: 20px;
      text-align: center;
    }
  }
  .bs-callout-info,
  .bs-callout-warning {
    padding: 3px 10px;
  }
}

.card-comment {
  margin-top: 15px;
}