@charset "UTF-8";
@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?4121159');
  src: url('../font/fontello.eot?4121159#iefix') format('embedded-opentype'),
       url('../font/fontello.woff?4121159') format('woff'),
       url('../font/fontello.ttf?4121159') format('truetype'),
       url('../font/fontello.svg?4121159#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?4121159#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-search:before { content: '\e801'; } /* '' */
.icon-comment-alt:before { content: '\e81d'; } /* '' */
.icon-video:before { content: '\e803'; } /* '' */
.icon-videocam:before { content: '\e804'; } /* '' */
.icon-picture:before { content: '\e805'; } /* '' */
.icon-th-large:before { content: '\e806'; } /* '' */
.icon-th:before { content: '\e807'; } /* '' */
.icon-th-list:before { content: '\e808'; } /* '' */
.icon-ok:before { content: '\e809'; } /* '' */
.icon-ok-circled:before { content: '\e80b'; } /* '' */
.icon-ok-circled2:before { content: '\e80a'; } /* '' */
.icon-cancel:before { content: '\e80c'; } /* '' */
.icon-lock:before { content: '\e80d'; } /* '' */
.icon-lock-open-alt:before { content: '\e80e'; } /* '' */
.icon-flag:before { content: '\e80f'; } /* '' */
.icon-users:before { content: '\e802'; } /* '' */
.icon-thumbs-up:before { content: '\e811'; } /* '' */
.icon-thumbs-down:before { content: '\e812'; } /* '' */
.icon-download-cloud:before { content: '\e813'; } /* '' */
.icon-comment:before { content: '\e816'; } /* '' */
.icon-chat:before { content: '\e817'; } /* '' */
.icon-comment-empty:before { content: '\e814'; } /* '' */
.icon-chat-empty:before { content: '\e815'; } /* '' */
.icon-cog-alt:before { content: '\e818'; } /* '' */
.icon-clock:before { content: '\e819'; } /* '' */
.icon-off:before { content: '\e81a'; } /* '' */
.icon-docs:before { content: '\e81c'; } /* '' */
.icon-lamp:before { content: '\e81b'; } /* '' */
.icon-lightbulb:before { content: '\e800'; } /* '' */
.icon-flag-empty:before { content: '\e810'; } /* '' */