.rate-container{
  width: 80%;
  margin:0 auto;
}

li{
  list-style: none;
}

.bx-idea{
  margin-bottom: 20px;
   p {
     margin: 0;
   }
  .bx-comment{

  }

  .comments {
    height: 18px;
    font-size: 14px;
    color: #c7c2dd;
    cursor:pointer;
  }
  .lead-text {
    font-size: 20px;
  }
}