.session {
  width: 95%;
  margin: 0 auto;
  .session-comment {
    font-family: Helvetica, Arial, sans-serif;
    padding-left: 5%;
    height: 660px;
    overflow-y: auto;
    .thumbnail{
      border:none;
    }
    .sub-comment {
      border: 1px solid #CCCCCC;
      margin-right: 5px;
      .text-comment {
        height: 24px;
        border-radius: 0;
        resize : none;
        overflow-y: hidden;
        width: 95%;
        border: none;
        vertical-align: top;
        &:focus {
          outline:0px none transparent;
        }
        &:invalid {
          box-shadow: none;
        }
      }
      .btn-subcomment {
        margin-top: 2px;
      }
      .send-comment{
        background: transparent;
        border: none;
        height: 23px;
        padding: 0;
        width: 20px;
      }
    }
    .comment-top {
      border-bottom: 1px solid #ffffff;
      font-size: 11px;
      padding: 2px 7px;
    }
    .text-primary {
      cursor: pointer;
    }
    .media{
      padding-top: 5px;
    }
    .media-body {
      .media-heading {
        margin: 0 10px 2px 0;
        font-weight: bold;
      }
      p, span{
        font-size: 12px;
        margin:0;
      }
      .commentToSubIdea {
        .media-comment {
          border-bottom: 1px solid #ffffff;
        }
        .showCommentSubIdea {
          color:#c7c2dd;
          cursor:pointer;
        }
      }
    }
    .icon-lamp {
      color:#f0ad4e;
      font-size: 13px;
    }
    .comment-idea {
      font-size: 12px;
      margin-bottom: 10px;
    }
    .nb-summary {
      background-color: #69bf13;
      color: #fff;
      padding: 0 6px 5px 6px;
      text-shadow: none;
      width: auto;
      font-weight: bold;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
      border-radius: 50%;
    }

    .media-comment {
      margin-top: 0px;
    }

  }
  .cards{
    width: auto;
    .bs-callout-info, .bs-callout-warning {
      padding: 3px 10px;
      margin:10px 0;
    }
    .bs-callout-info {
      font-size:14px;
      font-weight: bold;
    }
    .shuffle {
      font-size: 20px;
      text-align: center;
      cursor: pointer;
      clear:left;
      a{
        text-decoration: none;
      }
    }
    .slot-machine {
      cursor: pointer;
      height: 390px;
      margin-top: 3em;
      padding-top: 5em;
      box-sizing: border-box;
    }
    .card{
      position: relative;
      height: 390px;
      width: 340px;
      display: table;
      padding: 10px;
      text-align: justify;
      margin: 1em 0 1em 5.5em;
      border-left: #CCCCCC 1px solid !important;
      border-right: #CCCCCC 1px solid !important;
      float:left;
      p {
        display: table-cell;
        vertical-align: middle;
      }
      .card-top{
        height: 5px;
        background-color: #c7c2dd;
        position: absolute;
        top:0;
        right: 0;
        width:100%;
      }
      .card-bottom{
        height: 5px;
        background-color: #c7c2dd;
        position: absolute;
        bottom:0;
        right: 0;
        width:100%;
      }
    }
  }

  .star-rating {
    font-size: 0;
    white-space: nowrap;
    display: inline-block;
    width: 100px;
    height: 20px;
    overflow: hidden;
    position: relative;
    background:  url('data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMjBweCIgaGVpZ2h0PSIyMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiB4bWw6c3BhY2U9InByZXNlcnZlIj48cG9seWdvbiBmaWxsPSIjREREREREIiBwb2ludHM9IjEwLDAgMTMuMDksNi41ODMgMjAsNy42MzkgMTUsMTIuNzY0IDE2LjE4LDIwIDEwLDE2LjU4MyAzLjgyLDIwIDUsMTIuNzY0IDAsNy42MzkgNi45MSw2LjU4MyAiLz48L3N2Zz4=');
    background-size: contain;
  }

  .star-rating i {
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 20%;
    z-index: 1;
    background:  url('data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMjBweCIgaGVpZ2h0PSIyMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiB4bWw6c3BhY2U9InByZXNlcnZlIj48cG9seWdvbiBmaWxsPSIjRkZERjg4IiBwb2ludHM9IjEwLDAgMTMuMDksNi41ODMgMjAsNy42MzkgMTUsMTIuNzY0IDE2LjE4LDIwIDEwLDE2LjU4MyAzLjgyLDIwIDUsMTIuNzY0IDAsNy42MzkgNi45MSw2LjU4MyAiLz48L3N2Zz4=');
    background-size: contain;
  }

  .star-rating input {
    -moz-appearance: none;
    -webkit-appearance: none;
    opacity: 0;
    display: inline-block;
    width: 20%;
    height: 100%;
    margin: 0;
    padding: 0;
    z-index: 2;
    position: relative;
    cursor: pointer;
  }

  .star-rating input:hover + i,
  .star-rating input:checked + i {
    opacity: 1;
  }
  .star-rating i ~ i {
    width: 40%;
  }
  .star-rating i ~ i ~ i {
    width: 60%;
  }
  .star-rating i ~ i ~ i ~ i {
    width: 80%;
  }
  .star-rating i ~ i ~ i ~ i ~ i {
    width: 100%;
  }
}