{#
This is a jinja2 template.  Doc:  http://jinja.pocoo.org/docs/dev/templates/

The HTML conforms to ink's CSS.  http://zurb.com/ink/docs.php

It expects variables:
subscription
notification
frontendUrls
ink_css
#}

{% set discussionUrl = frontendUrls.get_discussion_url() %}
{% set notificationConfigUrl = frontendUrls.getUserNotificationSubscriptionsConfigurationUrl() %}
{% set discussionTopic = subscription.discussion.topic %}
{% set discussionLink='<a href="'+discussionUrl+'">'+discussionTopic+'</a>' %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width"/>

    <style type="text/css">
      {{ ink_css }}
    </style>
    <style type="text/css">

      /* Your custom styles go here */

      table.assembl-primary-button td {
        background: #9013FE !important;
        border: none;
      }

      table.assembl-primary-button:hover td {
        background: #8011e2 !important;
        border: none;
      }

      /* fix for display bug in firefox: a table following another table shows on its right instead of below */
      
      table {
        clear: both;
      }


      /* Synthesis-specific CSS */


      #title {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 20px;
        margin-top: 10px;
      }

      #introduction, #conclusion {
        background-color: #4ac780; /* this is $theme_synthesis_header_bg in _synthesis.scss */
        padding: 10px;
      }

      #introduction p, #conclusion p {
        color: white; /* this is $white in _synthesis.scss */
      }
    
      #synthesis ul {
        padding-left: 14px;
        margin-top: 5px;
      }

      #synthesis ul li {
        padding-left: 5px;
        padding-top: 10px;
      }

      #synthesis ul li {
        list-style-type: disc;
      }

      #synthesis ul li > div > p { /* in order to limit the vertical distance between an idea and its link */
        margin-bottom: 3px;
      }

      #synthesis ul li ul {
        padding-left: 25px;
      }

      #synthesis ul li ul li {
        list-style-type: circle;
      }

      #synthesis ul li ul li ul li {
        list-style-type: square;
      }

      #synthesis ul li ul li ul li ul li {
        list-style-type: circle;
      }


      #synthesis .link-to-idea {
        color: #999;
        text-decoration: none;
      }


    </style>
  </head>
  <body>
  <table class="body">
    <tr>
      <td class="center" align="center" valign="top">
        <center>

          <table class="row header">
            <tr>
              <td class="center" align="center">
                <center>

                  <table class="container">
                    <tr>
                      <td class="wrapper last">

                        <table class="twelve columns">
                          <tr>
                            <td class="six sub-columns">
                              <img src="{{ frontendUrls.getDiscussionLogoUrl() }}">
                            </td>
                            <td class="six sub-columns last" style="text-align:right; vertical-align:middle;">
                              <span class="template-label">{{ discussionLink }}</span>
                            </td>
                            <td class="expander"></td>
                          </tr>
                        </table>

                      </td>
                    </tr>
                  </table>

                </center>
              </td>
            </tr>
          </table>

          <table class="container">
            <tr>
              <td>
                {%- block notification_content %}
                {% endblock notification_content %}
                
                {%- block notification_subscriptions %}
                <table class="row callout">
                  <tr>
                    <td class="wrapper last">

                      <table class="twelve columns">
                        <tr>
                          <td class="panel">
                            <p>{{ gettext("You are receiving this because you are %(notificationConfigLink)s to discussion %(discussionLink)s.  Specifically, you currently receive a notification when:",
                                    discussionLink=discussionLink,
                                    notificationConfigLink='<a href="'+notificationConfigUrl+'">'+gettext('subscribed')+'</a>')
                               }}
                            <ul>
                              
                              {% for applicableSubscription in notification.get_applicable_subscriptions() %}
                                <li>
                                  {{ gettext(applicableSubscription.get_human_readable_description()) }}
                                  <a href="{{ frontendUrls.getUserNotificationSubscriptionUnsubscribeUrl(applicableSubscription) }}">{{ gettext('Unsubscribe') }}</a>
                                </li>
                              {% endfor %}
                            </ul>
                          </td>
                          <td class="expander"></td>
                        </tr>
                      </table>

                    </td>
                  </tr>
                </table>
                {% endblock notification_subscriptions %}


              <!-- container end below -->
              </td>
            </tr>
          </table>

        </center>
      </td>
    </tr>
  </table>
</body>
</html>
