{#
This is a jinja2 template.  Doc:  http://jinja.pocoo.org/docs/dev/templates/

The HTML conforms to ink's CSS.  http://zurb.com/ink/docs.php

It expects variables:
subscription
notification
frontendUrls
ink_css
synthesis
jinja_env
lang_prefs
#}

{% extends "notifications/html_mail_post.jinja2" %}

{%- block post_body %}
  {{ synthesis.as_html(jinja_env, lang_prefs) }}
{% endblock post_body %}

{%- block action_button %}
<table class="small-button assembl-primary-button radius">
  <tr>
    <td>
      <a href="{{ frontendUrls.append_query_string(
                    frontendUrls.get_post_url(notification.event_source_object()),
                    **{
                        discriminants.url.SOURCE: discriminants.source.NOTIFICATION
                      }
                  ) }}">{{ gettext("Comment on this synthesis") }}</a>
    </td>
  </tr>
</table>
{% endblock action_button %}
