{#
This is a jinja2 template.  Doc:  http://jinja.pocoo.org/docs/dev/templates/

The HTML conforms to ink's CSS.  http://zurb.com/ink/docs.php

It expects variables:
subscription
notification
frontendUrls
ink_css
#}

{% extends "notifications/html_mail.jinja2" %}

{% block notification_content %}
  <table class="row">
    <tr>
      <td class="wrapper last">

        <table class="twelve columns">
          <tr>
            <td>
              <img style="margin: 0 10px 10px 0; max-width: 40px; max-height: 40px;" src="{{ frontendUrls.get_agentprofile_avatar_url(notification.event_source_object().creator, 40) }}">
              <em>{{ notification.event_source_object().creator.name }}</em>
              <hr style="clear: both">
              {%- block post_body %}
                {{ notification.event_source_object().get_original_body_as_html() }}
              {% endblock post_body %}
            </td>
            <td class="expander"></td>
          </tr>
          {% if notification.event_source_object().has_attachments(): %}
            {% for attachment_html in notification.event_source_object().get_attachments_as_html_list(): %}
            <tr>
              <td>
                {{ attachment_html }}
              </td>
            </tr>
            {% endfor %}
          {% endif %}
        </table>

      </td>
    </tr>
  </table>
  <table class="row">
    <tr>
      <td class="wrapper center offset-by-four last" align="center">

        <table class="four columns">
          <tr>
            <td class="left-text-pad">
              {%- block action_button %}
              <table class="small-button assembl-primary-button radius">
                <tr>
                  <td>
                    <a href="{{ frontendUrls.append_query_string(
                                  frontendUrls.get_post_url(notification.event_source_object()),
                                  **{
                                      discriminants.url.SOURCE: discriminants.source.NOTIFICATION
                                    }
                                ) }}">{{ gettext("Reply to this message") }}</a>
                  </td>
                </tr>
              </table>
              {% endblock action_button %}
            </td>
            <td class="expander"></td>
          </tr>
        </table>
    </tr>
  </table>
{% endblock notification_content %}
