{#
This is a jinja2 template.  Doc:  http://jinja.pocoo.org/docs/dev/templates/

It expects variables:
discussion
connection_url
documentation_url
admin_email
admin_name
admin_org_name
admin_org_url
notification
frontendUrls
#}

{{gettext("""Congratulations, your Assembl consultation is ready, and you can find it here:
{discussion_url}
You can use the following link to define your password:
{connection_url}
You will find documentation here:
{documentation_url}

The Assembl tool enables consultations involving a great number of users (hundreds or thousands of users, public officials, etc.) in the co-design of a deliverable. If you need advice on structuring your consultation process and building skills in using Assembl, you can contact {admin_name} at <{admin_email}>, from {admin_org_name} ({admin_org_url}) for more details.""").format(admin_email=admin_email, admin_name=admin_name, admin_org_url=admin_org_url, admin_org_name=admin_org_name, discussion_url=discussion.get_url(), connection_url=connection_url, documentation_url=documentation_url)}}
