
<div id="admin" ng-controller="adminConfigureInstanceSetSettingsCtl" ng-init="init()">

    <button onclick="window.history.back()">{{'historyBack' | translate}}</button>

    <h1>{{'adminConfigureInstanceTitle' | translate}}</h1>

    <p>
        {{'adminConfigureInstanceCurrent' | translate}} <a href="{{ widget_endpoint }}">{{ widget_uri }}</a>. {{'adminConfigureInstanceCurrentUse' | translate}} <a href="?config={{ widget_uri }}&target={{ widget.votable_ideas[0]['@id'] }}" target="_blank">{{'adminConfigureInstanceCurrentUseHere' | translate}}</a>.
    </p>

    <div id="step_get_data" ng-show="current_step == 1">
        <p>
            {{'gettingDataFromServerWidgetInstance' | translate}} "<strong>{{ widget_uri }}</strong>"...
        </p>
    </div>

    <div id="step_criteria_groups_and_appearance" ng-show="current_step == 2">
        <h2>{{'adminConfigureInstanceSetAppearance' | translate}}</h2>
        <p>
            {{'adminConfigureInstanceSetAppearanceInfo' | translate}}
        </p>
        
        <br/>

        <span>{{'adminConfigureInstanceSetAppearanceGeneralSettings' | translate}}</span>
        <div ng-repeat="field in mandatory_settings_fields">
            <span ng-attr-class="{{ field.description && 'with-title' }}" title="{{ field.description }}">{{ field.label || field.key }} ({{ field.type }}):</span>
            <input type="text" ng-model="widget.settings[field.key]" value="{{ field.default }}" />
        </div>

        <fieldset>
            <legend>{{'adminConfigureInstanceSetAppearanceOptionalFields' | translate}}</legend>
            <div ng-repeat="field in optional_settings_fields">
                <div ng-if="widget.settings.hasOwnProperty(field.key)">
                    <div ng-switch on="field.type">
                        <span ng-attr-class="{{ field.description && 'with-title' }}" title="{{ field.description }}">{{ field.label || field.key }} ({{ field.type }}):</span>
                        <select ng-switch-when="select" ng-model="widget.settings[field.key]" ng-options="key as value for ( key, value ) in field.options"></select>
                        <input ng-switch-default type="text" ng-model="widget.settings[field.key]" />
                        <button ng-click="deleteSettingsField(field.key);">{{'adminConfigureInstanceSetAppearanceDeleteField' | translate}}</button>
                    </div>
                </div>
            </div>

            <br/>

            <span>{{'adminConfigureInstanceSetAppearanceAddOptionalField' | translate}}</span>
            <select ng-model="settings_current_selected_field" ng-options="field.key as field.key for field in optional_settings_fields"></select>
            <button ng-click="addSettingsField(settings_current_selected_field);">{{'Add' | translate}}</button>
        </fieldset>

        <br/>

        <span>{{'adminConfigureInstanceSetAppearanceItems' | translate}}</span>
        <div class="item" ng-repeat="item in widget.settings.items" ng-controller="adminConfigureInstanceSetSettingsItemCtl">
            <div class="item-title">
                <strong>{{'adminConfigureInstanceSetAppearanceItem' | translate}}</strong>
                <button ng-click="widget.settings.items.splice($index,1)">{{'adminConfigureInstanceSetAppearanceDeleteItem' | translate}}</button>
            </div>
            <div ng-init="item_index = $index" class="item-content">
                <div ng-repeat="field in mandatory_item_fields">
                    <div ng-switch on="field.type">
                        <span ng-attr-class="{{ field.description && 'with-title' }}" title="{{ field.description }}">{{ field.label || field.key }} ({{ field.type }}):</span>
                        <select ng-switch-when="select" ng-model="item[field.key]" ng-options="v.key as v.label for v in field.options"></select>
                        <input ng-switch-default type="text" ng-model="item[field.key]" value="{{ field.default }}" />
                    </div>
                </div>

                <fieldset>
                    <legend>{{'adminConfigureInstanceSetAppearanceOptionalFields' | translate}}</legend>
                    <div ng-repeat="field in optional_item_fields">
                        <div ng-if="item.hasOwnProperty(field.key)">
                            <span ng-attr-class="{{ field.description && 'with-title' }}" title="{{ field.description }}">{{ field.label || field.key }} ({{ field.type }}):</span>
                            <input type="text" ng-model="item[field.key]" />
                            <button ng-click="deleteItemField(item_index, field.key);">{{'adminConfigureInstanceSetAppearanceDeleteField' | translate}}</button>
                        </div>
                    </div>

                    <br/>

                    <span>{{'adminConfigureInstanceSetAppearanceAddOptionalField' | translate}}</span>
                    <select ng-model="item_current_selected_field" ng-options="field.key as field.key for field in optional_item_fields"></select>
                    <button ng-click="addItemField(item_index, item_current_selected_field);">{{'Add' | translate}}</button>
                </fieldset>

                <br/>

                <span>{{'adminConfigureInstanceSetAppearanceCriteriaAssociatedToItem' | translate}}</span>
                <div class="item" ng-repeat="criterion in item.criteria" ng-controller="adminConfigureInstanceSetSettingsItemCriterionCtl">
                    <div class="item-title">
                        <strong>{{'adminConfigureInstanceSetAppearanceCriterion' | translate}}</strong>
                        <!-- not shown because not necessary: when the item type dropdown value changes, the controller creates the right amount of criteria
                        <button ng-click="item.criteria.splice($index,1)">{{'adminConfigureInstanceSetAppearanceDeleteCriterion' | translate}}</button>
                        -->
                    </div>
                    <div ng-init="criterion_index = $index" class="item-content">
                        <!--
                        <fieldset>
                            <legend>Mandatory fields</legend>
                        -->
                            <div ng-repeat="field in mandatory_criterion_fields">
                                <div ng-switch on="field.type">
                                    <span ng-attr-class="{{ field.description && 'with-title' }}" title="{{ field.description }}">{{ field.label || field.key }} ({{ field.type }}):</span>
                                    <select ng-switch-when="criterion" ng-model="criterion[field.key]" ng-options="c['@id'] as c.shortTitle for c in criteria"></select>
                                    <select ng-switch-when="select" ng-model="criterion[field.key]" ng-options="v.key as v.label for v in field.options" ng-change="field.key == 'type' && resetCriterionFromType(item_index, criterion_index)"></select>
                                    <input ng-switch-default type="text" ng-model="criterion[field.key]" />
                                </div>
                            </div>

                            <div ng-if="criterion.hasOwnProperty('type') && mandatory_typed_criterion_fields.hasOwnProperty(criterion.type)">
                                <div ng-repeat="field in mandatory_typed_criterion_fields[criterion.type]">
                                    <div ng-switch on="field.type">
                                        <span ng-attr-class="{{ field.description && 'with-title' }}" title="{{ field.description }}">{{ field.label || field.key }} ({{ field.type }}):</span>
                                        <select ng-switch-when="criterion" ng-model="criterion[field.key]" ng-options="c['@id'] as c.shortTitle for c in criteria"></select>
                                        <select ng-switch-when="select" ng-model="criterion[field.key]" ng-options="v.key as v.label for v in field.options"></select>
                                        <input ng-switch-default type="text" ng-model="criterion[field.key]" />
                                    </div>
                                </div>
                            </div>
                        <!--
                        </fieldset>
                        -->

                        <fieldset>
                            <legend>{{'adminConfigureInstanceSetAppearanceOptionalFields' | translate}}</legend>
                            <div ng-repeat="field in aggregated_optional_criterion_fields_by_type[criterion.type]">
                                <div ng-if="criterion.hasOwnProperty(field.key)">
                                    <span ng-attr-class="{{ field.description && 'with-title' }}" title="{{ field.description }}">{{ field.label || field.key }} ({{ field.type }}):</span>
                                    <input type="text" ng-model="criterion[field.key]" />
                                    <button ng-click="deleteCriterionField(item_index, criterion_index, field.key);">{{'adminConfigureInstanceSetAppearanceDeleteField' | translate}}</button>
                                </div>
                            </div>

                            <br/>

                            <span>{{'adminConfigureInstanceSetAppearanceAddOptionalField' | translate}}</span>
                            <select ng-model="criterion_current_selected_field" ng-options="optional_field.key as optional_field.key group by getOptionalFieldCategoryName(optional_field.criterion_type) for optional_field in aggregated_optional_criterion_fields_by_type[criterion.type]"></select>
                            <!--
                            <button ng-click="criterion[criterion_current_selected_field]='something';">Add</button>
                            -->
                            <button ng-click="addCriterionField(item_index, criterion_index, criterion_current_selected_field);">{{'Add' | translate}}</button>
                        </fieldset>
                    </div>
                </div>

                <br/>
                <!-- not shown because not necessary: when the item type dropdown value changes, the controller creates the right amount of criteria
                <button ng-click="addCriterion(item_index);">{{'adminConfigureInstanceSetAppearanceAddCriterion' | translate}}</button>
                -->
            </div>
        </div>

        <br/>
        <button ng-click="addItem();">{{'adminConfigureInstanceSetAppearanceAddItem' | translate}}</button>
        <br/><br/>
        <button ng-click="applyWidgetSettings();">{{'adminConfigureInstanceSetAppearanceSave' | translate}}</button><span id="step_criteria_groups_and_appearance_result"></span>
    </div>

</div>
