
<div id="admin" ng-controller="adminConfigureInstanceCtl" ng-init="init()">

    <h1>{{'adminConfigureInstanceTitle' | translate}}</h1>

    <p>
        {{'adminConfigureInstanceCurrent' | translate}} <a href="{{ widget_endpoint }}">{{ widget_uri }}</a>.

        <span ng-if="target != null">
            {{'adminConfigureInstanceCurrentUse' | translate}} <a href="?config={{ widget_uri }}&target={{ target }}" rel="noopener noreferrer" target="_blank">{{'adminConfigureInstanceCurrentUseHere' | translate}}</a>.
        </span>
    </p>

  <div id="step_get_data" ng-show="current_step == 1">
    <p>
      {{'gettingDataFromServerWidgetInstance' | translate}} "<strong>{{ widget_uri }}</strong>"...
    </p>
  </div>

  <div ng-show="current_step >= 2">
    <p>
        {{'adminConfigureInstanceAvailableActions' | translate}}
    </p>

    <ul>
        <li>
            <a href="#/admin/configure_instance_set_start_and_end_dates?widget_uri={{ widget_uri }}&target={{ target }}">{{'adminConfigureInstanceSetStartAndEndDates' | translate}}</a>
        </li>
        <li>
            <a href="#/admin/configure_instance_set_votable_ideas?widget_uri={{ widget_uri }}&target={{ target }}">{{'adminConfigureInstanceSetVotableIdeas' | translate}}</a>
        </li>
        <!--<li>
            <a href="#/admin/configure_instance_set_criteria?widget_uri={{ widget_uri }}&target={{ target }}">{{'adminConfigureInstanceSetCriteria' | translate}}</a>
        </li>-->
        <li>
            <a href="#/admin/configure_instance_set_settings?widget_uri={{ widget_uri }}&target={{ target }}">{{'adminConfigureInstanceConfigureAppearance' | translate}}</a>
        </li>
        <li ng-hide="isTokenVoteWidget">
            <a href="?config={{ widget_uri }}&target={{ target }}#/results">{{'adminConfigureInstanceSeeVoteResultsForThisTarget' | translate}}</a>
        </li>
        <li ng-hide="isTokenVoteWidget">
            <a href="?config={{ widget_uri }}#/results">{{'adminConfigureInstanceSeeVoteResultsForAllTargets' | translate}}</a>
        </li>
        <li ng-show="isTokenVoteWidget">
            <a href="/{{ discussion_slug }}/widget/{{ widget_uri | encodeURIComponent }}/result">{{'adminConfigureInstanceSeeVoteResultsForAllTargets' | translate}}</a>
        </li>
        <li>
            <button ng-click="deleteThisWidget()">{{'adminConfigureInstanceDelete' | translate}}</button>
            <span id="widget_delete_result"></span>
        </li>
    </ul>
  </div>
</div>
