
<div id="admin" ng-controller="adminCreateFromIdeaCtl" ng-init="init()">
    <!--
    <input id="input_expert_mode" type="checkbox" ng-model="expert_mode" /> <label for="input_expert_mode">Expert mode</label>
    -->

    <div id="step_get_data" ng-show="current_step == 1">
        <p>
            Getting data from server...
        </p>
    </div>

    <div id="step_create_widget" ng-show="current_step == 2">
        <h1>Confirm widget creation</h1>
        <p>
            You are about to create an instance of the Vote widget, associated with the idea <strong>"{{ idea.shortTitle }}"</strong>.
            <button ng-click="expert_mode = !expert_mode" ng-show="expert_mode == 0">Show details</button>
            <button ng-click="expert_mode = !expert_mode" ng-show="expert_mode == 1">Hide details</button>
        </p>

        <form id="widget_create_without_settings" method="POST">
            <div ng-show="expert_mode == 1">
                <label for="widget_create_without_settings_api_endpoint">widget creation endpoint:</label>
                <input type="text" id="widget_create_without_settings_api_endpoint" value="{{ widget_creation_endpoint }}" size="50" />
                <br/>
                <label for="widget_create_without_settings_type">widget type:</label>
                <input type="text" id="widget_create_without_settings_type" value="MultiCriterionVotingWidget" size="50" />
                <br/>
                <label for="widget_create_without_settings_idea">idea:</label>
                <input type="text" id="widget_create_without_settings_idea" value="{{ idea['@id'] }}" size="50" />
                <br/><br/>
            </div>
            <p>
                Do you confirm the creation of the widget?
            </p>
            <input type="submit" value="Yes, create it" />
            <span id="widget_create_without_settings_result"></span>
        </form>
    </div>

    <div id="step_select_criteria" ng-show="current_step == 3">
        <h1>Success</h1>
        <p>
            The widget has been successfully created. Its URI is "<strong>{{ created_widget_uri }}</strong>" and its endpoint is "<strong>{{ created_widget_endpoint }}</strong>".
        </p>
        <p>
            <a href="?admin=1#/admin/configure_instance?widget_uri={{ created_widget_uri }}&target={{ idea['@id'] }}">Configure it</a>
        </p>
        <p>
            The URL for users to vote is 
            <a href="?config={{ created_widget_uri }}&target={{ idea['@id'] }}" target="_blank">here</a>.
        </p>
    </div>

</div>
