
<div id="admin" ng-controller="adminCreateFromIdeaCtl" ng-init="init()">
    <!--
    <input id="input_expert_mode" type="checkbox" ng-model="expert_mode" /> <label for="input_expert_mode">Expert mode</label>
    -->

    <div id="step_get_data" ng-show="current_step == 1">
        <p>
            {{'gettingDataFromServer' | translate}}
        </p>
    </div>

    <div id="step_create_widget" ng-show="current_step == 2">
        <h1>{{'adminCreateFromIdeaTitle' | translate}}</h1>

        <p>
            {{'adminCreateFromIdeaWidgetTypeQuestion' | translate}}
        </p>
        <div ng-repeat="available_widget_type in available_vote_widget_types">
            <label for="widget_create_without_settings_widget_type_{{ $index }}">
                <input type="radio" ng-model="$parent.widget_type" value="{{ available_widget_type.id }}" name="widget_type" id="widget_create_without_settings_widget_type_{{ $index }}" /> {{ available_widget_type.label }}
            </label>
        </div>

        <p>
            {{'adminCreateFromIdeaDescriptionWithIdea' | translate}} <strong>"{{ idea.translatedTitle }}"</strong>.
            <button ng-click="expert_mode = !expert_mode" ng-show="expert_mode == 0">Show details</button>
            <button ng-click="expert_mode = !expert_mode" ng-show="expert_mode == 1">Hide details</button>
        </p>

        <form id="widget_create_without_settings" method="POST">
            <div ng-show="expert_mode == 1">
                <label for="widget_create_without_settings_api_endpoint">{{'widgetCreationEndpoint' | translate}}</label>
                <input type="text" id="widget_create_without_settings_api_endpoint" value="{{ widget_creation_endpoint }}" size="50" />
                <br/>
                <label for="widget_create_without_settings_type">{{'widgetType' | translate}}</label>
                <input type="text" id="widget_create_without_settings_type" ng-model="widget_type" size="50" />
                <br/>
                <label for="widget_create_without_settings_idea">{{'associatedIdea' | translate}}</label>
                <input type="text" id="widget_create_without_settings_idea" value="{{ idea['@id'] }}" size="50" />
                <br/><br/>
            </div>
            <input type="submit" value="Create" />
            <span id="widget_create_without_settings_result"></span>
        </form>
    </div>

    <div id="step_select_criteria" ng-show="current_step == 3">
        <h1>{{'adminCreateFromIdeaSuccessTitle' | translate}}</h1>
        <p>
            {{'adminCreateFromIdeaSuccessDetails' | translate}} "<strong>{{ created_widget_uri }}</strong>" {{'adminCreateFromIdeaSuccessDetails2' | translate}} "<strong>{{ created_widget_endpoint }}</strong>".
        </p>
        <p>
            <a href="?admin=1&locale={{ current_lang }}#/admin/configure_instance?widget_uri={{ created_widget_uri }}&target={{ idea['@id'] }}">{{'configureIt' | translate}}</a>
        </p>
        <p>
            {{'adminConfigureInstanceCurrentUse' | translate}}
            <a href="?config={{ created_widget_uri }}&target={{ idea['@id'] }}" rel="noopener noreferrer" target="_blank">here</a>.
        </p>
    </div>

</div>
