.sentimentBar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  .icon {
    margin-right: 15px;
  }

  p {
    font-family: $font-family3;
    font-size: 21px;
    text-align: center;
  }

  .level-0 {
    color: $sentiment-level-0;
  }

  .level-1 {
    color: $sentiment-level-1;
  }

  .level-2 {
    color: $sentiment-level-2;
  }

  .level-3 {
    color: $sentiment-level-3;
  }

  @media screen and (min-width: $screen-lg-min) {
    img {
      max-width: 100px;
    }

    p {
      font-size: 27px;
    }
  }
}
