.sentimentBar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  img {
    margin-right: 15px;
    width: 100%;
  }

  p {
    font-family: $font-family3;
    font-size: 21px;
  }

  .level-0 {
    color: $red;
  }

  .level-1 {
    color: $orange4;
  }

  .level-2 {
    color: $light-green;
  }

  .level-3 {
    color: $green2;
  }

  @media screen and (min-width: $screen-lg-min) {
    p {
      font-size: 27px;
    }
  }
}
