/* 
  ASSEMBL DEFAULT THEME
  If you want to create a new theme, it is recommended that your theme SCSS file uses @import of this file, so if a default theme variable is not overriden in your theme (for example a variable which would have been added in Assembl code after the creation of your theme), the SCSS will still compile, and the variable will have the default value.
 */

/*
  Variables
  Ranked from light -> dark

  NEVER refer to these color variables elsewhere in the SCSS files
*/
$th_local_white: #FFFFFF;
$th_local_black: #000000;

//Purples
$th_local_purple2: #f2ecf8; // almost white
$th_local_purple: #B36FE0;
$th_local_purple6: #9986AA;
$th_local_purple3: #88698e;
$th_local_purple5: #9013FE; // saturated purple
$th_local_purple1: #513850;
$th_local_purple4: #432b42;

//Grays <- Why in American English!?
$th_local_gray4: #F6F6F6; // white
$th_local_gray7: #ecf0f1; // almost white (cyan)
$th_local_gray2: #EEEEEE; // almost white
$th_local_gray5: #CCCCCC;
$th_local_gray3: #999999;
$th_local_gray: #7F8C8D; // grey, slightly cyan
$th_local_gray1: #888888; // like above, less cyan
$th_local_gray6: #484848;

$th_local_green1: #CCEFDB; // almost white
$th_local_green: #4ac780;


//Global to the entire scss infrastructure, mandatory variables for EVERY theme
$theme_activelink_color: $th_local_purple5;
$theme_inactivelink_color: $th_local_gray3;
$theme_checkbox_color: $th_local_purple5;
$theme_form_field_active_border_color: $th_local_purple5;

$theme_person_name_color: $th_local_purple5;

$theme_btn_primary_text_color: $th_local_white;
$theme_btn_primary_bg_color: $th_local_purple5;

$theme_btn_secondary_text_color: $th_local_purple5;
$theme_btn_secondary_bg_color: $th_local_white;
$theme_btn_secondary_border_color: $th_local_purple5;

$theme_btn_cancel_text_color: $th_local_gray;
$theme_btn_default_text_color: $th_local_purple5;

$theme_popin_header_bg: $th_local_purple5;
$theme_popin_header_text_color: $th_local_white;

$theme_header_panel: $th_local_purple4;

$theme_read_unread_item: $th_local_purple5;

//Not currently used
//$theme_header_separator: $th_local_purple2;
$theme_header_panel_text_color: $th_local_white;
$theme_header_panel_icon_color: $th_local_white;

$theme_announcement_box_border_color: $th_local_purple5;
$theme_box_border_color: $th_local_gray5;

//Header
$theme_header_debate_title_color: $th_local_purple5;
$theme_header_height: 40px;
$theme_header_text_color: $th_local_gray6;
$theme_header_bg_color: $th_local_white;
$theme_header_logo: '../default/img/logo.png';

//Info bar
$theme_infobar_bg_color: $th_local_purple5;

//Context
$theme_context_bg: '../default/img/crowd2.jpg';
$theme_context_page_header_height: 227px;
$theme_context_title_color: $th_local_white;

//Navigation
$theme_navigation_bg: $th_local_purple2;
$theme_navigation_menu_bg: $th_local_purple4;
$theme_navigation_menu_bg_active: $th_local_purple3;
$theme_navigation_menu_bg_hover: $theme_navigation_menu_bg_active;
$theme_navigation_menu_separator: $th_local_purple2;
$theme_navigation_icon_color: $th_local_white;
$theme_navigation_icon_color_active: $th_local_white;
$theme_navigation_text_color: $th_local_white;
$theme_navigation_text_color_active: $th_local_white;

//Navigation + Synthesis panel
$theme_navigation_or_idea_bg_active: $th_local_gray4;
$theme_item_selected_color: lighten($th_local_purple5, 40%);
// Used for the vertical bar to give additional emphasis un the table of idea and in the list of syntheses
$theme_item_selected_secondary_color: $th_local_purple5;

//Message list
$theme_messagelist_bg_color: $th_local_gray7;
$theme_messagesend_bg_color: $th_local_gray4;
//The color of the icons of the action buttons on messages
$theme_message_icon_color: $th_local_purple5;

//Panel groups
//$theme_panel_group_header_bg_color: $th_local_gray1;
$theme_panel_group_header_bg_color: $th_local_gray7;
$theme_panel_group_header_close_color: $theme_header_text_color;
$theme_text_icon_emphasis_color: lighten($th_local_purple5, 20%);
$theme_panel_selected_color: $th_local_purple3;

//extract
$theme_extract_bg: $theme_navigation_bg;

//idea panel
$theme_idea_header_bg: $th_local_purple6;
$theme_synthesis_header_bg: $th_local_purple3;


/* Theme standard CSS definitions (mainly logos and images).
   Maybe we don't need this at all, and could    use variables only */
//TODO
