 
.assembl-logo {
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
  line-height: 35px;
  margin-left: 10px;
  color: #7100B1;
}
.navbar {
  &.navbar-default {
    background-color: #FFFFFF;
    color: #484848;
    height: 35px;
    }
  }