/* ASSEMBL THEME */

/*

Global:
Fond de boutons et header de dialogue, et couleur de texte de bouton
Activelink color

Contexte:
Hauteur du header
police et couleur et affichage ou non du titre de la discussion
Cacher ou non les stats

Header/Navigation :
Logo se change
Couleur du texte:  Se change (Attention au bouton subscribe qui est l’inverse)
Hauteur du panneau:  Très problématique, investiguer (Ben)
Nom du débat se cache

Navigation:
Fond d’extrait et de table des idées
Highlight d’idée active (2 couleurs différentes)
Fond de header de panneau
Couleur de l’icone sur header de panneau
Couleur de texte de header de panneau
Fond de titre d’accordéon actif et inactif

Idée:
Fond du haut du panneau idée

*/


$theme_logo_color: #513850;
$theme_debate_title_color: #B36FE0;
$theme_activelink_color: #B36FE0;
$theme_background_context: '../img/crowd.jpg';

/* Theme standard CSS definitions (mainly logos and images).
   Maybe we don't need this at all, and could    use variables only */
//TODO

/* Import main assembl sass.  This must be after variable definitions, but
   before any custom CSS overrides .*/
@import "../../assembl_base_styles.scss";
