/* ASSEMBL THEME */

//variable
$th_white: #FFFFFF;
$th_purple: #B36FE0;
$th_purple1: #513850;
$th_purple2: #f2ecf8;
$th_purple3: #88698e;
$th_purple4: #432b42;
$th_purple5: #9013FE; 
$th_gray: #7F8C8D;
$th_gray1: #888888;
$th_gray2: #CCCCCC;
$th_gray3: #999999;
$th_green: #4ac780;


//Global
$theme_activelink_color: $th_purple;
$theme_checkbox_color: $th_purple;
$theme_form_field_active_border_color: $th_purple;

$theme_person_name_color: $th_purple3;

$theme_btn_primary_text_color: $th_white;
$theme_btn_primary_bg_color: $th_purple;

$theme_btn_secondary_text_color: $th_purple;
$theme_btn_secondary_bg_color: $th_white;
$theme_btn_secondary_border_color: $th_purple;

$theme_btn_cancel_text_color: $th_gray;
$theme_btn_default_text_color: $th_purple;

$theme_popin_header_bg: $th_purple;
$theme_popin_header_text_color: $th_white;

$theme_header_panel: $th_purple4;
$theme_header_panel_text_color: $th_white;
$theme_header_panel_icon_color: $th_green;

//Header
$theme_header_debate_title_color: $th_purple;
$theme_header_height: 40px;
$theme_header_text_color: #484848;
$theme_header_bg_color: $th_white;
$theme_header_logo: '../default/img/logo.png';

//Context
$theme_context_bg: '../default/img/crowd2.jpg';
$theme_context_page_header_height: 227px;
$theme_context_title_color: $th_white;

//Navigation
$theme_navigation_bg: $th_purple2;
$theme_navigation_menu_bg: $th_purple4;
$theme_navigation_menu_bg_active: $th_purple3;
$theme_navigation_icon_color: $th_green;
$theme_navigation_icon_color_active: $th_green;
$theme_navigation_text_color: $th_white;
$theme_navigation_text_color_active: $th_white;

//Panel groups
//$theme_panel_group_header_bg_color: $th_gray1;
$theme_panel_group_header_bg_color: #ecf0f1;
$theme_panel_group_header_close_color: $theme_header_text_color;

//extract
$theme_extract_bg: $theme_navigation_bg;

//idea panel
$theme_idea_header_bg: $th_green;
$theme_synthesis_header_bg: $th_green;

//Synthesis panel
$theme_idea_in_synthesis_comment_hover: $th_purple5;
$theme_idea_in_synthesis_icon_hover: $th_gray3;
$theme_idea_in_synthesis_hover: $th_gray2;
$theme_idea_in_synthesis_comments_no_hover: $th_gray2;

/* Theme standard CSS definitions (mainly logos and images).
   Maybe we don't need this at all, and could    use variables only */
//TODO

/* Import main assembl sass.  This must be after variable definitions, but
   before any custom CSS overrides .*/
@import "../../assembl_base_styles.scss";
