//Inspire me
.cards {
  font-size: 12px;
  width: 600px;
  margin: 0 auto;
  .card-browser{
    position: relative;
  }
  .card{
    position: relative;
    height: 390px;
    width: 340px;
    position: relative;
    border: 1px solid #ccc;
    margin: 0 auto;
    display: table;
    padding: 7px;
    img{
      display: block;
      margin: 0 auto;
    }
  }
  .question {
    width: 100%;
    margin-top: 20px;
    padding: 10px;
  }

  .card-browser {
    #previousCardButton, #nextCardButton, #slot-machine {
      position: absolute;
      top: 50%;
      height: 24px;
      width: 24px;
      margin-top: -12px;
      font-size: 20px;
      cursor: pointer;
    }
    #previousCardButton {
      left: 0;
    }
    #nextCardButton {
      right: 0;
    }
    #slot-machine {
      right: 80px;
    }
  }
}

//Session page
.session {
  width: 90%;
  margin: 0 auto;
  .session-comment {
    font-family: Helvetica, Arial, sans-serif;
    .thumbnail{
      border:none;
    }
    .sub-comment {
      height: 100px;
      min-height: 100px;
    }
    .text-info {
      cursor: pointer;
    }
    .comment-idea {
      font-size: 12px;
      p{
        padding: 5px;
      }
    }
  }
  .cards{
    width: auto;
    .bs-callout-info {
      clear:left;
    }
    .slot-machine {
      height: 390px;
      line-height: 390px;
      font-size: 20px;
      width: 30px;
      float: left;
    }
    .card{
      position: relative;
      height: 390px;
      width: 340px;
      border: 1px solid #ccc;
      display: table;
      padding: 7px;
      text-align: justify;
      float: left;
      margin: 10px 40px 30px;
      p {
        display: table-cell;
        vertical-align: middle;
      }
    }
  }
}

.card-comment {
  margin-top: 15px;
}