html, body {
  padding: 0;
  margin: 0;
}

.pointer {
  cursor: pointer;
}

.inactive {
  color: #ddd;
}

.widget-container {
  width: 650px;
  margin-top: 5px;
}

.card-comment {
  margin-top: 15px;
}

.session-comment {
  margin-top: 20px;
  padding-top: 20px;
  border-top:1px solid #c7c2dd;
  .media-object {
    //border: 2px solid #c7c2dd;
  }
  .sub-comment {
    height: 100px;
    min-height: 100px;
  }
}


.cards {
  font-size: 12px;
  .card-browser{
    position: relative;
  }
  .card{
    position: relative;
    height: 350px;
    width: 250px;
    border: 1px solid #ccc;
    position: relative;
    margin: 0 auto;
    display: table;
    padding: 7px;
    text-align: justify;
    border-radius: 5px;
    background: #ffc;
    p {
      /*display: table-cell;*/
      vertical-align: middle;
    }
  }
  .bg-info {
    padding: 15px;
    margin-top: 15px;
  }
}

#previousCardButton, #nextCardButton, #slot-machine {
  position: absolute;
  top: 175px; /* was 50%; but card heigh can vary, so the buttons would move vertically on each click */
  height: 24px;
  width: 24px;
  margin-top: -12px;
  font-size: 20px;
}
#previousCardButton {
  left: 0;
}
#nextCardButton {
  right: 0;
}
#slot-machine {
  right: 70px;
}


.container{
  .tab-content{
    background: white;
    padding: 15px;
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
  }
}


#videos {
  input[type="submit"] {
    vertical-align: top;
    //margin-top: 3px;
  }

  .select2-choices {
    width: 400px;
    display: inline-block;
  }

  .select2-no-results {
    display: none !important;
  }

  .keywords {
    padding-left: 0;
  }

  /* modified version of select2.css in .select2-container-multi .select2-choices .select2-search-choice */
  .keywords .keyword {
    -moz-user-select: none;
    background-clip: padding-box;
    background-color: #E4E4E4;
    background-image: linear-gradient(to top, #F4F4F4 20%, #F0F0F0 50%, #E8E8E8 52%, #EEEEEE 100%);
    border: 1px solid #AAAAAA;
    border-radius: 3px;
    box-shadow: 0 0 2px #FFFFFF inset, 0 1px 0 rgba(0, 0, 0, 0.05);
    color: #333333;
    cursor: default;
    line-height: 13px;
    margin: 3px 0 3px 5px;
    padding: 3px 5px; /* was 3px 5px 3px 18px; */
    position: relative;

    /* added */
    display: inline-block;
  }

  .keywords .keyword:hover {
    cursor: pointer;
  }

  .search-container ul {
    padding: 0;

    li {
      min-height: 200px;
      list-style-type: none;
      background: #eee;
      margin: 10px 0;
      display: block;
      clear: both;

      .video-thumbnail {
        float: left;
        margin: 5px 10px 5px 5px;
      }

      .video-description {
        display: flex; /* so that a child can be vertically centered using "align-self: center;" */
        min-height: 200px;

        .centered {
          align-self: center;
          text-align: center;
          width: 100%;
        }
      }
    }
  }
}

