html, body {
  padding: 0;
  margin: 0;
}

.navbar.navbar-inverse {
  @include border-top-radius(0px);
  @include border-bottom-radius(0px);
  @include border-left-radius(0px);
  @include border-right-radius(0px);
}

.inactive {
  color: #ddd;
}

