{% extends 'index.jinja2' %}

{% block page_title %}{% trans %}Administration{% endtrans %}{% endblock %}

{% block meta_tags %}
{% endblock meta_tags %}

{% block extra_js %}
    {% if user %}
      {% set userId = user.id %}
    {% else %}
      {% set userId = 'system.Everyone' %}
    {% endif %}

    <script type="text/javascript">start_application = true;</script>
{#     <script type="text/json" id="inheritance-json">{{ discussion.get_json_inheritance_for('User', 'Idea', 'IdeaLink', 'Post', 'Widget') |safe }}</script>
 #}
    <script type="text/json" id="login-providers">{{providers_json|safe}}</script>
    {% if user %}
        <script type="text/json" id="current-user-json">{{ user.get_agent_preload() |safe }}</script>
    {% endif %}
    <script type="text/json" id="permissions-json">{{ permission_names |safe }}</script>

    <script type="text/json" id="preferences">{{ preferences_json |safe }}</script>
    <script type="text/json" id="role-names">{{ role_names |safe }}</script>
    <script type="text/json" id="translation-locale-names">{{ translation_locale_names_json |safe }}</script>
    <script type="text/json" id="translation-service-data">{}</script>
    {% include 'analytics_common.jinja2' %}
{% endblock %}

{% block facebook_sdk_load %}
{% endblock%}