{% extends 'base.jinja2' %}

{% block page_title %}{% trans %}Administration{% endtrans %}{% endblock %}

{% block meta_tags %}
{% endblock meta_tags %}

{% block content %}
<input type="hidden" name="discussion-id" id="discussion-id" value="" />
<input type="hidden" name="discussion-slug" id="discussion-slug" value="admin" />
<input type="hidden" name="discussion-topic" id="discussion-topic" value="" />
<input type="hidden" name="socket-url" id="socket-url" value="{{ socket_url }}" />

{% if user %}
    <input type="hidden" name="user-id" id="user-id" value="{{ user.id }}" />
    <input type="hidden" name="user-displayname" id="user-displayname" value="{{ user.display_name() }}" />
{% endif %}

<div id="groupContainer"></div>

{% endblock %}

{% block extra_js %}
    {% if user %}
      {% set userId = user.id %}
    {% else %}
      {% set userId = 'system.Everyone' %}
    {% endif %}

    <script type="text/javascript">start_application = true;</script>
{#     <script type="text/json" id="inheritance-json">{{ discussion.get_json_inheritance_for('User', 'Idea', 'IdeaLink', 'Post', 'Widget') |safe }}</script>
 #}
    <script type="text/json" id="login-providers">{{providers|safe}}</script>
    {% if user %}
        <script type="text/json" id="current-user-json">{{ user.get_agent_preload() |safe }}</script>
    {% endif %}
    <script type="text/json" id="permissions-json">{{ permission_names |safe }}</script>

    <script type="text/json" id="preferences">{{ preferences_json |safe }}</script>
    <script type="text/json" id="role-names">{{ role_names |safe }}</script>
    <script type="text/json" id="translation-locale-names">{{ translation_locale_names_json |safe }}</script>
    <script type="text/json" id="translation-service-data">{}</script>
    {% include 'analytics_common.jinja2' %}
{% endblock %}

{% block backboneTemplates %}
    <div id="templates">
        {% for template in templates %}
            {% set template_path = 'views/' + template + '.tmpl' %}
            <script id="tmpl-{{template}}" type="text/x-template">
                {% include template_path %}
            </script>
        {% endfor %}
    </div>
{% endblock %}

{% block main_js %}
    <script>
        var CKEDITOR_BASEPATH = '/static/js/node_modules/ckeditor/';
    </script>
    <script src="{{ STATIC_URL }}/js/build/infrastructure.min.js"></script>
    <script src="{{ STATIC_URL }}/js/build/app.js"></script>
{% endblock %}

{% block facebook_sdk_load %}
{% endblock%}
