<script type="text/javascript">var globalAnalytics = {};</script>
{% if web_analytics.get('enabled', False) %}
    <!-- Begin adding Analytics logic -->
    {% if "piwik" in web_analytics %}
        {{ web_analytics['piwik']['script']|safe }}
        <script type="text/javascript">
            globalAnalytics.piwik = {
                host: "{{ web_analytics['piwik']['host'] }}",
                isActive: true 
            };
        </script>
    {% endif %}
{% endif %}

{% block analytics_extra_scripts %}
{% endblock %}
