<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Assebl{% endblock %}</title>

    <link type="text/css" rel="stylesheet" href="/static/css/style.css" />
</head>
<body class="preload">
    <div id="wrapper">
        <header id="header" class="container">
            <div class="bar bar--main">
                <div class="bar-left">
                    <a id="lateralmenu-button" class="iconbutton">
                        <i class="icon-reorder"></i>
                        <span class="iconbutton-badge">2</span>
                    </a>

                    <img src="/static/img/assembl.png" alt="Assembl" />
                </div>
                <div class="bar-right">
                    <a class="iconbutton"><i class="icon-search"></i></a>
                    <a class="iconbutton"><i class="icon-cog"></i></a>
                    <a class="iconbutton"><i class="icon-user"></i></a>
                </div>
            </div>
            {% block extra_header %}{% endblock %}
        </header>
        <main id="main">
            {% block content %}{% endblock %}
        </main>
    </div>


    {% include 'includes/lateralmenu.jinja2' %}

    <script src="//cdnjs.cloudflare.com/ajax/libs/zepto/1.0/zepto.min.js"></script>
    <script>
        !function($){
            $('#lateralmenu-button').click(function(ev){
                document.body.classList.toggle( 'is-lateralmenu-open' );
            });
        }(Zepto);
        $(function(){
            document.body.classList.remove('preload');
        });
    </script>
</body>
</html>
