<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}Assembl{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale = 1,user-scalable=no,maximum-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Imagination for people">

    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
    <link type="text/css" rel="stylesheet" href="/static/css/style.css" />
    <link type="text/css" rel="stylesheet" href="/static/css/themes/{{theme}}/theme.css" />

    {% block extra_css %}{% endblock extra_css %}
    {% include 'includes/feature_detection.jinja2' %}

</head>
<body class="preload {{theme}}">
    <div id="wrapper">
        <header id="header">{# include with marionette region #}</header>
        <div id="notification"></div>
        <main id="main"> {% block content %}{% endblock %} </main>
    </div>

    <div id="templates">
        {% for template in templates %}
            {% set template_path = 'views/' + template + '.tmpl' %}
            <script id="tmpl-{{template}}" type="text/x-template">
                {% include template_path %}
            </script>
        {% endfor %}
    </div>

    {% include 'includes/javascript.jinja2' %}
		{% include 'includes/updatebrowser.jinja2' %}

    {% block extra_js %}{% endblock %}
    {% block main_js %}{% endblock %}

    <div id="slider"></div>
</body>
</html>
