<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Assebl{% endblock %}</title>

    <link type="text/css" rel="stylesheet" href="/static/css/style.css" />
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css" rel="stylesheet">
</head>
<body>
    <div id="wrapper">
        <header id="header" class="container">
            <div class="bar bar--main">
                <div class="bar-left">
                    <i class="icon-reorder"></i>
                    <img src="/static/img/assembl.png" alt="Assembl" />
                </div>
                <div class="bar-right"> Icons here </div>
            </div>
        </header>
        <main id="main">
            {% block content %}{% endblock %}
        </main>
    </div>


    <div class="lateralmenu">
        oi ?
    </div>
</body>
</html>