{% extends 'base.jinja2' %}

{% block content %}
<style>
body{
    background: #eee;
}
</style>

<div class="loginbox request_password_change">
    <header>
        <h1>{{title}}</h1>
    </header>

    <div class="content">
        {% if error %}
        <div class="error">{{error}}</div>
        {% endif %}
        <p class="login-box-title">{{description}}</p>
        <form class="form" method="POST" action="{{ action }}">
            <input type="hidden" name="next" value="{{next}}" />
            <input type="hidden" name="email" value="{{email}}" />
            <input type="submit" name="resend" value="{{ gettext('Resend the email') }}" class="btn btn-secondary" />
        </form>
    </div>
</div>
{% endblock %}
