{% extends "base.jinja2" %}

{% block content %}
<div id="cy" width="1000" height="1000">
</div>
{% endblock %}

{% block extra_js %}
<script type="text/json" id="ideas-json">{{ discussion.generic_json("idea_graph", use_dumps=True) |safe }}</script>
<script type="text/javascript">
var cyto_ob;
requirejs(["jquery", "cytoscape"], function($, cytoscape) {

    setTimeout(function(){
      cytoscape.defaults( window.options );
    }, 100);

    var script = document.getElementById("ideas-json");
    //try {
      var elements = JSON.parse(script.textContent),
      options = {
        container: document.getElementById('cy'),
        showOverlay: false,
        minZoom: 0.5,
        maxZoom: 2,
        layout: {
            name: "random",
            fit:true
        },
        style: cytoscape.stylesheet()
          .selector("node")
            .css({
              "content": "data(name)",
              "font-family": "helvetica",
              "font-size": 14,
              "text-outline-width": 3,
              "text-outline-color": "#888",
              "text-valign": "center",
              "color": "#fff",
              // "width": "mapData(weight, 30, 80, 20, 50)",
              // "height": "mapData(height, 0, 200, 10, 45)",
              "width": 200,
              "height": 20,
              "border-color": "#fff"
            })
          .selector(":selected")
            .css({
              "background-color": "#000",
              "line-color": "#000",
              "target-arrow-color": "#000",
              "text-outline-color": "#000"
            })
          .selector("edge")
            .css({
              "width": 2,
              "target-arrow-shape": "triangle"
            })
        ,

        elements: elements,

        ready: function(){
          cyto_ob = this;
          this.layout({name:"random",fit:true});
        }
      };
      $("#cy").cytoscape(options);
      //cyto_ob.layout({name:"breadthfirst"});

    });
</script>

{% endblock %}
