{% extends 'base.jinja2' %}

{% block content %}
<div class="loginbox request_password_change">
    <header>
        <h1>{{title}}</h1>
    </header>
    {% if error %}
        <div class="error">{{error}}</div>
    {% endif %}
    <div class="tac mtl">
        <p >{{description|safe}}</p>
    </div>
    {% if error %}
    <div class="error">{{error}}</div>
    {% endif %}
    {% if messages %}
    <div class="tac mtl">
        <p >{{messages|safe}}</p>
    </div>
    {% endif %}
    <div class="content">
       <form class="form" method="POST" action="{{ get_route('finish_password_change') }}">
           <input type="hidden" name="next" value="{{next}}" />
           <input type="hidden" name="email" value="{{email}}" />
           <input type="hidden" name="token" value="{{token}}" />
           <input type="hidden" name="title" value="{{title}}" />
           <input type="password" name="password1" class="form-control defaultfield" placeholder="{{ gettext('Password') }}" required />
           <input type="password" name="password2" class="form-control defaultfield" placeholder="{{ gettext('Repeat password') }}" required />
           <input type="submit" name="change_password" value="{{ gettext('Send') }}" class="btn btn-primary">
       </form>
    </div>
</div>
{% endblock %}
