{% extends 'index_react.jinja2' %}

{% block meta_tags_public %}
{% endblock %}

{% block main_css %}
{% endblock %}

{% block body %}
    <link type="text/css" rel="stylesheet" href="/static2/css/errorPage.css" />
    <body>
        <table id="mainTable">
            <tr>
                <td id="tdSpace" style="width: auto">
                </td>
                <td id="tdText" style="width: 30%">
                    {% if error %}
                        <h2 id="titleError">{{error}}</h2>
                    {% endif %}
                    {% if error_code %}
                        <h1 id="Title500">{{error_code}}</h1>
                    {% else %}
                        <h1 id="Title500">2</h1>
                    {% endif %}
                    {% if text %}
                        <p class="text">{{text}}</p>
                    {% endif %}
                    {% if excuse %}
                        <p class="text" id="excuse">{{excuse}}</p>
                    {% endif %}
                    {% if debate_link %}
                        <button onclick="location.href='{{debate_link}}'">
                        {% if home_button %}
                            {{home_button}}
                        {% endif %}
                        </button>
                    {% endif %}
                </td>
                <td id="tdImg" style="width: 50%">
                    <img id="serverImage" src="/static2/img/Erreur500-illustration.png" />
                </td>
            </tr>
        </table>
        {# <div id="contentDiv">
            <h1 id="mainMessage">Internal Server Error</h1>

            {% if debate_link %}
                <div id="linkDiv">
                    <a href={{ debate_link }}>Return to home page</a>
                </div>
            {%- endif %}
        </div> #}
        {% block for_testing %}
            {% if under_test %}
                <div id="under-test" class="hidden">V2</div>
            {%- endif %}
        {% endblock %}
    </body>
{% endblock%}
