<nav class="navbar navbar-default" role="navigation">
    <div class="navbar-left">
        <a href="/" class="assembl-logo" class="sign-in">Assembl</a>
    </div>
    <div class="navbar-center">
        {% if canDisplayTabs %}
        <ul class="menu">
            <li class="tab-table-idea">
                <div id="button-ideaList" class="barbutton" data-tooltip-position="n"
                data-tooltip="{{ gettext('To add an idea in the table of ideas: select add idea and drag the new idea either 1) on the inner edge of an existing idea to add it as a sibling or 2) in the middle of an existing idea to add it as a sub-idea.') }}">{{ gettext('Table of Ideas') }}</div>
            </li>
            <li class="tab-idea">
                <div id="button-ideaPanel" class="barbutton">{{ gettext('Idea') }}</div>
            </li>
            
            <li class="tab-clipboard">
                <div id="button-segmentList" class="barbutton" {% if not canAddExtract %}style="display: none"{% endif %}>{{ gettext('Clipboard') }}</div>
            </li>
            
            <li class="tab-messages">
                <div id="button-messages" class="barbutton">{{ gettext('Messages') }}<div class="lock-button"><span class="lock-anchor"></span></div></div>
            </li>
            <li class="tab-synthesis">
                <div id="button-synthesis" class="barbutton">{{ gettext('Synthesis') }}</div>
            </li>
        </ul>
        {% endif %}
    </div>
    <div class="navbar-right">
        <div class="connexion">
            {% if user %}
                {% if user_profile_edit_url %}<a href="{{ user_profile_edit_url }}">{% endif %}
                    <img height="25" width="25" src="/user/id/{{user.id}}/avatar/25" alt="{{ user.display_name() }}"/>
                    <span>{{ user.display_name() }}</span>
                {% if user_profile_edit_url %}</a>{% endif %}
                <a href="/logout" class="sign-out iconbutton icon-logout-1" title="{{ gettext('Sign out') }}"></a>
            {% else %}
                {% if request.current_route_path() != "/login" %}
                    {% if request.current_route_path() != "/register" %}
                        <a href="/login?next_view={{request.current_route_path()}}" class="sign-in">{{ gettext('Sign in') }}</a>
                    {% endif %}
                {% endif %}
            {% endif %}
            {% if locales.__len__ > 1 %}
                <a href="#" class="locale active">{{locale | upper}}</a>
                <span class="seperator"></span>
                {% for loc in locales %}
                    {% if (loc != locale) %}
                        <a href="#" class="lang" onClick="window.app.setLocale('{{loc}}')">{{loc | upper}}</a>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>
    </div>
</nav>
