{% extends 'base.jinja2' %}
{% block page_title%}Assembl{% endblock%}

{% block body %}
	<body>
        <div id='root'></div>
		{% block main_js %}
			<script src="{{REACT_URL}}/build/bundle.js"></script>
		{% endblock %}
	</body>
{% endblock%}