{% extends 'base.jinja2' %}
{% block page_title%}Assembl{% endblock%}

{% block main_css %}
	{# Override the main css. #}
{% endblock %}

{% block body %}
	<body>
		{% if discussion %}
        	<input type="hidden" name="discussion-id" id="discussion-id" value="{{ discussion.id }}" />
        	<input type="hidden" name="discussion-slug" id="discussion-slug" value="{{ discussion.slug }}" />
        {% endif %}
        {% if user %}
            <input type="hidden" name="user-id" id="user-id" value="{{ user.id }}" />
            <input type="hidden" name="user-displayname" id="user-displayname" value="{{ user.display_name() }}" />
        {% endif %}
        <div id='root'></div>
		{% block main_js %}
			<script src="{{REACT_URL}}/build/bundle.js"></script>
		{% endblock %}
	</body>
{% endblock%}