{% extends 'base.jinja2' %}

{% block extra_header %}{% endblock %}

{% block content %}
    <div class="bar bar--title">
        <div class="bar-left">
            Non du débat
        </div>
        <div class="bar-center">
            <a id="button-ideaList" class="barbutton">TDM</a>
            <a id="button-synthesis" class="barbutton">Synthèse</a>
            <a id="button-segmentList" class="barbutton">Presse-papier</a>
            <a id="button-messages" class="barbutton">Messages</a>
        </div>
    </div>

    <div class="table">
        <div id="idealist" class="panel"></div>

        <div id="segmentlist" class="panel"></div>

        <div id="messages" class="panel"></div>
    </div>

{% endblock %}

{% block extra_js %}
<script type="text/javascript">requirejs(["main"]);</script>
{% endblock %}
