{% extends 'index_react.jinja2' %}

{% block body %}
    <body>

        <!-- START policy -->
        {{ snippets['policy'] | safe}}
        <!-- END policy -->

        {% block main_js %}
        {% endblock %}

        <!-- START button -->
        {{ snippets['button'] | safe}}
        <!-- END button -->

    </body>
{% endblock %}

