{% extends 'base.jinja2' %}
{% block page_title%}{{discussion_title}}{% endblock%}

{% block main_css %}
    {# Override the main CSS. #}
    {% if NODE_ENV == 'development' %}
    <link rel="stylesheet" href="{{REACT_URL}}/node_modules/bootstrap/dist/css/bootstrap.css">
    {% else %}
    <!-- WHEN UPGRADING BOOTSTRAP IN PACKAGE.JSON, UPDATE THE VERSION OF PRODUCTION HERE AS WELL -->
    <link rel="stylesheet" href="//stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    {% endif %}
    <link type="text/css" rel="stylesheet" href="{{REACT_URL}}/build/{{css_style}}" />
{% endblock %}

{% block snippets %}
    <!-- START consent -->
    {{ snippets['consent'] | safe }}
    <!-- END consent -->
{% endblock %}

{% block body %}
    <body>
        {% if user %}
            {% set userId = user.id %}
        {% else %}
            {% set userId = 'system.Everyone' %}
        {% endif %}
        <input type="hidden" name="elasticsearchLangIndexes" id="elasticsearchLangIndexes" value="{{ elasticsearch_lang_indexes }}" />
        <input type="hidden" name="captcha-site-key" id="captcha-site-key" value="{{ captcha_site_key }}" />
        <input type="hidden" name="help-link" id="help-link" value="{{ help_link }}" />
        {% if discussion %}
            <input type="hidden" name="assemblVersion" id="assemblVersion" value="{{ assembl_version }}" />
            <input type="hidden" name="use_external_homepage" id="use_external_homepage" value="{{ use_external_homepage }}" />
            <input type="hidden" name="external_homepage_base_url" id="external_homepage_base_url" value="{{ external_homepage_base_url }}" />
            <input type="hidden" name="discussion-id" id="discussion-id" value="{{ discussion.id }}" />
            {#TODO: Harmonize code paths. There are two code paths for fetching a slug from front-end. 1) from the DOM, and 2) from API. #}
            <input type="hidden" name="discussion-slug" id="discussion-slug" value="{{ discussion.slug }}" />
            <script type="application/json" id="permissions-json">{{ discussion.get_user_permissions_preload(userId) |safe }}</script>
        {% endif %}
        {% if providers_json %}
            <script type='application/json' id='login-providers'>{{providers_json|safe}}</script>
        {% endif %}
        {% if user %}
            <input type='hidden' name='user-id' id='user-id' value='{{ user.id }}' />
            <input type='hidden' name='user-displayname' id='user-displayname' value='{{ user.display_name() }}' />
        {% endif %}
        {% if error %}
            <div class='hidden' id='errorMessage'>{{ error }}</div>
        {% endif %}
        {% if messages %}
            <div class='hidden' id='serverMessages'>{{ messages }}</div>
        {% endif %}
        <div id='root' data-sentry-dsn="{{sentry_dsn}}"></div>
        {% block main_js %}
            {% include 'analytics_common.jinja2' %}
            <script src='{{REACT_URL}}/build/{{js_bundle}}'></script>
        {% endblock %}

        {% block for_testing %}
            {% if under_test %}
                <div id="under-test" class="hidden">V2</div>
            {%- endif %}

            {% if bugherd_url %}
                <!-- Bugherd injection -->
                <script type='text/javascript'>
                (function (d, t) {
                var bh = d.createElement(t), s = d.getElementsByTagName(t)[0];
                bh.type = 'text/javascript';
                bh.src = '{{ bugherd_url }}';
                s.parentNode.insertBefore(bh, s);
                })(document, 'script');
                </script>
                <!-- End of Bugherd injection -->
            {% endif %}
        {% endblock %}

        {% if activate_mouseflow %}
            <script type="text/javascript">
                window._mfq = window._mfq || [];
                (function() {
                    var mf = document.createElement("script");
                    mf.type = "text/javascript"; mf.async = true;
                    mf.src = "//cdn.mouseflow.com/projects/{{ mouseflow_website_id }}.js";
                    document.getElementsByTagName("head")[0].appendChild(mf);
            })();
            </script>
        {% endif %}

    </body>
{% endblock%}
