{% extends 'base.jinja2' %}

{% block extra_header %}{% endblock %}

{% block content %}
    <div class="bar bar--title">
        <div class="bar-left">
            Non du débat
        </div>
        <div class="bar-center">
            <a id="button-ideaList" class="barbutton">TDM</a>
            <a id="button-synthesis" class="barbutton">Synthèse</a>
            <a id="button-segmentList" class="barbutton">Presse-papier</a>
            <a id="button-messages" class="barbutton">Messages</a>
        </div>
    </div>

    <div class="panelarea">
        <div class="panelarea-table">
            
            <div id="idealist" class="panelarea-col"></div>
            <div id="segmentlist" class="panelarea-col"></div>
            <div id="messages" class="panelarea-col"></div>

        </div>
    </div>

{% endblock %}

{% block extra_js %}
<script type="text/javascript">requirejs(["main"]);</script>
{% endblock %}
