{% extends 'base.jinja2' %}
{% block page_title%}{{gettext("Join Discussion - %s")| format(discussion.slug)}}{% endblock%}
{% block main_css %}
  {# Override the main CSS. #}
  {% if NODE_ENV != 'development' %}
  <link type="text/css" rel="stylesheet" href="{{REACT_URL}}/build/bundle.css" />
  <link type="text/css" rel="stylesheet" href="{{REACT_URL}}/build/theme_{{theme_name}}_web.css" />
  {% endif %}
{% endblock %}

{% block main_js %}
    {% include 'analytics_common.jinja2' %}
    <div class="join-discussion">
      <h1>{{gettext('Join the discussion')}}</h1>
      <p>{{gettext("This is you first visit to the discussion '%s'.")| format(discussion.topic)}}</p>
      {% if notifications %}
         <p>{{gettext('By entering, you agree to receive the following notifications:')}}</p>
         <ul class="condition-list">
             {% for notification in notifications %}
             <li>{{ notification }}</li>
             {% endfor %}
         </ul>
      {% endif %}
      <form method="POST">
         <input type="submit" value="{{gettext('Join')}}" />
      </form>
    </div>
{% endblock %}