{% extends 'base.jinja2' %}

{% block header %}
    <div class="bar bar--main">
        <div class="bar-body">
            <div class="bar-right">
                <a> {{ gettext('Sign in') }} <i class="icon-user"></i> </a>
                {% if locales.__len__ > 1 %}
                    <span class="locale active">{{locale}}</span>
                    {% for loc in locales %}
                        {% if (loc != locale) %}
                            <span onmouseup="window.app.setLocale('{{loc}}')" class="locale">{{loc}}</span>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% macro form(name, title, image) %}
{% if name in providers %}
<form id="{{name}}" method="post" action="/login/{{name}}">
    {% for k,v in kwargs.items() %}
    <input type="hidden" name="{{ k }}" value="{{ v }}" />
    {% endfor %}
    {% if name == "openid" %}
    <input type="text" name="openid_identifier" />
    {% endif %}
    {% if image %}
    <input type="image" value="" src="{{ STATIC_URL }}img/loginbox/{{name}}.png" alt="{{gettext(title)}}"/>
    {% else %}
    <input type="submit" value="{{ gettext(title) }}" />
    {% endif %}
</form>
{% endif %}
{% endmacro %}

{% block content %}

    <div class="loginbox">
        <img src="{{ STATIC_URL }}/img/loginbox/assembl.png" alt="Assembl" />

        <div class="spacer spacer--big"></div>
        <div class="error-message">{{error}}</div>
        {% if resend_url %}
        <a href="{{resend_url}}">{{ gettext("Send confirmation message") }}</a>
        {% endif %}
        <form class="form" method="POST">
            <input type="hidden" name="next_view" value="{{next_view}}" />

            <input type="text" name="identifier" class="defaultfield" placeholder="{{ gettext('Email or username') }}" autofocus required />

            <div class="spacer spacer--big"></div>

            <input type="password" name="password" class="defaultfield" placeholder="{{ gettext('Password') }}" required />
            <div class="spacer spacer--huge"></div>

            <input type="submit" name="login" value="{{ gettext('Enter') }}" class="barbutton" />

            <div class="spacer"></div>
        </form>
        <span>{{gettext("or")}} <a href="/register?next_view={{next_view}}">{{gettext("register")}}</a></span>


        {% if providers %}
        <p>{{ gettext("Login with external tools")|safe }}</p>
        {% endif %}
        {{form('google', 'Login with Google', true)}}
        {{form('twitter', 'Login with Twitter', true)}}
        {{form('facebook', 'Login with Facebook', true)}}
        {{form('yahoo', 'Login with Yahoo', true,
                oauth='true', openid_identifier='yahoo.com')}}
        {{form('live', 'Login with Windows Live', false)}}
        {{form('github', 'Login with Github', false)}}
        {{form('bitbucket', 'Login with Bitbucket', false)}}
        {{form('openid', 'Login with OpenID', true)}}
        <div class="spacer spacer--huge"></div>

        <div class="text text-small text-muted">
            {% set caravan = "<a href='http://caravan.coop' class='link'>"+gettext("Caravan")+"</a>" %}
            {% set imaginationForPeople = "<a href='http://imaginationforpeople.org/' class='link'>"+gettext("Imagination for people") +"</a>" %}

            {{ gettext("Designed by %(caravan)s and %(imaginationForPeople)s")|format(caravan=caravan, imaginationForPeople=imaginationForPeople)|safe }}
        </div>
        </form>
    </div>

{% endblock %}

{% block extra_js %}
<script type="text/javascript">requirejs(["main"]);</script>
{% endblock %}
