{% extends 'base.jinja2' %}

{% block header %}
    <div class="bar bar--main">
        <div class="bar-body">
            <div class="bar-right">
                <a> {{ gettext('Profile') }} <i class="iconbutton icon-user"><img src="{{user.avatar_url(38, request.application_url)|safe}}" alt="{{ user.display_name() }}"/></i></a>
            </div>
        </div>
    </div>
{% endblock %}

{% macro form(name, title) %}
{% if name in providers %}
<form id="{{name}}" method="post" action="/login/{{name}}">
    {% for k,v in kwargs.items() %}
    <input type="hidden" name="{{ k }}" value="{{ v }}" />
    {% endfor %}
    {% if name == "openid" %}
    <input type="text" name="openid_identifier" />
    {% endif %}
    <input type="submit" value="{{ gettext(title) }}" />
</form>
{% endif %}
{% endmacro %}

{% block content %}

    <div>
        <div class="spacer spacer--big"></div>

        <form class="form" method="POST">
            <label>{{ gettext('Username') }}:</label>
            {% if the_user.username %}
            <input type="text" name="username" value="{{ the_user.username }}" autofocus />
            {% else %}
            <input type="text" name="username" placeholder="{{ gettext('Desired username') }}" autofocus />
            {% endif %}
            <div class="spacer spacer--large"></div>

            <label>{{ gettext('Name') }}</label>
            {% if the_user.profile.name %}
            <input type="text" name="name" autofocus value="{{ the_user.profile.name }}" />
            {% else %}
            <input type="text" name="name" autofocus placeholder="{{ gettext('Your name') }}" />
            {% endif %}
            <div class="spacer spacer--large"></div>

            <!-- TODO Change password routine -->
            <label>{{ gettext('Change password') }}</label>
            <input type="password" name="password1" placeholder="{{ gettext('New Password') }}" autofocus />
            <div class="spacer spacer--large"></div>
            <input type="password" name="password2" placeholder="{{ gettext('Repeat password') }}" autofocus />
            <div class="spacer spacer--large"></div>

            <!-- TODO Avatar logic -->

            {% if the_user.profile.email_accounts or the_user.profile.unconfirmed_emails %}
            <!-- TODO: Preferred email logic. -->
            <label>{{ gettext('Emails') }}</label>
            <ul>
            {% for email_account in the_user.profile.verified_emails() %}
                <li>{{ email_account.email }}</li>
            {% endfor %}
            {% for email_account, other_profile in unverified_emails %}
                <li>{{ email_account.email }}
                {% if other_profile %}
                    (in conflict with {{other_profile.display_name() }})
                    <input type="button" name="confirm" value="{{ gettext('Confirm and fuse accounts') }}" onclick="send_confirm('{{email_account.id}}');"/>
                {% else %}
                    ({{ gettext('unconfirmed') }})
                    <input type="button" name="confirm" value="{{ gettext('Send confirmation message') }}" onclick="send_confirm('{{email_account.id}}');"/>
                {% endif %}
                </li>
            {% endfor %}
            </ul>
            <div class="spacer spacer--large"></div>
            {% endif %}

            <input type="email" name="add_email" placeholder="{{ gettext('Add an email account') }}" autofocus />
            <div class="spacer spacer--large"></div>


            {% if the_user.profile.identity_accounts %}
            <div class="spacer spacer--huge"></div>
            <label>{{ gettext('Accounts') }}</label>
            <ul>
            {% for account in the_user.profile.identity_accounts %}
            <li>
                <label>{{ account.type }}</label>:
                {% if account.username %}
                    {{account.username}}
                {% else %}
                    {{account.userid}}
                {% endif %}
                <!-- TODO: Handle the case where the token expired 
                and the user may be offered to re-login. -->
            </li>
            {% endfor %}
            </ul>
            {% endif %}

            <input type="submit" value="{{ gettext('Save') }}" class="barbutton" />

            <div class="spacer"></div>
        </form>

        {% if providers %}
        <p>{{ gettext("Connect other accounts to Assembl")|safe }}</p>
        {% endif %}
        {{form('facebook', 'Login with Facebook',
               scope='email,publish_stream,read_stream,create_event,offline_access')}}
        {{form('twitter', 'Login with Twitter')}}
        {{form('bitbucket', 'Login with Bitbucket')}}
        {{form('google', 'Login with Google',
                use_popup='false', openid_identifier='google.com')}}
        {{form('github', 'Login with Github')}}
        {{form('yahoo', 'Login with Yahoo',
                oauth='true', openid_identifier='yahoo.com')}}
        {{form('openid', 'Login with OpenID')}}
        {{form('live', 'Login with Windows Live')}}
        <div class="spacer spacer--huge"></div>

        <div class="text text-small text-muted">
            {% set caravan = gettext("<a href='http://caravan.coop' class='link'>Caravan</a>") %}
            {% set imaginationForPeople = gettext("<a href='http://imaginationforpeople.org/' class='link'>Imagination for people</a>") %}

            {{ gettext("Designed by %(caravan)s and %(imaginationForPeople)s")|format(caravan=caravan, imaginationForPeople=imaginationForPeople)|safe }}
        </div>
        </form>
    </div>

{% endblock %}

{% block extra_js %}
<script type="text/javascript">
    requirejs(["main"]);
    var xmlhttp=new XMLHttpRequest();
    function send_confirm(email_id) {
        xmlhttp.open('GET', "/user_confirm/"+email_id);
        xmlhttp.send();
    }
</script>
{% endblock %}
