{% extends 'base.jinja2' %}

{% block content %}
<style>
body{
    background: #eee;
}
</style>

<div class="loginbox register">
    <header>
        <h1>{% if discussion %}{{ gettext("Join \"%(discussion_title)s\"")|format(discussion_title=discussion.topic) }}{% else %}{{ gettext("Join Assembl") }}{% endif %}</h1>
    </header>

    <div class="content">

        {% if error %}
        <div class="error">{{error}}</div>
        {% endif %}

        {% if hide_registration %}
        <p class="content">{{ gettext("This is a closed discussion.") }}</p>
        {% else %}
        <form class="form" method="POST">
            <input type="hidden" name="next" value="{{next}}" />
            <input type="text" name="name" class="form-control defaultfield" placeholder="{{ gettext('Full name') }}" autofocus required />
            <input type="text" name="email" class="form-control defaultfield" placeholder="{{ gettext('Email') }}" required />
            <input type="password" name="password" class="form-control defaultfield" placeholder="{{ gettext('Password') }}" required />
            <input type="password" name="password2" class="form-control defaultfield" placeholder="{{ gettext('Repeat password') }}" required />
            <input type="submit" name="register" value="{{ gettext('Sign up') }}" class="btn btn-primary js_register" />
        </form>
        {% endif %}
        <div class="subcontent">
            {{gettext("Do you already have an account?")}} <a href="{{ get_route('login') }}?next={{next}}" class="btn btn-default btn-sm">{{gettext("Log in!")}}</a>
        </div>

    </div>
</div>
{% endblock %}

{% block extra_js %}
    {% include 'analytics_nonBackboned.jinja2' %}
    {% if web_analytics.get('enabled', False) %}
        <script type="text/javascript">
          var analytics = Analytics_Dispatcher.getInstance();
          analytics.changeCurrentPage(analytics.pages.REGISTER);

          document.getElementsByClassName('js_register')[0].addEventListener('click', function(){
            analytics.trackEvent(analytics.events.USER_REGISTER);
          });

        </script>
    {% endif %}
{% endblock%}
