{% extends 'base.jinja2' %}

{% block content %}
<style>
body{
    background: #eee;
}
</style>


<div class="loginbox request_password_change">
    <header>
        <h1>{{title}}</h1>
    </header>

    <div class="content">

        <form class="form" method="POST" action="{{ get_route('request_password_change') }}">
            {% if error %}
            <div class="error">{{error}}</div>
            {% endif %}
            <p class="login-box-title">{{description}}</p>

            <input type="hidden" name="identifier" value="{{identifier}}" />
            <input type="hidden" name="user_id" value="{{user_id}}" />
            <input type="hidden" name="next" value="{{next}}" />
            <input type="text" name="identifier" class="form-control defaultfield" placeholder="{{ gettext('Email or username') }}" autofocus required value="{{identifier}}"/>
            <input type="submit" name="change_password" value="{{ gettext('Send') }}" class="btn btn-primary" />
        </form>
    </div>
</div>
{% endblock %}
