<script src="https://browser.sentry-cdn.com/4.2.4/bundle.min.js" crossorigin="anonymous"></script>
<script type="text/javascript">
    var dsn = '{{sentry_dsn}}';
    Sentry.init({ dsn: dsn });
</script>
