{% macro cluster_features(features) %}
{% if features %}
<p><b>Positive:</b>
{% for feature in features[0] -%}
{%- if not loop.first %}, {% endif %}{{feature}}
{%- endfor %}
</p>
<p><b>Negative:</b>
{% for feature in features[1] -%}
{%- if not loop.first %}, {% endif %}{{feature}}
{%- endfor %}
</p>
{% endif %}
{% endmacro %}

{% macro idea_scores_as_html(ideas) %}
{% for idea in ideas recursive %}
{% set size = analyzer.corrected_idea_sizes.get(idea.id, 0) %}
{% if size > 2 or idea.children %}
    {% if idea.sqla_type != "root_idea" %}
        {% set inner_score, _, outer_score = analyzer.silhouette_scores_per_idea.get(idea.id, (None, None, None)) %}
        <li>{{idea.id}} ({{"%f"|format(inner_score or 0)}}
        {%- if outer_score %} ; {{"%f"|format(outer_score)}}{% endif -%}
        ) ({{size}} posts) {{idea.short_title}}
    {% endif %}
    <ul>
        {{ loop(idea.get_children()) }}
    </ul>
    {% if idea.sqla_type != "root_idea" %}
    </li>
    {% endif %}
{% endif %}
{% endfor %}
{% endmacro %}

{% macro post_list(post_ids, parent=None) %}
<ul>
    {% for post in analyzer.get_posts_in_cluster(post_ids, parent) recursive %}
    <li>
    <dl><dt>{{caller(post)}}</dt>
    <dd>{{post.get_body_as_text()}}</dd>
    </dl>
    {%- if analyzer.get_posts_in_cluster(post_ids, post) -%}
        <ul>{{ loop(analyzer.get_posts_in_cluster(post_ids, post)) }}</ul>
    {%- endif %}
    </li>
    {% endfor %}
</ul>
{% endmacro %}


<html>
<body>
<h1>Discussion {{discussion.topic}}</h1>
{% if test_code %}
<form action="test_results" method="POST">
    <input type="hidden" name="user_id" value="{{ analyzer.user_id }}">
    <input type="hidden" name="server" value="{{ server }}">
    <input type="hidden" name="discussion" value="{{ discussion.id }}">
    <input type="hidden" name="test_code" value="{{ test_code }}">
{% endif %}
<ul>
{{idea_scores_as_html([discussion.root_idea])}}
</ul>

{% if suggestions_add %}
<h2>Suggested additions</h2>
{% for suggestion in suggestions_add %}

    <h3>From cluster {{ loop.index }} (size: {{ suggestion.num_posts_cluster }})</h3>
        <p>Add {{ suggestion.num_new_posts }} posts to <a target='out' href='{{ url }}idea/local:Idea/{{ suggestion.idea_id }}'>idea {{ suggestion.idea_id }}</a> <b>{{ suggestion.idea.short_title }}</b><br />
        Already in cluster: {{ suggestion.count }} / {{ suggestion.num_posts_idea }}.
    {% if test_code %}
         Outer score: {{ suggestion.original_score }} -> {{ suggestion.score }}
    {% endif %}
    </p>
    {{cluster_features(suggestion.cluster_features)}}
    {% if test_code %}
        <p>Is this suggestion useful?
            <input type="radio" name="add_{{ loop.index }}_valid" value="true">yes</input>
            <input type="radio" name="add_{{ loop.index }}_valid" value="false">no</input></p>
    {% endif %}
    {% call(post) post_list(suggestion.posts) %}
        {% if post.id in suggestion.new_posts %}
            <b>Add new <a target='out' href='{{ url }}posts/local:Content/{{ post_id }}'>post {{ post.id }}</a></b>:
        {% elif post.id in suggestion.cl_post_ids %}
            <a target='out' href='{{ url }}posts/local:Content/{{ post.id }}'>Post {{ post.id }}</a> (<em>already in cluster</em>):
        {% else %}
            <a target='out' href='{{ url }}posts/local:Content/{{ post.id }}'>Post {{ post.id }}</a> (<em><b>not</b> in cluster</em>):
        {% endif %}
    {% endcall %}

{% endfor %}
{% endif %}
{% if suggestions_partition %}
<h2>Suggested segmentations</h2>
{% for suggestion in suggestions_partition %}

    {% if  new_posts %}
    <h3>Segment and complete <a target='out' href='{{ url }}idea/local:Idea/{{ suggestion.idea.id }}'>idea {{ suggestion.idea.id }}</a> with cluster {{ suggestion.num_cluster }} (size: {{ suggestion.num_posts_cluster }}), adding {{ num_new_posts }} posts)</h3>
    {% else %}
    <h3>Segment <a target='out' href='{{ url }}idea/local:Idea/{{ suggestion.idea.id }}'>idea {{ suggestion.idea.id }}</a> using cluster {{ suggestion.num_cluster }} (in idea: <b>{{ suggestion.count }}</b> / {{ suggestion.num_posts_cluster }})</h3>
    {% endif %}
    <p>

    {% if test_code %}
         Inner score: {{ suggestion.original_score }} -> {{ suggestion.score }}
    {% endif %}
    <a target='out' href='{{ url }}idea/local:Idea/{{ suggestion.idea_id }}'>Idea {{ suggestion.idea_id }}</a>: <b>{{ suggestion.idea.short_title }}</b></p>
    </p>
    {{cluster_features(suggestion.cluster_features)}}
    {% if test_code %}
        <p>Is this suggestion useful?
            <input type="radio" name="add_{{ loop.index }}_valid" value="true">yes</input>
            <input type="radio" name="add_{{ loop.index }}_valid" value="false">no</input></p>
    {% endif %}
    {% call(post) post_list(suggestion.posts) %}
        {% set present_in = analyzer.post_in_which_children_of_idea(post.id, suggestion.idea_id) %}
        {% if post.id in suggestion.new_posts %}
            <b>Add new <a target='out' href='{{ url }}posts/local:Content/{{ post.id }}'>post {{ post.id }}</a></b>:
        {% elif post.id in suggestion.cl_post_ids %}
            {% if present_in %}
                <a target='out' href='{{ url }}posts/local:Content/{{ post.id }}'>Post {{ post.id }}</a> (<em>already in cluster</em>):
            {% else %}
                <a target='out' href='{{ url }}posts/local:Content/{{ post.id }}'>Post {{ post.id }}</a> (<b>put in new idea</b></em>):
            {% endif %}            
        {% else %}
            {% if present_in %}
                <a target='out' href='{{ url }}posts/local:Content/{{ post.id }}'>Post {{ post.id }}</a> (<em><b>not</b> in cluster</em>, keep in {{ present_in }}):
            {% else %}
                <a target='out' href='{{ url }}posts/local:Content/{{ post.id }}'>Post {{ post.id }}</a> (<em><b>not</b> in cluster</em>):
            {% endif %}            
        {% endif %}
    {% endcall %}

{% endfor %}
{% endif %}

{% if test_code %}
    <input type="hidden" name="test_code" value="{{ test_code }}">
    <input type="hidden" name="scramble_count"
        value="{{ analyzer.scramble_count[0] }},{{ analyzer.scramble_count[1] }}">
    <input type="submit"></input>
    </form>
{% endif %}
</body>
</html>
