<div class="cards" ng-controller="cardsCtl">
    <div ng-repeat="card in cards">
        <div class="card alert alert-success" ng-if="$first">
            <p>{{card.description}}</p>
            <span class="glyphicon glyphicon-refresh slot-machine" ng-click="shuffle()"></span>
        </div>
        <p class="bg-info" ng-if="$first">{{card.question}}</p>
    </div>
</div>
<div class="card-comment">
    <form role="form">
        <div class="form-group">
            <input type="text" class="form-control" id="inputEmail1" placeholder="title">
        </div>
        <div class="form-group">
            <textarea class="form-control" rows="3" placeholder="description"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Envoyez</button>
    </form>
</div>
