<div class="cards" ng-controller="cardsCtl">
    <div class="card-browser">
        <span id="previousCardButton" class="glyphicon glyphicon-chevron-left pointer" ng-class="{'inactive': displayed_card_index == 0}" ng-click="previousCard()"></span>
        <span id="nextCardButton" class="glyphicon glyphicon-chevron-right pointer" ng-class="{'inactive': displayed_card_index == displayed_cards.length-1}" ng-click="nextCard()"></span>
        <span id="slot-machine" class="glyphicon glyphicon-random pointer" ng-click="shuffle()" ng-class="{'inactive': cards.length == 0}"></span>
        <div class="card alert alert-success">
            <p>{{displayed_cards[displayed_card_index].description}}</p>
        </div>
    </div>
    <p class="bg-info">{{displayed_cards[displayed_card_index].question}}</p>
</div>
<div class="card-comment">
    <form role="form">
        <div class="form-group">
            <input type="text" class="form-control" id="inputEmail1" placeholder="title">
        </div>
        <div class="form-group">
            <textarea class="form-control" rows="3" placeholder="description"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Envoyez</button>
    </form>
</div>
