<div class="edit-container">
<section>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">{{widget['@type']}}</h4>
        </div>
        <div class="panel-body">
            <div class="panel-form">
            <p class="text-primary">{{widget.base_idea.shortTitle}}</p>
            <form ng-submit="setSettings()">
                <div class="form-group">
                    <label for="session_question">{{'session_question' | translate}}</label>
                    <input id="session_question" class="form-control" type="text" ng-model="formData.question" placeholder="Enter a question">
                </div>
                <div class="form-group">
                    <label for="session_jeton">{{'session_jeton' | translate}}</label>
                    <input id="session_jeton" class="form-control" type="text" ng-model="formData.number" placeholder="Number of jeton">
                </div>
                <button class="btn btn-default pull-right" type="submit">valider</button>
            </form>
            </div>
        </div>
    </div>
</section>
</div>
