<!--
In Firefox 29, when we make changes to this page and refresh, the old version is displayed in the browser.
We have to clear the cache or force refresh of the exact URL of this template page in order to show it correctly.
-->

<div id="index" ng-controller="indexCtl" ng-init="init()">
	<div ng-show="ready">
	    <h1>{{'creativityModulesListTitle' | translate}}</h1>

	    <div ng-repeat="(key, value) in active_modules">
	        <a href="{{ value.url }}">{{ value.name | translate }}</a>
	        <br/>
	    </div>
	</div>
</div>