<div class="session">
    <div class="col-md-5">
        <div class="session-cards">
                <div class="bloc-question">
                    <p>{{widget.settings.session_question}}</p>
                    <p>{{'ideaPrompt'| translate : {parentIdeaTitle: parentIdeaTitle} }}</p>
                </div>
                <div class="card-container">
                    <div class="card">
                        <div class="card-top"></div>
                         <div ng-bind-html="displayed_cards[displayed_card_index].body"></div>
                        <div class="card-bottom"></div>
                    </div>
                    <div class="slot-machine-session">
                       <a ng-click="shuffle()"><img src="app/img/slot-machine.png"></a>
                    </div>
                </div>
                <div class="shuffle">
                    <button class="btn btn-default" ng-click="shuffle()">{{'shuffle' | translate}}</button>
                </div>
                <div class="bs-callout">
                    <p>{{'proposeIdea'| translate}}</p>
                </div>
        </div>
        <div class="card-comment">
            <form role="form" ng-submit="sendSubIdea()">
                <div class="form-group">
                    <input type="text" ng-model="formData.short_title" class="form-control" id="inputEmail1" placeholder="{{'title' | translate}}" required>
                </div>
                <div class="form-group">
                    <textarea ng-model="formData.definition" class="form-control" rows="3" placeholder="description" required></textarea>
                </div>
                <button type="submit" class="btn btn-primary btn-sm">{{'send' | translate}}</button>
            </form>
        </div>
    </div>

    <div class="col-md-7">
        <div class="bx-info" ng-show="ideas.length > 0">
            <p>{{'pointToShare'| translate : {wallet: wallet} }}</p>
        </div>
        <div class="bx-info" ng-show="ideas.length < 1">
            <p><i class="fa fa-info-circle fa-lg"></i>{{'firstToPost'| translate}}</p>
        </div>
        <div class="session-comment">
            <div class="media" ng-if="ideas.length > 0" ng-repeat="idea in ideas">
                <div class="pull-left thumbnail">
                    <img class="media-object" ng-src="{{idea.avatar}}" alt="30x30" style="width: 30px; height: 30px;">
                </div>
                <div class="media-body">
                    <h5 class="media-heading pull-left">{{idea.username}}</h5>&nbsp;
                    <span class="pull-left"><i class="icon-lamp"></i>{{idea.shortTitle}}</span>
                    <span class="pull-right">
                        <!-- Vote directive -->
                        <vote idea="idea" widget="widget"></vote>
                    </span>
                    <div class="row">
                        <div class="col-md-12 comment-idea">
                            <p>{{idea.definition}}</p>
                            <i class="text-info">{{idea.creationDate}}</i>
                        </div>
                    </div>

                    <!-- Comments directive -->
                    <comments idea="idea"></comments>
                </div>
            </div>
        </div>
    </div>
</div>




