<div class="session">
    <div class="col-md-5">
        <div class="cards">
            <div ng-repeat="card in cards">
                <div ng-if="$first">
                    <div class="bs-callout bs-callout-warning">
                        <p>{{card[0].question}}</p>
                    </div>
                    <div class="card">
                        <div class="card-top"></div>
                        <p>{{card[0].description}}</p>
                        <div class="card-bottom"></div>
                    </div>
                    <div class="slot-machine">
                        <a class="glyphicon glyphicon-random pointer" href="#"></a>
                    </div>
                    <div class="bs-callout bs-callout-info">
                        <p>{{card[0].help}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-comment">
            <form role="form" ng-submit="sendNewIdea()">
                <div class="form-group">
                    <input type="text" ng-model="formData.title" class="form-control" id="inputEmail1" placeholder="{{'title' | translate}}">
                </div>
                <div class="form-group">
                    <textarea ng-model="formData.message" class="form-control" rows="3" placeholder="description"></textarea>
                </div>
                <button type="submit" class="btn btn-primary btn-sm">{{'send' | translate}}</button>
            </form>
        </div>
    </div>

    <div class="col-md-6">
        <div class="session-comment">
            <div class="media" ng-if="ideas.length > 1" ng-repeat="idea in ideas">
                <div class="pull-left thumbnail">
                    <img class="media-object" ng-src="{{idea.avatar}}" alt="40x40" style="width: 40px; height: 40px;">
                    <div class="caption">

                    </div>
                </div>
                <div class="media-body">
                    <h5 class="media-heading pull-left">{{idea.fullname}}<i class="icon-lamp"></i></h5>
                    <span class="pull-right">
                        <vote id="idea.id"></vote>
                    </span>
                    <div class="row">
                        <div class="col-md-11 comment-idea">
                            <p>{{idea.message}}</p>
                        </div>
                    </div>
                    <div ng-show="showSubComment" class="sub-comment">
                        <form role="form" ng-submit="commentIdea()">
                            <div class="form-group">
                                <textarea ng-model="formData.comment" class="form-control" rows="2" placeholder="{{'comment'| translate }}"></textarea>
                            </div>
                            <button type="submit" class="btn btn-default btn-xs pull-left" ng-click="showSubComment = ! showSubComment">{{'cancel'| translate }}</button>
                            <button type="submit" class="btn btn-primary btn-xs pull-right">{{'send'| translate }}</button>
                        </form>
                    </div>
                    <p>
                        <span class="text-primary" ng-click="showComment = ! showComment" ng-show="idea.comments.length>0">{{'comments' | translate: {nb: idea.comments.length} }} |</span>
                        <span class="text-primary" ng-click="showSubComment = true">{{'comment'| translate }}</span>&nbsp;
                    </p>
                    <div ng-show="showComment">
                        <div class="media media-comment" ng-if="idea.comments.length > 1" ng-repeat="com in idea.comments">
                            <a class="pull-left" href="#">
                                <img class="media-object" alt="40x40" ng-src="{{com.avatar}}" style="width: 30px; height: 30px;">
                            </a>
                            <div class="media-body">
                                <h5 class="media-heading">{{com.fullname}}</h5>
                                <h6>{{com.message}}</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <button class="btn btn-primary btn-sm pull-right" ng-click="totalVote()">{{'validVote'| translate }}</button>
    </div>
</div>




