<div class="session">

    <div class="col-md-5">
        <div class="cards">
            <div ng-repeat="card in cards">
                <div ng-if="$first">
                    <div class="card">
                        <div class="card-top"></div>
                        <p>{{card[0].description}}</p>
                        <div class="card-bottom"></div>
                    </div>
                    <div class="slot-machine">
                        <a class="glyphicon glyphicon-random pointer" href="#"></a>
                    </div>

                    <div class="bs-callout bs-callout-info">
                        <h4>Question</h4>
                        <p>{{card[0].question}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-comment">
            <form role="form" ng-submit="sendNewIdea()">
                <div class="form-group">
                    <input type="text" ng-model="formData.title" class="form-control" id="inputEmail1" placeholder="{{'title' | translate}}">
                </div>
                <div class="form-group">
                    <textarea ng-model="formData.message" class="form-control" rows="3" placeholder="description"></textarea>
                </div>
                <button type="submit" class="btn btn-primary btn-sm">Envoyez</button>
            </form>
        </div>
    </div>

    <div class="col-md-6">
        <div class="session-comment">
            <div class="media" ng-if="ideas.length > 1" ng-repeat="idea in ideas">
                <div class="pull-left thumbnail">
                    <img class="media-object img-rounded" src="{{idea.avatar}}" alt="40x40" style="width: 40px; height: 40px;">
                    <div class="caption">
                       <rate></rate>
                    </div>
                </div>
                <div class="media-body">
                    <h5 class="media-heading">{{idea.fullname}}</h5>
                    <div class="row">
                        <div class="col-md-11 bg-warning comment-idea">
                            <p>{{idea.message}}</p>
                        </div>
                    </div>
                    <div ng-show="showSubComment" class="sub-comment">
                        <form role="form" ng-submit="commentIdea()">
                            <div class="form-group">
                                <textarea ng-model="formData.comment" class="form-control" rows="2" placeholder="{{'comment'| translate }}"></textarea>
                            </div>
                            <button type="submit" class="btn btn-default btn-xs pull-left" ng-click="showSubComment = ! showSubComment">{{'cancel'| translate }}</button>
                            <button type="submit" class="btn btn-primary btn-xs pull-right">{{'send'| translate }}</button>
                        </form>
                    </div>
                    <p>
                        <span class="text-info glyphicon glyphicon-share-alt" ng-click="showSubComment = true">{{'reply'| translate }}</span>&nbsp;
                        <span class="text-info glyphicon glyphicon-file" ng-click="showComment = ! showComment">{{'summary'| translate }} <span class="badge">{{idea.comments.length}}</span></span>
                    </p>
                    <div ng-show="showComment">
                        <div class="media" ng-if="idea.comments.length > 1" ng-repeat="com in idea.comments">
                            <a class="pull-left" href="#">
                                <img class="media-object img-thumbnail" alt="40x40" src="{{com.avatar}}" style="width: 40px; height: 40px;">
                            </a>
                            <div class="media-body">
                                <h5 class="media-heading">{{com.fullname}}</h5>
                                <h6>{{com.message}}</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




