
<style>

</style>

<div id="videos" ng-controller="videosCtl">
  <!--
  <h2 ng-init="gapiLoaded()">Video</h2>
  -->

  <p>
    Lorem ipsum
  </p>

  <ul class="keywords">
    <li class="keyword" ng-repeat="keyword in inspiration_keywords" ng-click="keywordClick($event)">{{keyword}}</li>
  </ul>

  <form ng-submit="searchClick()">
    <input id="query" class="select2-offscreen" type="hidden" value="" placeholder="Entrez ici votre recherche..." />
    <input type="submit" id="search-button" disabled value="Rechercher" />
  </form>
  <div class="search-container"></div>

</div>

<script>
function gapiLoaded()
{
  angular.element($('#videos')).scope().gapiLoaded();
}
</script>
<script src="https://apis.google.com/js/client.js?onload=gapiLoaded"></script>
