//CSS for making the attachment button presentable

.file-upload {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.file-upload + label {
  font-size: 20px;
  display: inline-block;
  cursor: pointer;
  // outline: 1px dotted #000;
  // outline: -webkit-focus-ring-color auto 5px;
}

.file-upload:focus + label, .file-upload + label:hover {

}
