// Bar
// ===
.bar {
    @include no-selection;
    display: block;
    height: $bar-height;
    position: relative;
    @include box-sizing(border-box);
    @include transform( translateZ(0) );

    background-color: $bar-background-color;
}

// Main bar
// ++++++++
.bar.bar--main {
    background-color: #2f2f2f;
    color: white;
}

// Title bar
// +++++++++
.bar.bar--title {
    background-color: $bar-title-background-color;
    font-size: 18px;
    color: #2c2c2c;
}

// Left content of a bar
// ---------------------
.bar-left {
    @include box-sizing( border-box );
    display: block;
    height: $bar-height;
    line-height: $bar-height;
    position: absolute;
    padding: $bar-padding;
    top: 0;
    bottom: 0;
    left: 15px;
}

// Right content of a bar
// ---------------------
.bar-right {
    @extend .bar-left;
    right: 15px;
    left: auto;
    text-align: right;
}

.locale {
    border: 1px solid gray;
    padding: 2px;
    color: gray;
    &.active {
        border: 1px solid white;
        left-margin: 1.5ex;
        color: white;
    }
}

// Center content of a bar
// ---------------------
.bar-center {
    text-align: center;
    display: block;
    height: $bar-height - 3px;
    line-height: $bar-height - 3px;
}
