// Bar
// ===
.bar {
    display: block;
    height: $bar-height;
    position: relative;
    @include box-sizing(border-box);
    @include transform( translateZ(0) );

    background-color: $bar-background-color;
    border: { top: solid 1px $bar-border-color; bottom: solid 1px $bar-border-color; }
}

// Main bar
// ++++++++
.bar.bar--main {
    @include background-linear-gradient(bottom, #2c2c2c, #444);
    color: white;
    border-top-color: transparent;
    border-bottom-color: transparent;
}

// Title bar
// +++++++++
.bar.bar--title {
    background-color: rgba(238,113,77,0);
    @include box-shadow( inset 0 2px rgba(255,255,253,.2) );
    border: { top: solid 1px #8d88a6; bottom: solid 1px #8d88a6; }
    @include background-linear-gradient(bottom, #afa8cf, #c7c2dd);

    font-size: 18px;
    color: #2c2c2c;
}

// Panel bar
// +++++++++
.bar.bar--panel {
    line-height: 56px;
    height: 56px;
    padding: { left: $padding; right: $padding; };

    background-color: #f7f7f7;
    border: solid 1px #e4e4e3;
    border-bottom: 0;
    @include border-radius( 5px 5px 0 0 );
}

// Left content of a bar
// ---------------------
.bar-left {
    @include box-sizing( border-box );
    display: block;
    height: $bar-height;
    line-height: $bar-height;
    position: absolute;
    padding: $bar-padding;
    top: 0;
    bottom: 0;
    left: 0;
}

// Right content of a bar
// ---------------------
.bar-right {
    @extend .bar-left;
    right: 0;
    left: auto;
    text-align: right;
}

// Center content of a bar
// ---------------------
.bar-center {
    text-align: center;
    display: block;
    height: $bar-height;
    line-height: $bar-height;
}
