// Generic box
// =============
.box {
    position: relative;
    overflow: hidden;

    border: solid 1px $box-border-color;
    background-color: #ffffff;

    @include transition(background-color 1s);

    padding: $box-padding;
}

// Collapsed box
// +++++++++++++++
.box.box--collapsed {
    padding: 5px;
}

// Only border in bottom
// ++++++++++++++
.box.box--bottomborder {
    border: none;
    border-bottom: solid 1px $box-border-color;
}


// Dashed box
// +++++++++++++++
.box.box--dashed {
    border: dashed 2px $box-border-color;
}

// Centered box
// +++++++++++++++
.box.box--centered {
    //line-height: 50px;
    text-align: center;
}


// Highlighted box
// ***************
.box.is-highlighted {
    background-color: #ffff99;
}

// A wrapper for two or more .box
// ====================
.boxlist {
    .box:not(.box--dashed) {
        border: 0;
        border-bottom: solid 1px $box-border-color;
    }

    .box:last-child:not(.box--dashed) {
        border-bottom: 0;
    }
}
