// DELETE THIS FILE AFTER REFACTORING

// Generic box
// =============
.box {
  position: relative;
  overflow: hidden;
  border: solid 1px $orange;
  background-color: $white;

  @include transition(background-color 1s);

  padding: 20px;
}

// Collapsed box
// +++++++++++++++
.box.box--collapsed {
  padding: 5px;
}

// Only border in bottom
// ++++++++++++++
.box.box--bottomborder {
  border: none;
  border-bottom: solid 1px $orange;
}

// Only border on top
// ++++++++++++++
.box.box--topborder {
  border: none;
  border-top: solid 1px $orange;
}

// No border
// ++++++++++++++
.box.box--noborder {
  border: none;
}

// Dashed box
// +++++++++++++++
.box.box--dashed {
  border: dashed 2px $orange;
}

// Centered box
// +++++++++++++++
.box.box--centered {
  //line-height: 50px;
  text-align: center;
}

// Highlighted box
// ***************
.box.is-highlighted {
  background-color: #ffff99;
}

// A wrapper for two or more .box
// ====================
.boxlist {
  .box:not(.box--dashed) {
    border: 0;
    border-bottom: solid 1px $orange;
  }

  .box:last-child:not(.box--dashed) {
    border-bottom: 0;
  }
}

.warning-box, .warning-box-for-message-post {
  background-color: #f4eadc;
  padding: 3px 10px;
  margin: 10px 0;
  border-left: 3px solid #f0ad4e;
  box-sizing: border-box;
  p {
    margin: 0;
    text-align: left;
  }
}

.warning-box-for-message-post {
  border-left: 3px solid $orange1;
  background-color: $orange;
  padding: 0 10px;
}

// New design box

.bx {
  padding: $spacingM;
  border-radius: $borderRadiusS;
  background: $white;
  box-shadow: 1px 1px 4px rgba($black, (20/100));
  margin-bottom: $spacingL;

  .bx-close {
    float: right;
    position: relative;
    left: $spacingL;
    top: (-1 * $spacingL);

    &:hover {

    }
  }

  &.bx-default {
    border: 1px solid $borderColor;
    box-shadow: none;
  }
}

.bx-empty {
  border: 2px dashed lighten($black, 80%);
  background: lighten($black, 94%);
  box-shadow: none;
  color: lighten($black, 40%);

  .h-bx {
    border-bottom-color: lighten($black, 83%);
    color: lighten($black, 40%);
  }

  &:hover {
    background: lighten($yellow, 40%);
  }
}

.bx-alert-warning {
  background-color: $orange;
  color: mix(#ffffff, $black, 15%);

  .h-bx {
    border-bottom-color: $orange1;
  }
  a {
    color: $purple1;
  }

  .bx-alert-icon {
    background: none;
    color: $yellow;
  }
}