%button {
    @include no-selection;
    cursor: pointer;
    display: inline-block;
}

// Default button
// ==============
.button {
  @extend %button;
  @include box-sizing( border-box );
  @include border-radius($button-border-radius);
  padding: { right: 6px; left: 6px; }
  line-height: $button-height;
  background-color: #ebebeb;
  font-size: $button-font-size;
  text-align: center;
  color: #535353;
}

// Reduce the size of the button
// ++++++++++++++++++++++
.button.button--condensed {
    padding: { right: 4px; left: 4px; }
    line-height: $button-condensed-height;
}

// Primary button
// ++++++++++++++
.button.button--primary {
    background-color: $color-success;
    color: white;
    font-weight: bold;

    &:hover {
        background-color: darken($color-success, 10);
    }

    &:active {
        background-color: darken($color-success, 20);
    }
}

// Default button hover state
// **************************
.button:hover {
    background-color: #dedede;
    text-decoration: none;
}

// Disabled button
// ***************
.button[disabled],
.button.is-disabled {
    @include opacity( 0.5 );
    cursor: not-allowed;

    background-color: #ebebeb !important;
}

// Default button active state
// *******************
.button:active {
    background-color: #d2d2d2;
}


// Create a button group
// ===============
.buttongroup {
    font-size: 0;
    display: inline-block;

    .button {
        border-radius: 0;
        font-size: $button-font-size;
    }

    .button:first-child {
        border-radius: $button-border-radius 0 0 $button-border-radius;
        border-right: 0;
    }

    .button:last-child {
        border-radius: 0 $button-border-radius $button-border-radius 0;
        border-left: 0;
    }
}

// Iconed button
// =============
.iconbutton {
    @extend %button;
    @include no-selection;
    position: relative;
    display: inline-block;
    line-height: $icon-height;
    font-size: 14px;
    vertical-align: middle;
    text-align: center;
    opacity: 0.55;

    &:hover {
        opacity: 1;
    }

    &:active {
        @extend .iconbutton.is-activated;
    }
}

// Active state
// ************
.iconbutton.is-activated {
    opacity: 1;
    background-color: transparentize(#e5e5e5, 0.5);
}

// Removes the hover fx on the button
// +++++++++++++++++++
.iconbutton.iconbutton--nofx {
    opacity: 1;
} 

// Enter fullscreen mode button
// +++++++++++++++++
.iconbutton.iconbutton--resizefull {
    @extend %icon;
    @extend .icon-resize-full;

    .is-fullscreen & {
        display: none;
    }
}

// Leave fullscreen mode button
// +++++++++++++++++
.iconbutton.iconbutton--resizesmall {
    @extend %icon;
    @extend .icon-resize-small;

    display: none;
    
    .is-fullscreen & {
        display: inline-block;
    }
}

// Arrow button
// ==========
.arrowbutton {
    @extend %button;

    position: relative;
    margin: 5px 0;
    line-height: $arrowbutton-height;
    height: $arrowbutton-height;
    @include box-sizing( border-box );
    padding: 0 10px 0 5px;
    margin-left: 14px;

    background-color: rgba(129,133,139,0);
    @include background-linear-gradient(bottom, #afa8cf, #c7c2dd);
    //@include box-shadow(0 1px rgba(255,255,255,.15), inset 0 2px rgba(255,255,253,.2));
    color: white;
    border: solid 1px #8d88a6;
    border-radius: 0 $arrowbutton-radius $arrowbutton-radius 0;

    font-size: 14px;
    text-decoration: none;

    &:before {
        content: url(#{$img-dir}/button/arrowbutton.png);
        position: absolute;
        top: -1px;
        left: -14px;
    }
}

// Arrow button to right
// +++++++++++++++++++++
.arrowbutton.arrowbutton--right {
    border-radius: $arrowbutton-radius 0 0 $arrowbutton-radius;
    margin-left: 0;
    margin-right: 14px;
    padding: 0 5px 0 10px;

    &:before {
        display: none;
    }

    &:after {
        content: url(#{$img-dir}/button/arrowbutton-right.png);
        position: absolute;
        top: -1px;
        right: -14px;
    }
}

// Button made to fit in a .bar
// =========================
.barbutton {
    @extend %button;
    @include no-selection;
    font-size: 12px;

    &:active {
        @extend .barbutton.is-activated;
    }
}

// Active state
// =========================
.barbutton.is-activated {
    background-color: #ffffff;
    color: black;
}



/* New design button */

.btn {
  @include border-radius(4px);
  display: inline-block;
  line-height: 1.42857143;
  margin-bottom: 0;
  font-weight: 400;
  font-family: arial;
  white-space: nowrap;
  text-align: center;
  vertical-align: middle;
  padding: 6px 12px;
  font-size: 14px;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  text-decoration: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.btn:hover {

}
.btn:active,
.btn.active {

}

/************************/

.btn-cancel {
  color:#7F8C8D;
  background-color: transparent;
}
.btn-cancel:hover {
  text-decoration: underline;
}
.btn-cancel:focus{
  outline: 0;
}
.btn-cancel:active,
.btn-cancel.active {
  opacity: 0.8;
  outline: 0;
}
/**********************/
.btn-default {
  color:#B879E2;
  background-color: transparent;
}
.btn-default:hover{
  text-decoration: underline;
}
.btn-default:focus{
  outline: 0;
}
.btn-default:active,
.btn-default.active {
  opacity: 0.8;
  outline: 0;
}
 /*********************/
.btn-primary {
  color: #ffffff;
  background-color: #B879E2;
}
.btn-primary:hover{
  opacity: 0.8;
}
.btn-primary:focus{
  outline: 0;
}
.btn-primary:active,
.btn-primary.active {
  opacity: 1;
  outline: 0;
}
/*********************/
.btn-secondary {
  color: #B879E2;
  background-color: #FFFFFF;
  border: 1px solid #B879E2;
}
.btn-secondary:hover{
  color: #ffffff;
  background-color: #B879E2;
}
.btn-secondary:focus{
  outline: 0;
}
.btn-secondary:active,
.btn-secondary.active {
  opacity: 0.8;
  background-color: #B879E2;
  color: #fff;
  outline: 0;
}

