%button {
    @include no-selection;
    border: solid 1px transparent;
    //border-radius: 4px;
    cursor: pointer;

    display: inline-block;
}

// Default button
// ==============
.button {
    @extend %button;

    padding: { right: 6px; left: 6px; }
    @include box-sizing( border-box );
    line-height: $button-height;

    @include border-radius($button-border-radius);
    background-color: #ebebeb;
    font-size: $button-font-size;
    text-align: center;
    color: #535353;
}

// Reduce the size of the button
// ++++++++++++++++++++++
.button.button--condensed {
    padding: { right: 4px; left: 4px; }
    line-height: $button-condensed-height;
}

// Primary button
// ++++++++++++++
.button.button--primary {
    background-color: $color-success;
    color: white;
    font-weight: bold;

    &:hover {
        background-color: darken($color-success, 10);
    }

    &:active {
        background-color: darken($color-success, 20);
    }
}

// Default button hover state
// **************************
.button:hover {
    background-color: #dedede;
    text-decoration: none;
}

// Disabled button
// ***************
.button[disabled],
.button.is-disabled {
    @include opacity( 0.5 );
    cursor: not-allowed;

    background-color: #ebebeb !important;
}

// Default button active state
// *******************
.button:active {
    background-color: #d2d2d2;
}


// Create a button group
// ===============
.buttongroup {
    font-size: 0;
    display: inline-block;

    .button {
        border-radius: 0;
        font-size: $button-font-size;
    }

    .button:first-child {
        border-radius: $button-border-radius 0 0 $button-border-radius;
        border-right: 0;
    }

    .button:last-child {
        border-radius: 0 $button-border-radius $button-border-radius 0;
        border-left: 0;
    }
}

// Iconed button
// =============
.iconbutton {
    @extend %button;
    @include no-selection;

    position: relative;
    display: inline-block;
    width: $icon-width;
    height: $icon-height;
    line-height: $icon-height;

    font-size: 16px;
    vertical-align: middle;
    text-align: center;

    opacity: 0.55;

    &:hover {
        opacity: 1;
    }

    &:active {
        @extend .iconbutton.is-activated;
    }
}

.assembl-logo {
    font-size: 22px;
    color: #c7c2dd;
    text-decoration: none;
}

// Active state
// ************
.iconbutton.is-activated {
    opacity: 1;
    background-color: transparentize(#e5e5e5, 0.5);
}

// Removes the hover fx on the button
// +++++++++++++++++++
.iconbutton.iconbutton--nofx {
    opacity: 1;
} 

// Enter fullscreen mode button
// +++++++++++++++++
.iconbutton.iconbutton--resizefull {
    @extend %icon;
    @extend .icon-resize-full;

    .is-fullscreen & {
        display: none;
    }
}

// Leave fullscreen mode button
// +++++++++++++++++
.iconbutton.iconbutton--resizesmall {
    @extend %icon;
    @extend .icon-resize-small;

    display: none;
    
    .is-fullscreen & {
        display: inline-block;
    }
}

// Arrow button
// ==========
.arrowbutton {
    @extend %button;

    position: relative;
    margin: 5px 0;
    line-height: $arrowbutton-height;
    height: $arrowbutton-height;
    @include box-sizing( border-box );
    padding: 0 10px 0 5px;
    margin-left: 14px;

    background-color: rgba(129,133,139,0);
    @include background-linear-gradient(bottom, #afa8cf, #c7c2dd);
    //@include box-shadow(0 1px rgba(255,255,255,.15), inset 0 2px rgba(255,255,253,.2));
    color: white;
    border: solid 1px #8d88a6;
    border-radius: 0 $arrowbutton-radius $arrowbutton-radius 0;

    font-size: 14px;
    text-decoration: none;

    &:before {
        content: url(#{$img-dir}/button/arrowbutton.png);
        position: absolute;
        top: -1px;
        left: -14px;
    }
}

// Arrow button to right
// +++++++++++++++++++++
.arrowbutton.arrowbutton--right {
    border-radius: $arrowbutton-radius 0 0 $arrowbutton-radius;
    margin-left: 0;
    margin-right: 14px;
    padding: 0 5px 0 10px;

    &:before {
        display: none;
    }

    &:after {
        content: url(#{$img-dir}/button/arrowbutton-right.png);
        position: absolute;
        top: -1px;
        right: -14px;
    }
}

// Button made to fit in a .bar
// =========================
.barbutton {
    @extend %button;
    @include no-selection;
    font-size: 14px;

    &:active {
        @extend .barbutton.is-activated;
    }
}

// Active state
// =========================
.barbutton.is-activated {
    background-color: #ffffff;
    color: black;
}
