
// Adds a gray dot before the word
// ========
.dot {

    .dot-offline {
        display: inline; // initial;
    }

    .dot-online {
        display: none;
    }
}


// Online version
// **********
.is-online {

    &:before {
        background-color: #13a89e;
    }

    .dot-offline {
        display: none;
    }

    .dot-online {
        display: inline; // initial;
    }

}
