
// Adds a gray dot before the word
// ========
#onlinedot {
    @include flexbox((
      display: box,
      box-orient: vertical
    ), $version: 1);
    @include flexbox((
      display: flexbox,
      flex-direction: row
    ), $version: 2);
    @include flexbox((
      display: flex,
      flex-direction: row
    ));
  
    width: 290px;

    .dot-offline {
      display: block;
      line-height: $theme_header_height;
    }

    .dot-online {
        display: none;
    }
}


// Online version
// **********
#onlinedot.is-online {

    &:before {
        background-color: #13a89e;
    }

    .dot-offline {
        display: none;
    }

    .dot-online {
      display: inline-block;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      line-height: $theme_header_height;
    }

}
