$emaillist-item-level-padding: 10px;
$emaillist-item-border: solid 1px #e4e4e3;
$emaillist-item-border-color-dark: #000;
$emaillist-item-height: 45px;

// The list of emails
// =================
.emaillist {}

// The dark version of list of emails
// ++++++++++++++++++++++
.emaillist.emaillist--dark {}

// Email list made to fit in the lateralmenu
// ++++++++++++++++++++++
.emaillist.emaillist--lateralmenu {}


// A row within the list of emails
// -----------------
.emaillist-item {
    border-bottom: $emaillist-item-border;
    position: relative;
    height: 45px;
    cursor: pointer;
    overflow: hidden;

    // &:nth-child(even){
    //     background-color: #fbfbf9;
    // }

    @include transition(height 0.4s);

    .emaillist--dark & {
        background-color: #313131;
        border-bottom-color: $emaillist-item-border-color-dark;
        color: #b0b0b0;

        &:hover {
            color: #eb5d50;
        }
    }

    .emaillist--lateralmenu & {
        padding-left: $lateralmenu-padding-left;
    }
}

.emaillist-item:hover {
    //background-color: #eaf5fc;
}

// Email list open ( showing the children )
// *********************
.emaillist-item.is-open {}

// Email list is hidden
// *********************
.emaillist-item.is-hidden {
    height: 0px;
    border-bottom: 0;
}

// The checkbox to select the line
// -------------------
.emaillist-checkbox {
    display: inline-block;
    line-height: $emaillist-item-height;
}

// The title of the email
// --------------------
.emaillist-label {
    display: inline-block;
    line-height: $emaillist-item-height;
    padding-left: $emaillist-item-level-padding;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding-right: $fixedcounter-min-width + 15px;
    @include box-sizing( border-box );

    .emaillist--dark & {
        border-color: $emaillist-item-border-color-dark !important;
    }

    $emaillist-item-margin-left: 15px;
    @for $i from 2 through 10 {
        .emaillist-item[data-emaillist-level="#{$i}"] & {
            $emaillist-item-margin-left: 15px * ( $i - 1 );
            margin-left: $emaillist-item-margin-left;
            border-left: $emaillist-item-border;
        }
    }
}

// The arrow within an .emaillist-label
// ------------------------
.emaillist-label-arrow {
    background: url(#{$img-dir}/emaillist/emaillist-arrow.png) center left no-repeat;
    width: $emaillist-item-level-padding;
    margin-right: $emaillist-item-level-padding;
    height: $emaillist-item-height;
    display: inline-block;
    float: left;

    @include transition( transform 0.4s );
    @include transform( rotate(-90deg) );
    opacity: 0.55;

    &:hover {
        opacity: 1;
    }

    .emaillist-item.is-open & {
        @include transform( rotate(0deg) );
    }
}