// The list of emails
// =================
.emaillist {
    @include transform( translateZ(0) );
    background-color: $emaillist-background-color;
    border: solid 1px $emaillist-border-color;
}

// The dark version of list of emails
// ++++++++++++++++++++++
.emaillist.emaillist--dark {}

// Email list made to fit in the lateralmenu
// ++++++++++++++++++++++
.emaillist.emaillist--lateralmenu {}


// A row within the list of emails
// -----------------
.emaillist-item {
    border-top: $emaillist-item-border;
    position: relative;
    height: 45px;
    cursor: pointer;
    overflow: hidden;

    @include transition( height 0.4s );
    @include transform( translateZ(0) );

    &:first-child {
        border-top: 0;
    }

    .emaillist--dark & {
        background-color: #313131;
        border-bottom-color: $emaillist-item-border-color-dark;
        color: #b0b0b0;

        &:hover {
            color: #eb5d50;
        }
    }

    .emaillist--lateralmenu & {
        padding-left: $lateralmenu-padding-left;
    }
}

// Email item is selected ( by the checkbox )
// ************************
.emaillist-item.is-selected {
    background-color: #eaf5fc;
}

// Email list open ( showing the children )
// *********************
.emaillist-item.is-open {}

// Email list is hidden
// *********************
.emaillist-item.is-hidden {
    height: 0; //display: none;
    border-top: 0;
}

// Email list with the form open
// *********************
.emaillist-item.is-form-open {
    height: auto;
    border: solid 5px #dbf2ff;
}

// Email list when receving a dragover
// *********************
.emaillist-item.is-dragover {
    background-color: $dragbox-background-color;
}

// Email list when receving a dragover and the mouse it above the middle
// *********************
.emaillist-item.is-dragover-above {
    margin-top: $emaillist-item-dragover-height;
    overflow: visible;

    &:before {
        content: "";
        display: block;
        position: absolute;
        bottom: 100%;
        right: -1px;
        left: -1px;
        height: $emaillist-item-dragover-height;

        background-color: $dragbox-background-color;
        border: solid 1px $dragbox-border-color;
    }
}

// Email list when receving a dragover and the mouse it below the middle
// *********************
.emaillist-item.is-dragover-below {
    margin-bottom: $emaillist-item-dragover-height;
    overflow: visible;

    &:after {
        content: "";
        display: block;
        position: absolute;
        top: 100%;
        right: -1px;
        left: -1px;
        height: $emaillist-item-dragover-height;

        background-color: $dragbox-background-color;
        border: solid 1px $dragbox-border-color;
    }
}

// The checkbox to select the line
// -------------------
.emaillist-checkbox {
    display: inline-block;
    line-height: $emaillist-item-height;
    float: left;
}

// The title of the email
// --------------------
.emaillist-label {
    position: relative;
    display: block;
    line-height: $emaillist-item-height;
    padding-left: $emaillist-item-level-padding;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding-right: $emaillist-item-padding-right;
    @include box-sizing( border-box );

    @include transition( padding-right 0.4s );

    .emaillist--dark & {
        border-color: $emaillist-item-border-color-dark !important;
    }

    $emaillist-item-margin-left: 15px;
    @for $i from 2 through 10 {
        .emaillist-item[data-emaillist-level="#{$i}"] & {
            $emaillist-item-margin-left: 15px * ( $i - 1 );
            margin-left: $emaillist-item-margin-left;
            border-left: $emaillist-item-border;
        }
    }

}


// Showing the options .emaillist-label
// ******************
.has-touch .emaillist-label.is-optioned {
    padding-right: $emaillist-item-padding-right + $emaillist-options-width;
}

// Showing the options on hover ONLY in no-touch devices
// *******************
.no-touch .emaillist-label.has-options:hover {
    padding-right: $emaillist-item-padding-right + $emaillist-options-width;
}


// The arrow within an .emaillist-label
// ------------------------
.emaillist-label-arrow {
    background: url(#{$img-dir}/emaillist/emaillist-arrow.png) center left no-repeat;
    width: $emaillist-item-level-padding;
    margin-right: $emaillist-item-level-padding;
    height: $emaillist-item-height;
    display: inline-block;
    float: left;

    @include transition( transform 0.4s );
    @include transform( rotate(-90deg) );
    opacity: 0.55;

    &:hover {
        opacity: 1;
    }

    .emaillist-item.is-open & {
        @include transform( rotate(0deg) );
    }
}

// The options within an .emaillist-label
// -----------------
.emaillist-label-options {
    position: absolute;
    top: 0px;
    right: $emaillist-item-padding-right;

    width: 0px;
    height: $emaillist-item-height;
    @include box-sizing( border-box );
    overflow: hidden;

    font-size: 0px;
    @include transition( width 0.4s );

    .has-touch .emaillist-label.is-optioned &,
    .no-touch .emaillist-label:hover & {
        width: $emaillist-options-width;
    }
}

// The form within a .emaillist-item
// ==================
.emaillist-form {
    @extend .form;
}
