// The counter within any position:relative element
// ==================
.fixedcounter {
    position: absolute;
    top: 22px;
    right: $padding-right;
    margin-top: $fixedcounter-height / -2;

    display: inline-block;
    min-width: $fixedcounter-min-width;
    line-height: $fixedcounter-height;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    color: $fixedcounter-color;
    
    // @include box-sizing( border-box );
    // padding: 0 3px;
    // @include border-radius(5px);
    // background-color: rgba(96,96,96,0);
    // @include box-shadow(0 1px rgba(249,255,255,.18), inset 0 1px rgba(0,0,0,.35), inset 0 0 5px rgba(0,0,0,.11));
    // @include background-linear-gradient(bottom, rgba(0,0,0,.02), rgba(0,0,0,.05));
}
