$form-border-color: #dcdbd7;
$text-muted: #999;

// Default form
// ============
.form {}


// Defaul form label
// =============
.formlabel {
    color: $text-muted;
    margin-bottom: 5px;
    display: block;
}

// Default form field
// ================
.formfield {
    width: 100%;
    @include box-sizing( border-box );
    padding: 0 5px;
    height: 35px;
    line-height: 35px;

    border: solid 1px $form-border-color;
    font-size: 16px;
}


// Default textarea
// ================
.formtextarea {
    min-height: 4em;
    width: 100%;
    @include box-sizing( border-box );
    resize: vertical;
    padding: 2px 5px;

    border: solid 1px $form-border-color;
    border-radius: 6px;
    font-size: 14px;
}

// Default field text
// ==================
.defaultfield {
    min-width: 220px;
    height: 35px;
    padding: 0 $padding;

    font-size: 14px;
    color: $text-muted;
    @include border-radius(5px);
    @include box-shadow(inset 0 0 4px rgba(0,0,0,.25));
    border: $form-border-color; //border: solid 1px #468847;
}
