// The list of Ideas
// =================
.idealist {
    background-color: $idealist-background-color;

    // Sorry =/
    .panel & {
        position: absolute;
        top: $panel-header-height;
        right: 0;
        bottom: 0;
        left: 0;
    }
}

// A row within the list of ideas
// -----------------
.idealist-item {
    @include clearfix();
    line-height: $idealist-item-height;
    border-top: $idealist-border;

    &:first-child {
        border-top: 0;
    }
}

// idea list open ( showing the children )
// *********************
.idealist-item.is-open {}


// When there is something being dragged over
// *********************
.idealist-item.is-dragover {}


// Where the content is placed
// --------------
.idealist-body {

    .idealist-item.is-dragover > & {
        background-color: $dragbox-background-color;
    }

}

// The title
// ----------
.idealist-title {
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    cursor: pointer;
    padding-left: $padding-left;
}

// The counter at the right
// ------------------
.idealist-counter {
    float: right;
    padding: 0 5px;
    min-width: $idealist-counter-minwidth;

    text-align: center;
    font-size: 14px;
    font-weight: bold;
    color: $idealist-counter-color;
}

// The arrow
// ------------
.idealist-arrow {
    background: url(#{$img-dir}/idealist/idealist-arrow.png) center center no-repeat;
    width: $idealist-arrow-width;
    height: $idealist-item-height;
    display: block;
    float: left;
    cursor: pointer;

    @include transition( transform 0.4s );
    @include transform( rotate(-90deg) );
    opacity: 0.55;

    &:hover {
        opacity: 1;
    }

    .idealist-item.is-open > .idealist-body & {
        @include transform( rotate(0deg) );
    }
}

// The bar to make an .idealist-item looks like a child
// --------------
.idealist-bar {
    display: block;
    width: $idealist-arrow-width / 2;
    height: $idealist-item-height;
    float: left;

    border-right: $idealist-border;
    margin-right: $idealist-arrow-width / 2;
}

// The child list
// --------------
.idealist-children {
    height: 0px;
    overflow: hidden;
    border-top: $idealist-border;

    @include transition( height 0.4s );
    @include transform( translateZ(0) );

    .idealist-item.is-open > & {
        border-top: $idealist-border;
        height: auto;    
    }

    &:empty {
        display: none;
    }

}
