// Link component
// ==============
.link {
    cursor: pointer;
    color: #484848;
    text-decoration: none;
    &:hover {
        color: $link-hover-color;
    }

    &:active {
        color: $link-active-color;
    }
}


// Segment link
// ============
.segment-link {
    @extend .link;
}
