// Login box
// =========
.loginbox {
  @include box-sizing( border-box );
  @include border-radius(6px);
  margin: 5% auto 0 auto;
  border: 1px solid rgba(0,0,0,0.1);
  width: 650px;
  min-width: 650px;
  background-color: #ffffff;
  box-shadow:0 0 225px rgba(255,255,255,.55);

  form {
    margin: 0 auto;
    .register {
      a{
        text-decoration: none;
        color: #484848;
        cursor: pointer;
      }
    }
  }

  footer {
    height: 80px;
    color:#CCCCCC;
    background-color: #484848;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    p {
      line-height: 80px;
      text-align: center;
    }
    .caravan {
      color:#ffffff;
    }
    .i4p {
      color: #c7c2dd;
    }
  }

  .login-box-title {
    text-align: left;
    font-size: 20px;
  }
  .defaultfield {
    max-width: 290px;
    width: 80%;
  }

  .signinWrapper, .signinSeparator, .socialPart {
    display: inline-block;
  }

  .signinWrapper {
    padding: 0 22px;
    box-sizing: border-box;
    float: left;
  }

  .socialPart {
    width: 290px;
  }

  .signinSeparator {
    margin: 20px 20px 0 20px;
    width:20px;
    position:relative;

    .mask {
      overflow:hidden;
      width:20px;
      height:200px;
    }
    &.left .mask:after {
      content:'';
      display:block;
      margin-left:-20px;
      width:20px;
      height:100%;
      border-radius:12px / 125px;
      box-shadow:0 0 8px black;
    }

  }

  .spacer--big {
    clear: right;
  }

}