// Login box
// =========
.loginbox {
    position: absolute;
    top: 40%;
    left: 50%;
    @include transform( translate(-50%, -50%) );

    @include box-sizing( border-box );
    width: 382px;
    //height: 431px;
    padding: $padding * 2;

    @include border-radius(2px);
    background-color: #ffffff;
    text-align: center;

    box-shadow: 2px 2px 2px 2px #aaa;
}