// A message sending interface
// ===========================

.messageSend {
  margin: 1em 0 1em 0;
  display: table;
  width: 98%;
  background-color: $gray3;
  padding: 15px 10px 10px 10px;
  .hidden {
    display: none;
  }
  .avatar-container {
    padding: 0 0.5em 0 0;
    display: table-cell;
    width: 1px;
    vertical-align: top;
  }
  .interface-container {
    display: table-cell;
    .messageSend-subject, .messageSend-body {
      margin: 0;
    }
    .topic-subject {
      display: table;
      width: 100%;
      margin-bottom: 0.5em;
      .topic-subject-label {
        display: table-cell;
        width: 1px;
        white-space: nowrap;
        vertical-align: middle;
      }
      .topic-subject-input {
        display: table-cell;
        //padding-left: 1em;
        input {
          width: 100%;
        }
      }

    }
    .messageSend-buttons {
      width: 100%;
      text-align: right;
      margin: 0;
      padding: 0;
      a {
        margin: 0.5em 0 0 0.5em;
      }
    }

  }
  .rc {
    border: none;
  }

}
