$message-bar-width: 15px;
$messageFamilyImageWidth: 12px;
$avatarSize: 30px;
$readUnreadIndicatorSize: 10px;
$mesageSpacing: 6px;
$messageBodyFontSize: 13px;
$mesageBodyLineHeight: $baseLineHeight;
$ten: 10px;
$separatorBulletMargin: 0.6em;
$previewNumLines: 4;

// A message block
// ================
.message {
  //position: relative;
  box-sizing: content-box;
  padding: 10px;
  //margin: 0px $mesageSpacing 0px $mesageSpacing; //TODO: fix scroolbar margin
  min-height: $avatarSize;
  height: auto;
  color: $gray2;
  //border-top: solid 1px $gray3;

  &.is-highlighted {
    background-color: $orange;
  }

  .avatar {
    display: inline-block;
    vertical-align: middle;
    width: $avatarSize;
    height: $avatarSize;
    margin: 0;
    padding: 0;
    img {
      padding: 0;
      margin: 0;
      width: $avatarSize;
      height: $avatarSize;
    }
  }
  // A message block Header
  // --------------------

  .header_item_template {
    font-size: 12px; //This should be rem or something - benoitg
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .message-author {
    color: $purple5;
    @extend .header_item_template
  }

  .message-date {
    @extend .header_item_template;
    color: $gray4;
    time {
    }
  }

  .message-subject {
    @extend .header_item_template;
  }

  .header-separator-bullet {
    margin-left: $separatorBulletMargin;
    &:before {
      content: "\002022"; //Unicode bullet
      color: $gray1;
      opacity: 0.5;
      padding-right: $separatorBulletMargin;

    }
  }

  a.readMoreOrLess {
    font-style: normal;
    color: $purple1;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }

  .nb-nuggets {
    color: $gray1;
    i {
      font-size: 140%;
    }
    span {
      vertical-align: top;
    }
  }

  &.viewStyleFullBody, &.viewStylePreview {
    /* Most styles are shared between the FullBody and Preview styles */
    line-height: 19px;
    > .avatar {
      position: absolute;
    }
    > .readUnreadIndicator, > .readUnreadIndicator, > .message-author, > .message-subject, > .message-body, > .message-menu, > .readMoreOrLess, > .message-replybox {
      //So the first element of each line is aligned with the avatar
      margin-left: $avatarSize + $mesageSpacing*2;
    }
    > * {
      vertical-align: middle;
    }
    .readUnreadIndicator {
      display: inline-block;
      /* Undo the avatar spacing when message indicator is there.  This hack is
         necessary because there will be no indicator of annonymous users, 
         so the margin on message-author must clear the avatar on it's own */
      //margin-right: -$avatarSize - $mesageSpacing;
    }
    .message-author {
    }
    .message-subject {
      display: block;
    }
    .message-date {
      //@extend .header-separator-bullet;
    }
    .message-body {
      line-height: $mesageBodyLineHeight;
      margin-top: $mesageSpacing;
      font-size: $messageBodyFontSize;
    }
    .message-menu-actions {
      margin-top: $mesageSpacing;
    }
    .head {
      border-bottom: 2px solid $green;
    }
  }

  &.viewStyleFullBody {
    /* FullBody specific styles */
    .message-body.body_format_text_plain {
      white-space: pre-line;
      & > {
        white-space: normal;
      }
    }
    .message-body.body_format_text_html {
      white-space: normal;
      p {
        margin-top: 0.5em;
        margin-bottom: 0.5em;
      }
      > div {

      }

    }
    &.Email .message-body.body_format_text_html {
      > div {
        white-space: pre-line;
      }
    }

  }

  &.viewStylePreview {
    /* Preview specific styles */
    &:hover {
      .message-menu-actions {
        visibility: visible;
        opacity: 1;
      }
    }
    .message-menu-actions {
      visibility: hidden;
      opacity: 0;
      /*i {
        visibility: visible;
      }*/
    }

    .message-date {
    }

    .message-body {
      position: relative;
      padding: 0px;
      max-height: $previewNumLines * $mesageBodyLineHeight * $messageBodyFontSize;
      overflow: hidden;
    }

    .message-body.body_format_text_plain > .elipsis > div {
      white-space: pre-line;
      & > {
        white-space: normal;
      }
      > div {
        height: inherit;
      }
    }

    .message-body.body_format_text_html {
      > div {
        height: inherit;
      }
    }

  }

  &.viewStyleTitleOnly {
    /* TitleOnly specific styles */
    &.message {
      width: 100%;
      max-width: 100%;
      max-height: $avatarSize;
      line-height: $avatarSize; //So text doesn't wrap even if avatar is bigish
    }
    > * {
      vertical-align: middle;
    }
    .leftSection {
      float: left;
      margin: 0px;
      text-align: left;
    }
    .rightSection {
      float: right;
      margin: 0px;
    }
    .centerSection {
      margin: 0px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
    .avatar {
      img {
        margin-top: -8px; //TODO:  I don't know why this is needed
      }
    }
    .message-author {
      @extend .header_item_template;

      white-space: nowrap;
      margin: 0px 0px 0px $mesageSpacing; //No left margin because there is an element on the left
    }

    .message-subject {
      @extend .header_item_template;
      overflow: hidden;
      text-align: left;
      > div {
        height: $avatarSize;
      }
      > {
        white-space: normal;
      }
      .message-title {
        @extend .header_item_template;
        @extend .header-separator-bullet;
        text-overflow: ellipsis;
        white-space: nowrap;
        color: #333333;
      }
      .message-body {
        @extend .header_item_template;
        @extend .header-separator-bullet;
        text-overflow: ellipsis;
        white-space: nowrap;
        color: $gray1;
      }
    }

    .message-date {
      white-space: nowrap;
      margin: 0px $mesageSpacing 0 $mesageSpacing;
    }
  }

  .readUnreadIndicator {
    display: inline-block;
    cursor: pointer;
    box-sizing: border-box;
    width: $readUnreadIndicatorSize;
    height: $readUnreadIndicatorSize;
    margin: 0 0 0 $mesageSpacing*2;
    vertical-align: middle;
    border: 1px solid $gray;
    float: right;
    @include border-radius(50px);
    &:hover {
      background-color: $gray;
    }

  }

  &.unread {
    .message-author {
      font-weight: bold;
      color: $purple5;
    }
    .message-subject {
      font-weight: 600;
    }

    .readUnreadIndicator {
      background-color: $green;
      border: 1px solid transparent;
    }
  }

  //
  .message-replybox {
    text-align: right;
    margin-top: 1em;
    &.hidden {
      display: none;
    }
  }

  //
  .message-menu {
    font-size: 13px; //This should be rem or something - benoitg
    a {
      color: $gray1;
      opacity: 0.7;
      i {
        opacity: 0.5;
      }
      &:hover {
        color: $purple1;
        opacity: 1;
        text-decoration: none;
      }
    }

    // used when buttons are to the left of the Reply button
    > .message-hoistbtn, > .message-linkbutton {
      vertical-align: top;
      width: 26px;
      line-height: 23px;
    }
    .message-replybox-openbtn {
      vertical-align: top;
      cursor: pointer;
      i {
        font-size: 10px;
      }
    }
  }
  .dropdown {
    //Not all message-menus are dropdown
    opacity: 0.7;
    i {
      opacity: 0.5;
    }
    &:hover {
      color: $purple1;
      opacity: 1;
    }
    position: absolute;
    right: 5px;
    top: 0;
    vertical-align: top;
    padding: 0;
    .dropdown-label {
      color: $gray4;
      opacity: 0.7;
      i {
        opacity: 0.5;
      }
      &:hover {
        color: $purple1;
        opacity: 1;
      }
    }
    .dropdown-label.dropdown-label--arrow {
      width: 24px;
      height: 24px;
    }

    .iconbutton {
      width: 20px !important;
      height: 18px;
      line-height: 14px;
      padding-top: 2px;
      padding-right: 4px;
      vertical-align: top;
    }

    i.icon-mail {
      font-size: 12px; /* icon-mail needs to have a smaller font size (than original 16px) because the icon is big in the font */
    }
    a:link, a:visited {
      color: inherit; /* so that the icon is not purple when the "a" tag has an href attribute (link) */
      text-decoration: inherit;
    }
  }
}

// This is so annotator doesn't display a form for user's who aren't allowed
body.js_annotatorUserCannotAddExtract > .textbubble {
  display: none !important;
}

//
.message-replybox {
  .messageSend-body {
    height: $avatarSize+2px; //2px to compensate borders
  }
  padding: {
    right: 0px;
    left: 0px;
  }
}

/* ------------------- Start of message family section ---------------------- */

// @for $i from 1 through 30 {
//     .message[data-message-level="#{$i}"] {                                                                                                                    c
//         padding-left: ((21px * $i) + 5px) - 21px;
//     }
// }

// The arrow
// ------------
.message-family-arrow.noarrow {
  display: block;
  padding-left: $messageFamilyImageWidth/2;
  margin-left: $messageFamilyImageWidth/2;
}

.link-img {
  float: left;
  margin-left: -13px;
  margin-top: 0;
}

.message-family-arrow.arrow {
  padding-left: $messageFamilyImageWidth/2;
  margin-left: $messageFamilyImageWidth/2;
  display: block;
  .link-img {
    cursor: pointer;
  }
  .msg-img-closed {
    display: block;
  }
  .msg-img-open {
    display: none;
  }

  .message--expanded > .message-family-container > & {
    border-left: solid 1px #C7C6C2;
    margin-left: $messageFamilyImageWidth/2 - 1;
    .msg-img-closed {
      display: none;
    }
    .msg-img-open {
      display: block;
    }
  }
  .message--expanded > & {
    border-left: solid 1px #C7C6C2;
    margin-left: $messageFamilyImageWidth/2 - 1;
    .msg-img-closed {
      display: none;
    }
    .msg-img-open {
      display: block;
    }
  }
}

// An empty space for indentation
// --------------
.messagelist-space {
  display: block;
  padding-left: $messageFamilyImageWidth/2;
  margin-left: $messageFamilyImageWidth/2;
}

// The bar to make an .messagelist-item looks like a child
// --------------
.messagelist-bar {
  display: block;
  padding-left: $messageFamilyImageWidth/2;
  margin-left: $messageFamilyImageWidth/2 - 1;
  border-left: solid 1px #C7C6C2;
}

// The link between an messagelist and its parent
// --------------
.message-family-container {
  // background: url(#{$img-dir}/messagelist/messagelist-link.png) -6 top no-repeat;
  display: block;
  position: relative; //So using 100% inside the message works...
  clear: left;
  padding-left: $messageFamilyImageWidth/2;
  margin-left: $messageFamilyImageWidth/2;

  &.root {
    //Root does not have border, bump it right
    margin-left: 0;
  }
  &.child {
    // background: url(#{$img-dir}/messagelist/messagelist-link-last.png) -6 top no-repeat;
    border-left: solid 1px #C7C6C2;
    //Collapse border in the parent's border
    margin-left: $messageFamilyImageWidth/2 - 1;

    &.last-child {
      // background: url(#{$img-dir}/messagelist/messagelist-link-last.png) -6 top no-repeat;
      border-left: none;
      margin-left: $messageFamilyImageWidth/2
    }
  }
}

// ++++
.message-bar.message-bar--vertical {
  position: absolute;
  top: 4px;
  bottom: 0;
  height: auto;

  @for $i from 1 through 30 {

    &[data-bar-level="#{$i}"] {
      left: ((21px * $i) + 5px) - 21px;
    }

  }
}

// The child list
// --------------
.messagelist-children {
  height: 0px;
  overflow: hidden;
  clear: left;

  @include transition(height 0.4s);
  @include transform(translateZ(0));

  height: auto;

  &:empty {
    display: none;
  }

}

/* --------------------- End of message family section ---------------------- */
