// Navigation bar
.navbar {
  @include no-selection;
  @include box-sizing(border-box);
  @include transform(translateZ(0));
  display: block;
  position: relative;
  background-color: $bar-background-color;

  &.navbar-default {
    background: transparent;
    color: white;
    min-height: 35px;
  }

  .navbar-left {
    float: left;
    line-height: 35px;
  }

  .navbar-center {
    width: 612px;
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
    .menu {
      @include border-bottom-left-radius(16px);
      @include border-bottom-right-radius(16px);
      @include background-clip(padding-box);

      list-style: none;
      height: 35px;
      background-color: #484848;
      margin: 0;
      padding: 0;
      li {
        float: left;
        height: 35px;
        width: 140px;
        text-align: center;
        padding: 0 5px 0 5px;
        &.active {
          background-color: #c7c2dd;
          &:first-child {
            @include border-bottom-left-radius(15px);
          }
          &:last-child {
            @include border-bottom-right-radius(15px);
          }
        }
      }
      a {
        color: #ffffff;
        line-height: 30px;
        background: transparent;
      }

      .tab-table-idea, .tab-idea, .tab-messages, .tab-clipboard, .tab-synthesis {
        @include background-clip(padding-box);
      }

      .tab-table-idea {
        margin-right: 4px;
        &:hover {
          @include border-top-right-radius(15px);
          @include border-bottom-left-radius(15px);
          background-color: #c7c2dd;
        }
        &.active{
          @include border-top-right-radius(15px);
          @include border-bottom-left-radius(15px);
        }
      }
      .tab-idea {
        &.active{
          @include border-top-right-radius(15px);
          @include border-top-left-radius(15px);
        }
      }
      .tab-messages, .tab-clipboard {
        margin-right: 4px;
        &:hover {
          @include border-top-right-radius(15px);
          @include border-top-left-radius(15px);
          background-color: #c7c2dd;
        }
        &.active{
          @include border-top-right-radius(15px);
          @include border-top-left-radius(15px);
        }
      }
      .tab-synthesis {
        &:hover {
          @include border-top-left-radius(15px);
          @include border-bottom-right-radius(15px);
          background-color: #c7c2dd;
        }
        &.active{
          @include border-top-left-radius(15px);
        }
      }

    }

  }

  .navbar-right {
    float: right;
    line-height: 35px;
    .connexion {
      @include border-bottom-left-radius(15px);
      background-color: #484848;
      padding-left: 12px;
      cursor: pointer;
      .lang {
        @include border-radius(15px);
        cursor: pointer;
        border: 2px solid #fff;
        padding: 3px;
      }
      a{
        text-decoration: none;
        color:#ffffff;
        margin-right: 10px;
      }
    }
  }
}


.navbar-title {
  box-sizing: border-box;
  height: 20px;
  position: absolute;
  top: 50px;
  bottom: 0;
  left: 12px;
}
