// The synthesis panel specific CSS
// ===========================

#synthesisPanel {
  box-shadow: 1px 1px 2px #666;
  .synthesisIdea-replybox {
      &.hidden {
          display: none;
      }
  }
  #synthesisPanel-ideas {
    .synthesis-idea{
      .panel-editablearea {
        overflow: visible;
        margin: 0;
      }
      .synthesis-expression {
        margin: 0;
        display: inline-block;
        width: 100%;
      }
      .comment {
        font-size: 12px;
        a{
          text-decoration: none;
        }
      }

    }
    .level-0 {
      .synthesis-expression {
        font-weight: bold;
      }
      padding: 0 0 20px 10px;
      margin-top: 30px;
    }

    .level-0, .level-1, .level-2, .level-3 {
      margin-left: 4px;
    }

    .level-1{
      padding-left: 40px;
      padding-bottom: 10px;
    }

    .level-2{
      padding-left: 60px;
    }

    .level-3{
      padding-left: 80px;
    }

    .with-border {
      border-left: 2px solid #CCCCCC;
    }
    .with-no-border {
      border-left:none;
    }

    .panel-arrow {
      position: relative;
      height: 10px;
      width: 10px;
      float: left;
      @include border-radius(15px);
      background-color: #CCCCCC;
      .line-1, .line-2, .line-3 {
        border: 1px solid #CCCCCC;
        position: absolute;
        left: 4px;
        top: 4px;
      }
      .line-1 {
        width: 30px;
      }
      .line-2 {
        width: 50px;
      }
      .line-3 {
        width: 70px;
      }
    }
  }
}
