// The panel
// =========
.groupPanel {
  @include box-sizing(border-box);
  position: relative;
  z-index: 10;
  height: 100%;
  background-color: #fff;
  overflow: hidden;
  .panel-section {
    margin: 0;
    position: relative;
    padding: 0 10px;
    legend {
      height: 1.8em;
      padding: 0;
      font-weight: bold;
      span {
        line-height: 1.8em;
        display: block;
        margin: 0 0.5em 0.5em 0;
      }
    }
  }
  .panel-section:first-child {
    background-color: $theme_idea_header_bg;
    padding: 10px;
    .panel-editablearea {
      background-color: $theme_idea_header_bg;
    }
  }

  .panel-editablebox.is-editing {
    .panel-editablearea {
      color: $black;
      word-break: break-word;
      -ms-word-break: break-word;
      -webkit-hyphens: auto;
      -moz-hyphens: auto;
      hyphens: auto;
    }
  }

}

// When is dragging something on
// ****************
.panel.is-dragover {
}

/* Animations */
@include keyframes(spin) {
  from {
    @include transform(rotate(0deg));
  }
  to {
    @include transform(rotate(360deg));
  }
}

@include keyframes(spinreverse) {
  from {
    @include transform(rotate(0deg));
  }
  to {
    @include transform(rotate(-360deg));
  }
}

@include keyframes(grow) {
  0% {
    @include transform(scaleY(0));
    opacity: 0;
  }
  50% {
    @include transform(scaleY(1));
    opacity: 1;
  }
  100% {
    @include transform(scaleY(0));
    opacity: 0;
  }
}

@include keyframes(shatter) {
  0% {
    @include transform(scale(0));
  }

  50% {
    @include transform(scale(.50));
  }

  65% {
    @include transform(scale(.40));
    background-color: rgba(255, 255, 255, 1);
    border-width: 0px;
  }

  90% {
    background-color: rgba(255, 255, 255, 0);
    opacity: 1;
  }

  100% {
    @include transform(scale(1));
    border-width: 1px;
    background-color: transparent;
    opacity: 0;
  }
}

.animating {
  min-width: 0 !important;
}

// Vertical divisor
// ----------------
.panel-divisor {
}

// The header
// ----------
.panel-header {
  @include no-selection;
  * {
    @include no-selection;
  }
  @include z-index("float");
  height: #{$theme_header_height};
  padding: 0; /* required for minimized state */
  position: relative;
  background-color: $theme_header_panel;
  color: $white;
  border-right: 1px solid $purple5;

  .panel-header-title,
  .panel-header-close {
    line-height: 40px;
    color: $theme_header_panel_text_color;
  }

  .panel-header-title {
    padding: 0 0 0 10px;
    i {
      font-size: 22px;
      color: $theme_header_panel_icon_color;
      margin-right: 2px;
    }
  }
}

.navSidebar .nav .panel-header-minimize,
.panel-header .panel-header-minimize {
  padding: 8px;
  .icon-arrowleft:before, .icon-arrowright:before {
    font-weight: bold !important;
  }
}

// An editable area within the .panel-header
// ----------------
.panel-editablearea {
  @include box-sizing(border-box);
  display: inline-block;
  width: 100%;
  margin: 10px 0;
  cursor: text;
  background-color: white;
  padding: 3px 0 3px 4px;
}

// +++++++
.panel-editablearea.panel-editablearea--small {
  width: auto;
  max-width: 240px;
  white-space: nowrap;
  margin: auto;
}

// The container for an editablearea
// ------------------
.panel-editablebox {
  border: 1px solid transparent;
  position: relative;
  &.is-editing {
    background-color: initial;
    border: 1px solid #ddd;
  }
}

.panel-editablebox.is-editing > div:first-child,
.panel-editablebox.is-editing > div:last-child {
  background: #ddd;
}

.panel-editablearea.canEdit {
  border: 1px solid transparent;
  &:hover {
    @include box-shadow(rgba(0, 0, 0, 0.1) 0px 1px 1px inset);
    border: 1px solid #cccccc;
  }
}

.groupBody .groupPanel .panelContents {
  position: absolute;
  width: 100%;
  @include calc(height, "100vh - #{$theme_header_height} - #{$group_header_height}"); /* retain the height of everything on top of it. probably not the best solution because not dynamic */
}

.groupBody.editable .groupPanel .panelContents {
  @include calc(height, "100vh - #{$theme_header_height} - #{$group_editable_header_height}"); /* retain the height of everything on top of it. probably not the best solution because not dynamic */
}

.groupBody .groupPanel header ~ .panelContents {
  //@include calc(height, "100vh - $theme_header_height - #{$group_header_height}");  need hack safari
  @include calc(height, "100% - #{$theme_header_height} - #{$group_header_height}"); /* retain the height of the header */
}

/* CSS hack to target specificly IE >= 10 (see browserhacks.com). IE uses wrong 100% value in previous rule */
_:-ms-input-placeholder, :root .groupBody .groupPanel header ~ .panelContents {
  @include calc(height, "100vh - #{$theme_header_height} - #{$group_header_height} - 45px");
}

.groupBody.editable .groupPanel header ~ .panelContents {
  //@include calc(height, "100vh - #{$theme_header_height} - #{$group_header_height}"); need hack safari
  @include calc(height, "100% - #{$theme_header_height} - #{$group_header_height}"); /* retain the height of everything on top of it. probably not the best solution because not dynamic */
}

/* CSS hack to target specificly IE >= 10 (see browserhacks.com). IE uses wrong 100% value in previous rule */
_:-ms-input-placeholder, :root .groupBody.editable .groupPanel header ~ .panelContents {
  @include calc(height, "100vh - #{$theme_header_height} - #{$group_editable_header_height} - 45px");
}

.panelContents > div {
  /* probably not the best solution */
  height: 100%;
  //height: 100vh; need hack safari
}

#groupContainer > .groupsContainer {
  width: 100%;
}

// To put the content
// -----------
.panel-body {
  //The scrollbars do not work with position relative
  position: absolute;
  top: 30px;
  right: 0;
  bottom: 0;
  left: 0;
  box-sizing: border-box;
  overflow: auto;
  &:hover {
    //overflow: auto;
  }
  .groupPanel.is-dragover & {
    background-color: $yellow;
  }
}

.panel-body--has-footer {
  bottom: 2px !important;
}

// The footer
// ----------
.panel-footer {
  @extend .panel-header;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  border-top: 1px solid #e4e4e3;
  padding-right: 10px;
  background-color: $white;
}
