// The idea panel specific CSS
// ===========================

.ideaPanel {
  #ideaPanel-section-summary > * {
    //background: url(#{$img-dir}/icon/idea.svg) no-repeat left center;
    //padding-left: 2em;
    //background-size: auto 90%;

  }
  #ideaPanel-section-segments > legend > span {
    //background: #fff url(#{$img-dir}/icon/quotes.svg) no-repeat left center;
    //padding-left: 2em;
    //background-size: auto 90%;
  }
  #ideaPanel-section-synthesis > legend > span {
    //background: #fff url(#{$img-dir}/icon/map.svg) no-repeat left center;
    //padding-left: 2em;
    //background-size: auto 90%;
  }
}

#ideaPanel-shorttitle,
#ideaPanel-definition {
  .panel-editablearea {
    margin: 0px;
    padding: 3px 0px 3px 4px;
  }
}

#ideaPanel-definition .panel-editablearea,
#ideaPanel-longtitle .panel-editablearea {
  padding: 9px 0px 9px 4px;
}

#ideaPanel-shorttitle {
  color: $white;
  font-size: 20px;
  font-style: italic;

  .panel-editablearea, div {
    @extend %icon;
    &:before, &:after {
      font-size: 7px;
      content: '\e805';
      color: $black;
    }
    &:after {
      @include rotate(180);
      margin-left: 13px;
    }
    &:before {
      float: left;
      margin-right: 7px;
    }
  }
}

.ideaPanel-legend {
  //padding-left: 5px;
}