// The panel
// =========
.groupPanel {
  @include box-sizing(border-box);
  position: relative;
  z-index: 10;
  height: 100%;
  border-right: 3px solid $gray1;
  background-color: #fff;
  overflow: hidden;
  fieldset {
    margin: 10px 0;
    position: relative;
    legend {
      height: 1.8em;
      //position: absolute;
      //top: -0.9em; // 1/2 x height
      padding: 0;
      font-weight: bold;
      span {
        line-height: 1.8em;
        display: block;
        margin: 0 0.5em 0.5em 0;
      }
    }
  }

}

// When is dragging something on
// ****************
.panel.is-dragover {
}

// blocked and with a loading message
// ****************
.panel.is-loading {
  cursor: wait;

  &:after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    @include z-index("float");

    display: block;
    content: "";
    background: rgba(0, 0, 0, .15) url(#{$img-dir}/panel/loading.gif) no-repeat center center;
  }
}

/* Animations */
@include keyframes(spin) {
  from {
    @include transform(rotate(0deg));
  }
  to {
    @include transform(rotate(360deg));
  }
}

@include keyframes(spinreverse) {
  from {
    @include transform(rotate(0deg));
  }
  to {
    @include transform(rotate(-360deg));
  }
}

@include keyframes(grow) {
  0% {
    @include transform(scaleY(0));
    opacity: 0;
  }
  50% {
    @include transform(scaleY(1));
    opacity: 1;
  }
  100% {
    @include transform(scaleY(0));
    opacity: 0;
  }
}

@include keyframes(shatter) {
  0% {
    @include transform(scale(0));
  }

  50% {
    @include transform(scale(.50));
  }

  65% {
    @include transform(scale(.40));
    background-color: rgba(255, 255, 255, 1);
    border-width: 0px;
  }

  90% {
    background-color: rgba(255, 255, 255, 0);
    opacity: 1;
  }

  100% {
    @include transform(scale(1));
    border-width: 1px;
    background-color: transparent;
    opacity: 0;
  }
}


// Vertical divisor
// ----------------
.panel-divisor {
}

// The header
// ----------
.panel-header {
  @include no-selection;
  * {
    @include no-selection;
  }
  @include z-index("float");
  height: 35px;
  padding: 0 10px;
  position: relative;
  background-color: $gray3;
  .panel-header-title,
  .panel-header-close {
    line-height: 35px;
  }
}

// An editable area within the .panel-header
// ----------------
.panel-editablearea {
  @extend .text;
  @include box-sizing(border-box);
  @include border-radius(3px);
  display: inline-block;
  width: 100%;
  margin: 10px 0;
  cursor: text;
  background-color: white;
  padding: 3px 0 3px 4px;
  //min-height: 30px;
}

// +++++++
.panel-editablearea.panel-editablearea--small {
  width: auto;
  max-width: 240px;
  white-space: nowrap;
  margin: auto;
}

// The container for an editablearea
// ------------------
.panel-editablebox {
  border: 1px solid transparent;
  position: relative;
  &.is-editing {
    background-color: #dbf2ff;
  }
}

.panel-editablearea.canEdit {
  border: 1px solid transparent;
  &:hover {
    @include box-shadow(rgba(0, 0, 0, 0.1) 0px 1px 1px inset);
    border: 1px solid #cccccc;
  }
}

.groupBody .groupPanel .panelContents {
  /*height: 100%;*/
  height: calc(100vh - 38px); /* retain the height of everything on top of it. probably not the best solution because not dynamic */
}

.groupBody.editable .groupPanel .panelContents {
  height: calc(100vh - 60px); /* retain the height of everything on top of it. probably not the best solution because not dynamic */
}

.groupBody .groupPanel header ~ .panelContents {
  height: calc(100% - 35px); /* retain the height of the header */
}

.panelContents > div {
  /* probably not the best solution */
  height: 100%;
}

.groupPanel {
  @for $panel_width from 1 through $min_num_grid_units {
    &.panelGridWidth-#{$panel_width} {
      width: floor($grid_unit_min_size * $panel_width);
    }
  }
  .groupContent {
    @for $group_width from 1 through $max_group_unit_size {
      &.groupGridSize-#{$group_width} {
        width: floor($grid_unit_min_size * $group_width);
      }
    }
  }
}


@for $screen_grid_size from $min_num_grid_units  through ($max_num_grid_units) {
  @media (min-width: floor($grid_unit_min_size * $screen_grid_size) + 1px ) {
    #groupsContainer.allGroupsGridSize-#{$screen_grid_size} {
      .groupPanel {
        @for $panel_width from 1 through min($max_panel_unit_size, $screen_grid_size) {
          &.panelGridWidth-#{$panel_width} {
            width: 100% * $panel_width / $screen_grid_size;
          }
        }
      }
      .groupContent {
        @for $group_width from 1 through min($max_group_unit_size, $screen_grid_size) {
          &.groupGridSize-#{$group_width} {
            width: 100% * $group_width / $screen_grid_size;
          }
        }
      }
    }
  }
}

// To put the content
// -----------
.panel-body {
  //The scrollbars do not work with position relative
  position: absolute;
  top: 30px;
  right: 0;
  bottom: 1px;
  left: 0;
  box-sizing: border-box;
  //overflow-y: auto;
  //overflow-x: hidden;
  overflow: hidden;
  &:hover {
    overflow: auto;
  }
  .groupPanel.is-dragover & {
    background-color: $yellow;
  }
}

.panel-body--has-footer {
  bottom: 36px !important;
}

// dropzone above the panel-body
// -------
.panel-bodyabove {
  //Currently non-functionnal, disabling: benoitg-2014-05-14
  display: none;
  @include z-index("float");

  position: absolute;
  top: 30px;
  right: 0;
  left: 0;
  height: 10px;
}

// dropzone below the panel-body
// -------
.panel-bodybelow {
  //Currently non-functionnal, disabling: benoitg-2014-05-14
  display: none;
  @include z-index("float");

  position: absolute;
  bottom: 30px;
  right: 0;
  left: 0;
  height: 15px;
}

// The footer
// ----------
.panel-footer {
  @extend .panel-header;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  border-top: 1px solid #e4e4e3;
  padding-right: 10px;
  background-color: $white;
}
