// The idea panel specific CSS
// ===========================

.ideaPanel {
  .panel-body {
    padding: 16px 16px
  }
  #ideaPanel-section-summary > * {
    //background: url(#{$img-dir}/icon/idea.svg) no-repeat left center;
    //padding-left: 2em;
    //background-size: auto 90%;

  }
  #ideaPanel-section-segments > legend > span {
    //background: #fff url(#{$img-dir}/icon/quotes.svg) no-repeat left center;
    //padding-left: 2em;
    //background-size: auto 90%;
  }
  #ideaPanel-section-synthesis > legend > span {
    //background: #fff url(#{$img-dir}/icon/map.svg) no-repeat left center;
    //padding-left: 2em;
    //background-size: auto 90%;
  }
}

#ideaPanel-shorttitle,
#ideaPanel-definition {
  .panel-editablearea {
    margin: 0px;
    padding: 8px 6px 8px 8px;
  }
}

#ideaPanel-definition .panel-editablearea,
#ideaPanel-longtitle .panel-editablearea {
  padding: 9px 0px 9px 4px;
}
