// The panel
// =========
.panel {
    position: relative;

    @include box-sizing( border-box );
    height: 100%;

    border: solid 1px #e4e4e3;
    @include border-radius( 5px );
}

// The header
// ----------
.panel-header {
    line-height: $panel-header-height;
    height: $panel-header-height;
    padding: { left: $padding; right: $padding; };

    background-color: $panel-header-bg-color;
    @include border-radius( 5px 5px 0 0 );
}

// To put the content
// -----------
.panel-body {
    background-color: #fff;   
}

// The footer
// ----------
.panel-footer {
    @extend .panel-header;
    @include border-radius( 0 0 5px 5px );
}

/*
// Panel
// ============
.panel {
    float: left;
    @include box-sizing( border-box );

    width: 100%;
    padding: $padding $padding/2;

    [data-panel-qty="2"] & {
        width: 50%;
    }

    [data-panel-qty="3"] & {
        width: 33.3%;
    }

    [data-panel-qty="4"] & {
        width: 25%;
    }
}

// When it is open
// +++++++++++++++
.panel.is-open {

}

// Panel body
// ----------------
.panel-body {
    max-height: 300px;
    overflow-y: auto;

    background-color: #fff;
    border: solid 1px $box-border-color;
}

*/
