// The synthesis panel specific CSS
// ===========================

#synthesisPanel {
  box-shadow: 1px 1px 2px #666;
  .synthesisIdea-replybox {
      &.hidden {
          display: none;
      }
  }
  #synthesisPanel-ideas {
    .synthesis-idea{
      .panel-editablearea {
        overflow: visible;
        margin: 0;
      }
      .synthesis-expression {
        margin: 0;
        display: inline-block;
        width: auto;
      }
      .comment {
        font-size: 12px;
        a{
          text-decoration: none;
        }
      }

    }
    .level-0 {
      font-weight: bold;
    }
    .level1{

    }
    .level2{

    }
    table {
      border-collapse:collapse;
      .td-1 {
        width: 60px;
      }
    }
  }
}
