

// The panel
// =========
.panel {
  @include box-sizing( border-box );
    position: relative;
    z-index: 10;
    height: 100%;
    border: 1px solid #d9d9d9;
    background-color: #fff;
    overflow: hidden;
    fieldset {
        margin: 10px 0;
        //padding-top: 1.4em; //height of the legend + 0.5em
        position: relative;
        legend {
            height: 1.8em;
            position: absolute;
            top: -0.9em; // 1/2 x height
            padding: 0;
            font-weight: bold;
            span {
                line-height: 1.8em;
                display: block;
                margin: 0 0.5em 0.5em 0;
            }
        }
    }

}

// When is dragging something on
// ****************
.panel.is-dragover {}

// blocked and with a loading message
// ****************
.panel.is-loading {
    cursor: wait;

    &:after {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        @include z-index("float");

        display: block;
        content: "";

        @include border-radius( 5px );
        background: rgba( 0, 0, 0, .15 ) url(#{$img-dir}/panel/loading.gif) no-repeat center center;
    }
}

// Vertical divisor
// ----------------
.panel-divisor {}

// The header
// ----------
.panel-header {
  @include no-selection;
  * { @include no-selection; }
  @include z-index("float");
  line-height: $panel-header-height;
  height: $panel-header-height;
  padding: 0 5px;
  border-bottom: solid 1px $panel-border-color;
  position: relative;

}

// An editable area within the .panel-header
// ----------------
.panel-editablearea {
    @extend .text;
    @include box-sizing( border-box );
    display: inline-block;
    width: 100%;
    border-radius: 4px;
    margin: 10px 0;
    cursor: text;
    background-color: white;
    min-height: 30px;
}

// +++++++
.panel-editablearea.panel-editablearea--small {
    width: auto;
    max-width: 240px;
    white-space: nowrap;
    margin: auto;
}

// The container for an editablearea
// ------------------
.panel-editablebox {
  border:1px solid transparent;
  position: relative;
  &.is-editing {
      background-color: #dbf2ff;
  }
}

.panel-editablearea.canEdit{
  border:1px solid transparent;
  &:hover {
    @include box-shadow(rgba(0, 0, 0, 0.1) 0px 1px 1px inset);
    border:1px solid #cccccc;
  }
}

// To put the content
// -----------
.panel-body {
    //The scrollbars do not work with position relative
    position: absolute;
    top: $panel-header-height;
    right: 0;
    bottom: 0;
    left: 0;
    overflow-y: auto;
    overflow-x: hidden;
    box-sizing: border-box;

    .panel.is-dragover & {
        background-color: $dragbox-background-color;
    }
}

.panel-body--has-footer {
  //bottom: $panel-header-height;
}

// dropzone above the panel-body
// -------
.panel-bodyabove {
    //Currently non-functionnal, disabling: benoitg-2014-05-14
    display: none;
    @include z-index("float");

    position: absolute;
    top: $panel-header-height;
    right: 0;
    left: 0;
    height: 10px;
}

// dropzone below the panel-body
// -------
.panel-bodybelow {
    //Currently non-functionnal, disabling: benoitg-2014-05-14
    display: none;
    @include z-index("float");

    position: absolute;
    bottom: $panel-header-height;
    right: 0;
    left: 0;
    height: 15px;
}

// The footer
// ----------
.panel-footer {
    @extend .panel-header;
    //position: absolute;
    //right: 0;
    //bottom: 0;
    //left: 0;
    border-top: 1px solid #e4e4e3;
    padding-right: $padding-right;
    @include border-radius( 0 0 5px 5px );
    background-color: #FFFFFF;
}
