// Post it notes
// =============
   
$postit-color-dark: rgba(255,255,126,1);
$postit-color-light: rgba(255,255,160,1);

// A wrapper for two or more .postit
// ====================
div.postitlist {
    > div.postit {
        overflow: visible;
        min-width: 200px; //Width from the shadow below.  
        margin: 1em;    
        padding: 1em;
        position:relative;   
        border-right: 1px solid #E8E8E8;  
        border-bottom: 1px solid #E8E8E8;  
        border-top: 0px none $postit-color-dark;
        border-left: 0px none $postit-color-dark;  
        @include border-bottom-right-radius(5px);
        display: block;
        background: $postit-color-dark;
        @include background(
                      linear-gradient(top, $postit-color-dark, $postit-color-dark 40px, transparent 40px),
                      linear-gradient(top left, $postit-color-light, $postit-color-dark)
                      );

        &:after {
            content: "";
            position:absolute;
            z-index:-1;
            right:-0px; bottom:20px;
            width:200px;
            height: 25px;
            background: rgba(0, 0, 0, 0.2);
            @include box-shadow(2px 15px 5px rgba(0, 0, 0, 0.40) );
            @include transform( matrix(-1, -0.1, 0, 1, 0, 0) );
        }
        
        .closebutton {
            top: 10px;
            right: 10px;
        }
        .postit-footer {
            width: 100%;
            position: relative;
            
            .segment-author {
                > img {
                    float: left;
                    margin-right: 0.5em;
                }
                display: inline-block;
                vertical-align: bottom;
                padding-right: 1em;
                max-width: 65%;
            }
            
            .segment-harvester {
                display: inline-block;
                position: absolute;
                bottom: 0px;
                right: 0px;
                max-width: 35%;
                vertical-align: bottom;
            }
        }
    }
}
