// The commun output for a text
// ======================
.text {
    color: $text-color;
    font-size: 14px;
    font-family: "Myriad Pro";
}

.text-selection {
    background-color: $text-selection-color;
}

.bubble {
    position: absolute;
    border: solid 1px red;
    cursor: pointer;
    background-color: white;
}
