// The commun output for a text
// ======================
.text {
    color: $text-color;
    font-size: 14px;
    font-family: "Myriad Pro";
}

// The text bubble for when a text is selected
// ====================
.textbubble {
    position: absolute;

    background: white url(#{$img-dir}/text/textbubble.png) no-repeat center right;
    background-origin: content-box;
    opacity: 0.7;

    cursor: pointer;
    border: solid 4px #d3d3d6;
    border-radius: 6px;
    
    width: 150px;
    padding: 5px;

    &:hover {
        opacity: 1;
    }

    &:after,
    &:before {
        top: 100%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
    }

    &:after {
        border-color: rgba(211, 211, 214, 0);
        border-top-color: #d3d3d6;
        border-width: 10px;
        left: 50%;
        margin-left: -10px;
    }
    &:before {
        border-color: rgba(211, 211, 214, 0);
        border-top-color: #d3d3d6;
        border-width: 16px;
        left: 50%;
        margin-left: -16px;
    }

}
