// Tooltip element
// ============================
.tooltip {
    position: relative;
    display: inline-block;
    line-height: 20px;
  padding: 3px 5px;
    text-align: center;
  border: solid 1px transparent;
  color: $white;
  font-size: 11px;
  background-color: #565656;
    @include box-shadow(0 3px 3px rgba(0,0,0,.15));
  @include border-radius(3px);

    &:after, &:before {
        bottom: 100%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
    }

    &:after {
        border-color: rgba(252, 248, 227, 0);
      border-bottom-color: #565656;
        border-width: 8px;
        left: 50%;
        margin-left: -8px;
    }

    &:before {
        border-color: rgba(240, 195, 109, 0);
      border-bottom-color: #565656;
        border-width: 9px;
        left: 50%;
        margin-left: -9px;
    }
}

// Put the arrow on the right
// ++++++++++++++++++++
.tooltip.tooltip--right {


    &:after, &:before {
        bottom: auto;
        left: 100%;
        border-bottom-color: 0;
    }

    &:after {
        top: 50%;
        margin-top: -8px;
        border-left-color: $yellow;
    }

    &:before {
        top: 50%;
        margin-top: -9px;
        border-left-color: $yellow;
    }
    
}
