/* line 13, base/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, base/_reset.scss */
html {
  line-height: 1;
}

/* line 26, base/_reset.scss */
html, body {
  overflow-x: hidden;
}

/* line 30, base/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 34, base/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 39, base/_reset.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 45, base/_reset.scss */
q, blockquote {
  quotes: none;
}

/* line 49, base/_reset.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 54, base/_reset.scss */
a img {
  border: none;
}

/* line 58, base/_reset.scss */
img {
  vertical-align: middle;
}

/* line 62, base/_reset.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 66, base/_reset.scss */
.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}

/* line 1, base/_common.scss */
html {
  font-family: Arial, sans-serif;
  font-size: 14px;
}

/* line 6, base/_common.scss */
.margin {
  margin: 10px;
}

/* line 7, base/_common.scss */
.margin-top {
  margin-top: 10px;
}

/* line 8, base/_common.scss */
.margin-right {
  margin-right: 10px;
}

/* line 9, base/_common.scss */
.margin-bottom {
  margin-bottom: 10px;
}

/* line 10, base/_common.scss */
.margin-left {
  margin-left: 10px;
}

/* line 19, components/_accordion.scss */
.accordion-header {
  position: relative;
  background-color: rgba(245, 245, 245, 0);
  -webkit-box-shadow: inset 0 2px rgba(255, 255, 255, 0.15);
  -moz-box-shadow: inset 0 2px rgba(255, 255, 255, 0.15);
  box-shadow: inset 0 2px rgba(255, 255, 255, 0.15);
  border: solid 1px #2d2d2d;
  background-image: -ms-linear-gradient(top, #717171, #585858);
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #717171), color-stop(100%, #585858));
  background-image: -webkit-linear-gradient(top, #717171, #585858);
  background-image: -moz-linear-gradient(top, #717171, #585858);
  background-image: -o-linear-gradient(top, #717171, #585858);
  background-image: linear-gradient(top, #717171, #585858);
  height: 45px;
  line-height: 45px;
  color: #fff;
  cursor: pointer;
}
/* line 31, components/_accordion.scss */
.accordion-area.is-open .accordion-header {
  background-color: rgba(52, 52, 52, 0);
  background-image: -ms-linear-gradient(bottom, #5c6f91, #738bb5);
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #5c6f91), color-stop(100%, #738bb5));
  background-image: -webkit-linear-gradient(bottom, #5c6f91, #738bb5);
  background-image: -moz-linear-gradient(bottom, #5c6f91, #738bb5);
  background-image: -o-linear-gradient(bottom, #5c6f91, #738bb5);
  background-image: linear-gradient(bottom, #5c6f91, #738bb5);
  font-weight: bold;
}
/* line 38, components/_accordion.scss */
.accordion--lateralmenu .accordion-header {
  padding-left: 50px;
  padding-right: 30px;
}

/* line 45, components/_accordion.scss */
.accordion-label {
  display: inline-block;
  padding-left: 42px;
  line-height: 32px;
}

/* line 53, components/_accordion.scss */
.accordion-counter {
  position: absolute;
  top: 50%;
  right: 30px;
  margin-top: -11.5px;
  display: inline-block;
  min-width: 30px;
  line-height: 23px;
  text-align: center;
  font-size: 12px;
  margin-left: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 3px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  background-color: rgba(96, 96, 96, 0);
  -webkit-box-shadow: 0 1px rgba(249, 255, 255, 0.18), inset 0 1px rgba(0, 0, 0, 0.35), inset 0 0 5px rgba(0, 0, 0, 0.11);
  -moz-box-shadow: 0 1px rgba(249, 255, 255, 0.18), inset 0 1px rgba(0, 0, 0, 0.35), inset 0 0 5px rgba(0, 0, 0, 0.11);
  box-shadow: 0 1px rgba(249, 255, 255, 0.18), inset 0 1px rgba(0, 0, 0, 0.35), inset 0 0 5px rgba(0, 0, 0, 0.11);
  background-image: -ms-linear-gradient(bottom, rgba(0, 0, 0, 0.02), rgba(0, 0, 0, 0.05));
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, rgba(0, 0, 0, 0.02)), color-stop(100%, rgba(0, 0, 0, 0.05)));
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.02), rgba(0, 0, 0, 0.05));
  background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.02), rgba(0, 0, 0, 0.05));
  background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.02), rgba(0, 0, 0, 0.05));
  background-image: linear-gradient(bottom, rgba(0, 0, 0, 0.02), rgba(0, 0, 0, 0.05));
}

/* line 79, components/_accordion.scss */
.accordion-body {
  background-color: #313131;
  overflow: hidden;
  height: 0;
  -webkit-transition: height 0.4s ease;
  -moz-transition: height 0.4s ease;
  -o-transition: height 0.4s ease;
  transition: height 0.4s ease;
}

/* line 9, components/_bar.scss */
.bar {
  display: block;
  text-align: center;
  height: 55px;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  background-color: #fcfbf7;
  border-top: solid 1px #e4e4e3;
  border-bottom: solid 1px #e4e4e3;
}
/* line 21, components/_bar.scss */
.bar:after, .bar:before {
  content: '';
  display: block;
  position: absolute;
  top: -1px;
  left: 100%;
  bottom: -1px;
  background: inherit;
  border: inherit;
  width: 9999px;
}
/* line 35, components/_bar.scss */
.bar:before {
  left: auto;
  right: 100%;
}

/* line 43, components/_bar.scss */
.bar.bar--main {
  background-image: -ms-linear-gradient(bottom, #2c2c2c, #444444);
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #2c2c2c), color-stop(100%, #444444));
  background-image: -webkit-linear-gradient(bottom, #2c2c2c, #444444);
  background-image: -moz-linear-gradient(bottom, #2c2c2c, #444444);
  background-image: -o-linear-gradient(bottom, #2c2c2c, #444444);
  background-image: linear-gradient(bottom, #2c2c2c, #444444);
  color: white;
  border-top-color: transparent;
  border-bottom-color: transparent;
}

/* line 52, components/_bar.scss */
.bar.bar--title {
  background-color: rgba(238, 113, 77, 0);
  -webkit-box-shadow: inset 0 2px rgba(255, 255, 253, 0.2);
  -moz-box-shadow: inset 0 2px rgba(255, 255, 253, 0.2);
  box-shadow: inset 0 2px rgba(255, 255, 253, 0.2);
  border-top: solid 1px #8d88a6;
  border-bottom: solid 1px #8d88a6;
  background-image: -ms-linear-gradient(bottom, #afa8cf, #c7c2dd);
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #afa8cf), color-stop(100%, #c7c2dd));
  background-image: -webkit-linear-gradient(bottom, #afa8cf, #c7c2dd);
  background-image: -moz-linear-gradient(bottom, #afa8cf, #c7c2dd);
  background-image: -o-linear-gradient(bottom, #afa8cf, #c7c2dd);
  background-image: linear-gradient(bottom, #afa8cf, #c7c2dd);
  font-size: 18px;
  color: #2c2c2c;
}

/* line 64, components/_bar.scss */
.bar.bar--simple {
  height: 29px !important;
  line-height: 29px !important;
  background-color: #e5e5e5;
  border-top: solid 1px #ccc;
  border-bottom: solid 1px #ccc;
}

/* line 73, components/_bar.scss */
.bar-left, .bar-right {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  height: 55px;
  line-height: 55px;
  position: absolute;
  padding: 10px 5px;
  top: 0;
  bottom: 0;
  left: 0;
}
/* line 84, components/_bar.scss */
.bar--simple .bar-left, .bar--simple .bar-right {
  height: 29px;
  line-height: 29px;
}

/* line 92, components/_bar.scss */
.bar-right {
  right: 0;
  left: auto;
  text-align: right;
}

/* line 101, components/_bar.scss */
.bar-center {
  text-align: center;
  display: block;
  height: 55px;
  line-height: 55px;
}
/* line 107, components/_bar.scss */
.bar--simple .bar-center {
  height: 29px !important;
  line-height: 29px !important;
}

/* line 1, components/_button.scss */
.button, .iconbutton, .arrowbutton {
  border: solid 1px transparent;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
}

/* line 11, components/_button.scss */
.button {
  padding: 4px 12px;
}

/* line 19, components/_button.scss */
.button:hover {
  border: solid 1px rgba(0, 0, 0, 0.7);
  box-shadow: gba(255, 255, 255, 0.2) 0px 1px 0px 0px inset;
  text-decoration: none;
}

/* line 28, components/_button.scss */
.iconbutton {
  position: relative;
  display: inline-block;
  width: 32px;
  height: 32px;
}

/* line 40, components/_button.scss */
.iconbutton-badge {
  position: absolute;
  top: -8px;
  right: -8px;
  width: 16px;
  height: 16px;
  line-height: 16px;
  background-color: #ee7f4e;
  border-radius: 3px;
  color: white;
  font-size: 10px;
  text-align: center;
}

/* line 59, components/_button.scss */
.arrowbutton {
  position: relative;
  margin: 5px 0;
  line-height: 36px;
  height: 36px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 10px 0 5px;
  margin-left: 14px;
  background-color: rgba(129, 133, 139, 0);
  background-image: -ms-linear-gradient(bottom, #afa8cf, #c7c2dd);
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #afa8cf), color-stop(100%, #c7c2dd));
  background-image: -webkit-linear-gradient(bottom, #afa8cf, #c7c2dd);
  background-image: -moz-linear-gradient(bottom, #afa8cf, #c7c2dd);
  background-image: -o-linear-gradient(bottom, #afa8cf, #c7c2dd);
  background-image: linear-gradient(bottom, #afa8cf, #c7c2dd);
  -webkit-box-shadow: 0 1px rgba(255, 255, 255, 0.15), inset 0 2px rgba(255, 255, 253, 0.2);
  -moz-box-shadow: 0 1px rgba(255, 255, 255, 0.15), inset 0 2px rgba(255, 255, 253, 0.2);
  box-shadow: 0 1px rgba(255, 255, 255, 0.15), inset 0 2px rgba(255, 255, 253, 0.2);
  color: white;
  border: solid 1px #8d88a6;
  border-radius: 0 4px 4px 0;
}
/* line 77, components/_button.scss */
.arrowbutton:before {
  content: url(/static/img/button/arrowbutton.png);
  position: absolute;
  top: -1px;
  left: -14px;
}

/* line 87, components/_button.scss */
.arrowbutton.arrowbutton--right {
  border-radius: 4px 0 0 4px;
  margin-left: 0;
  margin-right: 14px;
}
/* line 92, components/_button.scss */
.arrowbutton.arrowbutton--right:before {
  display: none;
}
/* line 96, components/_button.scss */
.arrowbutton.arrowbutton--right:after {
  content: url(/static/img/button/arrowbutton.png);
  position: absolute;
  top: -1px;
  right: -14px;
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

/* line 4, components/_grid.scss */
.container {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: auto;
  width: 980px;
}
/* line 9, components/_grid.scss */
.container .container {
  max-width: 100.1%;
}
@media (min-width: 768px) and (max-width: 979px) {
  /* line 4, components/_grid.scss */
  .container {
    width: 724px;
  }
}

/* line 18, components/_grid.scss */
.row {
  overflow: hidden;
  *zoom: 1;
  margin-left: -2.762430939%;
}

/* line 25, components/_grid.scss */
.col {
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-left: 2.762430939%;
  width: 100%;
}

/* line 32, components/_grid.scss */
.col-1 {
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-left: 2.762430939%;
  width: 5.5709%;
}

/* line 32, components/_grid.scss */
.col-2 {
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-left: 2.762430939%;
  width: 13.90424%;
}

/* line 32, components/_grid.scss */
.col-3 {
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-left: 2.762430939%;
  width: 22.23757%;
}

/* line 32, components/_grid.scss */
.col-4 {
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-left: 2.762430939%;
  width: 30.5709%;
}

/* line 32, components/_grid.scss */
.col-5 {
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-left: 2.762430939%;
  width: 38.90424%;
}

/* line 32, components/_grid.scss */
.col-6 {
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-left: 2.762430939%;
  width: 47.23757%;
}

/* line 32, components/_grid.scss */
.col-7 {
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-left: 2.762430939%;
  width: 55.5709%;
}

/* line 32, components/_grid.scss */
.col-8 {
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-left: 2.762430939%;
  width: 63.90424%;
}

/* line 32, components/_grid.scss */
.col-9 {
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-left: 2.762430939%;
  width: 72.23757%;
}

/* line 32, components/_grid.scss */
.col-10 {
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-left: 2.762430939%;
  width: 80.5709%;
}

/* line 32, components/_grid.scss */
.col-11 {
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-left: 2.762430939%;
  width: 88.90424%;
}

/* line 32, components/_grid.scss */
.col-12 {
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-left: 2.762430939%;
  width: 100%;
}

/*
[class|="icon"] {
    display: inline-block;
    width: $icon-width;
    height: $icon-height;
    vertical-align: middle;
}
*/
/* line 122, icon/*.png */
.icon-sprite, .icon-book, .icon-check, .icon-cog, .icon-file, .icon-grave, .icon-power, .icon-question, .icon-reorder, .icon-search, .icon-settings, .icon-user {
  background: url('/static/img/sprites/icon-sd18678bec3.png') no-repeat;
}

/* line 60, ../../../../../../Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-book {
  background-position: 0 -224px;
}

/* line 60, ../../../../../../Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-check {
  background-position: 0 -128px;
}

/* line 60, ../../../../../../Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-cog {
  background-position: 0 0;
}

/* line 60, ../../../../../../Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-file {
  background-position: 0 -288px;
}

/* line 60, ../../../../../../Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-grave {
  background-position: 0 -160px;
}

/* line 60, ../../../../../../Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-power {
  background-position: 0 -192px;
}

/* line 60, ../../../../../../Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-question {
  background-position: 0 -256px;
}

/* line 60, ../../../../../../Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-reorder {
  background-position: 0 -320px;
}

/* line 60, ../../../../../../Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-search {
  background-position: 0 -32px;
}

/* line 60, ../../../../../../Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-settings {
  background-position: 0 -96px;
}

/* line 60, ../../../../../../Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-user {
  background-position: 0 -64px;
}

/* line 1, components/_image.scss */
.image-rounded {
  border-radius: 4px;
}

/* line 2, layout/_content.scss */
#wrapper {
  position: relative;
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition: -webkit-transform 0.6s;
  -moz-transition: -moz-transform 0.6s;
  -o-transition: -o-transform 0.6s;
  transition: transform 0.6s;
}
/* line 9, layout/_content.scss */
.is-lateralmenu-open #wrapper {
  -webkit-transform: translateX(453px);
  -moz-transform: translateX(453px);
  -ms-transform: translateX(453px);
  -o-transform: translateX(453px);
  transform: translateX(453px);
}

/* line 1, layout/_lateralmenu.scss */
.lateralmenu {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  -webkit-transform: translateX(-453px);
  -moz-transform: translateX(-453px);
  -ms-transform: translateX(-453px);
  -o-transform: translateX(-453px);
  transform: translateX(-453px);
  background-color: #202020;
  overflow: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 453px;
  -webkit-transition: -webkit-transform 0.6s;
  -moz-transition: -moz-transform 0.6s;
  -o-transition: -o-transform 0.6s;
  transition: transform 0.6s;
  z-index: 2;
}

/* line 26, layout/_lateralmenu.scss */
.lateralmenu.is-open, body.is-lateralmenu-open .lateralmenu {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}

/* line 33, layout/_lateralmenu.scss */
.searchbox, .avatarbox {
  height: 72px;
  line-height: 72px;
  padding: 0 50px;
  -webkit-box-shadow: 0 1px rgba(255, 255, 255, 0.1), inset 0 1px rgba(138, 138, 138, 0.3);
  -moz-box-shadow: 0 1px rgba(255, 255, 255, 0.1), inset 0 1px rgba(138, 138, 138, 0.3);
  box-shadow: 0 1px rgba(255, 255, 255, 0.1), inset 0 1px rgba(138, 138, 138, 0.3);
  border-top: solid 1px #2d2d2d;
  border-bottom: solid 1px #2d2d2d;
  background-color: rgba(52, 52, 52, 0);
  background-image: -ms-linear-gradient(top, #717171, #585858);
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #717171), color-stop(100%, #585858));
  background-image: -webkit-linear-gradient(top, #717171, #585858);
  background-image: -moz-linear-gradient(top, #717171, #585858);
  background-image: -o-linear-gradient(top, #717171, #585858);
  background-image: linear-gradient(top, #717171, #585858);
  color: #202020;
  font-weight: bold;
}

/* line 49, layout/_lateralmenu.scss */
.searchbox-field {
  padding: 0 32px 0 10px;
  width: 303px;
  height: 36px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  background: rgba(55, 55, 55, 0.67) url(/static/img/icon/search.png) right center no-repeat;
  font-size: 16px;
  color: white;
}

/* line 64, layout/_lateralmenu.scss */
.avatarbox {
  height: 52px;
  line-height: 52px;
}
