.nav>li>a:focus, .nav>li>a:hover {
    background-color: transparent;
}

.custom-header{
    background-color: #ffffff;
    border-radius: 0;
    border-color: transparent;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
    margin-bottom: 0;
    .custom-header-menu{
        min-height: 50px;
        &.active-menu{
          border-bottom: 3px solid #b36fe0;
        }
    }
}
