
_extends = base_env.rc
_projectpath = /opt/assembl
_venvpath = /opt/assembl/venv
_dbdumps_dir = /opt/assembl/assembl_dumps
db_password = __delete_key__
public_hostname = assembl.cloud
_hosts = localhost
_postgres_db_password = 

*db_host = database
smtp_host = localhost
imap_host = localhost
piwik_host = piwik
*sentry_host = sentry
redis_host = redis
memcached_host = memchached
elasticsearch_host = elasticsearch
nginx_host = web

# for now
uses_global_supervisor = false

# Replace with your company information
saml_country = FR
saml_state = Hauts-de-Seine
saml_locality = Levallois-Perret
saml_org = Bluenove
saml_email = assembl@bluenove.com
