backports.functools-lru-cache==1.3
beautifulsoup4==4.5.3
configparser==3.5.0
gevent==1.1.2
greenlet==0.4.11
inflect==0.2.5
irc==15.0.4
jaraco.apt==1.0
jaraco.classes==1.4
jaraco.collections==1.5
jaraco.context==1.5.2
jaraco.functools==1.15.1
jaraco.itertools==2.0
jaraco.logging==1.5
jaraco.text==1.8
jaraco.timing==1.2.2
konfig==0.9
loads==0.3
more-itertools==2.3
Paste==2.0.3
psutil==5.0.0
pytz==2016.10
pyzmq==16.0.1
requests==2.9.1
six==1.10.0
tempora==1.6.1
ujson==1.35
waitress==1.0.2
WebOb==1.7.1
WebTest==2.0.25
ws4py==0.3.5
WSGIProxy==0.2.2
WSGIProxy2==0.4.2
yg.lockfile==2.1.1
zc.lockfile==1.2.1
