backports.functools-lru-cache==1.2.1
beautifulsoup4==4.4.1
configparser==3.5.0b2
gevent==1.1b5
greenlet==0.4.9
inflect==0.2.5
irc==12.3
jaraco.apt==1.0
jaraco.classes==1.3
jaraco.collections==1.3.1
jaraco.context==1.3
jaraco.functools==1.8.1
jaraco.itertools==1.7.1
jaraco.logging==1.3.1
jaraco.text==1.6.3
jaraco.timing==1.1.5
konfig==0.9
loads==0.3.1
more-itertools==2.2
Paste==2.0.2
psutil==3.4.2
pytz==2015.6
pyzmq==15.2.0
requests==2.9.1
six==1.10.0
tempora==1.4
ujson==1.35
waitress==0.8.10
WebOb==1.5.1
WebTest==2.0.20
wheel==0.26.0
ws4py==0.3.4
WSGIProxy==0.2.2
WSGIProxy2==0.4.2
yg.lockfile==2.1
yolk3k==0.8.7
zc.lockfile==1.1.0
