backports.functools-lru-cache (1.0.3)
beautifulsoup4 (4.4.1)
configparser (3.5.0b2)
gevent (1.1b5)
greenlet (0.4.9)
inflect (0.2.5)
irc (12.3)
jaraco.apt (1.0)
jaraco.classes (1.2)
jaraco.collections (1.1)
jaraco.context (1.3)
jaraco.functools (1.6)
jaraco.itertools (1.5.1)
jaraco.logging (1.2)
jaraco.text (1.4)
jaraco.timing (1.1.5)
konfig (0.9)
loads (0.3.1)
more-itertools (2.2)
Paste (2.0.2)
pip (7.1.2)
psutil (3.2.2)
pytz (2015.6)
pyzmq (14.7.0)
requests (2.8.1)
setuptools (18.4)
six (1.10.0)
tempora (1.3)
ujson (1.33)
waitress (0.8.10)
WebOb (1.5.0)
WebTest (2.0.18)
wheel (0.26.0)
ws4py (0.3.4)
WSGIProxy (0.2.2)
WSGIProxy2 (0.3)
yg.lockfile (2.1)
yolk3k (0.8.7)
zc.lockfile (1.1.0)
