<div class="phm pvxs"><!-- we use a padding here to compensate the margin created by the following h3, which is not included in the computation of the height of the accordion element => so the accordion bottom position is preserved -->
	<!-- h3 class="mvs">{{ gettext('How it works') }}</h3>

	<div>
	{{ gettext('<p>How to participate in the discussion "%(debate_name)s":</p>
	<ol>
		<li>Explore the discussions using the ideas that have already emerged</li>
		<li>Join in the conversation by replying directly to the contributions of participants</li>
		<li>Start a new topic of discussion if you wish to rejuvenate the discussion around a particular idea</li>
	</ol>
	<p>How the process works:</p>
	<ol>
		<li>As you contribute, Harvesters will select the key ideas from your messages – they are here to make sure your contributions get noticed</li>
		<li>Based on these ideas, they will reorganize the ideas into a table of contents of the ideas shared</li>
	</ol>')|format(debate_name=discussion.topic)|safe }}
	</div -->

	<h3 class="mtl mbs">{{ gettext('Join the discussions') }}</h3>

	<p>{{ gettext('Your opinion deserves to be heard') }}</p>

	<div class="mvxl bac tac">
		<input type="submit" value="{{ gettext('Read the discussions') }}" class="btn btn-secondary btn-sm js_go-to-debate" />
	</div>

	<div class="hidden">
		<a href="#" class="js_test_stuff_analytics" style='display: block; margin-top: 30px;'>Click me to test analytics</a>

		<div style="display: block; margin-top: 30px;">
			<a href="#" class="js_trackInteractionExample">{{ gettext("Content to be tracked!") }}</a>
		</div>>
	</div>
</div>
