<div class="bx bx-default">
  <div class="gr">
    <div class="js_source_read"></div>
  </div>
  <div class="js_source_edit_container hidden">
    <div class="bx bx-default">
        <div class="gr">
            <div class="">
                <h2 class="h2 mbxl dispb mtxs">{{ gettext("Edit message source") }}</h2>

                <div class="mtl">
                    <div class="js_source_edit"></div>
                </div>
                <div class="control-group fr">
                  <div class="controls">
                    <button class="btn btn-secondary js_reimport">{{ gettext("Reimport") }}</button>
                    <button class="btn btn-secondary js_reprocess">{{ gettext("Reprocess") }}</button>
                  </div>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>
