<div class="grid-pad">
  <div class="col-3-12 navigation-menu-holder">
  </div>
  <div class="col-9-12 admin-section">
    <section class="section">
    <div class="admin-title">
      <h3 class="h3">{{ gettext('Partners') }}</h3>
    </div>
    <div id="content-container" class="content-container">

    <div class="bx bx-alert-success hidden">
			<button class="btn btn-cancel btn-sm bx-close" type="button">
				<i class="icon-delete"></i>
			</button>
			{{ gettext("Partner successfully added") }}
		</div>

		<div class="mal tar">
			<a href="#" class="js_addPartner"><i class="icon-add"></i>&nbsp; {{ gettext("Add partner") }}</a>
		</div>

	  <div id="partner-content" class="phl"></div>

    </div>
    </section>
  </div>
</div>


