<div class="grid-pad">
  <div class="col-3-12 navigation-menu-holder"></div>
  <div class="col-9-12 admin-section">
    <section class="section">
    <div class="admin-title">
      <h3 class="h3">{{ gettext('Edit notifications') }} - {{discussion.topic}}</h3>
    </div>
    <div id="content-container" class="content-container phl ptl">
      <div class="bx bx-alert-success hidden">
        <button class="btn btn-cancel btn-sm bx-close" type="button">
          <i class="icon-delete"></i>
        </button>
        {{ gettext("Your change has been saved!") }}
      </div>

      <div class="gr">
        <h3>{{ gettext('Default notifications') }}</h3>
        <p>{{ gettext('These are the notifications which a user gets subscribed to when one of these conditions is matched: 1. The user clicks on the "Join this discussion" button. 2. The user posts his/her first message, Assembl shows a subscription pop-in, and the user accepts subscribing. 3. The discussion parameter "Auto-subscribe users to default notifications when they register" is active and the user confirms their account.') }}</p>
        <div id="notification-content" class="mbs"></div>

        <h3>{{ gettext('Auto-subscribe users to default notifications') }}</h3>
        <div id="notification-auto-subscribe" class="mbs"></div>

      </div>
    </div>
    </section>
  </div>
</div>

