<div class="gr">
  <div class="gu gu-1of5 navigation-menu-holder">
  </div>
  <div class="gu gu-3of4 admin-section">
    <section class="section">
    <div class="admin-title">
      <h3 class="h3">{{ gettext('Discussion preferences') }}</h3>
    </div>
    <div id="content-container" class="content-container">
      <div class="gr mtl">
        <div class="gu gu-1of1">
          <form class="core-form form-horizontal" id="profile-form">
            <fieldset class="phl">
              <div class="control-group">
                <label for="admin_discussion_preferences_simple_view_panel_order" class="control-label fl">{{ gettext('Order of panels') }}</label>
                <div class="controls fl">
                    <select id="admin_discussion_preferences_simple_view_panel_order">
                      <option value="NIM">{{ gettext('Navigation, Idea, Messages') }}</option>
                      <option value="NMI">{{ gettext('Navigation, Messages, Idea') }}</option>
                    </select>
                </div>
              </div>

              <div class="control-group">
                <label for="admin_discussion_preferences_require_email_domain" class="control-label fl"><abbr title="{{ gettext('Please use a comma to separate domain names. Example: mycompany.com,test.com') }}">{{ gettext('List of allowed domain names for user email address') }}</abbr></label>
                <div class="controls fl">
                    <input id="admin_discussion_preferences_require_email_domain" />
                </div>
              </div>

              <div class="control-group">
                <label for="admin_discussion_preferences_default_allow_access_to_moderated_text" class="control-label fl">{{ gettext('Allow users to see the original content of moderated messages') }}</label>
                <div class="controls fl">
                    <input id="admin_discussion_preferences_default_allow_access_to_moderated_text" type="checkbox" />
                </div>
              </div>
            </fieldset>
            <div class="form-actions fr">
              <button class="btn btn-primary fr js_saveButton" type="submit">{{ gettext('Save changes') }}</button>
              <a href="<%= urlDiscussion() %>" class="btn btn-cancel btn-sm fr mrxl">{{ gettext('Return to the discussion') }}</a>
            </div>
          </form>
        </div>
      </div>
    </div>
   </section>
  </div>
</div>
