<div class="gr">
  <div class="gu gu-1of5">
    <nav class="sidebar-nav">
        <ul class="man pan adminMenu">
          <li>
            <a href="#edition" class="menu">{{ gettext('edit discussion') }}</a>
          </li>
          <li class="active">
            <a href="#settings" class="menu">{{ gettext('discussion settings') }}</a>
          </li>
          <li>
						<a href="#notifications" class="menu">{{ gettext('edit notifications') }}</a>
					</li>
          <li>
            <a href="#partners" class="menu">{{ gettext('edit partners') }}</a>
          </li>
          <li class="mtxl">
            <a href="/{{ discussion.slug }}/">{{ gettext('back to discussion') }}</a>
          </li>
        </ul>
    </nav>
  </div>
  <div class="gu gu-3of4 admin-section">
    <div class="admin-title">
      <h3 class="h3">{{ gettext("discussion settings") }}</h3>
    </div>
    <div id="content-container" class="content-container">
    	<div class="bx bx-alert-success hidden">
				<button class="btn btn-cancel btn-xs bx-close" type="button">
					<i class="icon-delete"></i>
				</button>
    		{{ gettext("Your settings were saved") }}
    	</div>
      <div class="gr">
        <div class="gu gu-1of1">
						<div id="source-container" class="phl ptl"></div>
        </div>
      </div>
    </div>
  </div>
</div>

