<div class="gr">
  <div class="gu gu-1of5">
    <nav class="sidebar-nav">
        <ul class="man pan adminMenu">
          <li class="active">
            <a href="#edition" class="menu">{{ gettext('edit discussion') }}</a>
          </li>
          <li>
            <a href="#notifications" class="menu">{{ gettext('edit notifications') }}</a>
          </li>
          <li>
            <a href="#partners" class="menu">{{ gettext('edit partners') }}</a>
          </li>
          <li class="mtxl">
            <a href="/{{ discussion.slug }}/">{{ gettext('back to discussion') }}</a>
          </li>
        </ul>
    </nav>
  </div>
  <div class="gu gu-3of4 admin-section">

    <div class="admin-title">
      <h3 class="h3">Edition - <%= Ctx.getNiceDateTime(discussion.get('creation_date'), true) %></h3>
    </div>
    <div id="content-container" class="content-container">
    	<div class="bx bx-alert-success hidden">
				<button class="btn btn-cancel btn-xs bx-close" type="button">
					<i class="icon-delete"></i>
				</button>
    		{{ gettext("Your settings were saved") }}
    	</div>
      <div class="gr">
        <div class="gu gu-1of1">
           {% if admin_discussion_permissions_url %}
               <p class="mbl">
                 <a href='{{ admin_discussion_permissions_url }}'>{{ gettext("Edit discussion permissions") }}</a>
               </p>
           {% endif %}
             <form class="core-form form-horizontal" id="adminDiscussion">
               <fieldset>

								<div class="control-group fr">
									 <label for="introduction" class="control-label fl">Introduction</label>
									 <div class="controls fl">
									 	 <textarea rows="10" id="introduction" name="introduction" class="input-xxlarge"><%= discussion.get('introduction') %></textarea>
									 </div>
								 </div>

								 <div class="control-group fr">
										<label for="objectives" class="control-label fl">Objectives</label>
										<div class="controls fl">
											<textarea rows="3" id="objectives" name="objectives" class="input-xxlarge"><%= discussion.get('objectives') %></textarea>
										</div>
									</div>

                 <div class="control-group fr">
                   <label for="topic" class="control-label fl">Topic</label>
                   <div class="controls fl">
                     <input type="text" id="topic" name="topic" class="input-xxlarge" value="<%= discussion.get('topic') %>" />
                   </div>
                 </div>

                 <div class="control-group fr">
                   <label for="slug" class="control-label fl">Slug</label>
                   <div class="controls fl">
                     <input type="text" id="slug" name="slug" class="input-xxlarge" value="<%= discussion.get('slug') %>" />
                   </div>
                 </div>

                 <div class="form-actions ptm">
                   <button class="btn btn-secondary js_saveDiscussion" type="submit">{{ gettext("Save changes") }}</button>
                 </div>

               </fieldset>
             </form>

						 <div class="admin-title mbl">
							 <h3 class="h3">{{ gettext("email sender") }}</h3>
						 </div>

						<div id="emailSender-container"></div>
        </div>
      </div>
    </div>
  </div>
</div>

