<div class="gu gu-1of2 description">
    <h2 class="h2 mbxl dispb mtxs"><%= name %></h2>
    <p><%= type %></p>
    <div class="mtxl">
        <a class="js_manualStart" href="#">{{ gettext('Manual start') }}</a>&nbsp;&nbsp;
        <a class="js_moreOptions" href="#">{{ gettext('More options') }}</a>
        <!-- Must add all of the possible operations here, instead of more options-->
    </div>
</div>
