<a href="#" class="js_agentName"
<% if (show_email) { %>
title="<%= agent.get('preferred_email') %>"
<% } %> ><% if(agent.get('name')) { %><%= agent.get('name') %><% } else { %>{{ gettext('Anonymous') }}<% } %></a>