<div class="popin-header">
	<h3 class="h3"><i class="icon-reload"></i> {{ gettext('Assembl needs to be reloaded') }}</h3>
</div>

<div class="popin-body">
  <div class="content-ajaxError">
    <p class="mbm">{{ gettext('Assembl has encountered a problem and needs to be refreshed. Do not worry, any messages that are in the process of being composed will not be lost.') }}</p>
    <p class="mbm">{{ gettext('See you in a minute on Assembl!') }}</p>
    <p class="mbxs msg-error">{{ gettext('If you are in contact with the technical team, please let them know about the following message:') }}</p>
    <p class="msg-error"><%= msg %></p>
  </div>
  <div class="clr"></div>
</div>

<div class="popin-footer">
	<a href="#" class="error-close fl js_close">{{ gettext('Not now') }}</a>
  <button class="btn btn-third btn-sm fr js_reload">{{ gettext('Reload') }}</button>
</div>
