<div class="popin-header">
	<h1 class="h1"><i class="icon-reload"></i> {{ gettext('assembl need to be reload') }}</h1>
</div>

<div class="popin-body">
  <div class="content">
  	<p><%= msg %></p>
  </div>
  <div class="clr"></div>
</div>

<div class="popin-footer">
	<button class="btn btn-cancel btn-sm fl js_close">{{ gettext('dismiss') }}</button>
  <button class="btn btn-third btn-sm fr js_reload">{{ gettext('reload') }}</button>
</div>
