<div class="idealist-bottom idealist-body--rootidea">
    <div class="idealist-title idealist-title-unread mls" title="{{ gettext('All messages') }}">
        {{ gettext('All messages') }}
        <span class="idealist-counter" data-toggle="tooltip" data-placement="top" title="{{ gettext('Number of posts in the entire discussion') }}">(<%= num_posts %>)</span>
        <i class="icon-arrowright"></i>
    </div>
</div>

<div class="idealist-children"></div>
