<div class="js_announce_title_region announce_title" data-toggle="tooltip" title="{{gettext("The title of this announce")}}">
  <%= title %>
</div>
<div class="js_announce_body_region announce_body" data-toggle="tooltip" title="{{gettext("The text of this this announce.  Will be displayed on top of the message list for this idea.")}}">
  <%= body %>
</div>
<div class="announce_propagate" data-toggle="tooltip" title="{{gettext("If checked, this announce will also be shown for any sub-idea that doesn't have it's own announce.")}}">
  {{gettext("Propagate this announce to sub-ideas:")}} <div class="js_announce_shouldPropagateDown_region"></div>
</div>
<p><a class="js_announce_delete btn btn-secondary btn-sm">{{gettext('Delete this announce')}}</a></p>