{% set precise_date = "<%= ctx.getReadableDateTime(creation_date) %>" %}
{% set nice_date = "<%= ctx.getNiceDate(creation_date, false, true) %>" %}
<div class="js_announcement_title_region announcement_title"><%= title %></div>
<div class="js_announcement_body_region announcement_body"><%= body %></div>
<div class="creator_info">
  <div class="js_author_avatar_region avatarContainer"></div>
  <div class="author_info_container">
    <span class="js_author_name_region message-author"></span>
    <% if(!hide_creator) { %>
        <div class="message-date">{{ gettext('<time title="%(precise_date)s">%(nice_date)s</time>')|format(nice_date=nice_date,precise_date=precise_date)|safe }}</div>
    <% } %>
  </div>
</div>