<form class="core-form form-horizontal">
	<div class="control-group">
		<label for="optionsCheckboxList" class="control-label">{{ gettext('Associated accounts') }}</label>
		<div class="controls">

		</div>
	</div>
</form>