<form class="core-form form-horizontal">
	<div class="control-group">
        <div class="col-4-12 no-pad">
            <label for="optionsCheckboxList" class="control-label">{{ gettext('Associated accounts') }}</label>
        </div>
		<div class="col-8-12 no-pad controls"></div>
	</div>
</form>