<% if(email.get('@type') === 'IdentityProviderAccount'){ %>
    <i class="icon-<%= email.get('provider') %> mrs"></i>
    <% if(email.get('email')){
    	print(email.get('email'));
    } else {
    	print(email.get('username'));
    } %>
	<span>
		{#<a class="btn btn-cancel btn-sm"><i class="icon-checkbox"></i>&nbsp;&nbsp;{{ gettext('dissociate') }}</a>#}
	</span>
<% }else{ %>
   	<i class="icon-mail mrs"></i><%= email.get('email') %>
   	<% if(email.get('verified')){ %>
			<span>
				{#<a class="btn btn-cancel btn-sm"><i class="icon-checkbox"></i>&nbsp;&nbsp;{{ gettext('dissociate') }}</a>#}
			</span>
		<% } else { %>
			<span>
				<a class="btn btn-primary btn-sm mhs js_verifyEmail">{{ gettext('Validate this email') }}</a>
			</span>
		<% } %>
<% } %>
