<p><%= header %></p>
<div class="dropdown">
  <div class="attachment-dropdown-purpose js_attachmentPurposeDropdownRegion"></div>
</div>
<div class="attachmentDocumentEmbeed js_regionDocumentEmbeed"></div>
