<p><% print(i18n.sprintf(i18n.gettext("For URL %s in the text above:"), url)); %></p>
<div class="dropdown">
  <div class="attachment-dropdown-purpose js_attachmentPurposeDropdownRegion"></div>
</div>
<div class="attachmentDocumentEmbeed js_regionDocumentEmbeed"></div>
<hr />