<div class="messageSend-upload fl">
    <label class='file-upload-label'><i class="icon icon-attach"></i>
    <input type="file" name="attachmentUpload" multiple="multiple" class="file-upload js_upload" />
    </label>
</div>
