<div class="messageSend-upload">
    <label><a class='btn' style="padding: 0px">{{gettext("Add Cover Image")}}</a>
    <input type="file" name="attachmentUpload" multiple="multiple" class="file-upload js_upload" />
    </label>
</div>
