<div class="bx bx-alert-warning">
  <h2 class="h-bx">401 UNAUTHORIZED</h2>
  <p>{{ gettext('You must be logged in to access this page.') }} <a href="<%= urlLogIn() %>">{{ gettext('Click here to login.') }}</a></p>
</div>