<div>
<div id="pref_<%= preferenceData.id %>_value" >
    <%= JSON.stringify(preference) %>
</div>
<div id="js_preference_data">
    <code>
    <%= JSON.stringify(preferenceData) %>
    </code>
</div>
</div>
