<section>
    <div class="bucket-header">
        <div id="bucket-closebutton">&times;</div>
    </div>

    <div class="bucket-body">
        <div id="bucket-divisor" class="bucket-divisor"> DIVISOR </div>

        <ul id="bucket-list" class="bucket-list">
            <li>aqui?</li>
        </ul>
    </div>
</section>