
<div class="bar">
    <div class="bar-left">Presse-papier (4)</div>
    <div class="bar-right">
        <a class="iconbutton icon-down"></a>
    </div>
</div>

<div class="panel-body boxlist">

    <div class="box">
        <span class="closebutton">&times;</span>

        <q>qui me donnera droit à des cadeaux (ou à des avantages sur un site, ou autre)</q>

        <div class="spacer spacer--huge"></div>

        <div class="media">
            <div class="media-imgleft">
                <img src="//placehold.it/44x44" class="image-rounded" alt="" />
            </div>
            <div class="media-body">
                <div class="media-title"><strong>Joey Ramone</strong></div>
                <div>Attrapé il y a 1 jours</div>
            </div>
        </div>
    </div>

    <div class="box">
        <span class="closebutton">&times;</span>

        <q>Gabba Gabba hey!</q>

        <div class="spacer spacer--huge"></div>

        <div class="media">
            <div class="media-imgleft">
                <img src="//placehold.it/44x44" class="image-rounded" alt="" />
            </div>
            <div class="media-body">
                <div class="media-title"><strong>Dee Dee Ramone</strong></div>
                <div>Attrapé il y a 2 jours</div>
            </div>
        </div>
    </div>

    <div class="box">
        <span class="closebutton">&times;</span>

        <q>Three Rings for the Elven-kings under the sky,
            Seven for the Dwarf-lords in their halls of stone,
            Nine for Mortal Men doomed to die,
            One for the Dark Lord on his dark throne
            In the Land of Mordor where the Shadows lie.
            One Ring to rule them all, One Ring to find them,
            One Ring to bring them all and in the darkness bind them
            In the Land of Mordor where the Shadows lie.</q>

        <div class="spacer spacer--huge"></div>

        <div class="media">
            <div class="media-imgleft">
                <img src="//placehold.it/44x44" class="image-rounded" alt="" />
            </div>
            <div class="media-body">
                <div class="media-title"><strong>Gandalf, the white</strong></div>
                <div>Attrapé il y a 1000 annés</div>
            </div>
        </div>
    </div>

</div>
