<% if(editing){ %>
    <div class="panel-editablebox is-editing">
        <div id="<%= topId %>"></div>
        <div id="<%= fieldId %>" class="margin panel-editablearea" contenteditable="true"><%= text %></div>
        {# <div id="<%= bottomId %>"></div> #}

        <div class="paxs tar">
            <% if(!hideButton){ %>
            <a class="btn btn-primary btn-sm ckeditorField-savebtn">{{ gettext('Save') }}</a>
            <a class="btn btn-cancel btn-sm ckeditorField-cancelbtn">{{ gettext('Cancel') }}</a>
            <% } %>
        </div>
    </div>
<% } else { %>
    <div class="panel-editablebox">
        <div class="ckeditorField-mainfield panel-editablearea <% if(canEdit){ %>canEdit<% } %> mvn"><%= text ? text : placeholder %></div>
        <div class="ckeditorField-seeMoreOrLess js_seeMoreOrLess mts">
            <a href="#" class="seeMore js_seeMore txt-gray">{{ gettext('See more') }}<i class="icon icon-arrowdown"></i></a>
            <a href="#" class="seeLess js_seeLess txt-gray hidden">{{ gettext('See less') }}<i class="icon icon-arrowup"></i></a>
        </div>

    </div>
<% } %>
