<style>
.panelarea { /* we override default panels behavior */
    bottom: 0;
    min-height: initial;
    overflow: auto;
}


.panel-content {
    width: 100%;
    height: 100%;
    /*min-height: 700px;*/
    overflow-x: auto;
    overflow-y: auto;
    white-space: normal;
}
.row-major, .row-minor {
    clear: both;
    vertical-align: top;
    padding: 4px 4px 8px 4px;
}
.row-minor { 
    background: #ddd;
    min-height: 200px;
}
.row-major {
    background: #fff;
    height: 300px;
}
.block-half {
    width: 48%;
    display: inline-block;
    /*float: left;*/
    vertical-align: top;
}
.block-full {
    width: 100%;
}

.block-content {
    padding: 2px 10px;
}

.block-content ul li {
    margin-bottom: 6px;
}


#introduction-details, #introduction-button-see-less {
    display: none;
}









/* CSS associated to the line chart */

.data-line {
    stroke: steelblue;
    stroke-width: 2;
    fill: none;
    stroke-dasharray: 0;
}

path {
    stroke: #eee;
    stroke-width: 2;
    stroke-dasharray: 0;
    fill: none;
}

.area {
    fill: lightsteelblue;
}

text {
    font-family: Arial;
    font-size: 8pt;
    fill: #787878;
}

line {
    stroke: #CDCDCD;
    stroke-width: 0.5;
    /* stroke-dasharray: 3 3; */
    fill: none;
}

.data-point {
    stroke: steelblue;
    stroke-width: 2;
    fill: #FFF;
}

#chart {
    margin: 0;
}

</style>


<div class="panel-content">
    <div class="row-minor">
        <div class="block-half">
            <div class="block-content">
                <h2>Introduction</h2>
                <p>
                    {{ discussion.slug }}
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </p>
                <p>
                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
                <div id="introduction-details">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                </div>
                <button id="introduction-button-see-more" onclick="introductionToggle();">Voir plus</button>
                <button id="introduction-button-see-less" onclick="introductionToggle();">Voir moins</button>
                
            </div>
        </div>
        <div class="block-half">
            <div class="block-content">
                <h2>Objectifs</h2>
                <ul>
                    <li>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    </li>
                    <li>
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </li>
                    <li>
                        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                    </li>
                    <li>
                        Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </li>
                </ul>
            </div>
        </div>
    </div>
    {#
    <div class="row-major">
        <div class="block-full">
            <div class="block-content">
                <h2>Ligne de temps</h2>
                <p>
                    Blabla
                </p>
            </div>
        </div>
    </div>
    #}
    <div class="row-minor">
        <div class="block-full">
            <div class="block-content">
                <h2>Initiateur : Institut du Nouveau Monde</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
            </div>
        </div>

        {#
        <div class="block-half">
            <div class="block-content">
                <h2>Facilitateurs</h2>
                <p>
                    Blabla
                </p>
            </div>
        </div>
        #}

    </div>
    <div class="row-major">
        <div class="block-full">
            <div class="block-content" id="statistics">
                <h2>Statistiques</h2>
                <p>Chargement...</p>
            </div>
        </div>
    </div>
</div>

<script>
function introductionToggle(){
    $('#introduction-details').toggle(200);
    $('#introduction-button-see-more').toggle();
    $('#introduction-button-see-less').toggle();
}
</script>
