<div class="popin-header">
    <a href="#" class="close"><i class="icon-delete"></i></a>
    <h3 class="h3">Ajouter un groupe de panneaux</h3>
</div>
<div class="popin-body">
    <% _.each(contributions, function(item){ %>

        <div class="bx bx-default mbm">
            <h2><%= item.subject %></h2>
            <%= item.body %>
        </div>

    <% }) %>
</div>
<div class="popin-footer">
    <button class="btn btn-cancel btn-sm fr">Annuler</button>
</div>

