<div class="gr">
  <div class="gu gu-1of1">
    <div class="theme_homePanelTitleZone">
      <div class="block-full">
        <div class="block-content">
          <h3 class="js_discussionTitle theme_homePanelDiscussionTitle"></h3>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="gr">
  <div class="gu gu-1of2">
    <div class="block-content">
      <h2>{{ gettext('Context') }}</h2>
      <div class="introduction"></div>
      <button id="introduction-button-see-more" class="btn btn-default btn-sm">{{ gettext('See more') }}</button>
    </div>
  </div>
  <div class="gu gu-last">
   <div class="block-content">
     <h2>{{ gettext('Debate objectives') }}</h2>
     <div class="objectives"></div>
   </div>
  </div>
</div>
{#
<div class="gr mts">
 <div class="gu gu-1of1">
  <div class="block-content">
      <h2>{{ gettext('Timeline') }}</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
  </div>
 </div>
</div>
#}
<div class="gr mts">
 <div class="gu gu-1of2">
  <div class="block-content">
    <h2>{{ gettext('Instigated by') }}</h2>
    <div class="instigator"></div>
  </div>
 </div>
 <div class="gu gu-last">
  {#<div class="block-content">
    <h2>{{ gettext('Facilitators') }}</h2>
    <p>Vestibulum et dolor quam. Integer pretium faucibus dapibus.</p>
  </div>#}
 </div>
</div>

<div class="gr mts">
  <div class="gu gu-1of2">
    <div class="block-content">
        <div class="statistics">
            <h2>{{ gettext('Statistics') }}</h2>
            <p>Vivamus bibendum pretium sem</p>
        </div>
        <div class="chart">{{ gettext('Loading...') }}</div>
    </div>
  </div>
  <div class="gu gu-last">
    <div class="block-content pie">
      <div class='pie_chart_legend'></div>
      <div class='pie_chart'></div>
    </div>
  </div>
</div>

<div class="gr mvxl">
  <div class="gu gu-1of2">
    <div class="block-content">
      <% if(contextPage){ %>
      <h2 class="lastSynthesisTitle">
        <span>{{ gettext('Last synthesis') }}</span>
        <span class='message-date vam mlxs'>
          <time title=<%= ctx.getReadableDateTime(contextPage.get('creation_date')) %> >
          <%= ctx.getNiceDateTime(contextPage.get('creation_date')) %>
          </time>
        </span>
      </h2>
      <p class="lastSynthesis mbs">
        <%= contextPage.get('introduction') %>
      </p>
      <button id="js_readSynthesis" class="btn btn-secondary btn-sm fr">{{ gettext('Read the synthesis') }}</button>
      <% } %>
    </div>
  </div>
  <div class="gu gu-last">
  </div>
</div>


<div class="gr mvxl">
<% if(partners){ %>
  <div class="block-content">
    <h2>{{ gettext('Partners') }}</h2>
  </div>
  <div class="gu gu-1of1">
    <div class="block-content">
         <div class="gr">
          <% _.each(partners, function(partner) { %>
            <div class="gu gu-1of6">
              <a href="<%= partner.get('homepage') %>" class="popover-display" target="_blank">
                <img width="100" src="<%= partner.get('logo')  %>" />
                <span class="popover">
                  <span class="popover-header"><%= partner.get('name') %></span>
                  <span class="popover-content">
                    <%= partner.get('description') %>
                  </span>
                </span>
              </a>
            </div>
          <% }) %>
         </div>
    </div>
  </div>
<% } %>
</div>
