<div class="gr">
  <div class="gu gu-1of1">
    <div class="white-mark">
      <div class="block-full">
        <div class="block-content">
          <div class="white-mark-content">
          	<div class="white-mark-title">
          		 <h3 class="h3 js_discussionTitle"><%= context.get('slug') %></h3>
          	</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="gr">
  <div class="gu gu-1of2">
    <div class="block-content">
      <% if( _.size(context.get('introduction')) ){ %>
        <h2>{{ gettext('Context') }}</h2>

        <% if( editingIntroduction ) { %>
				  <div class="context-introduction-editor"></div>
			  <% } else { %>
				  <div class="context-introduction js_editIntroduction"><%= context.get('introduction') %></div>
			  <% } %>

        <!--<div class="introduction"></div>-->
        <a href="#" id="js_introductionSeeMore">{{ gettext('See more') }}</a>
      <% } %>
    </div>
  </div>
  <div class="gu gu-last">
   <div class="block-content">
   <% if( _.size(context.get('objectives')) ){ %>
     <h2>{{ gettext('Debate objectives') }}</h2>

     <% if( editingObjective ) { %>
				 <div class="context-objective-editor"></div>
			 <% } else { %>
				<div class="context-objective js_editObjective"><%= context.get('objectives') %></div>
		 <% } %>
   <% } %>
     <!--<div class="objectives"></div>-->
   </div>
  </div>
</div>
{#
<div class="gr mts">
 <div class="gu gu-1of1">
  <div class="block-content">
      <h2>{{ gettext('Timeline') }}</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
  </div>
 </div>
</div>
#}

<div id="context-instigator"></div>

<div id="context-statistics"></div>

<div id="context-synthesis"></div>

<div id="context-partners"></div>
