<div class="cookie-banner">
    <span>{{ gettext('By using our site, you consent to cookies being used for improvement of our service?') }}</span>
    &nbsp;&nbsp;<a href="#" id="js_accept-cookie-btn">{{ gettext('Yes, I accept.') }}</a>&nbsp;&nbsp;<a href="#" id="js_refuse-cookie-btn">{{ gettext('No, Thanks.') }}</a>
</div>