<div class="cookie-banner">
    <span>{{ gettext('By using our site, you consent to cookies being used for improvement of our service?') }}</span>
    &nbsp;<a href="#" id="js_cookie-btn">{{ gettext('Make my choice') }}</a>
</div>