<div class="cookie-banner">
    <span>En utilisant notre site, consentez-vous à ce que des cookies soient utilisés à des fins d'améliorations de notre service ?</span>
    <a href="#" id="acceptCookie-btn">Oui, je suis d'accord.</a>
    <a href="#" id="refuseCookie-btn">Non merci.</a>
</div>