<div class="bbm-modal__topbar">
    <p class="bbm-modal__title">Créer votre groupe de panneaux</p>
</div>
<div class="bbm-modal__section">
    <span class="item-section">Choississez un panneau de navigation :</span>
    <div class="itemGroup is-selected">
      <article data-item="idea-list">
        <i class="icon-checkbox"></i>
        <br>
        <i class="icon-tableofideas"></i>
        <br>
        <span class="item-title">Idea list</span>
      </article>
    </div>
    <div class="itemGroup">
      <article data-item="idea-panel">
        <i class="icon-checkbox"></i>
        <br>
        <i class="icon-synth"></i>
        <br>
        <span class="item-title">Synthesis</span>
      </article>
    </div>
    <span class="item-section">Choississez des panneaux standards :</span>
    <div class="itemGroup">
      <article data-item="clipboard">
        <i class="icon-checkbox"></i>
        <br>
        <i class="icon-idea"></i>
        <br>
        <span class="item-title">Idea</span>
      </article>
    </div>
    <div class="itemGroup">
      <article data-item="message">
        <i class="icon-checkbox"></i>
        <br>
        <i class="icon-message"></i>
        <br>
        <span class="item-title">Messages</span>
      </article>
    </div>
    <div class="itemGroup">
      <article data-item="synthesis">
        <i class="icon-checkbox"></i>
        <br>
        <i class="icon-clipboard"></i>
        <br>
        <span class="item-title">Clipboard</span>
      </article>
    </div>
</div>
<div class="bbm-modal__bottombar">
  <a href="#" class="btn btn-cancel">Annuler</a>
  <a href="#" class="btn btn-primary">Valider</a>
</div>
