<div class="popin-header">
    <a href="#" class="close"><i class="icon-delete"></i></a>
    <h3 class="h3">{{ gettext('Create a panel group') }}</h3>
</div>

<div class="popin-body">
  <div class="selectedGroup">
    <span class="item-section dispb">{{ gettext('Choose a navigation panel:')}}</span>

    <div class="gr">
      <div class="gu gu-1of3">

        <div class="itemGroup" data-view="<%= PanelSpecTypes.NAV_SIDEBAR.id %>">
          <i class="icon-checkbox"></i>
          <br>
          <i class="icon-tableofideas"></i>
          <br>
          <span class="item-title">{{ gettext('simpleView') }}</span>
          <a href="#" class="item js_selectItem"></a>
        </div>

      </div>
      <div class="gu gu-1of3">

         <div class="itemGroup" data-view="<%= PanelSpecTypes.SYNTHESIS_EDITOR.id %>">
          <i class="icon-checkbox"></i>
          <br>
          <i class="icon-doc"></i>
          <br>
          <span class="item-title">{{ gettext('Create a synthesis') }}</span>
          <a href="#" class="item js_selectItem"></a>
         </div>

      </div>
      <div class="gu gu-last">

        <div class="itemGroup" data-view="<%= PanelSpecTypes.TABLE_OF_IDEAS.id %>">
          <i class="icon-checkbox"></i>
          <br>
          <i class="icon-discuss"></i>
          <br>
          <span class="item-title">{{ gettext('Table of ideas') }}</span>
          <a href="#" class="item js_selectItem"></a>
        </div>

      </div>

    </div>

    <!--<div class="separator-item">ou</div>-->
    <span class="item-section">{{ gettext('Others:')}}</span>

    <div class="gr">
      <% if(panelOrder === "NIM") {  %>{# Yes, silly this is in the template, but click ordering isn't respected currently #}
        <div class="gu gu-1of<%= numLowerPanels %>">
          <div class="itemGroup is-disabled" data-view="<%= PanelSpecTypes.IDEA_PANEL.id %>">
           <i class="icon-checkbox"></i>
           <br>
           <i class="icon-idea"></i>
           <br>
           <span class="item-title">{{ gettext('Idea Panel') }}</span>
           <a href="#" class="item js_selectItem"></a>
          </div>
        </div>
        <div class="gu gu-1of<%= numLowerPanels %>">
          <div class="itemGroup is-disabled" data-view="<%= PanelSpecTypes.MESSAGE_LIST.id %>">
           <i class="icon-checkbox"></i>
           <br>
           <i class="icon-message"></i>
           <br>
           <span class="item-title">{{ gettext('Discussion') }}</span>
           <a href="#" class="item js_selectItem"></a>
          </div>
        </div>

      <% } else if(panelOrder === "NMI") {  %>
        <div class="gu gu-1of<%= numLowerPanels %>">
          <div class="itemGroup is-disabled" data-view="<%= PanelSpecTypes.MESSAGE_LIST.id %>">
           <i class="icon-checkbox"></i>
           <br>
           <i class="icon-message"></i>
           <br>
           <span class="item-title">{{ gettext('Discussion') }}</span>
           <a href="#" class="item js_selectItem"></a>
          </div>
        </div>
        <div class="gu gu-1of<%= numLowerPanels %>">
          <div class="itemGroup is-disabled" data-view="<%= PanelSpecTypes.IDEA_PANEL.id %>">
           <i class="icon-checkbox"></i>
           <br>
           <i class="icon-idea"></i>
           <br>
           <span class="item-title">{{ gettext('Idea Panel') }}</span>
           <a href="#" class="item js_selectItem"></a>
          </div>
        </div>
      <% } else {
        throw new Error("Invalid panelOrder: ", panelOrder);
      } %>
      <% if (displayCIDashboard) { %>
      <div class="gu gu-1of<%= numLowerPanels %>">
        <div class="itemGroup" data-view="<%= PanelSpecTypes.CI_DASHBOARD_CONTEXT.id %>">
         <i class="icon-checkbox"></i>
         <br>
         <i class="icon-graph"></i>
         <br>
         <span class="item-title">{{ gettext('CI Dashboard') }}</span>
         <a href="#" class="item js_selectItem"></a>
       </div>
      </div>
      <% } %>
      <div class="gu gu-last">
        <div class="itemGroup" data-view="<%= PanelSpecTypes.CLIPBOARD.id %>">
         <i class="icon-checkbox"></i>
         <br>
         <i class="icon-clipboard"></i>
         <br>
         <span class="item-title">{{ gettext('Clipboard') }}</span>
         <a href="#" class="item js_selectItem"></a>
       </div>
      </div>
    </div>
  </div>
  <div class="clr"></div>
</div>

<div class="popin-footer">
  <button class="btn btn-cancel btn-sm fr">{{ gettext('Cancel') }}</button>
  <button class="btn btn-primary btn-sm fr js_createGroup">{{ gettext('Validate') }}</button>
</div>
