<div class="bbm-modal__topbar">
    <p class="bbm-modal__title">Créer votre groupe de panneaux</p>
</div>
<div class="bbm-modal__section">
    <span class="item-section">Choississez un panneau de navigation :</span>
    <div class="itemGroup ideas">
      <a class="js_selectItemGroup" data-item="navigation"></a>
      <i class="icon-checkbox"></i>
      <br>
      <i class="icon-tableofideas"></i>
      <br>
      <span class="item-title">Navigation</span>
    </div>
    <div class="separator-item">ou</div>
    <div class="itemGroup synthesis">
      <a class="js_selectItemGroup" data-item="synthesis"></a>
      <i class="icon-checkbox"></i>
      <br>
      <i class="icon-synth"></i>
      <br>
      <span class="item-title">Synthesis</span>
    </div>
    <span class="item-section">Choississez des panneaux standards :</span>
    <div class="itemGroup">
      <a class="js_selectItemGroup" data-item="idea-panel"></a>
      <i class="icon-checkbox"></i>
      <br>
      <i class="icon-idea"></i>
      <br>
      <span class="item-title">Idea</span>
    </div>
    <div class="itemGroup">
      <a class="js_selectItemGroup" data-item="message"></a>
      <i class="icon-checkbox"></i>
      <br>
      <i class="icon-message"></i>
      <br>
      <span class="item-title">Messages</span>
    </div>
    <div class="itemGroup">
      <a class="js_selectItemGroup" data-item="clipboard"></a>
      <i class="icon-checkbox"></i>
      <br>
      <i class="icon-clipboard"></i>
      <br>
      <span class="item-title">Clipboard</span>
    </div>
</div>
<div style="clear:left"></div>
<div class="bbm-modal__bottombar">
  <a href="#" class="btn btn-primary js_createGroup">Valider</a>
  <a href="#" class="btn btn-cancel">Annuler</a>
</div>
