<form class="core-form mbn">
	<fieldset>
			<div class="control-group">
				<div class="controls">
					<label class="checkbox">
						<input type="checkbox" class="js_adminAutoSubscribe autoSubscribe" <%= (subscribe_to_notifications_on_signup === true || subscribe_to_notifications_on_signup === 1 || subscribe_to_notifications_on_signup === '1') ? 'checked':'' %> >
						{{ gettext('Auto-subscribe users to default notifications when they register') }}
					</label>
				</div>
			</div>
	</fieldset>
</form>