<form class="core-form mbn">
	<fieldset>
			<div class="control-group">
				<div class="controls">
					<label class="checkbox">
						<input type="checkbox" class="js_adminAutoSubscribe" value="1" <%= discussion && (discussion.get('subscribe_to_notifications_on_signup') === true || discussion.get('subscribe_to_notifications_on_signup') === 1 || discussion.get('subscribe_to_notifications_on_signup') === '1') ? 'checked':'' %> >
						{{ gettext('Auto-subscribe users to default notifications when they register') }}
					</label>
				</div>
			</div>
	</fieldset>
</form>