<div class="content">

  <div class="bx bx-default mbm">
    <h2>{{ gettext('Users visits') }}</h2>

    <ul>
      <li><a href="<%= usersFirstVisitURL %>" target="_blank">{{ gettext("Users' date of first visit") }}</a></li>
      <li><a href="<%= usersLastVisitURL %>" target="_blank">{{ gettext("Users' date of last visit") }}</a></li>
    </ul>
  </div>


  <div class="bx bx-default mbm">
    <h2>{{ gettext('Time series analytics') }}</h2>

    <form class="core-form form-inline">
      <fieldset>
        <label>{{ gettext('Start date') }}</label>
        <input class="input-medium" id="start_date" name="start_date" type="date"></input>
        <br/>

        <label>{{ gettext('End date') }}</label>
        <input class="input-medium" id="end_date" name="end_date" type="date"></input>
        <br/>

        <label>{{ gettext('Interval') }}</label>
        <select name="interval" id="interval">
          <option value="" label="{{gettext('Single interval')}}">{{gettext('Single interval')}}</option>
          <option value="P1Y" label="{{gettext('One year')}}">{{gettext('One year')}}</option>
          <option value="P1M" label="{{gettext('One month')}}">{{gettext('One month')}}</option>
          <option value="P7D" selected="selected" label="{{gettext('One week')}}">{{gettext('One week')}}</option>
          <option value="P1D" label="{{gettext('One day')}}">{{gettext('One day')}}</option>
          <# option value="custom" label="{{gettext('custom')}}" #>
        </select>
        <br/>

        <label>{{ gettext('File format') }}</label>
        <select name="format" id="format">
          <option selected="selected" value="xlsx" label="{{gettext('MS Excel')}}">{{gettext('MS Excel')}}</option>
          <option value="csv" label="{{gettext('Comma-separated values')}}">{{gettext('Comma-separated values')}}</option>
          <option value="json" label="JSON">JSON</option>
        </select>
      </fieldset>

      <br />
      <br />

      <div class="gr">
        <div class="gu gu-1of2">

          <div class="bx bx-default mrs">
            <h3>{{gettext('General discussion statistics')}}</h3>
            <button class="btn btn-primary" name="get_stats" id="get_stats">{{gettext('Get general discussion statistics')}}</button>
          </div>

        </div>
        <div class="gu gu-1of2">

          <div class="bx bx-default mls">
            <h3>{{ gettext('Per participant statistics') }}</h3>

            <label>{{ gettext('Show fields:') }}</label>
            <div class="mls">

            <label class="checkbox custom-checkbox mrl"><input type="checkbox" checked="checked" name="field_posts" id="field_posts" /><span class="custom-checkbox-element"></span> {{ gettext('Posts') }}</label>
            <br /><label class="checkbox custom-checkbox mrl"><input type="checkbox" checked="checked" name="field_cumulative_posts" id="field_cumulative_posts" /><span class="custom-checkbox-element"></span> {{ gettext('Cumulative posts') }}</label>
            <br /><label class="checkbox custom-checkbox mrl"><input type="checkbox" checked="checked" name="field_replies_received" id="field_replies_received" /><span class="custom-checkbox-element"></span> {{ gettext('Replies received') }}</label>
            <br /><label class="checkbox custom-checkbox mrl"><input type="checkbox" checked="checked" name="field_cumulative_replies_received" id="field_cumulative_replies_received" /><span class="custom-checkbox-element"></span> {{ gettext('Cumulative replies received') }}</label>

            <br /><label class="checkbox custom-checkbox mrl"><input type="checkbox" checked="checked" name="field_liking" id="field_liking" /><span class="custom-checkbox-element"></span> {{ gettext('Liking') }}</label>
            <br /><label class="checkbox custom-checkbox mrl"><input type="checkbox" checked="checked" name="field_cumulative_liking" id="field_cumulative_liking" /><span class="custom-checkbox-element"></span> {{ gettext('Cumulative liking') }}</label>
            <br /><label class="checkbox custom-checkbox mrl"><input type="checkbox" checked="checked" name="field_liked" id="field_liked" /><span class="custom-checkbox-element"></span> {{ gettext('Liked') }}</label>
            <br /><label class="checkbox custom-checkbox mrl"><input type="checkbox" checked="checked" name="field_cumulative_liked" id="field_cumulative_liked" /><span class="custom-checkbox-element"></span> {{ gettext('Cumulative liked') }}</label>

            <br /><label class="checkbox custom-checkbox mrl"><input type="checkbox" checked="checked" name="field_disagreeing" id="field_disagreeing" /><span class="custom-checkbox-element"></span> {{ gettext('Disagreeing') }}</label>
            <br /><label class="checkbox custom-checkbox mrl"><input type="checkbox" checked="checked" name="field_cumulative_disagreeing" id="field_cumulative_disagreeing" /><span class="custom-checkbox-element"></span> {{ gettext('Cumulative disagreeing') }}</label>
            <br /><label class="checkbox custom-checkbox mrl"><input type="checkbox" checked="checked" name="field_disagreed" id="field_disagreed" /><span class="custom-checkbox-element"></span> {{ gettext('Disagreed') }}</label>
            <br /><label class="checkbox custom-checkbox mrl"><input type="checkbox" checked="checked" name="field_cumulative_disagreed" id="field_cumulative_disagreed" /><span class="custom-checkbox-element"></span> {{ gettext('Cumulative disagreed') }}</label>

            <br /><label class="checkbox custom-checkbox mrl"><input type="checkbox" checked="checked" name="field_misunderstanding" id="field_misunderstanding" /><span class="custom-checkbox-element"></span> {{ gettext('misunderstanding') }}</label>
            <br /><label class="checkbox custom-checkbox mrl"><input type="checkbox" checked="checked" name="field_cumulative_misunderstanding" id="field_cumulative_misunderstanding" /><span class="custom-checkbox-element"></span> {{ gettext('Cumulative misunderstanding') }}</label>
            <br /><label class="checkbox custom-checkbox mrl"><input type="checkbox" checked="checked" name="field_misunderstood" id="field_misunderstood" /><span class="custom-checkbox-element"></span> {{ gettext('Misunderstood') }}</label>
            <br /><label class="checkbox custom-checkbox mrl"><input type="checkbox" checked="checked" name="field_cumulative_misunderstood" id="field_cumulative_misunderstood" /><span class="custom-checkbox-element"></span> {{ gettext('Cumulative misunderstood') }}</label>

            <br /><label class="checkbox custom-checkbox mrl"><input type="checkbox" checked="checked" name="field_info_requesting" id="field_info_requesting" /><span class="custom-checkbox-element"></span> {{ gettext('Requesting info') }}</label>
            <br /><label class="checkbox custom-checkbox mrl"><input type="checkbox" checked="checked" name="field_cumulative_info_requesting" id="field_cumulative_info_requesting" /><span class="custom-checkbox-element"></span> {{ gettext('Cumulative requesting info') }}</label>
            <br /><label class="checkbox custom-checkbox mrl"><input type="checkbox" checked="checked" name="field_info_requested" id="field_info_requested" /><span class="custom-checkbox-element"></span> {{ gettext('Info requested') }}</label>
            <br /><label class="checkbox custom-checkbox mrl"><input type="checkbox" checked="checked" name="field_cumulative_info_requested" id="field_cumulative_info_requested" /><span class="custom-checkbox-element"></span> {{ gettext('Cumulative info requested') }}</label>
            
            </div>
            <br />

            <label>{{ gettext('Sorted by') }}</label>
            <select name="sort" id="sort">
              <option value="name" label="{{gettext('Name')}}" <% if (!isDiscussionAdmin) { print('selected="selected"') }%>>{{gettext('Name')}}</option>
              <% if (isDiscussionAdmin) { %>
              <option value="domain" label="{{gettext('Domain')}}" selected="selected">{{gettext('Domain')}}</option>
              <% } %>
              <option value="posts" label="{{ gettext('Posts') }}">{{gettext('Posts')}}</option>
              <option value="cumulative_posts" label="{{ gettext('Cumulative posts') }}">{{gettext('Cumulative posts')}}</option>
              <option value="replies_received" label="{{ gettext('Replies received') }}">{{gettext('Replies received')}}</option>
              <option value="cumulative_replies_received" label="{{ gettext('Cumulative replies received') }}">{{gettext('Cumulative replies received')}}</option>

              <option value="liking" label="{{ gettext('Liking') }}">{{gettext('Liking')}}</option>
              <option value="cumulative_liking" label="{{ gettext('Cumulative liking') }}">{{gettext('Cumulative liking')}}</option>
              <option value="liked" label="{{ gettext('Liked') }}">{{gettext('Liked')}}</option>
              <option value="cumulative_liked" label="{{ gettext('Cumulative liked') }}">{{gettext('Cumulative liked')}}</option>

              <option value="disagreeing" label="{{ gettext('Disagreeing') }}">{{gettext('Disagreeing')}}</option>
              <option value="cumulative_disagreeing" label="{{ gettext('Cumulative disagreeing') }}">{{gettext('Cumulative disagreeing')}}</option>
              <option value="disagreed" label="{{ gettext('Disagreed') }}">{{gettext('Disagreed')}}</option>
              <option value="cumulative_disagreed" label="{{ gettext('Cumulative disagreed') }}">{{gettext('Cumulative disagreed')}}</option>

              <option value="misunderstanding" label="{{ gettext('Misunderstanding') }}">{{gettext('Misunderstanding')}}</option>
              <option value="cumulative_misunderstanding" label="{{ gettext('Cumulative misunderstanding') }}">{{gettext('Cumulative misunderstanding')}}</option>
              <option value="misunderstood" label="{{ gettext('Misunderstood') }}">{{gettext('Misunderstood')}}</option>
              <option value="cumulative_misunderstood" label="{{ gettext('Cumulative misunderstood') }}">{{gettext('Cumulative misunderstood')}}</option>

              <option value="info_requesting" label="{{ gettext('Requesting info') }}">{{gettext('Requesting info')}}</option>
              <option value="cumulative_info_requesting" label="{{ gettext('Cumulative requesting info') }}">{{gettext('Cumulative requesting info')}}</option>
              <option value="info_requested" label="{{ gettext('Info requested') }}">{{gettext('Info requested')}}</option>
              <option value="cumulative_info_requested" label="{{ gettext('Cumulative info requested') }}">{{gettext('Cumulative info requested')}}</option>
            </select>

            <br />
            <% if (isDiscussionAdmin) { %>
            <label class="checkbox custom-checkbox mrl"><input type="checkbox" checked="checked" name="show_emails" id="show_emails" /><span class="custom-checkbox-element"></span> {{ gettext('Show emails') }}</label>
            <% } %>

            <br />
            <br />

            <button class="btn btn-primary" name="get_participant_stats" id="get_participant_stats">{{gettext('Get discussion participant statistics')}}</button>

          </div>
        </div>
      </div>
    </form>
  </div>
</div>