<ul class="man pan adminMenu">
  <li <% if (selectedSection == 'edition'){ %>class="active"<% } %>>
    <a href="#edition" class="menu">{{ gettext('Edit discussion') }}</a>
  </li>
  <li <% if (selectedSection == 'discussion_preferences'){ %>class="active"<% } %>>
    <a href="#discussion_preferences" class="menu">{{ gettext('Discussion preferences') }}</a>
  </li>
  <li <% if (selectedSection == 'settings'){ %>class="active"<% } %>>
    <a href="#settings" class="menu">{{ gettext('Server settings') }}</a>
  </li>
  <li <% if (selectedSection == 'notifications'){ %>class="active"<% } %>>
    <a href="#notifications" class="menu">{{ gettext('Edit notifications') }}</a>
  </li>
  <li <% if (selectedSection == 'timeline'){ %>class="active"<% } %>>
    <a href="#timeline" class="menu">{{ gettext('Edit timeline') }}</a>
  </li>
  <li <% if (selectedSection == 'partners'){ %>class="active"<% } %>>
    <a href="#partners" class="menu">{{ gettext('Edit partners') }}</a>
  </li>
  <li class="mtxl">
    <a href="{{ get_route('home') }}">{{ gettext('Return to the discussion') }}</a>
  </li>
</ul>
