<form class="core-form form-horizontal">
  <fieldset>

    <div class="control-group">
      <label for="name" class="control-label">name</label>
      <div class="controls">
        <input type="text" id="name" class="input-xlarge" value="<%= source.get('name') %>">
      </div>
    </div>

    <div class="control-group">
			<label for="admin_sender" class="control-label">admin sender</label>
			<div class="controls">
				<input type="text" id="admin_sender" class="input-xlarge" value="<%= source.get('admin_sender') %>">
			</div>
		</div>

     <div class="control-group">
			 <label for="post_email_address" class="control-label">post email address</label>
			 <div class="controls">
				 <input type="text" id="post_email_address" class="input-xlarge" value="<%= source.get('post_email_address') %>">
			 </div>
		 </div>

			<div class="control-group">
				<label for="host" class="control-label">host</label>
				<div class="controls">
					<input type="text" id="host" class="input-xlarge" value="<%= source.get('host') %>">
				</div>
			</div>

			<div class="control-group">
				<label for="most_common_recipient_address" class="control-label">most common recipient address</label>
				<div class="controls">
					<input type="text" id="most_common_recipient_address" class="input-xlarge" value="<%= source.get('most_common_recipient_address') %>">
				</div>
			</div>

			<div class="control-group">
				<label for="discussion_id" class="control-label">discussion id</label>
				<div class="controls">
					<input type="text" id="discussion_id" class="input-xlarge" value="<%= source.get('discussion_id') %>">
				</div>
			</div>

			<div class="control-group">
				<label class="control-label">use ssl</label>
				<div class="controls">
					<label class="radio custom-radio">
						<input type="radio" checked="checked" name="use_ssl">
						<span class="custom-radio-element"></span>
						true
					</label>
					<label class="radio custom-radio">
						<input type="radio" name="use_ssl">
						<span class="custom-radio-element"></span>
						false
					</label>
				</div>
			</div>

			<div class="control-group">
				<label for="folder" class="control-label"><%= source.get('folder') %></label>
				<div class="controls">
					<input type="text" id="folder" class="input-xlarge">
					<p class="help-block">Lorem iptsum</p>
				</div>
			</div>

			<div class="control-group">
				<label for="port" class="control-label"><%= source.get('port') %></label>
				<div class="controls">
					<input type="text" id="port" class="input-xlarge">
					<p class="help-block">Lorem iptsum</p>
				</div>
			</div>

    <div class="form-actions ptm">
      <button class="btn btn-primary" type="submit">Save changes</button>
      <button class="btn btn-cancel">Cancel</button>
    </div>
  </fieldset>
</form>