<form class="core-form form-horizontal" id="discussion-settings">
  <fieldset class="prl">

    <div class="control-group fr">
      <label for="name" class="control-label">name</label>
      <div class="controls">
        <input type="text" id="name" class="input-xxlarge" value="<%= name %>">
      </div>
    </div>

    <div class="control-group fr">
			<label for="admin_sender" class="control-label">admin sender</label>
			<div class="controls">
				<input type="text" id="admin_sender" class="input-xxlarge" value="<%= admin_sender %>">
			</div>
		</div>

     <div class="control-group fr">
			 <label for="post_email_address" class="control-label">post email address</label>
			 <div class="controls">
				 <input type="text" id="post_email_address" class="input-xxlarge" value="<%= post_email_address %>">
			 </div>
		 </div>

			<div class="control-group fr">
				<label for="host" class="control-label">host</label>
				<div class="controls">
					<input type="text" id="host" class="input-xxlarge" value="<%= host %>">
				</div>
			</div>

      <div class="control-group fr">
          <label class="control-label">use ssl</label>

          <div class="controls">
              <label class="radio custom-radio input-xxlarge">
                  <input type="radio" id="use_ssl" <%= use_ssl ? 'checked': '' %> name="use_ssl" value="true">
                  <span class="custom-radio-element"></span>
                  true
              </label>
              <label class="radio custom-radio input-xxlarge">
                  <input type="radio" id="use_ssl" <%= use_ssl ? "": "checked" %> name="use_ssl" value="false">
                  <span class="custom-radio-element"></span>
                  false
              </label>
          </div>

          <label for="folder" class="control-label">folder</label>

          <div class="controls">
              <input type="text" id="folder" class="input-xxlarge" value="<%= folder %>">
          </div>
      </div>

      <div class="control-group fr">
				<label for="port" class="control-label">port</label>
				<div class="controls">
					<input type="text" id="port" class="input-xxlarge" value="<%= port %>">
				</div>
			</div>

			<div class="control-group fr">
				<label for="port" class="control-label">username</label>
				<div class="controls">
					<input type="text" id="username" class="input-xxlarge" value="<%= username %>">
				</div>
			</div>

			<div class="control-group fr">
				<label for="port" class="control-label">password</label>
				<div class="controls">
					<input type="password" id="password" class="input-xxlarge" value="<%= password %>">
				</div>
			</div>

  </fieldset>
	<div class="form-actions fr">
		<button class="btn btn-primary js_saveSource fr" type="submit">{{ gettext("Save changes") }}</button>
	</div>
</form>
