<form class="core-form form-inline emailSender">
	<input type="email" placeholder="Email sender" id="email_sender" class="input-large" value="<%= source.get('admin_sender') %>" required>
	<button class="btn btn-secondary js_emailSender" type="submit">{{ gettext("valider") }}</button>
</form>