<div class="control-group">
  <label for="targetLocation" class="control-label">
    {{ gettext("Pick where to post to") }}:
  </label>
  <div class="controls">
    <select id="fb-supportedList" class='js_fb-supportedList'>
      <option value='null'></option>
      <option value="me">{{ gettext("Your Wall") }}</option>
      <option value="page">{{ gettext("Your Pages") }}</option>
      <option value="group">{{ gettext("Your Groups") }}</option>
    </select>
    <!-- <span>*</span> -->
  </div>
</div>

<div class="fb-targeted-form"></div>

<a class="fb-js_test_area mts hidden" href='#'>Click me for test</a>
<% if(exportedMessage) { console.log(exportedMessage); %>
  <!-- This is where the message preview would go -->
  <div class="form-break mts">{{ gettext("Suggested preview") }}:</div>
  
  <div class='mts'>
    <p><%= exportedMessage.get('body') %></p>
  </div>
  
  <div class="facebook-preview" style="border: 1px solid #ddd; margin: 5px; padding: 5px">
  
    <div style="">
      <div class="control-group" style="">
        <label for="fb-link-attachment" class="control-label">{{ gettext("Link URL:") }}</label>
        <div class="controls">
          <input type="text" id="fb-link-attachment" class="input-xlarge js_fb-attachment-link">
        </div>
      </div>

      <div class="control-group" style="">
        <label for="attachmentName" class="control-label">{{ gettext("Title Override:") }}</label>
        <div class="controls">
          <input type="text" id="attachmentName" class="input-xlarge js_fb-suggested-name">
        </div>
      </div>
  
      <div class="control-group" style="">
        <label for="attachmentName" class="control-label">{{ gettext("Caption Override:") }}</label>
        <div class="controls">
          <input type="text" class="input-xlarge js_fb-suggested-caption">
        </div>
      </div>
  
      <div class="control-group" style="">
        <label for="attachmentName" class="control-label">{{ gettext("Description Override:") }}</label>
        <div class="controls">
          <textarea rows=3 class="input-xlarge js_fb-suggested-description"></textarea>
        </div>
      </div>
    </div>
  
  </div>
<% } %>
