<div class="popin-header pbxs background-grey">
  <i class="icon-discuss"></i>
</div>

<div class="popin-body ptxs background-grey">
  <div class="content">
    <h1 class="h1 pbs">{{ gettext('Congratulations on making your first contribution!') }}</h1>
    <h6 class="h6 tal">{{ gettext('Stay informed and up to date with the evolution of the discussion and receive notifications when:') }}</h6>
    <ul class="tal"><% console.log("notificationsToShow in template: ", notificationsToShow); _.each(notificationsToShow, function(notification, i){ %>
    	<li class="h6"><%= i18n.gettext(notification.get('human_readable_description')) %></li>
    <% }); %></ul>
    <h6 class="h6 tal">{{ gettext('You can modify at anytime the type of notification you receive by clicking on the ‘Notifications’ section of your profile.') }}</h6>
  </div>
  <div class="clr"></div>
</div>

<div class="popin-footer background-lightgrey">
  <button class="btn btn-cancel btn-sm fl js_close">{{ gettext('Not now') }}</button>
  <button class="btn btn-third btn-sm fr js_subscribe">{{ gettext('Receive notifications') }}</button>
</div>