<div class="popin-header empty">
  <i class="icon-discuss"></i>
</div>

<div class="popin-body">
  <div class="content">
    <h1 class="h1">{{ gettext('Congratulations for your first contribution!') }}</h1>
    <h5 class="h5">{{ gettext('You could receive notifications when participants respond to your messages, and when a synthesis is published (usually once a week, don\'t worry!).') }}</h5>
  </div>
  <div class="clr"></div>
</div>

<div class="popin-footer">
  <button class="btn btn-cancel btn-sm fl js_close">{{ gettext('not now') }}</button>
  <button class="btn btn-third btn-sm fr js_subscribe">{{ gettext('yes, thanks') }}</button>
</div>