<header>
   <a class="add-group"><i class="icon-add"></i> Add a group of views</a>
   <a class="lock-group"><i class="icon-lock"></i> Lock this group</a>
   <a class="close-group"><i class="icon-delete"></i></a>
</header>
<div class="panelarea-table"></div>
