<div class="popin-header">
 {{ gettext('WRITEME:  Group title...') }}
</div>
<div class="popin-body">

</div>
<div class="popin-footer">
	<button class="btn btn-cancel btn-sm fr js_close">{{ gettext('Close') }}</button>
</div>

