<div class="idea-list itemPanel"></div>
<div class="idea-panel itemPanel"></div>
<div class="clipboard-panel itemPanel"></div>
<div class="message-panel itemPanel"></div>
<div class="synthesis-panel itemPanel"></div>
