<div class="groupHeader">
<% if( Ctx.userCanChangeUi() ){ %>
  <a class="js_lockGroup lock-group phs"><i class="icon-lock-open"></i></a>
  <a class="js_closeGroup close-group"><i class="icon-delete"></i></a>
<% } %>
</div>
<div class="groupBody"></div>