<div class="popin-header">
    <a href="#" class="close"><i class="icon-delete"></i></a>
    <h3 class="h3"><%= title %></h3>
</div>
<div class="popin-body">

</div>
{#
<div class="popin-footer">
     <button class="btn btn-cancel btn-sm fr js_close">{{ gettext('Close') }}</button> 
</div>
#}