<div class="groupHeader">
<% if( !Ctx.displayCallToAction() ){ %>
  <a class="lock-group phs"><i class="icon-lock-open"></i></a>
  <a class="close-group"><i class="icon-delete"></i></a>
<% } %>
</div>
<div class="groupBody"></div>