<div class="debateIntroductionContainer tal">
    <div class="debateIntroductionContent">
        <h3 class="h3 tac mbxl welcome">{{ gettext('Welcome!') }}</h3>
        <h1 class="h1 tac">{{ gettext('Pick a topic and start contributing')}}</h1>
        <p class="tac mbl help1">{{ gettext('This table of contents helps you find the conversations and topics you are interested in so you don’t get overwhelmed. Topics include messages from all related sub-topics as well.') }} </p>
        <p class="tac help2">{{ gettext('This is a safe and respectful space. All ideas are welcome!') }}</p>
        <p class="tac help3"><i class="icon-imported"></i></p>
    </div>
</div>