<div class="bbm-modal__topbar">
    <p class="bbm-modal__title">{{ gettext('Context') }}</p>
    <a href="#" class="fr mts popin-close"><i class="icon-delete"></i></a>
</div>
<div class="bbm-modal__section">
    <div class="content">
      <%= introduction %>
    </div>
</div>