<div class="popin-header">
    <a href="#" class="close"><i class="icon-delete"></i></a>
    <h3 class="h3">{{ gettext('Context') }}</h3>
</div>
<div class="popin-body">
    <div class="content">
      <%= introduction %>
    </div>
</div>
<div class="popin-footer"></div>