<div class="popin-header">
    <a href="#" class="close"><i class="icon-delete"></i></a>
    <h3 class="h3"><%= title %></h3>
</div>
<div class="popin-body">
    <div class="content">
      <%= content %>
    </div>
</div>
<div class="popin-footer"></div>