<div class="mam">
	<h3>{{ gettext('How it works') }}</h3>

	<div>
	{{ gettext('How it works text') }}
	</div>

	<h3>{{ gettext('Join the debate') }}</h3>

	<p>{{ gettext('Because your opinion merits to be heard.') }}</p>

	<div class="mal bac tac">
		<input type="submit" value="{{ gettext('Join the debate') }}" class="btn btn-primary btn-sm go-to-debate" />
	</div>
</div>