<div class="left-column">
  <div class="idea-reason-introduction">
    <%= i18n.sprintf('{{gettext("<span class=\"author\">%s</span> started this new discussion thread directly on the idea:")|safe}}', author) %>
  </div>
  <div class="idea js_breadcrumb"></div>
</div>
<div class="right-column">
  <a class="btn-sm btn-secondary js_seeIdea"><%= viewIdea %></a>
</div>
