
{# List votable widgets of this idea
   And show configuration link of this widget if available #}
<% if ( canUseWidget ) {
  var ideaShortTitle = idea ? idea.getShortTitleDisplayText() : '';
  var voteTitle = i18n.sprintf(i18n.gettext('Vote on the \'%s\' idea'), ideaShortTitle);
  _.each(votable_widgets, function(votable_widget, i){
    var url = votable_widget.widget_url+encodeURIComponent("?target="+idea.getId());
    print("<div class=\"dispb mts\">");
    print("<a href=\""+url+"\" target=\"_blank\" class=\"js_openTargetInModal\" data-modal-title=\""+voteTitle+"\" data-modal-resizable=\"true\">{{gettext('Vote on this idea')}}</a>");
    if ( canCreateWidgets ) {
        var configure_url = "/static/widget/vote/?admin=1#/admin/configure_instance?widget_uri="+votable_widget.widget_uri+"&target="+idea.getId();
        print(" - <a href=\""+configure_url+"\" target=\"_blank\" class=\"js_openTargetInModal js_clearWidgetDataAssociatedToIdea\" data-modal-title=\"{{gettext('Configure this vote widget')}}\">{{gettext('Configure this vote widget')}}</a>");
    }
    print("</div>");
  });
} %>


{#
  This version is commented out (we want to show the "Inspire me!" link in the Conversation panel instead of the Idea panel). 
  Show creativity/inspiration widget if available
  And show configuration link of this widget if available
<% if ( canUseWidget && inspiration_widget_url ){
  print("<div class=\"dispb mts\">");
  print("<a href=\"" + inspiration_widget_url + "\" target=\"_blank\" class=\"js_openTargetInModal\" data-modal-title=\"{{gettext('Inspire me!')}}\">{{gettext('Inspire me!')}}</a>");
  if ( canCreateWidgets && inspiration_widget_configure_url ){
    print(" - <a href=\"" + inspiration_widget_configure_url + "\" target=\"_blank\" class=\"js_openTargetInModal js_clearWidgetDataAssociatedToIdea\" data-modal-title=\"{{gettext('Configure this creativity widget')}}\">{{gettext('Configure this creativity widget')}}</a>");
  }
  print("</div>");
} %>
#}


{# 
  If available, show configuration link of the inspiration/creativity widget associated to this idea
#}
<% if ( canCreateWidgets && inspiration_widget_configure_url ){
  print("<div class=\"dispb mts\">");
  print("<a href=\"" + inspiration_widget_configure_url + "\" target=\"_blank\" class=\"js_openTargetInModal js_clearWidgetDataAssociatedToIdea\" data-modal-title=\"{{gettext('Configure the creativity widget associated to this idea')}}\">{{gettext('Configure the creativity widget associated to this idea')}}</a>");
  print("</div>");
} %>


{# Show a widget creation link (inspiration/creativity and vote) from this idea #}
<% if (Ctx.getCurrentInterfaceType() != Ctx.InterfaceTypes.SIMPLE){
  if ( canCreateWidgets && idea ) {
      var create_vote_widget_url = "/static/widget/vote/?admin=1#/admin/create_from_idea?idea="+encodeURIComponent(idea.getId()+"?view=creativity_widget");
      print("<a href=\""+create_vote_widget_url+"\" target=\"_blank\" class='dispb mts js_openTargetInModal js_clearWidgetDataAssociatedToIdea' data-modal-title=\"{{gettext('Create a vote widget on this idea')}}\">{{gettext('Create a vote widget on this idea')}}</a>");

      if ( inspiration_widget_create_url ) {
        print("<a href=\"" + inspiration_widget_create_url + "\" target=\"_blank\" class='dispb mts js_openTargetInModal js_clearWidgetDataAssociatedToIdea' data-modal-title=\"{{gettext('Create a creativity widget on this idea')}}\">{{gettext('Create a creativity widget on this idea')}}</a>");
      }
  }
} %>
