<div class="panel" draggable="draggable">

    <div class="panel-header">
        <strong data-tooltip="{{gettext('Detailled information about the currently selected idea in the Table of ideas')}}">{{ gettext('Idea') }}</strong>
        <div class="float-right">
            <a id="ideaPanel-closebutton" class="iconbutton icon-cancel" data-tooltip="{{gettext('Close panel')}}"></a>
        </div>
    </div>
    
    <div class="panel-body">
        <strong id="ideaPanel-shorttitle" title="<%= idea.get('shortTitle') %>" class="panel-editablearea" contenteditable="true"><%= idea.get('shortTitle') %></strong>

        <div class="spacer"></div>
        
        <% if(editing){ %>
            <div class="panel-editablebox is-editing">
                <div id="ideaPanel-toptoolbar"></div>
                <div id="ideaPanel-longtitle" class="text margin panel-editablearea" contenteditable="true">
                    <%= app.stripHtml(idea.get('longTitle')) == '' ? idea.getlongTitleDisplayText() : idea.get('longTitle') %>
                </div>
                <div id="ideaPanel-bottomtoolbar"></div>
                <div id="ideaPanel-buttons" class="text-right padding">
                    <a class="button ideaPanel-cancelbtn">{{ gettext('Cancel') }}</a>
                    <a class="button button--primary ideaPanel-savebtn">{{ gettext('Save') }}</a>
                </div>
            </div>
        <% } else { %>
            <div class="panel-editablebox">
                <div id="ideaPanel-longtitle" class="text margin panel-editablearea">
                    <%= app.stripHtml(idea.get('longTitle')) == '' ? idea.getlongTitleDisplayText() : idea.get('longTitle') %>
                </div>
            </div>
        <% } %>

        <div class="spacer"></div>

        <p class="text-muted margin">
            {% set creationDate = "<%= app.formatDate(idea.get('creationDate')) %>" %}
            {% set userName = "Jean-Michel" %} {# "<%= userName %>" #}

            {{- gettext('Created on %(date)s')|format(date=creationDate)|safe }}
        </p>
            

        <div class="boxlist">
            <div class="box text">
                {{ gettext('Expressed in %(num)s message segments:')|format(num='<%= segments.length %>')|safe }}
            </div>
            <% _.each(segments, function(segment, i){ %>
                {% include "views/segment.tmpl" %}
            <% }); %>
            
            <div class="box box--dashed box--centered margin text-muted text-big">
                {{ gettext('Add segments of posts') }}
            </div>

        </div>

    </div>

    <div class="panel-footer">
        <div class="float-right">
            <a id="ideaPanel-deleteButton" class="link">{{ gettext('Delete idea') }}</a>
        </div>
        <a id="ideaPanel-clearbutton" class="link">{{ gettext('Clear segments') }}</a>
    </div>

</div>
