<div class="panel" draggable="draggable">

    <div hidden="hidden">
        <span id="ideaPanel-clearConfirmationMessage">{{ gettext('Do you confirm removing all segments ?') }}</span>
        <span id="ideaPanel-deleteIdeaConfirmMessage">{{ gettext('Do you confirm deleting this idea ?') }}</span>
        <span id="ideaPanel-cantDeleteByChildren">{{ gettext('You cannot delete an idea which has children ideas.') }}</span>
        <span id="ideaPanel-cantDeleteBySegments">{{ gettext('You cannot delete an idea which has segments attached.') }}</span>
    </div>

    <div class="panel-header">
        <strong>{{ gettext('Idea') }}</strong>
        <div class="float-right">
            <a id="ideaPanel-closebutton" class="iconbutton icon-cancel" data-tooltip="{{gettext('Close panel')}}"></a>
        </div>
    </div>
    
    <div class="panel-body">
        <strong id="ideaPanel-shorttitle" title="<%= idea.get('shortTitle') %>" class="panel-editablearea" contenteditable="true"><%= idea.get('shortTitle') %></strong>

        <div class="spacer"></div>
        
        <div class="panel-editablebox">
            <div id="ideaPanel-toptoolbar" hidden></div>
            <div id="ideaPanel-longtitle" class="text margin panel-editablearea" contenteditable="true"><%= idea.get('longTitle') %></div>
            <div id="ideaPanel-bottomtoolbar" hidden></div>

            <a class="ideaPanel-longtitle-closebtn iconbutton icon-cancel" style="display: none;"></a>
        </div>

        <div class="spacer"></div>

        <p class="text-muted margin">
            {% set creationDate = "<%= app.formatDate(idea.get('creationDate')) %>" %}
            {% set userName = "Jean-Michel" %} {# "<%= userName %>" #}

            {{- gettext('Created in %(date)s')|format(date=creationDate)|safe }}
        </p>
            

        <div class="boxlist">
            
            <% _.each(segments, function(segment, i){ %>
                {% include "views/segment.tmpl" %}
            <% }); %>
            
            <div class="box box--dashed box--centered margin text-muted text-big">
                {{ gettext('Add segments') }}
            </div>

        </div>

    </div>

    <div class="panel-footer">
        <div class="float-right">
            <a id="ideaPanel-deleteButton" class="link">{{ gettext('Delete idea') }}</a>
        </div>
        <a id="ideaPanel-clearbutton" class="link">{{ gettext('Clear segments') }}</a>
    </div>

</div>
