<div class="panel">
    <%
    var titles = {
        'toc': "{{ gettext('Table of contents ({0})') }}",
        'featured': "{{ gettext('Featured ({0})') }}",
        'synthesis': "{{ gettext('In Synthesis ({0})') }}"
    };

    titles.toc = titles.toc.replace('{0}', tocTotal);
    titles.featured = titles.featured.replace('{0}', featuredTotal);
    titles.synthesis = titles.synthesis.replace('{0}', synthesisTotal);
    %>

    <div class="panel-header">
        <div class="dropdown">
            <span class="dropdown-label"><%= filter === 'featured' ? titles.featured : filter === 'inSynthesis' ? titles.synthesis : titles.toc %></span>
            <ul class="dropdown-list">
                <li id="ideaList-filterByFeatured" class="dropdown-listitem"><%= titles.featured %></li>
                <li id="ideaList-filterByToc"class="dropdown-listitem"><%= titles.toc %></li>
                <li id="ideaList-filterByInSynthesis" class="dropdown-listitem"><%= titles.synthesis %></li>
            </ul>
        </div>

        <div class="float-right">
            <a id="ideaList-collapseButton" class="iconbutton <%= collapsed ? 'icon-plus-squared-small' : 'icon-minus-squared-small' %>"></a>
            <a id="ideaList-closeButton" class="iconbutton icon-cancel"></a>
        </div>
    </div>
    
    <div class="panel-body">
        
        <div id="idealist-list" class="idealist"></div>

    </div>

    <div class="panel-footer text-right">
        <a class="link" id="idealist-addbutton">{{ gettext('Add idea') }}</a>
    </div>

</div>
