<div class="idealist-body" draggable="true">
    <% if (hasCheckbox) { %>

    <label class="checkbox inline custom-checkbox">
      <input type="checkbox" <% if(inNextSynthesis) { %>checked="checked"<% } %>>
      <span class="custom-checkbox-element"  data-toggle="tooltip" data-placement="right"
          <% if(inNextSynthesis) { %>title="{{ gettext('Remove from next synthesis') }}"<% } else { %>title="{{ gettext('Add to next synthesis') }}"<% } %> ></span>
    </label>

    <% }  %>
    <%  var i;
    for( var i=1; i<level; i+= 1) { 
        if (last_sibling_chain[i]) { %>
            <span class="idealist-space"></span>
        <% } else { %>
            <span class="idealist-bar"></span>
        <% }
    } %>
    <% if (level > 0) {
        if (is_last_sibling) { %>
            <span class="idealist-link-last"></span>
        <% } else { %>
            <span class="idealist-link"></span>
        <% }
    } %>


    <% if (children.length > 0) { 
        if (level > 0) { %>
            <span class="idealist-arrow"></span>
        <% } else { %>
            <span class="idealist-arrow level1"></span>
        <% }
       } else { 
        if (level > 0) { %>
            <span class="idealist-noarrow"></span>
        <% } else { %>
            <span class="idealist-space"></span>
        <% }
    } %>

    <% var num_unread_posts = (num_posts - num_read_posts); %>

    <div class="idealist-title<% if (num_unread_posts > 0 && !Ctx.getCurrentUser().isUnknownUser()) { %> idealist-title-unread<% } %> <% if (idea_css_class ){ %><%= idea_css_class %><% } %>" title="<%= shortTitle %>">
            <div class="idealist-counter" data-toggle="tooltip" title="{{ gettext('Number of messages related to this idea, or any of its sub-ideas') }}">
        <span><%= num_posts %></span>
    </div>
        <%= Ctx.stripHtml(shortTitle) %>
        <% if (typeof showLabel !== "undefined" && showLabel == "new") { %>
            <img width="26px" height="13px" title="{{ gettext('This idea has been created recently') }}" src="/static/img/icon/tag_new_horizontal_right.png" alt="{{ gettext('new!') }}" />
        <% } %>
        <% if (!Ctx.getCurrentUser().isUnknownUser()) { %>
          <% if (Ctx.getCurrentInterfaceType() === Ctx.InterfaceTypes.SIMPLE) { %>
              <% if (num_unread_posts > 0) { %>
              <span class="idealist-title-unread-count mlxs" data-toggle="tooltip" title="{{ gettext('Number of unread messages related to this idea, or any of its sub-ideas') }}"> <%= num_unread_posts %> </span>
              <% } %>
          <% } else { %>
              <% if (num_unread_posts > 0) { %>
              <span class="idealist-title-unread-count js_idealist-title-unread-count mlxs" data-toggle="tooltip" title="{{ gettext('Number of unread messages related to this idea, or any of its sub-ideas.  Click on this number to view ONLY the new unread messages') }}"> <%= num_unread_posts %> </span>
              <% } %>
          <% } %>
        <% } %>
        {# <small class="idealist-longtitle"><%= app.stripHtml(longTitle) %></small> #}
        <div class="idealist-abovedropzone"></div>
        <div class="idealist-dropzone"></div>
    </div>


</div>

<div class="idealist-children"></div>
