<div class="left-column">
  <div class="idea-reason-introduction">
    <%= i18n.sprintf('{{gettext("<span class=\"harvester\">%s</span> has considered this message relevant to the idea:")|safe}}', harvester) %>
  </div>
  <div class="idea js_breadcrumb"></div>
  <div class="mts idea-reason-content">
    {{ gettext("Considering this extract:") }}
    <div class="extract">
      <i class="icon">&#8220;</i>
      <span class="extract-text"><%= extractText %></span>
      <i class="icon">&#8221;</i>
      <span class="extract-text"><%= i18n.sprintf('{{gettext("by %s")}}', postAuthor)%></span>
    </div>
  </div>
</div>
<div class="right-column">
  <a class="btn-sm btn-secondary js_seeIdea"><%= viewIdea %></a>
</div>
