
{#
  List vote widgets of this idea
  And show configuration link of this widget if available
#}

<% if ( canUseWidget ) {
  var ideaShortTitle = idea ? idea.getShortTitleDisplayText() : '';
  var voteTitle = i18n.sprintf(i18n.gettext('Vote on the \'%s\' idea'), ideaShortTitle);
  _.each(vote_widgets, function(vote_widget, i){
    print("<div class=\"dispb mts\">");
    if ( vote_widget.vote_url ) {
      var url = vote_widget.vote_url;
      print("<a href=\""+url+"\" target=\"_blank\" class=\"js_openTargetInModal\" data-modal-title=\""+voteTitle+"\" data-modal-resizable=\"true\">{{gettext('Vote on this idea')}}</a>");
    }
    
    if ( canCreateWidgets && vote_widget.configure_url ) {
        var configure_url = vote_widget.configure_url;
        print(" - <a href=\""+configure_url+"\" target=\"_blank\" class=\"js_openTargetInModal js_clearWidgetDataAssociatedToIdea\" data-modal-title=\"{{gettext('Configure this vote widget')}}\">{{gettext('Configure this vote widget')}}</a>");
    }
    print("</div>");
  });
} %>


{#
  This version is commented out (we want to show the "Inspire me!" link in the Conversation panel instead of the Idea panel). 
  Show creativity/inspiration widget if available
  And show configuration link of this widget if available
<% if ( canUseWidget && inspiration_widget_url ){
  print("<div class=\"dispb mts\">");
  print("<a href=\"" + inspiration_widget_url + "\" target=\"_blank\" class=\"js_openTargetInModal\" data-modal-title=\"{{gettext('Inspire me!')}}\">{{gettext('Inspire me!')}}</a>");
  if ( canCreateWidgets && inspiration_widget_configure_url ){
    print(" - <a href=\"" + inspiration_widget_configure_url + "\" target=\"_blank\" class=\"js_openTargetInModal js_clearWidgetDataAssociatedToIdea\" data-modal-title=\"{{gettext('Configure this creativity widget')}}\">{{gettext('Configure this creativity widget')}}</a>");
  }
  print("</div>");
} %>
#}


{# If available, show configuration link of the inspiration/creativity widget associated to this idea #}

<% if ( canCreateWidgets && inspiration_widget_configure_url ){ %>
    <a href="<%= inspiration_widget_configure_url %>" target="_blank" class="dispb mts js_openTargetInModal js_clearWidgetDataAssociatedToIdea" data-modal-title="{{gettext('Configure the creativity widget associated to this idea')}}">{{gettext('Configure the creativity widget associated to this idea')}}</a>
<% } %>

{# Show a widget creation link (inspiration/creativity and vote) from this idea #}

<% if ( canCreateWidgets && idea ) {
    if ( vote_widget_create_url ) { %>
      <a href="<%= vote_widget_create_url %>" target="_blank" class="dispb mts js_openTargetInModal js_clearWidgetDataAssociatedToIdea" data-modal-title="{{gettext('Create a vote widget on this idea')}}">{{gettext('Create a vote widget on this idea')}}</a>
    <% } %>

    <% if ( inspiration_widget_create_url ) { %>
      <a href="<%= inspiration_widget_create_url %>" target="_blank" class='dispb mts js_openTargetInModal js_clearWidgetDataAssociatedToIdea' data-modal-title="{{gettext('Create a creativity widget on this idea')}}">{{gettext('Create a creativity widget on this idea')}}</a>
    <% }

    if ( session_widget_create_url ) { %>
      <a href="<%= session_widget_create_url %>" target="_blank" class='dispb mts js_openTargetInModal js_clearWidgetDataAssociatedToIdea' data-modal-title="{{gettext('Create a creativity session widget on this idea')}}">{{gettext('Create a creativity session widget on this idea')}}</a>
    <% }
  }
%>

<% if ( session_widget_url ) { %>
    <a href="<%= session_widget_url %>" target="_blank" class='dispb mts js_openTargetInModal js_clearWidgetDataAssociatedToIdea' data-modal-title="{{gettext('Access to creativity session')}}">{{gettext('Access to creativity session')}}</a>
<% } %>
