<% /* if (hasCheckbox) { %>
<span class="idealist-checkbox">
    <input type="checkbox" />
</span>
<% } */ %>
<span class="idealist-label <% if (hasOptions) { %>has-options<% } %>" >
    <% if (hasChildren) { %><span class="idealist-label-arrow"></span><% } %>
    <%= subject %>
    <span class="idealist-label-options">
        <a class="iconbutton icon-pencil"></a>
        <a class="iconbutton icon-rearrangeemail"></a>
        <a class="iconbutton icon-copyfolder"></a>
    </span>
</span>
<div class="fixedcounter"><%= total %></div>
