<div class="left-column">
  <div class="idea-reason-introduction">
    <% print(i18n.sprintf(i18n.gettext("This message is part of a discussion thread named <div class='thread-title'>%s</div> and one of its messages already talks about idea:"), threadTitle)); %>
  </div>
  <div class="idea"></div>
</div>
<div class="right-column">
  <a class="btn-sm btn-secondary js_seeIdea"><%= i18n.gettext("See this idea and close this window") %></a>
</div>
