<div class="panel-body">
  <div class="mtxs"></div>
  <div class="allMessagesView"></div>

  <hr />

  <div class="otherView"></div>
  <div class="synthesisView"></div>
  <div class="orphanView"></div>

  <hr />

  <div id="tour_step_idealist" class="idealist-header pvxs">
    <span class="idealist-header-title pls ">{{ gettext('Table of ideas') }}</span>
    <div class="idealist-actions">
      <% if (canAdd) { %>
        <a href="#" class="js_ideaList-addbutton" class="btn btn-default btn-sm">
            <i class="icon-add-2"></i> {{ gettext('Add idea') }}
        </a> &nbsp;&nbsp;
      <% } %>
      <div class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false" title="{{ gettext('Options') }}"><i class="icon-options"></i></a>
        <ul class="dropdown-menu">
          <li><a href="#" class="js_decreaseRowHeight">{{ gettext('Decrease row height') }}</a></li>
          <li><a href="#" class="js_increaseRowHeight">{{ gettext('Increase row height') }}</a></li>
          <li><a href="#" class="js_toggleDecreasingFontSizeWithDepth">{{ gettext('Toggle decreasing font size with depth') }}</a></li>
          <li><a href="#" class="js_expandAllIdeas">{{ gettext('Expand all ideas') }}</a></li>
          <li><a href="#" class="js_collapseAllIdeas">{{ gettext('Collapse all ideas') }}</a></li>
          <% if (canAdd) { %>
            <li><a href="#" class="js_saveIdeasStateAsDefault" title="{{ gettext('Save the current expanded/collapsed state as default for users') }}">{{ gettext('Save the current expanded/collapsed state as default for users') }}</a></li>
          <% } %>
          <li><a href="#" class="js_restoreIdeasState">{{ gettext('Restore default expanded/collapsed state') }}</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div id="idealist-list" class="idealist">
    <div class="ideaView"></div>
  </div>

</div>


