<div class="idea-reason-introduction">
  <% print(i18n.sprintf(i18n.gettext("This message is part of a discussion thread named <div class='thread-title'>%s</div> and one of its messages already talks about idea:"), threadTitle)); %>
</div>
<div class="idea"></div>
