<div class="idealist-body">
    <% if (hasCheckbox) { %>
    <label class="chk chk--idealist">
        <input type="checkbox" class="chk-checkbox" />
        <span class="chk-label"></span>
    </label>
    <% }  %>

    <% for( var i=1; i<level; i+= 1) { %>
        <span class="idealist-bar"></span>
    <% } %>
    
    <% if (hasChildren) { %>
        <span class="idealist-arrow"></span>
    <% } %>

    <div class="idealist-counter"><%= total %></div>
    <div class="idealist-title">
        <%= shortTitle %>
        <small class="idealist-longtitle text-small text-muted"><%= longTitle %></small>
    </div>
</div>

<div class="idealist-children"></div>
