<div class="bar">
    <div class="bar-left">Algo aqui</div>
    <div class="bar-right">
        <a class="iconbutton iconbutton--fx icon-search"></a>
        <a class="iconbutton iconbutton--fx icon-copyfolder"></a>
    </div>
</div>
<ul id="inbox-emaillist" class="emaillist"></ul>
