<div class="panel-header">
    <div class="bar">
        <div class="bar-left">Table des matières (234)</div>
        <div class="bar-right">
            <a class="iconbutton icon-copyfolder"></a>
            <a class="iconbutton icon-search"></a>
            <a class="iconbutton icon-down"></a>
        </div>
    </div>
</div>

<div class="panel-body">
    <ul id="inbox-emaillist" class="emaillist"></ul>
</div>
