<p><%= message %> <a class="btn js_openTargetInModal <%= call_to_action_class %>" href="<%= widget_endpoint %>&amp;locale=<%= locale %>" data-modal-resizable="false" data-modal-resize-on-load="false"><%= call_to_action_msg %></a></p>
<i class="icon-delete close js_closeInfobar"></i>
