<p><%= message %> <a class="btn js_openTargetInModal <%= call_to_action_class %>" href="<%= widget_endpoint %>" data-modal-resizable="true" data-modal-resize-on-load="true"><%= call_to_action_msg %></button></p>
<i class="icon-delete close js_closeInfobar"></i>
