<div class="widget-banner">
    <div class="content"><%= message %> <% if (shows_button){ %><a class="btn btn-secondary btn-sm mlm <%= call_to_action_class %>" href="<%= share_link %>" data-href="<%= widget_endpoint %>" data-modal-resizable="false" data-modal-resize-on-load="false" data-modal-title="<%= call_to_action_msg %>"><%= call_to_action_msg %></a><% } %></div>
    <i class="icon-delete close js_closeInfobar"></i>
</div>