<% if(context) { %>
<div class="gr">
  <div class="gu gu-1of1">
    <div class="white-mark">
      <div class="block-full">
        <div class="block-content">
          <div class="white-mark-content">
          	<div class="white-mark-title">
          		 <h3 class="h3 js_discussionTitle"><%= context.get('topic') %></h3>
          	</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="gr">
  <div class="gu gu-1of2">
    <div class="block-content">
      <% if( _.size(context.get('introduction')) || userCanEditDiscussion ){ %>
        <h2>{{ gettext('Context') }}</h2>
        <% if( editingIntroduction ) { %>
			  <% } else if (_.size(context.get('introduction')) === 0) { %>
			    <div class="context-introduction ctx_edit js_editIntroduction"><i class="icon-add"></i> {{ gettext('You probably want to add a context for this discussion') }}</div>
        <% } %>
      <% } %>
      <div class="context-introduction-editor"></div>
    </div>
  </div>
  <div class="gu gu-last">
   <div class="block-content">
     <% if( _.size(context.get('objectives')) || userCanEditDiscussion){ %>
       <h2>{{ gettext('Discussion objectives') }}</h2>
         <% if( editingObjective ) { %>

         <% } else if (_.size(context.get('objectives')) === 0) { %>
           <div class="context-objective ctx_edit js_editObjective"><i class="icon-add"></i> {{ gettext('You probably want to add some discussion objectives') }}</div>
         <% } %>
     <% } %>
     <div class="context-objective-editor"></div>
   </div>
  </div>
</div>

<% } %>