<div class="popin-header empty">
  <i class="icon-discuss"></i>
</div>

<div class="popin-body">
  <div class="content">
    <h1 class="h1">{{ gettext('Subscribe to discussion') }}</h1>
    <h5 class="h5 tal">{{ gettext('By subscribing to this discussion, you will receive a notification when:') }}</h5>
    <ul class="tal"><% console.log("notificationsToShow in template: ", notificationsToShow); _.each(notificationsToShow, function(notification, i){ %>
    	<li><%= i18n.gettext(notification.get('human_readable_description')) %></li>
    <% }); %></ul>
    <h5 class="h5 tal">{{ gettext('You can then edit your subscriptions at anytime in the "Notifications" section of your profile.') }}</h5>
  </div>
  <div class="clr"></div>
</div>

<div class="popin-footer">
  <button class="btn btn-cancel btn-sm fl js_close">{{ gettext('not now') }}</button>
  <button class="btn btn-third btn-sm fr js_subscribe">{{ gettext('yes, thanks') }}</button>
</div>
