<section class="lateralmenu">

    <header>
        <div id="lateralmenu-button">
            Close me
        </div>

        <div class="searchbox">
            <input type="text" class="searchbox-field" />
        </div>

        <div class="avatarbox">
            <img src="http://www.gravatar.com/avatar/39cbf87dae724f2cb64e92accdd4d349.jpg?s=38" alt="User"  class="image-rounded margin-right"/>

            <span>André Farzat</span>
        </div>
    </header>

    <div class="accordion accordion--lateralmenu">
        <div class="accordion-area">
            <div class="accordion-header">
                <span class="accordion-label icon-file">Table de Matières</span>

                <span class="accordion-counter">182</span>
            </div>
            <div class="accordion-body">
                <ul class="emaillist emaillist--dark emaillist--lateralmenu">
                    <li class="emaillist-item">
                        <span class="emaillist-label">Synthèse sur l'innocation monétaire</span>
                        <div class="fixedcounter">22</div>
                    </li>
                    <li class="emaillist-item" data-emaillist-level="1">
                        <span class="emaillist-label">
                            <span class="emaillist-label-arrow"></span>
                            L'expédition sur l'innovation monétaire
                        </span>
                        <div class="fixedcounter">189</div>
                    </li>
                    <li class="emaillist-item is-hidden" data-emaillist-level="2">
                        <span class="emaillist-label">Présentation des participants</span>
                        <div class="fixedcounter">51</div>
                    </li>
                    <li class="emaillist-item is-hidden" data-emaillist-level="2">
                        <span class="emaillist-label">
                            <span class="emaillist-label-arrow"></span>
                            Les monnaies ont plusieurs rôles
                        </span>
                        <div class="fixedcounter">88</div>
                    </li>
                    <li class="emaillist-item is-hidden" data-emaillist-level="3">
                        <span class="emaillist-label">Un principe de résolution des dettes</span>
                        <div class="fixedcounter">70</div>
                    </li>
                    <li class="emaillist-item is-hidden" data-emaillist-level="3">
                        <span class="emaillist-label">Long text to make it not fit here and for the overflow and test the ellipsis</span>
                        <div class="fixedcounter">70</div>
                    </li>
                </ul>
            </div>
        </div>

        <div class="accordion-area">
            <div class="accordion-header">
                <span class="accordion-label icon-question">Aide</span>
            </div>
            <div class="accordion-body"></div>
        </div>

        <div class="accordion-area">
            <div class="accordion-header">
                <span class="accordion-label icon-settings">Paramètres</span>
            </div>
            <div class="accordion-body"></div>
        </div>

        <div class="accordion-area">
            <div class="accordion-header">
                <span class="accordion-label icon-power">Déconnexion</span>
            </div>
            <div class="accordion-body"></div>
        </div>
    </div>


</section>
