<section>

    <header>
        <a id="lateralmenu-button" class="closebutton"></a>

        {#
        <div class="searchbox">
            <input type="text" class="searchbox-field" />
        </div>
        #}
        {% if user %}
        <div class="avatarbox">
            <img src="/user/id/{{user.id}}/avatar/38" alt="User"  class="image-rounded margin-right"/>

            <span>{{ user.display_name() }}</span>
        </div>
        <div class="accordion-area">
            <div class="accordion-header">
                <span class="accordion-label icon-power">{{ gettext('Logout') }}</span>
            </div>
            <div class="accordion-body"></div>
        </div>
        {% endif %}

    </header>

    <div class="accordion accordion--lateralmenu">
        {#
        <div class="accordion-area">
            <div class="accordion-header">
                <span class="accordion-label icon-question">{{ gettext('Help') }}</span>
            </div>
            <div class="accordion-body"></div>
        </div>

        <div class="accordion-area">
            <div class="accordion-header">
                <span class="accordion-label icon-settings">{{ gettext('Settings') }}</span>
            </div>
            <div class="accordion-body"></div>
        </div>
        #}

    </div>


</section>
