<div>
<div class="js_listPreference"></div>
<% if (canModify) { %>
<button class="js_add_to_listpref btn" <% if (!canModify) { print('disabled="disabled"')} %>>{{ gettext('Add') }}</button>
<% } %>
</div>
