<div>
<label data-toggle="tooltip" title="i18n.gettext(preferenceData.description)"><%= i18n.gettext(preferenceData.name) %></h2>
<div class="js_listPreference"></div>
<button id="pref_<%= preferenceData.id %>_value" class="js_add_to_listpref">{{ gettext('Add') }}</button>
</div>
