<% if (canPost) { %>
    <% if ( message_send_title ) { %>
      <div class="mbl">
        <span class="h2"><i class="icon-discuss"></i> <%= message_send_title %></span>
      </div>
    <% } %>
    <form>
    <div class="rc rcss">
      {% if user %}
      <a class="img-left avatar img-rounded" href="#"><img src="/user/id/{{user.id}}/avatar/30" width="30" height="30"></a>
      {% endif %}
      <div class="messageSend-form">
        <div>
          <% if(allow_setting_subject) { %>
            <div class="topic-subject mbxs">
                <span class="topic-subject-input">
                  <input type="text" class="messageSend-subject formfield text bras" placeholder="{{gettext('New topic subject:')}}" value="<%= msg_in_progress_title %>" />
                </span>
            </div>
          <% } %>
        </div>
        <div>
          <textarea class="formtextarea messageSend-body js_messageSend-body text mbxs" placeholder="<%= body_help_message %>"><%= msg_in_progress_body %></textarea>
          <div class="attachments js_attachment-edit-region"></div>
          <% if(show_target_context_with_choice) { %>
          <div class="messageSend-target txt-gray1">
              <% if(reply_idea) { %>
                <p class="mvxs">{{gettext('Your message will be posted:')}}</p>
                <label class="mbxs dispib"><input type="radio" class="vat man mrxs" name="messageSend-target-idea" value="<%= reply_idea.getId() %>" checked /><%= i18n.sprintf("{{gettext('Under the idea "%s"')}}", reply_idea_title) %></label>
                <br/>
                <label class="mbxs dispib"><input type="radio" class="vat man mrxs" name="messageSend-target-idea" value="" /><%= i18n.sprintf('{{gettext("In the general \"%s\" conversation (a community manager will organize your contribution in the table of ideas afterwards, possibly by creating a new idea)")}}', '{{ discussion.topic }}' ) %></label>
              <% } else if ( reply_message_id ) { %>
                <p>{{gettext('Your message will be posted as a child of the previous message.')}}</p>
              <% } else { %>
                <p>{{gettext('Your message will be posted in the general conversation.')}}</p>
              <% } %>
          </div>
          <% } %> 
          <span class="mtm">
            <div class='js_upload-button'></div>
            <div class="messageSend-buttons fr"> <!-- need again this part for top posting -->
                <% if ( reply_message_id ) { %>
                  <a class="btn btn-primary btn-sm messageSend-sendbtn"><%= send_button_label %></a>
                <% } else { %>
                  <a class="btn btn-primary btn-sm messageSend-sendbtn"><%= send_button_label %></a>
                <% } %>
                <% if ( !show_cancel_button ) { %>
                  <a class="btn btn-cancel btn-sm messageSend-cancelbtn"><%= cancel_button_label %></a>
                <% } %>
            </div>
          </span>
        </div>
      </div>
    </div>
    </form>
<% } else { %>
    <div class="warning-box-for-message-post">
      <div class="attachments js_attachment-edit-region"></div>
      <div class='js_upload-button'></div>
      <p class="js_warning-message-for-message-post"></p>
    </div>
<% } %>


