{{gettext('Initial message content')}}
<textarea class="formtextarea text mbxs" disabled><%= message_original_body_safe %></textarea>

{{gettext('Message publication status')}}
<select class="message-publication-status js_messagePublicationStatusSelect">
    <option value="PUBLISHED" <% if (message_publication_status == "PUBLISHED"){ %>selected<% } %>>{{gettext('Published without moderation')}}</option>
    <option value="MODERATED_TEXT_ON_DEMAND" <% if (message_publication_status == "MODERATED_TEXT_ON_DEMAND"){ %>selected<% } %>>{{gettext('Moderated, initial content available')}}</option>
    <option value="MODERATED_TEXT_NEVER_AVAILABLE" <% if (message_publication_status == "MODERATED_TEXT_NEVER_AVAILABLE"){ %>selected<% } %>>{{gettext('Moderated, initial content not available')}}</option>
</select>

<br/>

<div class="js_moderationDetails hidden">
    <div class="js_messageModerator hidden">
        {{gettext('Moderated by')}}
        <div class="js_avatarContainer avatarContainer"></div>
        <span class="message-author js_nameContainer"></span>
    </div>


    {{gettext('Moderated version of the message')}}
    <textarea class="formtextarea message-moderated-version js_messageModeratedVersion text mbxs" placeholder="{{gettext('Type something...')}}"><%= message_moderated_version %></textarea>

    <br/>
    
    {{gettext('Moderation remarks')}}
    <textarea class="formtextarea message-moderation-remarks js_messageModerationRemarks text mbxs" placeholder="{{gettext('Type something...')}}"><%= message_moderation_remarks %></textarea>

    <br/>
</div>

<a class="btn btn-primary btn-sm js_messageModerationSaveButton">{{gettext('Save')}}</a> <a class="btn btn-cancel btn-sm js_messageModerationCancelButton">{{gettext('Cancel')}}</a>
