<div class="panel">

    <div id="messagelist-list" class="panel-divisor">

        <div class="panel-header">
            <div class="dropdown">
                {% set inbox = '<%= inbox %>' %}

                <span class="dropdown-label text-bold">{{ gettext('Messages (%(total)s)')|format(total=inbox)|safe }}</span>
                <ul class="dropdown-list">
                    <li id="messagelist-inbox" class="dropdown-listitem">{{ gettext('Inbox') }}</li>
                    {# <li class="dropdown-listitem">{{ gettext('Unread') }}</li>
                    <li class="dropdown-listitem">{{ gettext('Uncaught') }}</li>
                    <li class="dropdown-listitem">{{ gettext('Followed') }}</li> #}
                </ul>
            </div>

            <div class="dropdown dropdown--button">
                <span class="dropdown-label">
                    <label class="chk chk--dropdown chk--muted">
                        <input id="messagelist-mainchk" type="checkbox" class="chk-checkbox" />
                        
                        <span class="chk-label"></span>
                    </label>
                </span>

                <ul class="dropdown-list">
                    <li id="messagelist-selectall" class="dropdown-listitem">{{ gettext('All') }}</li>
                    <li id="messagelist-selectnone" class="dropdown-listitem">{{ gettext('None') }}</li>
                    <li id="messagelist-selectread" class="dropdown-listitem">{{ gettext('Read') }}</li>
                    <li id="messagelist-selectunread" class="dropdown-listitem">{{ gettext('Unread') }}</li>
                </ul>
            </div>

            <div class="buttongroup margin-left">
                <a id="messageList-prevButton" class="button button--condensed" <%= page == 1 ? 'disabled' : '' %>>
                    <i class="icon-left-dir"></i>
                </a>
                <a id="messageList-nextButton" class="button button--condensed" <%= page >= maxPage ? 'disabled' : '' %>>
                    <i class="icon-right-dir"></i>
                </a>
            </div>

            <div class="inline text-muted margin-left">
                {% set startIndex = '<%= startIndex %>' %}
                {% set endIndex = '<%= endIndex %>' %}
                {% set total = '<%= total %>' %}

                {{ gettext('%(start)s - %(end)s of %(total)s')|format(start=startIndex, end=endIndex, total=total)|safe }}
            </div>

            <div class="float-right">
                <a id="messageList-collapseButton" class="iconbutton <%= collapsed ? 'icon-download-1' : 'icon-upload' %>"></a>
                <a id="messageList-closeButton" class="iconbutton icon-cancel"></a>
            </div>
        </div>

        <div class="panel-body">
            
            <div id="messageList-list" class="idealist"></div>

        </div>

        <div class="panel-footer"></div>

    </div>
    
    <div id="messagelist-messages" class="panel-divisor">
        
        <div class="panel-header">
            <a id="messagelist-returnButton" class="link text-bold">{{ gettext('Return') }}</a>

            <div class="float-right">
                <a id="messageList-message-collapseButton" class="iconbutton <%= threadCollapsed ? 'icon-download-1' : 'icon-upload' %>"></a>
            </div>
        </div>

        <div id="messagelist-thread" class="panel-body boxlist">
            {{ gettext('Loading...') }}
        </div>

        <div class="panel-footer"></div>

    </div>

</div>
