<div class='js_translation_show_original'>
    <span class='js_trans_show_origin'>{{gettext("View the original message")}} </span>
    <span>{{gettext("Translated by Google Translate") }}</span>
</div>
<div class='js_translation_question'>
    <span><%= translationQuestion %></span>
    <span>
        <select class='js_translate_to_language'>
            <% _.each(supportedLanguages, function(lang, locale){ %>
                <option value="<% locale %>"
                <% if (locale === translatedTo.locale) { %> selected="selected" <% } %>
                ><%= lang %></option>
            <% }) %>
        </select>
    </span>
    <span class='js_language_of_choice_confirm'>{{ gettext("Yes") }}</span>
    <span class='js_language_of_choice_deny'>{{ gettext("Do not translate") }} </span>
</div>
<div class='hidden js_translate_all_confirm_msg'>
    <span>{{ gettext("Your preferences are saved. They can always be changed under ") }}</span>>

    <span class='js_load_profile_settings'>{{ gettext("your profile") }}</span>
</div>
