<div class="idealist-body">
    <label class="chk chk--idealist chk--muted">
        <input type="checkbox" class="chk-checkbox" <%= checked ? 'checked="checked"' : '' %> />
        <span class="chk-label"></span>
    </label>

    <% for( var i=1; i<level; i+= 1) { %>
        <span class="idealist-bar"></span>
    <% } %>

    <% if (children.length > 0) { %>
        <span class="idealist-arrow"></span>
    <% } %>


    <div class="idealist-subtitle"><%= app.formatDate(date) %></div>
    <div class="idealist-subtitle"><%= authorName %></div>
    <div class="idealist-title <%= ( read ? '' : 'text-bold' ) %>" data-messageid="<%= id %>">
        <%= subject %>
    </div>
</div>

<div class="idealist-children"></div>
