{% macro expert_view_toggle_button() -%}
<% if ( expertViewIsAvailable ) { %>
<div class="show-expert-mode">
  <span id="tour_step_msg_list_options" class="show-expert-mode-label">{{ gettext('More options') }}</span>
  <div class="show-expert-mode-toggle-button"></div>
</div>
<% } %>
{%- endmacro %}

<% if (!isUsingExpertView) { %>
    <div class="options-filter">
      <div class="options-filter-items">
          {# Until automatically marking messages read is complete, the NEW_MESSAGES view is never a good default.
          <% if (Ctx.getCurrentUser().isUnknownUser()) { %>
            <div class="<%= availableViewStyles.THREADED.css_class %> option tac pas"></div>
          <% } else { %>
            <div class="<%= availableViewStyles.NEW_MESSAGES.css_class %> option tac pas"></div>
          <% } %>
          #}
        <div class="<%= availableViewStyles.RECENTLY_ACTIVE_THREADS.css_class %> option tac pas"></div>
        <div class="<%= availableViewStyles.REVERSE_CHRONOLOGICAL.css_class %> option tac pas"></div>
      </div>
      {{ expert_view_toggle_button() }}
    </div>
<% } else { %>
  <div class="view-config pll pvxs">
    <ul class="config pan man ptxs">
      <li class="dropdown fl mrs mbxs js_messageListViewStyle-dropdown"></li>
      <li class="dropdown fl mrs mbxs js_defaultMessageView-dropdown"></li>
      <li class="dropdown fl mrs mbxs js_filters-dropdown"></li>
      <li class="clr"></li>
    </ul>
    <a class="js_messageListView-print btn btn-secondary btn-sm" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="{{ gettext('Format message in a view useful for copy-pasting of printing' )}}">{{ gettext("Print") }}</a>
    {{ expert_view_toggle_button() }}

  </div>
<% } %>

  <div class="messageList-query-info pll pts"></div>
