<% if (canPost) { %>
    <div class="rc rcss">
      {% if user %}
      <a class="img-left avatar img-rounded" href="#"><img src="/user/id/12/avatar/30" width="30" height="30"></a>
      {% endif %}
      <div class="bd">
        <div>
          <% if(allow_setting_subject) { %>
            <div class="topic-subject mbxs">
                <span class="topic-subject-input">
                  <input type="text" class="messageSend-subject formfield text bras" placeholder="{{gettext('New topic subject:')}}" value="<%= msg_in_progress_title %>" />
                </span>
            </div>
          <% } %>
        </div>
        <div>
          <textarea class="formtextarea messageSend-body text mbxs" placeholder="<%= body_help_message %>"><%= msg_in_progress_body %></textarea>
          <div  class="messageSend-buttons fr">
              <a class="btn btn-primary btn-xs messageSend-sendbtn"><%= send_button_label %></a>
              <a class="btn btn-cancel btn-sm messageSend-cancelbtn"><%= cancel_button_label %></a>
          </div>
        </div>
      </div>
    </div>
<% } else { %>
    <div class="warning-box-for-message-post">
        <p>{{gettext('you do not have permission to post')}}</p>
    </div>
<% } %>