<% if(creator){ %>
    {% set userName = "<%= creator.get('name') %>" %}
<% } %>
{% set precise_date = "<%= ctx.getReadableDateTime(message.get('date')) %>" %}
{% set nice_date = "<%= ctx.getNiceDate(message.get('date'), false, true) %>" %}
{% macro readUnreadIndicator() -%}

  <% if ( user_is_connected ){
    if ( read ){ %>{# Strip whitespace ...
      #}<div class="readUnreadIndicatorClickZone js_message-markasunread" data-toggle="tooltip" title="{{ gettext('Mark as unread') }}" data-placement="left"><span class="readUnreadIndicator indice" ></span></div>{# Strip whitespace ...
    #}<% } else { %>{# Strip whitespace ...
        #}<div class="readUnreadIndicatorClickZone js_message-markasread" data-toggle="tooltip" title="{{ gettext('Mark as read') }}" data-placement="left"><span class="readUnreadIndicator indice"></span></div>{# Strip whitespace ...
    #}<% }
  } %>
  </div>
{%- endmacro %}

{% macro showInspirationSource() -%}
  <% if ( metadata_json && metadata_json["inspiration_url"] ){ %>{# Strip whitespace ...
      #} &middot; <span class="inspirationSource"><a href="<%= metadata_json['inspiration_url'] %>" target="_blank" data-toggle="tooltip" data-placement="top" title="{{ gettext('This link inspired the author to write this message') }}">{{ gettext('Inspiration source') }}</a></span>{# Strip whitespace ...
  #}<% } %>
{%- endmacro %}

{% macro showShareButton() -%}
<a href="<%= direct_link_relative_url %>" data-href="<%= share_link_url %>" class="js_openTargetInPopOver" data-popover-width="300" data-popover-height="71" data-popover-scrolling=""><i class="icon-download"></i>{{ gettext("Share") }}</a>
{%- endmacro %}

{% macro menuAction() -%}
   <div class="message-menu">
     <ul class="pan man">
        <li class="dropdown mrxl mts">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            {{ gettext('More options') }}
            <span class="icon-arrowdown"></span>
        </a>
        <ul class="dropdown-menu">
            <% if (user_is_connected){ %>
             <% if (read){ %>
                 <li><a href="#" class="js_message-markasunread dropdown-listitem">{{ gettext('Mark as unread') }}</a></li>
             <% } else { %>
                 <li><a href="#" class="js_message-markasread dropdown-listitem">{{ gettext('Mark as read') }}</a></li>
             <% } %>
            <% } %>

            <% if( parentId ){ %>
            <li><a href="#" class="js_message-jumptoparentbtn">{{gettext("Jump to this message's parent in current view (if possible, will not clear filters)")}}</a></li>
            <% } %>
            <% if( messageListView.isViewStyleThreadedType() === false && (parentId || message.getChildren().length > 0)){ %>
            <li><a href="#" class="js_message-jump-to-message-in-thread">{{gettext("Show this message in it's entire thread (clears all filters)")}}</a></li>
            <% } %>
            <% if( messageListView.isViewStyleThreadedType() === true ){ %>
            <li><a href="#" class="js_message-jump-to-message-in-reverse-chronological">{{gettext("Show this message in the full reverse-chronological view (clears all filters)")}}</a></li>
            <% } %>
            
            <% if( isHoisted === true ){ %>
            <li><a href="#" class="message-hoistbtn" data-id="<%= escape(message.get('@id')) %>">{{gettext('Go back to the entire topic thread')}}</a></li>
            <% } else { %>
            <li><a href="#" class="message-hoistbtn" data-id="<%= escape(message.get('@id')) %>">{{gettext('Show only this message and its replies')}}</a></li>
            <% } %>

            <% if(creator){ %>
            <li><a title="<%= creator.get('preferred_email') %>" href="mailto:<%= creator.get('preferred_email') %>">{{gettext('Send an email to this user')}}</a></li>
            <% } %>
        </ul>
        </li>
     </ul>
   </div>
{%- endmacro %}

<% if ( viewStyle == ctx.AVAILABLE_MESSAGE_VIEW_STYLES.TITLE_ONLY ){ %>
  <div class="leftSection js_messageTitle">
    <div class="avatar img-rounded">
        <% if(creator){ %>
        <img src="<%= creator.getAvatarUrl(30) %>" alt="{{ gettext('User') }}"  class="image-rounded" width="30" height="30" />
        <% } %>
    </div>
    <span class="message-author js_messageHeader">{{ gettext('%(user)s')|format(user=userName)|safe }}</span>
  </div>
  <div class="rightSection">
    <span class="message-date js_messageHeader">{{ gettext('<time title="%(precise_date)s">%(nice_date)s</time>')|format(nice_date=nice_date,precise_date=precise_date)|safe }}</span>
    {# Strip whitespace ...#}{{ readUnreadIndicator() }}{# Strip whitespace ...#}
  </div>
  <div class="centerSection">
    <div class="message-abstract js_messageTitle">
      <span class="message-subject"><%= message.get('subject') %></span>
      <span class="message-body <%= bodyFormatClass %>" id="<%= messageBodyId %>"><%= body %></span>
    </div>
  </div>

<% } else { %>

  <div class="js_messageHeader rc rcss pbxs mbs head">
      <% if(creator){ %>
      <a class="img-left avatar  img-rounded mtxs" href="#"><img src="<%= creator.getAvatarUrl(30) %>" alt="{{ gettext('User') }}" width="30" height="30"></a>
      <% } %>
      <div class="bd">
      <div class="message-author">{{ gettext('%(user)s')|format(user=userName)|safe }} {{ readUnreadIndicator() }}</div>
      <div class="message-date">{{ gettext('<time title="%(precise_date)s">%(nice_date)s</time>')|format(nice_date=nice_date,precise_date=precise_date)|safe }} {{ showInspirationSource() }}</div>
    </div>
  </div>

<% } %>

<% if ( viewStyle == ctx.AVAILABLE_MESSAGE_VIEW_STYLES.FULL_BODY ){ %>
   {{ menuAction() }}
<% } %>

<% if( viewStyle == ctx.AVAILABLE_MESSAGE_VIEW_STYLES.PREVIEW || viewStyle == ctx.AVAILABLE_MESSAGE_VIEW_STYLES.FULL_BODY ){ %>
  {#  Body section
      Note:  bodyFormatClass can currently have values body_format_text_plain or  body_format_text_html
  #}
  <% if( viewStyle == ctx.AVAILABLE_MESSAGE_VIEW_STYLES.PREVIEW ){ %>
    <h4 class="message-subject js_messageTitle h4"><%= message.get('subject') %></h4>
    <div class="message-body ellipsis <%= bodyFormatClass %> js_readMore" id="<%= messageBodyId %>">
      <p class=""><%= body %></p>{# Do NOT introduce whitespace within this div #}
      <a class="readMore readMoreOrLess js_readMore hidden" href="#" alt="{{ gettext('Read more') }}"><i class="icon-arrowdown"></i> {{ gettext('Read more') }}</a>
    </div>
  <% } else if( viewStyle == ctx.AVAILABLE_MESSAGE_VIEW_STYLES.FULL_BODY ){ %>
    <h4 class="message-subject js_messageTitle h4"><%= message.get('subject') %></h4>
    {# This is the part that annotator processes.  Do NOT introduce ANY HTML within this div #}
    <div class="message-body js_messageBodyAnnotatorSelectionAllowed <%= bodyFormatClass %>" id="<%= messageBodyId %>"><%= body %></div>
    <a class="readLess readMoreOrLess js_readLess hidden" href="#" alt="{{ gettext('Read less') }}"><i class="icon-arrowup"></i> {{ gettext('Read less') }}</a>
  <% } %>
  <div class="js_messageBottomMenu message-menu message-menu-actions">
    {#
    <% if( isHoisted === true ){ %>
      <a class="message-hoistbtn iconbutton icon-upload" data-id="<%= escape(message.get('@id')) %>" data-toggle="tooltip" title="{{gettext('Go back to the entire topic thread')}}"></a>
    <% } else { %>
      <a class="message-hoistbtn iconbutton icon-download" data-id="<%= escape(message.get('@id')) %>" data-toggle="tooltip" title="{{gettext('Show only this message and its replies')}}"></a>
    <% } %>
    #}

    <% if( viewStyle == ctx.AVAILABLE_MESSAGE_VIEW_STYLES.FULL_BODY || viewStyle == ctx.AVAILABLE_MESSAGE_VIEW_STYLES.PREVIEW ){ %>
      <a href="#" class="js_messageReplyBtn message-replybox-openbtn"><i class="icon-answer"></i>&nbsp;&nbsp;{{ gettext("Reply") }}</a>
      {#&nbsp;&nbsp;<a href="#"><i class="icon-heart"></i>{{ gettext("I love") }}</a>
      &nbsp;&nbsp;<a href="#"><i class="icon-download"></i>{{ gettext("share") }}</a>#}
      <div class="fr">
        <% if(nuggets){ %>
          <span class="nb-nuggets"><i class="icon-diamond"></i><span><%= nuggets.length %></span></span>
        <% } %>
      </div>
    <% } %>

    <% if( viewStyle == ctx.AVAILABLE_MESSAGE_VIEW_STYLES.FULL_BODY || viewStyle == ctx.AVAILABLE_MESSAGE_VIEW_STYLES.PREVIEW ){ %>
      &nbsp;&nbsp;{{ showShareButton() }}
    <% } %>

  </div>

  <% if( viewStyle == ctx.AVAILABLE_MESSAGE_VIEW_STYLES.FULL_BODY ){ %>
    <div class="message-replybox hidden"></div>
  <% } %>
<% } %>
