<div class="panel-body">
    
  <% if (Ctx.getCurrentInterfaceType() === Ctx.InterfaceTypes.SIMPLE) { %>
    <% if (!Ctx.getCurrentUser().isUnknownUser()) { %>
      <div class="options-filter">
        <span class="messageListViewStyleUserHighlightNew <%= availableViewStyles.NEW_MESSAGES.css_class %> option dispb fl tac pts"></span>
        <span class="messageListViewStyleUserThreaded <%= availableViewStyles.THREADED.css_class %> option dispb fl tac pts"></span>
      </div>
    <% } %>
  <% } else { %>
    <div class="view-config pll ptxs">
      <div class="js_messageListViewStyle-dropdown dropdown"></div>

      <div class="js_defaultMessageView-dropdown dropdown"></div>

      <div class="dropdown">
        <span class="dropdown-label">{{ gettext('Add filter') }}</span>
        <i class="icon-arrowdown"></i>
        <ul class="dropdown-list">
          <li class="js_messageList-onlyorphan dropdown-listitem">{{ gettext('Orphan messages') }}</li>
          <li class="js_messageList-onlysynthesis dropdown-listitem">{{ gettext('Synthesis messages') }}</li>
          <li class="js_messageList-isunread dropdown-listitem">{{ gettext('Unread messages') }}</li>
          {#
          <li class="dropdown-listitem">{{ gettext('Uncaught') }}</li>
          <li class="dropdown-listitem">{{ gettext('Followed') }}</li>
          #}
        </ul>
      </div>
    </div>
  <% } %>

  <% if (Ctx.getCurrentInterfaceType() === Ctx.InterfaceTypes.EXPERT) { %>
    <div class="messageList-query-info pll pts"></div>
  <% } %>
  <div class="js_messageList-toparea messageList-toparea margin tac hidden">
    <a class="js_messageList-prevbutton button">{{ gettext('Load previous messages') }}</a>
  </div>
  
  <div class="messageList-list idealist <%= currentViewStyle.id %> pal"></div>

  <div class="js_messageList-bottomarea messageList-bottomarea tac hidden">
    <a class="js_messageList-morebutton btn btn-default btn-xs">{{ gettext('Load more messages') }}</a>
  </div>

  <% if (canPost) { %>
    <div class="messagelist-replybox"></div>
  <% } %>

</div>

<% if (canPost) { %>
  <div class="sticky-box tac">
      <a href="#" class="js_scrollToMsgBox"><i class="icon-comment"></i> {{ gettext('React to the ongoing discussion') }} </a>
  </div>
<% } %>