<div class='js_translation_question'>
    <span><%= translationQuestion %></span>
    <span>
        <select class='js_translate_to_language'>
            <% _.each(supportedLanguages, function(pair){ %>
                <option value="<%= pair[0] %>"
                <% if (pair[0] === translatedTo.locale) { %> selected="selected" <% } %>
                ><%= pair[1] %></option>
            <% }) %>
        </select>
    </span>
    <span class='js_language_of_choice_confirm'>{{ gettext("Yes") }}</span>
    <span class='js_language_of_choice_deny'>{{ gettext("Do not translate") }} </span>
    <% if (forceTranslationQuestion) { %>
    <span class='js_hide_translation_question'>{{ gettext("Cancel") }} </span>
    <% } %>
</div>
{#
<div class='hidden js_translate_all_confirm_msg'>
    <span>{{ gettext("Your preferences are saved. They can always be changed under ") }}</span>>

    <span class='js_load_profile_settings'>{{ gettext("your profile") }}</span>
</div>
#}
