<div class='translation-question js_translation-question'>
    <div class="content-question"><%= translationQuestion %></div>
    <div>
        <div class="translation-decision">
            <% if (preferredTarget) { %>
            <span class='js_language-of-choice-confirm'><a class="action" href="#"><%= yes %></a></span>
            <i class="dot-seperator">&#x25CF;</i>
            <% } %>
            <span class='js_language-of-choice-deny'><a class="action" href="#"><%= no %></a></span>
            <i class="dot-seperator">&#x25CF;</i>
            <span class="js_language-of-choice-more"><a class="action" href="#"><%= toAnother %></a></span>
            <% if (forceTranslationQuestion) { %>
            <i class="dot-seperator">&#x25CF;</i>
            <span class='js_hide-translation-question'><a class="action" href="#">{{ gettext("Hide") }}</a></span>
            <% } %>
        </div>
    </div>
    <div class="mts js_translation-reveal-more"></div>
</div>
