<ul class="man pan">
    <li class="sub logo-container fl">
        <a href="{{ discussion.get_url() }}" class="assembl-logo" class="sign-in"></a>
    </li>
    <li class="sub fl">
        <div id="onlinedot" class="onlinedot fl socketIndicator">
            <small class="dot-offline">{{ gettext('Connecting...') }}</small>
            <div class="dot-online debate-title">
                <i class="icon-arrowright"></i>
                <i class="debate-icon icon-discuss"></i>
                <span>{{ discussion.topic }}</span>
            </div>
            <!--<div class="potential-discussion-dropdown-container"></div>-->
        </div>
    </li>
</ul>