<div class="navbar-left">
    <a href="/" class="assembl-logo" class="sign-in">Assembl <i class="icon-infinite"></i></a>
    <!--<span id="onlinedot">
        <small class="dot-offline">&nbsp;&nbsp;&nbsp;{{ gettext('Connecting...') }}</small>
        <span class="dot-online theme_navbarDebateName"><span class="breadcrumb-level-indicator"></span> <span class="debate-icon icon-discuss"></span> {{ discussion.topic }}</span>
    </span>-->
</div>
<div class="navbar-center tac">
<% if( Ctx.userCanChangeUi() ){ %>
  <% if( Ctx.getCurrentInterfaceType() === Ctx.InterfaceTypes.EXPERT ) { %>
    <a class="btn btn-secondary btn-sm add-group js_addGroup"><i class="icon-add"></i> {{ gettext('Add a new panel group') }}</a>
    <a class="btn btn-sm btn-default js_switchToSimpleInterface">{{ gettext('Switch to participant mode') }}</a>
  <% } else { %>
    <% if( Ctx.canUseExpertInterface() ) { %>
      <a class="btn btn-sm btn-default js_switchToExpertInterface">{{ gettext('Switch to expert mode') }}</a>
    <% } %>
  <% } %>
<% } %>
</div>
<div class="navbar-right">
    <div class="connexion">
      {% if user %}
        <div class="avatar img-rounded fl ptxs">
          <img height="25" width="25" src="/user/id/{{user.id}}/avatar/25" alt="{{ user.display_name() }}"/>
        </div>
        <div class="fl">
          <span class="mlxs">{{ user.display_name() }}</span>
        </div>
        <div class="dropdown">
            <div class="dropdown-label">
                <span class="dropdown-arrow icon-arrowdown"></span>
            </div>
            <ul class="dropdown-list dropdown-list--bottomright">
                {% if user_profile_edit_url %}
                    <li class="dropdown-listitem">
                        <a href="{{ user_profile_edit_url }}"><span class="icon-options mrs"></span>{{ gettext('Edit your profile') }}</a>
                    </li>
                {% endif %}
                <li class="dropdown-listitem">
                    <a href="/logout?next_view={{request.current_route_path()}}" class="sign-out"><span class="iconbutton icon-logout mrs"></span>{{ gettext('Sign out') }}</a>
                </li>
            </ul>
        </div>
        {% else %}
            {% if request.current_route_path() != "/login" %}
                {% if request.current_route_path() != "/register" %}
                    <a href="/login?next_view={{request.current_route_path()}}" class="btn-primary btn-sm">{{ gettext('Sign in') }}</a>
                {% endif %}
            {% endif %}
        {% endif %}
        {% if locales.__len__ > 1 %}
            <div class="dropdown mls">
                <div class="dropdown-label">{{locale | upper}} <span class="dropdown-arrow icon-arrowdown"></span></div>
                <ul class="dropdown-list dropdown-list--bottomright locales">
                    {% for loc in locales %}
                        {% if (loc != locale) %}
                            <li class="dropdown-listitem lang js_setLocale" data-locale='{{loc}}'>
                            {{loc | upper}}
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    </div>
</div>

