<ul class="man pan">

    <!-- SUBSCRIBTION  -->
    {% if help_url %}
    <li class="sub fl mrs">
        <a href="{{ help_url }}" target="_blank" title="{{ gettext('Help') }}" class="btn btn-default btn-xs help"><i class="icon-help"></i></a>
    </li>
    {% endif %}
    
    {% if user %}
    <% if(!role && canSubscribeToDiscussion ){ %>
    <li class="sub fl mrs">
        <a href="#" class="btn btn-primary btn-sm js_joinDiscussion joinDiscussion">{{ gettext('Join this group') }}</a>
    </li>
    <% } %>
    {% else %}
    {% if request.current_route_path().split('/')[-1] not in ('login', 'register')  %}
    <li class="sub fl mrs">
        <a href="{{ discussion.get_url() }}/login?next_view=/{{discussion.slug}}/user/notifications#" class="btn btn-primary btn-sm joinDiscussion js_needJoinDiscussion" >{{ gettext('Join this group') }}</a>
    </li>
    {% endif %}
    {% endif %}

    <!-- USER PROFILE  -->
    {% if user %}
    <li class="sub fl">
        <a href="#" class="avatar img-rounded mrxs">
            <img class="user-picture" height="25" width="25" src="/user/id/{{user.id}}/avatar/25" alt="{{ user.display_name() }}"/>
        </a>
    </li>
    {% endif %}
    <li class="sub fl mrs">
        {% if user %}
        <div class="dropdown">
            <a href="#" class="dropdown-toggle username" data-toggle="dropdown" aria-expanded="false">{{ user.display_name() }}</a>
            <ul class="dropdown-menu">
                {% if user_profile_edit_url %}
                <li><a href="<%= userProfile() %>"><i class="icon-user"></i>{{ gettext('Profile') }}</a></li>
                {% endif %}
                <li><a href="<%= urlNotifications() %>"><i class="icon-bell"></i>{{ gettext('Notifications') }}</a></li>
                <% if(isAdminDiscussion){ %>
                <li><a href="<%= discussionSettings() %>"><i class="icon-options"></i>{{ gettext('Discussion settings') }}</a></li>
                <li><a href="<%= discussionPermissions() %>"><i class="icon-options"></i>{{ gettext('Discussion permissions') }}</a></li>
                <% } %>
                <li class="divider"></li>
                <li><a href="<%= urlLogOut() %>" class="sign-out"><i class="icon-logout"></i>{{ gettext('Sign out') }}</a></li>
            </ul>
        </div>
        {% else %}
        {% if request.current_route_path().split('/')[-1] not in ('login', 'register')  %}
        <a href="{{discussion.get_url()}}/login" class="btn btn-default btn-xs">{{ gettext('Sign in') }}</a>
        {% endif %}
        {% endif %}
    </li>

    <!-- LANGUAGE  -->
    <li class="fl">
        <div class="dropdown fl mhs">
            {% if locales.__len__ > 1 %}
            <a href="#" class="dropdown-toggle user-lang fl" data-toggle="dropdown" aria-expanded="false">
                {% if show_locale_country[locale] %}
                    {{locale | upper}}
                {% else %}
                    {{locale.split('_')[0] | upper}}
                {% endif %}
                <span class="icon-arrowdown"></span>
            </a>
            <ul class="dropdown-menu">
                {% for loc in locales %}
                {% if (loc != locale) %}
                <li><a tabindex="-1" href="#" class="lang js_setLocale" data-locale='{{loc}}'>
                {% if show_locale_country[loc] %}
                    {{loc | upper}}
                {% else %}
                    {{loc.split('_')[0] | upper}}
                {% endif %}
                </a></li>
                {% endif %}
                {% endfor %}
            </ul>
            {% endif %}
        </div>
    </li>
</ul>