<ul class="man pan">
    <li class="sub logo-container fl">
        <a href="{{ get_route('bare_slug') }}" class="{% if discussion.logo %}assembl-custom-logo{% else %}assembl-logo{% endif %}" class="sign-in">{% if discussion.logo %}<img src="{{ discussion.logo }}" />{% endif %}</a>
    </li>
    <li class="sub fl">
        <div id="onlinedot" class="onlinedot fl socketIndicator">
            <span class="dot-offline">{{ gettext('Connecting...') }}</span>
            <div id="tour_step_welcome" class="dot-online debate-title">
                <i class="icon-arrowright"></i>
                <i class="debate-icon icon-discuss"></i>
                <span>{{ discussion.topic }}</span>
            </div>
            <div class="potential-discussion-dropdown-container">
              <div class="tac">
                <div class="dropdown discussion-title-dropdown">
                  <a href="#" class="dropdown-toggle debate-title-dropdown" data-toggle="dropdown" aria-expanded="false">
                      <span class="icon-arrowdown"></span>
                  </a>
                  <ul class="dropdown-menu">
                    <% if(isAdminDiscussion){ %>
                      <li><a href="{{ get_route('edition') }}"><i class="icon-options"></i>{{ gettext('Discussion settings') }}</a></li>
                      <li><a href="{{ get_route('discussion_permissions', discussion_id=discussion.id)}}"><i class="icon-options"></i>{{ gettext('Discussion permissions') }}</a></li>
                    <% } %>
                    <% if (canAccessStatistics) { %>
                      <li><a class="js_discussion_statistics"><i class="icon-options"></i>{{ gettext('Discussion statistics') }}</a></li>
                    <% } %>
                    <div class="navbar-widget-configuration-links"></div>
                    <div class="navbar-widget-creation-links"></div>
                  </ul>
                </div>
              </div>
            </div>
        </div>
    </li>
</ul>
