<ul class="side-menu">
  <li>
    <a href="#" class="nav" data-view="home"><i class="icon-home"></i>&nbsp;&nbsp;{{ gettext('Home') }}
    <% if ( hasMinimize ){ %>
      <span class="js_minimizePanel panel-header-minimize btn btn-xs" data-toggle="tooltip" data-placement="top" title="{{gettext('Minimize panel')}}">
        <i class="icon-arrowleft"></i>
      </span>
    <% } %>
    </a>
    <div class="second-level home"></div>
  </li>
  <li>
    <a href="#" class="nav" data-view="debate"><i class="icon-discuss"></i>&nbsp;&nbsp;{{ gettext('Debate') }}
      <% if (canAdd) { %>
      <span id="ideaList-addbutton" class="btn btn-xs fr js_addIdeaFromIdeaList" data-toggle="tooltip" data-placement="top" title="{{ gettext('Add idea') }}">
        <i class="icon-add-2"></i>
      </span>
      <% } %>
    </a>
    <div class="second-level debate"></div>
  </li>
  <li>
    <a href="#" class="nav" data-view="synthesis"><i class="icon-doc"></i>&nbsp;&nbsp;{{ gettext('Synthesis') }}</a>
    <div class="second-level synthesis"></div>
  </li>
</ul>
<!--<div class="navNotification pvs"></div>-->