<ul class="side-menu">
  <li>
    <a href="#" class="nav" data-view="dashboard">Tableau de bord</a>
    <div class="second-level dashboard"></div>
  </li>
  <li>
    <a href="#" class="nav" data-view="ideaTable">Table des idees</a>
    <div class="second-level ideasTable"></div>
  </li>
  <li>
    <a href="#" class="nav" data-view="synthesis">Syntheses</a>
    <div class="second-level synthesis"></div>
  </li>
</ul>
<div class="navNotification"></div>