<ul class="side-menu">
  <li style="display:none" class="js_synthesis_tab">
    <a href="#" class="nav js_navigation" data-view="synthesis"><i class="icon-doc btn btn-sm"></i>&nbsp;&nbsp;{{ gettext('Synthesis') }}
    <% if ( hasMinimize ){ %>
        <span class="js_minimizePanel panel-header-minimize btn btn-sm icon-arrowleft" data-toggle="tooltip" data-placement="top" title="{{gettext('Minimize panel')}}"></span>
    <% } %>
    </a>
    <div class="second-level synthesis"></div>
  </li>
  <li class="js_discussion_tab">
    <a href="#" class="nav js_navigation" data-view="debate"><i class="icon-discuss btn btn-sm"></i>&nbsp;&nbsp;{{ gettext('Discussion') }}
    {# once the navigation view receives the messages structure and knows whether a synthesis exists, this second minimize button will be hidden and the synthesis menu item (which contains the first minimize button) will be shown #}
    <% if ( hasMinimize ){ %>
        <span class="js_minimizePanel panel-header-minimize btn btn-sm icon-arrowleft" data-toggle="tooltip" data-placement="top" title="{{gettext('Minimize panel')}}"></span>
    <% } %>
    </a>
    <div class="second-level debate"></div>
  </li>
  <li class='js_context_tab'>
    {%if discussion.homepage_url %}
      <a href="#" class="nav js_navigation" data-view="home"><i class="icon-home btn btn-sm"></i>&nbsp;&nbsp;{{ gettext('Home') }}</a>
    {% else %}
      <a href="#" class="nav js_navigation" data-view="about"><i class="icon-home btn btn-sm"></i>&nbsp;&nbsp;{{ gettext('About') }}</a>
    {% endif %}
    <div class="second-level about"></div>
  </li>
  <li style="display:none" id="visualization_tab">
    <a href="#" class="nav js_navigation" data-view="visualizations"><i class="icon-doc btn btn-sm"></i>&nbsp;&nbsp;{{ gettext('Statistics') }}</a>
    <div class="second-level visualizations">
    <ul class="visualization-list"></ul>
    </div>
  </li>
</ul>
<!--<div class="navNotification pvs"></div>-->
