<div class="content-notification">
    <p>Une session de créativité est en cours. Il ne vous reste que 4 jours pour rejoindre les 18 premiers contributeurs <button class="openSession">Rejoingnez la session</button> </p>
    <i class="icon-delete close"></i>
</div>