<form class="core-form form-horizontal phl">
	<fieldset>
		<div class="control-group">
		<label class="control-label">{{ gettext('Receive notifications on') }}</label>
		<div class="controls">

		</div>
	</div>
	</fieldset>
</form>