<form class="core-form form-horizontal">
    <fieldset>
        <div class="control-group">
            <div class="col-4-12 mobile-col-1-1 no-pad">
                <label class="control-label">{{ gettext('Receive notifications on') }}</label>
            </div>
            <div class="col-4-12 mobile-col-1-1 no-pad controls"></div>
        </div>
    </fieldset>
</form>