<div class="idealist-body idealist-body--rootidea" draggable="true">

    <div class="idealist-counter"><span data-tooltip="{{ gettext('Number of messages related to this idea or it\'s descendants') }}"><%= num_orphan_posts %></span></div>
    <div class="idealist-title" title="{{ gettext('Orphan posts') }}">
        {{ gettext('Orphan posts') }} <%= num_orphan_posts %>
    </div>
</div>