<div class="idealist-bottom idealist-body--rootidea  pll mbxs">
    <div class="idealist-title" title="{{ gettext('Messages not yet associated with an idea') }}">
        {{ gettext('Messages not yet associated with an idea') }}
        <span class="idealist-counter" data-toggle="tooltip" title="{{ gettext('Number of posts') }}">(<%= num_orphan_posts %>)</span>
        <i class="icon-arrowright"></i>
    </div>
</div>
