<div class="idealist-body idealist-body--rootidea">

    <div class="idealist-counter"><span data-tooltip="{{ gettext('Number of posts') }}"><%= num_orphan_posts %></span></div>
    <div class="idealist-title" title="{{ gettext('View posts not yet sorted anywhere') }}">
        {{ gettext('View posts not yet sorted anywhere') }}
    </div>
</div>
