<div class="idealist-body idealist-body--rootidea">
    <div class="idealist-title" title="{{ gettext('View posts not yet sorted anywhere') }}">
        {{ gettext('View posts not yet sorted anywhere') }}
        <span class="idealist-counter" data-toggle="tooltip" title="{{ gettext('Number of posts') }}">(<%= num_orphan_posts %>)</span>
        <i class="icon-arrowright"></i>
    </div>
</div>
