<% if( !hideHeader ) { %>
    <header class="panel-header">
        <span class="panel-header-title vat">
          <i class="<%= icon %>"></i><%= title %>
        </span>
        <div class="fr">
            <% if( userCanChangeUi ){ %>
                <% if( hasLock ){ %>
                    <a class="js_lockPanel lock-group phs fr"><i class="iconbutton icon-lock-open" data-toggle="tooltip" data-placement="top"  title="{{ gettext('Lock panel') }}"></i></a>
                <% } %>
                <a class="js_panel-fullScreenButton iconbutton--resizefull fr " data-toggle="tooltip" data-placement="top"  title="{{ gettext('Fullsize') }}"></a>
                <% if ( hasClose ){ %>
                    <a class="js_panel-closeButton icon-delete panel-header-close fr " data-toggle="tooltip" data-placement="top" title="{{gettext('Close panel')}}"></a>
                <% } %>
            <% } %>

            <% if ( hasMinimize ){ %>
                <a class="js_minimizePanel panel-header-minimize btn btn-xs" data-toggle="tooltip" data-placement="top" title="{{gettext('Minimize panel')}}">
                  <i class="icon-arrowleft"></i>
                </a>
            <% } %>
        </div>
    </header>
<% } %>

<div class="panelContents"></div>

{# TODO: template system for minified state of each panel #}
<div class="panelContentsWhenMinimized <% if ( hideHeader ) { %>hasNoHeader<% } else { %>hasHeader<% } %>">
<% if ( hideHeader ) { %>
    <header class="panel-header">
        <a class="js_minimizePanel panel-header-minimize" data-toggle="tooltip" data-placement="top" title="{{gettext('Maximize panel')}}">
          <i class="icon-arrowright"></i>
        </a>
    </header>
<% } %>
<span class="icon-idea"></span><span class="icon-home"></span>
</div>