<div class="gr mvxl">
<% if(isConnected){ %>
  <div class="gu gu-1of1">
    <div class="block-content">
			<h2>{{ gettext('Partners') }}</h2>
			<% if(nbOrganisations === 0) { %>
				 <p>{{ gettext('there are no partners for this discussion') }} - <a href="<%= urlEdit %>"> {{ gettext('edit partners') }} </a></p>
			<% } %>
      <div class="partnersList gr">

      </div>
    </div>
  </div>
<% } %>
</div>