<div class="gu gu-1of1">
	<div class="bx bx-default">
		<div class="gr">
			<div class="gu gu-1of2 description">
				<h2 class="h2 mbxl dispb mtxs"><%= name %></h2>
				<% if(_.size(description)){ %>
					<span class="mbxl dispb"><%= description %></span>
				<% }else{ %>
				  <span class="mbxl dispb">{{ gettext('What is the organisation about?') }}</span>
				<% } %>

				<% if(_.size(homepage)){ %>
					<a class="dispb" href="<%= homepage %>">{{ gettext('link') }}</a>
                <% }else{ %>
                  <span class="dispb">{{ gettext('What is their website?') }}</span>
                <% } %>

				<div class="mtxl">
					<a class="js_editPartner" href="#">{{ gettext('Edit') }}</a>&nbsp;&nbsp;
					<a class="js_deletePartner" href="#">{{ gettext('Delete') }}</a>
				</div>
			</div>
			<div class="gu gu-last">
			<% if(is_initiator){ %>
				<div class="tar mbxl">{{ gettext('is initiator') }}</div>
			<% } %>
            <div class="partner-img-content">
                <div class="partner-img">
                <% if(_.size(logo)){ %>
                <img src="<%= logo %>">
                <% }else{ %>
                  <span class="dispb">{{ gettext('What is their logo?') }}</span>
                <% } %>
                </div>
            </div>
			</div>
		</div>
	</div>
</div>
