<div class="gr mvxl">
  <div class="block-content">
    <h2>{{ gettext('Partners') }}</h2>
  </div>
  <div class="gu gu-1of1">
    <div class="block-content">
      <div class="gr">
        <% if(_.size(organizations)) { %>
          <% _.each(organizations, function(organization) { %>
            <div class="gu gu-1of6">
              <a href="<%= organization.get('homepage') %>" class="popover-display" target="_blank">
                <img width="100" src="<%= organization.get('logo')  %>" />
                <span class="popover">
                  <span class="popover-header"><%= organization.get('name') %></span>
                  <span class="popover-content">
                    <%= organization.get('description') %>
                  </span>
                </span>
              </a>
            </div>
          <% }) %>
        <% } else { %>
           <p>{{ gettext('there are no partners for this discussion') }} - <a href="<%= editUrl() %>"> {{ gettext('edit partners') }} </a></p>
        <% } %>
      </div>
    </div>
  </div>
</div>