<a href="<%= organization.get('homepage') %>" class="popover-display" target="_blank">
	<img width="200" src="<%= organization.get('logo')  %>" />
	<span class="popover">
		<span class="popover-header"><%= organization.get('name') %></span>
		<span class="popover-content"><%= htmlEntities(organization.get('description')) %></span>
	</span>
</a>