<div class="popin-header">
    <a href="#" class="close"><i class="icon-delete"></i></a>
    <h3 class="h3">{{ gettext('Set cookies') }}</h3>
</div>
<div class="popin-body">
    <div class='js_modal-body'>
        <iframe style="border: 0; height: 200px; width: 100%;" src="<%= statsUrl %>"></iframe>
    </div>
</div>
<div class="popin-footer">
    <div class='js_modal-footer'></div>
</div>
