<div class="grid-pad">
  <div class="admin-notifications">
    <div class="col-3-12 navigation-menu-holder"></div>
    <div class="col-9-12 admin-section">
      <section class="section">
        <div class="admin-title">
          <h3 class="h3">{{ gettext('Preferences') }}</h3>
        </div>
        <div id="content-container" class="content-container">
          <form class="core-form form-horizontal">
            <fieldset>
              <div class="col-1-1 no-pad" id="js_preferences"></div>
              <div class="col-1-1">
                <button id="js_savePreferences" class="btn btn-primary fr">{{ gettext('Save') }}</button>
              </div>
            </fieldset>
          </form>
        </div>
      </section>
    </div>
  </div>
</div>