<div class="control-group">
  <div class="col-5-12 no-pad">
    <label data-toggle="tooltip" class="control-label" title="<%= i18n.gettext(preferenceData.description) %>"><%= i18n.gettext(preferenceData.name) %></label>
  </div>
  <div class="col-7-12 no-pad controls">
    <span class="js_prefItemSubview"></span>
    <span class="help-inline">
      <p id="js_error" class="control-error hidden"></p>
    </span>
  </div>
  <% if (canModify) { %>
  <div class="col-1-1 no-pad">
    <button id="js_reset_<%= preferenceData.id %>" class="js_reset btn btn-cancel">{{ gettext('Reset to default') }}</button>
  </div>
  <% } %>
</div>
