<div>
  <% if (!inList) { %>
    <label data-toggle="tooltip" class="control-label" title="<%= i18n.gettext(preferenceData.description) %>"><%= i18n.gettext(preferenceData.name) %></label>
    <div class="controls">
      <% } %>
      <span class="js_prefItemSubview"></span>
      <% if (!inList) { %>
        <div>
          <button id="js_reset_<%= preferenceData.id %>" class="js_reset btn btn-cancel">{{ gettext('Reset to default') }}</button>
        </div>
    </div>
  <% } else { %>
      <button id="js_delete_<%= preferenceData.id %>_<%= listKey %>" class="js_delete btn btn-cancel">{{ gettext('Delete') }}</button>
  <% } %>
</div>
