<div class="gr">
  <div class="gu gu-1of5">
    <nav class="sidebar-nav">
        <ul class="man pan adminMenu">
          <li class="active">
            <a href="{{ user_profile_edit_url }}" class="menu">{{ gettext('profile') }}</a>
          </li>
          <li>
            <a href="#users/notifications" class="menu">{{ gettext('notifications') }}</a>
          </li>
          <li class="mtxl">
            <a href="/{{ discussion.slug }}/">{{ gettext('back to discussion') }}</a>
          </li>
        </ul>
    </nav>
  </div>
  <div class="gu gu-3of4 admin-section">
    <div class="admin-title">
      <h3 class="h3">Profile</h3>
    </div>
    <div id="content-container" class="content-container">
      <div class="bx bx-alert-success hidden">
				<button class="btn btn-cancel btn-xs bx-close" type="button">
					<i class="icon-delete"></i>
				</button>
				{{ gettext("Your settings were saved") }}
			</div>
      <div class="gr">
        <div class="gu gu-1of1">
          <form class="core-form form-horizontal">
            <fieldset>
              <div class="control-group">
                <label for="username" class="control-label">{{ gettext('Username') }}</label>
                <div class="controls">
                    <input class="input-xlarge" type="text" name="username" placeholder="{{ gettext('Desired username') }}" value="<%= profile.get('username') %>" />
                </div>
              </div>

              <div class="control-group">
                <label for="name" class="control-label">{{ gettext('Name') }}</label>
                <div class="controls">
                    <input class="input-xlarge" type="text" name="name" placeholder="{{ gettext('Your name') }}" value="<%= profile.get('name') %>" />
                </div>
              </div>

              <div class="control-group">
                <label for="password1" class="control-label">{{ gettext('Change password') }}</label>
                <div class="controls">
                  <input class="input-xlarge" type="password" name="password1" placeholder="{{ gettext('New Password') }}" />
                </div>
              </div>

              <div class="control-group">
                <label for="password2" class="control-label">{{ gettext('Repeat password') }}</label>
                <div class="controls">
                  <input class="input-xlarge" type="password" name="password2" placeholder="{{ gettext('Repeat password') }}" />
                </div>
              </div>

              <div class="control-group">
                <label for="#" class="control-label">{{ gettext('Emails') }}</label>
                <div class="controls">
                {# usually it\'s a loop #}
                <span class="ui-label"><%= profile.get('preferred_email') %></span>
                </div>
              </div>

              <div class="control-group">
                <label for="add_email" class="control-label">{{ gettext('Add an email account') }}</label>
                <div class="controls">
                   <input class="input-xlarge" type="email" name="add_email" placeholder="{{ gettext('Email') }}" />
                </div>
              </div>

              <div class="form-actions ptm">
                <button class="btn btn-secondary js_saveProfile" type="submit">{{ gettext('Save') }}</button>
              </div>
            </fieldset>
          </form>

					<div class="gr">
						<div class="gu gu-1of5">
						<p>link your email account</p>
						</div>
						<div class="gu gu-last pvs">
							<div class="mbxs"><div class="fb-icon-bg"></div><input type="submit" class="fb-bg" value="sign in with facebook"></div>
							<div class="mbxs"><div class="twi-icon-bg"></div><input type="submit" class="twi-bg" value="sign in with twitter"></div>
							<div class="mbxs"><div class="g-icon-bg"></div><input type="submit" class="g-bg" value="sign in with google+"></div>
						</div>
					</div>

          {% if providers %}
					<p>{{ gettext("Connect other accounts to Assembl")|safe }}</p>
					{% endif %}

					{#{{form('google', gettext('Login with Google'), true)}}
					{{form('twitter', gettext('Login with Twitter'), true)}}
					{{form('facebook', gettext('Login with Facebook'), true)}}
					{{form('yahoo', gettext('Login with Yahoo'), true,
									oauth='true', openid_identifier='yahoo.com')}}
					{{form('live', gettext('Login with Windows Live'), false)}}
					{{form('github', gettext('Login with Github'), false)}}
					{{form('bitbucket', gettext('Login with Bitbucket'), false)}}
					{{form('openid', gettext('Login with OpenID'), true)}} #}
					<div class="spacer spacer--huge"></div>

        </div>
      </div>
    </div>
  </div>
</div>