<aside class="profile-sidebar gu gu-1of5">
    <h1 class="logo tac pas h1"></h1>
    <nav class="sidebar-nav">
        <ul class="man pan">
          <li><a href="#" class="btn btn-default btn-sm menu" data-menu="profile">{{ gettext('edit profile') }}</a></li>
          <li><a href="#" class="btn btn-default btn-sm menu" data-menu="notification">{{ gettext('edit notification') }}</a></li>
        </ul>
    </nav>
</aside>
<div class="profile-container"></div>
