<div class="idealist-body rootidea" draggable="true">

    <div class="idealist-counter"><span data-tooltip="{{ gettext('Number of messages related to this idea or it\'s descendants') }}"><%= num_posts %></span></div>
    <div class="idealist-title" title="<%= shortTitle %> (<%= segments.length %>)">
        <%= shortTitle %> (<span class="num-segments" data-tooltip="{{ gettext('Number of caught segments expressing this idea') }}"><%= segments.length %></span>)
        {# <small class="idealist-longtitle text-small text-muted"><%= app.stripHtml(longTitle) %></small> #}
    </div>

    <div class="idealist-abovedropzone"></div>
    <div class="idealist-dropzone"></div>
</div>

<div class="idealist-children"></div>
