<select id="pref_<%= preferenceData.id %>_value" class="pref_value" <% if (!canModify) { print('disabled="disabled"')} %>>
<% for (var val in scalarOptions) {
    var name = scalarOptions[val]; %>
    <option value="<%= val %>"
    <% if (val == preference) { %> selected="selected" <% } %>
    ><%= i18n.gettext(name) %></option>
<% } %>
</select>
