<div class="panel">

    <header class="panel-header">
        {% set quantity = "<%= segments.length %>" %}
        <strong>{{ gettext("Clipboard (%(quantity)s)")|format(quantity=quantity)|safe }}</strong>

        <div class="float-right">
            <a id="segmentList-closeButton" class="iconbutton icon-cancel" data-tooltip="{{gettext('Close panel')}}"></a>
        </div>
    </header>
    
    <div class="panel-body">
        <div class="box box--bottomborder">
            <a class="bookmarklet" data-tooltip="{{gettext('Drag this bookmarklet to your favorite bar.  You can then capture segments from any non-https webpage to this discussion by clicking on the bookmarklet and selecting a zone of text in the webpage.')}}" href="javascript:(function(a,b){r='http://{{ request.server_name }}:{{ request.server_port }}',a._annotatorConfig={root:r,discussion:{{ discussion.id }}},s=b.body.appendChild(b.createElement('script')),s.language='javascript',s.src=r+'/static/js/annotator_bkmklet.min.js'})(this,this.document);">{{ gettext('Web capture to') }} {{ discussion.slug }}</a>
        </div>
        <div class="postitlist">
            <% _.each(segments, function(segment){ %>
                {% include "views/segment.tmpl" %}
            <% }); %>
        </div>
        {#
        <div class="box box--dashed box--centered margin text-muted text-big">
            {{ gettext("Add segments") }}
        </div>
        #}

    </div>

    <footer class="panel-footer">
        <a id="segmentList-clear" class="link"> <i class="icon-trash"></i> {{ gettext('Clear') }}</a>
    </footer>
</div>
