<div class="panel">

    <div class="panel-header">
        {% set quantity = "<%= segments.length %>" %}
        <strong>{{ gettext("Clipboard (%(quantity)s)")|format(quantity=quantity)|safe }}</strong>

        <div class="float-right">
            <a id="segmentList-closeButton" class="iconbutton icon-cancel" data-tooltip="{{gettext('Close panel')}}"></a>
        </div>
    </div>

    <div class="panel-body boxlist">
        <% _.each(segments, function(segment){ %>
            {% include "views/segment.tmpl" %}
        <% }); %>

        <div class="box box--dashed box--centered margin text-muted text-big">
            {{ gettext("Add segments") }}
        </div>

    </div>

    <div class="panel-footer">
        <a id="segmentList-clear" class="link"> <i class="icon-trash"></i> {{ gettext('Clear') }}</a>
    </div>
</div>
