

{# 
    this is an included template.
    the <%= segment %> variable should be given.
#}

<div class="box" draggable="true" data-segmentid="<%= segment.cid %>">
    <span data-segmentid="<%= segment.cid %>" class="closebutton"></span>

    <q><%= segment.get('text') %></q>

    <div class="spacer spacer--big"></div>

    <div class="media">
        <div class="media-imgleft">
            <img src="/user/id/<%= segment.get('source_creator')['id'] %>/avatar/50" class="image-rounded" alt="" />
        </div>
        <div class="media-body">
            <div class="media-title"><strong><%= segment.get('source_creator')['name'] %></strong></div>
            {% set segmentDate = "<%= segment.getCreationDateFormated() %>" %}
            <div class="text-small">
                {{ gettext('Extracted %(date)s by ')|format(date=segmentDate)|safe }}
                <img src="/user/id/<%= segment.get('creator')['id'] %>/avatar/24" class="image-rounded" alt="" />
                <%= segment.get('creator')['name'] %>
            </div>
        </div>
    </div>
</div>
