<div class="popin-body">
    <div class="content">
        {{ gettext('You will be redirected to another idea in connection with the nugget on which you clicked.') }}
    </div>
    <div class="clr"></div>
</div>

<div class="popin-footer">
    <button class="btn btn-cancel btn-sm fl js_close">{{ gettext('Cancel') }}</button>
    <button class="btn btn-primary btn-sm fr js_redirectIdea">{{ gettext('Ok') }}</button>
</div>
