<div class="gr mts">
  <div class="gu gu-1of2">
    <div class="block-content">
        <div class="statistics">
            <h2>{{ gettext('Statistics') }}</h2>
        </div>
        <div class="chart">{{ gettext('Loading...') }}</div>
    </div>
  </div>
  <div class="gu gu-last">
    <div class="block-content pie">
      <div class='pie_chart_legend'></div>
      <div class='pie_chart'></div>
    </div>
  </div>
</div>