<% if( ! editing ) { %>
<div class="idealist-body">
    <% if (hasCheckbox) { %>
    <label class="chk chk--idealist">
        <input type="checkbox" class="chk-checkbox" <% if(inSynthesis) { %>checked="checked"<% } %> />
        <span class="chk-label"></span>
    </label>
    <% }  %>

    <% for( var i=0; i<level; i+= 1) { %>
        <span class="idealist-bar"></span>
    <% } %>
    
    {# <% if (children.length > 0) { %>
        <span class="idealist-arrow"></span>
    <% } %> #}

    <div class="idealist-title">
        <%= app.stripHtml(longTitle) %>
    </div>
</div>

<% } else { %>

<div class="idealist-body">
    <span class="closebutton closebutton--ckeditor"></span>
    <div class="panel-editablebox is-editing">
        <div id="synthesisIdea-toptoolbar"></div>
        <div class="panel-editablearea" contenteditable="true"> <%= longTitle %> </div>
        <div id="synthesisIdea-bottomtoolbar" hidden></div>
        <div class="text-right padding"><a class="button button--primary idealist-savebtn">Save</a></div>
    </div>
</div>

<% } %>

<div class="idealist-children"></div>
