<strong>{{ gettext('Subject:') }} <%= subject %></strong>
<p>&nbsp;</p>

<h3>{{ gettext('Introduction') }}</h3>
<div><%= introduction %></div>

<p>&nbsp;</p>

<ul>

    <% _.each(ideas, function(idea){ %>
        <%= app.printIdea(idea, email) %>
    <% }); %>

    {#
        <li>
            <%= idea.get('shortTitle') %> (<a href="mailto:<%= email %>?subject=<%= idea.get('longTitle') %>">{{ gettext('react') }}</a>)
            <ul>
            <%
                var children = idea.getSynthesisChildren();
                _.each(function())
            %>
            </ul>
        </li>
    <% }); %>
    #}
</ul>

<p>&nbsp;</p>
<h3>{{ gettext('Conclusion') }}</h3>
<div><%= conclusion %></div>
