<div class="idealist-body idealist-body--synthesis">

    <div class="idealist-counter"><span data-tooltip="{{ gettext('Number of messages related to this idea or it\'s descendants') }}"><%= num_synthesis_posts %></span></div>
    <div class="idealist-title" title="{{ gettext('Synthesis') }}">
        {{ gettext('Synthesis') }}
    </div>
</div>
