<div class="synthesis body-synthesis">

    <div class="border-bottom introduction">
        <!--<div class="text-muted">{{ gettext('Introduction') }}</div>-->

        <div class="synthesisPanel-introduction"></div>
    </div>

    <div class="synthesisPanel-ideas"></div>

    <div class="spacer"></div>

    <div class="conclusion">
        <div class="text-muted">{{ gettext('Conclusion') }}</div>
        <div class="synthesisPanel-conclusion"></div>
    </div>
</div>