<% if( editing ) { %>
<div class="panel-editablebox is-editing">

    <div id="synthesisPanel-toptoolbar"></div>
    <div id="synthesisPanel-longtitle" class="text margin panel-editablearea" contenteditable="true">
        <%= longTitle %>
    </div>
    <div id="synthesisPanel-bottomtoolbar"></div>
    <div id="synthesisPanel-buttons" class="text-right padding">
        <a class="button synthesisPanel-cancelbtn" data-idea-id="<%= id %>">{{ gettext('Cancel') }}</a>
        <a class="button button--primary synthesisPanel-savebtn" data-idea-id="<%= id %>">{{ gettext('Save') }}</a>
    </div>

</div>
<% } else { %>
<div class="panel-editablebox" style="padding-top: 10px; padding-left: <%= level > 0 ? (15 * level)+15 : 15 %>px; background-image: url({{ request.resource_url(request.root, 'static', 'img', 'panel', 'disc.gif') }}); background-position: <%= level > 0 ? (15 * level)+5 : 5 %>px 18px; background-repeat: no-repeat;">
    
    <div class="panel-editablearea" data-idea-id="<%= id %>" style="margin: 0; margin-left: 5px; display: inline-block; width: auto; vertical-align: top;">
        <% if( !longTitle ) { %>
            <i style='font-style: italic'>{{ gettext('Empty long title. Click to add.') }}</i>
        <% } %>
        <%= longTitle %>
    </div>

    <small style="line-height: 2em; white-space: nowrap;">
        <% if( authors.length ) { %>
            {{ gettext('By') }}
        <% } %>
        <% _.each(authors, function(author, index, list) { %>
            <i style='font-style: italic'><%= author %></i>
            <% if( index < list.length-1 ) { %>,<% } %>
        <% }) %>
        (<a href="mailto:<%= email %>?subject=<%= subject %>"><%= reactLabel %></a>)
    </small>

</div>

<% } %>

<% _.each(children, function(child){ %>
    <%= child %>
<% }) %>