<div class="idealist-body idealist-body--others pls txt-gray2">
  <span>{{ gettext('others messages') }}</span>
</div>
<div class="idealist-body idealist-body--synthesis pls">
    <div class="idealist-title" title="{{ gettext('View syntheses') }}">
        {{ gettext('View syntheses') }}
        <span class="idealist-counter" data-toggle="tooltip" title="{{ gettext('Number of syntheses in the discussion') }}">(<%= num_synthesis_posts %>)</span>
        <i class="icon-arrowright"></i>
    </div>
</div>
