<div class="panel-body body-synthesis">
    <div class="synthesis">
        <div class="synthesisPanel-title"></div>

        <div class="spacer"></div>

        <div class="border-bottom introduction">
            <div class="text-muted">{{ gettext('Introduction') }}</div>
            <div class="synthesisPanel-introduction"></div>
        </div>

        <div class="synthesisPanel-ideas">
        </div>

        <div class="spacer"></div>

        <div class="conclusion">
            <div class="text-muted">{{ gettext('Conclusion') }}</div>
            <div class="synthesisPanel-conclusion"></div>
        </div>
    </div>

    <% if (canSend) { %>
    <div class="spacer"></div>
    <div class="box box--noborder tar">
        <a id="segmentList-clear" class="button synthesisPanel-publishButton"> <i class="icon-edit"></i> {{ gettext('Publish') }} &nbsp;</a>
    </div>
    <% } %>
</div>
{#
<% if (canSend) { %>
<footer class="panel-footer tar">
    <a class="synthesisPanel-publishButton" class="link">{{ gettext('Publish') }} <i class="icon-edit"></i></a>
</footer>
<% } %>
#}

