<% if( ! editing ) { %>
<div class="idealist-body">
    <% if (hasCheckbox) { %>
    <label class="chk chk--idealist">
        <input type="checkbox" class="chk-checkbox" <% if(inNextSynthesis) { %>checked="checked"<% } %> />
        <span class="chk-label" <% if(inNextSynthesis) { %>data-toggle="tooltip" title="{{ gettext('Deactivate') }}"<% } else { %>data-toggle="tooltip" title="{{ gettext('Activate') }}"<% } %>></span>
    </label>
    <% }  %>

    <% for( var i=0; i<level; i+= 1) { %>
        <span class="idealist-bar"></span>
    <% } %>
    
    {# <% if (children.length > 0) { %>
        <span class="idealist-arrow"></span>
    <% } %> #}

    <output class="idealist-title">
        <%= synthesis_expression_text %>
    </output>
</div>

<% } else { %>

<div class="idealist-body">
    <div class="panel-editablebox is-editing">
        <div id="synthesisIdea-toptoolbar"></div>
        <div class="panel-editablearea" contenteditable="true">
            <%= app.stripHtml(longTitle) == '' ? synthesis_expression_text : longTitle %>
        </div>
        <div id="synthesisIdea-bottomtoolbar" hidden></div>
        <div class="tar padding">
            <a class="btn btn-primary idealist-savebtn">{{ gettext('Save') }}</a>
            <a class="btn btn-cancel idealist-cancelbtn">{{ gettext('Cancel') }}</a>
        </div>
    </div>
</div>

<% } %>

<div class="idealist-children"></div>
