<div class="idealist-bottom idealist-body--synthesis pll">
    <div class="idealist-title" title="{{ gettext('All syntheses') }}">
        {{ gettext('All syntheses') }}
        <span class="idealist-counter" data-toggle="tooltip" title="{{ gettext('Number of syntheses in the discussion') }}">(<%= num_synthesis_posts %>)</span>
        <i class="icon-arrowright"></i>
    </div>
</div>
