<div class="left-column absorbing-column">
  <div class="idea-title"><%= ideaTitle %></div>
  <div class="js_region-idea-description idea-description"></div>
</div>
<div class="right-column">
  <div class="tokens-for-idea"></div>
</div>
