<div class='token-vote-session'>
  <div class='question-info'>
    <div class='question-title'><%= questionTitle %></div>
    <div class='question-description'><%= questionDescription %></div>
  </div>
  <div class='mtm votables-collection js_vote-result-region'></div>
</div>
