<div class="token-vote-session-container">
  <div class="token-vote-session token-vote-form">
    <div class="token-vote-session--header">
      <div class="question-info">
        <div class="question-title"><%= question_title %></div>
        <div class="question-guideline-title"><%= question_guideline_title %></div>
        <div class="question-description"><%= question_description %></div>
      </div>
      <div class="available-tokens-info"><%= available_tokens_info %></div>
      <div class="available-tokens-container">
        <div class="available-tokens"></div>
      </div>
    </div>
    <div class="votables-collection"></div>
  </div>
  <div class="submit-button-container">
    <a class="btn btn-sm btn-primary"><%= save_vote %></a>
  </div>
</div>
