<table>
  <thead>
    <tr>
      <th>{{gettext("Ideas")}}</th>
      <% _.each(categories, function(category){ %>
        <th class='js_vote-result-category vote-category'>
          <span><%= category %></span>
          <span><i></i></span>
        </th>
      <% }); %>
    </tr> 
  </thead>
  <tbody></tbody>
</table>
