<div class="popin-header">
  <a href="#" class="close"><i class="icon-delete"></i></a>
  <h3 class="h3"><%= popin_title %></h3>
</div>
<div class="popin-body">
  <div class="token-vote-session">
    <div class="question-info">
      <div class="question-title"><%= question_title %></div>
      <div class="question-description"><%= question_description %></div>
    </div>
    <div class="available-tokens"></div>
    <div class="votables-collection"></div>
  </div>
  <div class="submit-button-container">
    <a class="btn btn-sm btn-primary" onclick="alert('Your vote has been saved successfully.');">Save your vote</a>
  </div>
</div>
