<div class='left-column vote-result mbxs'>
    <div class='idea-title'><%= ideaTitle %></div>
    <div class='mtxs'>
        <div class='js_region-idea-description idea-description'></div>
        <% if (showDescriptionButton) { %>
            <div class='dropdown js_see-idea-description idea-description'>
                <a href="#" class='dropdown-toggle js_description-button' aria-expanded='false'><%= descriptionButton %></a>
                <i class='icon-arrowdown'></i>
            </div>
        <% } %>
    </div>
</div>
<% _.each(categoryResult, function(result){ %>
<div class='token-vote-result-category-column right-column'></div>
<% }); %>
