<img id='test-css-color' class="hidden">
<div class='left-column vote-result'>
    <div class='idea-title'><%= ideaTitle %></div>
    <div class='mts js_region-idea-description idea-description'></div>
</div>
<% _.each(categoryResult, function(result){ %>
<div class='token-vote-result-category-column right-column'></div>
<% }); %>
