<div class="gr">
  <div class="gu gu-1of5 navigation-menu-holder">
  </div>
  <div class="gu gu-3of4 admin-section">
    <div class="loader-wrapper">
      <div class="is-loading"></div>
    </div>
  </div>
</div>
