<div class="gr mtl">
	<div id="account-content" class="gu gu-1of1">
		<form class="core-form form-horizontal" id="account-form">
				<fieldset class="phl">

					<div class="control-group">
						<label for="name" class="control-label">{{ gettext('Username') }}</label>
						<div class="controls">
							<input type="text" class="input-xlarge" name="username" value="<%= user.get('username') %>">
							<p class="help-block">{{ gettext('You can set a username as an alternate way to login.') }}</p>
						</div>
					</div>

					<div class="control-group">
						<label for="name" class="control-label">{{ gettext('New password') }}</label>
						<div class="controls">
							<input type="password" class="input-xlarge" name="new_password">
							<span class="help-inline">
								<p class="control-error">{{ gettext('password 1 and 2 should be identical') }}</p>
							</span>
						</div>
					</div>

					<div class="control-group">
						<label for="name" class="control-label">{{ gettext('Confirm password') }}</label>
						<div class="controls">
							<input type="password" class="input-xlarge" name="confirm_password">
							<span class="help-inline">
								<p class="control-error">{{ gettext('password 1 and 2 should be identical') }}</p>
							</span>
						</div>
					</div>

					</fieldset>
					<div class="form-actions fr">
						<button class="btn btn-primary fr js_saveAccount" type="submit">{{ gettext('Save changes') }}</button>
						<a href="<%= urlDiscussion() %>" class="btn btn-cancel btn-sm fr mrxl">{{ gettext('Return to the discussion') }}</a>
					</div>
			</form>
	</div>
</div>