<form class="core-form form-horizontal">
	<fieldset>
		<div class="control-group">
			<div class="col-4-12 mobile-col-1-1 no-pad">
				<label for="input01" class="control-label">{{ gettext('Subscription settings') }}</label>
			</div>
			<div class="col-8-12 mobile-col-1-1 no-pad controls">
				<% if(role) { %>
				<div class="btnSubscription">
					<div class="col-4-12 mobile-col-1-1 no-pad">
						<span style="line-height:28px"><i class="icon-checkbox"></i>{{ gettext('subscribed') }}</span>
					</div>
					<div class="col-4-12 mobile-col-1-1 no-pad">
						<a class="btn btn-cancel js_unSubscription">{{ gettext('Unsubscribe') }}</a>
					</div>
				</div>
				<% } else { %>
				<div class="btnUnsubscription">
					<div class="col-4-12 mobile-col-1-1 no-pad">
						<span style="line-height:28px">{{ gettext('unsubscribed') }}</span>
					</div>
					<div class="col-4-12 mobile-col-1-1 no-pad">
						<a class="btn btn-primary js_subscription">{{ gettext('Join this discussion') }}</a>
					</div>
				</div>
				<% } %>
			</div>
		</div>
	</fieldset>
</form>