<h2 class="h2">Notifications</h2>

<% notifications %>
<form class="core-form form-horizontal">
  <fieldset>

    <% _.each(notifications, function(notification, index, list){ %>

      <div class="control-group mts">
        <label for="optionsCheckbox" class="control-label"></label>
        <div class="controls">
          <label class="checkbox">
            <input type="checkbox" class="enableOption" value="<%= notification.get('@type') %>" <%= notification.get('status') === 'ACTIVE' ? 'checked':'' %> id="optionsCheckbox">
            <%= notification.get('@type') %>
          </label>
        </div>
      </div>

    <% }) %>

  </fieldset>
</form>