<div class="gr">
  <div class="gu gu-1of5">
    <nav class="sidebar-nav">
        <ul class="man pan adminMenu">
          <li>
            <a href="#user/profile" class="menu">{{ gettext('Modify your profile') }}</a>
          </li>
          <li class="active">
						<a href="#user/account" class="menu">{{ gettext('Account settings') }}</a>
					</li>
          <li>
            <a href="#user/notifications" class="menu">{{ gettext('Notifications') }}</a>
          </li>
          <li class="mtxl">
            <a href="/{{ discussion.slug }}/">{{ gettext('back to discussion') }}</a>
          </li>
        </ul>
    </nav>
  </div>
  <div class="gu gu-3of4 admin-section">
    <div class="admin-title">
      <h3 class="h3">{{ gettext('Manage associated accounts') }}</h3>
    </div>
    <div id="content-container" class="content-container">
      <div class="bx bx-alert-success hidden">
				<button class="btn btn-cancel btn-xs bx-close" type="button">
					<i class="icon-delete"></i>
				</button>
				{{ gettext("Your settings were saved") }}
			</div>
      <div class="gr mtl">
        <div id="account-content" class="gu gu-1of1 phl">

          <div id="associate_account"></div>

          <form class="core-form form-horizontal">
            <div class="control-group">
							<label for="optionsCheckboxList" class="control-label">{{ gettext('Associated accounts') }}</label>
							<div class="controls">
								<label class="checkbox">
									<input type="checkbox" value="option1" name="optionsCheckboxList1">
									Option one is this and that - be sure to include why it's great
								</label>
								<label class="checkbox">
									<input type="checkbox" value="option2" name="optionsCheckboxList2">
									Option two can also be checked and included in form results
								</label>
								<label class="checkbox">
									<input type="checkbox" value="option3" name="optionsCheckboxList3">
									Option three can - yes, you guessed it - also be checked and included in form results
								</label>
							</div>
						</div>
          </form>

          <form class="core-form form-horizontal">
						<div class="control-group">
							<label for="optionsCheckboxList" class="control-label">{{ gettext('Add external account to login via social networks') }}</label>
							<div class="controls">
								<a href="#" class="fb-bg mbs">sign in with facebook</a>
                <a href="#" class="twi-bg mbs">sign in with twitter</a>
                <a href="#" class="g-bg mbs">sign in with google+</a>
							</div>
						</div>
					</form>

					<form class="core-form form-horizontal">
						<div class="control-group">
							<label for="optionsCheckboxList" class="control-label">{{ gettext('Add another email') }}</label>
							<div class="controls">
                 <input type="text" id="input01" class="input-xlarge">
                 <button class="btn btn-primary">{{ gettext('valid') }}</button>
							</div>
						</div>
					</form>

        </div>
      </div>
    </div>
  </div>
</div>