<h2 class="h2">Discucssion Notifications</h2>
<form class="core-form form-horizontal">
  <fieldset>
    <% _.each(DiscussionPush, function(notification, index, list){ %>

      <div class="control-group mts">
        <label for="optionsCheckbox" class="control-label"></label>
        <div class="controls">
          <label class="checkbox">
            <input type="checkbox" class="enableOption" value="<%= notification.get('@type') %>" <%= notification.get('status') === 'ACTIVE' ? 'checked':'' %> id="optionsCheckbox">
            <%= notification.get('@type') %>
          </label>
        </div>
      </div>

    <% }) %>
  </fieldset>
</form>

<h2 class="h2">User Notifications</h2>
<form class="core-form form-horizontal">
  <fieldset>
    <% _.each(UserPush, function(notification, index, list){ %>

      <div class="control-group mts">
        <label for="optionsCheckbox" class="control-label"></label>
        <div class="controls">
          <label class="checkbox">
            <input type="checkbox" class="enableOption" value="<%= notification.get('@type') %>" <%= notification.get('status') === 'ACTIVE' ? 'checked':'' %> id="optionsCheckbox">
            <%= notification.get('@type') %>
          </label>
        </div>
      </div>

    <% }) %>
  </fieldset>
</form>