<div class="gr">
  <div class="gu gu-1of5">
    <nav class="sidebar-nav">
        <ul class="man pan adminMenu">
          <li class="active">
            <a href="#user/profile" class="menu">{{ gettext('profile') }}</a>
          </li>
          <li>
						<a href="#user/account" class="menu">{{ gettext('account') }}</a>
					</li>
          <li>
            <a href="#user/notifications" class="menu">{{ gettext('notifications') }}</a>
          </li>
          <li class="mtxl">
            <a href="/{{ discussion.slug }}/">{{ gettext('back to discussion') }}</a>
          </li>
        </ul>
    </nav>
  </div>
  <div class="gu gu-3of4 admin-section">
    <div class="admin-title">
      <h3 class="h3">Profile</h3>
    </div>
    <div id="content-container" class="content-container">
      <div class="bx bx-alert-success hidden">
				<button class="btn btn-cancel btn-xs bx-close" type="button">
					<i class="icon-delete"></i>
				</button>
				{{ gettext("Your settings were saved") }}
			</div>
      <div class="gr">
        <div class="gu gu-1of1">
          <form class="core-form form-horizontal" id="profile-form">
            <fieldset>
							<div class="control-group fr">
								<label for="name" class="control-label fl">{{ gettext('Name') }}</label>
								<div class="controls fl">
										<input class="input-xxlarge" type="text" name="name" placeholder="{{ gettext('Your name') }}" value="<%= profile.get('name') %>" />
								</div>
							</div>

              <div class="control-group fr mbxl">
                <label for="username" class="control-label fl">{{ gettext('Username') }}</label>
                <div class="controls fl">
                    <input class="input-xxlarge" type="text" name="username" placeholder="{{ gettext('Desired username') }}" value="<%= profile.get('username') %>" />
                </div>
              </div>

              <div class="control-group fr mbxl">
								<label for="description" class="control-label fl">{{ gettext('description') }}</label>
								<div class="controls fl">
								  <textarea rows="5" id="textarea" class="input-xxlarge" name="description" placeholder="{{ gettext('description') }}" value=""></textarea>
								</div>
							</div>

            </fieldset>

						<div class="form-actions pan fl">
							<button class="btn btn-secondary js_saveProfile" type="submit">{{ gettext('save the changes') }}</button>
						</div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>