<div id="account-content">
	<form class="core-form form-horizontal" id="account-form">
		<fieldset>
			<div class="control-group">
				<div class="col-4-12 no-pad">
					<label for="name" class="control-label">{{ gettext('Username') }}</label>
				</div>
				<div class="col-8-12 no-pad controls">
					<input type="text" name="username" value="<%= user.get('username') %>">
					<p class="help-admin">{{ gettext('You can set a username as an alternate way to login.') }}</p>
				</div>
			</div>
			<div class="control-group">
				<div class="col-4-12 no-pad">
					<label for="name" class="control-label">{{ gettext('New password') }}</label>
				</div>
				<div class="col-8-12 no-pad controls">
					<input type="password" name="new_password">
					<span class="help-inline">
						<p class="control-error">{{ gettext('password 1 and 2 should be identical') }}</p>
					</span>
				</div>
			</div>
			<div class="control-group">
				<div class="col-4-12 no-pad">
					<label for="name" class="control-label">{{ gettext('Confirm password') }}</label>
				</div>
				<div class="col-8-12 no-pad controls">
					<input type="password" name="confirm_password">
					<span class="help-inline">
						<p class="control-error">{{ gettext('password 1 and 2 should be identical') }}</p>
					</span>
				</div>
			</div>
            {% if preferences['require_email_domain'] %}
            <div class="controls">
            <p class="help-block">{{ gettext("You can set your profile picture with the <a href='http://en.gravatar.com/'>gravatar</a> service.") |safe }}</p>
            </div>
            {% endif %}
		</fieldset>
		<div class="form-actions">
			<button class="btn btn-primary fr js_saveAccount" type="submit">{{ gettext('Save changes') }}</button>
			<a href="{{ get_route('home') }}" class="btn btn-cancel btn-sm fr mrxl">{{ gettext('Return to the discussion') }}</a>
		</div>
	</form>
</div>
