<div class="popin-header">
    <a href="#" class="close"><i class="icon-delete"></i></a>
    <h3 class="h3">{{ gettext('Inspire me!') }}</h3>
</div>

<div class="popin-body">
  <iframe src="<%= iframe_url %>" width="470" height="500" frameborder="0"></iframe>
</div>

<div class="popin-footer">
</div>
