<div style="margin:0.8ex">
<p class="txt-gray2"><%= description %></p>
<div class="tac">
    <button class="btn btn-sm <%= classes %>" data-href="<%= link %>" type="submit" style="margin:0.6ex"><%= button_text %></button>
<% if (until_text) { %>
<p class="txt-gray1""><%= until_text %></p>
<% } %>
</div>
</div>