<p class="txt-gray2"><%= description %></p>
<div class="centerSection">
    <button class="btn btn-sm <%= classes %>" data-href="<%= link %>" type="submit"><%= button_text %></button>
</div>
<% if (until_text) { %>
<p class="txt-gray1"><%= until_text %></p>
<% } %>
