.tag-container {
  border-top: solid 1px $light-grey;
  color: $grey;
  font-family: $font-family4;
  padding-bottom: 5px;
  padding-top: 5px;

  .title {
    font-size: 1rem;
  }

  .tag-list {
    span {
      display: inline-block;
      font-size: 1rem;
      letter-spacing: normal;
      margin-right: 15px;

      &::first-letter {
        text-transform: uppercase;
      }
    }
  }
}
