<div class="sg-description">
    A fancy checkbox
</div>

<br />

<label class="chk">
    <input type="checkbox" class="chk-checkbox" />
    
    <span class="chk-label"> </span>
</label>

.chk

<div class="spacer"></div>

<label class="chk chk--muted">
    <input type="checkbox" class="chk-checkbox" />
    
    <span class="chk-label"></span>
</label>

.chk.chk--muted
