<div class="sg-description">
    The famous contextmenu
</div>


<div class="contextmenu" style="position: static">
    
    <a class="contextmenu-item">Item 1</a>
    <a class="contextmenu-item">Item with long description</a>
    <a class="contextmenu-item is-hovered">Item with hover state</a>

</div>