<div style="height: 250px;">

    <div class="dropdown">
        <span class="dropdown-label">How about a magic trick?</span>
        <ul class="dropdown-list">
            <li class="dropdown-listitem">Item 1</li>
            <li class="dropdown-listitem">Item 2</li>
            <li class="dropdown-listitem">Item 3</li>
        </ul>
    </div>

    <div class="spacer"></div>

    <h3>Dropdown button</h3>
    
    <div class="dropdown dropdown--button">
        <span class="dropdown-label">
            .dropdown.dropdown--button
        </span>
        <ul class="dropdown-list">
            <li class="dropdown-listitem">Item 1</li>
            <li class="dropdown-listitem">Item 2</li>
            <li class="dropdown-listitem">Item 3</li>
        </ul>
    </div>


    <div class="dropdown dropdown--button">
        <span class="dropdown-label">
            <input type="checkbox" />
        </span>
        <ul class="dropdown-list">
            <li class="dropdown-listitem">Item 1</li>
            <li class="dropdown-listitem">Item 2</li>
            <li class="dropdown-listitem">Item 3</li>
        </ul>
    </div>


    <div class="dropdown dropdown--button">
        <span class="dropdown-label">
            <label class="chk chk--dropdown chk--muted">
                <input type="checkbox" class="chk-checkbox" />
                
                <span class="chk-label"></span>
            </label>
        </span>
        
        <ul class="dropdown-list">
            <li class="dropdown-listitem">Item 1</li>
            <li class="dropdown-listitem">Item 2</li>
            <li class="dropdown-listitem">Item 3</li>
        </ul>
    </div>

</div>
