<div class="panel panel-default session-admin">
    <div class="panel-body panel-admin">

    <div id="step_get_data" ng-show="current_step == 1">
        <p>{{'gettingDataFromServer' | translate}}</p>
    </div>

    <div id="step_create_widget" ng-show="current_step == 2">
       <h4 translate="CREATE.create_from_idea_title" translate-values="{ idea: idea.shortTitle }"></h4>

       <p>{{'CREATE.helper' | translate}}</p>

        <a ng-init="showComments=false" ng-click="showComments = !showComments">{{'CREATE.see_more_detail' | translate}}</a>
        <div>
            <form class="form-horizontal" method="POST">
                <div ng-show="showComments">
                    <div class="form-group">
                        <label for="widget_endpoint" class="col-sm-2 control-label">{{'widgetCreationEndpoint' | translate}}</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="widget_endpoint" size="50" ng-model="widget.widget_collection_url">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="widget_type" class="col-sm-2 control-label">{{'widgetType' | translate}}</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="widget_type" size="50" ng-model="widget.type">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="widget_idea" class="col-sm-2 control-label">{{'associatedIdea' | translate}}</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="widget_idea" size="50" ng-model="widget.idea">
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-default btn-purple pull-right" ng-click="createSessionWidget(widget)">{{'CREATE.create' | translate}}</button>
            </form>
        </div>

    </div>

    <div class="step_select_criteria" ng-show="current_step == 3">
        <div class="text-center success-steps-3"><i class="fa fa-check-circle fa-5"></i></div>
        <div class="text-center"><h1>{{'Your widget has been created successfully' | translate}}</h1></div>

        <p>
            {{'Configure your widget' | translate}}
            <a ui-sref="session.admin({config: created_widget_uri })">{{'here' | translate}}</a>
        </p>

        <p>
            {{'adminConfigureInstanceCurrentUse' | translate}}
            <a href="?config={{ created_widget_uri }}&target={{ idea['@id'] }}" rel="noopener noreferrer" target="_blank">{{'adminConfigureInstanceCurrentUseHere' | translate}}</a>.
        </p>
    </div>

    </div>
</div>
