_extends = base_env.rc
public_hostname = localhost
ini_files = production.ini no_sentry.ini develop_overlay.ini RANDOM:random.ini.tmpl RC_DATA
# ZMQ model changes local socket (backend will connect to this)
# UNIQUE_PER_SERVER
# Convention:
# /0 - /3: reserved for development
# /4: reserved for automated testing
# /5 - /12: production
redis_socket = 0
# Change this to the port visible from the outside
# Typically 80 for prod, 6543 for dev
# In dev, will often match server:main__port unless proxying
public_port = 6543
# Other public_port values
# public_port = 9991
# public_port = 8080

_requirement_inputs = requirements.in requirements-chrouter.in requirements-dev.in requirements-doc.in requirements-tests.in
frozen_requirements = requirements-dev.frozen.txt
_build_docs = false
_can_test = true
accept_secure_connection = false
require_secure_connection = false

# If not proxied by nginx or something, public_port in app:main needs to match
# this value
# UNIQUE_PER_SERVER
# Default port is 6543.
# Convention:
# 6543 thru 6545: reserved for development
# 6546 thru 6547: reserved for automated testing
# 6548-: production
server:main__port = 6543
web_analytics_piwik_url=
web_analytics_piwik_script=
# The port to use for the websocket (client frontends will connect to this)
# In prod, your firewall needs to allow this through or proxy it through nginx
# UNIQUE_PER_SERVER
# Convention:
# 8085 thru 8087: reserved for development
# 8088 thru 8089: reserved for automated testing
# 8090-: production
changes_websocket_port = 8085
# ZMQ model changes local socket (backend will connect to this)
# UNIQUE_PER_SERVER
# Convention:
# /0 thru /2: reserved for development
# /3 thru /4: reserved for automated testing
# /5-: production
changes_socket = ipc:///tmp/assembl_changes/0
env.wsginame = dev.wsgi
_gitbranch = develop
supervisor__autostart_celery_notify_beat = false
supervisor__autostart_webpack = true
supervisor__autostart_uwsgi = false
supervisor__autostart_source_reader = false
_uses_nginx = false
_uses_uwsgi = false
_uses_bluenove_actionable = false
_is_production_env = false
_wsginame = dev.wsgi
celery_tasks.num_workers = 3
use_letsencrypt = false

# If you want to see emails, run this in another console:
# python -m smtpd -n -c DebuggingServer
mail.port = 8025
mail.host = localhost

disable_notification = true
visible_errors = true
