<!doctype html>
<html lang="en" class="no-js">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

  
    <!-- CSS reset <link rel="stylesheet" href="css/reset.css"> -->
    <!-- Resource style <link rel="stylesheet" href="css/style-guide.css"> -->

    <link rel="stylesheet" href="/static/css/themes/{{theme_relative_path}}/reset.css">
    <link type="text/css" rel="stylesheet" href="/static/css/themes/{{theme_relative_path}}/assembl_web.css" />

    <script src="{{ STATIC_URL }}/js/bower/modernizr/modernizr.js"></script> <!-- Modernizr -->

    <title>Style Guide | CodyHouse</title>
</head>
<body class="assembl_styleguide">
<header class="sg-header">
    <div class="cd-logo"><img src="http://www.assembl.org/newsite/wp-content/uploads/2015/01/logo_Assembl_2014-300x68.png" alt="Logo" width="100"></div>

    <nav>
        <ul class="cd-main-nav">
            <li><a href="#typography">Typography</a></li>
            <li><a href="#colors">Colors</a></li>
            <li><a href="#boxes">Boxes</a></li>
            <li><a href="#forms">Forms</a></li>
            <li><a href="#buttons">Buttons</a></li>
            <li><a href="#dialogs">Dialogs</a></li>
            <li><a href="#icons">Icons</a></li>
            <li><a href="#components">Components</a></li>
        </ul> <!-- cd-main-nav -->
    </nav>

    <a href="assets/assets-download-file.zip" class="cd-download"><span>Download assets</span></a>
    <a href="#0" class="cd-nav-trigger">Menu<span></span></a>
</header>

<main>
    <h1>Style Guide 1.0</h1>

    {% for name, path in styleguide_views.items() %}
        {% include path %}
    {% endfor %}

    <!--<section id="branding" class="cd-branding">
        <h2>Branding</h2>

        <ul>
            <li class="cd-box"><img src="assets/branding/logo-ver-1.jpg" alt="Logo version 1"></li>
            <li class="cd-box"><img src="assets/branding/logo-ver-2.jpg" alt="Logo version 2"></li>
        </ul>

        <ul>
            <li><img src="assets/branding/touch-icon-1.jpg" alt="Touch Icon 1"></li>
            <li><img src="assets/branding/touch-icon-2.jpg" alt="Touch Icon 2"></li>
            <li><img src="assets/branding/favicon-1.jpg" alt="Favicon 1"></li>
            <li><img src="assets/branding/favicon-2.jpg" alt="Favicon 2"></li>
        </ul>
    </section>

    <section id="colors" class="cd-colors">
        <h2>Colors</h2>

        <ul>
            <li class="cd-box">
                <div class="cd-color-swatch"></div>
            </li>

            <li class="cd-box">
                <div class="cd-color-swatch"></div>
            </li>

            <li class="cd-box">
                <div class="cd-color-swatch"></div>
            </li>

            <li class="cd-box">
                <div class="cd-color-swatch"></div>
            </li>

            <li class="cd-box">
                <div class="cd-color-swatch"></div>
            </li>
        </ul>
    </section>

    <section id="buttons" class="cd-buttons">
        <h2>Buttons</h2>

        <div class="cd-box">
            <button class="btn">Normal</button>
            <button class="btn btn-success">Success</button>
            <button class="btn btn-alert">Alert</button>
            <button class="btn btn-outline">Outline</button>
        </div>

    </section>

    <section id="icons" class="cd-icons">
        <h2>Icons</h2>

        <ul class="cd-box">
            <li class="cd-icon-1"></li>
            <li class="cd-icon-2"></li>
            <li class="cd-icon-3"></li>
            <li class="cd-icon-4"></li>
            <li class="cd-icon-5"></li>
            <li class="cd-icon-6"></li>
            <li class="cd-icon-7"></li>
            <li class="cd-icon-8"></li>
        </ul>
    </section>

    <section id="form" class="cd-form">
        <h2>Form</h2>

        <div class="cd-box">
            <form>
                <fieldset>
                    <input type="text">
                    <input class="success" type="text">
                    <input class="alert" type="text">
                </fieldset>

                <fieldset>
                    <div class="cd-input-wrapper">
                        <input type="radio" name="radioButton" id="radio1">
                        <label class="radio-label" for="radio1">Choice 1</label>
                    </div>

                    <div class="cd-input-wrapper">
                        <input type="checkbox" id="checkbox1">
                        <label class="checkbox-label" for="checkbox1">Option 1</label>
                    </div>

                    <div class="cd-input-wrapper cd-select">
                        <select name="select-this" id="select-this">
                            <option value="0">Select</option>
                            <option value="1">Option 1</option>
                            <option value="2">Option 2</option>
                            <option value="2">Option 3</option>
                        </select>
                    </div>
                </fieldset>
            </form>
        </div>
    </section>-->
</main>

{% block main_js %}
<script src="{{ STATIC_URL }}/js/bower/jquery/dist/jquery.min.js"></script>
<script src="{{ STATIC_URL }}/js/lib/styleguide.js"></script>
{% endblock main_js %}
</body>
</html>
