{% extends 'base.jinja2' %}

{% block title %}Assembl UI{% endblock %}

{% block content %}

    {# todo: add feature detection #}

    {% for name, path in styleguide_views.items() %}
        <div class="sg-section container">
            <div class="row">
                <div class="col-2">
                    <h2 class="sg-title h2">{{name}}</h2>
                </div>
                <div class="col-9">
                    {% include path %}
                </div>
            </div>
        </div>
    {% endfor %}


<script>
document.body.classList.remove('preload');
</script>

{% block main_js %}
    <script data-main="{{ STATIC_URL }}/js/styleguide.js" src="{{ STATIC_URL }}/js/bower/requirejs/require.js"></script>
{% endblock main_js %}


{% endblock %}
