{% extends 'base.jinja2' %}

{% block title %}Styleguide for Assebl{% endblock %}


{% block content %}

    {# todo: add feature detection #}

    {% for view in styleguide_views %}
        <div class="container">
            {% include view %}
        </div>
    {% endfor %}

{% endblock %}
