<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
   <title>{% block title %}Assembl UI{% endblock %}</title>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="icon" href="/static/img/icon/favicon.ico" type="image/x-icon">
    <link type="text/css" rel="stylesheet" href="/static/css/themes/{{theme_relative_path}}/assembl_web.css" />

    {% block extra_css %}{% endblock extra_css %}
</head>
<body class="sg-body">

<aside class="sg-sidebar gu gu-1of5">
    <h1 class="logo tac pas h1">Assembl UI</h1>
    <nav class="sg-sidebar-nav plm">
      {% for name, path in styleguide_views.items() %}
        <h2 class="h3 sg-title"><a href="#{{name}}">{{name | title}}</a></h2>
      {% endfor %}
    </nav>
</aside>

<main class="sg-main">
  <div class="fluid-container">
   {% for name, path in styleguide_views.items() %}
    <div id="{{name}}" class="sg-section phxl">
      <h1 class="h1 sg-section-title mbl">{{name}}</h1>
      {% include path %}
    </div>
   {% endfor %}
  </div>
</main>

{% block main_js %}
    <script src="{{ STATIC_URL }}/js/bower/jquery/dist/jquery.min.js"></script>
    <script src="{{ STATIC_URL }}/js/lib/styleguide.js"></script>
{% endblock main_js %}
{% include 'includes/javascript.jinja2' %}
</body>
</html>
