<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
    <title>Assembl Styleguide</title>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="icon" href="/static/img/icon/favicon.ico" type="image/x-icon">

</head>
<body>
New Assmebl Styleguide. You must edit this template file and add css. #replaceme
</body>
</html>